USE [OperationsManagerDW]
GO
/****** Object:  View [Alert].[vAlertParameter]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Alert].[vAlertParameter] AS SELECT
       AlertGuid
      ,ParameterIndex
      ,ParameterValue
    FROM [Alert].[AlertParameter_520A797BC101471EBA19F41BAD98FECF] (NOLOCK) 
GO
