USE [OperationsManagerDW]
GO
/****** Object:  Table [Alert].[AlertStage2Process]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Alert].[AlertStage2Process](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[ManagementGroupGuid] [uniqueidentifier] NOT NULL,
	[AlertGuid] [uniqueidentifier] NOT NULL,
	[AlertProblemGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[AlertName] [nvarchar](256) NOT NULL,
	[AlertDescription] [nvarchar](max) NULL,
	[Severity] [tinyint] NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[Category] [nvarchar](256) NOT NULL,
	[MonitorAlertInd] [bit] NOT NULL,
	[WorkflowGuid] [uniqueidentifier] NOT NULL,
	[RaisedDateTime] [datetime] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[ResolutionState] [tinyint] NOT NULL,
	[Owner] [nvarchar](256) NULL,
	[TicketId] [nvarchar](256) NULL,
	[CustomField1] [nvarchar](256) NULL,
	[CustomField2] [nvarchar](256) NULL,
	[CustomField3] [nvarchar](256) NULL,
	[CustomField4] [nvarchar](256) NULL,
	[CustomField5] [nvarchar](256) NULL,
	[CustomField6] [nvarchar](256) NULL,
	[CustomField7] [nvarchar](256) NULL,
	[CustomField8] [nvarchar](256) NULL,
	[CustomField9] [nvarchar](256) NULL,
	[CustomField10] [nvarchar](256) NULL,
	[SiteName] [nvarchar](256) NULL,
	[AlertParams] [xml] NULL,
	[ParameterHash] [uniqueidentifier] NULL,
	[RepeatCount] [int] NOT NULL,
	[AlertStringGuid] [uniqueidentifier] NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DBLastModifiedByUserId] [nvarchar](256) NULL,
	[TfsWorkItemId] [nvarchar](256) NULL,
	[TfsWorkItemOwner] [nvarchar](256) NULL,
	[AlertStageRowId] [int] NOT NULL,
	[AlertRowId] [int] NULL,
	[TableGuid] [uniqueidentifier] NULL,
	[ManagedEntityRowId] [int] NULL,
	[WorkflowRowId] [int] NULL,
	[DWCreatedDateTime] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
