USE [OperationsManagerDW]
GO
/****** Object:  Table [Alert].[AlertParameter_520A797BC101471EBA19F41BAD98FECF]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Alert].[AlertParameter_520A797BC101471EBA19F41BAD98FECF](
	[AlertParameterRowId] [int] IDENTITY(1,1) NOT NULL,
	[AlertGuid] [uniqueidentifier] NOT NULL,
	[ParameterIndex] [tinyint] NOT NULL,
	[ParameterValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AlertParameter_520A797BC101471EBA19F41BAD98FECF] PRIMARY KEY CLUSTERED 
(
	[AlertParameterRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
