USE [OperationsManagerDW]
GO
/****** Object:  Table [Alert].[AlertDetail_520A797BC101471EBA19F41BAD98FECF]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Alert].[AlertDetail_520A797BC101471EBA19F41BAD98FECF](
	[AlertDetailRowId] [int] IDENTITY(1,1) NOT NULL,
	[AlertGuid] [uniqueidentifier] NOT NULL,
	[Owner] [nvarchar](256) NULL,
	[TicketId] [nvarchar](256) NULL,
	[CustomField1] [nvarchar](256) NULL,
	[CustomField2] [nvarchar](256) NULL,
	[CustomField3] [nvarchar](256) NULL,
	[CustomField4] [nvarchar](256) NULL,
	[CustomField5] [nvarchar](256) NULL,
	[CustomField6] [nvarchar](256) NULL,
	[CustomField7] [nvarchar](256) NULL,
	[CustomField8] [nvarchar](256) NULL,
	[CustomField9] [nvarchar](256) NULL,
	[CustomField10] [nvarchar](256) NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DBLastModifiedByUserId] [nvarchar](256) NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[TfsWorkItemId] [nvarchar](256) NULL,
	[TfsWorkItemOwner] [nvarchar](256) NULL,
 CONSTRAINT [PK_AlertDetail_520A797BC101471EBA19F41BAD98FECF] PRIMARY KEY CLUSTERED 
(
	[AlertDetailRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Alert].[AlertDetail_520A797BC101471EBA19F41BAD98FECF] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
