USE [OperationsManagerDW]
GO
/****** Object:  View [Alert].[vAlertDetail]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Alert].[vAlertDetail] AS SELECT
       AlertGuid
      ,Owner
      ,TicketId
      ,CustomField1
      ,CustomField2
      ,CustomField3
      ,CustomField4
      ,CustomField5
      ,CustomField6
      ,CustomField7
      ,CustomField8
      ,CustomField9
      ,CustomField10
      ,DBLastModifiedDateTime
      ,DBLastModifiedByUserId
      ,DWCreatedDateTime
      ,TfsWorkItemId
      ,TfsWorkItemOwner
    FROM [Alert].[AlertDetail_520A797BC101471EBA19F41BAD98FECF] (NOLOCK) 
GO
