USE [OperationsManagerDW]
GO
/****** Object:  View [Alert].[vAlert]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Alert].[vAlert] AS SELECT
       AlertGuid
      ,AlertProblemGuid
      ,AlertName
      ,AlertDescription
      ,Severity
      ,Priority
      ,Category
      ,ManagedEntityRowId
      ,WorkflowRowId
      ,MonitorAlertInd
      ,RaisedDateTime
      ,SiteName
      ,RepeatCount
      ,AlertStringGuid
      ,ParameterHash
      ,DBCreatedDateTime
      ,DWCreatedDateTime
      ,DWLastModifiedDateTime
    FROM [Alert].[Alert_520A797BC101471EBA19F41BAD98FECF] (NOLOCK) 
GO
