USE [OperationsManagerDW]
GO
/****** Object:  View [Alert].[vAlertResolutionState]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Alert].[vAlertResolutionState] AS SELECT
       AlertGuid
      ,ResolutionState
      ,TimeInStateSeconds
      ,TimeFromRaisedSeconds
      ,StateSetDateTime
      ,StateSetByUserId
      ,DWCreatedDateTime
    FROM [Alert].[AlertResolutionState_520A797BC101471EBA19F41BAD98FECF] (NOLOCK) 
GO
