USE [OperationsManagerDW]
GO
/****** Object:  Table [Alert].[AlertResolutionState_520A797BC101471EBA19F41BAD98FECF]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Alert].[AlertResolutionState_520A797BC101471EBA19F41BAD98FECF](
	[AlertResolutionStateRowId] [int] IDENTITY(1,1) NOT NULL,
	[AlertGuid] [uniqueidentifier] NOT NULL,
	[ResolutionState] [tinyint] NOT NULL,
	[TimeInStateSeconds] [int] NOT NULL,
	[TimeFromRaisedSeconds] [int] NOT NULL,
	[StateSetDateTime] [datetime] NOT NULL,
	[StateSetByUserId] [nvarchar](256) NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AlertResolutionState_520A797BC101471EBA19F41BAD98FECF] PRIMARY KEY CLUSTERED 
(
	[AlertResolutionStateRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Alert].[AlertResolutionState_520A797BC101471EBA19F41BAD98FECF] ADD  DEFAULT ((-1)) FOR [TimeInStateSeconds]
GO
ALTER TABLE [Alert].[AlertResolutionState_520A797BC101471EBA19F41BAD98FECF] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
