USE [OperationsManagerDW]
GO
/****** Object:  Table [Alert].[Alert_520A797BC101471EBA19F41BAD98FECF]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Alert].[Alert_520A797BC101471EBA19F41BAD98FECF](
	[AlertRowId] [int] IDENTITY(1,1) NOT NULL,
	[AlertGuid] [uniqueidentifier] NOT NULL,
	[AlertProblemGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[AlertName] [nvarchar](256) NOT NULL,
	[AlertDescription] [nvarchar](max) NULL,
	[Severity] [tinyint] NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[Category] [nvarchar](256) NOT NULL,
	[WorkflowRowId] [int] NULL,
	[MonitorAlertInd] [bit] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[RaisedDateTime]  AS ([DateTime]),
	[SiteName] [nvarchar](256) NULL,
	[RepeatCount] [int] NOT NULL,
	[AlertStringGuid] [uniqueidentifier] NULL,
	[ParameterHash] [uniqueidentifier] NULL,
	[DBCreatedDateTime] [datetime] NOT NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Alert_520A797BC101471EBA19F41BAD98FECF] PRIMARY KEY CLUSTERED 
(
	[AlertRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Alert].[Alert_520A797BC101471EBA19F41BAD98FECF] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [Alert].[Alert_520A797BC101471EBA19F41BAD98FECF] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
