USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[PERFDAILY]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PERFDAILY](
	[PERFDAILYID] [bigint] IDENTITY(1,1) NOT NULL,
	[PCTYPEID] [int] NOT NULL,
	[MACHINEID] [int] NOT NULL,
	[SOURCEID] [int] NULL,
	[PCPROCESSID] [int] NULL,
	[IS_STATE] [int] NULL,
	[UTCDATE] [datetime] NOT NULL,
	[SUMVALUE] [decimal](18, 4) NOT NULL,
	[AVERAGEVALUE] [decimal](18, 4) NOT NULL,
	[SAMPLECOUNT] [int] NOT NULL,
	[MINVALUE] [decimal](18, 4) NOT NULL,
	[MAXVALUE] [decimal](18, 4) NOT NULL,
	[PACKAGECOUNTER] [int] NOT NULL,
 CONSTRAINT [PK_PERFDAILY] PRIMARY KEY NONCLUSTERED 
(
	[PERFDAILYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PERFDAILY]  WITH CHECK ADD  CONSTRAINT [FK_PERFDAIL_REFERENCE_PCPROCES] FOREIGN KEY([PCPROCESSID])
REFERENCES [apm].[PCPROCESS] ([PCPROCESSID])
GO
ALTER TABLE [apm].[PERFDAILY] CHECK CONSTRAINT [FK_PERFDAIL_REFERENCE_PCPROCES]
GO
ALTER TABLE [apm].[PERFDAILY]  WITH CHECK ADD  CONSTRAINT [FK_PERFDAYLY_MACHINE] FOREIGN KEY([MACHINEID])
REFERENCES [apm].[MACHINE] ([MACHINEID])
GO
ALTER TABLE [apm].[PERFDAILY] CHECK CONSTRAINT [FK_PERFDAYLY_MACHINE]
GO
ALTER TABLE [apm].[PERFDAILY]  WITH CHECK ADD  CONSTRAINT [FK_PERFDAYLY_SOURCE] FOREIGN KEY([SOURCEID])
REFERENCES [apm].[SOURCE] ([SOURCEID])
GO
ALTER TABLE [apm].[PERFDAILY] CHECK CONSTRAINT [FK_PERFDAYLY_SOURCE]
GO
ALTER TABLE [apm].[PERFDAILY]  WITH CHECK ADD  CONSTRAINT [FK_PERFDAYLY_TYPE] FOREIGN KEY([PCTYPEID])
REFERENCES [apm].[PCTYPE] ([PCTYPEID])
GO
ALTER TABLE [apm].[PERFDAILY] CHECK CONSTRAINT [FK_PERFDAYLY_TYPE]
GO
