USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_PM_CSEVENTDETAIL]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE VIEW [apm].[V_PM_CSEVENTDETAIL] AS
SELECT E.CSEVENTID AS EVENTID, E.PMSTATUS, E.SEVIEWERDBID, D.VALUE, D.NAME 
    FROM APM.CSEVENT (NOLOCK) AS e
        JOIN APM.CSEVENTDETAIL (NOLOCK) d ON d.cseventid = e.cseventid  
    WHERE
       d.ValueType = N'PM'

GO
