USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[ASPECT]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[ASPECT](
	[ASPECT] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[ASPECTID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ASPECT] PRIMARY KEY CLUSTERED 
(
	[ASPECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
