USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[MEMBER]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[MEMBER](
	[MEMBERID] [int] NOT NULL,
	[LOGINNAME] [nvarchar](50) NOT NULL,
	[MEMBERPASSWORD] [nvarchar](255) NULL,
	[FIRSTNAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[USERDATA] [ntext] NULL,
	[USERTYPE] [char](1) NULL,
 CONSTRAINT [PK_MEMBER] PRIMARY KEY NONCLUSTERED 
(
	[MEMBERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
