USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[PMENTITYMAPPING]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PMENTITYMAPPING](
	[PMENTITYMAPPINGID] [int] IDENTITY(1,1) NOT NULL,
	[ALIAS] [nvarchar](50) NOT NULL,
	[ENTITY] [nvarchar](50) NOT NULL,
	[FIELD] [nvarchar](50) NULL,
	[FIELDTYPE] [nvarchar](50) NULL,
	[ISPROCEDURE] [bit] NOT NULL,
	[ISCLIENT] [bit] NOT NULL,
 CONSTRAINT [PK_PMENTITYMAPPING] PRIMARY KEY CLUSTERED 
(
	[PMENTITYMAPPINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [PMENTITYMAPPING_UNIQUE] UNIQUE NONCLUSTERED 
(
	[ALIAS] ASC,
	[ISCLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
