USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_PM_EVENTDETAIL]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE VIEW [apm].[V_PM_EVENTDETAIL] AS
SELECT E.EVENTID, E.PMSTATUS, E.SEVIEWERDBID, D.VALUE, D.NAME 
    FROM APM.EVENT (NOLOCK) AS e
        JOIN APM.EVENTDETAIL (NOLOCK) d ON d.eventid = e.eventid  
    WHERE
       d.ValueType = N'PM'

GO
