USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSAJAX]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSAJAX](
	[CSAJAXID] [int] IDENTITY(1,1) NOT NULL,
	[CSEVENTID] [int] NOT NULL,
	[URI] [nvarchar](255) NOT NULL,
	[NETWORKTIME] [decimal](35, 0) NULL,
	[SERVERTIME] [decimal](35, 0) NULL,
	[TOTALTIME] [decimal](35, 0) NULL,
	[REQUESTSIZE] [bigint] NULL,
	[RESPONSESIZE] [bigint] NULL,
	[RESPONSETIME] [decimal](35, 0) NULL,
	[SYNCHRONOUS] [bit] NOT NULL,
	[LATENCY] [bigint] NULL,
	[UTCDATE] [datetime] NULL,
	[SOURCEID] [int] NULL,
	[ISHEAVIESTNODE] [bit] NOT NULL,
 CONSTRAINT [PK_CSAJAX] PRIMARY KEY CLUSTERED 
(
	[CSAJAXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSAJAX]  WITH CHECK ADD  CONSTRAINT [FK_CSAJAX_REFERENCE_CSEVENT] FOREIGN KEY([CSEVENTID])
REFERENCES [apm].[CSEVENT] ([CSEVENTID])
GO
ALTER TABLE [apm].[CSAJAX] CHECK CONSTRAINT [FK_CSAJAX_REFERENCE_CSEVENT]
GO
