USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[EVENTGROUP]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[EVENTGROUP](
	[EVENTGROUPID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTEVENTDATE] [datetime] NULL,
	[LASTEVENTDATE] [datetime] NULL,
	[EVENTCLASSTYPE] [nvarchar](50) NULL,
	[ROOTNODENAME] [nvarchar](255) NULL,
	[ASPECT] [nvarchar](50) NULL,
	[HASHVALUE] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[SOURCEID] [int] NULL,
 CONSTRAINT [PK_EVENTGROUP] PRIMARY KEY CLUSTERED 
(
	[EVENTGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
