USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSJSCRIPTEVENT]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSJSCRIPTEVENT](
	[CSJSCRIPTEVENTID] [int] IDENTITY(1,1) NOT NULL,
	[CSEVENTID] [int] NOT NULL,
	[ACTION] [nvarchar](255) NOT NULL,
	[TOTALTIME] [decimal](35, 0) NULL,
	[UTCDATE] [datetime] NULL,
	[SOURCEID] [int] NULL,
 CONSTRAINT [PK_CSJSCRIPTEVENT] PRIMARY KEY CLUSTERED 
(
	[CSJSCRIPTEVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSJSCRIPTEVENT]  WITH CHECK ADD  CONSTRAINT [FK_CSJSCRIP_REFERENCE_CSEVENT] FOREIGN KEY([CSEVENTID])
REFERENCES [apm].[CSEVENT] ([CSEVENTID])
GO
ALTER TABLE [apm].[CSJSCRIPTEVENT] CHECK CONSTRAINT [FK_CSJSCRIP_REFERENCE_CSEVENT]
GO
