USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[DATES]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[DATES](
	[WeekDays] [smallint] NULL,
	[HourDates] [smallint] NULL,
	[MonthDays] [smallint] NULL,
	[DatesId] [int] NULL
) ON [PRIMARY]
GO
