USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_PM_CSEVENT]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
    
CREATE VIEW [apm].[V_PM_CSEVENT] AS
SELECT 
    E.CSEVENTID AS EVENTID, 
    S.SOURCE, 
    M.MACHINE AS MACHINENAME,
    U.NAME AS USERNAME,
    E.CLASSTYPE AS EVENTCLASSTYPE, 
    E.DESCRIPTION AS [DESCRIPTION],
    E.TOTALTIME * 1000 AS EVENTDURATION,
    SEVIEWEREGID AS EVENTGROUPID, 
    E.SEVIEWERDBID, 
    2 AS HEAVYLIGHT,
    CASE 
        WHEN CLASSTYPE = N'exception' THEN N'Web Page Client Side Exception'
    END AS EXCEPTIONCLASS,
    N'Unknown' AS COMPONENT, 
    CASE 
        WHEN CLASSTYPE = N'performance' THEN N'performance' 
        WHEN CLASSTYPE = N'exception' THEN N'applicationfailure'
    END AS ASPECT,
    E.ROWGUID,
    PMSTATUS,
    SEVIEWEREGID     
  FROM APM.CSEVENT (NOLOCK) AS E
    JOIN apm.SOURCE S (NOLOCK) ON S.SOURCEID = E.SOURCEID 
    JOIN apm.MACHINE M (NOLOCK) ON M.MACHINEID = E.MACHINEID      
    LEFT JOIN apm.USERS U (NOLOCK) ON U.USERID = E.USERID

GO
