USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_PM_EMPTY]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [apm].[V_PM_EMPTY] AS
   SELECT N'' AS VAL , -1 AS PMSTATUS, -1 AS SEVIEWERDBID, -1 AS EVENTID

GO
