USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSPERIPHERAL]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSPERIPHERAL](
	[CSPERIPHERALID] [int] IDENTITY(1,1) NOT NULL,
	[CSEVENTID] [int] NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
	[TOTALSIZE] [bigint] NULL,
	[TOTALTIME] [decimal](35, 0) NULL,
 CONSTRAINT [PK_CSPERIPHERAL] PRIMARY KEY CLUSTERED 
(
	[CSPERIPHERALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSPERIPHERAL]  WITH CHECK ADD  CONSTRAINT [FK_CSPERIPH_REFERENCE_CSEVENT] FOREIGN KEY([CSEVENTID])
REFERENCES [apm].[CSEVENT] ([CSEVENTID])
GO
ALTER TABLE [apm].[CSPERIPHERAL] CHECK CONSTRAINT [FK_CSPERIPH_REFERENCE_CSEVENT]
GO
