USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[EVENT]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[EVENT](
	[EVENTID] [bigint] IDENTITY(1,1) NOT NULL,
	[EVENTGROUPID] [int] NULL,
	[RESOURCEID] [int] NULL,
	[SOURCEID] [int] NULL,
	[EVENTDURATION] [decimal](35, 0) NULL,
	[MACHINEID] [int] NOT NULL,
	[UTCEVENTDATE] [datetime] NOT NULL,
	[EVENTCLASSTYPE] [nvarchar](50) NULL,
	[ROOTNODENAME] [nvarchar](255) NULL,
	[ASPECT] [nvarchar](50) NULL,
	[EXCEPTIONCLASS] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[HEAVYLIGHT] [int] NULL,
	[ROWGUID] [nvarchar](15) NULL,
	[SEVIEWERDBID] [int] NULL,
	[SEVIEWEREGID] [int] NOT NULL,
	[IPID] [int] NULL,
	[USERID] [int] NULL,
	[PMSTATUS] [tinyint] NOT NULL,
 CONSTRAINT [PK_EVENT] PRIMARY KEY NONCLUSTERED 
(
	[EVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[EVENT] ADD  CONSTRAINT [DF_EVENT_PMSTATUS]  DEFAULT ((0)) FOR [PMSTATUS]
GO
ALTER TABLE [apm].[EVENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_FK_EVENT__IP] FOREIGN KEY([IPID])
REFERENCES [apm].[IP] ([IPID])
GO
ALTER TABLE [apm].[EVENT] CHECK CONSTRAINT [FK_EVENT_FK_EVENT__IP]
GO
ALTER TABLE [apm].[EVENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_FK_EVENT__SEVIEWER] FOREIGN KEY([SEVIEWERDBID])
REFERENCES [apm].[SEVIEWERDB] ([SEVIEWERDBID])
GO
ALTER TABLE [apm].[EVENT] CHECK CONSTRAINT [FK_EVENT_FK_EVENT__SEVIEWER]
GO
ALTER TABLE [apm].[EVENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_FK_EVENTG_EVENTGRO] FOREIGN KEY([EVENTGROUPID])
REFERENCES [apm].[EVENTGROUP] ([EVENTGROUPID])
GO
ALTER TABLE [apm].[EVENT] CHECK CONSTRAINT [FK_EVENT_FK_EVENTG_EVENTGRO]
GO
ALTER TABLE [apm].[EVENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_FK_SOURCE_SOURCE] FOREIGN KEY([SOURCEID])
REFERENCES [apm].[SOURCE] ([SOURCEID])
GO
ALTER TABLE [apm].[EVENT] CHECK CONSTRAINT [FK_EVENT_FK_SOURCE_SOURCE]
GO
ALTER TABLE [apm].[EVENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_REFERENCE_MACHINE] FOREIGN KEY([MACHINEID])
REFERENCES [apm].[MACHINE] ([MACHINEID])
GO
ALTER TABLE [apm].[EVENT] CHECK CONSTRAINT [FK_EVENT_REFERENCE_MACHINE]
GO
ALTER TABLE [apm].[EVENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_REFERENCE_RESOURCE] FOREIGN KEY([RESOURCEID])
REFERENCES [apm].[RESOURCE] ([RESOURCEID])
GO
ALTER TABLE [apm].[EVENT] CHECK CONSTRAINT [FK_EVENT_REFERENCE_RESOURCE]
GO
ALTER TABLE [apm].[EVENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_USERS] FOREIGN KEY([USERID])
REFERENCES [apm].[USERS] ([USERID])
GO
ALTER TABLE [apm].[EVENT] CHECK CONSTRAINT [FK_EVENT_USERS]
GO
