USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[TASKS]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[TASKS](
	[TASKID] [int] IDENTITY(1,1) NOT NULL,
	[TABLENAME] [nvarchar](50) NOT NULL,
	[STARTDATE] [datetime] NULL,
	[ENDDATE] [datetime] NULL,
	[OPERATIONID] [int] NOT NULL,
	[LASTTIMESTAMP] [bigint] NULL,
	[STATUS] [nvarchar](50) NULL,
	[SEVIEWERDBID] [int] NULL,
 CONSTRAINT [PK_TASKS] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_TASKS_REFERENCE_SEVIEWER] FOREIGN KEY([SEVIEWERDBID])
REFERENCES [apm].[SEVIEWERDB] ([SEVIEWERDBID])
GO
ALTER TABLE [apm].[TASKS] CHECK CONSTRAINT [FK_TASKS_REFERENCE_SEVIEWER]
GO
ALTER TABLE [apm].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_TASKS_TaskMode] FOREIGN KEY([OPERATIONID])
REFERENCES [apm].[OPERATION] ([OPERATIONID])
GO
ALTER TABLE [apm].[TASKS] CHECK CONSTRAINT [FK_TASKS_TaskMode]
GO
