USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_PM_CSEVENTSTATUS]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [apm].[V_PM_CSEVENTSTATUS] AS
   SELECT E.CSEVENTID AS EVENTID, E.PMSTATUS, E.ROWGUID, E.SEVIEWERDBID  
	FROM APM.CSEVENT AS E (NOLOCK)

GO
