USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSPERIPHERALDETAIL]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSPERIPHERALDETAIL](
	[CSPERIPHERALDETAILID] [int] IDENTITY(1,1) NOT NULL,
	[CSPERIPHERALID] [int] NOT NULL,
	[DOMAIN] [nvarchar](255) NOT NULL,
	[PATH] [nvarchar](255) NOT NULL,
	[SIZE] [bigint] NULL,
	[TOTALTIME] [decimal](35, 0) NULL,
 CONSTRAINT [PK_CSPERIPHERALDETAIL] PRIMARY KEY CLUSTERED 
(
	[CSPERIPHERALDETAILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSPERIPHERALDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_CSPERIPH_REFERENCE_CSPERIPH] FOREIGN KEY([CSPERIPHERALID])
REFERENCES [apm].[CSPERIPHERAL] ([CSPERIPHERALID])
GO
ALTER TABLE [apm].[CSPERIPHERALDETAIL] CHECK CONSTRAINT [FK_CSPERIPH_REFERENCE_CSPERIPH]
GO
