USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_APPLICATIONSOURCEMACHINE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [apm].[V_APPLICATIONSOURCEMACHINE] as
SELECT A.APPLICATIONID, B.SOURCEID, M.MACHINEID, A.APPLICATION, B.SOURCE, M.MACHINE AS MACHINENAME
FROM APM.APPLICATION A 
    INNER JOIN APM.APPLICATIONSOURCEMACHINE C ON A.APPLICATIONID = C.APPLICATIONID
    LEFT JOIN APM.SOURCE B ON B.SOURCEID = C.SOURCEID 
    LEFT JOIN APM.MACHINE M ON M.MACHINEID = C.MACHINEID

GO
