USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSPAGEEVENT]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSPAGEEVENT](
	[CSPAGEEVENTID] [int] IDENTITY(1,1) NOT NULL,
	[CSEVENTID] [int] NOT NULL,
	[NETWORKTIME] [decimal](35, 0) NULL,
	[SERVERTIME] [decimal](35, 0) NULL,
	[DOMTIME] [decimal](35, 0) NULL,
	[PERIPHERALTIME] [decimal](35, 0) NULL,
	[ONLOADTIME] [decimal](35, 0) NULL,
	[TOTALTIME] [decimal](35, 0) NULL,
	[TOTALSIZE] [bigint] NULL,
	[LATENCY] [bigint] NULL,
	[UTCDATE] [datetime] NULL,
	[SOURCEID] [int] NULL,
 CONSTRAINT [PK_CSPAGEEVENT] PRIMARY KEY CLUSTERED 
(
	[CSPAGEEVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSPAGEEVENT]  WITH CHECK ADD  CONSTRAINT [FK_CSPAGEEV_REFERENCE_CSEVENT] FOREIGN KEY([CSEVENTID])
REFERENCES [apm].[CSEVENT] ([CSEVENTID])
GO
ALTER TABLE [apm].[CSPAGEEVENT] CHECK CONSTRAINT [FK_CSPAGEEV_REFERENCE_CSEVENT]
GO
