USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSEVENTDETAIL]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSEVENTDETAIL](
	[CSEVENTDETAILID] [int] IDENTITY(1,1) NOT NULL,
	[CSEVENTID] [int] NULL,
	[NAME] [nvarchar](50) NULL,
	[VALUE] [nvarchar](255) NULL,
	[VALUETYPE] [nvarchar](50) NULL,
 CONSTRAINT [PK_CSEVENTDETAIL] PRIMARY KEY CLUSTERED 
(
	[CSEVENTDETAILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSEVENTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_CSEVENTDET_REFERENCE_CSEVENT] FOREIGN KEY([CSEVENTID])
REFERENCES [apm].[CSEVENT] ([CSEVENTID])
GO
ALTER TABLE [apm].[CSEVENTDETAIL] CHECK CONSTRAINT [FK_CSEVENTDET_REFERENCE_CSEVENT]
GO
