USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[RESOURCE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[RESOURCE](
	[RESOURCEID] [int] IDENTITY(1,1) NOT NULL,
	[RESOURCEGROUPID] [int] NOT NULL,
	[SOURCEID] [int] NOT NULL,
	[RESOURCEURIFORMAT] [nvarchar](255) NOT NULL,
	[RESOURCEURI] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_REFERENCE_RESOURCE] FOREIGN KEY([RESOURCEGROUPID])
REFERENCES [apm].[RESOURCEGROUP] ([RESOURCEGROUPID])
GO
ALTER TABLE [apm].[RESOURCE] CHECK CONSTRAINT [FK_RESOURCE_REFERENCE_RESOURCE]
GO
ALTER TABLE [apm].[RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_REFERENCE_SOURCE] FOREIGN KEY([SOURCEID])
REFERENCES [apm].[SOURCE] ([SOURCEID])
GO
ALTER TABLE [apm].[RESOURCE] CHECK CONSTRAINT [FK_RESOURCE_REFERENCE_SOURCE]
GO
