USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[RELATIVEDATES]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[RELATIVEDATES](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[ORDERBY] [int] NOT NULL
) ON [PRIMARY]
GO
