USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[RESOURCEGROUPNODE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[RESOURCEGROUPNODE](
	[RESOURCEGROUPNODEID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTID] [bigint] NOT NULL,
	[RESOURCEGROUPID] [int] NOT NULL,
	[DURATION] [bigint] NOT NULL,
	[CALLCOUNT] [int] NULL,
 CONSTRAINT [PK_RESOURCEGROUPNODE] PRIMARY KEY CLUSTERED 
(
	[RESOURCEGROUPNODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[RESOURCEGROUPNODE]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_REFERENCE_EVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
GO
ALTER TABLE [apm].[RESOURCEGROUPNODE] CHECK CONSTRAINT [FK_RESOURCE_REFERENCE_EVENT]
GO
ALTER TABLE [apm].[RESOURCEGROUPNODE]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_REFERENCE_RESOURCENODE] FOREIGN KEY([RESOURCEGROUPID])
REFERENCES [apm].[RESOURCEGROUP] ([RESOURCEGROUPID])
GO
ALTER TABLE [apm].[RESOURCEGROUPNODE] CHECK CONSTRAINT [FK_RESOURCE_REFERENCE_RESOURCENODE]
GO
