USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[HourlyTable]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[HourlyTable](
	[value] [datetime] NULL
) ON [PRIMARY]
GO
