USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSEVENT]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSEVENT](
	[CSEVENTID] [int] IDENTITY(1,1) NOT NULL,
	[CSEVENTGROUPID] [int] NOT NULL,
	[SOURCEID] [int] NOT NULL,
	[MACHINEID] [int] NOT NULL,
	[IPID] [int] NULL,
	[CLASSTYPE] [nvarchar](50) NOT NULL,
	[EVENTCLASS] [nvarchar](50) NULL,
	[PAGEURI] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NOT NULL,
	[BROWSER] [nvarchar](255) NULL,
	[UTCDATE] [datetime] NOT NULL,
	[ROWGUID] [nvarchar](15) NULL,
	[SEVIEWERDBID] [int] NOT NULL,
	[SEVIEWEREGID] [int] NOT NULL,
	[USERID] [int] NULL,
	[PMSTATUS] [tinyint] NOT NULL,
	[TOTALTIME] [decimal](35, 0) NULL,
	[TOTALSIZE] [bigint] NULL,
	[LATENCY] [bigint] NULL,
 CONSTRAINT [PK_CSEVENT] PRIMARY KEY CLUSTERED 
(
	[CSEVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSEVENT] ADD  CONSTRAINT [DF_CSEVENT_PMSTATUS]  DEFAULT ((0)) FOR [PMSTATUS]
GO
ALTER TABLE [apm].[CSEVENT]  WITH CHECK ADD  CONSTRAINT [FK_CSEVENT_REFERENCE_CSEVENTG] FOREIGN KEY([CSEVENTGROUPID])
REFERENCES [apm].[CSEVENTGROUP] ([CSEVENTGROUPID])
GO
ALTER TABLE [apm].[CSEVENT] CHECK CONSTRAINT [FK_CSEVENT_REFERENCE_CSEVENTG]
GO
ALTER TABLE [apm].[CSEVENT]  WITH CHECK ADD  CONSTRAINT [FK_CSEVENT_REFERENCE_IP] FOREIGN KEY([IPID])
REFERENCES [apm].[IP] ([IPID])
GO
ALTER TABLE [apm].[CSEVENT] CHECK CONSTRAINT [FK_CSEVENT_REFERENCE_IP]
GO
ALTER TABLE [apm].[CSEVENT]  WITH CHECK ADD  CONSTRAINT [FK_CSEVENT_REFERENCE_MACHINE] FOREIGN KEY([MACHINEID])
REFERENCES [apm].[MACHINE] ([MACHINEID])
GO
ALTER TABLE [apm].[CSEVENT] CHECK CONSTRAINT [FK_CSEVENT_REFERENCE_MACHINE]
GO
ALTER TABLE [apm].[CSEVENT]  WITH CHECK ADD  CONSTRAINT [FK_CSEVENT_REFERENCE_SOURCE] FOREIGN KEY([SOURCEID])
REFERENCES [apm].[SOURCE] ([SOURCEID])
GO
ALTER TABLE [apm].[CSEVENT] CHECK CONSTRAINT [FK_CSEVENT_REFERENCE_SOURCE]
GO
ALTER TABLE [apm].[CSEVENT]  WITH CHECK ADD  CONSTRAINT [FK_CSEVENT_USERS] FOREIGN KEY([USERID])
REFERENCES [apm].[USERS] ([USERID])
GO
ALTER TABLE [apm].[CSEVENT] CHECK CONSTRAINT [FK_CSEVENT_USERS]
GO
