USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[PMSERVEREVENTTRACE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PMSERVEREVENTTRACE](
	[EVENTID] [bigint] NOT NULL,
	[PMTRACEID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PMSERVEREVENTTRACE]  WITH CHECK ADD  CONSTRAINT [FK_PMSERVEREVENTTRACE_PMEVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
ON DELETE CASCADE
GO
ALTER TABLE [apm].[PMSERVEREVENTTRACE] CHECK CONSTRAINT [FK_PMSERVEREVENTTRACE_PMEVENT]
GO
ALTER TABLE [apm].[PMSERVEREVENTTRACE]  WITH CHECK ADD  CONSTRAINT [FK_PMSERVEREVENTTRACE_PMTRACE] FOREIGN KEY([PMTRACEID])
REFERENCES [apm].[PMTRACE] ([PMTRACEID])
GO
ALTER TABLE [apm].[PMSERVEREVENTTRACE] CHECK CONSTRAINT [FK_PMSERVEREVENTTRACE_PMTRACE]
GO
