USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[OPERATION]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[OPERATION](
	[OPERATIONID] [int] NOT NULL,
	[OPERATIONNAME] [nvarchar](50) NOT NULL,
	[REPEATCOUNTONFAILED] [int] NOT NULL,
 CONSTRAINT [PK_OPERATION] PRIMARY KEY CLUSTERED 
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
