USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[PCTYPE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PCTYPE](
	[PCTYPEID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](255) NOT NULL,
	[MEASURE] [nvarchar](50) NULL,
	[INSTANCEFUNCTION] [nvarchar](50) NULL,
	[DATEFUNCTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_PCTYPE] PRIMARY KEY CLUSTERED 
(
	[PCTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_PCTYPE_TYPE] UNIQUE NONCLUSTERED 
(
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
