USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_PM_EVENT]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE VIEW [apm].[V_PM_EVENT] AS
SELECT 
    E.EVENTID, 
    S.SOURCE, 
    M.MACHINE AS MACHINENAME, 
    U.NAME AS USERNAME, 
        E.EVENTCLASSTYPE, 
    E.ROOTNODENAME, 
    E.DESCRIPTION, 
    E.EXCEPTIONCLASS, 
    E.EVENTDURATION,
        E.SEVIEWEREGID, 
    E.HEAVYLIGHT, 
    E.ASPECT, 
    E.SEVIEWERDBID,
    E.ROWGUID,
    E.CATEGORY, 
    E.PMSTATUS 
 FROM APM.EVENT (NOLOCK) AS E
   JOIN apm.SOURCE S (NOLOCK) ON S.SOURCEID = E.SOURCEID 
   JOIN apm.MACHINE M (NOLOCK) ON M.MACHINEID = E.MACHINEID       
   LEFT JOIN apm.USERS U (NOLOCK) ON U.USERID = E.USERID

GO
