USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[EXCEPTIONNODE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[EXCEPTIONNODE](
	[EXCEPTIONNODEID] [bigint] IDENTITY(1,1) NOT NULL,
	[EVENTID] [bigint] NOT NULL,
	[RESOURCEID] [int] NULL,
	[EXCEPTIONMESSAGE] [nvarchar](255) NULL,
	[EXCEPTIONCLASS] [nvarchar](255) NULL,
	[FUNCTIONNAME] [nvarchar](255) NULL,
	[RESOURCEMETHOD] [nvarchar](255) NULL,
	[MODULENAME] [nvarchar](255) NULL,
	[LINENUMBER] [bigint] NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[HASHCODE] [nvarchar](255) NULL,
	[ENTRYID] [int] NULL,
	[ROWGUID] [nvarchar](15) NULL,
 CONSTRAINT [PK_EXCEPTIONNODE] PRIMARY KEY CLUSTERED 
(
	[EXCEPTIONNODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[EXCEPTIONNODE]  WITH CHECK ADD  CONSTRAINT [FK_EXCEPTIO_FK_EXCEPT_EVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
GO
ALTER TABLE [apm].[EXCEPTIONNODE] CHECK CONSTRAINT [FK_EXCEPTIO_FK_EXCEPT_EVENT]
GO
ALTER TABLE [apm].[EXCEPTIONNODE]  WITH CHECK ADD  CONSTRAINT [FK_EXCEPTIO_REFERENCE_RESOURCE] FOREIGN KEY([RESOURCEID])
REFERENCES [apm].[RESOURCE] ([RESOURCEID])
GO
ALTER TABLE [apm].[EXCEPTIONNODE] CHECK CONSTRAINT [FK_EXCEPTIO_REFERENCE_RESOURCE]
GO
