USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[TIMEZONE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[TIMEZONE](
	[NAME] [nvarchar](255) NULL,
	[OFFSET] [int] NULL
) ON [PRIMARY]
GO
