USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSHEAVIESTRESOURCE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSHEAVIESTRESOURCE](
	[CSHEAVIESTRESOURCEID] [int] IDENTITY(1,1) NOT NULL,
	[CSEVENTID] [int] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[DURATION] [decimal](35, 0) NOT NULL,
	[ROWGUID] [nvarchar](15) NULL,
	[ISHEAVIESTNODE] [bit] NOT NULL,
 CONSTRAINT [PK_CSHEAVIESTRESOURCE] PRIMARY KEY CLUSTERED 
(
	[CSHEAVIESTRESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSHEAVIESTRESOURCE] ADD  CONSTRAINT [DF_CSHEAVIESTRESOURCE_ISHAVIESTNODE]  DEFAULT ((0)) FOR [ISHEAVIESTNODE]
GO
ALTER TABLE [apm].[CSHEAVIESTRESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_CSHEAVIE_REFERENCE_CSEVENT] FOREIGN KEY([CSEVENTID])
REFERENCES [apm].[CSEVENT] ([CSEVENTID])
GO
ALTER TABLE [apm].[CSHEAVIESTRESOURCE] CHECK CONSTRAINT [FK_CSHEAVIE_REFERENCE_CSEVENT]
GO
