USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[APPLICATIONSOURCEMACHINE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[APPLICATIONSOURCEMACHINE](
	[APPLICATIONSOURCEID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATIONID] [int] NULL,
	[SOURCEID] [int] NULL,
	[MACHINEID] [int] NULL,
 CONSTRAINT [PK_APPLICATIONSOURCEMACHINE] PRIMARY KEY CLUSTERED 
(
	[APPLICATIONSOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE]  WITH CHECK ADD  CONSTRAINT [FK_APPLICAT_FK_APPLIC_APPLICAT] FOREIGN KEY([APPLICATIONID])
REFERENCES [apm].[APPLICATION] ([APPLICATIONID])
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE] CHECK CONSTRAINT [FK_APPLICAT_FK_APPLIC_APPLICAT]
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE]  WITH CHECK ADD  CONSTRAINT [FK_APPLICAT_FK_MACHIN_MACHINE] FOREIGN KEY([MACHINEID])
REFERENCES [apm].[MACHINE] ([MACHINEID])
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE] CHECK CONSTRAINT [FK_APPLICAT_FK_MACHIN_MACHINE]
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE]  WITH CHECK ADD  CONSTRAINT [FK_APPLICAT_FK_SOURCE_SOURCE] FOREIGN KEY([SOURCEID])
REFERENCES [apm].[SOURCE] ([SOURCEID])
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE] CHECK CONSTRAINT [FK_APPLICAT_FK_SOURCE_SOURCE]
GO
