USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[PERFORMANCENODE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PERFORMANCENODE](
	[PERFORMANCENODEID] [bigint] IDENTITY(1,1) NOT NULL,
	[EVENTID] [bigint] NOT NULL,
	[RESOURCEID] [int] NULL,
	[RESOURCEGROUPNODEID] [int] NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[FUNCTIONNAME] [nvarchar](255) NULL,
	[RESOURCEMETHOD] [nvarchar](255) NULL,
	[DURATION] [decimal](35, 0) NOT NULL,
	[HASHCODE] [nvarchar](255) NULL,
	[ENTRYID] [int] NOT NULL,
	[SELFDURATION] [decimal](35, 0) NULL,
	[ROWGUID] [nvarchar](15) NULL,
	[ISHEAVIESTNODE] [bit] NOT NULL,
 CONSTRAINT [PK_PERFORMANCENODE] PRIMARY KEY CLUSTERED 
(
	[PERFORMANCENODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PERFORMANCENODE] ADD  CONSTRAINT [DF_PERFORMANCENODE_ISHAVIESTNODE]  DEFAULT ((0)) FOR [ISHEAVIESTNODE]
GO
ALTER TABLE [apm].[PERFORMANCENODE]  WITH CHECK ADD  CONSTRAINT [FK_PERFORMA_REFERENCE_RESOURCE] FOREIGN KEY([RESOURCEID])
REFERENCES [apm].[RESOURCE] ([RESOURCEID])
GO
ALTER TABLE [apm].[PERFORMANCENODE] CHECK CONSTRAINT [FK_PERFORMA_REFERENCE_RESOURCE]
GO
ALTER TABLE [apm].[PERFORMANCENODE]  WITH CHECK ADD  CONSTRAINT [FK_PERFORMA_REFERENCE_RESOURCEGROUP] FOREIGN KEY([RESOURCEGROUPNODEID])
REFERENCES [apm].[RESOURCEGROUPNODE] ([RESOURCEGROUPNODEID])
GO
ALTER TABLE [apm].[PERFORMANCENODE] CHECK CONSTRAINT [FK_PERFORMA_REFERENCE_RESOURCEGROUP]
GO
ALTER TABLE [apm].[PERFORMANCENODE]  WITH CHECK ADD  CONSTRAINT [FK_PERFORMANCENODE_EVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
GO
ALTER TABLE [apm].[PERFORMANCENODE] CHECK CONSTRAINT [FK_PERFORMANCENODE_EVENT]
GO
