USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_PM_CSHEAVIESTNODE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE VIEW [apm].[V_PM_CSHEAVIESTNODE] AS
SELECT 
   E.CSEVENTID AS EVENTID, 
   E.PMSTATUS, 
   E.SEVIEWERDBID,
   COALESCE(P.NAME, N'Internal Execution') AS VAL, 
   P.DURATION AS SELFDURATION
FROM 
  APM.CSEVENT (NOLOCK) AS e
  LEFT JOIN APM.CSHEAVIESTRESOURCE (NOLOCK) p ON p.cseventid = e.cseventid 
WHERE   
  p.ISHEAVIESTNODE = 1      

GO
