USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_PM_HEAVIESTNODE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [apm].[V_PM_HEAVIESTNODE] AS
SELECT 
  E.EVENTID, 
  E.PMSTATUS, 
  E.SEVIEWERDBID,
  COALESCE(P.DESCRIPTION, N'Internal Execution') AS VAL, 
  COALESCE(P.SELFDURATION, E.EVENTDURATION / 1000.0) AS SELFDURATION  
FROM 
  APM.EVENT (NOLOCK) AS e
  LEFT JOIN APM.PERFORMANCENODE (NOLOCK) p ON p.eventid = e.eventid 
WHERE   
  p.ISHEAVIESTNODE = 1      

GO
