USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSEXEVENT]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSEXEVENT](
	[CSEXEVENTID] [int] IDENTITY(1,1) NOT NULL,
	[CSEVENTID] [int] NOT NULL,
	[ACTION] [nvarchar](255) NOT NULL,
	[EXMESSAGE] [nvarchar](255) NOT NULL,
	[EXTYPE] [nvarchar](255) NOT NULL,
	[EXFUNCTION] [nvarchar](255) NOT NULL,
	[ROWGUID] [nvarchar](15) NULL,
 CONSTRAINT [PK_CSEXEVENT] PRIMARY KEY CLUSTERED 
(
	[CSEXEVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSEXEVENT]  WITH CHECK ADD  CONSTRAINT [FK_CSEXEVEN_REFERENCE_CSEVENT] FOREIGN KEY([CSEVENTID])
REFERENCES [apm].[CSEVENT] ([CSEVENTID])
GO
ALTER TABLE [apm].[CSEXEVENT] CHECK CONSTRAINT [FK_CSEXEVEN_REFERENCE_CSEVENT]
GO
