USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[MACHINE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[MACHINE](
	[MACHINEID] [int] IDENTITY(1,1) NOT NULL,
	[MACHINE] [nvarchar](255) NOT NULL,
	[WINDOWSVERSION] [nvarchar](50) NULL,
	[AGENTVERSION] [nvarchar](50) NULL,
	[CPUCOUNT] [int] NULL,
 CONSTRAINT [PK_MACHINE] PRIMARY KEY CLUSTERED 
(
	[MACHINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_MACHINE_MACHINE] UNIQUE NONCLUSTERED 
(
	[MACHINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
