USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[CSASYNCAJAX]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CSASYNCAJAX](
	[CSASYNCAJAXID] [int] IDENTITY(1,1) NOT NULL,
	[CSEVENTID] [int] NOT NULL,
	[HANDLERTIME] [decimal](35, 0) NULL,
	[TOTALTIME] [decimal](35, 0) NULL,
 CONSTRAINT [PK_CSASYNCAJAX] PRIMARY KEY CLUSTERED 
(
	[CSASYNCAJAXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CSASYNCAJAX]  WITH CHECK ADD  CONSTRAINT [FK_CSASYNCA_REFERENCE_CSEVENT] FOREIGN KEY([CSEVENTID])
REFERENCES [apm].[CSEVENT] ([CSEVENTID])
GO
ALTER TABLE [apm].[CSASYNCAJAX] CHECK CONSTRAINT [FK_CSASYNCA_REFERENCE_CSEVENT]
GO
