USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[SEVIEWERDB]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[SEVIEWERDB](
	[SEVIEWERDBID] [int] IDENTITY(1,1) NOT NULL,
	[DATABASEID] [uniqueidentifier] NOT NULL,
	[ADDRESS] [nvarchar](max) NULL,
 CONSTRAINT [PK_SEVIEWERDB] PRIMARY KEY CLUSTERED 
(
	[SEVIEWERDBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [database_id_uniq] UNIQUE NONCLUSTERED 
(
	[DATABASEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
