USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[PMEVENTSTATUS]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PMEVENTSTATUS](
	[PMSTATUSID] [int] NOT NULL,
	[PMSTATUSNAME] [nvarchar](50) NOT NULL,
	[ISDEFAULT] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PMEVENTSTATUS] ADD  CONSTRAINT [DF_PMEVENTSTATUS_ISDEFAULT]  DEFAULT ((0)) FOR [ISDEFAULT]
GO
