USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[PMCLIENTEVENTTRACE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PMCLIENTEVENTTRACE](
	[CSEVENTID] [int] NOT NULL,
	[PMTRACEID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PMCLIENTEVENTTRACE]  WITH CHECK ADD  CONSTRAINT [FK_PMCLIENTEVENTTRACE_PMEVENT] FOREIGN KEY([CSEVENTID])
REFERENCES [apm].[CSEVENT] ([CSEVENTID])
ON DELETE CASCADE
GO
ALTER TABLE [apm].[PMCLIENTEVENTTRACE] CHECK CONSTRAINT [FK_PMCLIENTEVENTTRACE_PMEVENT]
GO
ALTER TABLE [apm].[PMCLIENTEVENTTRACE]  WITH CHECK ADD  CONSTRAINT [FK_PMCLIENTEVENTTRACE_PMTRACE] FOREIGN KEY([PMTRACEID])
REFERENCES [apm].[PMTRACE] ([PMTRACEID])
GO
ALTER TABLE [apm].[PMCLIENTEVENTTRACE] CHECK CONSTRAINT [FK_PMCLIENTEVENTTRACE_PMTRACE]
GO
