USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[PMTRACE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PMTRACE](
	[PMTRACEID] [int] IDENTITY(1,1) NOT NULL,
	[UTCDATE] [datetime] NOT NULL,
	[DATA] [nvarchar](max) NULL,
	[PMSTATUS] [tinyint] NULL,
 CONSTRAINT [PK_PMTRACE] PRIMARY KEY CLUSTERED 
(
	[PMTRACEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [apm].[PMTRACE] ADD  CONSTRAINT [DF_PMTRACE_UTCDATE]  DEFAULT (getutcdate()) FOR [UTCDATE]
GO
