USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[EVENTDETAIL]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[EVENTDETAIL](
	[EVENTDETAILID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTID] [bigint] NULL,
	[NAME] [nvarchar](50) NULL,
	[VALUE] [nvarchar](255) NULL,
	[VALUETYPE] [nvarchar](50) NULL,
 CONSTRAINT [PK_EVENTDETAIL] PRIMARY KEY CLUSTERED 
(
	[EVENTDETAILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[EVENTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_EVENTDET_REFERENCE_EVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
GO
ALTER TABLE [apm].[EVENTDETAIL] CHECK CONSTRAINT [FK_EVENTDET_REFERENCE_EVENT]
GO
