USE [OperationsManagerDW]
GO
/****** Object:  Table [apm].[PCPROCESS]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PCPROCESS](
	[PCPROCESSID] [int] IDENTITY(1,1) NOT NULL,
	[PROCESS] [nvarchar](255) NULL,
	[EXTRATYPE] [int] NULL,
	[EXTRAINFO] [nvarchar](255) NULL,
	[HASHVALUE] [nvarchar](50) NULL,
 CONSTRAINT [PK_PCPROCESS] PRIMARY KEY CLUSTERED 
(
	[PCPROCESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_PCPROCESS_HASHVALUE] UNIQUE NONCLUSTERED 
(
	[HASHVALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
