USE [OperationsManagerDW]
GO
/****** Object:  View [apm].[V_PM_RESOURCE]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
  
CREATE VIEW [apm].[V_PM_RESOURCE] AS
SELECT P.EVENTID, E.SEVIEWERDBID, E.PMSTATUS, P.RESOURCEMETHOD 
    FROM APM.PERFORMANCENODE p (NOLOCK)
    JOIN apm.EVENT e (NOLOCK) ON e.eventid = p.eventid 
WHERE
    p.ISHEAVIESTNODE = 1
UNION ALL   
SELECT E.EVENTID, E.SEVIEWERDBID, E.PMSTATUS, EX.RESOURCEMETHOD 
    FROM APM.EXCEPTIONNODE ex (NOLOCK)
    JOIN apm.EVENT e (NOLOCK) ON e.eventid = EX.eventid 

GO
