USE [OperationsManagerDW]
GO
/****** Object:  Table [CM].[CMAemRaw_A9C3FBC4FD2340E8B22BCDB39536A4BB]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CM].[CMAemRaw_A9C3FBC4FD2340E8B22BCDB39536A4BB](
	[AemRawRowId] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ErrorGroupRowId] [int] NOT NULL,
	[CrashId] [uniqueidentifier] NOT NULL,
	[CrashTime]  AS ([DateTime]),
	[AemUserRowId] [int] NULL,
	[AemComputerRowId] [int] NULL,
 CONSTRAINT [PK_CMAemRaw_A9C3FBC4FD2340E8B22BCDB39536A4BB] PRIMARY KEY CLUSTERED 
(
	[DateTime] ASC,
	[AemRawRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
