USE [OperationsManagerDW]
GO
/****** Object:  Table [CM].[CMAemDaily_6C2EA507E1D2482AA1F0FCC8B54E2BB5]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CM].[CMAemDaily_6C2EA507E1D2482AA1F0FCC8B54E2BB5](
	[AemDailyRowId] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_CMAemDaily_6C2EA507E1D2482AA1F0FCC8B54E2BB5] PRIMARY KEY CLUSTERED 
(
	[DateTime] ASC,
	[AemDailyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
