USE [OperationsManagerDW]
GO
/****** Object:  Table [CM].[CMAemErrorGroupDaily_6C2EA507E1D2482AA1F0FCC8B54E2BB5]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CM].[CMAemErrorGroupDaily_6C2EA507E1D2482AA1F0FCC8B54E2BB5](
	[AemErrorGroupDailyRowId] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ApplicationRowId] [int] NOT NULL,
	[ErrorGroupRowId] [int] NOT NULL,
	[CrashCount] [int] NOT NULL,
	[UniqueUsersAffectedCount] [int] NOT NULL,
	[UniqueComputersAffectedCount] [int] NOT NULL,
 CONSTRAINT [PK_CMAemErrorGroupDaily_6C2EA507E1D2482AA1F0FCC8B54E2BB5] PRIMARY KEY CLUSTERED 
(
	[DateTime] ASC,
	[AemErrorGroupDailyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
