USE [OperationsManagerDW]
GO
/****** Object:  View [CM].[vCMAemApplicationDaily]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CM].[vCMAemApplicationDaily] AS 
            SELECT
               [DateTime]
              ,ApplicationRowId
              ,ErrorGroupCount
              ,CrashCount
              ,UniqueUsersAffectedCount
              ,UniqueComputersAffectedCount
        FROM [CM].[CMAemApplicationDaily_6C2EA507E1D2482AA1F0FCC8B54E2BB5] (NOLOCK) 
GO
