USE [OperationsManagerDW]
GO
/****** Object:  View [CM].[vCMAemRaw]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CM].[vCMAemRaw] AS 
             SELECT
              [DateTime]
             ,ErrorGroupRowId
             ,CrashId
             ,CrashTime
             ,AemUserRowId
             ,AemComputerRowId  FROM [CM].[CMAemRaw_A9C3FBC4FD2340E8B22BCDB39536A4BB] (NOLOCK) 
GO
