USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[RelationshipType]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipType](
	[RelationshipTypeRowId] [int] IDENTITY(1,1) NOT NULL,
	[RelationshipTypeGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[RelationshipTypeSystemName] [nvarchar](256) NOT NULL,
	[RelationshipTypeDefaultName] [nvarchar](256) NOT NULL,
	[RelationshipTypeDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_RelationshipType] PRIMARY KEY CLUSTERED 
(
	[RelationshipTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_RelationshipType_RelationshipTypeGuid] UNIQUE NONCLUSTERED 
(
	[RelationshipTypeGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipType_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[RelationshipType] CHECK CONSTRAINT [FK_RelationshipType_ManagementPack]
GO
