USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[AemErrorGroup]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AemErrorGroup](
	[ErrorGroupRowId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationRowId] [int] NOT NULL,
	[ErrorGroupManagedEntityId] [uniqueidentifier] NOT NULL,
	[BucketType] [nvarchar](10) NOT NULL,
	[Parameter0] [nvarchar](256) NULL,
	[Parameter1] [nvarchar](256) NULL,
	[Parameter2] [nvarchar](256) NULL,
	[Parameter3] [nvarchar](256) NULL,
	[Parameter4] [nvarchar](256) NULL,
	[Parameter5] [nvarchar](256) NULL,
	[Parameter6] [nvarchar](256) NULL,
	[Parameter7] [nvarchar](256) NULL,
	[Parameter8] [nvarchar](256) NULL,
	[Parameter9] [nvarchar](256) NULL,
	[Parameter10] [nvarchar](256) NULL,
	[SelectedSolutionResponseType] [nvarchar](16) NULL,
	[SelectedCollectionResponseType] [nvarchar](16) NULL,
	[MicrosoftResponseUrl] [nvarchar](256) NULL,
	[LastReceivedDateTime] [smalldatetime] NOT NULL,
	[BucketId] [bigint] NULL,
	[BucketTableId] [bigint] NULL,
 CONSTRAINT [PK_AemErrorGroup] PRIMARY KEY CLUSTERED 
(
	[ErrorGroupRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AemErrorGroup] ADD  DEFAULT (getutcdate()) FOR [LastReceivedDateTime]
GO
