USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vRuleManagementPackVersionNoXml]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vRuleManagementPackVersionNoXml]
AS
  SELECT
     RuleManagementPackVersionRowId
    ,RuleRowId
    ,ManagementPackVersionRowId
    ,WorkflowCategoryRowId
    ,TargetManagedEntityTypeRowId
    ,EnabledInd
    ,ConfirmDeliveryInd
    ,RemotableInd
    ,Priority
    ,DefinitionXml = CAST (DefinitionXml AS nvarchar(max))
    ,DefinitionHash
  FROM vRuleManagementPackVersion
GO
