USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[RelationshipStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipStage](
	[RelationshipStageRowId] [int] IDENTITY(1,1) NOT NULL,
	[DiscoveredInd] [bit] NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[RelationshipGuid] [uniqueidentifier] NOT NULL,
	[RelationshipTypeGuid] [uniqueidentifier] NULL,
	[RelationshipTypeRowId] [int] NULL,
	[SourceManagedEntityGuid] [uniqueidentifier] NULL,
	[SourceManagedEntityRowId] [int] NULL,
	[TargetManagedEntityGuid] [uniqueidentifier] NULL,
	[TargetManagedEntityRowId] [int] NULL,
	[PropertyXml] [xml] NULL,
	[DeltaXml] [xml] NULL,
	[InsertReadyInd]  AS (case when [DiscoveredInd]=(0) then [DeleteProcessedInd] else case when [RelationshipTypeRowId] IS NULL OR [SourceManagedEntityRowId] IS NULL OR [TargetManagedEntityRowId] IS NULL then (0) else (1) end end),
	[DeleteProcessedInd] [bit] NOT NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RelationshipStage] PRIMARY KEY CLUSTERED 
(
	[RelationshipStageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipStage] ADD  DEFAULT ((0)) FOR [DeleteProcessedInd]
GO
ALTER TABLE [dbo].[RelationshipStage] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[RelationshipStage]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipStage_ManagedEntity_Source] FOREIGN KEY([SourceManagedEntityRowId])
REFERENCES [dbo].[ManagedEntity] ([ManagedEntityRowId])
GO
ALTER TABLE [dbo].[RelationshipStage] CHECK CONSTRAINT [FK_RelationshipStage_ManagedEntity_Source]
GO
ALTER TABLE [dbo].[RelationshipStage]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipStage_ManagedEntity_Target] FOREIGN KEY([TargetManagedEntityRowId])
REFERENCES [dbo].[ManagedEntity] ([ManagedEntityRowId])
GO
ALTER TABLE [dbo].[RelationshipStage] CHECK CONSTRAINT [FK_RelationshipStage_ManagedEntity_Target]
GO
ALTER TABLE [dbo].[RelationshipStage]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipStage_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[RelationshipStage] CHECK CONSTRAINT [FK_RelationshipStage_ManagementGroup]
GO
ALTER TABLE [dbo].[RelationshipStage]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipStage_RelationshipType] FOREIGN KEY([RelationshipTypeRowId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeRowId])
GO
ALTER TABLE [dbo].[RelationshipStage] CHECK CONSTRAINT [FK_RelationshipStage_RelationshipType]
GO
