USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[MaintenanceSetting]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceSetting](
	[LastInstanceOptimizationDateTime] [datetime] NOT NULL,
	[InstanceOptimizationFrequencySeconds] [int] NOT NULL,
	[LastInstanceGroomingDateTime] [datetime] NOT NULL,
	[InstanceGroomingFrequencyMinutes] [int] NOT NULL,
	[InstanceMaxAgeDays] [int] NOT NULL,
	[InstanceMaxRowsToGroom] [int] NOT NULL,
	[LastConfigOptimizationDateTime] [datetime] NOT NULL,
	[ConfigOptimizationFrequencySeconds] [int] NOT NULL,
	[LastConfigGroomingDateTime] [datetime] NOT NULL,
	[ConfigGroomingFrequencyMinutes] [int] NOT NULL,
	[ManagementPackMaxAgeDays] [int] NOT NULL,
	[NonSealedManagementPackMaxVersionCount] [int] NOT NULL,
	[BlockingMaintenanceStartTime] [char](5) NOT NULL,
	[BlockingMaintenanceDurationMinutes] [int] NOT NULL,
	[ComponentDeploymentStartTime] [char](5) NOT NULL,
	[ComponentDeploymentDurationMinutes] [int] NOT NULL,
	[StatisticsUpdateMaxDurationSeconds] [int] NOT NULL,
	[StatisticsUpdateMaxStatAgeHours] [int] NOT NULL,
	[StatisticsSamplePercentage] [int] NULL,
	[StagingDataMaxAgeDays] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT (getutcdate()) FOR [LastInstanceOptimizationDateTime]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((60)) FOR [InstanceOptimizationFrequencySeconds]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT (getutcdate()) FOR [LastInstanceGroomingDateTime]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((480)) FOR [InstanceGroomingFrequencyMinutes]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((400)) FOR [InstanceMaxAgeDays]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((5000)) FOR [InstanceMaxRowsToGroom]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT (getutcdate()) FOR [LastConfigOptimizationDateTime]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((60)) FOR [ConfigOptimizationFrequencySeconds]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT (getutcdate()) FOR [LastConfigGroomingDateTime]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((60)) FOR [ConfigGroomingFrequencyMinutes]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((400)) FOR [ManagementPackMaxAgeDays]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((3)) FOR [NonSealedManagementPackMaxVersionCount]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ('00:00') FOR [BlockingMaintenanceStartTime]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((480)) FOR [BlockingMaintenanceDurationMinutes]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ('00:00') FOR [ComponentDeploymentStartTime]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((1440)) FOR [ComponentDeploymentDurationMinutes]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((15)) FOR [StatisticsUpdateMaxDurationSeconds]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((12)) FOR [StatisticsUpdateMaxStatAgeHours]
GO
ALTER TABLE [dbo].[MaintenanceSetting] ADD  DEFAULT ((90)) FOR [StagingDataMaxAgeDays]
GO
