USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ServiceLevelObjective]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceLevelObjective](
	[ServiceLevelObjectiveRowId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceLevelObjectiveGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ServiceLevelObjectiveSystemName] [nvarchar](256) NOT NULL,
	[ServiceLevelObjectiveDefaultName] [nvarchar](256) NOT NULL,
	[ServiceLevelObjectiveDefaultDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ServiceLevelObjective] PRIMARY KEY CLUSTERED 
(
	[ServiceLevelObjectiveRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ServiceLevelObjective_ServiceLevelObjectiveGuid] UNIQUE NONCLUSTERED 
(
	[ServiceLevelObjectiveGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceLevelObjective]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelObjective_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[ServiceLevelObjective] CHECK CONSTRAINT [FK_ServiceLevelObjective_ManagementPack]
GO
