USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[AemApplication]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AemApplication](
	[ApplicationRowId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationManagedEntityId] [uniqueidentifier] NOT NULL,
	[ApplicationName] [nvarchar](256) NOT NULL,
	[ApplicationVersion] [nvarchar](256) NOT NULL,
	[CompanyName] [nvarchar](256) NULL,
	[FriendlyApplicationName] [nvarchar](256) NULL,
	[LastReceivedDateTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_AemApplication] PRIMARY KEY CLUSTERED 
(
	[ApplicationRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AemApplication] ADD  DEFAULT (getutcdate()) FOR [LastReceivedDateTime]
GO
