USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[WorkflowCategory]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowCategory](
	[WorkflowCategoryRowId] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowCategorySystemName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_WorkflowCategory] PRIMARY KEY CLUSTERED 
(
	[WorkflowCategoryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_WorkflowCategory_WorkflowCategorySystemName] UNIQUE NONCLUSTERED 
(
	[WorkflowCategorySystemName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
