USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StateProcessedMaintenanceMode]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateProcessedMaintenanceMode](
	[MaintenanceModeRowId] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NULL,
	[PlannedMaintenanceInd] [bit] NOT NULL,
	[MaintenanceModeDWLastModifiedDateTime] [datetime] NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_StateProcessedMaintenanceMode] PRIMARY KEY CLUSTERED 
(
	[MaintenanceModeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StateProcessedMaintenanceMode] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[StateProcessedMaintenanceMode] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
