USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StandardDatasetAggregationStorageIndex]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardDatasetAggregationStorageIndex](
	[StandardDatasetAggregationStorageIndexRowId] [int] IDENTITY(1,1) NOT NULL,
	[StandardDatasetAggregationStorageRowId] [int] NOT NULL,
	[PrimaryKeyInd] [bit] NOT NULL,
	[UniqueInd] [bit] NOT NULL,
	[IndexGuid] [uniqueidentifier] NULL,
	[IndexDefinition] [nvarchar](1000) NULL,
	[OnlineRebuildPossibleInd] [bit] NULL,
	[OnlineRebuildLastPerformedDateTime] [datetime] NULL,
 CONSTRAINT [PK_StandardDatasetAggregationStorageIndex] PRIMARY KEY CLUSTERED 
(
	[StandardDatasetAggregationStorageIndexRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_StandardDatasetAggregationStorageIndex_IndexGuid] UNIQUE NONCLUSTERED 
(
	[StandardDatasetAggregationStorageRowId] ASC,
	[IndexGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StandardDatasetAggregationStorageIndex] ADD  DEFAULT ((0)) FOR [PrimaryKeyInd]
GO
ALTER TABLE [dbo].[StandardDatasetAggregationStorageIndex]  WITH CHECK ADD  CONSTRAINT [FK_StandardDatasetAggregationStorageIndex_StandardDatasetAggregationStorage] FOREIGN KEY([StandardDatasetAggregationStorageRowId])
REFERENCES [dbo].[StandardDatasetAggregationStorage] ([StandardDatasetAggregationStorageRowId])
GO
ALTER TABLE [dbo].[StandardDatasetAggregationStorageIndex] CHECK CONSTRAINT [FK_StandardDatasetAggregationStorageIndex_StandardDatasetAggregationStorage]
GO
ALTER TABLE [dbo].[StandardDatasetAggregationStorageIndex]  WITH CHECK ADD  CONSTRAINT [CHK_StandardDatasetAggregationStorageIndex_Index] CHECK  (([PrimaryKeyInd]=(1) AND [UniqueInd]=(1) AND [IndexGuid] IS NULL AND [IndexDefinition] IS NULL OR [PrimaryKeyInd]=(0) AND [IndexGuid] IS NOT NULL AND [IndexDefinition] IS NOT NULL))
GO
ALTER TABLE [dbo].[StandardDatasetAggregationStorageIndex] CHECK CONSTRAINT [CHK_StandardDatasetAggregationStorageIndex_Index]
GO
