USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ResolutionState]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResolutionState](
	[ResolutionStateId] [int] NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[ResolutionStateGuid] [uniqueidentifier] NOT NULL,
	[ResolutionStateName] [nvarchar](50) NOT NULL,
	[PredefinedInd] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastModifiedDateTime] [datetime] NOT NULL,
	[DeletedDateTime] [datetime] NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ResolutionState] PRIMARY KEY CLUSTERED 
(
	[ManagementGroupRowId] ASC,
	[ResolutionStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResolutionState] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[ResolutionState] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[ResolutionState]  WITH CHECK ADD  CONSTRAINT [FK_ResolutionState_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[ResolutionState] CHECK CONSTRAINT [FK_ResolutionState_ManagementGroup]
GO
