USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntityTypeProperty]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityTypeProperty](
	[ManagedEntityTypePropertyRowId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[PropertySystemName] [nvarchar](256) NOT NULL,
	[PropertyDefaultName] [nvarchar](256) NOT NULL,
	[PropertyDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_ManagedEntityTypeProperty] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityTypePropertyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntityTypeProperty_PropertyGuid] UNIQUE NONCLUSTERED 
(
	[PropertyGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntityTypeProperty]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityTypeProperty_ManagedEntityType] FOREIGN KEY([ManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ManagedEntityTypeProperty] CHECK CONSTRAINT [FK_ManagedEntityTypeProperty_ManagedEntityType]
GO
