USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[AemSystemErrorGroup]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AemSystemErrorGroup](
	[ErrorGroupRowId] [int] IDENTITY(1,1) NOT NULL,
	[ErrorGroupManagedEntityId] [uniqueidentifier] NOT NULL,
	[BucketType] [nvarchar](4) NOT NULL,
	[CrashTime] [datetime] NULL,
	[AemUserRowId] [int] NULL,
	[AemComputerRowId] [int] NULL,
	[MicrosoftResponseUrl] [nvarchar](256) NULL,
	[LastReceivedDateTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_AemSystemErrorGroup] PRIMARY KEY CLUSTERED 
(
	[ErrorGroupRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AemSystemErrorGroup] ADD  DEFAULT ('Blue') FOR [BucketType]
GO
ALTER TABLE [dbo].[AemSystemErrorGroup] ADD  DEFAULT (getutcdate()) FOR [LastReceivedDateTime]
GO
