USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[ModuleRowId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [nvarchar](512) NULL,
	[ModuleName] [nvarchar](512) NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[ParentRowId] [int] NOT NULL,
	[ParentType] [varchar](20) NOT NULL,
	[ModuleTypeId] [nvarchar](256) NULL,
	[TargetTypeId] [nvarchar](256) NULL,
	[ModuleConfiguration] [nvarchar](max) NULL,
	[Comment] [nvarchar](256) NULL,
	[RunAs] [nvarchar](512) NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[ModuleRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_ManagementVersionPack] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_ManagementVersionPack]
GO
