USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[Dataset]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dataset](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[DatasetTypeManagementPackVersionRowId] [int] NOT NULL,
	[MemberDatabaseRowId] [int] NOT NULL,
	[DatasetDefaultName] [nvarchar](256) NOT NULL,
	[DatasetDefaultDescription] [nvarchar](max) NULL,
	[ConfigurationXml] [xml] NULL,
	[InstallCompletedInd] [bit] NOT NULL,
	[InstalledDateTime] [datetime] NOT NULL,
	[LastUpgradeCompletedInd] [bit] NULL,
	[LastUpgradedDateTime] [datetime] NULL,
 CONSTRAINT [PK_Dataset] PRIMARY KEY CLUSTERED 
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dataset] ADD  DEFAULT ((0)) FOR [InstallCompletedInd]
GO
ALTER TABLE [dbo].[Dataset] ADD  DEFAULT (getutcdate()) FOR [InstalledDateTime]
GO
ALTER TABLE [dbo].[Dataset]  WITH CHECK ADD  CONSTRAINT [FK_Dataset_DatasetTypeManagementPackVersion] FOREIGN KEY([DatasetTypeManagementPackVersionRowId])
REFERENCES [dbo].[DatasetTypeManagementPackVersion] ([DatasetTypeManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[Dataset] CHECK CONSTRAINT [FK_Dataset_DatasetTypeManagementPackVersion]
GO
ALTER TABLE [dbo].[Dataset]  WITH CHECK ADD  CONSTRAINT [FK_Dataset_MemberDatabase] FOREIGN KEY([MemberDatabaseRowId])
REFERENCES [dbo].[MemberDatabase] ([MemberDatabaseRowId])
GO
ALTER TABLE [dbo].[Dataset] CHECK CONSTRAINT [FK_Dataset_MemberDatabase]
GO
