USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[MaintenanceMode]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceMode](
	[MaintenanceModeRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityRowId] [int] NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NULL,
	[PlannedMaintenanceInd] [bit] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_MaintenanceMode] PRIMARY KEY CLUSTERED 
(
	[MaintenanceModeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceMode] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[MaintenanceMode]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceMode_ManagedEntity] FOREIGN KEY([ManagedEntityRowId])
REFERENCES [dbo].[ManagedEntity] ([ManagedEntityRowId])
GO
ALTER TABLE [dbo].[MaintenanceMode] CHECK CONSTRAINT [FK_MaintenanceMode_ManagedEntity]
GO
