USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagementPack]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPack](
	[ManagementPackRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementPackVersionIndependentGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackSystemName] [nvarchar](256) NOT NULL,
	[ManagementPackDefaultName] [nvarchar](1000) NOT NULL,
	[ManagementPackDefaultDescription] [nvarchar](max) NULL,
	[PublicKeyToken] [varchar](50) NULL,
	[SealedInd]  AS (case when [PublicKeyToken] IS NULL then (0) else (1) end),
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
	[DWLastModifiedByManagementGroupGuid] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](256) NULL,
 CONSTRAINT [PK_ManagementPack] PRIMARY KEY CLUSTERED 
(
	[ManagementPackRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagementPack_ManagementPackGuid] UNIQUE NONCLUSTERED 
(
	[ManagementPackVersionIndependentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementPack] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[ManagementPack] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
