USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntityTypePropertyManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityTypePropertyManagementPackVersion](
	[ManagedEntityTypePropertyManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityTypePropertyRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[KeyInd] [bit] NOT NULL,
	[PropertyType] [nvarchar](50) NOT NULL,
	[CaseSensitiveInd] [bit] NULL,
	[PropertyLength] [int] NULL,
 CONSTRAINT [PK_ManagedEntityTypePropertyManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityTypePropertyManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntityTypePropertyManagementPackVersionRowId_PropertyRowId] UNIQUE NONCLUSTERED 
(
	[ManagedEntityTypePropertyRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntityTypePropertyManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityTypePropertyManagementPackVersion_ManagedEntityTypeProperty] FOREIGN KEY([ManagedEntityTypePropertyRowId])
REFERENCES [dbo].[ManagedEntityTypeProperty] ([ManagedEntityTypePropertyRowId])
GO
ALTER TABLE [dbo].[ManagedEntityTypePropertyManagementPackVersion] CHECK CONSTRAINT [FK_ManagedEntityTypePropertyManagementPackVersion_ManagedEntityTypeProperty]
GO
ALTER TABLE [dbo].[ManagedEntityTypePropertyManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityTypePropertyManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ManagedEntityTypePropertyManagementPackVersion] CHECK CONSTRAINT [FK_ManagedEntityTypePropertyManagementPackVersion_ManagementPackVersion]
GO
