USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[AemEventStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AemEventStage](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[CrashId] [uniqueidentifier] NOT NULL,
	[ErrorGroupManagedEntityId] [uniqueidentifier] NOT NULL,
	[AemComputerName] [nvarchar](256) NULL,
	[AemUserName] [nvarchar](256) NULL,
	[CrashTime]  AS ([DateTime]),
	[DWCreatedDataTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AemEventStage] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDataTime]
GO
