USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntityTypeImage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityTypeImage](
	[ManagedEntityTypeImageRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[ImageCategory] [nvarchar](30) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_ManagedEntityTypeImage] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityTypeImageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntityTypeImage_ManagedEntityTypeRowIdImageCategory] UNIQUE NONCLUSTERED 
(
	[ManagedEntityTypeRowId] ASC,
	[ImageCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntityTypeImage]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityTypeImage_ManagedEntityType] FOREIGN KEY([ManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ManagedEntityTypeImage] CHECK CONSTRAINT [FK_ManagedEntityTypeImage_ManagedEntityType]
GO
