USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[MaintenanceModeHistory]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceModeHistory](
	[MaintenanceModeHistoryRowId] [int] IDENTITY(1,1) NOT NULL,
	[MaintenanceModeRowId] [int] NOT NULL,
	[ScheduledEndDateTime] [datetime] NOT NULL,
	[PlannedMaintenanceInd] [bit] NOT NULL,
	[ReasonCode] [tinyint] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[UserId] [nvarchar](256) NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DWCreatedDateTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MaintenanceModeHistory] PRIMARY KEY CLUSTERED 
(
	[MaintenanceModeHistoryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceModeHistory] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[MaintenanceModeHistory]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceModeHistory_MaintenanceMode] FOREIGN KEY([MaintenanceModeRowId])
REFERENCES [dbo].[MaintenanceMode] ([MaintenanceModeRowId])
GO
ALTER TABLE [dbo].[MaintenanceModeHistory] CHECK CONSTRAINT [FK_MaintenanceModeHistory_MaintenanceMode]
GO
