USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vManagedEntityPropertyChange]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vManagedEntityPropertyChange]
AS
SELECT
   mep.ManagedEntityRowId
  ,mep.ManagedEntityPropertyRowId
	,ChangeDateTime = mep.FromDateTime
	,PropertyGuid = T.p.value('@Guid', 'uniqueidentifier')
	,OldValue = T.p.value('OldValue[1]', 'nvarchar(max)')
	,NewValue = T.p.value('NewValue[1]', 'nvarchar(max)')
FROM vManagedEntityProperty mep
      CROSS APPLY mep.DeltaXml.nodes('Root/Property') AS T(p)
GO
