USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntity]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntity](
	[ManagedEntityRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[TopLevelHostManagedEntityRowId] [int] NULL,
	[FullName] [nvarchar](max) NULL,
	[Path] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[ManagedEntityDefaultName]  AS ([DisplayName]),
	[DWCreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ManagedEntity] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntity_ManagementGroupRowIdManagedEntityGuid] UNIQUE NONCLUSTERED 
(
	[ManagementGroupRowId] ASC,
	[ManagedEntityGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntity] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[ManagedEntity]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntity_ManagedEntityType] FOREIGN KEY([ManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ManagedEntity] CHECK CONSTRAINT [FK_ManagedEntity_ManagedEntityType]
GO
ALTER TABLE [dbo].[ManagedEntity]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntity_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[ManagedEntity] CHECK CONSTRAINT [FK_ManagedEntity_ManagementGroup]
GO
