USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[EventLevel]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLevel](
	[EventLevelId] [tinyint] NOT NULL,
	[EventLevelTitle] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_EventLevel] PRIMARY KEY CLUSTERED 
(
	[EventLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
