USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ModuleTypeManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleTypeManagementPackVersion](
	[ModuleTypeManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleTypeRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[MDTOutputDatatypeId] [nvarchar](512) NULL,
	[MDTAccessibility] [nvarchar](100) NOT NULL,
	[MDTIncludeSchemaTypes] [nvarchar](max) NULL,
	[MDTPassThrough] [bit] NOT NULL,
	[MDTStateful] [bit] NOT NULL,
	[MDTTriggerOnly] [bit] NOT NULL,
	[MDTBatching] [bit] NOT NULL,
	[MDTConfigurationXSD] [nvarchar](max) NULL,
	[MDTImplementationXML] [nvarchar](max) NULL,
	[MDTInputTypes] [nvarchar](max) NULL,
	[MDTRunAs] [nvarchar](512) NULL,
 CONSTRAINT [PK_ModuleTypeManagementPackVersionRowId] PRIMARY KEY CLUSTERED 
(
	[ModuleTypeManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ModuleTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ModuleTypeManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ModuleTypeManagementPackVersion] CHECK CONSTRAINT [FK_ModuleTypeManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[ModuleTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ModuleTypeManagementPackVersion_ModuleType] FOREIGN KEY([ModuleTypeRowId])
REFERENCES [dbo].[ModuleType] ([ModuleTypeRowId])
GO
ALTER TABLE [dbo].[ModuleTypeManagementPackVersion] CHECK CONSTRAINT [FK_ModuleTypeManagementPackVersion_ModuleType]
GO
