USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[MaintenanceModeStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceModeStage](
	[MaintenanceModeStageRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityRowId] [int] NULL,
	[StartDateTime] [datetime] NOT NULL,
	[ScheduledEndDateTime] [datetime] NOT NULL,
	[ActualEndDateTime] [datetime] NULL,
	[PlannedMaintenanceInd] [bit] NOT NULL,
	[ReasonCode] [tinyint] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[UserId] [nvarchar](256) NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DWCreatedDateTime] [smalldatetime] NOT NULL,
	[InsertReadyInd]  AS (isnull([ManagedEntityRowId],(0))),
 CONSTRAINT [PK_MaintenanceModeStage] PRIMARY KEY CLUSTERED 
(
	[MaintenanceModeStageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceModeStage] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[MaintenanceModeStage]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceModeStage_ManagedEntity] FOREIGN KEY([ManagedEntityRowId])
REFERENCES [dbo].[ManagedEntity] ([ManagedEntityRowId])
GO
ALTER TABLE [dbo].[MaintenanceModeStage] CHECK CONSTRAINT [FK_MaintenanceModeStage_ManagedEntity]
GO
ALTER TABLE [dbo].[MaintenanceModeStage]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceModeStage_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[MaintenanceModeStage] CHECK CONSTRAINT [FK_MaintenanceModeStage_ManagementGroup]
GO
