USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[Diagnostic]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostic](
	[DiagnosticRowId] [int] IDENTITY(1,1) NOT NULL,
	[DiagnosticGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[DiagnosticSystemName] [nvarchar](256) NOT NULL,
	[DiagnosticDefaultName] [nvarchar](256) NOT NULL,
	[DiagnosticDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Diagnostic] PRIMARY KEY CLUSTERED 
(
	[DiagnosticRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_Diagnostic_DiagnosticGuid] UNIQUE NONCLUSTERED 
(
	[DiagnosticGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Diagnostic]  WITH CHECK ADD  CONSTRAINT [FK_Diagnostic_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[Diagnostic] CHECK CONSTRAINT [FK_Diagnostic_ManagementPack]
GO
