USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[TypedManagedEntityStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypedManagedEntityStage](
	[TypedManagedEntityStageRowId] [int] IDENTITY(1,1) NOT NULL,
	[DiscoveredInd] [bit] NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityRowId] [int] NULL,
	[ManagedEntityTypeGuid] [uniqueidentifier] NULL,
	[ManagedEntityTypeRowId] [int] NULL,
	[InsertReadyInd]  AS (case when [DiscoveredInd]=(0) then [DeleteProcessedInd] else isnull([ManagedEntityRowId]+[ManagedEntityTypeRowId],(0)) end),
	[DeleteProcessedInd] [bit] NOT NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TypedManagedEntityStage] PRIMARY KEY CLUSTERED 
(
	[TypedManagedEntityStageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypedManagedEntityStage] ADD  DEFAULT ((0)) FOR [DeleteProcessedInd]
GO
ALTER TABLE [dbo].[TypedManagedEntityStage] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[TypedManagedEntityStage]  WITH CHECK ADD  CONSTRAINT [FK_TypedManagedEntityStage_ManagedEntity] FOREIGN KEY([ManagedEntityRowId])
REFERENCES [dbo].[ManagedEntity] ([ManagedEntityRowId])
GO
ALTER TABLE [dbo].[TypedManagedEntityStage] CHECK CONSTRAINT [FK_TypedManagedEntityStage_ManagedEntity]
GO
ALTER TABLE [dbo].[TypedManagedEntityStage]  WITH CHECK ADD  CONSTRAINT [FK_TypedManagedEntityStage_ManagedEntityType] FOREIGN KEY([ManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[TypedManagedEntityStage] CHECK CONSTRAINT [FK_TypedManagedEntityStage_ManagedEntityType]
GO
ALTER TABLE [dbo].[TypedManagedEntityStage]  WITH CHECK ADD  CONSTRAINT [FK_TypedManagedEntityStage_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[TypedManagedEntityStage] CHECK CONSTRAINT [FK_TypedManagedEntityStage_ManagementGroup]
GO
