USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vRecoveryManagementPackVersionNoXml]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vRecoveryManagementPackVersionNoXml]
AS
  SELECT
     RecoveryManagementPackVersionRowId
    ,RecoveryRowId
    ,ManagementPackVersionRowId
    ,WorkflowCategoryRowId
    ,Accessibility
    ,EnabledInd
    ,TargetManagedEntityTypeRowId
    ,RemotableInd
    ,Timeout
    ,MonitorRowId
    ,ExecuteOnHealthStateRowId
    ,ExecuteOnDiagnosticRowId
    ,ResetMonitorInd
    ,DefinitionXml = CAST (DefinitionXml AS nvarchar(max))
    ,DefinitionHash
  FROM vRecoveryManagementPackVersion
GO
