USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vStateDailyFull]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vStateDailyFull] AS  SELECT      [DateTime]    ,[Date]    ,[Time]    ,ManagedEntityMonitorRowId    ,ManagedEntityRowId    ,MonitorRowId    ,IntervalDurationMilliseconds    ,InYellowStateMilliseconds    ,InRedStateMilliseconds    ,InPlannedMaintenanceMilliseconds    ,InUnplannedMaintenanceMilliseconds    ,InDisabledStateMilliseconds    ,HealthServiceUnavailableMilliseconds    ,InWhiteStateMilliseconds =      CASE        WHEN ((ManagedEntityMonitorExistedInd = 0) OR               (ah.AggregationCount = 0) OR               (DATEADD(ms, IntervalDurationMilliseconds, [DateTime]) >= GETUTCDATE()))              THEN IntervalDurationMilliseconds - InYellowStateMilliseconds - InRedStateMilliseconds - InDisabledStateMilliseconds - InPlannedMaintenanceMilliseconds - InUnplannedMaintenanceMilliseconds - HealthServiceUnavailableMilliseconds        ELSE 0      END    ,InGreenStateMilliseconds =      CASE        WHEN (ManagedEntityMonitorExistedInd = 1) AND                   ((ah.AggregationCount > 0) OR                   ((ah.AggregationCount IS NULL) AND                    (DATEADD(ms, IntervalDurationMilliseconds, [DateTime]) < GETUTCDATE())))             THEN IntervalDurationMilliseconds - InYellowStateMilliseconds - InRedStateMilliseconds - InDisabledStateMilliseconds - InPlannedMaintenanceMilliseconds - InUnplannedMaintenanceMilliseconds - HealthServiceUnavailableMilliseconds        ELSE 0      END  FROM (    SELECT       dt.[DateTime]      ,dt.[Date]      ,dt.[Time]      ,ManagedEntityMonitorRowId = mem.ManagedEntityMonitorRowId      ,ManagedEntityRowId = mem.ManagedEntityRowId      ,MonitorRowId = mem.MonitorRowId      ,ManagedEntityMonitorExistedInd = CASE WHEN mem_exists.ManagedEntityMonitorRowId IS NULL THEN 0 ELSE 1 END      ,IntervalDurationMilliseconds = 60 * 1000 * 1440      ,InYellowStateMilliseconds = ISNULL(s.InYellowStateMilliseconds, 0)      ,InRedStateMilliseconds = ISNULL(s.InRedStateMilliseconds, 0)      ,InDisabledStateMilliseconds = ISNULL(s.InDisabledStateMilliseconds, 0)      ,InPlannedMaintenanceMilliseconds = ISNULL(s.InPlannedMaintenanceMilliseconds, 0)      ,InUnplannedMaintenanceMilliseconds = ISNULL(s.InUnplannedMaintenanceMilliseconds, 0)      ,HealthServiceUnavailableMilliseconds = ISNULL(s.HealthServiceUnavailableMilliseconds, 0)    FROM vDateTime dt          CROSS JOIN vManagedEntityMonitor mem          LEFT JOIN [State].[vStateDaily] s ON ((s.[DateTime] >= dt.[DateTime]) AND (s.[DateTime] < DATEADD(day, 1, dt.[DateTime])) AND (s.ManagedEntityMonitorRowId = mem.ManagedEntityMonitorRowId))          LEFT JOIN (SELECT DISTINCT mem2.ManagedEntityMonitorRowId, dt2.[Date], dt2.[Time] FROM vDateTime dt2 CROSS JOIN vManagedEntityMonitor mem2 JOIN vManagedEntity me ON (me.ManagedEntityRowId = mem2.ManagedEntityRowId) JOIN vMonitorManagementPackVersion mmpv ON (mmpv.MonitorRowId = mem2.MonitorRowId) JOIN vManagementGroupManagementPackVersion mgmpv ON ((mgmpv.ManagementPackVersionRowId = mmpv.ManagementPackVersionRowId) AND (mgmpv.ManagementGroupRowId = me.ManagementGroupRowId) AND (dt2.[DateTime] >= mgmpv.InstalledDateTime) AND  (dt2.[DateTime] < ISNULL(mgmpv.DeletedDateTime, '99991231'))) JOIN vManagedEntityManagementGroup memg ON ((mem2.ManagedEntityRowId = memg.ManagedEntityRowId) AND (dt2.[DateTime] >= memg.FromDateTime) AND  (dt2.[DateTime] < ISNULL(memg.ToDateTime, '99991231'))) WHERE (dt2.Minute = ABS(DATEDIFF(minute, GETUTCDATE(), GETDATE()) % 60)) AND DATEADD(minute, DATEDIFF(minute, GETUTCDATE(), GETDATE()), dt2.[DateTime]) = CONVERT(datetime, CONVERT(char(8), DATEADD(minute, DATEDIFF(minute, GETUTCDATE(), GETDATE()), dt2.[DateTime]), 112), 112)                    ) AS mem_exists ON (mem_exists.ManagedEntityMonitorRowId = mem.ManagedEntityMonitorRowId) AND (mem_exists.[Date] = dt.[Date]) AND (mem_exists.[Time] = dt.[Time]) WHERE (dt.Minute = ABS(DATEDIFF(minute, GETUTCDATE(), GETDATE()) % 60)) AND DATEADD(minute, DATEDIFF(minute, GETUTCDATE(), GETDATE()), dt.[DateTime]) = CONVERT(datetime, CONVERT(char(8), DATEADD(minute, DATEDIFF(minute, GETUTCDATE(), GETDATE()), dt.[DateTime]), 112), 112)  ) AS tbl  LEFT JOIN StandardDatasetAggregationHistory (NOLOCK) ah ON             ((ah.AggregationDateTime >= tbl.[DateTime]) AND (ah.AggregationDateTime < DATEADD(day, 1, tbl.[DateTime]))          AND (ah.DatasetId = '78c7b428-7479-4b8f-b2b7-a37aa56c75d3')          AND (ah.AggregationTypeId = 30))
GO
