USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StandardDatasetStagingArea]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardDatasetStagingArea](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[StagingTableColumnDefinition] [nvarchar](max) NULL,
	[MaxRowsToProcessPerTransactionCount] [int] NULL,
	[BatchedProcessingSupportedInd] [bit] NOT NULL,
 CONSTRAINT [PK_StandardDatasetStagingArea] PRIMARY KEY CLUSTERED 
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
