USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vDiagnosticManagementPackVersionNoXml]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDiagnosticManagementPackVersionNoXml]
AS
  SELECT
     DiagnosticManagementPackVersionRowId
    ,DiagnosticRowId
    ,ManagementPackVersionRowId
    ,WorkflowCategoryRowId
    ,Accessibility
    ,EnabledInd
    ,TargetManagedEntityTypeRowId
    ,MonitorRowId
    ,ExecuteOnHealthStateRowId
    ,RemotableInd
    ,Timeout
    ,DefinitionXml = CAST (DefinitionXml AS nvarchar(max))
    ,DefinitionHash
   FROM vDiagnosticManagementPackVersion
GO
