USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DomainTableIndexOptimizationHistory]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainTableIndexOptimizationHistory](
	[DomainTableIndexOptimizationHistoryRowId] [int] IDENTITY(1,1) NOT NULL,
	[DomainTableIndexRowId] [int] NOT NULL,
	[OptimizationStartDateTime] [datetime] NOT NULL,
	[OptimizationDurationSeconds] [int] NOT NULL,
	[BeforeAvgFragmentationInPercent] [float] NOT NULL,
	[AfterAvgFragmentationInPercent] [float] NOT NULL,
	[OptimizationMethod] [varchar](50) NULL,
 CONSTRAINT [PK_DomainTableIndexOptimizationHistory] PRIMARY KEY CLUSTERED 
(
	[DomainTableIndexOptimizationHistoryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DomainTableIndexOptimizationHistory] ADD  DEFAULT (getutcdate()) FOR [OptimizationStartDateTime]
GO
