USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DomainSynchronization]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainSynchronization](
	[DomainSynchronizationRowId] [int] IDENTITY(1,1) NOT NULL,
	[DomainName] [varchar](100) NOT NULL,
	[ProcessingStoredProcedureName] [sysname] NOT NULL,
 CONSTRAINT [PK_DomainSynchronization] PRIMARY KEY CLUSTERED 
(
	[DomainSynchronizationRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_DomainSynchronization_DomainName] UNIQUE NONCLUSTERED 
(
	[DomainName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
