USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StateAggregationProcessing]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateAggregationProcessing](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[LastProcessedMaintenanceModeModifiedDateTime] [datetime] NULL,
	[LastProcessedHealthServiceOutageModifiedDateTime] [datetime] NULL
) ON [PRIMARY]
GO
