USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[SchemaType]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemaType](
	[SchemaTypeRowId] [int] IDENTITY(1,1) NOT NULL,
	[SchemaTypeGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[SchemaTypeSystemName] [nvarchar](256) NOT NULL,
	[SchemaTypeDefaultName] [nvarchar](256) NOT NULL,
	[SchemaTypeDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_SchemaType] PRIMARY KEY CLUSTERED 
(
	[SchemaTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_SchemaType_SchemaTypeGuid] UNIQUE NONCLUSTERED 
(
	[SchemaTypeGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchemaType]  WITH CHECK ADD  CONSTRAINT [FK_SchemaType_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[SchemaType] CHECK CONSTRAINT [FK_SchemaType_ManagementPack]
GO
