USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[EventCategory]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCategory](
	[EventCategoryRowId] [int] IDENTITY(1,1) NOT NULL,
	[EventPublisherRowId] [int] NOT NULL,
	[EventCategoryId] [int] NOT NULL,
	[EventCategoryTitle] [nvarchar](255) NOT NULL,
	[LastReceivedDateTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_EventCategory] PRIMARY KEY CLUSTERED 
(
	[EventCategoryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_EventCategory_PublisherIdEventCategoryId] UNIQUE NONCLUSTERED 
(
	[EventPublisherRowId] ASC,
	[EventCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventCategory] ADD  DEFAULT (getutcdate()) FOR [LastReceivedDateTime]
GO
