USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StandardDatasetTableMap]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardDatasetTableMap](
	[StandardDatasetTableMapRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[DatasetId] [uniqueidentifier] NOT NULL,
	[AggregationTypeId] [tinyint] NOT NULL,
	[TableGuid] [uniqueidentifier] NOT NULL,
	[TableNameSuffix]  AS (replace(CONVERT([varchar](50),[TableGuid]),'-','')),
	[InsertInd] [bit] NOT NULL,
	[OptimizedInd] [bit] NOT NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
 CONSTRAINT [PK_StandardDatasetTableMap] PRIMARY KEY CLUSTERED 
(
	[StandardDatasetTableMapRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_StandardDatasetTableMap_DatasetAggergationTypeTable] UNIQUE NONCLUSTERED 
(
	[DatasetId] ASC,
	[AggregationTypeId] ASC,
	[TableGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StandardDatasetTableMap] ADD  DEFAULT ((1)) FOR [InsertInd]
GO
ALTER TABLE [dbo].[StandardDatasetTableMap] ADD  DEFAULT ((0)) FOR [OptimizedInd]
GO
