USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[Override]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Override](
	[OverrideRowId] [int] IDENTITY(1,1) NOT NULL,
	[OverrideGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[OverrideSystemName] [nvarchar](256) NOT NULL,
	[OverrideDefaultName] [nvarchar](256) NOT NULL,
	[OverrideDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Override] PRIMARY KEY CLUSTERED 
(
	[OverrideRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_Override_OverrideGuid] UNIQUE NONCLUSTERED 
(
	[OverrideGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Override]  WITH CHECK ADD  CONSTRAINT [FK_Override_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[Override] CHECK CONSTRAINT [FK_Override_ManagementPack]
GO
