USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[SchemaTypeManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemaTypeManagementPackVersion](
	[SchemaTypeManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[SchemaTypeRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[Definition] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SchemaTypeManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[SchemaTypeManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_SchemaTypeManagementPackVersion_SchemaTypeManagementPack] UNIQUE NONCLUSTERED 
(
	[ManagementPackVersionRowId] ASC,
	[SchemaTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchemaTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_SchemaTypeManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[SchemaTypeManagementPackVersion] CHECK CONSTRAINT [FK_SchemaTypeManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[SchemaTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_SchemaTypeManagementPackVersion_SchemaType] FOREIGN KEY([SchemaTypeRowId])
REFERENCES [dbo].[SchemaType] ([SchemaTypeRowId])
GO
ALTER TABLE [dbo].[SchemaTypeManagementPackVersion] CHECK CONSTRAINT [FK_SchemaTypeManagementPackVersion_SchemaType]
GO
