USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DatasetTypeManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetTypeManagementPackVersion](
	[DatasetTypeManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[DatasetTypeRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[ConfigurationXsd] [nvarchar](max) NOT NULL,
	[InstallSql] [nvarchar](max) NOT NULL,
	[UninstallSql] [nvarchar](max) NOT NULL,
	[UpgradeSupportedInd] [bit] NOT NULL,
	[UpgradeSql] [nvarchar](max) NULL,
 CONSTRAINT [PK_DatasetTypeManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[DatasetTypeManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_DatasetTypeManagementPackVersion_DatasetTypeManagementPackVersion] UNIQUE NONCLUSTERED 
(
	[ManagementPackVersionRowId] ASC,
	[DatasetTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatasetTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DatasetTypeManagementPackVersion_DatasetType] FOREIGN KEY([DatasetTypeRowId])
REFERENCES [dbo].[DatasetType] ([DatasetTypeRowId])
GO
ALTER TABLE [dbo].[DatasetTypeManagementPackVersion] CHECK CONSTRAINT [FK_DatasetTypeManagementPackVersion_DatasetType]
GO
ALTER TABLE [dbo].[DatasetTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DatasetTypeManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[DatasetTypeManagementPackVersion] CHECK CONSTRAINT [FK_DatasetTypeManagementPackVersion_ManagementPackVersion]
GO
