USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[TypedManagedEntity]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypedManagedEntity](
	[TypedManagedEntityRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[FromDateTime] [datetime] NOT NULL,
	[ToDateTime] [datetime] NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TypedManagedEntity] PRIMARY KEY CLUSTERED 
(
	[TypedManagedEntityRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypedManagedEntity] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[TypedManagedEntity] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[TypedManagedEntity]  WITH CHECK ADD  CONSTRAINT [FK_TypedManagedEntity_ManagedEntity] FOREIGN KEY([ManagedEntityRowId])
REFERENCES [dbo].[ManagedEntity] ([ManagedEntityRowId])
GO
ALTER TABLE [dbo].[TypedManagedEntity] CHECK CONSTRAINT [FK_TypedManagedEntity_ManagedEntity]
GO
ALTER TABLE [dbo].[TypedManagedEntity]  WITH CHECK ADD  CONSTRAINT [FK_TypedManagedEntity_ManagedEntityType] FOREIGN KEY([ManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[TypedManagedEntity] CHECK CONSTRAINT [FK_TypedManagedEntity_ManagedEntityType]
GO
