USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[AemComputer]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AemComputer](
	[AemComputerRowId] [int] IDENTITY(1,1) NOT NULL,
	[AemComputerName] [nvarchar](256) NOT NULL,
	[LastReceivedDateTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_AemComputer] PRIMARY KEY CLUSTERED 
(
	[AemComputerRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AemComputer] ADD  DEFAULT (getutcdate()) FOR [LastReceivedDateTime]
GO
