USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ModuleType]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleType](
	[ModuleTypeRowId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleTypeGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ModuleTypeSystemName] [nvarchar](256) NOT NULL,
	[ModuleTypeDefaultName] [nvarchar](256) NULL,
	[ModuleTypeDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_ModuleType] PRIMARY KEY CLUSTERED 
(
	[ModuleTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ModuleType]  WITH CHECK ADD  CONSTRAINT [FK_ModuleType_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[ModuleType] CHECK CONSTRAINT [FK_ModuleType_ManagementPack]
GO
