USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[MonitorManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorManagementPackVersion](
	[MonitorManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[MonitorRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[WorkflowCategoryRowId] [int] NOT NULL,
	[ParentMonitorRowId] [int] NULL,
	[UnitMonitorInd] [bit] NOT NULL,
	[AggregateMonitorInd] [bit] NOT NULL,
	[DependencyMonitorInd] [bit] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[RelationshipTypeRowId] [int] NULL,
	[DependencyMonitorRowId] [int] NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[EnabledInd] [tinyint] NOT NULL,
	[RemotableInd] [bit] NULL,
	[ConfirmDeliveryInd] [bit] NULL,
	[GenerateAlertInd] [bit] NOT NULL,
	[AlertOnHealthStateRowId] [tinyint] NULL,
	[AutoResolveAlertInd] [bit] NULL,
	[AlertPriority] [nvarchar](50) NULL,
	[AlertSeverity] [nvarchar](50) NULL,
	[Algorithm] [nvarchar](256) NULL,
	[AlgorithmParameter] [nvarchar](256) NULL,
	[Priority] [nvarchar](20) NULL,
	[MemberInMaintenanceHealthStateRowId] [tinyint] NULL,
	[MemberUnavailableHealthStateRowId] [tinyint] NULL,
	[DefinitionXml] [xml] NOT NULL,
	[DefinitionHash] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MonitorManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[MonitorManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_MonitorManagementPackVersion_MonitorManagementPack] UNIQUE NONCLUSTERED 
(
	[MonitorRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorManagementPackVersion_HealthState_AlertOnHealthState] FOREIGN KEY([AlertOnHealthStateRowId])
REFERENCES [dbo].[HealthState] ([HealthStateRowId])
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion] CHECK CONSTRAINT [FK_MonitorManagementPackVersion_HealthState_AlertOnHealthState]
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorManagementPackVersion_HealthState_MemberInMaintenanceHealthState] FOREIGN KEY([MemberInMaintenanceHealthStateRowId])
REFERENCES [dbo].[HealthState] ([HealthStateRowId])
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion] CHECK CONSTRAINT [FK_MonitorManagementPackVersion_HealthState_MemberInMaintenanceHealthState]
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorManagementPackVersion_HealthState_MemberUnavailableHealthState] FOREIGN KEY([MemberUnavailableHealthStateRowId])
REFERENCES [dbo].[HealthState] ([HealthStateRowId])
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion] CHECK CONSTRAINT [FK_MonitorManagementPackVersion_HealthState_MemberUnavailableHealthState]
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion] CHECK CONSTRAINT [FK_MonitorManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorManagementPackVersion_Monitor] FOREIGN KEY([MonitorRowId])
REFERENCES [dbo].[Monitor] ([MonitorRowId])
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion] CHECK CONSTRAINT [FK_MonitorManagementPackVersion_Monitor]
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorManagementPackVersion_Monitor_DependencyMonitor] FOREIGN KEY([DependencyMonitorRowId])
REFERENCES [dbo].[Monitor] ([MonitorRowId])
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion] CHECK CONSTRAINT [FK_MonitorManagementPackVersion_Monitor_DependencyMonitor]
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorManagementPackVersion_Monitor_ParentMonitor] FOREIGN KEY([ParentMonitorRowId])
REFERENCES [dbo].[Monitor] ([MonitorRowId])
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion] CHECK CONSTRAINT [FK_MonitorManagementPackVersion_Monitor_ParentMonitor]
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorManagementPackVersion_RelationshipType] FOREIGN KEY([RelationshipTypeRowId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeRowId])
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion] CHECK CONSTRAINT [FK_MonitorManagementPackVersion_RelationshipType]
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorManagementPackVersion_WorkflowCategory] FOREIGN KEY([WorkflowCategoryRowId])
REFERENCES [dbo].[WorkflowCategory] ([WorkflowCategoryRowId])
GO
ALTER TABLE [dbo].[MonitorManagementPackVersion] CHECK CONSTRAINT [FK_MonitorManagementPackVersion_WorkflowCategory]
GO
