USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DatasetTypeSchemaTypeManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetTypeSchemaTypeManagementPackVersion](
	[DatasetTypeSchemaTypeManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[DatasetTypeRowId] [int] NOT NULL,
	[SchemaTypeRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
 CONSTRAINT [PK_DatasetTypeSchemaTypeManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[DatasetTypeSchemaTypeManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_DatasetTypeSchemaTypeManagementPackVersion_DatasetTypeSchemaTypeManagementPackVersion] UNIQUE NONCLUSTERED 
(
	[ManagementPackVersionRowId] ASC,
	[DatasetTypeRowId] ASC,
	[SchemaTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatasetTypeSchemaTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DatasetTypeSchemaTypeManagementPackVersion_DatasetType] FOREIGN KEY([DatasetTypeRowId])
REFERENCES [dbo].[DatasetType] ([DatasetTypeRowId])
GO
ALTER TABLE [dbo].[DatasetTypeSchemaTypeManagementPackVersion] CHECK CONSTRAINT [FK_DatasetTypeSchemaTypeManagementPackVersion_DatasetType]
GO
ALTER TABLE [dbo].[DatasetTypeSchemaTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DatasetTypeSchemaTypeManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[DatasetTypeSchemaTypeManagementPackVersion] CHECK CONSTRAINT [FK_DatasetTypeSchemaTypeManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[DatasetTypeSchemaTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DatasetTypeSchemaTypeManagementPackVersion_SchemaType] FOREIGN KEY([SchemaTypeRowId])
REFERENCES [dbo].[SchemaType] ([SchemaTypeRowId])
GO
ALTER TABLE [dbo].[DatasetTypeSchemaTypeManagementPackVersion] CHECK CONSTRAINT [FK_DatasetTypeSchemaTypeManagementPackVersion_SchemaType]
GO
