USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagementPackVersionReference]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPackVersionReference](
	[ReferencingManagementPackVersionRowId] [int] NOT NULL,
	[ReferencedManagementPackRowId] [int] NOT NULL,
	[ManagementPackVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ManagementPackVersionReference] PRIMARY KEY CLUSTERED 
(
	[ReferencingManagementPackVersionRowId] ASC,
	[ReferencedManagementPackRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementPackVersionReference]  WITH CHECK ADD  CONSTRAINT [FK_ManagementPackVersionReference_ManagementPack_Referenced] FOREIGN KEY([ReferencedManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[ManagementPackVersionReference] CHECK CONSTRAINT [FK_ManagementPackVersionReference_ManagementPack_Referenced]
GO
ALTER TABLE [dbo].[ManagementPackVersionReference]  WITH CHECK ADD  CONSTRAINT [FK_ManagementPackVersionReference_ManagementPackVersion_Referencing] FOREIGN KEY([ReferencingManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ManagementPackVersionReference] CHECK CONSTRAINT [FK_ManagementPackVersionReference_ManagementPackVersion_Referencing]
GO
