USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DomainTableIndex]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainTableIndex](
	[DomainTableIndexRowId] [int] IDENTITY(1,1) NOT NULL,
	[DomainTableRowId] [int] NOT NULL,
	[IndexId] [int] NOT NULL,
	[IndexName] [sysname] NOT NULL,
	[OptimizationFrequencyMinutes] [int] NOT NULL,
	[LastConsideredForOptimizationDateTime] [datetime] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[RebuildFillFactor] [int] NULL,
 CONSTRAINT [PK_DomainTableIndex] PRIMARY KEY CLUSTERED 
(
	[DomainTableIndexRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_DomainTableIndex] UNIQUE NONCLUSTERED 
(
	[DomainTableRowId] ASC,
	[IndexId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DomainTableIndex] ADD  DEFAULT (getutcdate()) FOR [LastConsideredForOptimizationDateTime]
GO
ALTER TABLE [dbo].[DomainTableIndex] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTime]
GO
