USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportRowId] [int] IDENTITY(1,1) NOT NULL,
	[ReportGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NULL,
	[ReportSystemName] [nvarchar](256) NOT NULL,
	[ReportDefaultName] [nvarchar](256) NOT NULL,
	[ReportDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_Report_ReportGuid] UNIQUE NONCLUSTERED 
(
	[ReportGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ManagementPack]
GO
