USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ReportManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportManagementPackVersion](
	[ReportManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ReportRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[VisibleInd] [bit] NOT NULL,
 CONSTRAINT [PK_ReportManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ReportManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ReportManagementPackVersion_ReportManagementPack] UNIQUE NONCLUSTERED 
(
	[ReportRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ReportManagementPackVersion_ManagedEntityType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ReportManagementPackVersion] CHECK CONSTRAINT [FK_ReportManagementPackVersion_ManagedEntityType]
GO
ALTER TABLE [dbo].[ReportManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ReportManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ReportManagementPackVersion] CHECK CONSTRAINT [FK_ReportManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[ReportManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ReportManagementPackVersion_Report] FOREIGN KEY([ReportRowId])
REFERENCES [dbo].[Report] ([ReportRowId])
GO
ALTER TABLE [dbo].[ReportManagementPackVersion] CHECK CONSTRAINT [FK_ReportManagementPackVersion_Report]
GO
