USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntityManagementGroup]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityManagementGroup](
	[ManagedEntityManagementGroupRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[FromDateTime] [datetime] NOT NULL,
	[ToDateTime] [datetime] NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ManagedEntityManagementGroup] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityManagementGroupRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntityManagementGroup_ManagedEntityId] UNIQUE NONCLUSTERED 
(
	[ManagedEntityRowId] ASC,
	[FromDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntityManagementGroup] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[ManagedEntityManagementGroup] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[ManagedEntityManagementGroup]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityManagementGroup_ManagedEntity] FOREIGN KEY([ManagedEntityRowId])
REFERENCES [dbo].[ManagedEntity] ([ManagedEntityRowId])
GO
ALTER TABLE [dbo].[ManagedEntityManagementGroup] CHECK CONSTRAINT [FK_ManagedEntityManagementGroup_ManagedEntity]
GO
