USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[HealthServiceOutageStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthServiceOutageStage](
	[HealthServiceOutageStageRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityRowId] [int] NULL,
	[RootHealthServiceInd] [bit] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NULL,
	[ReasonCode] [tinyint] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DWCreatedDateTime] [smalldatetime] NOT NULL,
	[InsertReadyInd]  AS (isnull([ManagedEntityRowId],(0))),
 CONSTRAINT [PK_HealthServiceOutageStage] PRIMARY KEY CLUSTERED 
(
	[HealthServiceOutageStageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HealthServiceOutageStage] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[HealthServiceOutageStage]  WITH CHECK ADD  CONSTRAINT [FK_HealthServiceOutageStage_ManagedEntity] FOREIGN KEY([ManagedEntityRowId])
REFERENCES [dbo].[ManagedEntity] ([ManagedEntityRowId])
GO
ALTER TABLE [dbo].[HealthServiceOutageStage] CHECK CONSTRAINT [FK_HealthServiceOutageStage_ManagedEntity]
GO
ALTER TABLE [dbo].[HealthServiceOutageStage]  WITH CHECK ADD  CONSTRAINT [FK_HealthServiceOutageStage_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[HealthServiceOutageStage] CHECK CONSTRAINT [FK_HealthServiceOutageStage_ManagementGroup]
GO
