USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[EventPublisher]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventPublisher](
	[EventPublisherRowId] [int] IDENTITY(1,1) NOT NULL,
	[EventPublisherGuid] [uniqueidentifier] NOT NULL,
	[EventPublisherName] [nvarchar](255) NOT NULL,
	[LastReceivedDateTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_EventPublisher] PRIMARY KEY CLUSTERED 
(
	[EventPublisherRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_EventPublisher_PublisherGuid] UNIQUE NONCLUSTERED 
(
	[EventPublisherGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventPublisher] ADD  DEFAULT (getutcdate()) FOR [LastReceivedDateTime]
GO
