USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ReportDisplayString]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDisplayString](
	[ReportDisplayStringRowId] [int] IDENTITY(1,1) NOT NULL,
	[ReportDisplayStringGuid] [uniqueidentifier] NOT NULL,
	[ReportRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[ReportDisplayStringSystemName] [nvarchar](256) NOT NULL,
	[ReportDisplayStringDefaultName] [nvarchar](256) NOT NULL,
	[ReportDisplayStringDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_ReportDisplayString] PRIMARY KEY CLUSTERED 
(
	[ReportDisplayStringRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ReportDisplayString_ReportDisplayStringGuid] UNIQUE NONCLUSTERED 
(
	[ReportDisplayStringGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportDisplayString]  WITH CHECK ADD  CONSTRAINT [FK_ReportDisplayString_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ReportDisplayString] CHECK CONSTRAINT [FK_ReportDisplayString_ManagementPackVersion]
GO
ALTER TABLE [dbo].[ReportDisplayString]  WITH CHECK ADD  CONSTRAINT [FK_ReportDisplayString_Report] FOREIGN KEY([ReportRowId])
REFERENCES [dbo].[Report] ([ReportRowId])
GO
ALTER TABLE [dbo].[ReportDisplayString] CHECK CONSTRAINT [FK_ReportDisplayString_Report]
GO
