USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vDateTime]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDateTime]
AS
  SELECT
     [DateTime] = d.DateValue + t.TimeValue
	  ,[Date] = DateValue
	  ,[Time] = TimeValue
    ,[DayOfWeek]
    ,[DayOfMonth]
    ,[WeekOfYear]
    ,[Month]
    ,[Quarter]
    ,[Year]
	  ,[Hour]
	  ,[Minute]
  FROM [vDate] d CROSS JOIN [vTime] t
GO
