USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StandardDataset]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardDataset](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[SchemaName] [sysname] NOT NULL,
	[DebugLevel] [tinyint] NOT NULL,
	[DefaultAggregationIntervalCount] [tinyint] NOT NULL,
	[RawInsertTableCount] [tinyint] NOT NULL,
	[StagingProcessorStoredProcedureName] [sysname] NULL,
	[BlockingMaintenanceDailyStartTime] [char](5) NOT NULL,
	[BlockingMaintenanceDurationMinutes] [int] NOT NULL,
	[LastOptimizationActionDateTime] [datetime] NOT NULL,
	[LastOptimizationActionSuccessfulCompletionDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_StandardDataset] PRIMARY KEY CLUSTERED 
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StandardDataset] ADD  DEFAULT ('dbo') FOR [SchemaName]
GO
ALTER TABLE [dbo].[StandardDataset] ADD  DEFAULT ((0)) FOR [DebugLevel]
GO
ALTER TABLE [dbo].[StandardDataset] ADD  DEFAULT ((1)) FOR [RawInsertTableCount]
GO
ALTER TABLE [dbo].[StandardDataset] ADD  DEFAULT ((60)) FOR [BlockingMaintenanceDurationMinutes]
GO
ALTER TABLE [dbo].[StandardDataset] ADD  DEFAULT (getutcdate()) FOR [LastOptimizationActionDateTime]
GO
ALTER TABLE [dbo].[StandardDataset] ADD  DEFAULT (getutcdate()) FOR [LastOptimizationActionSuccessfulCompletionDateTime]
GO
