USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vManagementGroup]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vManagementGroup]
AS
  SELECT *
  FROM ManagementGroup (NOLOCK)
GO
