USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vRelationshipPropertyNoXml]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vRelationshipPropertyNoXml]
AS
  SELECT
     RelationshipPropertyRowId
    ,RelationshipRowId
    ,PropertyXml = CAST (PropertyXml AS nvarchar(max))
    ,DeltaXml = CAST (DeltaXml AS nvarchar(max))
    ,FromDateTime
    ,ToDateTime
    ,DWCreatedDateTime
    ,DWLastModifiedDateTime
  FROM vRelationshipProperty
GO
