USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ImageReference]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageReference](
	[ImageReferenceRowId] [int] IDENTITY(1,1) NOT NULL,
	[ImageRowId] [int] NOT NULL,
	[ReferencingObjectGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
 CONSTRAINT [PK_ImageReference] PRIMARY KEY CLUSTERED 
(
	[ImageReferenceRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImageReference]  WITH CHECK ADD  CONSTRAINT [FK_ImageReference_Image] FOREIGN KEY([ImageRowId])
REFERENCES [dbo].[Image] ([ImageRowId])
GO
ALTER TABLE [dbo].[ImageReference] CHECK CONSTRAINT [FK_ImageReference_Image]
GO
ALTER TABLE [dbo].[ImageReference]  WITH CHECK ADD  CONSTRAINT [FK_ImageReference_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ImageReference] CHECK CONSTRAINT [FK_ImageReference_ManagementPackVersion]
GO
