USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[MemberDatabase]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberDatabase](
	[MemberDatabaseRowId] [int] IDENTITY(1,1) NOT NULL,
	[ServerName] [nvarchar](128) NOT NULL,
	[DatabaseName] [nvarchar](128) NOT NULL,
	[MasterDatabaseInd] [bit] NOT NULL,
	[DefaultDatabaseInd] [bit] NOT NULL,
	[ComponentAutoDeploymentAllowedInd] [bit] NOT NULL,
	[MasterDatabaseReferenceServerName] [nvarchar](128) NULL,
	[MasterDatabaseReferenceDatabaseName] [nvarchar](128) NULL,
 CONSTRAINT [PK_MemberDatabase] PRIMARY KEY CLUSTERED 
(
	[MemberDatabaseRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_MemberDatabase_ServerNameDatabaseName] UNIQUE NONCLUSTERED 
(
	[ServerName] ASC,
	[DatabaseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MemberDatabase] ADD  DEFAULT ((0)) FOR [MasterDatabaseInd]
GO
ALTER TABLE [dbo].[MemberDatabase] ADD  DEFAULT ((0)) FOR [DefaultDatabaseInd]
GO
ALTER TABLE [dbo].[MemberDatabase] ADD  DEFAULT ((1)) FOR [ComponentAutoDeploymentAllowedInd]
GO
ALTER TABLE [dbo].[MemberDatabase]  WITH CHECK ADD  CONSTRAINT [CHK_MemberDatabase_DefaultDatabaseAllowsAutoDeploy] CHECK  (([ComponentAutoDeploymentAllowedInd]>=[DefaultDatabaseInd]))
GO
ALTER TABLE [dbo].[MemberDatabase] CHECK CONSTRAINT [CHK_MemberDatabase_DefaultDatabaseAllowsAutoDeploy]
GO
