USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntityProperty]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityProperty](
	[ManagedEntityPropertyRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[PropertyXml] [xml] NOT NULL,
	[DeltaXml] [xml] NULL,
	[FromDateTime] [datetime] NOT NULL,
	[ToDateTime] [datetime] NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ManagedEntityProperty] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityPropertyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntityProperty_ManagedEntityRowIdFromDAteTime] UNIQUE NONCLUSTERED 
(
	[ManagedEntityRowId] ASC,
	[FromDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntityProperty] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[ManagedEntityProperty] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[ManagedEntityProperty]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityProperty_ManagedEntity] FOREIGN KEY([ManagedEntityRowId])
REFERENCES [dbo].[ManagedEntity] ([ManagedEntityRowId])
GO
ALTER TABLE [dbo].[ManagedEntityProperty] CHECK CONSTRAINT [FK_ManagedEntityProperty_ManagedEntity]
GO
