USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ServiceLevelAgreement]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceLevelAgreement](
	[ServiceLevelAgreementRowId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceLevelAgreementGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ServiceLevelAgreementSystemName] [nvarchar](256) NOT NULL,
	[ServiceLevelAgreementDefaultName] [nvarchar](256) NOT NULL,
	[ServiceLevelAgreementDefaultDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ServiceLevelAgreement] PRIMARY KEY CLUSTERED 
(
	[ServiceLevelAgreementRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ServiceLevelAgreement_ServiceLevelAgreementGuid] UNIQUE NONCLUSTERED 
(
	[ServiceLevelAgreementGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceLevelAgreement]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelAgreement_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[ServiceLevelAgreement] CHECK CONSTRAINT [FK_ServiceLevelAgreement_ManagementPack]
GO
