USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[MemberDatabaseScript]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberDatabaseScript](
	[MemberDatabaseRowId] [int] NOT NULL,
	[ScriptManagementPackVersionRowId] [int] NOT NULL,
	[InstallCompletedInd] [bit] NOT NULL,
	[InstalledDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_MemberDatabaseScript] PRIMARY KEY CLUSTERED 
(
	[MemberDatabaseRowId] ASC,
	[ScriptManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MemberDatabaseScript] ADD  DEFAULT ((0)) FOR [InstallCompletedInd]
GO
ALTER TABLE [dbo].[MemberDatabaseScript] ADD  DEFAULT (getutcdate()) FOR [InstalledDateTime]
GO
ALTER TABLE [dbo].[MemberDatabaseScript]  WITH CHECK ADD  CONSTRAINT [FK_MemberDatabaseScript_MemberDatabase] FOREIGN KEY([MemberDatabaseRowId])
REFERENCES [dbo].[MemberDatabase] ([MemberDatabaseRowId])
GO
ALTER TABLE [dbo].[MemberDatabaseScript] CHECK CONSTRAINT [FK_MemberDatabaseScript_MemberDatabase]
GO
ALTER TABLE [dbo].[MemberDatabaseScript]  WITH CHECK ADD  CONSTRAINT [FK_MemberDatabaseScript_ScriptManagementPackVersion] FOREIGN KEY([ScriptManagementPackVersionRowId])
REFERENCES [dbo].[ScriptManagementPackVersion] ([ScriptManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[MemberDatabaseScript] CHECK CONSTRAINT [FK_MemberDatabaseScript_ScriptManagementPackVersion]
GO
