USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vStateFull]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vStateFull] AS  SELECT   AggregationTypeId = 20  ,[DateTime]  ,ManagedEntityMonitorRowId  ,IntervalDurationMilliseconds  ,InWhiteStateMilliseconds  ,InGreenStateMilliseconds  ,InYellowStateMilliseconds  ,InRedStateMilliseconds  ,InDisabledStateMilliseconds  ,InPlannedMaintenanceMilliseconds  ,InUnplannedMaintenanceMilliseconds  ,HealthServiceUnavailableMilliseconds FROM dbo.[vStateHourlyFull] UNION ALL  SELECT   AggregationTypeId = 30  ,[DateTime]  ,ManagedEntityMonitorRowId  ,IntervalDurationMilliseconds  ,InWhiteStateMilliseconds  ,InGreenStateMilliseconds  ,InYellowStateMilliseconds  ,InRedStateMilliseconds  ,InDisabledStateMilliseconds  ,InPlannedMaintenanceMilliseconds  ,InUnplannedMaintenanceMilliseconds  ,HealthServiceUnavailableMilliseconds FROM dbo.[vStateDailyFull]
GO
