USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[Discovery]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discovery](
	[DiscoveryRowId] [int] IDENTITY(1,1) NOT NULL,
	[DiscoveryGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[DiscoverySystemName] [nvarchar](256) NOT NULL,
	[DiscoveryDefaultName] [nvarchar](256) NOT NULL,
	[DiscoveryDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Discovery] PRIMARY KEY CLUSTERED 
(
	[DiscoveryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_Discovery_DiscoveryGuid] UNIQUE NONCLUSTERED 
(
	[DiscoveryGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Discovery]  WITH CHECK ADD  CONSTRAINT [FK_Discovery_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[Discovery] CHECK CONSTRAINT [FK_Discovery_ManagementPack]
GO
