USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StringResource]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StringResource](
	[StringResourceRowId] [int] IDENTITY(1,1) NOT NULL,
	[StringResourceGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[StringResourceSystemName] [nvarchar](256) NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
	[DWLastModifiedByManagementPackVersionRowId] [int] NOT NULL,
 CONSTRAINT [PK_StringResource] PRIMARY KEY CLUSTERED 
(
	[StringResourceRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_StringResource_StringResourceGuid] UNIQUE NONCLUSTERED 
(
	[StringResourceGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StringResource] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[StringResource]  WITH CHECK ADD  CONSTRAINT [FK_StringResource_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[StringResource] CHECK CONSTRAINT [FK_StringResource_ManagementPack]
GO
