USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[RelationshipTypeManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipTypeManagementPackVersion](
	[RelationshipTypeManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[RelationshipTypeRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[BaseRelationshipTypeRowId] [int] NULL,
	[SourceManagedEntityTypeRowId] [int] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[AbstractInd] [bit] NOT NULL,
 CONSTRAINT [PK_RelationshipTypeManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[RelationshipTypeManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_RelationshipTypeManagementPackVersion_RelationshipTypeManagementPack] UNIQUE NONCLUSTERED 
(
	[RelationshipTypeRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypeManagementPackVersion_ManagedEntityType_SourceType] FOREIGN KEY([SourceManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion] CHECK CONSTRAINT [FK_RelationshipTypeManagementPackVersion_ManagedEntityType_SourceType]
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypeManagementPackVersion_ManagedEntityType_TargetType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion] CHECK CONSTRAINT [FK_RelationshipTypeManagementPackVersion_ManagedEntityType_TargetType]
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypeManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion] CHECK CONSTRAINT [FK_RelationshipTypeManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypeManagementPackVersion_RelationshipType] FOREIGN KEY([RelationshipTypeRowId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeRowId])
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion] CHECK CONSTRAINT [FK_RelationshipTypeManagementPackVersion_RelationshipType]
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypeManagementPackVersion_RelationshipType_BaseType] FOREIGN KEY([BaseRelationshipTypeRowId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeRowId])
GO
ALTER TABLE [dbo].[RelationshipTypeManagementPackVersion] CHECK CONSTRAINT [FK_RelationshipTypeManagementPackVersion_RelationshipType_BaseType]
GO
