USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DatasetType]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetType](
	[DatasetTypeRowId] [int] IDENTITY(1,1) NOT NULL,
	[DatasetTypeGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[DatasetTypeSystemName] [nvarchar](255) NOT NULL,
	[DatasetTypeDefaultName] [nvarchar](255) NOT NULL,
	[DatasetTypeDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_DatasetType] PRIMARY KEY CLUSTERED 
(
	[DatasetTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatasetType]  WITH CHECK ADD  CONSTRAINT [FK_DatasetType_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[DatasetType] CHECK CONSTRAINT [FK_DatasetType_ManagementPack]
GO
