USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[Recovery]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recovery](
	[RecoveryRowId] [int] IDENTITY(1,1) NOT NULL,
	[RecoveryGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[RecoverySystemName] [nvarchar](256) NOT NULL,
	[RecoveryDefaultName] [nvarchar](256) NOT NULL,
	[RecoveryDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Recovery] PRIMARY KEY CLUSTERED 
(
	[RecoveryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_Recovery_RecoveryGuid] UNIQUE NONCLUSTERED 
(
	[RecoveryGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Recovery]  WITH CHECK ADD  CONSTRAINT [FK_Recovery_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[Recovery] CHECK CONSTRAINT [FK_Recovery_ManagementPack]
GO
