USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[AggregationType]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AggregationType](
	[AggregationTypeId] [tinyint] NOT NULL,
	[AggregationTypeDefaultName] [nvarchar](50) NOT NULL,
	[AggregationTypeGuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AggregationType] PRIMARY KEY CLUSTERED 
(
	[AggregationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
