USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vSchemaType]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vSchemaType]
AS
  SELECT *
  FROM SchemaType (NOLOCK)
GO
