USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StandardDatasetAggregation]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardDatasetAggregation](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[AggregationTypeId] [tinyint] NOT NULL,
	[AggregationIntervalDurationMinutes] [int] NULL,
	[AggregationStartDelayMinutes] [int] NULL,
	[BuildAggregationStoredProcedureName] [sysname] NULL,
	[DeleteAggregationStoredProcedureName] [sysname] NULL,
	[GroomStoredProcedureName] [sysname] NOT NULL,
	[IndexOptimizationIntervalMinutes] [int] NOT NULL,
	[MaxDataAgeDays] [int] NOT NULL,
	[GroomingIntervalMinutes] [int] NOT NULL,
	[MaxRowsToGroom] [int] NOT NULL,
	[LastGroomingDateTime] [smalldatetime] NULL,
	[DataFileGroupName] [sysname] NULL,
	[IndexFileGroupName] [sysname] NULL,
	[StatisticsMaxAgeHours] [int] NOT NULL,
	[StatisticsUpdateSamplePercentage] [int] NULL,
 CONSTRAINT [PK_StandardDatasetAggregation] PRIMARY KEY CLUSTERED 
(
	[DatasetId] ASC,
	[AggregationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StandardDatasetAggregation] ADD  DEFAULT ((18)) FOR [StatisticsMaxAgeHours]
GO
