USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagementGroupManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementGroupManagementPackVersion](
	[ManagementGroupManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[InstalledDateTime] [datetime] NOT NULL,
	[DeletedDateTime] [datetime] NULL,
	[UpgradedInd] [bit] NULL,
	[LatestVersionInd]  AS (case when [DeletedDateTime] IS NULL then (1) else (0) end),
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
	[Username] [nvarchar](256) NULL,
 CONSTRAINT [PK_ManagementGroupManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ManagementGroupManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagementGroupManagementPackVersion_ManagementGroupRowIdManagementPackVersionRowId] UNIQUE NONCLUSTERED 
(
	[ManagementGroupRowId] ASC,
	[ManagementPackVersionRowId] ASC,
	[InstalledDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementGroupManagementPackVersion] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[ManagementGroupManagementPackVersion] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[ManagementGroupManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManagementGroupManagementPackVersion_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[ManagementGroupManagementPackVersion] CHECK CONSTRAINT [FK_ManagementGroupManagementPackVersion_ManagementGroup]
GO
ALTER TABLE [dbo].[ManagementGroupManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManagementGroupManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ManagementGroupManagementPackVersion] CHECK CONSTRAINT [FK_ManagementGroupManagementPackVersion_ManagementPackVersion]
GO
