USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[RelationshipProperty]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipProperty](
	[RelationshipPropertyRowId] [int] IDENTITY(1,1) NOT NULL,
	[RelationshipRowId] [int] NOT NULL,
	[PropertyXml] [xml] NOT NULL,
	[DeltaXml] [xml] NULL,
	[FromDateTime] [datetime] NOT NULL,
	[ToDateTime] [datetime] NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RelationshipProperty] PRIMARY KEY CLUSTERED 
(
	[RelationshipPropertyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_RelationshipProperty_RelationshipRowIdFromDateTime] UNIQUE NONCLUSTERED 
(
	[RelationshipRowId] ASC,
	[FromDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipProperty] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[RelationshipProperty] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[RelationshipProperty]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipProperty_Relationship] FOREIGN KEY([RelationshipRowId])
REFERENCES [dbo].[Relationship] ([RelationshipRowId])
GO
ALTER TABLE [dbo].[RelationshipProperty] CHECK CONSTRAINT [FK_RelationshipProperty_Relationship]
GO
