USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[AemManagedEntityStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AemManagedEntityStage](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[ApplicationManagedEntityId] [uniqueidentifier] NOT NULL,
	[ApplicationName] [nvarchar](256) NOT NULL,
	[ApplicationVersion] [nvarchar](256) NULL,
	[CompanyName] [nvarchar](256) NULL,
	[FriendlyApplicationName] [nvarchar](256) NULL,
	[ErrorGroupManagedEntityId] [uniqueidentifier] NOT NULL,
	[BucketType] [nvarchar](10) NULL,
	[Parameter0] [nvarchar](256) NULL,
	[Parameter1] [nvarchar](256) NULL,
	[Parameter2] [nvarchar](256) NULL,
	[Parameter3] [nvarchar](256) NULL,
	[Parameter4] [nvarchar](256) NULL,
	[Parameter5] [nvarchar](256) NULL,
	[Parameter6] [nvarchar](256) NULL,
	[Parameter7] [nvarchar](256) NULL,
	[Parameter8] [nvarchar](256) NULL,
	[Parameter9] [nvarchar](256) NULL,
	[Parameter10] [nvarchar](256) NULL,
	[SelectedSolutionResponseType] [nvarchar](16) NULL,
	[SelectedCollectionResponseType] [nvarchar](16) NULL,
	[MicrosoftResponseUrl] [nvarchar](256) NULL,
	[DWCreatedDataTime] [datetime] NOT NULL,
	[BucketId] [bigint] NULL,
	[BucketTableId] [bigint] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AemManagedEntityStage] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDataTime]
GO
