USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[HealthState]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthState](
	[HealthStateRowId] [tinyint] NOT NULL,
	[HealthStateGuid] [uniqueidentifier] NOT NULL,
	[HealthStateDefaultName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_HealthState] PRIMARY KEY CLUSTERED 
(
	[HealthStateRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
