USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ServiceLevelObjectiveManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion](
	[ServiceLevelObjectiveManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceLevelObjectiveRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[ServiceLevelAgreementRowId] [int] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[MonitorServiceLevelObjectiveInd] [bit] NOT NULL,
	[PerformanceServiceLevelObjectiveInd] [bit] NOT NULL,
 CONSTRAINT [PK_ServiceLevelObjectiveManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ServiceLevelObjectiveManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ServiceLevelObjectiveManagementPackVersion_ServiceLevelObjectiveManagementPack] UNIQUE NONCLUSTERED 
(
	[ServiceLevelObjectiveRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion] ADD  DEFAULT ((0)) FOR [MonitorServiceLevelObjectiveInd]
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion] ADD  DEFAULT ((0)) FOR [PerformanceServiceLevelObjectiveInd]
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelObjectiveManagementPackVersion_ManagedEntityType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [FK_ServiceLevelObjectiveManagementPackVersion_ManagedEntityType]
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelObjectiveManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [FK_ServiceLevelObjectiveManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelObjectiveManagementPackVersion_ServiceLevelAgreement] FOREIGN KEY([ServiceLevelAgreementRowId])
REFERENCES [dbo].[ServiceLevelAgreement] ([ServiceLevelAgreementRowId])
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [FK_ServiceLevelObjectiveManagementPackVersion_ServiceLevelAgreement]
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelObjectiveManagementPackVersion_ServiceLevelObjective] FOREIGN KEY([ServiceLevelObjectiveRowId])
REFERENCES [dbo].[ServiceLevelObjective] ([ServiceLevelObjectiveRowId])
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [FK_ServiceLevelObjectiveManagementPackVersion_ServiceLevelObjective]
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [CHK_ServiceLevelObjectiveManagementPackVersion_ServiceLevelObjectiveTypeInd] CHECK  (([MonitorServiceLevelObjectiveInd]=(1) OR [PerformanceServiceLevelObjectiveInd]=(1)))
GO
ALTER TABLE [dbo].[ServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [CHK_ServiceLevelObjectiveManagementPackVersion_ServiceLevelObjectiveTypeInd]
GO
