USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagementGroupDataset]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementGroupDataset](
	[ManagementGroupDatasetRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[DatasetId] [uniqueidentifier] NOT NULL,
	[RoutingKey] [nvarchar](256) NULL,
 CONSTRAINT [PK_ManagementGroupDataset] PRIMARY KEY CLUSTERED 
(
	[ManagementGroupDatasetRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagementGroupDataset] UNIQUE NONCLUSTERED 
(
	[ManagementGroupRowId] ASC,
	[DatasetId] ASC,
	[RoutingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementGroupDataset]  WITH CHECK ADD  CONSTRAINT [FK_ManagementGroupDataset_Dataset] FOREIGN KEY([DatasetId])
REFERENCES [dbo].[Dataset] ([DatasetId])
GO
ALTER TABLE [dbo].[ManagementGroupDataset] CHECK CONSTRAINT [FK_ManagementGroupDataset_Dataset]
GO
ALTER TABLE [dbo].[ManagementGroupDataset]  WITH CHECK ADD  CONSTRAINT [FK_ManagementGroupDataset_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[ManagementGroupDataset] CHECK CONSTRAINT [FK_ManagementGroupDataset_ManagementGroup]
GO
