USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DiagnosticManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosticManagementPackVersion](
	[DiagnosticManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[DiagnosticRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[WorkflowCategoryRowId] [int] NOT NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[EnabledInd] [tinyint] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[MonitorRowId] [int] NOT NULL,
	[ExecuteOnHealthStateRowId] [tinyint] NOT NULL,
	[RemotableInd] [bit] NULL,
	[Timeout] [int] NULL,
	[DefinitionXml] [xml] NOT NULL,
	[DefinitionHash] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DiagnosticManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[DiagnosticManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_DiagnosticManagementPackVersion_DiagnosticManagementPack] UNIQUE NONCLUSTERED 
(
	[DiagnosticRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticManagementPackVersion_Diagnostic] FOREIGN KEY([DiagnosticRowId])
REFERENCES [dbo].[Diagnostic] ([DiagnosticRowId])
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion] CHECK CONSTRAINT [FK_DiagnosticManagementPackVersion_Diagnostic]
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticManagementPackVersion_HealthState] FOREIGN KEY([ExecuteOnHealthStateRowId])
REFERENCES [dbo].[HealthState] ([HealthStateRowId])
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion] CHECK CONSTRAINT [FK_DiagnosticManagementPackVersion_HealthState]
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticManagementPackVersion_ManagedEntityType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion] CHECK CONSTRAINT [FK_DiagnosticManagementPackVersion_ManagedEntityType]
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion] CHECK CONSTRAINT [FK_DiagnosticManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticManagementPackVersion_WorkflowCategory] FOREIGN KEY([WorkflowCategoryRowId])
REFERENCES [dbo].[WorkflowCategory] ([WorkflowCategoryRowId])
GO
ALTER TABLE [dbo].[DiagnosticManagementPackVersion] CHECK CONSTRAINT [FK_DiagnosticManagementPackVersion_WorkflowCategory]
GO
