USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntityStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityStage](
	[ManagedEntityStageRowId] [int] IDENTITY(1,1) NOT NULL,
	[DiscoveredInd] [bit] NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityTypeGuid] [uniqueidentifier] NULL,
	[ManagedEntityTypeRowId] [int] NULL,
	[TopLevelHostManagedEntityGuid] [uniqueidentifier] NULL,
	[TopLevelHostManagedEntityRowId] [int] NULL,
	[FullName] [nvarchar](max) NULL,
	[Path] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[PropertyXml] [xml] NULL,
	[DeltaXml] [xml] NULL,
	[InsertReadyInd]  AS (abs(CONVERT([bigint],isnull([ManagedEntityTypeRowId],(0)))*isnull([TopLevelHostManagedEntityRowId],(0)))),
	[DWCreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ManagedEntityStage] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityStageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntityStage] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[ManagedEntityStage]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityStage_ManagedEntityType] FOREIGN KEY([ManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ManagedEntityStage] CHECK CONSTRAINT [FK_ManagedEntityStage_ManagedEntityType]
GO
ALTER TABLE [dbo].[ManagedEntityStage]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityStage_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[ManagedEntityStage] CHECK CONSTRAINT [FK_ManagedEntityStage_ManagementGroup]
GO
