USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagementPackChangeAudit]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPackChangeAudit](
	[ManagementPackAuditRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[ObjectType] [varchar](20) NOT NULL,
	[ObjectRowId] [int] NOT NULL,
	[ObjectDefaultName] [nvarchar](256) NOT NULL,
	[TargetRowId] [int] NULL,
	[Target] [nvarchar](256) NULL,
	[Action] [varchar](20) NOT NULL,
	[Property] [nvarchar](256) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[OldValue] [nvarchar](max) NULL,
	[Username] [nvarchar](256) NULL,
	[DBLastModifiedDateTime] [datetime] NULL,
 CONSTRAINT [PK_ManagementPackChangeAudit] PRIMARY KEY CLUSTERED 
(
	[ManagementPackAuditRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementPackChangeAudit]  WITH CHECK ADD  CONSTRAINT [FK_ManagementPackChangeAudit_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ManagementPackChangeAudit] CHECK CONSTRAINT [FK_ManagementPackChangeAudit_ManagementPackVersion]
GO
