USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion](
	[ServiceLevelObjectiveManagementPackVersionRowId] [int] NOT NULL,
	[RuleRowId] [int] NOT NULL,
	[AggregationMethod] [char](3) NOT NULL,
	[Threshold] [float] NOT NULL,
	[DesiredObjective] [varchar](5) NOT NULL,
 CONSTRAINT [PK_PerformanceServiceLevelObjectiveManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ServiceLevelObjectiveManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceServiceLevelObjectiveManagementPackVersion_Rule] FOREIGN KEY([RuleRowId])
REFERENCES [dbo].[Rule] ([RuleRowId])
GO
ALTER TABLE [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [FK_PerformanceServiceLevelObjectiveManagementPackVersion_Rule]
GO
ALTER TABLE [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceServiceLevelObjectiveManagementPackVersion_ServiceLevelObjectiveManagementPackVersion] FOREIGN KEY([ServiceLevelObjectiveManagementPackVersionRowId])
REFERENCES [dbo].[ServiceLevelObjectiveManagementPackVersion] ([ServiceLevelObjectiveManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [FK_PerformanceServiceLevelObjectiveManagementPackVersion_ServiceLevelObjectiveManagementPackVersion]
GO
ALTER TABLE [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [CHK_PerformanceServiceLevelObjectiveManagementPackVersion_AggregationMethod] CHECK  (([AggregationMethod]='min' OR [AggregationMethod]='max' OR [AggregationMethod]='avg'))
GO
ALTER TABLE [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [CHK_PerformanceServiceLevelObjectiveManagementPackVersion_AggregationMethod]
GO
ALTER TABLE [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [CHK_PerformanceServiceLevelObjectiveManagementPackVersion_DesiredObjective] CHECK  (([DesiredObjective]='under' OR [DesiredObjective]='over'))
GO
ALTER TABLE [dbo].[PerformanceServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [CHK_PerformanceServiceLevelObjectiveManagementPackVersion_DesiredObjective]
GO
