USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[RelationshipTypePropertyManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipTypePropertyManagementPackVersion](
	[RelationshipTypePropertyManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[RelationshipTypePropertyRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[PropertyType] [nvarchar](50) NOT NULL,
	[CaseSensitiveInd] [bit] NULL,
	[PropertyLength] [int] NULL,
 CONSTRAINT [PK_RelationshipTypePropertyManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[RelationshipTypePropertyManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_RelationshipTypePropertyManagementPackVersionRowId_PropertyRowId] UNIQUE NONCLUSTERED 
(
	[RelationshipTypePropertyRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipTypePropertyManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypePropertyManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[RelationshipTypePropertyManagementPackVersion] CHECK CONSTRAINT [FK_RelationshipTypePropertyManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[RelationshipTypePropertyManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypePropertyManagementPackVersion_RelationshipTypeProperty] FOREIGN KEY([RelationshipTypePropertyRowId])
REFERENCES [dbo].[RelationshipTypeProperty] ([RelationshipTypePropertyRowId])
GO
ALTER TABLE [dbo].[RelationshipTypePropertyManagementPackVersion] CHECK CONSTRAINT [FK_RelationshipTypePropertyManagementPackVersion_RelationshipTypeProperty]
GO
