USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[AlertCustomField]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertCustomField](
	[AlertCustomFieldRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementGroupRowId] [int] NOT NULL,
	[Ordinal] [int] NOT NULL,
	[DisplayName] [nvarchar](256) NOT NULL,
	[DeletedDateTime] [datetime] NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AlertCustomField] PRIMARY KEY CLUSTERED 
(
	[AlertCustomFieldRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_AlertCustomField_ManagementGroupRowIdOrdinal] UNIQUE NONCLUSTERED 
(
	[ManagementGroupRowId] ASC,
	[Ordinal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertCustomField] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[AlertCustomField] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[AlertCustomField]  WITH CHECK ADD  CONSTRAINT [FK_AlertCustomField_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[AlertCustomField] CHECK CONSTRAINT [FK_AlertCustomField_ManagementGroup]
GO
