USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagementGroup]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementGroup](
	[ManagementGroupRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementGroupGuid] [uniqueidentifier] NOT NULL,
	[OwnerManagementGroupInd] [bit] NOT NULL,
	[ManagementGroupDefaultName] [nvarchar](256) NOT NULL,
	[ConnectConfirmedDateTime] [datetime] NULL,
	[ConnectRejectedind] [bit] NOT NULL,
	[ConnectRejectedDateTime] [datetime] NULL,
	[WriterLoginName] [nvarchar](256) NOT NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ManagementGroup] PRIMARY KEY CLUSTERED 
(
	[ManagementGroupRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagementGroup_ManagementGroupGuid] UNIQUE NONCLUSTERED 
(
	[ManagementGroupGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementGroup] ADD  DEFAULT ((0)) FOR [OwnerManagementGroupInd]
GO
ALTER TABLE [dbo].[ManagementGroup] ADD  DEFAULT ((0)) FOR [ConnectRejectedind]
GO
ALTER TABLE [dbo].[ManagementGroup] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[ManagementGroup] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
