USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DisplayString]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisplayString](
	[DisplayStringRowId] [int] IDENTITY(1,1) NOT NULL,
	[LanguageCode] [varchar](10) NOT NULL,
	[ElementGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
	[DWLastModifiedByManagementPackVersionRowId] [int] NOT NULL,
 CONSTRAINT [PK_DisplayString] PRIMARY KEY CLUSTERED 
(
	[DisplayStringRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_DisplayString_LanguageCodeElementGuid] UNIQUE NONCLUSTERED 
(
	[LanguageCode] ASC,
	[ElementGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DisplayString] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
