USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[Script]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Script](
	[ScriptRowId] [int] IDENTITY(1,1) NOT NULL,
	[ScriptGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ScriptSystemName] [nvarchar](256) NOT NULL,
	[ScriptDefaultName] [nvarchar](256) NOT NULL,
	[ScriptDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Script] PRIMARY KEY CLUSTERED 
(
	[ScriptRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_Script_ScriptGuid] UNIQUE NONCLUSTERED 
(
	[ScriptGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Script]  WITH CHECK ADD  CONSTRAINT [FK_Script_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[Script] CHECK CONSTRAINT [FK_Script_ManagementPack]
GO
