USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DomainTable]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainTable](
	[DomainTableRowId] [int] IDENTITY(1,1) NOT NULL,
	[TableObjectId] [int] NOT NULL,
	[TableName] [sysname] NOT NULL,
	[SchemaName] [sysname] NOT NULL,
	[DatasetId] [uniqueidentifier] NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DomainTable] PRIMARY KEY CLUSTERED 
(
	[DomainTableRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_DomainTable] UNIQUE NONCLUSTERED 
(
	[TableObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DomainTable] ADD  DEFAULT ('dbo') FOR [SchemaName]
GO
ALTER TABLE [dbo].[DomainTable] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTime]
GO
