USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[PerformanceRuleInstance]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceRuleInstance](
	[PerformanceRuleInstanceRowId] [int] IDENTITY(1,1) NOT NULL,
	[RuleRowId] [int] NOT NULL,
	[InstanceName] [nvarchar](256) NOT NULL,
	[LastReceivedDateTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_PerformanceRuleInstance] PRIMARY KEY CLUSTERED 
(
	[PerformanceRuleInstanceRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_PerformanceRuleInstance_Ruleinstance] UNIQUE NONCLUSTERED 
(
	[RuleRowId] ASC,
	[InstanceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerformanceRuleInstance] ADD  DEFAULT (getutcdate()) FOR [LastReceivedDateTime]
GO
