USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vDatasetNoXml]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDatasetNoXml]
AS
  SELECT
      DatasetId
     ,DatasetTypeManagementPackVersionRowId
     ,MemberDatabaseRowId
     ,DatasetDefaultName
     ,DatasetDefaultDescription
     ,ConfigurationXml = CAST (ConfigurationXml AS nvarchar(max))
     ,InstallCompletedInd
     ,InstalledDateTime
     ,LastUpgradeCompletedInd
     ,LastUpgradedDateTime
  FROM dbo.vDataset
GO
