USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[MonitorServiceLevelObjectiveManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion](
	[ServiceLevelObjectiveManagementPackVersionRowId] [int] NOT NULL,
	[MonitorRowId] [int] NOT NULL,
	[Goal] [float] NOT NULL,
	[YellowStateUndesiredInd] [bit] NOT NULL,
	[DisabledStateUndesiredInd] [bit] NOT NULL,
	[PlannedMaintenanceStateUndesiredInd] [bit] NOT NULL,
	[UnplannedMaintenanceStateUndesiredInd] [bit] NOT NULL,
	[HealthServiceUnavailableStateUndesiredInd] [bit] NOT NULL,
	[UnmonitoredStateUndersiredInd] [bit] NOT NULL,
 CONSTRAINT [PK_MonitorServiceLevelObjectiveManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ServiceLevelObjectiveManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion] ADD  DEFAULT ((0)) FOR [YellowStateUndesiredInd]
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion] ADD  DEFAULT ((0)) FOR [DisabledStateUndesiredInd]
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion] ADD  DEFAULT ((0)) FOR [PlannedMaintenanceStateUndesiredInd]
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion] ADD  DEFAULT ((0)) FOR [UnplannedMaintenanceStateUndesiredInd]
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion] ADD  DEFAULT ((0)) FOR [HealthServiceUnavailableStateUndesiredInd]
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion] ADD  DEFAULT ((0)) FOR [UnmonitoredStateUndersiredInd]
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorServiceLevelObjectiveManagementPackVersion_Monitor] FOREIGN KEY([MonitorRowId])
REFERENCES [dbo].[Monitor] ([MonitorRowId])
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [FK_MonitorServiceLevelObjectiveManagementPackVersion_Monitor]
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_MonitorServiceLevelObjectiveManagementPackVersion_ServiceLevelObjectiveManagementPackVersion] FOREIGN KEY([ServiceLevelObjectiveManagementPackVersionRowId])
REFERENCES [dbo].[ServiceLevelObjectiveManagementPackVersion] ([ServiceLevelObjectiveManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[MonitorServiceLevelObjectiveManagementPackVersion] CHECK CONSTRAINT [FK_MonitorServiceLevelObjectiveManagementPackVersion_ServiceLevelObjectiveManagementPackVersion]
GO
