USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ChangeTrackingResetMonitor]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeTrackingResetMonitor](
	[ChangeTrackingRowId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [uniqueidentifier] NOT NULL,
	[SubmittedBy] [nvarchar](256) NOT NULL,
	[RunningAs] [nvarchar](256) NOT NULL,
	[TargetEntityId] [uniqueidentifier] NOT NULL,
	[LocationEntityId] [uniqueidentifier] NOT NULL,
	[ManagedEntityId] [uniqueidentifier] NULL,
	[MonitorId] [uniqueidentifier] NULL,
	[StatusCode] [int] NULL,
	[TimeFinished] [datetime] NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ChangeTrackingResetMonitor] PRIMARY KEY NONCLUSTERED 
(
	[ChangeTrackingRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangeTrackingResetMonitor] ADD  CONSTRAINT [DF_ChangeTrackingResetMonitor_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
