USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[PerformanceRule]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceRule](
	[RuleRowId] [int] NOT NULL,
	[ObjectName] [nvarchar](256) NOT NULL,
	[CounterName] [nvarchar](256) NOT NULL,
	[MultiInstanceInd] [bit] NOT NULL,
	[LastReceivedDateTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_PerformanceRule] PRIMARY KEY CLUSTERED 
(
	[RuleRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerformanceRule] ADD  DEFAULT ((0)) FOR [MultiInstanceInd]
GO
ALTER TABLE [dbo].[PerformanceRule] ADD  DEFAULT (getutcdate()) FOR [LastReceivedDateTime]
GO
