USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ScriptManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScriptManagementPackVersion](
	[ScriptManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ScriptRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[DatasetTypeRowId] [int] NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[UninstallSql] [nvarchar](max) NOT NULL,
	[InstallSql] [nvarchar](max) NOT NULL,
	[UpgradeSupportedInd] [bit] NOT NULL,
	[UpgradeSql] [nvarchar](max) NULL,
 CONSTRAINT [PK_ScriptManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ScriptManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ScriptManagementPackVersion_ScriptManagementPack] UNIQUE NONCLUSTERED 
(
	[ManagementPackVersionRowId] ASC,
	[ScriptRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScriptManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ScriptManagementPackVersion_DatasetType] FOREIGN KEY([DatasetTypeRowId])
REFERENCES [dbo].[DatasetType] ([DatasetTypeRowId])
GO
ALTER TABLE [dbo].[ScriptManagementPackVersion] CHECK CONSTRAINT [FK_ScriptManagementPackVersion_DatasetType]
GO
ALTER TABLE [dbo].[ScriptManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ScriptManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ScriptManagementPackVersion] CHECK CONSTRAINT [FK_ScriptManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[ScriptManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ScriptManagementPackVersion_Script] FOREIGN KEY([ScriptRowId])
REFERENCES [dbo].[Script] ([ScriptRowId])
GO
ALTER TABLE [dbo].[ScriptManagementPackVersion] CHECK CONSTRAINT [FK_ScriptManagementPackVersion_Script]
GO
