USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[SynchronizationProcessState]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SynchronizationProcessState](
	[ManagementGroupRowId] [int] NOT NULL,
	[SynchronizationProcessId] [uniqueidentifier] NOT NULL,
	[State] [varbinary](max) NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_SynchronizationProcessState] PRIMARY KEY CLUSTERED 
(
	[ManagementGroupRowId] ASC,
	[SynchronizationProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SynchronizationProcessState] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[SynchronizationProcessState]  WITH CHECK ADD  CONSTRAINT [FK_SynchronizationProcessState_ManagementGroup] FOREIGN KEY([ManagementGroupRowId])
REFERENCES [dbo].[ManagementGroup] ([ManagementGroupRowId])
GO
ALTER TABLE [dbo].[SynchronizationProcessState] CHECK CONSTRAINT [FK_SynchronizationProcessState_ManagementGroup]
GO
