USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[RuleManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleManagementPackVersion](
	[RuleManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[RuleRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[WorkflowCategoryRowId] [int] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[EnabledInd] [tinyint] NOT NULL,
	[ConfirmDeliveryInd] [bit] NULL,
	[RemotableInd] [bit] NULL,
	[Priority] [nvarchar](20) NULL,
	[DiscardLevel] [tinyint] NULL,
	[DefinitionXml] [xml] NOT NULL,
	[DefinitionHash] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RuleManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[RuleManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_RuleManagementPackVersion_RuleManagementPack] UNIQUE NONCLUSTERED 
(
	[ManagementPackVersionRowId] ASC,
	[RuleRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RuleManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RuleManagementPackVersion_ManagedEntityType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[RuleManagementPackVersion] CHECK CONSTRAINT [FK_RuleManagementPackVersion_ManagedEntityType]
GO
ALTER TABLE [dbo].[RuleManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RuleManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[RuleManagementPackVersion] CHECK CONSTRAINT [FK_RuleManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[RuleManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RuleManagementPackVersion_Rule] FOREIGN KEY([RuleRowId])
REFERENCES [dbo].[Rule] ([RuleRowId])
GO
ALTER TABLE [dbo].[RuleManagementPackVersion] CHECK CONSTRAINT [FK_RuleManagementPackVersion_Rule]
GO
ALTER TABLE [dbo].[RuleManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RuleManagementPackVersion_WorkflowCategory] FOREIGN KEY([WorkflowCategoryRowId])
REFERENCES [dbo].[WorkflowCategory] ([WorkflowCategoryRowId])
GO
ALTER TABLE [dbo].[RuleManagementPackVersion] CHECK CONSTRAINT [FK_RuleManagementPackVersion_WorkflowCategory]
GO
