USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ServiceLevelAgreementManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceLevelAgreementManagementPackVersion](
	[ServiceLevelAgreementManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceLevelAgreementRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[ContextManagedEntityTypeRowId] [int] NULL,
	[ContextManagedEntityGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ServiceLevelAgreementManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ServiceLevelAgreementManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ServiceLevelAgreementManagementPackVersion_ServiceLevelAgreementManagementPack] UNIQUE NONCLUSTERED 
(
	[ServiceLevelAgreementRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceLevelAgreementManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelAgreementManagementPackVersion_ManagedEntityType_ContextManagedEntityTypeRowId] FOREIGN KEY([ContextManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ServiceLevelAgreementManagementPackVersion] CHECK CONSTRAINT [FK_ServiceLevelAgreementManagementPackVersion_ManagedEntityType_ContextManagedEntityTypeRowId]
GO
ALTER TABLE [dbo].[ServiceLevelAgreementManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelAgreementManagementPackVersion_ManagedEntityType_TargetManagedEntityTypeRowId] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ServiceLevelAgreementManagementPackVersion] CHECK CONSTRAINT [FK_ServiceLevelAgreementManagementPackVersion_ManagedEntityType_TargetManagedEntityTypeRowId]
GO
ALTER TABLE [dbo].[ServiceLevelAgreementManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelAgreementManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ServiceLevelAgreementManagementPackVersion] CHECK CONSTRAINT [FK_ServiceLevelAgreementManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[ServiceLevelAgreementManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelAgreementManagementPackVersion_ServiceLevelAgreement] FOREIGN KEY([ServiceLevelAgreementRowId])
REFERENCES [dbo].[ServiceLevelAgreement] ([ServiceLevelAgreementRowId])
GO
ALTER TABLE [dbo].[ServiceLevelAgreementManagementPackVersion] CHECK CONSTRAINT [FK_ServiceLevelAgreementManagementPackVersion_ServiceLevelAgreement]
GO
