USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPackVersion](
	[ManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ManagementPackVersionDependentGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackVersion] [nvarchar](50) NOT NULL,
	[ContentReadableInd] [bit] NOT NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
	[DWLastModifiedDateTime] [datetime] NOT NULL,
	[DWLastModifiedByManagementGroupGuid] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](256) NULL,
 CONSTRAINT [PK_ManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagementPackVersion_ManagementPackVersionDependentGuid] UNIQUE NONCLUSTERED 
(
	[ManagementPackVersionDependentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementPackVersion] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
ALTER TABLE [dbo].[ManagementPackVersion] ADD  DEFAULT (getutcdate()) FOR [DWLastModifiedDateTime]
GO
ALTER TABLE [dbo].[ManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManagementPackVersion_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[ManagementPackVersion] CHECK CONSTRAINT [FK_ManagementPackVersion_ManagementPack]
GO
