USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntityTypeManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityTypeManagementPackVersion](
	[ManagedEntityTypeManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[BaseManagedEntityTypeRowId] [int] NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[HostedInd] [bit] NOT NULL,
	[AbstractInd] [bit] NOT NULL,
	[SingletonInd] [bit] NOT NULL,
 CONSTRAINT [PK_ManagedEntityTypeManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityTypeManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntityTypeManagementPackVersion_ManagedEntityTypeManagementPack] UNIQUE NONCLUSTERED 
(
	[ManagedEntityTypeRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntityTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityTypeManagementPackVersion_ManagedEntityType] FOREIGN KEY([ManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ManagedEntityTypeManagementPackVersion] CHECK CONSTRAINT [FK_ManagedEntityTypeManagementPackVersion_ManagedEntityType]
GO
ALTER TABLE [dbo].[ManagedEntityTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityTypeManagementPackVersion_ManagedEntityType_BaseType] FOREIGN KEY([BaseManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[ManagedEntityTypeManagementPackVersion] CHECK CONSTRAINT [FK_ManagedEntityTypeManagementPackVersion_ManagedEntityType_BaseType]
GO
ALTER TABLE [dbo].[ManagedEntityTypeManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityTypeManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[ManagedEntityTypeManagementPackVersion] CHECK CONSTRAINT [FK_ManagedEntityTypeManagementPackVersion_ManagementPackVersion]
GO
