USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[RelationshipTypeProperty]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipTypeProperty](
	[RelationshipTypePropertyRowId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyGuid] [uniqueidentifier] NOT NULL,
	[RelationshipTypeRowId] [int] NOT NULL,
	[PropertySystemName] [nvarchar](256) NOT NULL,
	[PropertyDefaultName] [nvarchar](256) NOT NULL,
	[PropertyDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_RelationshipTypeProperty] PRIMARY KEY CLUSTERED 
(
	[RelationshipTypePropertyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_RelationshipTypeProperty_PropertyGuid] UNIQUE NONCLUSTERED 
(
	[PropertyGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipTypeProperty]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypeProperty_RelationshipType] FOREIGN KEY([RelationshipTypeRowId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeRowId])
GO
ALTER TABLE [dbo].[RelationshipTypeProperty] CHECK CONSTRAINT [FK_RelationshipTypeProperty_RelationshipType]
GO
