USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntityType]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityType](
	[ManagedEntityTypeRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ManagedEntityTypeSystemName] [nvarchar](256) NOT NULL,
	[ManagedEntityTypeDefaultName] [nvarchar](256) NOT NULL,
	[ManagedEntityTypeDefaultDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_ManagedEntityType] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntityType_ManagedEntityTypeGuid] UNIQUE NONCLUSTERED 
(
	[ManagedEntityTypeGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntityType]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityType_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [dbo].[ManagedEntityType] CHECK CONSTRAINT [FK_ManagedEntityType_ManagementPack]
GO
