USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StandardDatasetOptimizationHistory]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardDatasetOptimizationHistory](
	[StandardDatasetOptimizationHistoryRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[StandardDatasetTableMapRowId] [bigint] NOT NULL,
	[StandardDatasetAggregationStorageIndexRowId] [int] NOT NULL,
	[OptimizationStartDateTime] [datetime] NULL,
	[OptimizationDurationSeconds] [int] NULL,
	[BeforeAvgFragmentationInPercent] [float] NULL,
	[AfterAvgFragmentationInPercent] [float] NULL,
	[OptimizationMethod] [varchar](30) NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_StandardDatasetOptimizationHistory] PRIMARY KEY CLUSTERED 
(
	[StandardDatasetOptimizationHistoryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StandardDatasetOptimizationHistory] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTime]
GO
