USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DebugMessage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DebugMessage](
	[DebugMessageRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProcessId] [int] NOT NULL,
	[DatasetId] [uniqueidentifier] NOT NULL,
	[MessageLevel] [tinyint] NOT NULL,
	[MessageDateTime] [datetime] NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[OperationDurationMs] [bigint] NULL,
 CONSTRAINT [PK_DebugMessageRowId] PRIMARY KEY CLUSTERED 
(
	[DebugMessageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DebugMessage] ADD  DEFAULT (@@spid) FOR [ProcessId]
GO
ALTER TABLE [dbo].[DebugMessage] ADD  DEFAULT (getutcdate()) FOR [MessageDateTime]
GO
