USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[ManagedEntityMonitor]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityMonitor](
	[ManagedEntityMonitorRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[MonitorRowId] [int] NOT NULL,
	[DWCreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ManagedEntityMonitor] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityMonitorRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntityMonitor_ManagedEntityRowIdMonitorRowId] UNIQUE NONCLUSTERED 
(
	[ManagedEntityRowId] ASC,
	[MonitorRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedEntityMonitor] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
