USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StandardDatasetAggregationStorage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardDatasetAggregationStorage](
	[StandardDatasetAggregationStorageRowId] [int] IDENTITY(1,1) NOT NULL,
	[DatasetId] [uniqueidentifier] NOT NULL,
	[AggregationTypeId] [tinyint] NOT NULL,
	[BaseTableName] [nvarchar](90) NOT NULL,
	[TableTag] [nvarchar](50) NULL,
	[DependentTableInd] [tinyint] NOT NULL,
	[TableTemplate] [nvarchar](max) NOT NULL,
	[CoverViewSelectClause] [nvarchar](max) NOT NULL,
	[MaxTableRowCount] [int] NULL,
	[MaxTableSizeKb] [int] NULL,
 CONSTRAINT [PK_StandardDatasetAggregationStorage] PRIMARY KEY CLUSTERED 
(
	[StandardDatasetAggregationStorageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_StandardDatasetAggregationStorage_BaseTableName] UNIQUE NONCLUSTERED 
(
	[BaseTableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_StandardDatasetAggregationStorage_DatasetTableTag] UNIQUE NONCLUSTERED 
(
	[DatasetId] ASC,
	[AggregationTypeId] ASC,
	[DependentTableInd] ASC,
	[TableTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[StandardDatasetAggregationStorage] ADD  DEFAULT ((0)) FOR [DependentTableInd]
GO
