USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[OverrideManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverrideManagementPackVersion](
	[OverrideManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[OverrideRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[ContextManagedEntityTypeRowId] [int] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NULL,
	[EnforcedInd] [bit] NOT NULL,
	[CategoryOverrideInd] [bit] NOT NULL,
	[MonitoringOverrideInd] [bit] NOT NULL,
	[MonitorPropertyOverrideInd] [bit] NOT NULL,
	[MonitorConfigurationOverrideInd] [bit] NOT NULL,
	[RulePropertyOverrideInd] [bit] NOT NULL,
	[RuleConfigurationOverrideInd] [bit] NOT NULL,
	[DiagnosticPropertyOverrideInd] [bit] NOT NULL,
	[DiagnosticConfigurationOverrideInd] [bit] NOT NULL,
	[RecoveryPropertyOverrideInd] [bit] NOT NULL,
	[RecoveryConfigurationOverrideInd] [bit] NOT NULL,
	[DiscoveryPropertyOverrideInd] [bit] NOT NULL,
	[DiscoveryConfigurationOverrideInd] [bit] NOT NULL,
	[WorkflowRowId] [int] NULL,
	[WorkflowCategoryRowId] [int] NULL,
	[OverridableParameterName] [nvarchar](256) NULL,
	[OverridablePropertyName] [nvarchar](256) NULL,
	[MemberModuleName] [nvarchar](256) NULL,
	[Value] [nvarchar](max) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[Username] [nvarchar](256) NULL,
	[DWLastModifiedDatetime] [datetime] NULL,
 CONSTRAINT [PK_OverrideManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[OverrideManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_OverrideManagementPackVersion_OverrideManagementPack] UNIQUE NONCLUSTERED 
(
	[OverrideRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OverrideManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_OverrideManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[OverrideManagementPackVersion] CHECK CONSTRAINT [FK_OverrideManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[OverrideManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_OverrideManagementPackVersion_Override] FOREIGN KEY([OverrideRowId])
REFERENCES [dbo].[Override] ([OverrideRowId])
GO
ALTER TABLE [dbo].[OverrideManagementPackVersion] CHECK CONSTRAINT [FK_OverrideManagementPackVersion_Override]
GO
ALTER TABLE [dbo].[OverrideManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_OverrideManagementPackVersion_WorkflowCategory] FOREIGN KEY([WorkflowCategoryRowId])
REFERENCES [dbo].[WorkflowCategory] ([WorkflowCategoryRowId])
GO
ALTER TABLE [dbo].[OverrideManagementPackVersion] CHECK CONSTRAINT [FK_OverrideManagementPackVersion_WorkflowCategory]
GO
