USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[DiscoveryManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryManagementPackVersion](
	[DiscoveryManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[DiscoveryRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[WorkflowCategoryRowId] [int] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[EnabledInd] [tinyint] NOT NULL,
	[ConfirmDeliveryInd] [bit] NULL,
	[RemotableInd] [bit] NULL,
	[Priority] [nvarchar](20) NULL,
	[DefinitionXml] [xml] NOT NULL,
	[DefinitionHash] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DiscoveryManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[DiscoveryManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_DiscoveryManagementPackVersion_DiscoveryManagementPack] UNIQUE NONCLUSTERED 
(
	[DiscoveryRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DiscoveryManagementPackVersion_Discovery] FOREIGN KEY([DiscoveryRowId])
REFERENCES [dbo].[Discovery] ([DiscoveryRowId])
GO
ALTER TABLE [dbo].[DiscoveryManagementPackVersion] CHECK CONSTRAINT [FK_DiscoveryManagementPackVersion_Discovery]
GO
ALTER TABLE [dbo].[DiscoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DiscoveryManagementPackVersion_ManagedEntityType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[DiscoveryManagementPackVersion] CHECK CONSTRAINT [FK_DiscoveryManagementPackVersion_ManagedEntityType]
GO
ALTER TABLE [dbo].[DiscoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DiscoveryManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[DiscoveryManagementPackVersion] CHECK CONSTRAINT [FK_DiscoveryManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[DiscoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_DiscoveryManagementPackVersion_WorkflowCategory] FOREIGN KEY([WorkflowCategoryRowId])
REFERENCES [dbo].[WorkflowCategory] ([WorkflowCategoryRowId])
GO
ALTER TABLE [dbo].[DiscoveryManagementPackVersion] CHECK CONSTRAINT [FK_DiscoveryManagementPackVersion_WorkflowCategory]
GO
