USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vMonitorManagementPackVersionNoXml]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vMonitorManagementPackVersionNoXml]
AS
  SELECT
     MonitorManagementPackVersionRowId
    ,MonitorRowId
    ,ManagementPackVersionRowId
    ,WorkflowCategoryRowId
    ,ParentMonitorRowId
    ,UnitMonitorInd
    ,AggregateMonitorInd
    ,DependencyMonitorInd
    ,TargetManagedEntityTypeRowId
    ,RelationshipTypeRowId
    ,DependencyMonitorRowId
    ,Accessibility
    ,EnabledInd
    ,RemotableInd
    ,ConfirmDeliveryInd
    ,GenerateAlertInd
    ,AlertOnHealthStateRowId
    ,AutoResolveAlertInd
    ,AlertPriority
    ,AlertSeverity
    ,Algorithm
    ,AlgorithmParameter
    ,Priority
    ,MemberInMaintenanceHealthStateRowId
    ,MemberUnavailableHealthStateRowId
    ,DefinitionXml = CAST (DefinitionXml AS nvarchar(max))
    ,DefinitionHash
  FROM vMonitorManagementPackVersion
GO
