USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[EventChannel]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventChannel](
	[EventChannelRowId] [smallint] IDENTITY(1,1) NOT NULL,
	[EventChannelTitle] [nvarchar](255) NOT NULL,
	[LastReceivedDateTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_EventChannel] PRIMARY KEY CLUSTERED 
(
	[EventChannelRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_EventChannel_EventChannelTitle] UNIQUE NONCLUSTERED 
(
	[EventChannelTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventChannel] ADD  DEFAULT (getutcdate()) FOR [LastReceivedDateTime]
GO
