USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[RecoveryManagementPackVersion]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecoveryManagementPackVersion](
	[RecoveryManagementPackVersionRowId] [int] IDENTITY(1,1) NOT NULL,
	[RecoveryRowId] [int] NOT NULL,
	[ManagementPackVersionRowId] [int] NOT NULL,
	[WorkflowCategoryRowId] [int] NOT NULL,
	[Accessibility] [nvarchar](50) NOT NULL,
	[EnabledInd] [tinyint] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[RemotableInd] [bit] NULL,
	[Timeout] [int] NULL,
	[MonitorRowId] [int] NULL,
	[ExecuteOnHealthStateRowId] [tinyint] NULL,
	[ExecuteOnDiagnosticRowId] [int] NULL,
	[ResetMonitorInd] [bit] NOT NULL,
	[DefinitionXml] [xml] NOT NULL,
	[DefinitionHash] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RecoveryManagementPackVersion] PRIMARY KEY CLUSTERED 
(
	[RecoveryManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_RecoveryManagementPackVersion_RecoveryManagementPack] UNIQUE NONCLUSTERED 
(
	[RecoveryRowId] ASC,
	[ManagementPackVersionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RecoveryManagementPackVersion_Diagnostic] FOREIGN KEY([ExecuteOnDiagnosticRowId])
REFERENCES [dbo].[Diagnostic] ([DiagnosticRowId])
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion] CHECK CONSTRAINT [FK_RecoveryManagementPackVersion_Diagnostic]
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RecoveryManagementPackVersion_HealthState] FOREIGN KEY([ExecuteOnHealthStateRowId])
REFERENCES [dbo].[HealthState] ([HealthStateRowId])
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion] CHECK CONSTRAINT [FK_RecoveryManagementPackVersion_HealthState]
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RecoveryManagementPackVersion_ManagedEntityType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [dbo].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion] CHECK CONSTRAINT [FK_RecoveryManagementPackVersion_ManagedEntityType]
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RecoveryManagementPackVersion_ManagementPackVersion] FOREIGN KEY([ManagementPackVersionRowId])
REFERENCES [dbo].[ManagementPackVersion] ([ManagementPackVersionRowId])
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion] CHECK CONSTRAINT [FK_RecoveryManagementPackVersion_ManagementPackVersion]
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RecoveryManagementPackVersion_Recovery] FOREIGN KEY([RecoveryRowId])
REFERENCES [dbo].[Recovery] ([RecoveryRowId])
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion] CHECK CONSTRAINT [FK_RecoveryManagementPackVersion_Recovery]
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion]  WITH CHECK ADD  CONSTRAINT [FK_RecoveryManagementPackVersion_WorkflowCategory] FOREIGN KEY([WorkflowCategoryRowId])
REFERENCES [dbo].[WorkflowCategory] ([WorkflowCategoryRowId])
GO
ALTER TABLE [dbo].[RecoveryManagementPackVersion] CHECK CONSTRAINT [FK_RecoveryManagementPackVersion_WorkflowCategory]
GO
