USE [OperationsManagerDW]
GO
/****** Object:  View [dbo].[vManagedEntityPropertySet]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vManagedEntityPropertySet]
AS
SELECT
   mep.ManagedEntityRowId
  ,mep.ManagedEntityPropertyRowId
	,mep.FromDateTime
	,mep.ToDateTime
	,PropertyGuid = T.p.value('@Guid', 'uniqueidentifier')
	,PropertyValue = T.p.value('data(.)', 'nvarchar(max)')
FROM vManagedEntityProperty mep
      CROSS APPLY mep.PropertyXml.nodes('Root/Property') AS T(p)
GO
