USE [OperationsManagerDW]
GO
/****** Object:  Table [dbo].[StandardDatasetAggregationHistory]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardDatasetAggregationHistory](
	[StandardDatasetAggregationHistoryRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[DatasetId] [uniqueidentifier] NOT NULL,
	[AggregationTypeId] [tinyint] NOT NULL,
	[AggregationDateTime] [smalldatetime] NOT NULL,
	[DirtyInd] [bit] NOT NULL,
	[DataLastReceivedDateTime] [datetime] NULL,
	[AggregationCount] [int] NOT NULL,
	[FirstAggregationStartDateTime] [datetime] NULL,
	[FirstAggregationDurationSeconds] [int] NULL,
	[LastAggregationStartDateTime] [datetime] NULL,
	[LastAggregationDurationSeconds] [int] NULL,
 CONSTRAINT [PK_StandardDatasetAggregationHistory] PRIMARY KEY CLUSTERED 
(
	[StandardDatasetAggregationHistoryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_StandardDatasetAggregationHistory_DatasetAggregationTypeAggregationTime] UNIQUE NONCLUSTERED 
(
	[DatasetId] ASC,
	[AggregationTypeId] ASC,
	[AggregationDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StandardDatasetAggregationHistory] ADD  DEFAULT ((1)) FOR [DirtyInd]
GO
ALTER TABLE [dbo].[StandardDatasetAggregationHistory] ADD  DEFAULT ((0)) FOR [AggregationCount]
GO
