USE [OperationsManagerDW]
GO
/****** Object:  View [Event].[vEventRule]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Event].[vEventRule] AS SELECT
       EventOriginId
      ,RuleRowId
      ,ManagedEntityRowId
    FROM [Event].[EventRule_48A1870317344FC5B2FBD7C00D048062] (NOLOCK) 
GO
