USE [OperationsManagerDW]
GO
/****** Object:  Table [Event].[Event_48A1870317344FC5B2FBD7C00D048062]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Event].[Event_48A1870317344FC5B2FBD7C00D048062](
	[EventRowId] [int] IDENTITY(1,1) NOT NULL,
	[EventOriginId] [uniqueidentifier] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[EventPublisherRowId] [int] NOT NULL,
	[EventChannelRowId] [smallint] NOT NULL,
	[EventCategoryRowId] [int] NOT NULL,
	[EventLevelId] [tinyint] NOT NULL,
	[LoggingComputerRowId] [int] NOT NULL,
	[EventNumber] [bigint] NOT NULL,
	[EventDisplayNumber] [int] NOT NULL,
	[UserNameRowId] [int] NOT NULL,
	[RawDescriptionHash] [uniqueidentifier] NULL,
	[ParameterHash] [uniqueidentifier] NULL,
	[EventDataHash] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Event_48A1870317344FC5B2FBD7C00D048062] PRIMARY KEY CLUSTERED 
(
	[EventRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
