USE [OperationsManagerDW]
GO
/****** Object:  View [Event].[vEvent]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Event].[vEvent] AS SELECT
       EventOriginId
      ,[DateTime]
      ,EventPublisherRowId
      ,EventChannelRowId
      ,EventCategoryRowId
      ,EventLevelId
      ,LoggingComputerRowId
      ,EventNumber
      ,EventDisplayNumber
      ,UserNameRowId
      ,RawDescriptionHash
      ,ParameterHash
      ,EventDataHash
    FROM [Event].[Event_48A1870317344FC5B2FBD7C00D048062] (NOLOCK) 
GO
