USE [OperationsManagerDW]
GO
/****** Object:  Table [Event].[EventDetail_48A1870317344FC5B2FBD7C00D048062]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Event].[EventDetail_48A1870317344FC5B2FBD7C00D048062](
	[EventDetailRowId] [int] IDENTITY(1,1) NOT NULL,
	[EventOriginId] [uniqueidentifier] NOT NULL,
	[RawDescription] [nvarchar](max) NULL,
	[RenderedDescription] [nvarchar](max) NULL,
	[EventData] [xml] NULL,
 CONSTRAINT [PK_EventDetail_48A1870317344FC5B2FBD7C00D048062] PRIMARY KEY CLUSTERED 
(
	[EventDetailRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
