USE [OperationsManagerDW]
GO
/****** Object:  Table [Event].[EventRule_48A1870317344FC5B2FBD7C00D048062]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Event].[EventRule_48A1870317344FC5B2FBD7C00D048062](
	[EventRuleRowId] [int] IDENTITY(1,1) NOT NULL,
	[EventOriginId] [uniqueidentifier] NOT NULL,
	[RuleRowId] [int] NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
 CONSTRAINT [PK_EventRule_48A1870317344FC5B2FBD7C00D048062] PRIMARY KEY CLUSTERED 
(
	[EventRuleRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
