USE [OperationsManagerDW]
GO
/****** Object:  Table [Event].[EventStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Event].[EventStage](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[ManagementGroupGuid] [uniqueidentifier] NOT NULL,
	[EventOriginId] [uniqueidentifier] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[RuleRowId] [int] NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[EventPublisherRowId] [int] NOT NULL,
	[EventChannelRowId] [smallint] NOT NULL,
	[EventCategoryRowId] [int] NOT NULL,
	[EventLevelId] [tinyint] NOT NULL,
	[LoggingComputerRowId] [int] NOT NULL,
	[EventDisplayNumber] [int] NOT NULL,
	[EventNumber] [bigint] NOT NULL,
	[UserNameRowId] [int] NOT NULL,
	[RawDescription] [nvarchar](max) NULL,
	[RenderedDescription] [nvarchar](max) NULL,
	[EventParameters] [xml] NULL,
	[EventData] [xml] NULL,
	[RawDescriptionHash] [uniqueidentifier] NULL,
	[ParameterHash] [uniqueidentifier] NULL,
	[EventDataHash] [uniqueidentifier] NULL,
	[EventStageRowId] [bigint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventStageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
