USE [OperationsManagerDW]
GO
/****** Object:  View [Event].[vEventDetail]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Event].[vEventDetail] AS SELECT
       EventOriginId
      ,RawDescription
      ,RenderedDescription
      ,EventData
    FROM [Event].[EventDetail_48A1870317344FC5B2FBD7C00D048062] (NOLOCK) 
GO
