USE [OperationsManagerDW]
GO
/****** Object:  Table [Perf].[PerfRaw_19764E335B4A47F9BC0D253AF9416674]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Perf].[PerfRaw_19764E335B4A47F9BC0D253AF9416674](
	[PerfRawRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[PerformanceRuleInstanceRowId] [int] NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[SampleValue] [float] NULL,
 CONSTRAINT [PK_PerfRaw_19764E335B4A47F9BC0D253AF9416674] PRIMARY KEY CLUSTERED 
(
	[PerfRawRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
