USE [OperationsManagerDW]
GO
/****** Object:  View [Perf].[vPerfDaily]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Perf].[vPerfDaily] AS 
          SELECT
             [DateTime]
            ,PerformanceRuleInstanceRowId
            ,ManagedEntityRowId
            ,SampleCount
            ,AverageValue
            ,MinValue
            ,MaxValue
            ,StandardDeviation
        FROM [Perf].[PerfDaily_E8675FA67C84444EB150B1124B3DDFFB] (NOLOCK) 
GO
