USE [OperationsManagerDW]
GO
/****** Object:  View [Perf].[vPerfHourly]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Perf].[vPerfHourly] AS 
          SELECT
             [DateTime]
            ,PerformanceRuleInstanceRowId
            ,ManagedEntityRowId
            ,SampleCount
            ,AverageValue
            ,MinValue
            ,MaxValue
            ,StandardDeviation
        FROM [Perf].[PerfHourly_3940F0D7EE564E63812AACEC27FAA3A7] (NOLOCK) 
GO
