USE [OperationsManagerDW]
GO
/****** Object:  Table [Perf].[PerfDaily_E8675FA67C84444EB150B1124B3DDFFB]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Perf].[PerfDaily_E8675FA67C84444EB150B1124B3DDFFB](
	[PerfDailyRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[PerformanceRuleInstanceRowId] [int] NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[SampleCount] [int] NOT NULL,
	[AverageValue] [float] NOT NULL,
	[MinValue] [float] NOT NULL,
	[MaxValue] [float] NOT NULL,
	[StandardDeviation] [float] NOT NULL,
 CONSTRAINT [PK_PerfDaily_E8675FA67C84444EB150B1124B3DDFFB] PRIMARY KEY CLUSTERED 
(
	[PerfDailyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
