USE [OperationsManagerDW]
GO
/****** Object:  Table [Perf].[PerfHourly_3940F0D7EE564E63812AACEC27FAA3A7]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Perf].[PerfHourly_3940F0D7EE564E63812AACEC27FAA3A7](
	[PerfHourlyRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[PerformanceRuleInstanceRowId] [int] NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[SampleCount] [int] NOT NULL,
	[AverageValue] [float] NOT NULL,
	[MinValue] [float] NOT NULL,
	[MaxValue] [float] NOT NULL,
	[StandardDeviation] [float] NOT NULL,
 CONSTRAINT [PK_PerfHourly_3940F0D7EE564E63812AACEC27FAA3A7] PRIMARY KEY CLUSTERED 
(
	[PerfHourlyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
