USE [OperationsManagerDW]
GO
/****** Object:  Table [Perf].[PerformanceStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Perf].[PerformanceStage](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[ManagementGroupGuid] [uniqueidentifier] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ManagedEntityRowId] [int] NOT NULL,
	[PerformanceRuleInstanceRowId] [int] NOT NULL,
	[SampleValue] [float] NOT NULL,
	[PerformanceStageRowId] [bigint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PerformanceStageRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
