USE [OperationsManagerDW]
GO
/****** Object:  View [Perf].[vPerfRaw]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Perf].[vPerfRaw] AS 
          SELECT
             [DateTime]
            ,PerformanceRuleInstanceRowId
            ,ManagedEntityRowId
            ,SampleValue
        FROM [Perf].[PerfRaw_19764E335B4A47F9BC0D253AF9416674] (NOLOCK) 
GO
