USE [OperationsManagerDW]
GO
/****** Object:  Table [State].[StateDaily_2272B5C902AA4C6CA3BA7D11A88F28AF]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [State].[StateDaily_2272B5C902AA4C6CA3BA7D11A88F28AF](
	[StateDailyRowId] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ManagedEntityMonitorRowId] [int] NOT NULL,
	[InRedStateMilliseconds] [int] NOT NULL,
	[InYellowStateMilliseconds] [int] NOT NULL,
	[InDisabledStateMilliseconds] [int] NOT NULL,
	[InPlannedMaintenanceMilliseconds] [int] NOT NULL,
	[InUnplannedMaintenanceMilliseconds] [int] NOT NULL,
	[HealthServiceUnavailableMilliseconds] [int] NOT NULL,
	[IntervalEndHealthState] [tinyint] NULL,
 CONSTRAINT [PK_StateDaily_2272B5C902AA4C6CA3BA7D11A88F28AF] PRIMARY KEY CLUSTERED 
(
	[StateDailyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
