USE [OperationsManagerDW]
GO
/****** Object:  View [State].[vStateDaily]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [State].[vStateDaily] AS 
          SELECT
             ManagedEntityMonitorRowId
            ,[DateTime]
            ,InRedStateMilliseconds
            ,InYellowStateMilliseconds
            ,InDisabledStateMilliseconds
            ,InPlannedMaintenanceMilliseconds
            ,InUnplannedMaintenanceMilliseconds
            ,HealthServiceUnavailableMilliseconds
            ,IntervalEndHealthState
        FROM [State].[StateDaily_2272B5C902AA4C6CA3BA7D11A88F28AF] (NOLOCK) 
GO
