USE [OperationsManagerDW]
GO
/****** Object:  Table [State].[StateHourly_F269EF2806EA4E9BA6F8E1216B3D2CB6]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [State].[StateHourly_F269EF2806EA4E9BA6F8E1216B3D2CB6](
	[StateHourlyRowId] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ManagedEntityMonitorRowId] [int] NOT NULL,
	[InRedStateMilliseconds] [int] NOT NULL,
	[InYellowStateMilliseconds] [int] NOT NULL,
	[InDisabledStateMilliseconds] [int] NOT NULL,
	[InPlannedMaintenanceMilliseconds] [int] NOT NULL,
	[InUnplannedMaintenanceMilliseconds] [int] NOT NULL,
	[HealthServiceUnavailableMilliseconds] [int] NOT NULL,
	[IntervalEndHealthState] [tinyint] NULL,
 CONSTRAINT [PK_StateHourly_F269EF2806EA4E9BA6F8E1216B3D2CB6] PRIMARY KEY CLUSTERED 
(
	[StateHourlyRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
