USE [OperationsManagerDW]
GO
/****** Object:  View [State].[vStateRaw]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [State].[vStateRaw] AS 
          SELECT
             EventOriginId
            ,ManagedEntityMonitorRowId
            ,[DateTime]
            ,OldHealthState
            ,NewHealthState
        FROM [State].[StateRaw_342F6EF5364B452C9E84C78D38EA8B2F] (NOLOCK) 
GO
