USE [OperationsManagerDW]
GO
/****** Object:  Table [State].[StateStage]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [State].[StateStage](
	[DatasetId] [uniqueidentifier] NOT NULL,
	[ManagementGroupGuid] [uniqueidentifier] NOT NULL,
	[EventOriginId] [uniqueidentifier] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[MonitorGuid] [uniqueidentifier] NOT NULL,
	[OldHealthState] [tinyint] NOT NULL,
	[NewHealthState] [tinyint] NOT NULL,
	[ManagedEntityMonitorRowId] [int] NULL,
	[InsertReadyInd]  AS (isnull([ManagedEntityMonitorRowId],(0))),
	[DWCreatedDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [State].[StateStage] ADD  DEFAULT (getutcdate()) FOR [DWCreatedDateTime]
GO
