USE [OperationsManagerDW]
GO
/****** Object:  View [State].[vStateHourly]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [State].[vStateHourly] AS 
          SELECT
             ManagedEntityMonitorRowId
            ,[DateTime]
            ,InRedStateMilliseconds
            ,InYellowStateMilliseconds
            ,InDisabledStateMilliseconds
            ,InPlannedMaintenanceMilliseconds
            ,InUnplannedMaintenanceMilliseconds
            ,HealthServiceUnavailableMilliseconds
            ,IntervalEndHealthState
        FROM [State].[StateHourly_F269EF2806EA4E9BA6F8E1216B3D2CB6] (NOLOCK) 
GO
