USE [OperationsManagerDW]
GO
/****** Object:  Table [State].[StateRaw_342F6EF5364B452C9E84C78D38EA8B2F]    Script Date: 8/21/2026 9:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [State].[StateRaw_342F6EF5364B452C9E84C78D38EA8B2F](
	[StateRawRowId] [int] IDENTITY(1,1) NOT NULL,
	[EventOriginId] [uniqueidentifier] NOT NULL,
	[ManagedEntityMonitorRowId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[OldHealthState] [tinyint] NOT NULL,
	[NewHealthState] [tinyint] NOT NULL,
 CONSTRAINT [PK_StateRaw_342F6EF5364B452C9E84C78D38EA8B2F] PRIMARY KEY CLUSTERED 
(
	[StateRawRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
