USE [OperationsManager]
GO
/****** Object:  Table [apm].[PCMACHINE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PCMACHINE](
	[PCMACHINEID] [int] IDENTITY(1,1) NOT NULL,
	[PERIOD] [int] NULL,
	[MACHINE] [nvarchar](255) NOT NULL,
	[WINDOWSVERSION] [nvarchar](50) NULL,
	[AGENTVERSION] [nvarchar](50) NULL,
	[LASTUPDATE] [datetime] NULL,
	[CPUCOUNT] [int] NULL,
	[TIMESTAMP] [timestamp] NOT NULL,
 CONSTRAINT [PK_PCMACHINE] PRIMARY KEY CLUSTERED 
(
	[PCMACHINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_PCMACHINE_MACHINE] UNIQUE NONCLUSTERED 
(
	[MACHINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
