USE [OperationsManager]
GO
/****** Object:  View [apm].[VPERFHOURLYSYNC]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[VPERFHOURLYSYNC] AS
SELECT
        PC.TIMESTAMP,
        PC.PERFHOURLYID,
        T.[TYPE],
        M.MACHINE AS MACHINENAME,
        S.SOURCE,
        PC.IS_STATE,
        PC.UTCDATE,
        PC.AVERAGEVALUE,
        PC.MINVALUE,
        PC.MAXVALUE,
        PC.SAMPLECOUNT,
        PC.SUMVALUE,
        PC.PACKAGECOUNTER,
        PR.HASHVALUE AS PCPROCESSHASH, 
        PC.HASHVALUE
      FROM
            APM.PERFHOURLY (NOLOCK) PC
            LEFT JOIN APM.PCPROCESS (NOLOCK) PR ON PR.PCPROCESSID = PC.PCPROCESSID
            LEFT JOIN APM.SOURCE (NOLOCK) S ON S.SOURCEID = PC.SOURCEID 
            JOIN APM.PCTYPE (NOLOCK) T ON T.PCTYPEID = PC.PCTYPEID 
            JOIN APM.PCMACHINE (NOLOCK) M ON M.PCMACHINEID = PC.MACHINEID
GO
