USE [OperationsManager]
GO
/****** Object:  Table [apm].[LOG]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[LOG](
	[LOGID] [int] IDENTITY(1,1) NOT NULL,
	[LOGDATE] [datetime] NOT NULL,
	[LOGNUMBER] [bigint] NOT NULL,
	[LOGSTATUS] [char](1) NOT NULL,
	[SUCCEEDDATE] [datetime] NULL,
	[COUNTERVALUE] [int] NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY CLUSTERED 
(
	[LOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
