USE [OperationsManager]
GO
/****** Object:  Table [apm].[APPLICATIONSOURCEMACHINE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[APPLICATIONSOURCEMACHINE](
	[APPLICATIONSOURCEMACHINEID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATIONID] [int] NULL,
	[SOURCEID] [int] NULL,
	[MACHINEID] [int] NULL,
	[INTERNALTS] [timestamp] NOT NULL,
	[TIMESTAMP] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_APPLICATIONSOURCEMACHINE] PRIMARY KEY CLUSTERED 
(
	[APPLICATIONSOURCEMACHINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE] ADD  CONSTRAINT [DF_APPLICATIONSOURCEMACHINE_TIMESTAMP]  DEFAULT (@@dbts+CONVERT([bigint],(1),(0))) FOR [TIMESTAMP]
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE]  WITH CHECK ADD  CONSTRAINT [FK_APPLICAT_FK_APPLIC_APPLICAT] FOREIGN KEY([APPLICATIONID])
REFERENCES [apm].[APPLICATION] ([APPLICATIONID])
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE] CHECK CONSTRAINT [FK_APPLICAT_FK_APPLIC_APPLICAT]
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE]  WITH CHECK ADD  CONSTRAINT [FK_APPLICAT_FK_MACHIN_LICENSEM] FOREIGN KEY([MACHINEID])
REFERENCES [apm].[LICENSEMACHINE] ([LICENSEMACHINEID])
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE] CHECK CONSTRAINT [FK_APPLICAT_FK_MACHIN_LICENSEM]
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE]  WITH CHECK ADD  CONSTRAINT [FK_APPLICAT_FK_SOURCE_SOURCE] FOREIGN KEY([SOURCEID])
REFERENCES [apm].[SOURCE] ([SOURCEID])
GO
ALTER TABLE [apm].[APPLICATIONSOURCEMACHINE] CHECK CONSTRAINT [FK_APPLICAT_FK_SOURCE_SOURCE]
GO
