USE [OperationsManager]
GO
/****** Object:  Table [apm].[PERFORMANCENODE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PERFORMANCENODE](
	[PERFORMANCENODEID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTID] [int] NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[FUNCTIONNAME] [nvarchar](255) NULL,
	[DURATION] [decimal](35, 0) NULL,
	[HASHCODE] [nvarchar](255) NULL,
	[ENTRYID] [int] NULL,
	[ISHEAVIESTNODE] [bit] NOT NULL,
	[SELFDURATION] [decimal](35, 0) NOT NULL,
	[INTERNALTS] [timestamp] NOT NULL,
	[TIMESTAMP] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_PERFORMANCENODE] PRIMARY KEY CLUSTERED 
(
	[PERFORMANCENODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PERFORMANCENODE] ADD  CONSTRAINT [DF_performancenode_TIMESTAMP]  DEFAULT (@@dbts+CONVERT([bigint],(1),(0))) FOR [TIMESTAMP]
GO
ALTER TABLE [apm].[PERFORMANCENODE]  WITH CHECK ADD  CONSTRAINT [FK_PERFORMA_FK_EVENT_EVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
GO
ALTER TABLE [apm].[PERFORMANCENODE] CHECK CONSTRAINT [FK_PERFORMA_FK_EVENT_EVENT]
GO
