USE [OperationsManager]
GO
/****** Object:  View [apm].[VEVENTROWSYNC]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[VEVENTROWSYNC] AS
SELECT 
   E.EVENTID,
   E.EVENTCLASS,
   E.ROWDATA,
   E.SOURCE,
   E.EVENTCLASSTYPE,
   E.EVENTCLASSVERSION,
   E.ROOTNODENAME,
   E.ROOTFUNCTION,
   E.UTCEVENTDATE,
   E.EVENTDURATION,
   E.CDATE,
   E.TIMESTAMP
FROM 
   APM.EVENT (NOLOCK) E 
WHERE 
   E.EVENTCLASSTYPE IN ('performance', 'exception') AND 
   (E.HEAVYLIGHT IS NULL OR E.HEAVYLIGHT <> 0) AND 
   E.SOURCE NOT LIKE '%(Client)'   
GO
