USE [OperationsManager]
GO
/****** Object:  Table [apm].[CHAINENTRYINFO]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[CHAINENTRYINFO](
	[CHAINENTRYINFOID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTID] [int] NULL,
	[CHAINENTRYTYPE] [nvarchar](50) NULL,
	[DURATION] [decimal](35, 0) NULL,
	[ACCOUNT] [nvarchar](255) NULL,
	[ENTRYID] [int] NULL,
	[DISTRIBUTEDCHAINID] [int] NULL,
	[UTCDATE] [datetime] NULL,
 CONSTRAINT [PK_CHAINENTRYINFO] PRIMARY KEY CLUSTERED 
(
	[CHAINENTRYINFOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[CHAINENTRYINFO]  WITH CHECK ADD  CONSTRAINT [FK_CHAINENT_FK_DISTRI_DISTRIBU] FOREIGN KEY([DISTRIBUTEDCHAINID])
REFERENCES [apm].[DISTRIBUTEDCHAIN] ([DISTRIBUTEDCHAINID])
GO
ALTER TABLE [apm].[CHAINENTRYINFO] CHECK CONSTRAINT [FK_CHAINENT_FK_DISTRI_DISTRIBU]
GO
ALTER TABLE [apm].[CHAINENTRYINFO]  WITH CHECK ADD  CONSTRAINT [FK_CHAINENT_FK_EVENT_EVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
GO
ALTER TABLE [apm].[CHAINENTRYINFO] CHECK CONSTRAINT [FK_CHAINENT_FK_EVENT_EVENT]
GO
