USE [OperationsManager]
GO
/****** Object:  Table [apm].[ASPECT]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[ASPECT](
	[ASPECT] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[ASPECTID] [int] IDENTITY(1,1) NOT NULL,
	[INTERNALTS] [timestamp] NOT NULL,
	[TIMESTAMP] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_ASPECT] PRIMARY KEY CLUSTERED 
(
	[ASPECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[ASPECT] ADD  CONSTRAINT [DF_ASPECT_TIMESTAMP]  DEFAULT (@@dbts+CONVERT([bigint],(1),(0))) FOR [TIMESTAMP]
GO
