USE [OperationsManager]
GO
/****** Object:  View [apm].[V_CHAINEVENT]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_CHAINEVENT] AS
SELECT     E.EVENTID, E.EVENTCLASS, E.EVENTCLASSVERSION, E.SOURCE, E.EVENTCODE, E.EVENTTYPE, E.CATEGORY, E.DESCRIPTION, E.EVENTDURATION, 
                      E.MACHINENAME, E.UTCEVENTDATE, E.UTCOFFSET, E.TIMEZONENAME, E.ROOTNODENAME, E.COMPONENT, B.CHAINENTRYINFOID, 
                      B.CHAINENTRYTYPE, B.DURATION, B.ENTRYID, B.UTCDATE, A.CHAINENTRYTYPE AS STARTENTRYTYPE, A.EVENTID AS STARTEVENTID, 
                      A.ENTRYID AS STARTENTRYID, A.DURATION AS STARTDURATION, 
					  ABS( DATEDIFF(S, A.UTCDATE, B.UTCDATE) + A.DURATION - B.DURATION ) + ABS(DATEDIFF(S, A.UTCDATE, B.UTCDATE)) AS MSDIFF,
                      A.DISTRIBUTEDCHAINID
FROM            APM.CHAINENTRYINFO A  
	INNER JOIN APM.CHAINENTRYINFO B ON (A.DISTRIBUTEDCHAINID = B.DISTRIBUTEDCHAINID AND ((A.CHAINENTRYTYPE = 'server' AND B.CHAINENTRYTYPE = 'client' AND A.DURATION <= B.DURATION) OR (B.CHAINENTRYTYPE = 'server' AND A.CHAINENTRYTYPE = 'client' AND B.DURATION <= A.DURATION)) AND ( ABS(DATEDIFF(S, A.UTCDATE, B.UTCDATE)) <= 60)) ,
                      APM.EVENT E 
WHERE E.EVENTID = B.EVENTID
GO
