USE [OperationsManager]
GO
/****** Object:  View [apm].[VPERFORMANCENODESYNC]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[VPERFORMANCENODESYNC] AS
      SELECT
            PN.TIMESTAMP,
            PN.PERFORMANCENODEID, 
            COALESCE(E.EVENTID, CSE.EVENTID) AS EVENTROWGUID,
            PN.DESCRIPTION,
            PN.FUNCTIONNAME,
            PN.DURATION,
            PN.HASHCODE,
            PN.ENTRYID,
            CASE WHEN CSE.EVENTID IS NOT NULL THEN 1 ELSE 0 END AS CLIENT,
            PN.ISHEAVIESTNODE       
      FROM
            APM.PERFORMANCENODE (NOLOCK) PN 
            LEFT JOIN APM.VEVENTSYNC (NOLOCK) E ON PN.EVENTID = E.EVENTID AND E.EVENTCLASSTYPE = 'performance'
            LEFT JOIN APM.VCLIENTEVENTSYNC (NOLOCK) CSE ON PN.EVENTID = CSE.EVENTID AND CSE.EVENTCLASSTYPE = 'performance'
GO
