USE [OperationsManager]
GO
/****** Object:  View [apm].[V_EVENTGROUP]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_EVENTGROUP] AS
SELECT EG.TOTALDURATION / EG.EVENTCOUNT AS AVGEVENTDURATION, EG.MAXDURATION AS MAXEVENTDURATION, 
   EG.EVENTGROUPID, EG.SOURCE, EG.EVENTCLASS, EG.EVENTCLASSVERSION, EG.HASHCODE, EG.DESCRIPTION, 
   EG.TEMPLATEDATA, EG.CDATE, EG.FIRSTEVENTDATE, EG.LASTEVENTDATE, EG.EVENTCOUNT, EG.MAXDURATION, 
   EG.TOTALDURATION, EG.EVENTCLASSTYPE, EG.COMPONENT, EG.ROOTNODENAME, EG.EVENTTYPE,
   EG.ASPECT, E.COMPONENTVERSION AS COMPONENTVERSION, E.MINCATEGORY AS CATEGORY
FROM         APM.EVENTGROUP EG LEFT OUTER JOIN
                          (SELECT     EVENTGROUPID, COMPONENTVERSION, MIN(CATEGORY) AS MINCATEGORY
                            FROM          APM.EVENT
                            GROUP BY EVENTGROUPID, COMPONENTVERSION) E ON EG.EVENTGROUPID = E.EVENTGROUPID
GO
