USE [OperationsManager]
GO
/****** Object:  Table [apm].[SOURCE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[SOURCE](
	[SOURCEID] [int] IDENTITY(1,1) NOT NULL,
	[SOURCE] [nvarchar](255) NOT NULL,
	[INTERNALTS] [timestamp] NOT NULL,
	[TIMESTAMP] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_SOURCE] PRIMARY KEY CLUSTERED 
(
	[SOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_SOURCE_SOURCE] UNIQUE NONCLUSTERED 
(
	[SOURCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[SOURCE] ADD  CONSTRAINT [DF_SOURCE_TIMESTAMP]  DEFAULT (@@dbts+CONVERT([bigint],(1),(0))) FOR [TIMESTAMP]
GO
