USE [OperationsManager]
GO
/****** Object:  Table [apm].[DATASETAGGREGATIONHISTORY]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[DATASETAGGREGATIONHISTORY](
	[DATASETAGGREGATIONHISTORYID] [int] IDENTITY(1,1) NOT NULL,
	[DATASETID] [int] NOT NULL,
	[AGGREGATIONDATETIME] [datetime] NOT NULL,
	[DIRTYIND] [bit] NOT NULL,
 CONSTRAINT [PK_DATASETAGGREGATIONHISTORY] PRIMARY KEY CLUSTERED 
(
	[DATASETAGGREGATIONHISTORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[DATASETAGGREGATIONHISTORY] ADD  CONSTRAINT [DATASETAGGREGATIONHISTORYID_DEFAULT]  DEFAULT ((1)) FOR [DIRTYIND]
GO
ALTER TABLE [apm].[DATASETAGGREGATIONHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_DATASET_HISTORY] FOREIGN KEY([DATASETID])
REFERENCES [apm].[DATASET] ([DATASETID])
GO
ALTER TABLE [apm].[DATASETAGGREGATIONHISTORY] CHECK CONSTRAINT [FK_DATASET_HISTORY]
GO
