USE [OperationsManager]
GO
/****** Object:  Table [apm].[PCOUNTER]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PCOUNTER](
	[PCOUNTERID] [int] IDENTITY(1,1) NOT NULL,
	[PCTYPEID] [int] NULL,
	[ID] [int] NULL,
	[PCMACHINEID] [int] NULL,
	[PCPROCESSID] [int] NULL,
	[SOURCEID] [int] NULL,
	[UTCDATE] [datetime] NULL,
	[PID] [int] NULL,
	[ISSTATE] [int] NULL,
	[VALUE_STRING] [nvarchar](255) NULL,
	[VALUE_BASE] [float] NULL,
	[VALUE_DATE] [datetime] NULL,
 CONSTRAINT [PK_PCOUNTER] PRIMARY KEY NONCLUSTERED 
(
	[PCOUNTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PCOUNTER]  WITH CHECK ADD  CONSTRAINT [FK_PCOUNTER_PCMACHINE] FOREIGN KEY([PCMACHINEID])
REFERENCES [apm].[PCMACHINE] ([PCMACHINEID])
GO
ALTER TABLE [apm].[PCOUNTER] CHECK CONSTRAINT [FK_PCOUNTER_PCMACHINE]
GO
ALTER TABLE [apm].[PCOUNTER]  WITH CHECK ADD  CONSTRAINT [FK_PCOUNTER_PCPROCESS] FOREIGN KEY([PCPROCESSID])
REFERENCES [apm].[PCPROCESS] ([PCPROCESSID])
GO
ALTER TABLE [apm].[PCOUNTER] CHECK CONSTRAINT [FK_PCOUNTER_PCPROCESS]
GO
ALTER TABLE [apm].[PCOUNTER]  WITH CHECK ADD  CONSTRAINT [FK_PCOUNTER_PCTYPE] FOREIGN KEY([PCTYPEID])
REFERENCES [apm].[PCTYPE] ([PCTYPEID])
GO
ALTER TABLE [apm].[PCOUNTER] CHECK CONSTRAINT [FK_PCOUNTER_PCTYPE]
GO
ALTER TABLE [apm].[PCOUNTER]  WITH CHECK ADD  CONSTRAINT [FK_PCOUNTER_SOURCE] FOREIGN KEY([SOURCEID])
REFERENCES [apm].[SOURCE] ([SOURCEID])
GO
ALTER TABLE [apm].[PCOUNTER] CHECK CONSTRAINT [FK_PCOUNTER_SOURCE]
GO
