USE [OperationsManager]
GO
/****** Object:  Table [apm].[RESOURCENODE]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[RESOURCENODE](
	[RESOURCENODEID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTID] [int] NULL,
	[RESOURCENAME] [nvarchar](255) NULL,
	[CALLCOUNT] [bigint] NULL,
	[MAXDURATION] [decimal](35, 0) NULL,
	[TOTALDURATION] [decimal](35, 0) NULL,
	[ENTRYID] [int] NULL,
 CONSTRAINT [PK_RESOURCENODE] PRIMARY KEY CLUSTERED 
(
	[RESOURCENODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[RESOURCENODE]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_FK_EVENT_EVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
GO
ALTER TABLE [apm].[RESOURCENODE] CHECK CONSTRAINT [FK_RESOURCE_FK_EVENT_EVENT]
GO
