USE [OperationsManager]
GO
/****** Object:  View [apm].[VCLIENTEVENTSYNC]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[VCLIENTEVENTSYNC] AS
        SELECT 
                  E.EVENTID,
                  G.HASHVALUE AS GROUPHASH, 
                  E.ROOTNODENAME,
                  E.COMPONENT,
                  E.SOURCE,
                  E.EVENTDURATION,
                  E.MACHINENAME,
                  E.UTCEVENTDATE,
                  E.EVENTCLASSTYPE,
                  E.ASPECT,
                  E.USERNAME,
                  E.EXCEPTIONCLASS,
                  E.DESCRIPTION,
                  E.CATEGORY,
                  E.EVENTCLASS,
                  E.EVENTCLASSVERSION,
                  E.EVENTGROUPID AS SEVIEWEREGID,
                  E.CDATE,
                  E.TIMESTAMP,
                  E.HEAVYLIGHT,
                  E.EVENTGROUPID,
                  E.PMSTATUS,
                  E.ROOTFUNCTION
      FROM 
        APM.EVENT (NOLOCK) E 
        JOIN APM.EVENTGROUP (NOLOCK) G ON G.EVENTGROUPID = E.EVENTGROUPID
      WHERE 
        E.EVENTCLASSTYPE IN ('performance', 'exception') 
        AND E.SOURCE LIKE '%(Client)'
GO
