USE [OperationsManager]
GO
/****** Object:  View [apm].[V_PCCONFIG]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_PCCONFIG] (PCMACHINEID, MACHINE, PERIOD, WINDOWSVERSION, CPUCOUNT, AGENTVERSION, LASTUPDATE, APPLICATION, PROCESS, MONITOR) AS
SELECT M.PCMACHINEID, M.MACHINE, M.PERIOD, M.WINDOWSVERSION, M.CPUCOUNT, M.AGENTVERSION, M.LASTUPDATE, C.APPLICATION, C.PROCESS, C.MONITOR
FROM APM.PCMACHINE AS M LEFT JOIN APM.PCCONFIG AS C ON C.PCMACHINEID = M.PCMACHINEID
GO
