USE [OperationsManager]
GO
/****** Object:  Table [apm].[AGGREGATIONTYPE]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[AGGREGATIONTYPE](
	[AGGREGATIONTYPEID] [int] NOT NULL,
	[AGGREGATIONTYPEDEFAULTNAME] [nvarchar](50) NOT NULL,
	[AGGREGATIONINTERVALDURATIONMINUTES] [int] NOT NULL,
	[AGGREGATIONSTARTDELAYMINUTES] [int] NOT NULL,
 CONSTRAINT [PK_AGGREGATIONTYPE] PRIMARY KEY CLUSTERED 
(
	[AGGREGATIONTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
