USE [OperationsManager]
GO
/****** Object:  Table [apm].[PMRULETRACE]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PMRULETRACE](
	[PMRULEID] [int] NOT NULL,
	[PMTRACEID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PMRULETRACE]  WITH CHECK ADD  CONSTRAINT [FK_PMRULETRACE_PMRULE] FOREIGN KEY([PMRULEID])
REFERENCES [apm].[PMRULE] ([PMRULEID])
ON DELETE CASCADE
GO
ALTER TABLE [apm].[PMRULETRACE] CHECK CONSTRAINT [FK_PMRULETRACE_PMRULE]
GO
ALTER TABLE [apm].[PMRULETRACE]  WITH CHECK ADD  CONSTRAINT [FK_PMRULETRACE_PMTRACE] FOREIGN KEY([PMTRACEID])
REFERENCES [apm].[PMTRACE] ([PMTRACEID])
GO
ALTER TABLE [apm].[PMRULETRACE] CHECK CONSTRAINT [FK_PMRULETRACE_PMTRACE]
GO
