USE [OperationsManager]
GO
/****** Object:  View [apm].[V_APPLICATION]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_APPLICATION] AS
SELECT APPLICATIONID, APPLICATION FROM APM.APPLICATION
GO
