USE [OperationsManager]
GO
/****** Object:  Table [apm].[EXCEPTIONNODE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[EXCEPTIONNODE](
	[EXCEPTIONNODEID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTID] [int] NULL,
	[EXCEPTIONMESSAGE] [nvarchar](255) NULL,
	[EXCEPTIONCLASS] [nvarchar](255) NULL,
	[FUNCTIONNAME] [nvarchar](255) NULL,
	[MODULENAME] [nvarchar](255) NULL,
	[LINENUMBER] [bigint] NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[HASHCODE] [nvarchar](255) NULL,
	[ENTRYID] [int] NULL,
	[INTERNALTS] [timestamp] NOT NULL,
	[TIMESTAMP] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_EXCEPTIONNODE] PRIMARY KEY CLUSTERED 
(
	[EXCEPTIONNODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[EXCEPTIONNODE] ADD  CONSTRAINT [DF_EXCEPTIONNODE_TIMESTAMP]  DEFAULT (@@dbts+CONVERT([bigint],(1),(0))) FOR [TIMESTAMP]
GO
ALTER TABLE [apm].[EXCEPTIONNODE]  WITH CHECK ADD  CONSTRAINT [FK_EXCEPTIO_FK_EVENT_EVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
GO
ALTER TABLE [apm].[EXCEPTIONNODE] CHECK CONSTRAINT [FK_EXCEPTIO_FK_EVENT_EVENT]
GO
