USE [OperationsManager]
GO
/****** Object:  View [apm].[VEXCEPTIONNODESYNC]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[VEXCEPTIONNODESYNC] AS
    SELECT
            EN.TIMESTAMP,
            EN.EXCEPTIONNODEID,
            E.EVENTID AS EVENTROWGUID,
            E.ROOTNODENAME AS EVENTACTION,
            EN.DESCRIPTION,
            EN.EXCEPTIONMESSAGE,
            EN.EXCEPTIONCLASS,
            EN.FUNCTIONNAME,
            EN.MODULENAME,
            EN.LINENUMBER,
            EN.HASHCODE,
            EN.ENTRYID,
            CASE WHEN E.SOURCE LIKE '%(Client)' THEN 1 ELSE 0 END AS CLIENT
      FROM
            APM.EXCEPTIONNODE (NOLOCK) EN
            JOIN APM.EVENT (NOLOCK) E ON EN.EVENTID = E.EVENTID 
      WHERE      
            E.EVENTCLASSTYPE = 'exception'
GO
