USE [OperationsManager]
GO
/****** Object:  Table [apm].[PCDESCRIPTION]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PCDESCRIPTION](
	[PCDESCRIPTIONID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [ntext] NOT NULL,
	[INTERNALTS] [timestamp] NOT NULL,
	[TIMESTAMP] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_PCDESCRIPTION] PRIMARY KEY CLUSTERED 
(
	[PCDESCRIPTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [apm].[PCDESCRIPTION] ADD  CONSTRAINT [DF_PCDESCRIPTION_TIMESTAMP]  DEFAULT (@@dbts+CONVERT([bigint],(1),(0))) FOR [TIMESTAMP]
GO
