USE [OperationsManager]
GO
/****** Object:  Table [apm].[PCCONFIG]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PCCONFIG](
	[PCCONFIGID] [int] IDENTITY(1,1) NOT NULL,
	[PCMACHINEID] [int] NULL,
	[PROCESS] [nvarchar](255) NULL,
	[APPLICATION] [ntext] NULL,
	[MONITOR] [nvarchar](255) NULL,
 CONSTRAINT [PK_PCCONFIG] PRIMARY KEY CLUSTERED 
(
	[PCCONFIGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [apm].[PCCONFIG]  WITH CHECK ADD  CONSTRAINT [FK_PCCONFIG_PCMACHIN] FOREIGN KEY([PCMACHINEID])
REFERENCES [apm].[PCMACHINE] ([PCMACHINEID])
GO
ALTER TABLE [apm].[PCCONFIG] CHECK CONSTRAINT [FK_PCCONFIG_PCMACHIN]
GO
