USE [OperationsManager]
GO
/****** Object:  View [apm].[VEVENTGROUPSYNC]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[VEVENTGROUPSYNC] AS
SELECT
   EG.EVENTGROUPID,
   EG.SOURCE, -- SOURCE IS NEED BECAUSE IT IS EVIDENCE OF CLIENT (SERVER) EVENT
   EG.FIRSTEVENTDATE,
   EG.LASTEVENTDATE,
   EG.EVENTCLASSTYPE,
   EG.ROOTNODENAME,
   EG.ASPECT,
   EG.HASHVALUE,
   EG.TIMESTAMP, 
   EG.DESCRIPTION       
FROM
   APM.EVENTGROUP EG (NOLOCK)
WHERE 
  EXISTS(SELECT * FROM APM.VEVENTSYNC E (NOLOCK) WHERE E.EVENTGROUPID = EG.EVENTGROUPID) OR
  EXISTS(SELECT * FROM APM.VCLIENTEVENTSYNC E (NOLOCK) WHERE E.EVENTGROUPID = EG.EVENTGROUPID)
GO
