USE [OperationsManager]
GO
/****** Object:  View [apm].[VASPECTSYNC]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[VASPECTSYNC] AS
SELECT
   ASPECTID,
   ASPECT,
   DESCRIPTION,
   TIMESTAMP
FROM
   APM.ASPECT (NOLOCK)
WHERE 
    ASPECT NOT IN ('SystemFailure', 'uncategorized')
GO
