USE [OperationsManager]
GO
/****** Object:  View [apm].[V_EVENT]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_EVENT] AS
SELECT E.EVENTID, E.EVENTGROUPID, E.EVENTCLASS, E.EVENTCLASSVERSION, E.SOURCE, E.ROWDATA, 
   E.EVENTCODE, E.EVENTTYPE, E.CATEGORY, E.DESCRIPTION, E.EVENTDURATION, E.MACHINENAME, 
   E.UTCEVENTDATE, E.UTCOFFSET, E.TIMEZONENAME, E.CDATE, E.EVENTCLASSTYPE, E.COMPONENT, 
   E.COMPONENTVERSION, E.USERNAME, E.ROOTNODENAME, E.APPTYPE, E.ASPECT, E.MESSAGE,
   E.ROOTFUNCTION, E.EXCEPTIONCLASS, E.HEAVIESTDURATION, EG.DESCRIPTION AS ROOTCAUSE, E.HEAVYLIGHT AS HEAVYLIGHT , E.PMSTATUS AS PMSTATUS
FROM APM.EVENT AS E INNER JOIN APM.EVENTGROUP AS EG ON E.EVENTGROUPID=EG.EVENTGROUPID
GO
