USE [OperationsManager]
GO
/****** Object:  Table [apm].[MEMBERAPPLICATION]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[MEMBERAPPLICATION](
	[MEMBERAPPLICATIONID] [int] IDENTITY(1,1) NOT NULL,
	[APPLICATIONID] [int] NULL,
	[MEMBERID] [int] NULL,
	[INTERNALTS] [timestamp] NOT NULL,
	[TIMESTAMP] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_MEMBERAPPLICATION] PRIMARY KEY CLUSTERED 
(
	[MEMBERAPPLICATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[MEMBERAPPLICATION] ADD  CONSTRAINT [DF_MEMBERAPPLICATION_TIMESTAMP]  DEFAULT (@@dbts+CONVERT([bigint],(1),(0))) FOR [TIMESTAMP]
GO
ALTER TABLE [apm].[MEMBERAPPLICATION]  WITH CHECK ADD  CONSTRAINT [FK_MEMBERAP_FK_APPLIC_APPLICAT] FOREIGN KEY([APPLICATIONID])
REFERENCES [apm].[APPLICATION] ([APPLICATIONID])
GO
ALTER TABLE [apm].[MEMBERAPPLICATION] CHECK CONSTRAINT [FK_MEMBERAP_FK_APPLIC_APPLICAT]
GO
ALTER TABLE [apm].[MEMBERAPPLICATION]  WITH CHECK ADD  CONSTRAINT [FK_MEMBERAP_FK_USER_MEMBER] FOREIGN KEY([MEMBERID])
REFERENCES [apm].[MEMBER] ([MEMBERID])
GO
ALTER TABLE [apm].[MEMBERAPPLICATION] CHECK CONSTRAINT [FK_MEMBERAP_FK_USER_MEMBER]
GO
