USE [OperationsManager]
GO
/****** Object:  View [apm].[V_APPLICATIONSOURCEMACHINE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_APPLICATIONSOURCEMACHINE] AS
    SELECT C.APPLICATIONSOURCEMACHINEID, A.APPLICATIONID, B.SOURCEID, A.APPLICATION, B.SOURCE, M.MACHINENAME, C.TIMESTAMP
        FROM APM.APPLICATION A 
            INNER JOIN APM.APPLICATIONSOURCEMACHINE C ON A.APPLICATIONID = C.APPLICATIONID
            LEFT JOIN APM.SOURCE B ON B.SOURCEID = C.SOURCEID 
            LEFT JOIN APM.LICENSEMACHINE M ON M.LICENSEMACHINEID = C.MACHINEID
GO
