USE [OperationsManager]
GO
/****** Object:  Table [apm].[DELETEDOBJECT]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[DELETEDOBJECT](
	[OBJECT] [nvarchar](255) NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_APM.DELETEDOBJECT] PRIMARY KEY CLUSTERED 
(
	[OBJECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
