USE [OperationsManager]
GO
/****** Object:  View [apm].[VEVENTDETAILSYNC]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[VEVENTDETAILSYNC] AS
 SELECT 
   ED.EVENTDETAILID,
   ED.TIMESTAMP,
   ED.EVENTID,
   ED.NAME,
   ED.VAL AS VAL1,
   ED.VAL AS VAL2,
   CASE WHEN E.SOURCE LIKE '%(Client)' THEN 1 ELSE 0 END AS CLIENT
 FROM 
   APM.EVENTDETAIL (NOLOCK) ED 
   JOIN APM.VEVENTSYNC (NOLOCK) E ON ED.EVENTID = E.EVENTID 
 WHERE 
   ED.NAME = 'IPADDRESS'
GO
