USE [OperationsManager]
GO
/****** Object:  Table [apm].[PCTYPE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PCTYPE](
	[PCTYPEID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](255) NULL,
	[DATATYPE] [nvarchar](50) NULL,
	[MEASURE] [nvarchar](50) NULL,
	[INTERNALTS] [timestamp] NOT NULL,
	[TIMESTAMP] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_PCTYPE] PRIMARY KEY CLUSTERED 
(
	[PCTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_PCTYPE_TYPE] UNIQUE NONCLUSTERED 
(
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PCTYPE] ADD  CONSTRAINT [DF_PCTYPE_TIMESTAMP]  DEFAULT (@@dbts+CONVERT([bigint],(1),(0))) FOR [TIMESTAMP]
GO
