USE [OperationsManager]
GO
/****** Object:  Table [apm].[PMRULE]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PMRULE](
	[PMRULEID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[USERID] [int] NULL,
	[EXPIRATIONDATE] [datetime] NULL,
	[DATA] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](4000) NULL,
	[RULETS] [timestamp] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
 CONSTRAINT [PK_PMRULE] PRIMARY KEY CLUSTERED 
(
	[PMRULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [apm].[PMRULE] ADD  CONSTRAINT [DF_PMRULE_DELETED]  DEFAULT ((0)) FOR [ISDELETED]
GO
