USE [OperationsManager]
GO
/****** Object:  Table [apm].[LICENSEMACHINE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[LICENSEMACHINE](
	[LICENSEMACHINEID] [int] IDENTITY(1,1) NOT NULL,
	[LICENSEID] [int] NULL,
	[MACHINENAME] [nvarchar](255) NOT NULL,
	[WINDOWSVERSION] [nvarchar](255) NULL,
	[CRC] [nvarchar](255) NOT NULL,
	[TIMESTAMP] [timestamp] NOT NULL,
	[HEALTHSERVICEID] [uniqueidentifier] NOT NULL,
	[ISDELETING] [bit] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
 CONSTRAINT [PK_LICENSEMACHINE] PRIMARY KEY CLUSTERED 
(
	[LICENSEMACHINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[LICENSEMACHINE] ADD  DEFAULT ((0)) FOR [ISDELETING]
GO
ALTER TABLE [apm].[LICENSEMACHINE] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [apm].[LICENSEMACHINE]  WITH CHECK ADD  CONSTRAINT [FK_LICENSEM_FK_LICENS_LICENSE] FOREIGN KEY([LICENSEID])
REFERENCES [apm].[LICENSE] ([LICENSEID])
GO
ALTER TABLE [apm].[LICENSEMACHINE] CHECK CONSTRAINT [FK_LICENSEM_FK_LICENS_LICENSE]
GO
