USE [OperationsManager]
GO
/****** Object:  View [apm].[V_PM_EVENT]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_PM_EVENT] AS
SELECT E.EVENTID, E.SOURCE, E.MACHINENAME, E.USERNAME, 
    E.EVENTCLASSTYPE, E.ROOTNODENAME, E.DESCRIPTION, E.EXCEPTIONCLASS, E.EVENTDURATION,
    E.EVENTGROUPID, E.HEAVYLIGHT, E.ASPECT,E.ROOTFUNCTION, E.COMPONENT, E.CATEGORY, E.PMSTATUS 
 FROM APM.EVENT (NOLOCK) AS E
GO
