USE [OperationsManager]
GO
/****** Object:  View [apm].[V_PM_RESOURCE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_PM_RESOURCE] AS
SELECT E.EVENTID, E.PMSTATUS, ISNULL(D.VAL, N'Internal Execution') AS VAL 
	FROM APM.EVENT (NOLOCK) AS e
	LEFT JOIN APM.EVENTDETAIL (NOLOCK) d ON d.eventid = e.eventid  
		AND d.STATE = 2 AND d.ValueType = N'externalresource'
GO
