USE [OperationsManager]
GO
/****** Object:  Table [apm].[EVENTGROUP]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[EVENTGROUP](
	[EVENTGROUPID] [int] IDENTITY(1,1) NOT NULL,
	[SOURCE] [nvarchar](255) NULL,
	[EVENTCLASS] [nvarchar](50) NULL,
	[EVENTCLASSVERSION] [nvarchar](50) NULL,
	[HASHCODE] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[TEMPLATEDATA] [ntext] NULL,
	[CDATE] [datetime] NULL,
	[FIRSTEVENTDATE] [datetime] NULL,
	[LASTEVENTDATE] [datetime] NULL,
	[EVENTCOUNT] [bigint] NULL,
	[MAXDURATION] [decimal](35, 0) NULL,
	[TOTALDURATION] [decimal](35, 0) NULL,
	[EVENTCLASSTYPE] [nvarchar](50) NULL,
	[COMPONENT] [nvarchar](255) NULL,
	[ROOTNODENAME] [nvarchar](255) NULL,
	[EVENTTYPE] [nvarchar](50) NULL,
	[ASPECT] [nvarchar](50) NULL,
	[TIMESTAMP] [timestamp] NOT NULL,
	[HASHVALUE] [varchar](50) NULL,
 CONSTRAINT [PK_EVENTGROUP] PRIMARY KEY CLUSTERED 
(
	[EVENTGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_EVENTGROUP_HASHVALUE] UNIQUE NONCLUSTERED 
(
	[HASHVALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [apm].[EVENTGROUP] ADD  CONSTRAINT [DF_EVENTGROUP_CDATE]  DEFAULT (getutcdate()) FOR [CDATE]
GO
