USE [OperationsManager]
GO
/****** Object:  Table [apm].[MESSAGES]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[MESSAGES](
	[ID] [int] NOT NULL,
	[MESSAGE] [nvarchar](4000) NOT NULL
) ON [PRIMARY]
GO
