USE [OperationsManager]
GO
/****** Object:  Table [apm].[EVENT]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[EVENT](
	[EVENTGROUPID] [int] NULL,
	[EVENTCLASS] [nvarchar](50) NOT NULL,
	[EVENTCLASSVERSION] [nvarchar](50) NOT NULL,
	[SOURCE] [nvarchar](255) NOT NULL,
	[ROWDATA] [ntext] NULL,
	[EVENTCODE] [int] NULL,
	[EVENTTYPE] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[EVENTDURATION] [decimal](35, 0) NULL,
	[MACHINENAME] [nvarchar](180) NOT NULL,
	[UTCEVENTDATE] [datetime] NOT NULL,
	[UTCOFFSET] [int] NOT NULL,
	[TIMEZONENAME] [nvarchar](255) NOT NULL,
	[CDATE] [datetime] NOT NULL,
	[EVENTCLASSTYPE] [nvarchar](50) NULL,
	[EVENTID] [int] IDENTITY(1,1) NOT NULL,
	[COMPONENT] [nvarchar](255) NULL,
	[COMPONENTVERSION] [nvarchar](50) NULL,
	[USERNAME] [nvarchar](255) NULL,
	[ROOTNODENAME] [nvarchar](255) NULL,
	[APPTYPE] [nvarchar](50) NULL,
	[ASPECT] [nvarchar](50) NULL,
	[MESSAGE] [nvarchar](255) NULL,
	[ROOTFUNCTION] [nvarchar](255) NULL,
	[EXCEPTIONCLASS] [nvarchar](255) NULL,
	[HEAVIESTDURATION] [decimal](35, 0) NULL,
	[UNIQUEID] [nvarchar](255) NULL,
	[PMSTATUS] [tinyint] NOT NULL,
	[HEAVYLIGHT] [tinyint] NULL,
	[INTERNALTS] [timestamp] NOT NULL,
	[TIMESTAMP] [varbinary](8) NOT NULL,
 CONSTRAINT [PK_EVENT] PRIMARY KEY CLUSTERED 
(
	[EVENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [apm].[EVENT] ADD  CONSTRAINT [DF_EVENT_CDATE]  DEFAULT (getutcdate()) FOR [CDATE]
GO
ALTER TABLE [apm].[EVENT] ADD  CONSTRAINT [DF_EVENT_PMSTATUS]  DEFAULT ((0)) FOR [PMSTATUS]
GO
ALTER TABLE [apm].[EVENT] ADD  CONSTRAINT [DF_event_TIMESTAMP]  DEFAULT (@@dbts+CONVERT([bigint],(1),(0))) FOR [TIMESTAMP]
GO
ALTER TABLE [apm].[EVENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_FK_EVENTG_EVENTGRO] FOREIGN KEY([EVENTGROUPID])
REFERENCES [apm].[EVENTGROUP] ([EVENTGROUPID])
GO
ALTER TABLE [apm].[EVENT] CHECK CONSTRAINT [FK_EVENT_FK_EVENTG_EVENTGRO]
GO
