USE [OperationsManager]
GO
/****** Object:  Table [apm].[LICENSE]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[LICENSE](
	[LICENSEID] [int] IDENTITY(1,1) NOT NULL,
	[LICENSEKEY] [nvarchar](255) NOT NULL,
	[TOTALCOUNT] [int] NOT NULL,
	[APPNAME] [nvarchar](255) NULL,
	[EXPIRES] [datetime] NOT NULL,
	[LICENSETYPE] [nvarchar](255) NULL,
	[COMPANYNAME] [nvarchar](255) NULL,
	[CRC] [nvarchar](255) NULL,
	[ISTERMLICENSE] [int] NULL,
 CONSTRAINT [PK_LICENSE] PRIMARY KEY CLUSTERED 
(
	[LICENSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_ALT_LICENSEKEY_LICENSE] UNIQUE NONCLUSTERED 
(
	[LICENSEKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
