USE [OperationsManager]
GO
/****** Object:  Table [apm].[DATASET]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[DATASET](
	[DATASETID] [int] IDENTITY(1,1) NOT NULL,
	[AGGREGATIONTYPEID] [int] NULL,
	[DATASETNAME] [nvarchar](50) NOT NULL,
	[DEFAULTAGGREGATIONINTERVALCOUNT] [tinyint] NOT NULL,
	[MAXDATAAGEDAYS] [int] NULL,
	[AGGREGATIONMETHODNAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_DATASET] PRIMARY KEY CLUSTERED 
(
	[DATASETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[DATASET]  WITH CHECK ADD  CONSTRAINT [FK_DATASET_AGGREGATION] FOREIGN KEY([AGGREGATIONTYPEID])
REFERENCES [apm].[AGGREGATIONTYPE] ([AGGREGATIONTYPEID])
GO
ALTER TABLE [apm].[DATASET] CHECK CONSTRAINT [FK_DATASET_AGGREGATION]
GO
