USE [OperationsManager]
GO
/****** Object:  View [apm].[V_SOURCE]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_SOURCE] AS
SELECT SOURCEID, SOURCE FROM APM.SOURCE
GO
