USE [OperationsManager]
GO
/****** Object:  Table [apm].[PERFHOURLY]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PERFHOURLY](
	[PERFHOURLYID] [int] IDENTITY(1,1) NOT NULL,
	[PCTYPEID] [int] NOT NULL,
	[MACHINEID] [int] NOT NULL,
	[SOURCEID] [int] NULL,
	[PCPROCESSID] [int] NULL,
	[IS_STATE] [int] NULL,
	[UTCDATE] [datetime] NOT NULL,
	[AVERAGEVALUE] [float] NOT NULL,
	[MINVALUE] [float] NOT NULL,
	[MAXVALUE] [float] NOT NULL,
	[SAMPLECOUNT] [int] NOT NULL,
	[SUMVALUE] [float] NOT NULL,
	[PACKAGECOUNTER] [int] NOT NULL,
	[HASHVALUE] [varchar](50) NULL,
	[TIMESTAMP] [timestamp] NOT NULL,
 CONSTRAINT [PK_PERFHOURLY] PRIMARY KEY NONCLUSTERED 
(
	[PERFHOURLYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [PERFHASH_UNIQ] UNIQUE NONCLUSTERED 
(
	[HASHVALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PERFHOURLY]  WITH CHECK ADD  CONSTRAINT [FK_PERFHOURLY_PCMACHINE] FOREIGN KEY([MACHINEID])
REFERENCES [apm].[PCMACHINE] ([PCMACHINEID])
GO
ALTER TABLE [apm].[PERFHOURLY] CHECK CONSTRAINT [FK_PERFHOURLY_PCMACHINE]
GO
ALTER TABLE [apm].[PERFHOURLY]  WITH CHECK ADD  CONSTRAINT [FK_PERFHOURLY_PCPROCESS] FOREIGN KEY([PCPROCESSID])
REFERENCES [apm].[PCPROCESS] ([PCPROCESSID])
GO
ALTER TABLE [apm].[PERFHOURLY] CHECK CONSTRAINT [FK_PERFHOURLY_PCPROCESS]
GO
ALTER TABLE [apm].[PERFHOURLY]  WITH CHECK ADD  CONSTRAINT [FK_PERFHOURLY_PCTYPE] FOREIGN KEY([PCTYPEID])
REFERENCES [apm].[PCTYPE] ([PCTYPEID])
GO
ALTER TABLE [apm].[PERFHOURLY] CHECK CONSTRAINT [FK_PERFHOURLY_PCTYPE]
GO
ALTER TABLE [apm].[PERFHOURLY]  WITH CHECK ADD  CONSTRAINT [FK_PERFHOURLY_SOURCE] FOREIGN KEY([SOURCEID])
REFERENCES [apm].[SOURCE] ([SOURCEID])
GO
ALTER TABLE [apm].[PERFHOURLY] CHECK CONSTRAINT [FK_PERFHOURLY_SOURCE]
GO
