USE [OperationsManager]
GO
/****** Object:  Table [apm].[FAVORITE]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[FAVORITE](
	[FAVORITEID] [int] IDENTITY(1,1) NOT NULL,
	[MEMBERID] [int] NULL,
	[REPORT] [nvarchar](255) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[SUBSCRIPTIONID] [nvarchar](255) NOT NULL,
	[PARAMETERS] [ntext] NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NULL,
	[CACHETIME] [datetime] NULL,
 CONSTRAINT [PK_FAVORITE] PRIMARY KEY CLUSTERED 
(
	[FAVORITEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
