USE [OperationsManager]
GO
/****** Object:  Table [apm].[FOLDER]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[FOLDER](
	[FOLDERID] [int] IDENTITY(1,1) NOT NULL,
	[FILTER] [nvarchar](255) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[SINGLECOLUMNS] [nvarchar](255) NOT NULL,
	[CONSOLIDATEDCOLUMNS] [nvarchar](255) NOT NULL,
	[TABNUMBER] [int] NULL,
 CONSTRAINT [PK_FOLDER] PRIMARY KEY CLUSTERED 
(
	[FOLDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
