USE [OperationsManager]
GO
/****** Object:  Table [apm].[PMRULESTATUS]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PMRULESTATUS](
	[PMRULESTATUSID] [int] IDENTITY(1,1) NOT NULL,
	[PROGRESS] [int] NULL,
	[TOTAL] [int] NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[PMRULEID] [int] NOT NULL,
	[DATA] [nvarchar](max) NULL,
	[ADV_PROGRESS] [int] NULL,
	[ADV_TOTAL] [int] NULL,
	[ADV_STATUS] [nvarchar](50) NOT NULL,
	[ADV_LASTACCESS] [datetime] NOT NULL,
 CONSTRAINT [PK_PMRULESTATUS] PRIMARY KEY CLUSTERED 
(
	[PMRULESTATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [apm].[PMRULESTATUS] ADD  DEFAULT (N'Added') FOR [STATUS]
GO
ALTER TABLE [apm].[PMRULESTATUS] ADD  DEFAULT (N'Added') FOR [ADV_STATUS]
GO
ALTER TABLE [apm].[PMRULESTATUS] ADD  DEFAULT (getutcdate()) FOR [ADV_LASTACCESS]
GO
ALTER TABLE [apm].[PMRULESTATUS]  WITH CHECK ADD  CONSTRAINT [FK_PMRULESTATUS_PMRULE] FOREIGN KEY([PMRULEID])
REFERENCES [apm].[PMRULE] ([PMRULEID])
ON DELETE CASCADE
GO
ALTER TABLE [apm].[PMRULESTATUS] CHECK CONSTRAINT [FK_PMRULESTATUS_PMRULE]
GO
