USE [OperationsManager]
GO
/****** Object:  Table [apm].[DISTRIBUTEDCHAIN]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[DISTRIBUTEDCHAIN](
	[DISTRIBUTEDCHAINID] [int] IDENTITY(1,1) NOT NULL,
	[HASHCODE] [nvarchar](255) NOT NULL,
	[TEMPLATEDATA] [ntext] NOT NULL,
 CONSTRAINT [PK_DISTRIBUTEDCHAIN] PRIMARY KEY CLUSTERED 
(
	[DISTRIBUTEDCHAINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
