USE [OperationsManager]
GO
/****** Object:  View [apm].[V_EXCEPTIONEVENT]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [apm].[V_EXCEPTIONEVENT] AS
SELECT     E.EVENTID, E.EVENTGROUPID, E.EVENTCLASS, E.EVENTCLASSVERSION, E.SOURCE, 
   E.ROWDATA, E.EVENTCODE, E.EVENTTYPE, E.CATEGORY, E.DESCRIPTION, E.EVENTDURATION, 
   E.MACHINENAME, E.UTCEVENTDATE, E.UTCOFFSET, E.TIMEZONENAME, E.CDATE, E.EVENTCLASSTYPE, 
   E.COMPONENT, E.COMPONENTVERSION, E.USERNAME, E.ROOTNODENAME, E.ASPECT, E.MESSAGE,
   E.ROOTFUNCTION, E.EXCEPTIONCLASS, E.HEAVIESTDURATION, E.ROOTCAUSE, E.PMSTATUS,
   X.FUNCTIONNAME AS FUNCTIONNAME, X.MODULENAME AS MODULENAME
FROM         APM.V_EVENT E LEFT OUTER JOIN
                      APM.EXCEPTIONNODE X ON X.EVENTID = E.EVENTID
GO
