USE [OperationsManager]
GO
/****** Object:  Table [apm].[PMEVENTTRACE]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apm].[PMEVENTTRACE](
	[EVENTID] [int] NOT NULL,
	[PMTRACEID] [int] NOT NULL,
	[PMRULEID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [apm].[PMEVENTTRACE]  WITH CHECK ADD  CONSTRAINT [FK_PMEVENTTRACE_PMEVENT] FOREIGN KEY([EVENTID])
REFERENCES [apm].[EVENT] ([EVENTID])
ON DELETE CASCADE
GO
ALTER TABLE [apm].[PMEVENTTRACE] CHECK CONSTRAINT [FK_PMEVENTTRACE_PMEVENT]
GO
ALTER TABLE [apm].[PMEVENTTRACE]  WITH CHECK ADD  CONSTRAINT [FK_PMEVENTTRACE_PMRULE] FOREIGN KEY([PMRULEID])
REFERENCES [apm].[PMRULE] ([PMRULEID])
GO
ALTER TABLE [apm].[PMEVENTTRACE] CHECK CONSTRAINT [FK_PMEVENTTRACE_PMRULE]
GO
ALTER TABLE [apm].[PMEVENTTRACE]  WITH CHECK ADD  CONSTRAINT [FK_PMEVENTTRACE_PMTRACE] FOREIGN KEY([PMTRACEID])
REFERENCES [apm].[PMTRACE] ([PMTRACEID])
GO
ALTER TABLE [apm].[PMEVENTTRACE] CHECK CONSTRAINT [FK_PMEVENTTRACE_PMTRACE]
GO
