USE [OperationsManager]
GO
/****** Object:  Table [CS].[AgentPoolAssignmentBatchAgentPool]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[AgentPoolAssignmentBatchAgentPool](
	[BatchRowId] [int] NOT NULL,
	[AgentPoolId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AgentPoolAssignmentBatchAgentPool] PRIMARY KEY CLUSTERED 
(
	[BatchRowId] ASC,
	[AgentPoolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[AgentPoolAssignmentBatchAgentPool]  WITH CHECK ADD  CONSTRAINT [FK_AgentPoolAssignmentBatchAgentPool_AgentPoolAssignmentBatch] FOREIGN KEY([BatchRowId])
REFERENCES [CS].[AgentPoolAssignmentBatch] ([BatchRowId])
GO
ALTER TABLE [CS].[AgentPoolAssignmentBatchAgentPool] CHECK CONSTRAINT [FK_AgentPoolAssignmentBatchAgentPool_AgentPoolAssignmentBatch]
GO
