USE [OperationsManager]
GO
/****** Object:  Table [CS].[Agent]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[Agent](
	[AgentRowId] [int] IDENTITY(1,1) NOT NULL,
	[AgentGuid] [uniqueidentifier] NOT NULL,
	[MaxQueueSizeKB] [int] NOT NULL,
	[ManagementServerInd] [bit] NOT NULL,
	[GatewayInd] [bit] NOT NULL,
	[HeartbeatEnabledInd] [bit] NOT NULL,
	[HeartbeatIntervalSeconds] [int] NOT NULL,
	[NumberOfMissingHearbeatsToMarkMachineDown] [int] NULL,
	[PortNumber] [int] NOT NULL,
	[AgentVersion] [varchar](50) NOT NULL,
	[NetworkName] [nvarchar](max) NOT NULL,
	[Protocol] [varchar](256) NOT NULL,
	[InitiatesConnectionToParentInd] [bit] NOT NULL,
	[ThirdPartyAuthenticationUri] [nvarchar](max) NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
	[DirtyInd] [bit] NOT NULL,
	[DirtyFlagSetBatchId] [int] NOT NULL,
	[LastDirtyNotificationSentDateTimeUtc] [datetime] NULL,
	[LastDirtyNotificationSentBatchId] [int] NULL,
	[LastSubmittedConfigurationHash] [uniqueidentifier] NULL,
	[LastSubmittedConfigurationBatchId] [int] NULL,
	[LastSubmittedConfigurationDateTimeUtc] [datetime] NULL,
	[SnapshotSynchronizationRequiredInd] [bit] NOT NULL,
	[AgentRowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Agent] PRIMARY KEY CLUSTERED 
(
	[AgentRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_Agent_AgentGuid] UNIQUE NONCLUSTERED 
(
	[AgentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CS].[Agent] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CS].[Agent] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[Agent] ADD  DEFAULT ((1)) FOR [DirtyInd]
GO
ALTER TABLE [CS].[Agent] ADD  DEFAULT ((1)) FOR [DirtyFlagSetBatchId]
GO
ALTER TABLE [CS].[Agent] ADD  DEFAULT ((1)) FOR [SnapshotSynchronizationRequiredInd]
GO
