USE [OperationsManager]
GO
/****** Object:  Table [CS].[AgentCredential]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[AgentCredential](
	[AgentCredentialRowId] [int] IDENTITY(1,1) NOT NULL,
	[AgentCredentialAssociationGuid] [uniqueidentifier] NOT NULL,
	[WorkflowExecutionLocationRowId] [int] NULL,
	[SecureReferenceGuid] [uniqueidentifier] NULL,
	[CredentialGuid] [uniqueidentifier] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_AgentCredential] PRIMARY KEY CLUSTERED 
(
	[AgentCredentialRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_AgentCredential_AgentCredentialAssociationGuid] UNIQUE NONCLUSTERED 
(
	[AgentCredentialAssociationGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[AgentCredential] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CS].[AgentCredential] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
