USE [OperationsManager]
GO
/****** Object:  Table [CS].[AgentPoolAssignmentBatch]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[AgentPoolAssignmentBatch](
	[BatchRowId] [int] IDENTITY(1,1) NOT NULL,
	[IsCompletedInd] [bit] NOT NULL,
	[CreatedDateTimeUtc] [datetime] NOT NULL,
	[CompletedDateTimeUtc] [datetime] NULL,
	[AgentPoolRangeIdFrom] [int] NULL,
	[AgentPoolRangeIdTo] [int] NULL,
 CONSTRAINT [PK_AgentPoolAssignmentBatch] PRIMARY KEY CLUSTERED 
(
	[BatchRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[AgentPoolAssignmentBatch] ADD  DEFAULT ((0)) FOR [IsCompletedInd]
GO
ALTER TABLE [CS].[AgentPoolAssignmentBatch] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTimeUtc]
GO
