USE [OperationsManager]
GO
/****** Object:  Table [CS].[ContainerSource]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ContainerSource](
	[ContainerSourceRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ElementTypeName] [varchar](256) NOT NULL,
	[ElementGuid] [uniqueidentifier] NOT NULL,
	[ElementSystemName] [nvarchar](256) NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[ContextManagedEntityTypeRowId] [int] NULL,
	[ContextManagedEntityGuid] [uniqueidentifier] NULL,
	[LastModifiedDateTimeUtc] [datetime] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_ContainerSource] PRIMARY KEY CLUSTERED 
(
	[ContainerSourceRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ContainerSource_ElementGuid] UNIQUE NONCLUSTERED 
(
	[ElementGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ContainerSource] ADD  DEFAULT (getutcdate()) FOR [LastModifiedDateTimeUtc]
GO
ALTER TABLE [CS].[ContainerSource] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[ContainerSource]  WITH CHECK ADD  CONSTRAINT [FK_ContainerSource_ContextManagedEntityType] FOREIGN KEY([ContextManagedEntityTypeRowId])
REFERENCES [CS].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [CS].[ContainerSource] CHECK CONSTRAINT [FK_ContainerSource_ContextManagedEntityType]
GO
ALTER TABLE [CS].[ContainerSource]  WITH CHECK ADD  CONSTRAINT [FK_ContainerSource_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [CS].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [CS].[ContainerSource] CHECK CONSTRAINT [FK_ContainerSource_ManagementPack]
GO
ALTER TABLE [CS].[ContainerSource]  WITH CHECK ADD  CONSTRAINT [FK_ContainerSource_TargetManagedEntityType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [CS].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [CS].[ContainerSource] CHECK CONSTRAINT [FK_ContainerSource_TargetManagedEntityType]
GO
