USE [OperationsManager]
GO
/****** Object:  Table [CS].[ContainerManagedEntity]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ContainerManagedEntity](
	[ContainerRowId] [int] NOT NULL,
	[ContainerManagedEntityRowId] [bigint] NOT NULL,
	[ContainedManagedEntityRowId] [bigint] NOT NULL,
	[Level] [int] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_ContainerManagedEntity] PRIMARY KEY CLUSTERED 
(
	[ContainerRowId] ASC,
	[ContainerManagedEntityRowId] ASC,
	[ContainedManagedEntityRowId] ASC,
	[Level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ContainerManagedEntity] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CS].[ContainerManagedEntity] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
