USE [OperationsManager]
GO
/****** Object:  Table [CS].[Container]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[Container](
	[ContainerRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityTypeRowId] [int] NULL,
	[ManagedEntityGuid] [uniqueidentifier] NULL,
	[DeletedInd] [bit] NOT NULL,
	[LastContainmentUpdateDateTime] [datetime] NOT NULL,
	[LastContainmentUpdateBatchId] [int] NOT NULL,
	[LastModifiedDateTimeUtc] [datetime] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_Container] PRIMARY KEY CLUSTERED 
(
	[ContainerRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[Container] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CS].[Container] ADD  DEFAULT ('19000101') FOR [LastContainmentUpdateDateTime]
GO
ALTER TABLE [CS].[Container] ADD  DEFAULT ((0)) FOR [LastContainmentUpdateBatchId]
GO
ALTER TABLE [CS].[Container] ADD  DEFAULT (getutcdate()) FOR [LastModifiedDateTimeUtc]
GO
ALTER TABLE [CS].[Container] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
