USE [OperationsManager]
GO
/****** Object:  Table [CS].[DependencyDefinition]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[DependencyDefinition](
	[DependencyDefinitionRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[RelationshipTypeRowId] [int] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_DependencyDefinition] PRIMARY KEY CLUSTERED 
(
	[DependencyDefinitionRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_DependencyDefinition_ManagedEntityTypeRowIdRelationshipTypeRowId] UNIQUE NONCLUSTERED 
(
	[ManagedEntityTypeRowId] ASC,
	[RelationshipTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[DependencyDefinition] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CS].[DependencyDefinition] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
