USE [OperationsManager]
GO
/****** Object:  Table [CS].[DependencyMonitorManagedEntity]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[DependencyMonitorManagedEntity](
	[DependencyMonitorManagedEntityRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[DependencyDefinitionRowId] [int] NOT NULL,
	[RelationshipGuid] [uniqueidentifier] NOT NULL,
	[RelationshipTypeRowId] [int] NOT NULL,
	[DependentManagedEntityRowId] [bigint] NOT NULL,
	[ContributingManagedEntityRowId] [bigint] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_DependencyMonitorManagedEntity] PRIMARY KEY CLUSTERED 
(
	[DependencyMonitorManagedEntityRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[DependencyMonitorManagedEntity] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CS].[DependencyMonitorManagedEntity] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
