USE [OperationsManager]
GO
/****** Object:  Table [CS].[DependencyMonitor]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[DependencyMonitor](
	[DependencyMonitorRowId] [int] IDENTITY(1,1) NOT NULL,
	[DependencyMonitorGuid] [uniqueidentifier] NOT NULL,
	[DependencyMonitorSystemName] [nvarchar](256) NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[RelationshipTypeRowId] [int] NOT NULL,
	[LastModifiedDateTimeUtc] [datetime] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_DependencyMonitor] PRIMARY KEY CLUSTERED 
(
	[DependencyMonitorRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[DependencyMonitor] ADD  DEFAULT (getutcdate()) FOR [LastModifiedDateTimeUtc]
GO
ALTER TABLE [CS].[DependencyMonitor] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[DependencyMonitor]  WITH CHECK ADD  CONSTRAINT [FK_DependencyMonitor_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [CS].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [CS].[DependencyMonitor] CHECK CONSTRAINT [FK_DependencyMonitor_ManagementPack]
GO
ALTER TABLE [CS].[DependencyMonitor]  WITH CHECK ADD  CONSTRAINT [FK_DependencyMonitor_RelationshipType] FOREIGN KEY([RelationshipTypeRowId])
REFERENCES [CS].[RelationshipType] ([RelationshipTypeRowId])
GO
ALTER TABLE [CS].[DependencyMonitor] CHECK CONSTRAINT [FK_DependencyMonitor_RelationshipType]
GO
ALTER TABLE [CS].[DependencyMonitor]  WITH CHECK ADD  CONSTRAINT [FK_DependencyMonitor_TargetManagedEntityType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [CS].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [CS].[DependencyMonitor] CHECK CONSTRAINT [FK_DependencyMonitor_TargetManagedEntityType]
GO
