USE [OperationsManager]
GO
/****** Object:  Table [CS].[HostingRelationship]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[HostingRelationship](
	[HostingRelationshipRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[RelationshipGuid] [uniqueidentifier] NOT NULL,
	[RelationshipTypeRowId] [int] NOT NULL,
	[SourceManagedEntityRowId] [bigint] NOT NULL,
	[TargetManagedEntityRowId] [bigint] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_HostingRelationship] PRIMARY KEY CLUSTERED 
(
	[HostingRelationshipRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[HostingRelationship] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[HostingRelationship] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
