USE [OperationsManager]
GO
/****** Object:  Table [CS].[IndexOptimizationHistory]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[IndexOptimizationHistory](
	[IndexOptimizationHistoryRowId] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [sysname] NOT NULL,
	[IndexName] [sysname] NOT NULL,
	[AvgFragmentationBeforeOptimizationPercent] [int] NOT NULL,
	[AvgFragmentationAfterOptimizationPercent] [int] NOT NULL,
	[OptimizationMethod] [varchar](50) NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[IndexOptimizationDateTimeUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_IndexOptimizationHistory] PRIMARY KEY CLUSTERED 
(
	[IndexOptimizationHistoryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[IndexOptimizationHistory] ADD  DEFAULT (getutcdate()) FOR [IndexOptimizationDateTimeUtc]
GO
