USE [OperationsManager]
GO
/****** Object:  Table [CS].[ManagedEntityProperty]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ManagedEntityProperty](
	[ManagedEntityRowId] [bigint] NOT NULL,
	[PropertyXml] [nvarchar](max) NOT NULL,
	[PropertyHash] [uniqueidentifier] NOT NULL,
	[PropertyLastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_ManagedEntityProperty] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CS].[ManagedEntityProperty] ADD  DEFAULT ((1)) FOR [PropertyLastModifiedBatchId]
GO
