USE [OperationsManager]
GO
/****** Object:  Table [CS].[ManagesRelationshipAssignmentBatch]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ManagesRelationshipAssignmentBatch](
	[BatchRowId] [int] IDENTITY(1,1) NOT NULL,
	[IsCompletedInd] [bit] NOT NULL,
	[CreatedDateTimeUtc] [datetime] NOT NULL,
	[CompletedDateTimeUtc] [datetime] NULL,
	[RangeIdFrom] [int] NULL,
	[RangeIdTo] [int] NULL,
 CONSTRAINT [PK_ManagesRelationshipAssignmentBatch] PRIMARY KEY CLUSTERED 
(
	[BatchRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ManagesRelationshipAssignmentBatch] ADD  DEFAULT ((0)) FOR [IsCompletedInd]
GO
ALTER TABLE [CS].[ManagesRelationshipAssignmentBatch] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTimeUtc]
GO
