USE [OperationsManager]
GO
/****** Object:  Table [CS].[ManagedEntityType]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ManagedEntityType](
	[ManagedEntityTypeRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityTypeSystemName] [nvarchar](256) NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[BaseManagedEntityTypeRowId] [int] NULL,
	[ManagedInd] [bit] NOT NULL,
	[AbstractInd] [bit] NOT NULL,
	[HostedInd] [bit] NOT NULL,
	[HeartbeatingInd] [bit] NOT NULL,
	[LastModifiedDateTimeUtc] [datetime] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_ManagedEntityType] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagedEntityType_ManagedEntityTypeGuid] UNIQUE NONCLUSTERED 
(
	[ManagedEntityTypeGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ManagedEntityType] ADD  DEFAULT (getutcdate()) FOR [LastModifiedDateTimeUtc]
GO
ALTER TABLE [CS].[ManagedEntityType] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[ManagedEntityType]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityType_BaseManagedEntityType] FOREIGN KEY([BaseManagedEntityTypeRowId])
REFERENCES [CS].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [CS].[ManagedEntityType] CHECK CONSTRAINT [FK_ManagedEntityType_BaseManagedEntityType]
GO
ALTER TABLE [CS].[ManagedEntityType]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityType_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [CS].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [CS].[ManagedEntityType] CHECK CONSTRAINT [FK_ManagedEntityType_ManagementPack]
GO
