USE [OperationsManager]
GO
/****** Object:  Table [CS].[ManagementPackTargetType]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ManagementPackTargetType](
	[ManagementPackRowId] [int] NOT NULL,
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[LastModifiedDateTimeUtc] [datetime] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_ManagementPackTargetType] PRIMARY KEY CLUSTERED 
(
	[ManagementPackRowId] ASC,
	[ManagedEntityTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ManagementPackTargetType] ADD  DEFAULT (getutcdate()) FOR [LastModifiedDateTimeUtc]
GO
ALTER TABLE [CS].[ManagementPackTargetType] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[ManagementPackTargetType]  WITH CHECK ADD  CONSTRAINT [FK_ManagementPackTargetType_ManagedEntityType] FOREIGN KEY([ManagedEntityTypeRowId])
REFERENCES [CS].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [CS].[ManagementPackTargetType] CHECK CONSTRAINT [FK_ManagementPackTargetType_ManagedEntityType]
GO
ALTER TABLE [CS].[ManagementPackTargetType]  WITH CHECK ADD  CONSTRAINT [FK_ManagementPackTargetType_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [CS].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [CS].[ManagementPackTargetType] CHECK CONSTRAINT [FK_ManagementPackTargetType_ManagementPack]
GO
