USE [OperationsManager]
GO
/****** Object:  Table [CS].[ManagementPack]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ManagementPack](
	[ManagementPackRowId] [int] IDENTITY(1,1) NOT NULL,
	[ManagementPackVersionIndependentGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackVersionDependentGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackSystemName] [nvarchar](256) NOT NULL,
	[ManagementPackVersion] [varchar](100) NOT NULL,
	[SealedInd] [bit] NOT NULL,
	[LastModifiedDateTimeUtc] [datetime] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_ManagementPack] PRIMARY KEY CLUSTERED 
(
	[ManagementPackRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagementPack_ManagementPackVersionDependentGuid] UNIQUE NONCLUSTERED 
(
	[ManagementPackVersionDependentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_ManagementPack_ManagementPackVersionIndependentGuid] UNIQUE NONCLUSTERED 
(
	[ManagementPackVersionIndependentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ManagementPack] ADD  DEFAULT (getutcdate()) FOR [LastModifiedDateTimeUtc]
GO
ALTER TABLE [CS].[ManagementPack] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
