USE [OperationsManager]
GO
/****** Object:  Table [CS].[ManagedEntity]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ManagedEntity](
	[ManagedEntityRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[TopLevelHostManagedEntityRowId] [int] NOT NULL,
	[TopLevelHostManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagementContextManagedEntityRowId] [int] NOT NULL,
	[ManagementContextManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DBManagedEntityRowId] [bigint] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_ManagedEntity] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ManagedEntity] ADD  DEFAULT ((-1)) FOR [TopLevelHostManagedEntityRowId]
GO
ALTER TABLE [CS].[ManagedEntity] ADD  DEFAULT ((-1)) FOR [ManagementContextManagedEntityRowId]
GO
ALTER TABLE [CS].[ManagedEntity] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CS].[ManagedEntity] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
