USE [OperationsManager]
GO
/****** Object:  Table [CS].[ManagedEntityTypeHierarchy]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ManagedEntityTypeHierarchy](
	[BaseManagedEntityTypeRowId] [int] NOT NULL,
	[DerivedManagedEntityTypeRowId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ManagedEntityTypeHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityTypeHierarchy_BaseManagedEntityType] FOREIGN KEY([BaseManagedEntityTypeRowId])
REFERENCES [CS].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [CS].[ManagedEntityTypeHierarchy] CHECK CONSTRAINT [FK_ManagedEntityTypeHierarchy_BaseManagedEntityType]
GO
ALTER TABLE [CS].[ManagedEntityTypeHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_ManagedEntityTypeHierarchy_DerivedManagedEntityType] FOREIGN KEY([DerivedManagedEntityTypeRowId])
REFERENCES [CS].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [CS].[ManagedEntityTypeHierarchy] CHECK CONSTRAINT [FK_ManagedEntityTypeHierarchy_DerivedManagedEntityType]
GO
