USE [OperationsManager]
GO
/****** Object:  Table [CS].[ManagesRelationshipAssignmentBatchManagementContext]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ManagesRelationshipAssignmentBatchManagementContext](
	[BatchRowId] [int] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ManagesRelationshipAssignmentBatchManagementContext] PRIMARY KEY CLUSTERED 
(
	[BatchRowId] ASC,
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ManagesRelationshipAssignmentBatchManagementContext]  WITH CHECK ADD  CONSTRAINT [FK_ManagesRelationshipAssignmentBatchManagementContext_ManagesRelationshipAssignmentBatch] FOREIGN KEY([BatchRowId])
REFERENCES [CS].[ManagesRelationshipAssignmentBatch] ([BatchRowId])
GO
ALTER TABLE [CS].[ManagesRelationshipAssignmentBatchManagementContext] CHECK CONSTRAINT [FK_ManagesRelationshipAssignmentBatchManagementContext_ManagesRelationshipAssignmentBatch]
GO
