USE [OperationsManager]
GO
/****** Object:  Table [CS].[RelationshipTypeHierarchy]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[RelationshipTypeHierarchy](
	[BaseRelationshipTypeRowId] [int] NOT NULL,
	[DerivedRelationshipTypeRowId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CS].[RelationshipTypeHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypeHierarchy_BaseRelationshipType] FOREIGN KEY([BaseRelationshipTypeRowId])
REFERENCES [CS].[RelationshipType] ([RelationshipTypeRowId])
GO
ALTER TABLE [CS].[RelationshipTypeHierarchy] CHECK CONSTRAINT [FK_RelationshipTypeHierarchy_BaseRelationshipType]
GO
ALTER TABLE [CS].[RelationshipTypeHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypeHierarchy_DerivedRelationshipType] FOREIGN KEY([DerivedRelationshipTypeRowId])
REFERENCES [CS].[RelationshipType] ([RelationshipTypeRowId])
GO
ALTER TABLE [CS].[RelationshipTypeHierarchy] CHECK CONSTRAINT [FK_RelationshipTypeHierarchy_DerivedRelationshipType]
GO
