USE [OperationsManager]
GO
/****** Object:  Table [CS].[RelationshipType]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[RelationshipType](
	[RelationshipTypeRowId] [int] IDENTITY(1,1) NOT NULL,
	[RelationshipTypeGuid] [uniqueidentifier] NOT NULL,
	[RelationshipTypeSystemName] [nvarchar](256) NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[BaseRelationshipTypeRowId] [int] NULL,
	[SourceManagedEntityTypeRowId] [int] NOT NULL,
	[TargetManagedEntityTypeRowId] [int] NOT NULL,
	[AbstractInd] [bit] NOT NULL,
	[ContainmentInd] [bit] NOT NULL,
	[MembershipInd] [bit] NOT NULL,
	[HostingInd] [bit] NOT NULL,
	[LastModifiedDateTimeUtc] [datetime] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
 CONSTRAINT [PK_RelationshipType] PRIMARY KEY CLUSTERED 
(
	[RelationshipTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_RelationshipType_RelationshipTypeGuid] UNIQUE NONCLUSTERED 
(
	[RelationshipTypeGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[RelationshipType] ADD  DEFAULT (getutcdate()) FOR [LastModifiedDateTimeUtc]
GO
ALTER TABLE [CS].[RelationshipType] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipType_BaseRelationshipType] FOREIGN KEY([BaseRelationshipTypeRowId])
REFERENCES [CS].[RelationshipType] ([RelationshipTypeRowId])
GO
ALTER TABLE [CS].[RelationshipType] CHECK CONSTRAINT [FK_RelationshipType_BaseRelationshipType]
GO
ALTER TABLE [CS].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipType_ManagementPack] FOREIGN KEY([ManagementPackRowId])
REFERENCES [CS].[ManagementPack] ([ManagementPackRowId])
GO
ALTER TABLE [CS].[RelationshipType] CHECK CONSTRAINT [FK_RelationshipType_ManagementPack]
GO
ALTER TABLE [CS].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipType_SourceManagedEntityType] FOREIGN KEY([SourceManagedEntityTypeRowId])
REFERENCES [CS].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [CS].[RelationshipType] CHECK CONSTRAINT [FK_RelationshipType_SourceManagedEntityType]
GO
ALTER TABLE [CS].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipType_TargetManagedEntityType] FOREIGN KEY([TargetManagedEntityTypeRowId])
REFERENCES [CS].[ManagedEntityType] ([ManagedEntityTypeRowId])
GO
ALTER TABLE [CS].[RelationshipType] CHECK CONSTRAINT [FK_RelationshipType_TargetManagedEntityType]
GO
