USE [OperationsManager]
GO
/****** Object:  Table [CS].[ReferenceRelationship]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[ReferenceRelationship](
	[ReferenceRelationshipRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[RelationshipGuid] [uniqueidentifier] NOT NULL,
	[RelationshipTypeRowId] [int] NOT NULL,
	[SourceManagedEntityRowId] [bigint] NOT NULL,
	[TargetManagedEntityRowId] [bigint] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CS].[ReferenceRelationship] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[ReferenceRelationship] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
