USE [OperationsManager]
GO
/****** Object:  Table [CS].[SynchronizationBatchState]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[SynchronizationBatchState](
	[SynchronizationBatchStateId] [tinyint] NOT NULL,
	[SynchronizationBatchStateName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SynchronizationBatchState] PRIMARY KEY CLUSTERED 
(
	[SynchronizationBatchStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
