USE [OperationsManager]
GO
/****** Object:  Table [CS].[SynchronizationBatch]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[SynchronizationBatch](
	[SynchronizationBatchId] [int] IDENTITY(1,1) NOT NULL,
	[SnapshotBatchInd] [bit] NOT NULL,
	[SynchronizationBatchStateId] [tinyint] NOT NULL,
	[BatchStartDateTimeUtc] [datetime] NOT NULL,
	[BatchConfigSyncCompletionDateTimeUtc] [datetime] NULL,
	[BatchEndDateTimeUtc] [datetime] NULL,
	[BatchTotalDurationSeconds]  AS (datediff(second,[BatchStartDateTimeUtc],[BatchEndDateTimeUtc])),
	[ConfigSyncDurationSeconds]  AS (datediff(second,[BatchStartDateTimeUtc],[BatchConfigSyncCompletionDateTimeUtc])),
 CONSTRAINT [PK_SynchronizationBatch] PRIMARY KEY CLUSTERED 
(
	[SynchronizationBatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[SynchronizationBatch] ADD  DEFAULT ((1)) FOR [SnapshotBatchInd]
GO
ALTER TABLE [CS].[SynchronizationBatch] ADD  DEFAULT ((1)) FOR [SynchronizationBatchStateId]
GO
ALTER TABLE [CS].[SynchronizationBatch] ADD  DEFAULT (getutcdate()) FOR [BatchStartDateTimeUtc]
GO
ALTER TABLE [CS].[SynchronizationBatch]  WITH CHECK ADD  CONSTRAINT [FK_SynchronizationBatch_SynchronizationBatchState] FOREIGN KEY([SynchronizationBatchStateId])
REFERENCES [CS].[SynchronizationBatchState] ([SynchronizationBatchStateId])
GO
ALTER TABLE [CS].[SynchronizationBatch] CHECK CONSTRAINT [FK_SynchronizationBatch_SynchronizationBatchState]
GO
