USE [OperationsManager]
GO
/****** Object:  Table [CS].[StatisticsUpdateHistory]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[StatisticsUpdateHistory](
	[StatisticsUpdateHistoryRowId] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [sysname] NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[StatisticsUpdateDateTimeUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_StatisticsUpdateHistory] PRIMARY KEY CLUSTERED 
(
	[StatisticsUpdateHistoryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[StatisticsUpdateHistory] ADD  DEFAULT (getutcdate()) FOR [StatisticsUpdateDateTimeUtc]
GO
