USE [OperationsManager]
GO
/****** Object:  Table [CS].[SiteMembersAssignmentBatchActionPoint]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[SiteMembersAssignmentBatchActionPoint](
	[BatchRowId] [int] NOT NULL,
	[ManagementActionPointEntityId] [uniqueidentifier] NOT NULL,
	[DoTraversingDown] [bit] NOT NULL,
 CONSTRAINT [PK_SiteMembersAssignmentBatchActionPoint] PRIMARY KEY CLUSTERED 
(
	[BatchRowId] ASC,
	[ManagementActionPointEntityId] ASC,
	[DoTraversingDown] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[SiteMembersAssignmentBatchActionPoint]  WITH CHECK ADD  CONSTRAINT [FK_SiteMembersAssignmentBatchActionPoint_SiteMembersAssignmentBatch] FOREIGN KEY([BatchRowId])
REFERENCES [CS].[SiteMembersAssignmentBatch] ([BatchRowId])
GO
ALTER TABLE [CS].[SiteMembersAssignmentBatchActionPoint] CHECK CONSTRAINT [FK_SiteMembersAssignmentBatchActionPoint_SiteMembersAssignmentBatch]
GO
