USE [OperationsManager]
GO
/****** Object:  Table [CS].[StoreSetting]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[StoreSetting](
	[InstallDateTime] [datetime] NULL,
	[LastUpdatedDateTime] [datetime] NULL,
	[CmdbStateGuid] [uniqueidentifier] NOT NULL,
	[CmdbVersion] [varchar](50) NULL,
	[MinSupportedCmdbDllVersion] [varchar](50) NULL,
	[ConfigStoreVersion] [varchar](50) NULL,
	[MinSupportedConfigStoreDllVersion] [varchar](50) NULL,
	[SnapshotGuid] [uniqueidentifier] NULL,
	[SynchronizationCompletedInd] [bit] NOT NULL,
	[DeltaSynchronizationWatermark] [nvarchar](max) NULL,
	[ConfigStoreConfigurationSignature] [datetime] NULL,
	[LastContainmentHierarchyAffectingBatchId] [int] NOT NULL,
	[MaxGroomedSynchronizationBatchId] [int] NOT NULL,
	[ConfigStoreStateGuid] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CS].[StoreSetting] ADD  DEFAULT (getutcdate()) FOR [InstallDateTime]
GO
ALTER TABLE [CS].[StoreSetting] ADD  DEFAULT (getutcdate()) FOR [LastUpdatedDateTime]
GO
ALTER TABLE [CS].[StoreSetting] ADD  DEFAULT (newid()) FOR [CmdbStateGuid]
GO
ALTER TABLE [CS].[StoreSetting] ADD  DEFAULT ((0)) FOR [SynchronizationCompletedInd]
GO
ALTER TABLE [CS].[StoreSetting] ADD  DEFAULT ((1)) FOR [LastContainmentHierarchyAffectingBatchId]
GO
ALTER TABLE [CS].[StoreSetting] ADD  DEFAULT ((0)) FOR [MaxGroomedSynchronizationBatchId]
GO
