USE [OperationsManager]
GO
/****** Object:  Table [CS].[TypedManagedEntity]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[TypedManagedEntity](
	[TypedManagedEntityRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[TypedManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityRowId] [bigint] NOT NULL,
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TypedManagedEntity] PRIMARY KEY CLUSTERED 
(
	[TypedManagedEntityRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CS].[TypedManagedEntity] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[TypedManagedEntity] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
