USE [OperationsManager]
GO
/****** Object:  View [CS].[UnmonitoredManagedTypeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [CS].[UnmonitoredManagedTypeView]
AS
SELECT
   ManagedTypeId = dmt.DerivedTypeId
FROM dbo.ManagedTypeMonitoring mtm
      JOIN dbo.DerivedManagedTypes dmt ON (mtm.ManagedTypeId = dmt.BaseTypeId)
WHERE (mtm.IsUnmonitored = 1)
GO
