USE [OperationsManager]
GO
/****** Object:  Table [CS].[WorkflowExecutionLocation]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[WorkflowExecutionLocation](
	[WorkflowExecutionLocationRowId] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowExecutionLocationGuid] [uniqueidentifier] NOT NULL,
	[AgentVisibleManagedByGuid] [uniqueidentifier] NOT NULL,
	[UsingDefaultObserverInd] [bit] NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[AgentInd] [bit] NOT NULL,
	[AgentPoolInd] [bit] NOT NULL,
	[LastModifiedBatchId] [int] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
 CONSTRAINT [PK_WorkflowExecutionLocation] PRIMARY KEY CLUSTERED 
(
	[WorkflowExecutionLocationRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_WorkflowExecutionLocation_WorkflowExecutionLocationGuid] UNIQUE NONCLUSTERED 
(
	[WorkflowExecutionLocationGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CS].[WorkflowExecutionLocation] ADD  DEFAULT ((1)) FOR [LastModifiedBatchId]
GO
ALTER TABLE [CS].[WorkflowExecutionLocation] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
