USE [OperationsManager]
GO
/****** Object:  Table [CS].[WorkItem]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CS].[WorkItem](
	[WorkItemRowId] [int] IDENTITY(1,1) NOT NULL,
	[WorkItemName] [nvarchar](256) NOT NULL,
	[WorkItemStateId] [tinyint] NOT NULL,
	[ServerName] [nvarchar](256) NOT NULL,
	[InstanceName] [nvarchar](256) NOT NULL,
	[StartedDateTimeUtc] [datetime] NOT NULL,
	[LastActivityDateTimeUtc] [datetime] NOT NULL,
	[CompletedDateTimeUtc] [datetime] NULL,
	[DurationSeconds]  AS (datediff(second,[StartedDateTimeUtc],[CompletedDateTimeUtc])),
	[ErrorMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK_WorkItem] PRIMARY KEY CLUSTERED 
(
	[WorkItemRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CS].[WorkItem] ADD  DEFAULT (getutcdate()) FOR [StartedDateTimeUtc]
GO
ALTER TABLE [CS].[WorkItem] ADD  DEFAULT (getutcdate()) FOR [LastActivityDateTimeUtc]
GO
ALTER TABLE [CS].[WorkItem]  WITH CHECK ADD  CONSTRAINT [FK_WorkItem_WorkItemState] FOREIGN KEY([WorkItemStateId])
REFERENCES [CS].[WorkItemState] ([WorkItemStateId])
GO
ALTER TABLE [CS].[WorkItem] CHECK CONSTRAINT [FK_WorkItem_WorkItemState]
GO
