USE [OperationsManager]
GO
/****** Object:  Table [CSLog].[RelationshipType]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSLog].[RelationshipType](
	[RelationshipTypeGuid] [uniqueidentifier] NOT NULL,
	[RelationshipTypeSystemName] [nvarchar](256) NOT NULL,
	[ManagementPackVersionDependentGuid] [uniqueidentifier] NOT NULL,
	[BaseRelationshipTypeGuid] [uniqueidentifier] NULL,
	[SourceManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[TargetManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[AbstractInd] [bit] NOT NULL,
	[ContainmentInd] [bit] NOT NULL,
	[MembershipInd] [bit] NOT NULL,
	[HostingInd] [bit] NOT NULL,
	[ChangeTypeId] [tinyint] NOT NULL,
	[ChangeWrittenToStagingDateTimeUtc] [datetime] NOT NULL,
	[SynchronizationBatchId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CSLog].[RelationshipType] ADD  DEFAULT ((0)) FOR [ChangeTypeId]
GO
ALTER TABLE [CSLog].[RelationshipType] ADD  DEFAULT (getutcdate()) FOR [ChangeWrittenToStagingDateTimeUtc]
GO
