USE [OperationsManager]
GO
/****** Object:  Table [CSLog].[MaintenanceMode]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSLog].[MaintenanceMode](
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[SynchronizationBatchId] [int] NOT NULL,
	[ProcessedInd] [bit] NOT NULL
) ON [PRIMARY]
GO
