USE [OperationsManager]
GO
/****** Object:  Table [CSLog].[CommunicationRelationship]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSLog].[CommunicationRelationship](
	[RelationshipGuid] [uniqueidentifier] NOT NULL,
	[SourceManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[TargetManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[PrimaryCommunicationInd] [bit] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[DBEntityChangeLogId] [bigint] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[SynchronizationBatchId] [int] NOT NULL,
	[ProcessedInd] [bit] NOT NULL
) ON [PRIMARY]
GO
