USE [OperationsManager]
GO
/****** Object:  Table [CSLog].[ManagementPackTargetType]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSLog].[ManagementPackTargetType](
	[ManagementPackVersionDependentGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[ChangeTypeId] [tinyint] NOT NULL,
	[ChangeWrittenToStagingDateTimeUtc] [datetime] NOT NULL,
	[SynchronizationBatchId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CSLog].[ManagementPackTargetType] ADD  DEFAULT ((0)) FOR [ChangeTypeId]
GO
ALTER TABLE [CSLog].[ManagementPackTargetType] ADD  DEFAULT (getutcdate()) FOR [ChangeWrittenToStagingDateTimeUtc]
GO
