USE [OperationsManager]
GO
/****** Object:  Table [CSLog].[DependencyMonitor]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSLog].[DependencyMonitor](
	[DependencyMonitorGuid] [uniqueidentifier] NOT NULL,
	[DependencyMonitorSystemName] [nvarchar](256) NOT NULL,
	[ManagementPackVersionDependentGuid] [uniqueidentifier] NOT NULL,
	[TargetManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[RelationshipTypeGuid] [uniqueidentifier] NOT NULL,
	[ChangeTypeId] [tinyint] NOT NULL,
	[ChangeWrittenToStagingDateTimeUtc] [datetime] NOT NULL,
	[SynchronizationBatchId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CSLog].[DependencyMonitor] ADD  DEFAULT ((0)) FOR [ChangeTypeId]
GO
ALTER TABLE [CSLog].[DependencyMonitor] ADD  DEFAULT (getutcdate()) FOR [ChangeWrittenToStagingDateTimeUtc]
GO
