USE [OperationsManager]
GO
/****** Object:  Table [CSStage].[AgentPool]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSStage].[AgentPool](
	[AgentPoolGuid] [uniqueidentifier] NOT NULL,
	[SingleAgentPoolInd] [bit] NOT NULL,
	[AgentVisibleManagedByGuid] [uniqueidentifier] NOT NULL,
	[UsingDefaultObserverInd] [bit] NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[DBEntityChangeLogId] [bigint] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CSStage].[AgentPool] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CSStage].[AgentPool] ADD  DEFAULT ((0)) FOR [DBEntityChangeLogId]
GO
ALTER TABLE [CSStage].[AgentPool] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTime]
GO
