USE [OperationsManager]
GO
/****** Object:  Table [CSStage].[ManagedEntityType]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSStage].[ManagedEntityType](
	[ManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityTypeSystemName] [nvarchar](256) NOT NULL,
	[ManagementPackVersionDependentGuid] [uniqueidentifier] NOT NULL,
	[BaseManagedEntityTypeGuid] [uniqueidentifier] NULL,
	[ManagedInd] [bit] NOT NULL,
	[AbstractInd] [bit] NOT NULL,
	[HostedInd] [bit] NOT NULL,
	[HeartbeatingInd] [bit] NOT NULL,
	[ChangeTypeId] [tinyint] NOT NULL,
	[ChangeWrittenToStagingDateTimeUtc] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CSStage].[ManagedEntityType] ADD  DEFAULT ((0)) FOR [ChangeTypeId]
GO
ALTER TABLE [CSStage].[ManagedEntityType] ADD  DEFAULT (getutcdate()) FOR [ChangeWrittenToStagingDateTimeUtc]
GO
