USE [OperationsManager]
GO
/****** Object:  Table [CSStage].[ManagementPack]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSStage].[ManagementPack](
	[ManagementPackVersionIndependentGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackVersionDependentGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackSystemName] [nvarchar](256) NOT NULL,
	[ManagementPackVersion] [varchar](100) NOT NULL,
	[SealedInd] [bit] NOT NULL,
	[ChangeTypeId] [tinyint] NOT NULL,
	[ChangeWrittenToStagingDateTimeUtc] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CSStage].[ManagementPack] ADD  DEFAULT ((0)) FOR [ChangeTypeId]
GO
ALTER TABLE [CSStage].[ManagementPack] ADD  DEFAULT (getutcdate()) FOR [ChangeWrittenToStagingDateTimeUtc]
GO
