USE [OperationsManager]
GO
/****** Object:  Table [CSStage].[ContainerSource]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSStage].[ContainerSource](
	[ManagementPackVersionDependentGuid] [uniqueidentifier] NOT NULL,
	[ElementTypeName] [varchar](256) NOT NULL,
	[ElementGuid] [uniqueidentifier] NOT NULL,
	[ElementSystemName] [nvarchar](256) NOT NULL,
	[TargetManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[ContextManagedEntityTypeGuid] [uniqueidentifier] NULL,
	[ContextManagedEntityGuid] [uniqueidentifier] NULL,
	[ChangeTypeId] [tinyint] NOT NULL,
	[ChangeWrittenToStagingDateTimeUtc] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CSStage].[ContainerSource] ADD  DEFAULT ((0)) FOR [ChangeTypeId]
GO
ALTER TABLE [CSStage].[ContainerSource] ADD  DEFAULT (getutcdate()) FOR [ChangeWrittenToStagingDateTimeUtc]
GO
