USE [OperationsManager]
GO
/****** Object:  Table [CSStage].[Agent]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSStage].[Agent](
	[AgentGuid] [uniqueidentifier] NOT NULL,
	[MaxQueueSizeKB] [int] NOT NULL,
	[ManagementServerInd] [bit] NOT NULL,
	[GatewayInd] [bit] NOT NULL,
	[HeartbeatEnabledInd] [bit] NOT NULL,
	[HeartbeatIntervalSeconds] [int] NOT NULL,
	[NumberOfMissingHearbeatsToMarkMachineDown] [int] NULL,
	[PortNumber] [int] NOT NULL,
	[AgentVersion] [varchar](50) NOT NULL,
	[NetworkName] [nvarchar](max) NOT NULL,
	[Protocol] [varchar](256) NOT NULL,
	[InitiatesConnectionToParentInd] [bit] NOT NULL,
	[ThirdPartyAuthenticationUri] [nvarchar](max) NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[DBEntityChangeLogId] [bigint] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CSStage].[Agent] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CSStage].[Agent] ADD  DEFAULT ((0)) FOR [DBEntityChangeLogId]
GO
ALTER TABLE [CSStage].[Agent] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTime]
GO
