USE [OperationsManager]
GO
/****** Object:  Table [CSStage].[TypedManagedEntity]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSStage].[TypedManagedEntity](
	[TypedManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[DBEntityChangeLogId] [bigint] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CSStage].[TypedManagedEntity] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CSStage].[TypedManagedEntity] ADD  DEFAULT ((0)) FOR [DBEntityChangeLogId]
GO
ALTER TABLE [CSStage].[TypedManagedEntity] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTime]
GO
