USE [OperationsManager]
GO
/****** Object:  Table [CSStage].[AgentCredential]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSStage].[AgentCredential](
	[AgentCredentialAssociationGuid] [uniqueidentifier] NOT NULL,
	[AgentOrAgentPoolGuid] [uniqueidentifier] NULL,
	[SecureReferenceGuid] [uniqueidentifier] NULL,
	[CredentialGuid] [uniqueidentifier] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [CSStage].[AgentCredential] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CSStage].[AgentCredential] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTime]
GO
