USE [OperationsManager]
GO
/****** Object:  Table [CSStage].[ManagedEntity]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CSStage].[ManagedEntity](
	[ManagedEntityRowId] [bigint] NOT NULL,
	[ManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[TopLevelHostManagedEntityRowId] [bigint] NOT NULL,
	[TopLevelHostManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[ManagementContextManagedEntityRowId] [bigint] NOT NULL,
	[ManagementContextManagedEntityGuid] [uniqueidentifier] NOT NULL,
	[PropertyXml] [nvarchar](max) NULL,
	[PropertyHash] [uniqueidentifier] NOT NULL,
	[DBLastModifiedDateTime] [datetime] NOT NULL,
	[DeletedInd] [bit] NOT NULL,
	[DBEntityChangeLogId] [bigint] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CSStage].[ManagedEntity] ADD  DEFAULT ((0)) FOR [DeletedInd]
GO
ALTER TABLE [CSStage].[ManagedEntity] ADD  DEFAULT ((0)) FOR [DBEntityChangeLogId]
GO
ALTER TABLE [CSStage].[ManagedEntity] ADD  DEFAULT (getutcdate()) FOR [CreatedDateTime]
GO
