USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft_SystemCenter_ApplicationMonitoring_360_Template_3TierApplication_Clien_4B6286D1_7CE5_2C4A_3F66_CC0E1270190E]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft_SystemCenter_ApplicationMonitoring_360_Template_3TierApplication_Clien_4B6286D1_7CE5_2C4A_3F66_CC0E1270190E] AS SELECT R.RelationshipId, BME1.BaseManagedTypeId AS SourceTypeId, 
	BME2.BaseManagedTypeId AS TargetTypeId  FROM dbo.Relationship R  
		JOIN dbo.BaseManagedEntity BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
		JOIN dbo.BaseManagedEntity BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
		WHERE R.IsDeleted = 0 AND R.RelationshipTypeId = '89DF73CA-D2C8-54FB-CE2C-3BB5DFB9C163'
GO
