USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitorTypeStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorTypeStaging](
	[MonitorTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[MNTName] [nvarchar](256) NOT NULL,
	[MNTAccessibility] [tinyint] NOT NULL,
	[MNTConfigurationXSD] [nvarchar](max) NULL,
	[MNTImplementationXML] [nvarchar](max) NULL,
	[MNTRunAs] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
 CONSTRAINT [PK_MonitorTypeStaging] PRIMARY KEY CLUSTERED 
(
	[MonitorTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
