USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AjaxThreshold_8B6FB64E_E955_B6AB_2F1A_41E86E3FF448], T1.[ApplicationName_6D56072B_DFE1_44F4_83AA_146329F5A52F], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvgRequestTimeMonitorEnabled_C99A8BD9_7111_36AB_2160_E1788BCC2B68], T1.[AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA], T1.[AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86], T1.[DisabledContent_2BB11370_F1F5_9745_DA77_AD75BE479C95], T1.[ExceptionAlerts_698BA713_5CDD_2F59_7024_6A9668F88CC1], T1.[ExceptionRateMonitorEnabled_7261DA36_3004_68E4_20CA_4EFE375DFF72], T1.[ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9], T1.[ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693], T1.[IPHeaders_D7CB13D4_999C_21AE_9250_4A92844F2D73], T1.[MonitoringComputerGroup_B969C3F2_B76A_37DC_8387_3F9405A1DDEA], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PageLoadThreshold_6027A5D2_E036_50A1_9823_C577D0491BEB], T1.[PerformanceAlerts_878B16DA_3589_3D08_97F7_57C72AF87289], T1.[PerformanceRateMonitorEnabled_115D3358_7A65_A92B_757F_B6B96B91B9F2], T1.[PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954], T1.[PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972], T1.[RequestFilters_9A1AE943_2761_7A0D_8490_7C21061F8CCC], T1.[ResponseFilters_BA8C1861_53B9_9F1D_B40E_9954BADEA34C], T1.[SamplingRate_C291595C_6A59_7EE4_9A08_DD95423FBC06], T1.[SensitivityThreshold_E59C8BBE_6B3D_4B30_1D1E_A639838C09FD], T1.[StreamFilters_72DB18D0_5751_AF79_1BD0_A62965C4FC29], T2.[IISApplicationPath_7AA27C56_F75C_358E_DF4C_BA97C7C31C37] AS [IISApplicationPath_7AA27C56_F75C_358E_DF4C_BA97C7C31C37], T3.[Id_EE996801_C54E_6A13_0F3A_584738E7FB06] AS [Id_EE996801_C54E_6A13_0F3A_584738E7FB06] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '27E4E840-5D6C-4ED0-FCC9-8659FFD153C7'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$WebApplicationComponent] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = '1F2AD65D-21C6-6903-F965-56B218A21187'  AND RT3.TargetEntityId = T2.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId
GO
