USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Installed$OMProducts]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Installed$OMProducts] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[ComputerName_3F7BB403_5CBF_151A_434C_8C86820A93AE], T1.[Domain_709E49C4_8B5B_DC23_BE07_33A7725145C4], T1.[InstallDate_930A41AF_B3BD_0349_9343_7C5A9CFBD873], T1.[KBNumber_4A01217C_0DF9_26FF_F61A_709E7ACD7DCF], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PatchInstalled_39748D50_2140_6EF1_9B95_460F96AA1D65], T1.[ProductDisplayName_B29D2312_FA16_2CE0_C7F3_E1A1DE7E3237], T1.[Version_2A6C94F4_810F_6E85_9CED_D3EC3F33685B], T2.[AccountLogOnType_65937B72_69D4_0CE9_F766_C59A812799F3], T3.[AccountLogOnType_6C8E4577_E974_B37D_12A9_FD749C1AFAA6], T4.[AccountLogOnType_FA6BFF79_4B43_D551_40EE_7878B60EE909], T5.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts] T1 LEFT JOIN [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts$OM] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId LEFT JOIN [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts$Gateway] T3 ON T1.BaseManagedEntityId = T3.BaseManagedEntityId LEFT JOIN [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts$Agent] T4 ON T1.BaseManagedEntityId = T4.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT5 ON (RT5.RelationshipTypeId = 'B22D9165-494B-5FA8-57AF-F2C608E103BC'  AND RT5.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T5 ON RT5.SourceEntityId = T5.BaseManagedEntityId
GO
