USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$MIB2_Fault_SNMPAgent]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$MIB2_Fault_SNMPAgent](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Index_CDA043DC_BCBD_A179_9D3B_AB51129B9448] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$MIB2_Fault_SNMPAgent] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
