USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DimensionProperty]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimensionProperty](
	[DimensionPropertyId] [uniqueidentifier] NOT NULL,
	[DimensionId] [uniqueidentifier] NOT NULL,
	[DimensionPropertyName] [nvarchar](256) NOT NULL,
	[PropertyName] [nvarchar](256) NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[PropertyPath] [nvarchar](512) NOT NULL,
	[IsSlowlyChanging] [bit] NULL,
	[DefaultValue] [nvarchar](2000) NULL,
	[InExcludeList] [bit] NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DimensionProperty] PRIMARY KEY CLUSTERED 
(
	[DimensionPropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimensionProperty] ADD  DEFAULT ((0)) FOR [InExcludeList]
GO
ALTER TABLE [dbo].[DimensionProperty] ADD  CONSTRAINT [DF_DimensionProperty_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DimensionProperty] ADD  CONSTRAINT [DF_DimensionProperty_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[DimensionProperty]  WITH CHECK ADD  CONSTRAINT [FK_DimensionProperty_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DimensionProperty] CHECK CONSTRAINT [FK_DimensionProperty_ManagementPack]
GO
