USE [OperationsManager]
GO
/****** Object:  Table [dbo].[JobConfiguration]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobConfiguration](
	[JobInternalId] [bigint] NOT NULL,
	[InputConfiguration] [varbinary](max) NULL,
	[TaskTimeoutTicks] [bigint] NULL,
	[TaskTracingFlag] [bit] NULL,
	[CanCancel] [bit] NULL,
	[CanSuspend] [bit] NULL,
UNIQUE NONCLUSTERED 
(
	[JobInternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_JobConfiguration_JobStatus] FOREIGN KEY([JobInternalId])
REFERENCES [dbo].[JobStatus] ([JobInternalId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobConfiguration] CHECK CONSTRAINT [FK_JobConfiguration_JobStatus]
GO
