USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DataWarehouseDatasetStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataWarehouseDatasetStaging](
	[DataWarehouseDatasetId] [uniqueidentifier] NOT NULL,
	[DataWarehouseDatasetName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Configuration] [nvarchar](max) NOT NULL,
	[Install] [nvarchar](max) NOT NULL,
	[Uninstall] [nvarchar](max) NOT NULL,
	[Upgrade] [nvarchar](max) NULL,
	[UpgradeUnsupported] [bit] NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
