USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AjaxThreshold_93F26715_F711_AF0C_8C31_CE6B5538ABCD], T1.[ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A], T1.[ApplicationGroupName_68912EB1_0C6A_DAD8_852D_9754E313CE2C], T1.[ApplicationName_CDEF0338_455F_866E_5B27_AAB852C1215F], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9], T1.[AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5], T1.[CounterInstance_E44F2093_F5A6_E776_513E_7121022DFCFD], T1.[DisabledContent_627E9F37_BB0E_FB27_6711_74A265F9266B], T1.[EncryptionKey_77988267_C2BF_750A_7BF4_2CBEC50344BA], T1.[ExceptionAlerts_FB1A01CA_6AEC_C93C_6DC4_4BE24AA2D01B], T1.[ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947], T1.[ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA], T1.[IISApplicationPath_733223B8_D8C1_E9B1_9BBC_3DCAF7166CEF], T1.[IPHeaders_4F0D91CD_A3C6_AD34_F46E_8937F70F4DC1], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PageLoadThreshold_2BEFCAA3_CE9C_5249_0E7C_08A8257FD51A], T1.[PerformanceAlerts_15A1A50B_7E3D_2FD8_7654_17CBB73C9659], T1.[PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2], T1.[PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA], T1.[RequestFilters_DF9AEDA6_F0B3_575A_8491_65944CD73E8B], T1.[ResponseFilters_0E41A2A3_9627_2EF8_EC66_B2AED463BEE9], T1.[SamplingRate_A9AE5036_210D_18E9_CE46_35409A86A1B7], T1.[SensitivityThreshold_1AA7344D_A619_6BA5_C14E_592090AF1A31], T1.[StreamFilters_89C46EFA_7B08_0509_FCAC_3F5470301813], T3.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '4C45EDC3-51B9-7022-5AE8-1FC8B05292FF'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$Apm$CsmAgent] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = '8B132FB6-AAC8-BFE9-3E37-4375F8B6DFAB'  AND RT3.TargetEntityId = T2.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId
GO
