USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ProfileOperation]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileOperation](
	[ProfileOperationId] [uniqueidentifier] NOT NULL,
	[ProfileId] [uniqueidentifier] NOT NULL,
	[OperationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProfileOperation] PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC,
	[OperationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProfileOperation] ADD  CONSTRAINT [DF_ProfileOperation_ProfileOperationId]  DEFAULT (newid()) FOR [ProfileOperationId]
GO
ALTER TABLE [dbo].[ProfileOperation]  WITH CHECK ADD  CONSTRAINT [FK_ProfileOperation_OperationId] FOREIGN KEY([OperationId])
REFERENCES [dbo].[Operation] ([OperationId])
GO
ALTER TABLE [dbo].[ProfileOperation] CHECK CONSTRAINT [FK_ProfileOperation_OperationId]
GO
ALTER TABLE [dbo].[ProfileOperation]  WITH CHECK ADD  CONSTRAINT [FK_ProfileOperation_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profile] ([ProfileId])
GO
ALTER TABLE [dbo].[ProfileOperation] CHECK CONSTRAINT [FK_ProfileOperation_ProfileId]
GO
