USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RelationshipInsert]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipInsert](
	[RelationshipId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NULL,
	[SourceEntityId] [uniqueidentifier] NULL,
	[TargetEntityId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
