USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972] [float] NULL,
	[Resources_7A483AAC_5147_93A9_F149_CF2038E71F8F] [nvarchar](max) NULL,
	[AppFailureAlerts_2BC2E09A_7A96_14D4_D046_E498A02F7474] [bit] NULL,
	[PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954] [int] NULL,
	[PerformanceRateMonitorEnabled_115D3358_7A65_A92B_757F_B6B96B91B9F2] [bit] NULL,
	[MonitoringComputerGroup_B969C3F2_B76A_37DC_8387_3F9405A1DDEA] [uniqueidentifier] NULL,
	[ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9] [int] NULL,
	[ExceptionTrackings_1BC403B6_3D26_AE64_8B1E_55265FFAD103] [nvarchar](max) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[SensitivityThreshold_B0CC9E1F_01E5_4018_B12F_FA965376599F] [int] NULL,
	[Namespaces_EC8DEA64_101D_521B_B479_F66EC0C744FC] [nvarchar](max) NULL,
	[CollectAllExceptions_DF60F3EB_1E50_0878_E8E3_B9D8CCCD14A4] [bit] NULL,
	[AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA] [int] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86] [int] NULL,
	[AvgRequestTimeMonitorEnabled_C99A8BD9_7111_36AB_2160_E1788BCC2B68] [bit] NULL,
	[ApplicationName_6D56072B_DFE1_44F4_83AA_146329F5A52F] [nvarchar](256) NULL,
	[SecurityAlerts_2561C4B2_C0D6_FE95_B64E_1D44B2FB9B5B] [bit] NULL,
	[PerformanceThreshold_F009C9B2_05F1_9235_26AB_72ACF1E6B26C] [int] NULL,
	[PerformanceAlerts_D8C602FA_FFD9_5887_5BF4_9F5B6645CCE5] [bit] NULL,
	[ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693] [float] NULL,
	[ExceptionHandlers_882C45F8_9417_9EE6_2A4F_2C51958DD9BA] [nvarchar](max) NULL,
	[ExceptionRateMonitorEnabled_7261DA36_3004_68E4_20CA_4EFE375DFF72] [bit] NULL,
	[ConnectivityAlerts_B0EF20EE_EBC5_EAE3_0817_670C2B6B2EB5] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]>=(0) AND [ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]>=(0) AND [PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent]  WITH CHECK ADD CHECK  (([PerformanceThreshold_F009C9B2_05F1_9235_26AB_72ACF1E6B26C]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent]  WITH CHECK ADD CHECK  (([SensitivityThreshold_B0CC9E1F_01E5_4018_B12F_FA965376599F]>=(0)))
GO
