USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CredentialManagerSecureStorage]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CredentialManagerSecureStorage](
	[SecureStorageElementId] [uniqueidentifier] NOT NULL,
	[SecureStorageId] [varbinary](40) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](4000) NULL,
	[UserName] [nvarchar](255) NULL,
	[Domain] [nvarchar](255) NULL,
	[Type] [int] NOT NULL,
	[Data] [varbinary](max) NULL,
	[DataHash] [varbinary](20) NULL,
	[IsSystem] [bit] NOT NULL,
	[AssemblyQualifiedName] [nvarchar](255) NULL,
	[ConfigurationXml] [nvarchar](4000) NULL,
	[ConfigExtensionData] [varbinary](max) NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_CredentialManagerSecureStorage] PRIMARY KEY CLUSTERED 
(
	[SecureStorageElementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CredentialManagerSecureStorage] ADD  CONSTRAINT [DF_CredentialManagerSecureStorage_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
