USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentOverridesStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentOverridesStaging](
	[ComponentOverrideId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentOverrideName] [nvarchar](256) NOT NULL,
	[ComponentOverrideTypeId] [uniqueidentifier] NOT NULL,
	[ComponentOverrideContext] [nvarchar](max) NULL,
	[ComponentOverrideXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
