USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Warehouse$Dimension]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Warehouse$Dimension] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[DimensionId_8671BAF1_2ABA_A8E7_F891_2ABEDB17F0DA] FROM [dbo].[MT_Microsoft$SystemCenter$Warehouse$Dimension] T1
GO
