USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RecursiveMembership]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecursiveMembership](
	[ContainerEntityId] [uniqueidentifier] NOT NULL,
	[ContainedEntityId] [uniqueidentifier] NOT NULL,
	[Depth] [int] NOT NULL,
	[PathCount] [int] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_RecursiveMembership] PRIMARY KEY CLUSTERED 
(
	[ContainerEntityId] ASC,
	[ContainedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecursiveMembership] ADD  CONSTRAINT [DF_RecursiveMembership_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[RecursiveMembership]  WITH CHECK ADD  CONSTRAINT [FK_RecursiveMembership_BaseManagedEntity_Contained] FOREIGN KEY([ContainedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
GO
ALTER TABLE [dbo].[RecursiveMembership] CHECK CONSTRAINT [FK_RecursiveMembership_BaseManagedEntity_Contained]
GO
ALTER TABLE [dbo].[RecursiveMembership]  WITH CHECK ADD  CONSTRAINT [FK_RecursiveMembership_BaseManagedEntity_Container] FOREIGN KEY([ContainerEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
GO
ALTER TABLE [dbo].[RecursiveMembership] CHECK CONSTRAINT [FK_RecursiveMembership_BaseManagedEntity_Container]
GO
