USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$IP_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$IP_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_Netmask_94575027_F599_ACBB_E798_9B1CBB23D3A6] [nvarchar](256) NULL,
	[Post_Netmask_94575027_F599_ACBB_E798_9B1CBB23D3A6] [nvarchar](256) NULL,
	[Pre_Tag_39E3C026_D4C5_3AF4_DD58_0CEDBA482DC5] [nvarchar](256) NULL,
	[Post_Tag_39E3C026_D4C5_3AF4_DD58_0CEDBA482DC5] [nvarchar](256) NULL,
	[Pre_Description_6268DD26_79FE_55AC_37C4_747A109FA087] [nvarchar](256) NULL,
	[Post_Description_6268DD26_79FE_55AC_37C4_747A109FA087] [nvarchar](256) NULL,
	[Pre_Address_4351A03D_B9AB_CC8F_6F04_6135882AA918] [nvarchar](256) NULL,
	[Post_Address_4351A03D_B9AB_CC8F_6F04_6135882AA918] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_RouteDistinguisher_3F644F3F_0526_669A_7AC4_CF9B2B7F4CF2] [nvarchar](256) NULL,
	[Post_RouteDistinguisher_3F644F3F_0526_669A_7AC4_CF9B2B7F4CF2] [nvarchar](256) NULL,
	[Pre_Key_E5006F89_0A34_4C15_9347_822001C413F3] [nvarchar](256) NULL,
	[Post_Key_E5006F89_0A34_4C15_9347_822001C413F3] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$IP_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$IP_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$IP_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
