USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_AvgRequestTimeMonitorEnabled_91FBBEEB_24F1_63D8_5023_C9A9047B86A9] [bit] NULL,
	[Post_AvgRequestTimeMonitorEnabled_91FBBEEB_24F1_63D8_5023_C9A9047B86A9] [bit] NULL,
	[Pre_AppFailureAlerts_E8580C9F_53A7_FB46_4221_B86D854B8E2C] [bit] NULL,
	[Post_AppFailureAlerts_E8580C9F_53A7_FB46_4221_B86D854B8E2C] [bit] NULL,
	[Pre_SensitivityThreshold_F5F8851F_DF5F_BD57_59C3_0CDCF20DFDAB] [int] NULL,
	[Post_SensitivityThreshold_F5F8851F_DF5F_BD57_59C3_0CDCF20DFDAB] [int] NULL,
	[Pre_PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928] [float] NULL,
	[Post_PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928] [float] NULL,
	[Pre_PerformanceAlerts_D111DFA5_7B0F_7EAD_36BB_EAC1D8A18E27] [bit] NULL,
	[Post_PerformanceAlerts_D111DFA5_7B0F_7EAD_36BB_EAC1D8A18E27] [bit] NULL,
	[Pre_SecurityAlerts_9B4F88C1_CB3E_D33D_E06D_6F220D6A1546] [bit] NULL,
	[Post_SecurityAlerts_9B4F88C1_CB3E_D33D_E06D_6F220D6A1546] [bit] NULL,
	[Pre_TransactionName_D55C57A4_E5F7_7F71_492B_4E3752102112] [nvarchar](256) NULL,
	[Post_TransactionName_D55C57A4_E5F7_7F71_492B_4E3752102112] [nvarchar](256) NULL,
	[Pre_ConnectivityAlerts_0A6B2A72_6977_5577_8145_AD283AE5B3C8] [bit] NULL,
	[Post_ConnectivityAlerts_0A6B2A72_6977_5577_8145_AD283AE5B3C8] [bit] NULL,
	[Pre_PageName_A433A48C_4AC2_99B8_1A03_32B97A5B6F95] [nvarchar](2084) NULL,
	[Post_PageName_A433A48C_4AC2_99B8_1A03_32B97A5B6F95] [nvarchar](2084) NULL,
	[Pre_PerformanceRateMonitorInterval_92B088DF_EC3C_042D_402E_15A1EC15EF5F] [int] NULL,
	[Post_PerformanceRateMonitorInterval_92B088DF_EC3C_042D_402E_15A1EC15EF5F] [int] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_ExceptionRateMonitorInterval_CD8231FC_A4B8_1214_2824_32F03F9CED7A] [int] NULL,
	[Post_ExceptionRateMonitorInterval_CD8231FC_A4B8_1214_2824_32F03F9CED7A] [int] NULL,
	[Pre_PerformanceThreshold_FBA7846D_1493_7699_109E_39FE18DB9E6E] [int] NULL,
	[Post_PerformanceThreshold_FBA7846D_1493_7699_109E_39FE18DB9E6E] [int] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_ExceptionRateMonitorEnabled_20F36EB7_7465_444F_BA09_DDE1E7BFB182] [bit] NULL,
	[Post_ExceptionRateMonitorEnabled_20F36EB7_7465_444F_BA09_DDE1E7BFB182] [bit] NULL,
	[Pre_AvgRequestTimeMonitorInterval_4F3C422D_EB90_9804_B5A7_EAC4F5F3F606] [int] NULL,
	[Post_AvgRequestTimeMonitorInterval_4F3C422D_EB90_9804_B5A7_EAC4F5F3F606] [int] NULL,
	[Pre_ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1] [float] NULL,
	[Post_ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1] [float] NULL,
	[Pre_PerformanceRateMonitorEnabled_FB710B57_5DCD_C59B_B246_983FE81921E9] [bit] NULL,
	[Post_PerformanceRateMonitorEnabled_FB710B57_5DCD_C59B_B246_983FE81921E9] [bit] NULL,
	[Pre_AvgRequestTimeMonitorThreshold_B28E9358_78A8_9F3D_CF7B_C8A98149D7D2] [int] NULL,
	[Post_AvgRequestTimeMonitorThreshold_B28E9358_78A8_9F3D_CF7B_C8A98149D7D2] [int] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Post_SensitivityThreshold_F5F8851F_DF5F_BD57_59C3_0CDCF20DFDAB]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928]>=(0) AND [Post_PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorInterval_92B088DF_EC3C_042D_402E_15A1EC15EF5F]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorInterval_CD8231FC_A4B8_1214_2824_32F03F9CED7A]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceThreshold_FBA7846D_1493_7699_109E_39FE18DB9E6E]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorInterval_4F3C422D_EB90_9804_B5A7_EAC4F5F3F606]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1]>=(0) AND [Post_ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorThreshold_B28E9358_78A8_9F3D_CF7B_C8A98149D7D2]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorInterval_4F3C422D_EB90_9804_B5A7_EAC4F5F3F606]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorThreshold_B28E9358_78A8_9F3D_CF7B_C8A98149D7D2]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorInterval_CD8231FC_A4B8_1214_2824_32F03F9CED7A]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1]>=(0) AND [Pre_ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928]>=(0) AND [Pre_PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorInterval_92B088DF_EC3C_042D_402E_15A1EC15EF5F]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceThreshold_FBA7846D_1493_7699_109E_39FE18DB9E6E]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$WebPageTransactionRole_Log]  WITH CHECK ADD CHECK  (([Pre_SensitivityThreshold_F5F8851F_DF5F_BD57_59C3_0CDCF20DFDAB]>=(0)))
GO
