USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$IPv6]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$IPv6](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Address_F7BF4190_95E0_AB1A_3983_68949A89C486] [nvarchar](256) NULL,
	[Description_6268DD26_79FE_55AC_37C4_747A109FA087] [nvarchar](256) NULL,
	[PrefixLength_E5045876_9C6B_FDC1_698B_CC607622AE7B] [int] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Key_E5006F89_0A34_4C15_9347_822001C413F3] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$IPv6] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$IPv6] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
