USE [OperationsManager]
GO
/****** Object:  View [dbo].[ViewTypeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewTypeView] AS
    SELECT [ViewType].[ViewTypeId] AS Id, 
           [ViewType].[ViewTypeName] AS Name, 
           [ViewType].[ManagementPackId] AS ManagementPackId, 
           [ViewType].[AssemblyName] AS ImplementationAssembly,
           [ViewType].[AssemblyPath] AS ImplementationType,
           [ViewType].[ConfigurationXSD] AS ConfigurationXsd,
           [ViewType].[ViewTypeAccessibility] AS Accessibility,
           [ViewType].TimeAdded, 
           [ViewType].LastModified, 
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[ViewType] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [ViewType].[ViewTypeId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [ViewType].[ViewTypeId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [ViewType].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
