USE [OperationsManager]
GO
/****** Object:  View [dbo].[ViewsView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewsView] AS
    SELECT [Views].[ViewId] AS Id, 
           [Views].[ViewTypeId] AS MonitoringViewTypeId, 
           [Views].[ManagementPackId] AS ManagementPackId, 
           [Views].[ViewName] AS Name, 
           [Views].[ViewEnabled] AS Enabled, 
           [Views].[ViewCategory] AS Category, 
           [Views].[TargetManagedTypeId] AS TargetMonitoringClassId, 
           [Views].[ConfigurationXML] AS ConfigurationXml,
           [Views].[ViewAccessibility] AS Accessibility,
           [Views].[ViewVisible] AS Visible,
           [Views].TimeAdded, 
           [Views].LastModified, 
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.Views  LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = Views.ViewId AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = Views.ViewId AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Views].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	 
GO
