USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Computer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Computer](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[OrganizationalUnit] [nvarchar](256) NULL,
	[ActiveDirectoryObjectSid] [nvarchar](256) NULL,
	[PhysicalProcessors] [int] NULL,
	[NetworkName] [nvarchar](256) NULL,
	[IPAddress] [nvarchar](256) NULL,
	[ForestDnsName] [nvarchar](256) NULL,
	[NetbiosComputerName] [nvarchar](256) NULL,
	[VirtualMachineName] [nvarchar](256) NULL,
	[LastInventoryDate] [datetime] NULL,
	[HostServerName] [nvarchar](256) NULL,
	[IsVirtualMachine] [bit] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[NetbiosDomainName] [nvarchar](256) NULL,
	[LogicalProcessors] [int] NULL,
	[DNSName] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[DomainDnsName] [nvarchar](256) NULL,
	[ActiveDirectorySite] [nvarchar](256) NULL,
	[PrincipalName] [nvarchar](256) NOT NULL,
	[OffsetInMinuteFromGreenwichTime] [int] NULL,
 CONSTRAINT [PK_MT_Computer] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Computer] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
