USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FolderStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FolderStaging](
	[FolderId] [uniqueidentifier] NOT NULL,
	[FolderName] [nvarchar](256) NOT NULL,
	[ParentFolderId] [uniqueidentifier] NULL,
	[IsSealed] [bit] NOT NULL,
	[FolderAccessibility] [tinyint] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
