USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AemRelationship]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AemRelationship](
	[SourceEntityId] [uniqueidentifier] NOT NULL,
	[TargetEntityId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [tinyint] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[EntityTypeId] [tinyint] NOT NULL,
 CONSTRAINT [PK_AemRelationship] PRIMARY KEY NONCLUSTERED 
(
	[SourceEntityId] ASC,
	[RelationshipTypeId] ASC,
	[TargetEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AemRelationship] ADD  CONSTRAINT [DF_AemRelationship_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[AemRelationship] ADD  CONSTRAINT [DF_AemRelationship_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[AemRelationship] ADD  DEFAULT ((-1)) FOR [EntityTypeId]
GO
