USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$CsmWebPageTransaction]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$CsmWebPageTransaction] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvgRequestTimeMonitorInterval_2F4143D5_B14D_7EAB_DB19_7DB638EEACC9], T1.[AvgRequestTimeMonitorThreshold_0122E3E9_2DD9_D6C5_4BC0_DBBA9754A812], T1.[CounterInstance_28E4ED4C_80E0_B59C_D02D_EE158F5F957B], T1.[ExceptionRateMonitorInterval_46F97524_839B_E6ED_D2E5_ADE2C79AFCA4], T1.[ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PageLoadThreshold_35292816_E6F7_A5A6_8FAD_685FD12344E2], T1.[PageName_150FF8E1_4419_205B_D9F6_A08B25A575CD], T1.[PerformanceRateMonitorInterval_2DD5A9EF_A323_321A_6EE5_21AFF84A05A7], T1.[PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA], T1.[SensitivityThreshold_431EE837_76A5_1FB2_05F2_CE0DF0B14C7A], T1.[TransactionName_B74261D5_A2E0_957B_CE70_07B9D5DF3426], T2.[ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A] AS [ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A], T2.[IISApplicationPath_733223B8_D8C1_E9B1_9BBC_3DCAF7166CEF] AS [IISApplicationPath_733223B8_D8C1_E9B1_9BBC_3DCAF7166CEF], T4.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'C3656E13-E6CA-F8A2-53FC-497C0C372ECC'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = '4C45EDC3-51B9-7022-5AE8-1FC8B05292FF'  AND RT3.TargetEntityId = T2.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$Apm$CsmAgent] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT4 ON (RT4.RelationshipTypeId = '8B132FB6-AAC8-BFE9-3E37-4375F8B6DFAB'  AND RT4.TargetEntityId = T3.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T4 ON RT4.SourceEntityId = T4.BaseManagedEntityId
GO
