USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ServiceLevelObjective]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceLevelObjective](
	[ServiceLevelObjectiveId] [uniqueidentifier] NOT NULL,
	[ServiceLevelObjectiveName] [nvarchar](256) NOT NULL,
	[ServiceLevelObjectiveType] [tinyint] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ConfigurationGroupId] [uniqueidentifier] NOT NULL,
	[Target] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[ConfigurationXML] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ServiceLevelObjective] PRIMARY KEY CLUSTERED 
(
	[ServiceLevelObjectiveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceLevelObjective] ADD  CONSTRAINT [DF_ServiceLevelObjective_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ServiceLevelObjective] ADD  CONSTRAINT [DF_ServiceLevelObjective_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ServiceLevelObjective]  WITH CHECK ADD  CONSTRAINT [FK_ServiceLevelObjective_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceLevelObjective] CHECK CONSTRAINT [FK_ServiceLevelObjective_ManagementPack]
GO
