USE [OperationsManager]
GO
/****** Object:  Table [dbo].[StringResourceStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StringResourceStaging](
	[StringResourceId] [uniqueidentifier] NOT NULL,
	[StringResourceName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
