USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedTypeSearchPropertyStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTypeSearchPropertyStaging](
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[FilterName] [nvarchar](256) NULL
) ON [PRIMARY]
GO
