USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$OperatingSystem$Mobile]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$OperatingSystem$Mobile] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Language_7EC34044_AB9D_B408_4A79_B7BB3D32734F], T1.[Name_8E54E4DE_CCA3_1356_0295_A72F9A2D3990], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Publisher_0925D731_1114_7EAD_30A6_E6D026518D97], T1.[Version_0B0671B2_5477_68B0_1C3B_111E091C15AD] FROM [dbo].[MT_System$OperatingSystem$Mobile] T1
GO
