USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PerformanceData_25]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceData_25](
	[PerformanceDataId] [uniqueidentifier] NOT NULL,
	[PerformanceSourceInternalId] [int] NOT NULL,
	[SampleValue] [float] NULL,
	[TimeSampled] [datetime] NOT NULL,
	[TimeAdded] [datetime] NOT NULL
) ON [PRIMARY]
GO
