USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$NetworkDevice]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$NetworkDevice] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[CommunityString_9F1F52FF_FAEE_CC65_7C77_C6FD90B58366], T1.[IPAddress_90FC0471_EFF4_5488_6759_333DC02EA562], T1.[Name_605BC9B8_B2F2_1B02_F1E2_44B4FCA7E4A7], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[SystemContact_376E002A_D4C4_DB5E_5C5C_A6BCC35E8679], T1.[SystemDescription_2319B39F_0E57_00FF_DDF6_1B941576EEEE], T1.[SystemLocation_D8B615DC_D28B_8C8C_E07D_193E17E9F915], T1.[SystemOID_420E84DF_C1D2_459E_E21B_8642EE550F30], T1.[Version_52526B66_E90C_9D7A_CA19_546155316FFE] FROM [dbo].[MT_Microsoft$SystemCenter$NetworkDevice] T1
GO
