USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Server$6$2$DiskPartition_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$DiskPartition_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_BlockSize_5F2753D3_1BA5_D0A5_0937_B86316F9B28D] [nvarchar](256) NULL,
	[Post_BlockSize_5F2753D3_1BA5_D0A5_0937_B86316F9B28D] [nvarchar](256) NULL,
	[Pre_PrimaryPartition_503C0881_9221_BC4C_26C5_15B94FE8804A] [nvarchar](256) NULL,
	[Post_PrimaryPartition_503C0881_9221_BC4C_26C5_15B94FE8804A] [nvarchar](256) NULL,
	[Pre_Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87] [nvarchar](256) NULL,
	[Post_Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87] [nvarchar](256) NULL,
	[Pre_Bootable_64E7330B_3BD4_503C_75D3_87FFAE858FBA] [nvarchar](256) NULL,
	[Post_Bootable_64E7330B_3BD4_503C_75D3_87FFAE858FBA] [nvarchar](256) NULL,
	[Pre_DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4] [nvarchar](256) NULL,
	[Post_DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Type_DF3E08FA_33DE_C521_4F94_CEB60130835A] [nvarchar](256) NULL,
	[Post_Type_DF3E08FA_33DE_C521_4F94_CEB60130835A] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2] [nvarchar](256) NULL,
	[Post_Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2] [nvarchar](256) NULL,
	[Pre_Size_07E71C78_0D0C_E26E_9931_9E0AFA10F039] [nvarchar](256) NULL,
	[Post_Size_07E71C78_0D0C_E26E_9931_9E0AFA10F039] [nvarchar](256) NULL,
	[Pre_DiskIndex_CF1EDAA5_BDBE_6CCE_4274_DC852AAE222E] [nvarchar](256) NULL,
	[Post_DiskIndex_CF1EDAA5_BDBE_6CCE_4274_DC852AAE222E] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Server$6$2$DiskPartition_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$DiskPartition_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$DiskPartition_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
