USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$HSRPEndpoint_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$HSRPEndpoint_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_InterfaceNumber_7C34F938_7620_A260_5CFA_6E2946E5547C] [nvarchar](38) NULL,
	[Post_InterfaceNumber_7C34F938_7620_A260_5CFA_6E2946E5547C] [nvarchar](38) NULL,
	[Pre_Description_6268DD26_79FE_55AC_37C4_747A109FA087] [nvarchar](256) NULL,
	[Post_Description_6268DD26_79FE_55AC_37C4_747A109FA087] [nvarchar](256) NULL,
	[Pre_Priority_0C0BCFBF_8269_3626_90E9_1591F5467501] [int] NULL,
	[Post_Priority_0C0BCFBF_8269_3626_90E9_1591F5467501] [int] NULL,
	[Pre_GroupNumber_77816C9B_7DA1_6AF5_F223_C1D5200CE1C4] [nvarchar](256) NULL,
	[Post_GroupNumber_77816C9B_7DA1_6AF5_F223_C1D5200CE1C4] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_HSRPEndpointKey_A49CD248_0423_A8F4_4169_EB1D93DC2688] [nvarchar](256) NULL,
	[Post_HSRPEndpointKey_A49CD248_0423_A8F4_4169_EB1D93DC2688] [nvarchar](256) NULL,
	[Pre_Index_E79191D4_99C4_2EF7_60D1_5FA96BA5CB45] [nvarchar](256) NULL,
	[Post_Index_E79191D4_99C4_2EF7_60D1_5FA96BA5CB45] [nvarchar](256) NULL,
	[Pre_Key_E5006F89_0A34_4C15_9347_822001C413F3] [nvarchar](256) NULL,
	[Post_Key_E5006F89_0A34_4C15_9347_822001C413F3] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$HSRPEndpoint_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$HSRPEndpoint_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$HSRPEndpoint_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
