USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Monitor]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monitor](
	[MonitorId] [uniqueidentifier] NOT NULL,
	[MonitorTypeId] [uniqueidentifier] NULL,
	[ParentMonitorId] [uniqueidentifier] NULL,
	[IsUnitMonitor] [bit] NOT NULL,
	[IsAggregateMonitor] [bit] NOT NULL,
	[IsDependencyMonitor] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[MonitorName] [nvarchar](256) NOT NULL,
	[MonitorAccessibility] [tinyint] NOT NULL,
	[TargetManagedEntityType] [uniqueidentifier] NOT NULL,
	[MonitorEnabled] [tinyint] NOT NULL,
	[MonitorAlgorithm] [nvarchar](256) NULL,
	[AlgorithmParameter] [nvarchar](255) NULL,
	[RelationshipTypeId] [uniqueidentifier] NULL,
	[MemberMonitorId] [uniqueidentifier] NULL,
	[ConfigurationXML] [nvarchar](max) NULL,
	[MonitorCategory] [nvarchar](256) NULL,
	[MonitorPriority] [tinyint] NOT NULL,
	[MonitorRemotable] [bit] NOT NULL,
	[AlertOnState] [tinyint] NULL,
	[AlertAutoResolve] [bit] NULL,
	[AlertPriority] [tinyint] NULL,
	[AlertSeverity] [tinyint] NULL,
	[RunAs] [uniqueidentifier] NULL,
	[MemberInMaintenance] [tinyint] NULL,
	[MemberUnavailable] [tinyint] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[AlertMessage] [uniqueidentifier] NULL,
	[AlertParameter1] [nvarchar](255) NULL,
	[AlertParameter2] [nvarchar](255) NULL,
	[AlertParameter3] [nvarchar](255) NULL,
	[AlertParameter4] [nvarchar](255) NULL,
	[AlertParameter5] [nvarchar](255) NULL,
	[AlertParameter6] [nvarchar](255) NULL,
	[AlertParameter7] [nvarchar](255) NULL,
	[AlertParameter8] [nvarchar](255) NULL,
	[AlertParameter9] [nvarchar](255) NULL,
	[AlertParameter10] [nvarchar](255) NULL,
	[ConfirmDelivery] [bit] NULL,
 CONSTRAINT [PK_Monitor] PRIMARY KEY CLUSTERED 
(
	[MonitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Monitor] ADD  CONSTRAINT [DF_MonitorPriority]  DEFAULT ((1)) FOR [MonitorPriority]
GO
ALTER TABLE [dbo].[Monitor] ADD  CONSTRAINT [DF_MonitorRemotable]  DEFAULT ((1)) FOR [MonitorRemotable]
GO
ALTER TABLE [dbo].[Monitor] ADD  CONSTRAINT [DF_Monitor_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Monitor] ADD  CONSTRAINT [DF_Monitor_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Monitor]  WITH NOCHECK ADD  CONSTRAINT [FK_Monitor_ManagedType] FOREIGN KEY([TargetManagedEntityType])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[Monitor] CHECK CONSTRAINT [FK_Monitor_ManagedType]
GO
ALTER TABLE [dbo].[Monitor]  WITH CHECK ADD  CONSTRAINT [FK_Monitor_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Monitor] CHECK CONSTRAINT [FK_Monitor_ManagementPack]
GO
ALTER TABLE [dbo].[Monitor]  WITH CHECK ADD  CONSTRAINT [FK_Monitor_Monitor] FOREIGN KEY([ParentMonitorId])
REFERENCES [dbo].[Monitor] ([MonitorId])
GO
ALTER TABLE [dbo].[Monitor] CHECK CONSTRAINT [FK_Monitor_Monitor]
GO
ALTER TABLE [dbo].[Monitor]  WITH CHECK ADD  CONSTRAINT [FK_Monitor_Monitor2] FOREIGN KEY([MemberMonitorId])
REFERENCES [dbo].[Monitor] ([MonitorId])
GO
ALTER TABLE [dbo].[Monitor] CHECK CONSTRAINT [FK_Monitor_Monitor2]
GO
ALTER TABLE [dbo].[Monitor]  WITH CHECK ADD  CONSTRAINT [FK_Monitor_MonitorType] FOREIGN KEY([MonitorTypeId])
REFERENCES [dbo].[MonitorType] ([MonitorTypeId])
GO
ALTER TABLE [dbo].[Monitor] CHECK CONSTRAINT [FK_Monitor_MonitorType]
GO
ALTER TABLE [dbo].[Monitor]  WITH CHECK ADD  CONSTRAINT [FK_Monitor_RunAs] FOREIGN KEY([RunAs])
REFERENCES [dbo].[SecureReference] ([SecureReferenceId])
GO
ALTER TABLE [dbo].[Monitor] CHECK CONSTRAINT [FK_Monitor_RunAs]
GO
ALTER TABLE [dbo].[Monitor]  WITH CHECK ADD  CONSTRAINT [CK_Monitor] CHECK  (([IsUnitMonitor]=(1) AND [MonitorTypeId] IS NOT NULL AND [MonitorAlgorithm] IS NULL AND [RelationshipTypeId] IS NULL OR [IsAggregateMonitor]=(1) AND [MonitorTypeId] IS NULL AND [MonitorAlgorithm] IS NOT NULL AND [RelationshipTypeId] IS NULL OR [IsDependencyMonitor]=(1) AND [MonitorTypeId] IS NULL AND [MonitorAlgorithm] IS NOT NULL AND [RelationshipTypeId] IS NOT NULL AND [MemberMonitorId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Monitor] CHECK CONSTRAINT [CK_Monitor]
GO
