USE [OperationsManager]
GO
/****** Object:  Table [dbo].[TaskStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStaging](
	[TaskId] [uniqueidentifier] NOT NULL,
	[TaskName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[TargetManagedEntityType] [uniqueidentifier] NOT NULL,
	[TaskCategory] [nvarchar](100) NOT NULL,
	[TaskAccessibility] [tinyint] NOT NULL,
	[TaskEnabled] [bit] NOT NULL,
	[RunLocation] [uniqueidentifier] NULL,
	[CanSuspend] [bit] NULL,
	[CanCancel] [bit] NULL,
	[RunAs] [uniqueidentifier] NULL,
	[TimeOut] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TaskRemotable] [bit] NOT NULL,
 CONSTRAINT [PK_TaskStaging] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
