USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Views]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Views](
	[ViewId] [uniqueidentifier] NOT NULL,
	[ViewTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ViewName] [nvarchar](256) NOT NULL,
	[ViewEnabled] [bit] NOT NULL,
	[ViewCategory] [nvarchar](100) NOT NULL,
	[ViewAccessibility] [tinyint] NOT NULL,
	[ViewUserId] [nvarchar](200) NULL,
	[TargetManagedTypeId] [uniqueidentifier] NULL,
	[ViewVisible] [bit] NOT NULL,
	[ConfigurationXML] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Views] PRIMARY KEY CLUSTERED 
(
	[ViewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Views] ADD  CONSTRAINT [DF_Views_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Views] ADD  CONSTRAINT [DF_Views_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Views]  WITH NOCHECK ADD  CONSTRAINT [FK_Views_ManagedType] FOREIGN KEY([TargetManagedTypeId])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[Views] CHECK CONSTRAINT [FK_Views_ManagedType]
GO
ALTER TABLE [dbo].[Views]  WITH CHECK ADD  CONSTRAINT [FK_Views_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Views] CHECK CONSTRAINT [FK_Views_ManagementPack]
GO
