USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UIPageReferenceStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UIPageReferenceStaging](
	[UIPageReferenceId] [uniqueidentifier] NOT NULL,
	[UIPageReferenceName] [nvarchar](256) NOT NULL,
	[UIPageSetId] [uniqueidentifier] NOT NULL,
	[UIPageId] [uniqueidentifier] NOT NULL,
	[UIPageOrder] [int] NOT NULL,
	[TitleId] [uniqueidentifier] NULL,
	[TitleName] [nvarchar](256) NULL,
	[SubTitleId] [uniqueidentifier] NULL,
	[SubTitleName] [nvarchar](256) NULL,
	[TabId] [uniqueidentifier] NULL,
	[TabName] [nvarchar](256) NULL,
	[InputParameters] [nvarchar](max) NULL,
	[InputTransform] [nvarchar](max) NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[InternalOrder] [int] NULL,
	[Comment] [nvarchar](255) NULL,
	[Usage] [tinyint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
