USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$WebApplicationSolutions$WebTestGroupByLocation]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$WebApplicationSolutions$WebTestGroupByLocation] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[LocationId_3A29EFE0_35C8_89DC_30AA_BA54E1BA908F], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T2.[InstanceId_00C7EB1B_4714_DBA1_A645_38B0F47178E0] AS [InstanceId_00C7EB1B_4714_DBA1_A645_38B0F47178E0] FROM [dbo].[MT_Microsoft$SystemCenter$WebApplicationSolutions$WebTestGroupByLocation] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'C1BD6032-1349-6AD4-C137-E95E2651DC35'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$WebApplicationSolutions$WebTestGrouperByLocation] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
