USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Cluster]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Cluster](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[LowestVersion_05358921_ACBD_9E42_16C7_266957EE44F2] [nvarchar](256) NULL,
	[HighestVersion_8CD727F8_8EB6_97DC_00D0_8720EA3BC20A] [nvarchar](256) NULL,
	[IsRunningMixedVersion_DCE17559_FF03_0622_2789_2A588F5142D7] [bit] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[OSVersion_3EA023B7_F70D_3284_71CE_6B287C837724] [nvarchar](256) NULL,
	[VendorId_DEBEA97A_8F13_7D76_4E90_058CC52FB62A] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Name_2AAEC7A7_E01E_B420_2933_FFCB7C8DCD07] [nvarchar](256) NOT NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Cluster] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$Cluster] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
