USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$HealthServiceSecondaryCommunication]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$HealthServiceSecondaryCommunication](
	[RelationshipId] [uniqueidentifier] NOT NULL,
	[HeartbeatType_20CEFE03_897A_773D_37A4_ED29D781C3B4] [int] NULL,
	[CanEstablishConnectionTo_55FCC078_F8C5_B3E6_2A0D_8296E5A2405A] [bit] NULL,
	[NetworkTimeout_CEEF670F_E305_6E78_0982_7E916F3C3961] [int] NULL,
	[MaxBytesPerSecondToSend_C4A8DD09_D600_D29E_5C4B_D62D4D10EFA1] [int] NULL,
	[OrderOfPreference_57036695_96A4_CD5A_FC64_4628D7040C53] [int] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$HealthServiceSecondaryCommunication] PRIMARY KEY CLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
