USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ViewTypeSchemaReference]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewTypeSchemaReference](
	[ViewTypeId] [uniqueidentifier] NOT NULL,
	[SchemaTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ViewTypeSchemaReference] PRIMARY KEY CLUSTERED 
(
	[ViewTypeId] ASC,
	[SchemaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ViewTypeSchemaReference] ADD  CONSTRAINT [DF_ViewTypeSchemaReference_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ViewTypeSchemaReference] ADD  CONSTRAINT [DF_ViewTypeSchemaReference_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ViewTypeSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_ViewTypeSchemaReference_SchemaType] FOREIGN KEY([SchemaTypeId])
REFERENCES [dbo].[SchemaType] ([SchemaTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ViewTypeSchemaReference] CHECK CONSTRAINT [FK_ViewTypeSchemaReference_SchemaType]
GO
ALTER TABLE [dbo].[ViewTypeSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_ViewTypeSchemaReference_ViewType] FOREIGN KEY([ViewTypeId])
REFERENCES [dbo].[ViewType] ([ViewTypeId])
GO
ALTER TABLE [dbo].[ViewTypeSchemaReference] CHECK CONSTRAINT [FK_ViewTypeSchemaReference_ViewType]
GO
