USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$DataWarehouse]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$DataWarehouse] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], COALESCE (T1.[MainDatabaseName_F46548FC_0DFA_877A_A52C_BB8731EBD70D], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'DEA1260E-5E07-656C-33FE-CE976EC9C8AF')) AS [MainDatabaseName_F46548FC_0DFA_877A_A52C_BB8731EBD70D], COALESCE (T1.[MainDatabaseServerName_2C77AA48_DB0A_5D69_F8FF_20E48F3AED0F], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'DDF89D02-F634-EED5-BB5D-28D05D96B098')) AS [MainDatabaseServerName_2C77AA48_DB0A_5D69_F8FF_20E48F3AED0F], T1.[MyReportsFolderName_97B0106C_C810_25F3_A4F2_DD6C67CB443D], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], COALESCE (T1.[ReportingServerUrl_0A962976_6409_BB6D_3276_E84BD95B0BAC], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '8033F6CD-5C04-8771-BEDA-EE46D3FA660C')) AS [ReportingServerUrl_0A962976_6409_BB6D_3276_E84BD95B0BAC], T1.[ReportRootFolderName_935E6ACF_5C4F_D326_1742_EC0B385A7995] FROM [dbo].[MT_Microsoft$SystemCenter$DataWarehouse] T1 RIGHT OUTER JOIN dbo.BaseManagedEntity BME ON BME.BaseManagedEntityId = T1.BaseManagedEntityId WHERE BME.IsDeleted = 0 AND BME.BaseManagedTypeId = '16781F33-F72D-033C-1DF4-65A2AFF32CA3'
GO
