USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Advisor$Settings]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Advisor$Settings] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[ConfigServiceEndpoint_3EEF0E3D_26E9_7EA4_B087_978703FD85D6], T1.[CustomerIdentifier_A2D49551_704B_133C_FC3F_197C3E4758F4], T1.[DataCollectorServiceEndpoint_81B24804_75BB_8BB6_2296_4C735444356B], T1.[DataProviderServiceEndpoint_32961C92_E75F_1B7C_22E0_6650768A96EE], T1.[GatewayIdentifier_89CB7D62_3C09_B8E4_259D_628E4DBC4157], T1.[IdentityProviderServiceEndpoint_CF02BFF1_66F7_9AF1_9019_A768A56E2BE4], T1.[IdentityServiceEndpoint_58B6EAD2_1192_2605_C65E_053949DFD30E], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[OmsBladeLink_66D20D3C_F33E_C8D6_FFDF_00BEB62B848D], T1.[PortalLink_6979E0A2_BB24_4FFE_C88C_69FBDDCA9C9C], T1.[WebProxyAddress_1756CB83_B3EE_BBFC_4A80_5AA33B2779A5], T1.[WebSiteBaseUrl_32C9E463_2A17_0871_86D6_CBAE173729AB] FROM [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings] T1 RIGHT OUTER JOIN dbo.BaseManagedEntity BME ON BME.BaseManagedEntityId = T1.BaseManagedEntityId WHERE BME.IsDeleted = 0 AND BME.BaseManagedTypeId = '2808E8FE-E2B9-B0DB-432B-B3173DAE94D9'
GO
