USE [OperationsManager]
GO
/****** Object:  View [dbo].[ManagedEntityGenericView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ManagedEntityGenericView] AS
    SELECT 
        B.[BaseManagedEntityId] AS [Id],
        B.[FullName],
        B.[Name],
        B.[Path],
        B.[DisplayName],
        CONVERT(bit, 1) AS [IsManaged],
        B.[IsDeleted] AS [IsDeleted],
        B.[LastModified], 
        T.[TypedManagedEntityId], 
        T.[ManagedTypeId] AS [MonitoringClassId],
        T.[IsDeleted] AS [TypedMonitoringObjectIsDeleted],
        S.[HealthState],
        OS.[MonitorOperationalStateId] AS [OperationalState],
        S.[LastModified] AS [StateLastModified],       
        A.[IsAvailable],
        A.[AvailabilityLastModified],
        MM.[IsInMaintenanceMode] AS [InMaintenanceMode],
        MM.[LastModified] AS [MaintenanceModeLastModified],
        B.[BaseManagedEntityId],
        B.[TimeAdded],
        B.[LastModifiedBy]               
    FROM dbo.[BaseManagedEntity] B WITH(NOLOCK)
    JOIN dbo.[TypedManagedEntity] T WITH(NOLOCK)
        ON B.[BaseManagedEntityId] = T.[BaseManagedEntityId]
    JOIN dbo.ManagedEntityAvailabilityView A 
        ON B.[BaseManagedEntityId] = A.[BaseManagedEntityId]
    LEFT OUTER JOIN dbo.[State] S WITH(NOLOCK)
        ON B.[BaseManagedEntityId] = S.[BaseManagedEntityId] AND S.[MonitorId] = dbo.fn_ManagedTypeId_SystemHealthEntityState()
    LEFT JOIN dbo.MonitorOperationalState AS OS WITH(NOLOCK)
        ON OS.MonitorId = S.[MonitorId]
        AND OS.HealthState = S.HealthState
    LEFT OUTER JOIN dbo.[MaintenanceMode] MM WITH(NOLOCK)
        ON B.[BaseManagedEntityId] = MM.[BaseManagedEntityId]
    WHERE B.[IsDeleted] = 0 AND T.[IsDeleted] = 0
GO
