USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleConsoleTaskView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleConsoleTaskView] AS
    SELECT [UserRoleId],
           ISNULL([ConsoleTaskId],'563C11F8-3EC9-4A92-A89F-DF7B7A533D69') AS [ConsoleTaskId],
           [ScopeId]
    FROM dbo.UserRoleConsoleTask
GO
