USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$PendingNetworkDevice]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$PendingNetworkDevice] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Reason_C16B8560_1296_B7CF_9A6E_F25F85C214B9], T1.[Status_E22DB410_02C9_9D50_86D3_FE6B9293BB83], T1.[SystemName_0E1990B8_3654_4671_CE81_B1FC4646EE75] FROM [dbo].[MT_System$NetworkManagement$PendingNetworkDevice] T1
GO
