USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DiscoveryClass]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryClass](
	[DiscoveryClassId] [uniqueidentifier] NOT NULL,
	[DiscoveryId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DiscoveryClass] PRIMARY KEY CLUSTERED 
(
	[DiscoveryClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveryClass] ADD  CONSTRAINT [DF_DiscoveryClass_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DiscoveryClass] ADD  CONSTRAINT [DF_DiscoveryClass_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
