USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_UseDefaultObserver_4D15741A_DCDD_D148_8571_1CA720ECEF01] [bit] NULL,
	[Post_UseDefaultObserver_4D15741A_DCDD_D148_8571_1CA720ECEF01] [bit] NULL,
	[Pre_Description_7E313F72_40AA_9270_024A_88281E562876] [nvarchar](4000) NULL,
	[Post_Description_7E313F72_40AA_9270_024A_88281E562876] [nvarchar](4000) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_MembershipVersion_55C11DF7_009F_8DA0_E040_AE978788F0A1] [int] NULL,
	[Post_MembershipVersion_55C11DF7_009F_8DA0_E040_AE978788F0A1] [int] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_IsDynamic_BBAE5CB6_FCE0_8CA7_507C_B698E88F4CB8] [bit] NULL,
	[Post_IsDynamic_BBAE5CB6_FCE0_8CA7_507C_B698E88F4CB8] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$NotificationsResourcePool_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log] ADD  DEFAULT ((1)) FOR [Pre_UseDefaultObserver_4D15741A_DCDD_D148_8571_1CA720ECEF01]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log] ADD  DEFAULT ((1)) FOR [Post_UseDefaultObserver_4D15741A_DCDD_D148_8571_1CA720ECEF01]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log] ADD  DEFAULT ((0)) FOR [Pre_MembershipVersion_55C11DF7_009F_8DA0_E040_AE978788F0A1]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log] ADD  DEFAULT ((0)) FOR [Post_MembershipVersion_55C11DF7_009F_8DA0_E040_AE978788F0A1]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log] ADD  DEFAULT ((1)) FOR [Pre_IsDynamic_BBAE5CB6_FCE0_8CA7_507C_B698E88F4CB8]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationsResourcePool_Log] ADD  DEFAULT ((1)) FOR [Post_IsDynamic_BBAE5CB6_FCE0_8CA7_507C_B698E88F4CB8]
GO
