USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentTypes]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentTypes](
	[ComponentTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentTypeAccessibility] [tinyint] NOT NULL,
	[ComponentTypeName] [nvarchar](256) NOT NULL,
	[ComponentTypeBase] [uniqueidentifier] NULL,
	[ComponentTypeTarget] [nvarchar](max) NULL,
	[ComponentTypeLifetime] [nvarchar](256) NULL,
	[ComponentTypeXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ComponentTypes] PRIMARY KEY CLUSTERED 
(
	[ComponentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComponentTypes] ADD  CONSTRAINT [DF_ComponentTypes_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ComponentTypes] ADD  CONSTRAINT [DF_ComponentTypes_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ComponentTypes]  WITH CHECK ADD  CONSTRAINT [FK_ComponentTypes_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComponentTypes] CHECK CONSTRAINT [FK_ComponentTypes_ManagementPack]
GO
