USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CausalityRuleStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CausalityRuleStaging](
	[CausalityRuleId] [uniqueidentifier] NOT NULL,
	[CausalityRuleName] [nvarchar](256) NOT NULL,
	[SymptomId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[CausalProbability] [int] NOT NULL,
	[CausedBy] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
