USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ViewType]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewType](
	[ViewTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ViewTypeName] [nvarchar](256) NOT NULL,
	[ViewTypeAccessibility] [tinyint] NOT NULL,
	[AssemblyName] [uniqueidentifier] NOT NULL,
	[AssemblyPath] [nvarchar](400) NULL,
	[ConfigurationXSD] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ViewType] PRIMARY KEY CLUSTERED 
(
	[ViewTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ViewType] ADD  CONSTRAINT [DF_ViewType_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ViewType] ADD  CONSTRAINT [DF_ViewType_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ViewType]  WITH CHECK ADD  CONSTRAINT [FK_ViewType_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ViewType] CHECK CONSTRAINT [FK_ViewType_ManagementPack]
GO
