USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_GroomingConfiguration]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_GroomingConfiguration](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[RetentionPeriodInMinutes] [int] NOT NULL,
	[StoredProcedure] [nvarchar](256) NOT NULL,
	[Criteria] [nvarchar](max) NULL,
	[IsInternal] [bit] NOT NULL,
	[TargetId] [uniqueidentifier] NOT NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[BatchSize] [int] NOT NULL,
	[Category] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MT_GroomingConfiguration] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
