USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$SynOpticsLS_Fault_Port_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$SynOpticsLS_Fault_Port_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_SynOpticsLSFaultIndex_9181D7B5_1E9A_7AC4_6C45_4240CB9A7B3A] [nvarchar](256) NULL,
	[Post_SynOpticsLSFaultIndex_9181D7B5_1E9A_7AC4_6C45_4240CB9A7B3A] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$SynOpticsLS_Fault_Port_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
