USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CausalityRule]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CausalityRule](
	[CausalityRuleId] [uniqueidentifier] NOT NULL,
	[CausalityRuleName] [nvarchar](256) NOT NULL,
	[SymptomId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[CausalProbability] [int] NOT NULL,
	[CausedBy] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CausalityRule] ADD  CONSTRAINT [DF_CausalityRule_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[CausalityRule] ADD  CONSTRAINT [DF_CausalityRule_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[CausalityRule]  WITH CHECK ADD  CONSTRAINT [FK_CausalityRule_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CausalityRule] CHECK CONSTRAINT [FK_CausalityRule_ManagementPack]
GO
