USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$ADAssignmentResourcePoolWatcher]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$ADAssignmentResourcePoolWatcher] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PoolId_BDE65055_789F_4068_1AE1_74B402180316], T1.[PoolName_700660B2_E4A5_781F_93A3_99BB31E40920] FROM [dbo].[MT_Microsoft$SystemCenter$ADAssignmentResourcePoolWatcher] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'F1F977D6-0239-F1F9-EB15-1264D8D5D38E'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ADAssignmentResourcePoolWatchersGroup] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
