USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$WebApplicationComponent]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$WebApplicationComponent] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[ApplicationName_B7DCDE0E_1977_DA53_AD8C_93538540B654], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[IISApplicationPath_7AA27C56_F75C_358E_DF4C_BA97C7C31C37], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T2.[Id_EE996801_C54E_6A13_0F3A_584738E7FB06] AS [Id_EE996801_C54E_6A13_0F3A_584738E7FB06] FROM [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$WebApplicationComponent] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'FE3DAFF5-5309-1F77-311E-7841580C99BA'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
