USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ConfigurationGroupStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigurationGroupStaging](
	[ConfigurationGroupId] [uniqueidentifier] NOT NULL,
	[ConfigurationGroupName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Target] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Context] [uniqueidentifier] NULL,
	[ContextInstance] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
