USE [OperationsManager]
GO
/****** Object:  Table [dbo].[JobStatus]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobStatus](
	[JobId] [uniqueidentifier] NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
	[BatchId] [uniqueidentifier] NOT NULL,
	[SubmittedBy] [nvarchar](256) NOT NULL,
	[RunningAs] [nvarchar](256) NOT NULL,
	[TargetEntityId] [uniqueidentifier] NOT NULL,
	[LocationEntityId] [uniqueidentifier] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Output] [nvarchar](max) NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [nvarchar](2048) NULL,
	[TimeScheduled] [datetime] NOT NULL,
	[TimeStarted] [datetime] NULL,
	[TimeFinished] [datetime] NULL,
	[LastModified] [datetime] NOT NULL,
	[LastModifiedTimestamp] [timestamp] NOT NULL,
	[JobInternalId] [bigint] IDENTITY(1,1) NOT NULL,
	[StatusLastModified] [datetime] NULL,
	[StatusLastModifiedByAgent] [datetime] NULL,
	[ProgressValue] [tinyint] NULL,
	[ProgressMessage] [nvarchar](256) NULL,
	[ProgressData] [nvarchar](max) NULL,
	[ProgressLastModified] [datetime] NULL,
 CONSTRAINT [PK_JobStatus] PRIMARY KEY CLUSTERED 
(
	[JobInternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobStatus] ADD  CONSTRAINT [DF_JobStatus_TimeScheduled]  DEFAULT (getutcdate()) FOR [TimeScheduled]
GO
ALTER TABLE [dbo].[JobStatus] ADD  CONSTRAINT [DF_JobStatus_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[JobStatus] ADD  CONSTRAINT [DF_JobStatus_StatusLastModified]  DEFAULT (getutcdate()) FOR [StatusLastModified]
GO
ALTER TABLE [dbo].[JobStatus]  WITH CHECK ADD  CONSTRAINT [FK_JobStatus_Task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobStatus] CHECK CONSTRAINT [FK_JobStatus_Task]
GO
