USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PartitionAndGroomingSettings]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartitionAndGroomingSettings](
	[ObjectId] [tinyint] NOT NULL,
	[ObjectName] [nvarchar](255) NULL,
	[IsPartitioned] [bit] NOT NULL,
	[InsertViewName] [nvarchar](255) NULL,
	[GroomingSproc] [nvarchar](255) NULL,
	[DaysToKeep] [tinyint] NULL,
	[GroomingRunTime] [datetime] NULL,
	[DataGroomedMaxTime] [datetime] NULL,
	[IsInternal] [bit] NOT NULL,
	[BatchSize] [int] NULL,
 CONSTRAINT [PK_PartitionAndGroomingSettings] PRIMARY KEY CLUSTERED 
(
	[ObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PartitionAndGroomingSettings_ObjectName] UNIQUE NONCLUSTERED 
(
	[ObjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PartitionAndGroomingSettings] ADD  CONSTRAINT [DF_PartitionAndGroomingSettings_IsPartitioned]  DEFAULT ((1)) FOR [IsPartitioned]
GO
ALTER TABLE [dbo].[PartitionAndGroomingSettings] ADD  CONSTRAINT [DF_PartitionAndGroomingSettings_GroomingSproc]  DEFAULT (NULL) FOR [GroomingSproc]
GO
ALTER TABLE [dbo].[PartitionAndGroomingSettings] ADD  CONSTRAINT [DF_PartitionAndGroomingSettings_IsInternal]  DEFAULT ((0)) FOR [IsInternal]
GO
ALTER TABLE [dbo].[PartitionAndGroomingSettings]  WITH CHECK ADD  CONSTRAINT [CK_PartitionAndGroomingSettings_DaysToKeep] CHECK  (([DaysToKeep]>(0) AND [DaysToKeep]<(61)))
GO
ALTER TABLE [dbo].[PartitionAndGroomingSettings] CHECK CONSTRAINT [CK_PartitionAndGroomingSettings_DaysToKeep]
GO
ALTER TABLE [dbo].[PartitionAndGroomingSettings]  WITH CHECK ADD  CONSTRAINT [CK_PartitionAndGroomingSettings_IsPartitioned] CHECK  (([IsPartitioned]=(1) AND [GroomingSproc] IS NULL AND [InsertViewName] IS NOT NULL OR [IsPartitioned]=(0) AND [GroomingSproc] IS NOT NULL AND [InsertViewName] IS NULL))
GO
ALTER TABLE [dbo].[PartitionAndGroomingSettings] CHECK CONSTRAINT [CK_PartitionAndGroomingSettings_IsPartitioned]
GO
