USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ModuleTypeStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleTypeStaging](
	[ModuleTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[MDTName] [nvarchar](256) NOT NULL,
	[MDTOutputDatatypeId] [uniqueidentifier] NULL,
	[MDTAccessibility] [tinyint] NOT NULL,
	[MDTRole] [tinyint] NOT NULL,
	[MDTCanGuaranteeDelivery] [bit] NOT NULL,
	[MDTIncludeSchemaTypes] [bit] NOT NULL,
	[MDTPassThrough] [bit] NOT NULL,
	[MDTStateful] [bit] NOT NULL,
	[MDTTriggerOnly] [bit] NOT NULL,
	[MDTBatching] [bit] NOT NULL,
	[MDTConfigurationXSD] [nvarchar](max) NULL,
	[MDTImplementationXML] [nvarchar](max) NULL,
	[MDTInputTypes] [nvarchar](max) NULL,
	[MDTRunAs] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[Assembly] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ModuleTypeStaging] PRIMARY KEY CLUSTERED 
(
	[ModuleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
