USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ReportDependency]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDependency](
	[ReportElementId] [uniqueidentifier] NOT NULL,
	[ReferencedElementId] [uniqueidentifier] NOT NULL,
	[ReferencedElementType] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ReferenceDomain] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ReportDependency] PRIMARY KEY CLUSTERED 
(
	[ReportElementId] ASC,
	[ReferencedElementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportDependency] ADD  CONSTRAINT [DF_ReportDependency_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ReportDependency] ADD  CONSTRAINT [DF_ReportDependency_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ReportDependency]  WITH CHECK ADD  CONSTRAINT [FK_ReportDependency_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportDependency] CHECK CONSTRAINT [FK_ReportDependency_ManagementPack]
GO
