USE [OperationsManager]
GO
/****** Object:  View [dbo].[RelationshipGenericView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[RelationshipGenericView] AS
    SELECT 
        R.[RelationshipId] AS [Id],
        S.[FullName] AS [SourceObjectFullName],
        S.[Name] AS [SourceObjectName],
        S.[Path] AS [SourceObjectPath],
        S.[DisplayName] AS [SourceObjectDisplayName],
        R.[SourceEntityId] AS [SourceObjectId],
        R.[RelationshipTypeId] AS [RelationshipId],
        T.[FullName] AS [TargetObjectFullName],
        T.[Name] AS [TargetObjectName],
        T.[Path] AS [TargetObjectPath],
        T.[DisplayName] AS [TargetObjectDisplayName],
        R.[TargetEntityId] AS [TargetObjectId],
        R.[IsDeleted],
        R.[LastModified]
    FROM dbo.[Relationship] R WITH(NOLOCK)
    JOIN dbo.[BaseManagedEntity] S WITH(NOLOCK)
        ON R.[SourceEntityId] = S.[BaseManagedEntityId]
    JOIN dbo.[BaseManagedEntity] T WITH(NOLOCK)
        ON R.[TargetEntityId] = T.[BaseManagedEntityId]
GO
