USE [OperationsManager]
GO
/****** Object:  View [dbo].[ReportParameterControlView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ReportParameterControlView] AS
    SELECT [ReportParameterControl].[ReportParameterControlId] AS Id, 
           [ReportParameterControl].[ManagementPackId] AS ManagementPackId, 
           [ReportParameterControl].[ReportParameterControlName] AS Name, 
           [ReportParameterControl].[ReportParameterControlAccessibility] AS Accessibility,
           [ReportParameterControl].[TimeAdded],
           [ReportParameterControl].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.ReportParameterControl LEFT  JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [ReportParameterControl].[ReportParameterControlId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [ReportParameterControl].[ReportParameterControlId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [ReportParameterControl].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
