USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$MIB2Common_Fault_NetworkAdapter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$MIB2Common_Fault_NetworkAdapter](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[MIB2CommonFaultIndex_3252C1D3_AAC4_8EAC_58FF_85888A2133AA] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$MIB2Common_Fault_NetworkAdapter] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
