USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DisciplineAssignment]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisciplineAssignment](
	[ResourceStoreId] [uniqueidentifier] NOT NULL,
	[DisciplineId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DisciplineAssignment] ADD  CONSTRAINT [DF_DisciplineAssignment_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DisciplineAssignment] ADD  CONSTRAINT [DF_DisciplineAssignment_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[DisciplineAssignment]  WITH CHECK ADD  CONSTRAINT [FK_DisciplineAssignment_Discipline] FOREIGN KEY([DisciplineId])
REFERENCES [dbo].[Discipline] ([DisciplineId])
GO
ALTER TABLE [dbo].[DisciplineAssignment] CHECK CONSTRAINT [FK_DisciplineAssignment_Discipline]
GO
ALTER TABLE [dbo].[DisciplineAssignment]  WITH CHECK ADD  CONSTRAINT [FK_DisciplineAssignment_ResourceStore] FOREIGN KEY([ResourceStoreId])
REFERENCES [dbo].[ResourceStore] ([ResourceStoreId])
GO
ALTER TABLE [dbo].[DisciplineAssignment] CHECK CONSTRAINT [FK_DisciplineAssignment_ResourceStore]
GO
