USE [OperationsManager]
GO
/****** Object:  View [dbo].[RuleView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[RuleView] AS
    SELECT [Rules].[RuleId] AS Id, 
           [Rules].[RuleName] AS Name, 
           [Rules].[ManagementPackId] AS ManagementPackId, 
           [Rules].[TargetManagedEntityType] AS TargetMonitoringClassId, 
           [Rules].[RuleCategory] AS Category, 
           [Rules].[RuleEnabled] AS Enabled, 
           [Rules].[RuleGuaranteedDelivery] AS ConfirmDelivery,
           [Rules].[RulePriority] AS Priority,
           [Rules].[RuleRemotable] AS Remotable,
           [Rules].[DiscardLevel] AS DiscardLevel,
           [Rules].TimeAdded,
           [Rules].LastModified,
           [ManagementPack].ContentReadable,
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
	FROM dbo.Rules   LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = Rules.RuleId AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = Rules.RuleId AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Rules].ManagementPackId
GO
