USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$ManagementServer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$ManagementServer](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ProxyPort_28064938_9EA0_AAE7_7E51_AD30385C6306] [int] NULL,
	[UseProxyServer_F8CA99A1_B49B_BA6B_E0E2_7F61D0668D58] [bit] NULL,
	[NumberOfMissingHeartBeatsToMarkMachineDown_27AD2E30_EFE0_1A73_8C9D_F0A22B073227] [int] NULL,
	[ManagementServerSCP_390B5291_20BF_76B5_E141_6CC8B55DB776] [nvarchar](256) NULL,
	[RejectManuallyInstalledAgents_1BFD9434_C1BE_0F3A_33E7_F3DC3ED306AB] [bit] NULL,
	[AutoApproveManuallyInstalledAgents_B03603CB_2C6B_C8E1_94AC_7F66AC2FA51A] [bit] NULL,
	[ProxyAddress_D35118DD_A9B3_87BD_D508_599C6306BA98] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$ManagementServer] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
