USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ImageEntityStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageEntityStaging](
	[ImageName] [nvarchar](256) NOT NULL,
	[ImageId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Imagedata] [varbinary](max) NULL,
	[ImageAccessibility] [tinyint] NOT NULL,
	[Metadata] [nvarchar](max) NULL,
	[ImageCategory] [nvarchar](100) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
