USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UserRoleDashboardReference]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleDashboardReference](
	[UserRoleId] [uniqueidentifier] NOT NULL,
	[DashboardReferenceId] [uniqueidentifier] NULL,
	[ScopeId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserRoleDashboardReference_ScopeId_DashboardReferenceId] UNIQUE NONCLUSTERED 
(
	[ScopeId] ASC,
	[DashboardReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRoleDashboardReference]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleDashboardReference_DashboardReferenceId] FOREIGN KEY([DashboardReferenceId])
REFERENCES [dbo].[ComponentReferences] ([ComponentReferenceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleDashboardReference] CHECK CONSTRAINT [FK_UserRoleDashboardReference_DashboardReferenceId]
GO
ALTER TABLE [dbo].[UserRoleDashboardReference]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleDashboardReference_ScopeId] FOREIGN KEY([ScopeId])
REFERENCES [dbo].[UserRoleScopeHandle] ([ScopeId])
GO
ALTER TABLE [dbo].[UserRoleDashboardReference] CHECK CONSTRAINT [FK_UserRoleDashboardReference_ScopeId]
GO
ALTER TABLE [dbo].[UserRoleDashboardReference]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleDashboardReference_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([UserRoleId])
GO
ALTER TABLE [dbo].[UserRoleDashboardReference] CHECK CONSTRAINT [FK_UserRoleDashboardReference_UserRoleId]
GO
