USE [OperationsManager]
GO
/****** Object:  Table [dbo].[WarehouseModulePredecessor]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseModulePredecessor](
	[WarehouseModuleId] [uniqueidentifier] NOT NULL,
	[PredecessorModuleId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WarehouseModulePredecessor] ADD  CONSTRAINT [DF_WarehouseModulePredecessor_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[WarehouseModulePredecessor] ADD  CONSTRAINT [DF_WarehouseModulePredecessor_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[WarehouseModulePredecessor]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseModulePredecessor_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseModulePredecessor] CHECK CONSTRAINT [FK_WarehouseModulePredecessor_ManagementPack]
GO
