USE [OperationsManager]
GO
/****** Object:  View [dbo].[EventInsertView]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EventInsertView] AS SELECT * FROM [dbo].[Event_01]
GO
