USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$HealthServiceCommunication]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$HealthServiceCommunication] AS SELECT R.RelationshipId, BME1.BaseManagedTypeId AS SourceTypeId, 
	BME2.BaseManagedTypeId AS TargetTypeId , T.[CanEstablishConnectionTo_6FE8F304_CC29_35BF_FD76_419EC157B2E3], T.[HeartbeatType_F5E24ED6_1FC5_1AE8_7961_DC730DFD0945], T.[MaxBytesPerSecondToSend_6CB909E1_CBD6_A318_FC22_20E6D2A90E42], T.[NetworkTimeout_7D5FAE77_30F7_44FD_A459_22254E5F63BB], T.[OrderOfPreference_C84BEA12_2118_81A7_1E2E_D33C12B1D6D0] FROM [MT_Microsoft$SystemCenter$HealthServiceCommunication] T  RIGHT OUTER JOIN dbo.[Relationship] R ON R.RelationshipId = T.RelationshipId
 		JOIN dbo.BaseManagedEntity BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
		JOIN dbo.BaseManagedEntity BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
		WHERE R.IsDeleted = 0 AND R.RelationshipTypeId = '37848E16-37A2-B81B-DAAF-60A5A626BE93'
GO
