USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Diagnostic]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostic](
	[DiagnosticId] [uniqueidentifier] NOT NULL,
	[DiagnosticName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[DiagnosticAccessibility] [tinyint] NOT NULL,
	[DiagnosticEnabled] [tinyint] NOT NULL,
	[DiagnosticTarget] [uniqueidentifier] NOT NULL,
	[DiagnosticMonitor] [uniqueidentifier] NOT NULL,
	[ExecuteOnState] [tinyint] NULL,
	[DiagnosticRemotable] [bit] NOT NULL,
	[DiagnosticCategory] [tinyint] NOT NULL,
	[TimeOut] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Diagnostic] PRIMARY KEY CLUSTERED 
(
	[DiagnosticId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Diagnostic] ADD  CONSTRAINT [DF_Diagnostic_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Diagnostic] ADD  CONSTRAINT [DF_Diagnostic_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
