USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_AzApplication]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_AzApplication](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectGuid] [uniqueidentifier] NULL,
	[StoreID] [int] NOT NULL,
	[Name] [nvarchar](512) NULL,
	[Description] [nvarchar](1024) NULL,
	[ApplicationData] [ntext] NULL,
	[ApplyStoreSacl] [bit] NULL,
	[GenerateAudits] [bit] NULL,
	[AuthzInterfaceClsId] [int] NULL,
	[ApplicationVersion] [nvarchar](50) NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
	[ChildUpdateTimeStamp] [binary](8) NULL,
 CONSTRAINT [PK_AzMan_AzApplication] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_AzApplication]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_AzApplication_AzMan_AzAuthorizationStore] FOREIGN KEY([StoreID])
REFERENCES [dbo].[AzMan_AzAuthorizationStore] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_AzApplication] CHECK CONSTRAINT [FK_AzMan_AzApplication_AzMan_AzAuthorizationStore]
GO
