USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$OperatingSystem_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$OperatingSystem_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_OSVersion_53D6DEB6_BE2E_D1B6_D49E_A623518BD867] [nvarchar](256) NULL,
	[Post_OSVersion_53D6DEB6_BE2E_D1B6_D49E_A623518BD867] [nvarchar](256) NULL,
	[Pre_SerialNumber_BBCA74A1_CAA9_9DFB_BE2B_0181615CBF00] [nvarchar](256) NULL,
	[Post_SerialNumber_BBCA74A1_CAA9_9DFB_BE2B_0181615CBF00] [nvarchar](256) NULL,
	[Pre_PhysicalMemory_708ED231_4FFB_71C2_ECE5_F07618E28419] [decimal](19, 0) NULL,
	[Post_PhysicalMemory_708ED231_4FFB_71C2_ECE5_F07618E28419] [decimal](19, 0) NULL,
	[Pre_OSVersionDisplayName_36306EC9_FC98_F061_E7C8_C948ADAA53E2] [nvarchar](256) NULL,
	[Post_OSVersionDisplayName_36306EC9_FC98_F061_E7C8_C948ADAA53E2] [nvarchar](256) NULL,
	[Pre_LogicalProcessors_5CAE4847_F75B_01D0_156E_1658D557B739] [int] NULL,
	[Post_LogicalProcessors_5CAE4847_F75B_01D0_156E_1658D557B739] [int] NULL,
	[Pre_SystemDrive_501BAB3F_69D3_1308_CD16_4AE327141610] [nvarchar](256) NULL,
	[Post_SystemDrive_501BAB3F_69D3_1308_CD16_4AE327141610] [nvarchar](256) NULL,
	[Pre_InstallDate_D848A085_8621_59DC_DBB2_AC3DAD80A8AC] [nvarchar](256) NULL,
	[Post_InstallDate_D848A085_8621_59DC_DBB2_AC3DAD80A8AC] [nvarchar](256) NULL,
	[Pre_MajorVersion_7F89B4E1_1051_35E5_C81E_52A20AA9BFEE] [nvarchar](256) NULL,
	[Post_MajorVersion_7F89B4E1_1051_35E5_C81E_52A20AA9BFEE] [nvarchar](256) NULL,
	[Pre_WindowsDirectory_D8E83F37_FBA2_B465_9A1C_B6FA364ADF0C] [nvarchar](256) NULL,
	[Post_WindowsDirectory_D8E83F37_FBA2_B465_9A1C_B6FA364ADF0C] [nvarchar](256) NULL,
	[Pre_ServicePackVersion_A19047C1_1D3F_D9B0_21AE_8B4E5B444616] [nvarchar](256) NULL,
	[Post_ServicePackVersion_A19047C1_1D3F_D9B0_21AE_8B4E5B444616] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Manufacturer_20CBB587_83E5_C349_0968_160DA79397DF] [nvarchar](256) NULL,
	[Post_Manufacturer_20CBB587_83E5_C349_0968_160DA79397DF] [nvarchar](256) NULL,
	[Pre_CSDVersion_AFE62B62_74FC_2F06_D8A0_DEE31F14CD33] [nvarchar](256) NULL,
	[Post_CSDVersion_AFE62B62_74FC_2F06_D8A0_DEE31F14CD33] [nvarchar](256) NULL,
	[Pre_CountryCode_13102CDE_D8DC_A165_4BF1_AF6D2BAFAB4C] [nvarchar](256) NULL,
	[Post_CountryCode_13102CDE_D8DC_A165_4BF1_AF6D2BAFAB4C] [nvarchar](256) NULL,
	[Pre_ProductType_05615BBD_C0ED_FD30_4FCC_987B12A11497] [nvarchar](256) NULL,
	[Post_ProductType_05615BBD_C0ED_FD30_4FCC_987B12A11497] [nvarchar](256) NULL,
	[Pre_BuildNumber_AD1AD242_439F_25C0_CF7B_39888EC1E8DA] [nvarchar](256) NULL,
	[Post_BuildNumber_AD1AD242_439F_25C0_CF7B_39888EC1E8DA] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_OSLanguage_1C2E7A7A_5C63_0193_9006_A739FC09B592] [nvarchar](256) NULL,
	[Post_OSLanguage_1C2E7A7A_5C63_0193_9006_A739FC09B592] [nvarchar](256) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_MinorVersion_016338CC_E4CB_EBBD_4812_0A1770A4C4D3] [nvarchar](256) NULL,
	[Post_MinorVersion_016338CC_E4CB_EBBD_4812_0A1770A4C4D3] [nvarchar](256) NULL,
	[Pre_Locale_A816111C_ADD6_C6F8_B0C9_917E6EA19C42] [nvarchar](256) NULL,
	[Post_Locale_A816111C_ADD6_C6F8_B0C9_917E6EA19C42] [nvarchar](256) NULL,
	[Pre_Description_DD9B5402_44CC_50D6_28F5_D2D82BD8738C] [nvarchar](256) NULL,
	[Post_Description_DD9B5402_44CC_50D6_28F5_D2D82BD8738C] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$OperatingSystem_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$OperatingSystem_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$OperatingSystem_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
