USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeployItemStaging]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeployItemStaging](
	[DeployItemId] [uniqueidentifier] NOT NULL,
	[DeployItemName] [nvarchar](128) NOT NULL,
	[DeploySequenceId] [uniqueidentifier] NOT NULL,
	[MPElementId] [uniqueidentifier] NULL,
	[DeployerAssemblyName] [nvarchar](255) NOT NULL,
	[Outcome] [nvarchar](255) NOT NULL,
	[StatusId] [int] NOT NULL,
	[ForDelete] [bit] NOT NULL,
	[Deployer] [varbinary](max) NOT NULL,
	[Entity] [xml] NOT NULL,
	[Execution] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
