USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Server$6$2$NetworkAdapter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$NetworkAdapter](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Manufacturer_10081248_2313_0ACB_A0C8_8CAEB4C69BFD] [nvarchar](256) NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[IPAddress_5535AF5F_A554_DC23_7755_3A1CFA7D4959] [nvarchar](256) NULL,
	[MACAddress_988754CD_A5FE_257B_8A4A_4867B4600EF5] [nvarchar](256) NULL,
	[SlotNumber_C62843A7_5842_DE25_1B48_EC48B33059CE] [nvarchar](256) NULL,
	[ServiceName_B814BB7A_2D1A_013A_9075_4F01AE5E048B] [nvarchar](256) NULL,
	[Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87] [nvarchar](256) NULL,
	[Index_723428A1_B291_7AD2_97E3_D7CB47A47CF7] [nvarchar](256) NULL,
	[DHCPEnabled_1820864D_1AC5_424D_19ED_5BEB422E36DA] [nvarchar](256) NULL,
	[DHCPHostname_00194596_D9F4_DD90_F982_7D3F65D82A18] [nvarchar](256) NULL,
	[DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4] [nvarchar](256) NOT NULL,
	[PerfmonInstance_15CD0D38_0CDE_8F5D_AA77_53F487140907] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[DHCPServer_66DA53C7_257B_E48C_106A_58790C7649AF] [nvarchar](256) NULL,
	[Bandwidth_14315E08_D951_9B0E_439D_BC243C2EAF5F] [int] NULL,
	[DefaultIPGateway_506607B1_0460_773C_E776_7F236A0BCD5F] [nvarchar](256) NULL,
	[IPEnabled_DDEAB80E_D4B4_2B04_89F5_49874C16DED1] [bit] NULL,
	[ProductName_F48D7E28_AE43_A94C_0763_B6D40B4F93F3] [nvarchar](256) NULL,
	[IPSubnet_32E7BF39_6A49_10CF_7E1C_B888212A73F2] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[AdapterType_7312FBB8_E9F0_65F1_4025_7252363B6695] [nvarchar](256) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[DNSDomain_ED62BE42_1D7B_1099_E1F6_E302D527DDCF] [nvarchar](256) NULL,
	[Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2] [nvarchar](256) NULL,
	[MaxSpeed_C582236F_F803_08D5_48CE_E12B93B5DD66] [int] NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Server$6$2$NetworkAdapter] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$NetworkAdapter] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
