USE [OperationsManager]
GO
/****** Object:  View [dbo].[DataWarehouseScriptView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DataWarehouseScriptView] AS
    SELECT [DataWarehouseScript].[DataWarehouseScriptId] AS Id, 
           [DataWarehouseScript].[ManagementPackId] AS ManagementPackId, 
           [DataWarehouseScript].[DataWarehouseScriptName] AS Name, 
           [DataWarehouseScript].[Accessibility],
           [DataWarehouseScript].[Install],
           [DataWarehouseScript].[Uninstall],
           [DataWarehouseScript].[Upgrade],
           [DataWarehouseScript].[UpgradeUnsupported],
           [DataWarehouseScript].[TimeAdded],
           [DataWarehouseScript].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[DataWarehouseScript] LEFT  JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [DataWarehouseScript].[DataWarehouseScriptId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [DataWarehouseScript].[DataWarehouseScriptId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [DataWarehouseScript].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
