USE [OperationsManager]
GO
/****** Object:  Table [dbo].[EnumType]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnumType](
	[EnumTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[EnumTypeName] [nvarchar](256) NOT NULL,
	[EnumTypeAccessibility] [tinyint] NOT NULL,
	[ParentEnumTypeId] [uniqueidentifier] NULL,
	[Enabled] [bit] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[Ordinal] [float] NULL,
 CONSTRAINT [PK_EnumType] PRIMARY KEY CLUSTERED 
(
	[EnumTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EnumType] ADD  CONSTRAINT [DF_EnumType_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[EnumType] ADD  CONSTRAINT [DF_EnumType_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[EnumType]  WITH CHECK ADD  CONSTRAINT [FK_EnumType_ManagementPackId] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnumType] CHECK CONSTRAINT [FK_EnumType_ManagementPackId]
GO
