USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$ExtensionType]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$ExtensionType] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[BaseIdentity_5B48E94A_0EC0_9F1D_C1B3_35969B27B0E1], T1.[FieldName_07CC2A2B_4188_1F9F_9216_0B9228AC467C], T1.[FieldOrder_9742FD95_5DFF_90A7_CCB3_7D81B4CCB2A1], T1.[FieldType_F15E6499_71AE_3D8F_867C_E2E33D7E1DAD], T1.[Identity_AD79A319_7C19_CB42_6E0A_DC39940CCEBE], T1.[Metadata_A6D11B58_5191_E52C_B40A_02F485C368F7], T1.[ParentIdentity_6C550966_1A8A_7A8F_03EE_92DECB5C1DC4], T1.[RootIdentity_BDD07515_42C6_E252_17E3_C11663761707] FROM [dbo].[MT_System$ExtensionType] T1
GO
