USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ConnectivityAlerts_DA1BB9FD_5B49_FE2E_628F_A2C4DB39A96A] [bit] NULL,
	[Post_ConnectivityAlerts_DA1BB9FD_5B49_FE2E_628F_A2C4DB39A96A] [bit] NULL,
	[Pre_PerformanceAlerts_84183480_92AF_AB96_7E2F_3AE9EBCE5380] [bit] NULL,
	[Post_PerformanceAlerts_84183480_92AF_AB96_7E2F_3AE9EBCE5380] [bit] NULL,
	[Pre_CsmPerformanceAlerts_15143CFC_6B34_B879_F206_25440CA925DC] [bit] NULL,
	[Post_CsmPerformanceAlerts_15143CFC_6B34_B879_F206_25440CA925DC] [bit] NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_ExceptionTrackings_4D080BEB_E87D_575B_194F_27D29F0AB2C8] [nvarchar](max) NULL,
	[Post_ExceptionTrackings_4D080BEB_E87D_575B_194F_27D29F0AB2C8] [nvarchar](max) NULL,
	[Pre_SensitivityThreshold_B0999BF3_F61A_C951_210E_A4E593D9EC32] [int] NULL,
	[Post_SensitivityThreshold_B0999BF3_F61A_C951_210E_A4E593D9EC32] [int] NULL,
	[Pre_SamplingRate_B589B086_8D98_B3E2_C54A_75F329858C27] [int] NULL,
	[Post_SamplingRate_B589B086_8D98_B3E2_C54A_75F329858C27] [int] NULL,
	[Pre_CsmExceptionAlerts_6E8AEA7E_1A7B_F266_439A_B18A58EEBF64] [bit] NULL,
	[Post_CsmExceptionAlerts_6E8AEA7E_1A7B_F266_439A_B18A58EEBF64] [bit] NULL,
	[Pre_PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0] [float] NULL,
	[Post_PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0] [float] NULL,
	[Pre_EncryptionKey_7C57D688_9219_B415_D63B_D42A625145A9] [nvarchar](max) NULL,
	[Post_EncryptionKey_7C57D688_9219_B415_D63B_D42A625145A9] [nvarchar](max) NULL,
	[Pre_MonitoringComputerGroup_07B4FF71_9321_A676_07F6_DA35505AC133] [uniqueidentifier] NULL,
	[Post_MonitoringComputerGroup_07B4FF71_9321_A676_07F6_DA35505AC133] [uniqueidentifier] NULL,
	[Pre_CsmMonitoringComputerGroup_1B7A3A94_27B0_4B69_C516_676D4C8C6B23] [uniqueidentifier] NULL,
	[Post_CsmMonitoringComputerGroup_1B7A3A94_27B0_4B69_C516_676D4C8C6B23] [uniqueidentifier] NULL,
	[Pre_CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F] [float] NULL,
	[Post_CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F] [float] NULL,
	[Pre_CollectAllExceptions_9CECB959_7F3A_ACE8_6DEA_8C0036A888D0] [bit] NULL,
	[Post_CollectAllExceptions_9CECB959_7F3A_ACE8_6DEA_8C0036A888D0] [bit] NULL,
	[Pre_DisabledContent_0D85D577_1357_B286_9029_437E11D8131B] [int] NULL,
	[Post_DisabledContent_0D85D577_1357_B286_9029_437E11D8131B] [int] NULL,
	[Pre_ApplicationName_5FBFF83D_5621_0F8E_648D_A7CEB6E6D441] [nvarchar](256) NULL,
	[Post_ApplicationName_5FBFF83D_5621_0F8E_648D_A7CEB6E6D441] [nvarchar](256) NULL,
	[Pre_SecurityAlerts_A052080E_F1F1_3B3E_BC4D_9F2853912D3B] [bit] NULL,
	[Post_SecurityAlerts_A052080E_F1F1_3B3E_BC4D_9F2853912D3B] [bit] NULL,
	[Pre_CsmExceptionRateMonitorEnabled_AD9B63CC_249E_92BA_8004_3B56DCC27083] [bit] NULL,
	[Post_CsmExceptionRateMonitorEnabled_AD9B63CC_249E_92BA_8004_3B56DCC27083] [bit] NULL,
	[Pre_AvgRequestTimeMonitorInterval_401853D0_D544_B0FF_9634_4011D1634C8D] [int] NULL,
	[Post_AvgRequestTimeMonitorInterval_401853D0_D544_B0FF_9634_4011D1634C8D] [int] NULL,
	[Pre_CsmAvgRequestTimeMonitorThreshold_0EC04C86_9FB9_8265_C651_1F9C4C86C550] [int] NULL,
	[Post_CsmAvgRequestTimeMonitorThreshold_0EC04C86_9FB9_8265_C651_1F9C4C86C550] [int] NULL,
	[Pre_AvgRequestTimeMonitorThreshold_BA083ED6_2150_8B4B_AB7A_CFCFE0425B86] [int] NULL,
	[Post_AvgRequestTimeMonitorThreshold_BA083ED6_2150_8B4B_AB7A_CFCFE0425B86] [int] NULL,
	[Pre_CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3] [float] NULL,
	[Post_CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3] [float] NULL,
	[Pre_CsmAvgRequestTimeMonitorEnabled_B81D3E1E_CE6E_0E29_9A90_586AE396D28F] [bit] NULL,
	[Post_CsmAvgRequestTimeMonitorEnabled_B81D3E1E_CE6E_0E29_9A90_586AE396D28F] [bit] NULL,
	[Pre_CsmExceptionRateMonitorInterval_DD255B1A_4BE6_C072_5BEA_94F8AE775C7C] [int] NULL,
	[Post_CsmExceptionRateMonitorInterval_DD255B1A_4BE6_C072_5BEA_94F8AE775C7C] [int] NULL,
	[Pre_AllSettingsHash_CF637656_6975_63D9_E883_BADBBED6EC20] [nvarchar](256) NULL,
	[Post_AllSettingsHash_CF637656_6975_63D9_E883_BADBBED6EC20] [nvarchar](256) NULL,
	[Pre_Namespaces_66F4C322_1506_21F1_70C8_6D3BF954E449] [nvarchar](max) NULL,
	[Post_Namespaces_66F4C322_1506_21F1_70C8_6D3BF954E449] [nvarchar](max) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_CsmAvgRequestTimeMonitorInterval_D7036CA5_799C_D2C6_9E18_AF91B7E1EDFF] [int] NULL,
	[Post_CsmAvgRequestTimeMonitorInterval_D7036CA5_799C_D2C6_9E18_AF91B7E1EDFF] [int] NULL,
	[Pre_Id_EE996801_C54E_6A13_0F3A_584738E7FB06] [uniqueidentifier] NULL,
	[Post_Id_EE996801_C54E_6A13_0F3A_584738E7FB06] [uniqueidentifier] NULL,
	[Pre_ExceptionHandlers_A04B69A5_C6DC_8F38_B319_5AE650A7DEF8] [nvarchar](max) NULL,
	[Post_ExceptionHandlers_A04B69A5_C6DC_8F38_B319_5AE650A7DEF8] [nvarchar](max) NULL,
	[Pre_CsmPerformanceRateMonitorInterval_F20DCC95_5F42_7A7B_60CB_6FB8AE4B0AEC] [int] NULL,
	[Post_CsmPerformanceRateMonitorInterval_F20DCC95_5F42_7A7B_60CB_6FB8AE4B0AEC] [int] NULL,
	[Pre_ExceptionRateMonitorInterval_CABB6610_AF20_8A53_B862_BF7BBECF6CA9] [int] NULL,
	[Post_ExceptionRateMonitorInterval_CABB6610_AF20_8A53_B862_BF7BBECF6CA9] [int] NULL,
	[Pre_AppFailureAlerts_73E894D1_DD0C_6AD0_B086_12BFD46E6629] [bit] NULL,
	[Post_AppFailureAlerts_73E894D1_DD0C_6AD0_B086_12BFD46E6629] [bit] NULL,
	[Pre_CsmAjaxThreshold_F8702120_642C_2EA0_F71D_CFCBDC22155A] [int] NULL,
	[Post_CsmAjaxThreshold_F8702120_642C_2EA0_F71D_CFCBDC22155A] [int] NULL,
	[Pre_PerformanceRateMonitorInterval_D25AB398_CFCB_8513_5D08_B3DD472E0DFE] [int] NULL,
	[Post_PerformanceRateMonitorInterval_D25AB398_CFCB_8513_5D08_B3DD472E0DFE] [int] NULL,
	[Pre_PerformanceThreshold_53B82EC4_BA10_E613_205A_57900F60FAB9] [int] NULL,
	[Post_PerformanceThreshold_53B82EC4_BA10_E613_205A_57900F60FAB9] [int] NULL,
	[Pre_ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E] [float] NULL,
	[Post_ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E] [float] NULL,
	[Pre_CsmSensitivityThreshold_C054C736_99E4_044C_A2FA_8C1CCC50BDDF] [int] NULL,
	[Post_CsmSensitivityThreshold_C054C736_99E4_044C_A2FA_8C1CCC50BDDF] [int] NULL,
	[Pre_StreamFilters_1EB5E118_1CE3_0CFF_5231_5935BD7F6E2B] [nvarchar](max) NULL,
	[Post_StreamFilters_1EB5E118_1CE3_0CFF_5231_5935BD7F6E2B] [nvarchar](max) NULL,
	[Pre_Resources_59756146_6D99_0A27_9A05_997AC77738AC] [nvarchar](max) NULL,
	[Post_Resources_59756146_6D99_0A27_9A05_997AC77738AC] [nvarchar](max) NULL,
	[Pre_CsmPerformanceRateMonitorEnabled_0E10C75A_BE6E_9FBB_6758_EA509E48C700] [bit] NULL,
	[Post_CsmPerformanceRateMonitorEnabled_0E10C75A_BE6E_9FBB_6758_EA509E48C700] [bit] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_IPHeaders_94C37ECD_4412_7DFB_32EE_1D1EDDDEA8D8] [nvarchar](max) NULL,
	[Post_IPHeaders_94C37ECD_4412_7DFB_32EE_1D1EDDDEA8D8] [nvarchar](max) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_PerformanceRateMonitorEnabled_006AC9F4_2C8A_0778_1F57_73B75F8F39F4] [bit] NULL,
	[Post_PerformanceRateMonitorEnabled_006AC9F4_2C8A_0778_1F57_73B75F8F39F4] [bit] NULL,
	[Pre_CsmPageLoadThreshold_22E217D7_E54A_1CE6_D498_FB259174F5A7] [int] NULL,
	[Post_CsmPageLoadThreshold_22E217D7_E54A_1CE6_D498_FB259174F5A7] [int] NULL,
	[Pre_ResponseFilters_A7238D54_CC82_F906_54CF_07DD4364F4B6] [nvarchar](max) NULL,
	[Post_ResponseFilters_A7238D54_CC82_F906_54CF_07DD4364F4B6] [nvarchar](max) NULL,
	[Pre_RequestFilters_07E253DB_4202_0FCE_9FFE_E9A89955CCAE] [nvarchar](max) NULL,
	[Post_RequestFilters_07E253DB_4202_0FCE_9FFE_E9A89955CCAE] [nvarchar](max) NULL,
	[Pre_AvgRequestTimeMonitorEnabled_922322A1_C7A6_78BD_2382_E4837EDDEBB7] [bit] NULL,
	[Post_AvgRequestTimeMonitorEnabled_922322A1_C7A6_78BD_2382_E4837EDDEBB7] [bit] NULL,
	[Pre_ExceptionRateMonitorEnabled_BDA4ABB3_E11F_3DC0_CBE0_3951F43D5BA4] [bit] NULL,
	[Post_ExceptionRateMonitorEnabled_BDA4ABB3_E11F_3DC0_CBE0_3951F43D5BA4] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Pre_ConnectivityAlerts_DA1BB9FD_5B49_FE2E_628F_A2C4DB39A96A]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Post_ConnectivityAlerts_DA1BB9FD_5B49_FE2E_628F_A2C4DB39A96A]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Pre_PerformanceAlerts_84183480_92AF_AB96_7E2F_3AE9EBCE5380]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Post_PerformanceAlerts_84183480_92AF_AB96_7E2F_3AE9EBCE5380]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Pre_CsmPerformanceAlerts_15143CFC_6B34_B879_F206_25440CA925DC]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Post_CsmPerformanceAlerts_15143CFC_6B34_B879_F206_25440CA925DC]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Pre_CsmExceptionAlerts_6E8AEA7E_1A7B_F266_439A_B18A58EEBF64]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Post_CsmExceptionAlerts_6E8AEA7E_1A7B_F266_439A_B18A58EEBF64]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((0)) FOR [Pre_CollectAllExceptions_9CECB959_7F3A_ACE8_6DEA_8C0036A888D0]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((0)) FOR [Post_CollectAllExceptions_9CECB959_7F3A_ACE8_6DEA_8C0036A888D0]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Pre_SecurityAlerts_A052080E_F1F1_3B3E_BC4D_9F2853912D3B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((1)) FOR [Post_SecurityAlerts_A052080E_F1F1_3B3E_BC4D_9F2853912D3B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((0)) FOR [Pre_AppFailureAlerts_73E894D1_DD0C_6AD0_B086_12BFD46E6629]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log] ADD  DEFAULT ((0)) FOR [Post_AppFailureAlerts_73E894D1_DD0C_6AD0_B086_12BFD46E6629]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_SensitivityThreshold_B0999BF3_F61A_C951_210E_A4E593D9EC32]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_SamplingRate_B589B086_8D98_B3E2_C54A_75F329858C27]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0]>=(0) AND [Post_PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F]>=(0) AND [Post_CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_DisabledContent_0D85D577_1357_B286_9029_437E11D8131B]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorInterval_401853D0_D544_B0FF_9634_4011D1634C8D]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_CsmAvgRequestTimeMonitorThreshold_0EC04C86_9FB9_8265_C651_1F9C4C86C550]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorThreshold_BA083ED6_2150_8B4B_AB7A_CFCFE0425B86]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3]>=(0) AND [Post_CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_CsmExceptionRateMonitorInterval_DD255B1A_4BE6_C072_5BEA_94F8AE775C7C]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_CsmAvgRequestTimeMonitorInterval_D7036CA5_799C_D2C6_9E18_AF91B7E1EDFF]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_CsmPerformanceRateMonitorInterval_F20DCC95_5F42_7A7B_60CB_6FB8AE4B0AEC]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorInterval_CABB6610_AF20_8A53_B862_BF7BBECF6CA9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_CsmAjaxThreshold_F8702120_642C_2EA0_F71D_CFCBDC22155A]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorInterval_D25AB398_CFCB_8513_5D08_B3DD472E0DFE]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceThreshold_53B82EC4_BA10_E613_205A_57900F60FAB9]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E]>=(0) AND [Post_ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_CsmSensitivityThreshold_C054C736_99E4_044C_A2FA_8C1CCC50BDDF]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Post_CsmPageLoadThreshold_22E217D7_E54A_1CE6_D498_FB259174F5A7]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorInterval_401853D0_D544_B0FF_9634_4011D1634C8D]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorThreshold_BA083ED6_2150_8B4B_AB7A_CFCFE0425B86]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F]>=(0) AND [Pre_CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_CsmAvgRequestTimeMonitorThreshold_0EC04C86_9FB9_8265_C651_1F9C4C86C550]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3]>=(0) AND [Pre_CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_CsmExceptionRateMonitorInterval_DD255B1A_4BE6_C072_5BEA_94F8AE775C7C]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_CsmAvgRequestTimeMonitorInterval_D7036CA5_799C_D2C6_9E18_AF91B7E1EDFF]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_CsmPerformanceRateMonitorInterval_F20DCC95_5F42_7A7B_60CB_6FB8AE4B0AEC]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_CsmAjaxThreshold_F8702120_642C_2EA0_F71D_CFCBDC22155A]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_CsmSensitivityThreshold_C054C736_99E4_044C_A2FA_8C1CCC50BDDF]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_CsmPageLoadThreshold_22E217D7_E54A_1CE6_D498_FB259174F5A7]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_DisabledContent_0D85D577_1357_B286_9029_437E11D8131B]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorInterval_CABB6610_AF20_8A53_B862_BF7BBECF6CA9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E]>=(0) AND [Pre_ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0]>=(0) AND [Pre_PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorInterval_D25AB398_CFCB_8513_5D08_B3DD472E0DFE]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceThreshold_53B82EC4_BA10_E613_205A_57900F60FAB9]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_SamplingRate_B589B086_8D98_B3E2_C54A_75F329858C27]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup_Log]  WITH CHECK ADD CHECK  (([Pre_SensitivityThreshold_B0999BF3_F61A_C951_210E_A4E593D9EC32]>=(0)))
GO
