USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ComputerName_3F7BB403_5CBF_151A_434C_8C86820A93AE] [nvarchar](256) NULL,
	[Post_ComputerName_3F7BB403_5CBF_151A_434C_8C86820A93AE] [nvarchar](256) NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_KBNumber_4A01217C_0DF9_26FF_F61A_709E7ACD7DCF] [nvarchar](256) NULL,
	[Post_KBNumber_4A01217C_0DF9_26FF_F61A_709E7ACD7DCF] [nvarchar](256) NULL,
	[Pre_ProductDisplayName_B29D2312_FA16_2CE0_C7F3_E1A1DE7E3237] [nvarchar](256) NULL,
	[Post_ProductDisplayName_B29D2312_FA16_2CE0_C7F3_E1A1DE7E3237] [nvarchar](256) NULL,
	[Pre_Domain_709E49C4_8B5B_DC23_BE07_33A7725145C4] [nvarchar](256) NULL,
	[Post_Domain_709E49C4_8B5B_DC23_BE07_33A7725145C4] [nvarchar](256) NULL,
	[Pre_InstallDate_930A41AF_B3BD_0349_9343_7C5A9CFBD873] [datetime] NULL,
	[Post_InstallDate_930A41AF_B3BD_0349_9343_7C5A9CFBD873] [datetime] NULL,
	[Pre_PatchInstalled_39748D50_2140_6EF1_9B95_460F96AA1D65] [nvarchar](256) NULL,
	[Post_PatchInstalled_39748D50_2140_6EF1_9B95_460F96AA1D65] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Version_2A6C94F4_810F_6E85_9CED_D3EC3F33685B] [nvarchar](256) NULL,
	[Post_Version_2A6C94F4_810F_6E85_9CED_D3EC3F33685B] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Installed$OMProducts_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
