USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeploymentSelectorOutputStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeploymentSelectorOutputStaging](
	[OutputDocument] [xml] NOT NULL,
	[PackTransactionId] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
