USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DimensionPropertyStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimensionPropertyStaging](
	[DimensionPropertyId] [uniqueidentifier] NOT NULL,
	[DimensionId] [uniqueidentifier] NOT NULL,
	[DimensionPropertyName] [nvarchar](256) NOT NULL,
	[PropertyName] [nvarchar](256) NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[PropertyPath] [nvarchar](512) NOT NULL,
	[IsSlowlyChanging] [bit] NULL,
	[InExcludeList] [bit] NULL,
	[DefaultValue] [nvarchar](2000) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimensionPropertyStaging] ADD  DEFAULT ((0)) FOR [InExcludeList]
GO
