USE [OperationsManager]
GO
/****** Object:  Table [dbo].[BehaviorImplementationsStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BehaviorImplementationsStaging](
	[BehaviorImplementationId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[BehaviorImplementationAccessibility] [tinyint] NOT NULL,
	[BehaviorImplementationName] [nvarchar](256) NOT NULL,
	[BehaviorImplementationTypeId] [uniqueidentifier] NOT NULL,
	[BehaviorImplementationPlatform] [int] NOT NULL,
	[BehaviorImplementationXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
