USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AlertHistory]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertHistory](
	[AlertHistoryId] [uniqueidentifier] NOT NULL,
	[AlertId] [uniqueidentifier] NOT NULL,
	[ResolutionState] [tinyint] NOT NULL,
	[Owner] [nvarchar](255) NULL,
	[CustomField1] [nvarchar](255) NULL,
	[CustomField2] [nvarchar](255) NULL,
	[CustomField3] [nvarchar](255) NULL,
	[CustomField4] [nvarchar](255) NULL,
	[CustomField5] [nvarchar](255) NULL,
	[CustomField6] [nvarchar](255) NULL,
	[CustomField7] [nvarchar](255) NULL,
	[CustomField8] [nvarchar](255) NULL,
	[CustomField9] [nvarchar](255) NULL,
	[CustomField10] [nvarchar](255) NULL,
	[Comments] [nvarchar](2000) NULL,
	[TimeModified] [datetime] NOT NULL,
	[TimeModifiedOffset] [int] NOT NULL,
	[TimeResolutionStateLastModified] [datetime] NOT NULL,
	[TimeResolutionStateLastModifiedOffset] [int] NOT NULL,
	[TimeResolutionStateLastModifiedInDB] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[TicketId] [nvarchar](150) NULL,
	[Context] [nvarchar](max) NULL,
	[ConnectorId] [uniqueidentifier] NULL,
	[TfsWorkItemId] [nvarchar](150) NULL,
	[TfsWorkItemOwner] [nvarchar](255) NULL,
 CONSTRAINT [PK_AlertHistory] PRIMARY KEY NONCLUSTERED 
(
	[AlertHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertHistory] ADD  CONSTRAINT [DF_AlertHistory_TimeResolutionStateLastModifiedInDB]  DEFAULT (getutcdate()) FOR [TimeResolutionStateLastModifiedInDB]
GO
ALTER TABLE [dbo].[AlertHistory]  WITH CHECK ADD  CONSTRAINT [FK_AlertHistory_Alert] FOREIGN KEY([AlertId])
REFERENCES [dbo].[Alert] ([AlertId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlertHistory] CHECK CONSTRAINT [FK_AlertHistory_Alert]
GO
