USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ScopedInstanceTargetClass]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScopedInstanceTargetClass](
	[ScopedInstanceId] [uniqueidentifier] NULL,
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [idx_ScopedInstanceId_ManagedTypeId] UNIQUE CLUSTERED 
(
	[ScopedInstanceId] ASC,
	[ManagedTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
