USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Windows$Cluster]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Windows$Cluster] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[HighestVersion_8CD727F8_8EB6_97DC_00D0_8720EA3BC20A], T1.[IsRunningMixedVersion_DCE17559_FF03_0622_2789_2A588F5142D7], T1.[LowestVersion_05358921_ACBD_9E42_16C7_266957EE44F2], T1.[Name_2AAEC7A7_E01E_B420_2933_FFCB7C8DCD07], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[OSVersion_3EA023B7_F70D_3284_71CE_6B287C837724], T1.[VendorId_DEBEA97A_8F13_7D76_4E90_058CC52FB62A] FROM [dbo].[MT_Microsoft$Windows$Cluster] T1
GO
