USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AemAppBucketInfo]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AemAppBucketInfo](
	[AppId] [uniqueidentifier] NOT NULL,
	[BucketId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
 CONSTRAINT [PK_AemAppBucketInfo] PRIMARY KEY NONCLUSTERED 
(
	[AppId] ASC,
	[BucketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AemAppBucketInfo] ADD  CONSTRAINT [DF_AemAppBucketInfo_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
