USE [OperationsManager]
GO
/****** Object:  Table [dbo].[JobLog]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobLog](
	[JobLogId] [uniqueidentifier] NOT NULL,
	[JobInternalId] [bigint] NOT NULL,
	[Level] [tinyint] NOT NULL,
	[Source] [nvarchar](256) NULL,
	[Message] [nvarchar](1000) NULL,
	[TimeGenerated] [datetime] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
 CONSTRAINT [PK_JobLog] PRIMARY KEY NONCLUSTERED 
(
	[JobLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobLog] ADD  CONSTRAINT [DF_JobLog_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[JobLog]  WITH CHECK ADD  CONSTRAINT [FK_JobLog_JobStatus] FOREIGN KEY([JobInternalId])
REFERENCES [dbo].[JobStatus] ([JobInternalId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobLog] CHECK CONSTRAINT [FK_JobLog_JobStatus]
GO
