USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$ApmAgent]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$ApmAgent] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[EnableAllCriticalExceptions_08BBE584_0296_A9ED_CE3C_9050EF7D91FE], T1.[EnableDisableEventThrottling_91390CBD_CDD3_3085_3215_99ADBCC5B2BE], T1.[EnableMonitoringAllWebApplications_DA393112_A84E_D44D_E246_AA7D3B74BEA2], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PerformanceThreshold_FE0AD259_F3C3_6E3E_9C9B_58711ADAA50A], T1.[SensitivityThreshold_252C8CA2_DD72_1E40_EB2D_525933BD63EB], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$ApmAgent] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '2CA215D3-B164-5281-EF7F-C824BD1EF1F8'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
