USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DiscoverySourceToRelationship]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoverySourceToRelationship](
	[DiscoverySourceId] [uniqueidentifier] NOT NULL,
	[RelationshipId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[TimeGenerated] [datetime] NOT NULL,
 CONSTRAINT [PK_DiscoverySourceToRelationship] PRIMARY KEY CLUSTERED 
(
	[DiscoverySourceId] ASC,
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoverySourceToRelationship] ADD  CONSTRAINT [DF_DiscoverySourceToRelationship_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DiscoverySourceToRelationship]  WITH CHECK ADD  CONSTRAINT [FK_DiscoverySourceToRelationship_DiscoverySource] FOREIGN KEY([DiscoverySourceId])
REFERENCES [dbo].[DiscoverySource] ([DiscoverySourceId])
GO
ALTER TABLE [dbo].[DiscoverySourceToRelationship] CHECK CONSTRAINT [FK_DiscoverySourceToRelationship_DiscoverySource]
GO
ALTER TABLE [dbo].[DiscoverySourceToRelationship]  WITH CHECK ADD  CONSTRAINT [FK_DiscoverySourceToRelationship_Relationship] FOREIGN KEY([RelationshipId])
REFERENCES [dbo].[Relationship] ([RelationshipId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiscoverySourceToRelationship] CHECK CONSTRAINT [FK_DiscoverySourceToRelationship_Relationship]
GO
