USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ReportParameterControlImplementation]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportParameterControlImplementation](
	[ReportParameterControlImplementationId] [uniqueidentifier] NOT NULL,
	[ReportParameterControlId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Platform] [tinyint] NOT NULL,
	[Assembly] [nvarchar](256) NOT NULL,
	[Type] [nvarchar](256) NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ReportParameterControlImplementationId] PRIMARY KEY CLUSTERED 
(
	[ReportParameterControlImplementationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportParameterControlImplementation] ADD  CONSTRAINT [DF_ReportParameterControlImplementationId_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ReportParameterControlImplementation] ADD  CONSTRAINT [DF_ReportParameterControlImplementationId_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ReportParameterControlImplementation]  WITH CHECK ADD  CONSTRAINT [FK_ReportParameterControlImplementation_ReportParameterControlId] FOREIGN KEY([ReportParameterControlId])
REFERENCES [dbo].[ReportParameterControl] ([ReportParameterControlId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportParameterControlImplementation] CHECK CONSTRAINT [FK_ReportParameterControlImplementation_ReportParameterControlId]
GO
