USE [OperationsManager]
GO
/****** Object:  View [dbo].[ImageView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ImageView] AS
    SELECT [ImageEntity].[ImageId] AS Id, 
           [ImageEntity].[ImageName] AS [Name], 
           [ImageEntity].[ManagementPackId],
           [ImageEntity].[ImageAccessibility] AS Accessibility, 
           [ImageEntity].[Imagedata], 
           [ImageEntity].[Metadata] AS ImageSettings, 
           [ImageEntity].[ImageCategory] AS Category, 
           [ImageEntity].[TimeAdded],
           [ImageEntity].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[ImageEntity] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [ImageEntity].[ImageId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [ImageEntity].[ImageId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [ImageEntity].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
