USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Warehouse$CubeExtension_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Warehouse$CubeExtension_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_Path_18EAC831_7885_85A7_A3A0_A2C23B1D1096] [nvarchar](max) NULL,
	[Post_Path_18EAC831_7885_85A7_A3A0_A2C23B1D1096] [nvarchar](max) NULL,
	[Pre_Actions_3F201C40_4F3F_E496_669E_81C8B7526F54] [nvarchar](max) NULL,
	[Post_Actions_3F201C40_4F3F_E496_669E_81C8B7526F54] [nvarchar](max) NULL,
	[Pre_ManyToManyRelationships_0710EE73_4CC1_640F_68DA_BAD919EC51BD] [nvarchar](max) NULL,
	[Post_ManyToManyRelationships_0710EE73_4CC1_640F_68DA_BAD919EC51BD] [nvarchar](max) NULL,
	[Pre_Domain_B4EC57C4_9AB7_1E73_276F_7DD1DED4D018] [nvarchar](max) NULL,
	[Post_Domain_B4EC57C4_9AB7_1E73_276F_7DD1DED4D018] [nvarchar](max) NULL,
	[Pre_NamedCalculations_1BD44213_FAED_E754_454F_689979A301CE] [nvarchar](max) NULL,
	[Post_NamedCalculations_1BD44213_FAED_E754_454F_689979A301CE] [nvarchar](max) NULL,
	[Pre_Comment_3D73C398_DA30_347E_3F59_F034DBBD3CBC] [nvarchar](256) NULL,
	[Post_Comment_3D73C398_DA30_347E_3F59_F034DBBD3CBC] [nvarchar](256) NULL,
	[Pre_CustomMDX_056B2332_BB9A_DCEC_401F_B25A16485C60] [nvarchar](256) NULL,
	[Post_CustomMDX_056B2332_BB9A_DCEC_401F_B25A16485C60] [nvarchar](256) NULL,
	[Pre_Internal_ManagementPackId_632F11E2_C888_9C4B_95F6_DA4D83B09E16] [uniqueidentifier] NULL,
	[Post_Internal_ManagementPackId_632F11E2_C888_9C4B_95F6_DA4D83B09E16] [uniqueidentifier] NULL,
	[Pre_ID_17CBD51E_016D_B88E_2807_FBD8D2B8EE65] [nvarchar](max) NULL,
	[Post_ID_17CBD51E_016D_B88E_2807_FBD8D2B8EE65] [nvarchar](max) NULL,
	[Pre_Target_C3276AFE_0945_515A_2BDF_CA0C224BA32E] [nvarchar](512) NULL,
	[Post_Target_C3276AFE_0945_515A_2BDF_CA0C224BA32E] [nvarchar](512) NULL,
	[Pre_Internal_ParentId_29D6CD66_B56D_6340_248D_E37311561650] [uniqueidentifier] NULL,
	[Post_Internal_ParentId_29D6CD66_B56D_6340_248D_E37311561650] [uniqueidentifier] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Internal_ElementId_538A4619_C36F_1FC3_EF99_91E2C46FBB4B] [uniqueidentifier] NULL,
	[Post_Internal_ElementId_538A4619_C36F_1FC3_EF99_91E2C46FBB4B] [uniqueidentifier] NULL,
	[Pre_KPIS_CA0C20B6_38DD_D4B8_6C09_D7BBD5BCCBB6] [nvarchar](max) NULL,
	[Post_KPIS_CA0C20B6_38DD_D4B8_6C09_D7BBD5BCCBB6] [nvarchar](max) NULL,
	[Pre_Measures_1E453976_C4A3_3D6D_EE39_682940526AD2] [nvarchar](max) NULL,
	[Post_Measures_1E453976_C4A3_3D6D_EE39_682940526AD2] [nvarchar](max) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Warehouse$CubeExtension_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
