USE [OperationsManager]
GO
/****** Object:  View [dbo].[RecoveryView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[RecoveryView] AS
    SELECT [Recovery].[RecoveryId] AS Id, 
           [Recovery].[RecoveryName] AS [Name], 
           [Recovery].[ManagementPackId],
           [Recovery].[RecoveryAccessibility] AS Accessibility, 
           [Recovery].[RecoveryEnabled] AS Enabled, 
           [Recovery].[RecoveryTarget] AS TargetMonitoringClassId, 
           [Recovery].[RecoveryMonitor] AS MonitorId, 
           [Recovery].[ResetMonitor] AS ResetMonitor, 
           [Recovery].[ExecuteOnState],
           [Recovery].[ExecuteOnDiagnostic] AS MonitoringDiagnosticId, 
           [Recovery].[RecoveryRemotable] AS Remotable, 
           [Recovery].[RecoveryCategory] AS Category,
           [Recovery].[TimeOut] AS Timeout, 
           [Recovery].[TimeAdded],
           [Recovery].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[Recovery] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [Recovery].[RecoveryId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [Recovery].[RecoveryId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Recovery].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
