USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$Fan]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$Fan] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AlarmIndex_20EFFFAC_5592_3824_F7A5_04FD58FE2EB8], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_A782C9D3_F809_2DED_760B_B56A46256F09], T1.[Index_020C23A0_E195_EB5D_81C6_396E8B7B98F7], T1.[Key_78DD6973_976C_6E0B_CDCF_1CF9DA6A3AD1], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[OwnerIndex_04C40793_8F43_E18D_5694_22A666F4F9FB], T2.[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] AS [DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] FROM [dbo].[MT_System$NetworkManagement$Fan] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '913CC9CF-7012-B155-5A83-8001F3191037'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_System$NetworkManagement$Node] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
