USE [OperationsManager]
GO
/****** Object:  View [dbo].[RecursiveMembershipView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[RecursiveMembershipView] AS
	SELECT ContainerEntityId, ContainedEntityId, Depth, PathCount, LastModified FROM [dbo].[RecursiveMembership] WITH (NOLOCK)
GO
