USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$Build_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$Build_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_SourcePath_552FE408_1D0A_891B_9888_D30DC34477DE] [nvarchar](1024) NULL,
	[Post_SourcePath_552FE408_1D0A_891B_9888_D30DC34477DE] [nvarchar](1024) NULL,
	[Pre_Category_631EE31C_C4C4_5C0E_457F_38A7B8A7B602] [uniqueidentifier] NULL,
	[Post_Category_631EE31C_C4C4_5C0E_457F_38A7B8A7B602] [uniqueidentifier] NULL,
	[Pre_Repository_50C49D32_ED99_D8F0_5464_70C88F6D73EE] [nvarchar](1024) NULL,
	[Post_Repository_50C49D32_ED99_D8F0_5464_70C88F6D73EE] [nvarchar](1024) NULL,
	[Pre_Notes_DDB45A4A_11FE_4AFE_DCDE_4AA57DD51568] [nvarchar](4000) NULL,
	[Post_Notes_DDB45A4A_11FE_4AFE_DCDE_4AA57DD51568] [nvarchar](4000) NULL,
	[Pre_Description_B488292E_46E0_8B80_9882_81716E18947D] [nvarchar](4000) NULL,
	[Post_Description_B488292E_46E0_8B80_9882_81716E18947D] [nvarchar](4000) NULL,
	[Pre_Title_D87D7B1D_BD2F_8DAD_D137_49DDBC0896D1] [nvarchar](256) NULL,
	[Post_Title_D87D7B1D_BD2F_8DAD_D137_49DDBC0896D1] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Instructions_7906E0D3_0C1A_D992_BC69_B1143F3ACBDA] [nvarchar](max) NULL,
	[Post_Instructions_7906E0D3_0C1A_D992_BC69_B1143F3ACBDA] [nvarchar](max) NULL,
	[Pre_Version_C296318E_4033_1552_B35C_7EB566351411] [nvarchar](256) NULL,
	[Post_Version_C296318E_4033_1552_B35C_7EB566351411] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_System$Build_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$Build_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$Build_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
