USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitorOperationalState]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorOperationalState](
	[MonitorOperationalStateId] [uniqueidentifier] NOT NULL,
	[MonitorOperationalStateName] [nvarchar](256) NOT NULL,
	[MonitorId] [uniqueidentifier] NOT NULL,
	[MonitorTypeStateId] [uniqueidentifier] NOT NULL,
	[HealthState] [tinyint] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MonitorOperationalState] PRIMARY KEY CLUSTERED 
(
	[MonitorOperationalStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonitorOperationalState] ADD  CONSTRAINT [DF_MonitorOperationalState_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[MonitorOperationalState] ADD  CONSTRAINT [DF_MonitorOperationalState_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[MonitorOperationalState]  WITH CHECK ADD  CONSTRAINT [FK_MonitorOperationalState_MonitorId] FOREIGN KEY([MonitorId])
REFERENCES [dbo].[Monitor] ([MonitorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitorOperationalState] CHECK CONSTRAINT [FK_MonitorOperationalState_MonitorId]
GO
