USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleTypeScopeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleTypeScopeView] AS
    -- The query below extracts the instance scope that is associated 
    -- with a user role
    SELECT  
           UR.[UserRoleId],
           URGT.[GroupId],
           URGT.[TypeId],
           URSH.ScopeId,
           O.[ScopeType],
           O.OperationId AS OperationId
    FROM dbo.UserRole AS UR
    INNER JOIN dbo.ProfileOperation AS PO
    ON UR.ProfileId = PO.ProfileId
    INNER JOIN dbo.Operation AS O
    ON PO.OperationId = O.OperationId
    -- Since the UserRoleGroupType stores scopes for user roles per scope type,
    -- we want to match the operation scope type.
    INNER JOIN dbo.UserRoleScopeHandle AS URSH
    ON  UR.UserRoleId = URSH.UserRoleId    
    INNER JOIN dbo.UserRoleGroupType AS URGT
    ON  URSH.ScopeId = URGT.ScopeId
    WHERE (O.ScopeType = 4 AND URGT.ScopeType = 4)
GO
