USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvgRequestTimeMonitorEnabled_91FBBEEB_24F1_63D8_5023_C9A9047B86A9], T1.[AvgRequestTimeMonitorInterval_4F3C422D_EB90_9804_B5A7_EAC4F5F3F606], T1.[AvgRequestTimeMonitorThreshold_B28E9358_78A8_9F3D_CF7B_C8A98149D7D2], T1.[ExceptionAlerts_2A884427_54BC_6688_4527_29CD8F4EE23D], T1.[ExceptionRateMonitorEnabled_20F36EB7_7465_444F_BA09_DDE1E7BFB182], T1.[ExceptionRateMonitorInterval_CD8231FC_A4B8_1214_2824_32F03F9CED7A], T1.[ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PageLoadThreshold_3891F7D1_92C0_87C4_947F_F2390310195C], T1.[PageName_EFA0DA87_407D_A2F8_1B2E_E79931C5C533], T1.[PerformanceAlerts_8A09C2A4_A24F_696F_8814_CD7271EA36AB], T1.[PerformanceRateMonitorEnabled_FB710B57_5DCD_C59B_B246_983FE81921E9], T1.[PerformanceRateMonitorInterval_92B088DF_EC3C_042D_402E_15A1EC15EF5F], T1.[PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928], T1.[SensitivityThreshold_1EC4CF49_EFF7_AEA9_8616_65F5EFB6CB4E], T1.[TransactionName_D55C57A4_E5F7_7F71_492B_4E3752102112], T3.[IISApplicationPath_7AA27C56_F75C_358E_DF4C_BA97C7C31C37] AS [IISApplicationPath_7AA27C56_F75C_358E_DF4C_BA97C7C31C37], T4.[Id_EE996801_C54E_6A13_0F3A_584738E7FB06] AS [Id_EE996801_C54E_6A13_0F3A_584738E7FB06] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '91EBF709-C710-EB70-E7B5-0E83020A02DB'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = '27E4E840-5D6C-4ED0-FCC9-8659FFD153C7'  AND RT3.TargetEntityId = T2.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$WebApplicationComponent] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT4 ON (RT4.RelationshipTypeId = '1F2AD65D-21C6-6903-F965-56B218A21187'  AND RT4.TargetEntityId = T3.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] T4 ON RT4.SourceEntityId = T4.BaseManagedEntityId
GO
