USE [OperationsManager]
GO
/****** Object:  Table [dbo].[LastQueueRead]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastQueueRead](
	[QueueName] [nvarchar](128) NOT NULL,
	[ReadTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
