USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedTypePropertyStaging]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTypePropertyStaging](
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagedTypePropertyName] [nvarchar](256) NOT NULL,
	[IsPrimaryKey] [bit] NOT NULL,
	[IsCaseSensitive] [bit] NULL,
	[PropertyType] [tinyint] NOT NULL,
	[PropertyLength] [int] NULL,
	[PropertyMinLength] [int] NULL,
	[PropertyScale] [tinyint] NULL,
	[ColumnName] [nvarchar](128) NULL,
	[ColumnOrder] [int] NULL,
	[InternalOrder] [int] NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[Required] [bit] NULL,
	[IsAutoIncrement] [bit] NULL,
	[Optimized] [bit] NULL,
	[MinValue] [int] NULL,
	[MaxValue] [int] NULL,
	[RegEx] [nvarchar](255) NULL,
	[EnumTypeId] [uniqueidentifier] NULL,
	[DefaultValue] [nvarchar](2000) NULL,
 CONSTRAINT [PK_ManagedTypePropertyStaging] PRIMARY KEY NONCLUSTERED 
(
	[ManagedTypePropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging] ADD  CONSTRAINT [DF_ManagedTypePropertyStaging_IsPrimaryKey]  DEFAULT ((0)) FOR [IsPrimaryKey]
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging] ADD  CONSTRAINT [DF_ManagedTypePropertyStaging_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging] ADD  CONSTRAINT [DF_ManagedTypePropertyStaging_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging] ADD  CONSTRAINT [DF_ManagedTypePropertyStaging_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging]  WITH CHECK ADD  CONSTRAINT [CK_ManagedTypePropertyStaging_Namelen] CHECK  ((len([ManagedTypePropertyName])>(0)))
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging] CHECK CONSTRAINT [CK_ManagedTypePropertyStaging_Namelen]
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging]  WITH CHECK ADD  CONSTRAINT [CK_ManagedTypePropertyStaging_PropertyScale] CHECK  (([PropertyScale]<=(38)))
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging] CHECK CONSTRAINT [CK_ManagedTypePropertyStaging_PropertyScale]
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging]  WITH CHECK ADD  CONSTRAINT [CK_ManagedTypePropertyStaging_PropertyType] CHECK  (([PropertyType]>=(0) AND [PropertyType]<=(10)))
GO
ALTER TABLE [dbo].[ManagedTypePropertyStaging] CHECK CONSTRAINT [CK_ManagedTypePropertyStaging_PropertyType]
GO
