USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$OperatingSystem$Mobile]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$OperatingSystem$Mobile](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Name_8E54E4DE_CCA3_1356_0295_A72F9A2D3990] [nvarchar](1024) NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Language_7EC34044_AB9D_B408_4A79_B7BB3D32734F] [nvarchar](256) NOT NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Version_0B0671B2_5477_68B0_1C3B_111E091C15AD] [nvarchar](256) NOT NULL,
	[Publisher_0925D731_1114_7EAD_30A6_E6D026518D97] [nvarchar](1024) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_System$OperatingSystem$Mobile] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$OperatingSystem$Mobile] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
