USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ViewTypeStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewTypeStaging](
	[ViewTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[ViewTypeName] [nvarchar](256) NOT NULL,
	[ViewTypeAccessibility] [tinyint] NOT NULL,
	[AssemblyName] [uniqueidentifier] NOT NULL,
	[AssemblyPath] [nvarchar](400) NULL,
	[ConfigurationXSD] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
 CONSTRAINT [PK_ViewTypeStaging] PRIMARY KEY CLUSTERED 
(
	[ViewTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
