USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactDegenerateDimensionStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactDegenerateDimensionStaging](
	[FactId] [uniqueidentifier] NOT NULL,
	[FactDegenerateDimensionId] [uniqueidentifier] NOT NULL,
	[FactDegenerateDimensionName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[IsCaseSensitive] [bit] NULL,
	[Nullable] [bit] NULL,
	[DataType] [tinyint] NOT NULL,
	[MaxLength] [int] NULL,
	[MinLength] [int] NULL,
	[Scale] [tinyint] NULL,
	[MinValue] [int] NULL,
	[MaxValue] [int] NULL,
	[DefaultValue] [nvarchar](2000) NULL
) ON [PRIMARY]
GO
