USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_PageName_150FF8E1_4419_205B_D9F6_A08B25A575CD] [nvarchar](512) NULL,
	[Post_PageName_150FF8E1_4419_205B_D9F6_A08B25A575CD] [nvarchar](512) NULL,
	[Pre_CounterInstance_28E4ED4C_80E0_B59C_D02D_EE158F5F957B] [nvarchar](512) NULL,
	[Post_CounterInstance_28E4ED4C_80E0_B59C_D02D_EE158F5F957B] [nvarchar](512) NULL,
	[Pre_ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34] [float] NULL,
	[Post_ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34] [float] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_SensitivityThreshold_431EE837_76A5_1FB2_05F2_CE0DF0B14C7A] [int] NULL,
	[Post_SensitivityThreshold_431EE837_76A5_1FB2_05F2_CE0DF0B14C7A] [int] NULL,
	[Pre_ExceptionRateMonitorInterval_46F97524_839B_E6ED_D2E5_ADE2C79AFCA4] [int] NULL,
	[Post_ExceptionRateMonitorInterval_46F97524_839B_E6ED_D2E5_ADE2C79AFCA4] [int] NULL,
	[Pre_AvgRequestTimeMonitorThreshold_0122E3E9_2DD9_D6C5_4BC0_DBBA9754A812] [int] NULL,
	[Post_AvgRequestTimeMonitorThreshold_0122E3E9_2DD9_D6C5_4BC0_DBBA9754A812] [int] NULL,
	[Pre_PageLoadThreshold_35292816_E6F7_A5A6_8FAD_685FD12344E2] [int] NULL,
	[Post_PageLoadThreshold_35292816_E6F7_A5A6_8FAD_685FD12344E2] [int] NULL,
	[Pre_TransactionName_B74261D5_A2E0_957B_CE70_07B9D5DF3426] [nvarchar](256) NULL,
	[Post_TransactionName_B74261D5_A2E0_957B_CE70_07B9D5DF3426] [nvarchar](256) NULL,
	[Pre_PerformanceRateMonitorInterval_2DD5A9EF_A323_321A_6EE5_21AFF84A05A7] [int] NULL,
	[Post_PerformanceRateMonitorInterval_2DD5A9EF_A323_321A_6EE5_21AFF84A05A7] [int] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA] [float] NULL,
	[Post_PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA] [float] NULL,
	[Pre_AvgRequestTimeMonitorInterval_2F4143D5_B14D_7EAB_DB19_7DB638EEACC9] [int] NULL,
	[Post_AvgRequestTimeMonitorInterval_2F4143D5_B14D_7EAB_DB19_7DB638EEACC9] [int] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34]>=(0) AND [Post_ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Post_SensitivityThreshold_431EE837_76A5_1FB2_05F2_CE0DF0B14C7A]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorInterval_46F97524_839B_E6ED_D2E5_ADE2C79AFCA4]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorThreshold_0122E3E9_2DD9_D6C5_4BC0_DBBA9754A812]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Post_PageLoadThreshold_35292816_E6F7_A5A6_8FAD_685FD12344E2]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorInterval_2DD5A9EF_A323_321A_6EE5_21AFF84A05A7]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA]>=(0) AND [Post_PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorInterval_2F4143D5_B14D_7EAB_DB19_7DB638EEACC9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorThreshold_0122E3E9_2DD9_D6C5_4BC0_DBBA9754A812]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorInterval_2F4143D5_B14D_7EAB_DB19_7DB638EEACC9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34]>=(0) AND [Pre_ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorInterval_46F97524_839B_E6ED_D2E5_ADE2C79AFCA4]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Pre_PageLoadThreshold_35292816_E6F7_A5A6_8FAD_685FD12344E2]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorInterval_2DD5A9EF_A323_321A_6EE5_21AFF84A05A7]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA]>=(0) AND [Pre_PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransaction_Log]  WITH CHECK ADD CHECK  (([Pre_SensitivityThreshold_431EE837_76A5_1FB2_05F2_CE0DF0B14C7A]>=(0)))
GO
