USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactMeasure]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactMeasure](
	[FactId] [uniqueidentifier] NOT NULL,
	[MeasureId] [uniqueidentifier] NOT NULL,
	[FactMeasureId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_FactMeasure] PRIMARY KEY CLUSTERED 
(
	[FactMeasureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactMeasure] ADD  CONSTRAINT [DF_FactMeasure_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[FactMeasure] ADD  CONSTRAINT [DF_FactMeasure_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[FactMeasure]  WITH CHECK ADD  CONSTRAINT [FK_FactMeasure_Fact] FOREIGN KEY([FactId])
REFERENCES [dbo].[Fact] ([FactId])
GO
ALTER TABLE [dbo].[FactMeasure] CHECK CONSTRAINT [FK_FactMeasure_Fact]
GO
ALTER TABLE [dbo].[FactMeasure]  WITH CHECK ADD  CONSTRAINT [FK_FactMeasure_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactMeasure] CHECK CONSTRAINT [FK_FactMeasure_ManagementPack]
GO
