USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_WatsonBucket]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_WatsonBucket](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Parameter9] [nvarchar](256) NOT NULL,
	[AppName] [nvarchar](256) NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[BucketType] [nvarchar](256) NOT NULL,
	[Parameter4] [nvarchar](256) NOT NULL,
	[CustomMemoryDump] [nvarchar](3) NULL,
	[Parameter5] [nvarchar](256) NOT NULL,
	[Parameter11] [nvarchar](256) NOT NULL,
	[MSResponseUrl] [nvarchar](256) NULL,
	[CustomGetCurrentOfficeDoc] [bit] NULL,
	[MSBucketTable] [int] NULL,
	[MSBucket] [int] NULL,
	[Parameter2] [nvarchar](256) NOT NULL,
	[MSGetCurrentOfficeDoc] [bit] NULL,
	[AppVer] [nvarchar](256) NULL,
	[CustomRegKey] [nvarchar](max) NULL,
	[Parameter10] [nvarchar](256) NOT NULL,
	[MSRegKey] [nvarchar](max) NULL,
	[SelectedCollectionResponseType] [nvarchar](256) NULL,
	[MSWQL] [nvarchar](max) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[CustomWQL] [nvarchar](max) NULL,
	[CustomGetFile] [nvarchar](max) NULL,
	[CustomResponseUrl] [nvarchar](256) NULL,
	[MSDisplayType] [nvarchar](256) NULL,
	[SelectedSolutionResponseType] [nvarchar](256) NULL,
	[Parameter8] [nvarchar](256) NOT NULL,
	[MSGetFile] [nvarchar](max) NULL,
	[CustomRegTree] [nvarchar](max) NULL,
	[CustomGetFileVersion] [nvarchar](max) NULL,
	[MSMemoryDump] [nvarchar](3) NULL,
	[Parameter1] [nvarchar](256) NOT NULL,
	[Parameter6] [nvarchar](256) NOT NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Parameter3] [nvarchar](256) NOT NULL,
	[Parameter7] [nvarchar](256) NOT NULL,
	[MSGetFileVersion] [nvarchar](max) NULL,
	[MSRegTree] [nvarchar](max) NULL,
 CONSTRAINT [PK_MT_WatsonBucket] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_WatsonBucket] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
