USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$NetworkService_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$NetworkService_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_Key_E49761C1_3B1B_10EA_4726_B76EE993BA15] [nvarchar](256) NULL,
	[Post_Key_E49761C1_3B1B_10EA_4726_B76EE993BA15] [nvarchar](256) NULL,
	[Pre_AvailabilitySchedule_0DB3A9F3_2891_A02B_E37B_9EFDAF3B35E6] [nvarchar](256) NULL,
	[Post_AvailabilitySchedule_0DB3A9F3_2891_A02B_E37B_9EFDAF3B35E6] [nvarchar](256) NULL,
	[Pre_Priority_C75CD6B5_508A_DDE6_ECD0_EBC2434F5431] [uniqueidentifier] NULL,
	[Post_Priority_C75CD6B5_508A_DDE6_ECD0_EBC2434F5431] [uniqueidentifier] NULL,
	[Pre_IsBusinessService_B6DE4F73_1D1D_2097_F7E6_1E1C80AE1492] [bit] NULL,
	[Post_IsBusinessService_B6DE4F73_1D1D_2097_F7E6_1E1C80AE1492] [bit] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_ServiceDescription_581483BC_0B32_2063_5D51_AD4F6B814175] [nvarchar](256) NULL,
	[Post_ServiceDescription_581483BC_0B32_2063_5D51_AD4F6B814175] [nvarchar](256) NULL,
	[Pre_ServiceKey_E8A0B8D4_C5ED_CBF1_0490_2C1D008EE60F] [nvarchar](256) NULL,
	[Post_ServiceKey_E8A0B8D4_C5ED_CBF1_0490_2C1D008EE60F] [nvarchar](256) NULL,
	[Pre_OwnedByOrganization_489FFC8D_DE2D_3424_EF85_456834AF940E] [nvarchar](256) NULL,
	[Post_OwnedByOrganization_489FFC8D_DE2D_3424_EF85_456834AF940E] [nvarchar](256) NULL,
	[Pre_BusinessDetailedDescription_BBB19438_4A6A_24C5_B38C_682B19230A96] [nvarchar](256) NULL,
	[Post_BusinessDetailedDescription_BBB19438_4A6A_24C5_B38C_682B19230A96] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_Description_7AF1FD06_ED75_946B_FEC5_6FCA88523E4E] [nvarchar](256) NULL,
	[Post_Description_7AF1FD06_ED75_946B_FEC5_6FCA88523E4E] [nvarchar](256) NULL,
	[Pre_Status_0689C997_03F2_83DE_C0E7_FB8E18574552] [uniqueidentifier] NULL,
	[Post_Status_0689C997_03F2_83DE_C0E7_FB8E18574552] [uniqueidentifier] NULL,
	[Pre_Classification_EE738100_A25A_F850_7195_ADBD21E8D019] [uniqueidentifier] NULL,
	[Post_Classification_EE738100_A25A_F850_7195_ADBD21E8D019] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$NetworkService_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$NetworkService_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$NetworkService_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
