USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Server$Computer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Server$Computer](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[IsVirtualNode_B880813A_A3C6_D422_463E_E5739F81BDCA] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Server$Computer] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
