USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DiscoveryStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryStaging](
	[DiscoveryId] [uniqueidentifier] NOT NULL,
	[DiscoveryName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[DiscoveryAccessibility] [tinyint] NOT NULL,
	[DiscoveryEnabled] [tinyint] NOT NULL,
	[DiscoveryTarget] [uniqueidentifier] NOT NULL,
	[DiscoveryConfirmDelivery] [bit] NOT NULL,
	[DiscoveryRemotable] [bit] NOT NULL,
	[DiscoveryCategory] [tinyint] NOT NULL,
	[DiscoveryPriority] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
