USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_HealthService_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_HealthService_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_RequestCompression] [bit] NULL,
	[Post_RequestCompression] [bit] NULL,
	[Pre_MaximumSizeOfAllTransferredFiles] [int] NULL,
	[Post_MaximumSizeOfAllTransferredFiles] [int] NULL,
	[Pre_Port] [int] NULL,
	[Post_Port] [int] NULL,
	[Pre_ThirdPartyAuthenticationUri] [nvarchar](256) NULL,
	[Post_ThirdPartyAuthenticationUri] [nvarchar](256) NULL,
	[Pre_IsRHS] [bit] NULL,
	[Post_IsRHS] [bit] NULL,
	[Pre_InstallTime] [datetime] NULL,
	[Post_InstallTime] [datetime] NULL,
	[Pre_HeartbeatEnabled] [bit] NULL,
	[Post_HeartbeatEnabled] [bit] NULL,
	[Pre_CreateListener] [bit] NULL,
	[Post_CreateListener] [bit] NULL,
	[Pre_InitiatesConnectionToParent] [bit] NULL,
	[Post_InitiatesConnectionToParent] [bit] NULL,
	[Pre_MaximumQueueSize] [int] NULL,
	[Post_MaximumQueueSize] [int] NULL,
	[Pre_PatchList] [nvarchar](256) NULL,
	[Post_PatchList] [nvarchar](256) NULL,
	[Pre_IsManuallyInstalled] [bit] NULL,
	[Post_IsManuallyInstalled] [bit] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_IsAgent] [bit] NULL,
	[Post_IsAgent] [bit] NULL,
	[Pre_AuthenticationName] [nvarchar](256) NULL,
	[Post_AuthenticationName] [nvarchar](256) NULL,
	[Pre_ActiveDirectoryManaged] [bit] NULL,
	[Post_ActiveDirectoryManaged] [bit] NULL,
	[Pre_Version] [nvarchar](256) NULL,
	[Post_Version] [nvarchar](256) NULL,
	[Pre_InstalledBy] [nvarchar](256) NULL,
	[Post_InstalledBy] [nvarchar](256) NULL,
	[Pre_ActionAccountIdentity] [nvarchar](256) NULL,
	[Post_ActionAccountIdentity] [nvarchar](256) NULL,
	[Pre_ProxyingEnabled] [bit] NULL,
	[Post_ProxyingEnabled] [bit] NULL,
	[Pre_HeartbeatInterval] [int] NULL,
	[Post_HeartbeatInterval] [int] NULL,
	[Pre_IsGateway] [bit] NULL,
	[Post_IsGateway] [bit] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_Protocol] [nvarchar](256) NULL,
	[Post_Protocol] [nvarchar](256) NULL,
	[Pre_IsManagementServer] [bit] NULL,
	[Post_IsManagementServer] [bit] NULL,
 CONSTRAINT [PK_MT_HealthService_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_HealthService_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_HealthService_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
