USE [OperationsManager]
GO
/****** Object:  Table [dbo].[LanguagePackStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguagePackStaging](
	[LanguagePackId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [nvarchar](3) NOT NULL,
	[LanguageIsDefault] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
