USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$IP]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$IP] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Address_4351A03D_B9AB_CC8F_6F04_6135882AA918], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_6268DD26_79FE_55AC_37C4_747A109FA087], T1.[Key_E5006F89_0A34_4C15_9347_822001C413F3], T1.[Netmask_94575027_F599_ACBB_E798_9B1CBB23D3A6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[RouteDistinguisher_3F644F3F_0526_669A_7AC4_CF9B2B7F4CF2], T1.[Tag_39E3C026_D4C5_3AF4_DD58_0CEDBA482DC5], T2.[Index_A971B837_9C31_C8B6_ECEB_4E292B207AD8], T3.[DuplicatedBySystems_BB5B7F39_AD7A_AD69_60AC_768DF7491FC0] FROM [dbo].[MT_System$NetworkManagement$IP] T1 LEFT JOIN [dbo].[MT_System$NetworkManagement$ICMP_IP] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$DuplicateIP] T3 ON T1.BaseManagedEntityId = T3.BaseManagedEntityId
GO
