USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RelationshipTypeStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipTypeStaging](
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeName] [nvarchar](256) NOT NULL,
	[BaseRelationshipTypeId] [uniqueidentifier] NULL,
	[SourceManagedTypeId] [uniqueidentifier] NOT NULL,
	[TargetManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[IsAbstract] [bit] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[IsSealed] [bit] NOT NULL,
	[IsCycleOk] [bit] NOT NULL,
	[RelationshipTypeTableName] [nvarchar](128) NULL,
	[RelationshipTypeViewName] [nvarchar](128) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[SourceName] [nvarchar](256) NULL,
	[SourceId] [uniqueidentifier] NULL,
	[TargetName] [nvarchar](256) NULL,
	[TargetId] [uniqueidentifier] NULL,
	[SourceMaxCardinality] [int] NULL,
	[TargetMaxCardinality] [int] NULL,
	[SourceMinCardinality] [int] NULL,
	[TargetMinCardinality] [int] NULL,
	[IsHosting] [bit] NULL,
 CONSTRAINT [PK_RelationshipTypeStaging] PRIMARY KEY NONCLUSTERED 
(
	[RelationshipTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipTypeStaging] ADD  CONSTRAINT [DF_RelationshipTypeStaging_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[RelationshipTypeStaging] ADD  CONSTRAINT [DF_RelationshipTypeStaging_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[RelationshipTypeStaging] ADD  CONSTRAINT [DF_RelationshipTypeStaging_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[RelationshipTypeStaging]  WITH CHECK ADD  CONSTRAINT [CK_RelationshipTypeNameStaging_Namelen] CHECK  ((len([RelationshipTypeName])>(0)))
GO
ALTER TABLE [dbo].[RelationshipTypeStaging] CHECK CONSTRAINT [CK_RelationshipTypeNameStaging_Namelen]
GO
