USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Windows$OperatingSystem]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Windows$OperatingSystem] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[BuildNumber_AD1AD242_439F_25C0_CF7B_39888EC1E8DA], T1.[CountryCode_13102CDE_D8DC_A165_4BF1_AF6D2BAFAB4C], T1.[CSDVersion_AFE62B62_74FC_2F06_D8A0_DEE31F14CD33], T1.[Description_DD9B5402_44CC_50D6_28F5_D2D82BD8738C], T1.[InstallDate_D848A085_8621_59DC_DBB2_AC3DAD80A8AC], T1.[Locale_A816111C_ADD6_C6F8_B0C9_917E6EA19C42], T1.[LogicalProcessors_5CAE4847_F75B_01D0_156E_1658D557B739], T1.[MajorVersion_7F89B4E1_1051_35E5_C81E_52A20AA9BFEE], T1.[Manufacturer_20CBB587_83E5_C349_0968_160DA79397DF], T1.[MinorVersion_016338CC_E4CB_EBBD_4812_0A1770A4C4D3], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[OSLanguage_1C2E7A7A_5C63_0193_9006_A739FC09B592], T1.[OSVersion_53D6DEB6_BE2E_D1B6_D49E_A623518BD867], T1.[OSVersionDisplayName_36306EC9_FC98_F061_E7C8_C948ADAA53E2], T1.[PhysicalMemory_708ED231_4FFB_71C2_ECE5_F07618E28419], T1.[ProductType_05615BBD_C0ED_FD30_4FCC_987B12A11497], T1.[SerialNumber_BBCA74A1_CAA9_9DFB_BE2B_0181615CBF00], T1.[ServicePackVersion_A19047C1_1D3F_D9B0_21AE_8B4E5B444616], T1.[SystemDrive_501BAB3F_69D3_1308_CD16_4AE327141610], T1.[WindowsDirectory_D8E83F37_FBA2_B465_9A1C_B6FA364ADF0C], T2.[InstallType_EE64CB8B_1914_5627_2380_654E72500527], T2.[PowerPlan_82E33F45_FA95_AE81_9A18_DFEC03F016EE], T3.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$Windows$OperatingSystem] T1 LEFT JOIN [dbo].[MT_Microsoft$Windows$Server$6$2$OperatingSystem] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = '139F9FA6-7825-FA42-9C16-E1E2EE98281B'  AND RT3.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId
GO
