USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_HealthService]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_HealthService](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[RequestCompression] [bit] NULL,
	[MaximumSizeOfAllTransferredFiles] [int] NULL,
	[Port] [int] NULL,
	[ThirdPartyAuthenticationUri] [nvarchar](256) NULL,
	[IsRHS] [bit] NULL,
	[InstallTime] [datetime] NULL,
	[HeartbeatEnabled] [bit] NULL,
	[CreateListener] [bit] NULL,
	[InitiatesConnectionToParent] [bit] NULL,
	[MaximumQueueSize] [int] NULL,
	[PatchList] [nvarchar](256) NULL,
	[IsManuallyInstalled] [bit] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[IsAgent] [bit] NULL,
	[AuthenticationName] [nvarchar](256) NULL,
	[ActiveDirectoryManaged] [bit] NULL,
	[Version] [nvarchar](256) NULL,
	[InstalledBy] [nvarchar](256) NULL,
	[ActionAccountIdentity] [nvarchar](256) NULL,
	[ProxyingEnabled] [bit] NULL,
	[HeartbeatInterval] [int] NULL,
	[IsGateway] [bit] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Protocol] [nvarchar](256) NULL,
	[IsManagementServer] [bit] NULL,
 CONSTRAINT [PK_MT_HealthService] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_HealthService] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
