USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$TemperatureSensor_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$TemperatureSensor_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_MajorAlarmThreshold_2AFF32BC_9595_DC86_C6E4_E37849C208F3] [int] NULL,
	[Post_MajorAlarmThreshold_2AFF32BC_9595_DC86_C6E4_E37849C208F3] [int] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Index_020C23A0_E195_EB5D_81C6_396E8B7B98F7] [nvarchar](256) NULL,
	[Post_Index_020C23A0_E195_EB5D_81C6_396E8B7B98F7] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_Description_A782C9D3_F809_2DED_760B_B56A46256F09] [nvarchar](256) NULL,
	[Post_Description_A782C9D3_F809_2DED_760B_B56A46256F09] [nvarchar](256) NULL,
	[Pre_Key_78DD6973_976C_6E0B_CDCF_1CF9DA6A3AD1] [nvarchar](256) NULL,
	[Post_Key_78DD6973_976C_6E0B_CDCF_1CF9DA6A3AD1] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$TemperatureSensor_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$TemperatureSensor_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$TemperatureSensor_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
