USE [OperationsManager]
GO
/****** Object:  View [dbo].[MPElementViewInternal]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MPElementViewInternal] AS
    SELECT ManagedTypeId AS MPElementId, TypeName AS MPElementName, 
    	N'ManagedType' AS MPElementType, ManagementPackId FROM [dbo].[ManagedType]
UNION ALL
    SELECT RelationshipTypeId AS MPElementId, RelationshipTypeName AS MPElementName,
    	N'RelationshipType' AS MPElementType, ManagementPackId FROM [dbo].[RelationshipType]
UNION ALL
    SELECT DatatypeId AS MPElementId, DatatypeName AS MPElementName, 
    	N'Datatype' AS MPElementType, ManagementPackId FROM [dbo].[Datatype]
UNION ALL
    SELECT SchemaTypeId AS MPElementId, SchemaTypeName AS MPElementName,
    	N'SchemaType' AS MPElementType, ManagementPackId FROM [dbo].[SchemaType]
UNION ALL
    SELECT TemplateId AS MPElementId, TemplateName AS MPElementName, 
    	N'Template' AS MPElementType, ManagementPackId FROM [dbo].[Template]
UNION ALL
    SELECT ObjectTemplateId AS MPElementId, ObjectTemplateName AS MPElementName, 
    	N'ObjectTemplate' AS MPElementType, ManagementPackId FROM [dbo].[ObjectTemplate]
UNION ALL 
    SELECT LanguagePackId AS MPElementId, LanguageCode AS MPElementName, 
    	N'LanguagePack' AS MPElementType, ManagementPackId FROM [dbo].[LanguagePack]
UNION ALL 
    SELECT ModuleTypeId AS MPElementId, MDTName AS MPElementName, 
    	N'ModuleType' AS MPElementType, ManagementPackId FROM [dbo].[ModuleType]
UNION ALL 
    SELECT MonitorTypeId AS MPElementId, MNTName AS MPElementName, 
    	N'MonitorType' AS MPElementType, ManagementPackId FROM [dbo].[MonitorType]
UNION ALL 
    SELECT MonitorId AS MPElementId, MonitorName AS MPElementName, 
    	N'Monitor' AS MPElementType, ManagementPackId FROM [dbo].[Monitor]
UNION ALL 
    SELECT RuleId AS MPElementId, RuleName AS MPElementName, 
    	N'Rule' AS MPElementType, ManagementPackId FROM [dbo].[Rules]
UNION ALL 
    SELECT TaskId AS MPElementId, TaskName AS MPElementName, 
    	N'Task' AS MPElementType, ManagementPackId FROM [dbo].[Task]
UNION ALL 
    SELECT ConsoleTaskId AS MPElementId, ConsoleTaskName AS MPElementName, 
    	N'ConsoleTask' AS MPElementType, ManagementPackId FROM [dbo].[ConsoleTask]
UNION ALL 
    SELECT ViewTypeId AS MPElementId, ViewTypeName AS MPElementName, 
    	N'ViewType' AS MPElementType, ManagementPackId FROM [dbo].[ViewType]
UNION ALL 
    SELECT ViewId AS MPElementId, ViewName AS MPElementName, 
    	N'View' AS MPElementType, ManagementPackId FROM [dbo].[Views]
UNION ALL 
    SELECT FolderId AS MPElementId, FolderName AS MPElementName, 
    	N'Folder' AS MPElementType, ManagementPackId FROM [dbo].[Folder]
UNION ALL 
    SELECT UIPageId AS MPElementId, UIPageName AS MPElementName, 
    	N'UIPage' AS MPElementType, ManagementPackId FROM [dbo].[UIPage]
UNION ALL 
    SELECT UIPageSetId AS MPElementId, UIPageSetName AS MPElementName, 
    	N'UIPageSet' AS MPElementType, ManagementPackId FROM [dbo].[UIPageSet]
UNION ALL
    SELECT UIPageReferenceId AS MPElementId, UIPageReferenceName AS MPElementName, 
       N'UIPageReference' AS MPElementType, ManagementPackId FROM [dbo].[UIPageReference]
UNION ALL 
    SELECT OverrideableParameterId AS MPElementId, OverrideableParameterName AS MPElementName, 
    	N'OverrideableParameter' AS MPElementType, ManagementPackId FROM [dbo].[OverrideableParameter]
UNION ALL 
    SELECT ReportId AS MPElementId, ReportName AS MPElementName, 
    	N'Report' AS MPElementType, ManagementPackId FROM [dbo].[Report]
UNION ALL 
    SELECT ReportParameterControlId AS MPElementId, ReportParameterControlName AS MPElementName, 
    	N'ReportParameterControl' AS MPElementType, ManagementPackId FROM [dbo].[ReportParameterControl]
UNION ALL 
    SELECT LinkedReportId AS MPElementId, LinkedReportName AS MPElementName, 
    	N'LinkedReport' AS MPElementType, ManagementPackId FROM [dbo].[LinkedReport]
UNION ALL 
    SELECT DataWarehouseScriptId AS MPElementId, DataWarehouseScriptName AS MPElementName, 
    	N'DataWarehouseScript' AS MPElementType, ManagementPackId FROM [dbo].[DataWarehouseScript]
UNION ALL 
    SELECT DataWarehouseDatasetId AS MPElementId, DataWarehouseDatasetName AS MPElementName, 
    	N'DataWarehouseDataSet' AS MPElementType, ManagementPackId FROM [dbo].[DataWarehouseDataset]
UNION ALL 
    SELECT ReportResourceId AS MPElementId, ReportResourceName AS MPElementName, 
    	N'ReportResource' AS MPElementType, ManagementPackId FROM [dbo].[ReportResource]
UNION ALL 
    SELECT ReportStringId AS MPElementId, ReportStringName AS MPElementName, 
    	N'ReportString' AS MPElementType, ManagementPackId FROM [dbo].[ReportString]
UNION ALL 
    SELECT DiagnosticId AS MPElementId, DiagnosticName AS MPElementName, 
    	N'Diagnostic' AS MPElementType, ManagementPackId FROM [dbo].[Diagnostic]
UNION ALL 
    SELECT DiscoveryId AS MPElementId, DiscoveryName AS MPElementName, 
    	N'Discovery' AS MPElementType, ManagementPackId FROM [dbo].[Discovery]
UNION ALL 
    SELECT RecoveryId AS MPElementId, RecoveryName AS MPElementName, 
    	N'Recovery' AS MPElementType, ManagementPackId FROM [dbo].[Recovery]
UNION ALL 
    SELECT SecureReferenceId AS MPElementId, SecureReferenceName AS MPElementName, 
    	N'SecureReference' AS MPElementType, ManagementPackId FROM [dbo].[SecureReference]
UNION ALL 
    SELECT StringResourceId AS MPElementId, StringResourceName AS MPElementName, 
    	N'StringResource' AS MPElementType, ManagementPackId FROM [dbo].[StringResource]
UNION ALL
	SELECT CategoryOverrideId AS MPElementId, OverrideName AS MPElementName, 
	N'Override' AS MPElementType, ManagementPackId FROM  [dbo].[CategoryOverride]
UNION ALL
	SELECT ModuleOverrideId AS MPElementId, OverrideName AS MPElementName, 
	N'Override' AS MPElementType, ManagementPackId FROM [dbo].[ModuleOverride]
UNION ALL
	SELECT MonitorOverrideId AS MPElementId, OverrideName AS MPElementName, 
	N'Override' AS MPElementType, ManagementPackId FROM [dbo].[MonitorOverride]
UNION ALL
	SELECT SecureReferenceOverrideId AS MPElementId, OverrideName AS MPElementName, 
	N'Override' AS MPElementType, ManagementPackId FROM [dbo].[SecureReferenceOverride]
UNION ALL
	SELECT MonitoringOverrideId AS MPElementId, OverrideName AS MPElementName, 
	N'Override' AS MPElementType, ManagementPackId FROM [dbo].[MonitoringOverride]
UNION ALL
	SELECT TypeProjectionId AS MPElementId, TypeProjectionName AS MPElementName, 
	N'TypeProjection' AS MPElementType, ManagementPackId FROM [dbo].[TypeProjection]
UNION ALL
	SELECT EnumTypeId AS MPElementId, EnumTypeName AS MPElementName, 
	N'EnumType' AS MPElementType, ManagementPackId FROM [dbo].[EnumType]
UNION ALL
	SELECT CauseId AS MPElementId, CauseName AS MPElementName, 
	N'Cause' AS MPElementType, ManagementPackId FROM [dbo].[Cause]
UNION ALL
	SELECT CausalityRuleId AS MPElementId, CausalityRuleName AS MPElementName, 
	N'CausalityRule' AS MPElementType, ManagementPackId FROM [dbo].[CausalityRule]
UNION ALL
	SELECT MonitorCausalityRuleId AS MPElementId, MonitorCausalityRuleName AS MPElementName, 
	N'MonitorCausalityRule' AS MPElementType, ManagementPackId FROM [dbo].[MonitorCausalityRule]
UNION ALL
	SELECT FormId AS MPElementId, FormName AS MPElementName, 
	N'Form' AS MPElementType, ManagementPackId FROM [dbo].[Form]
UNION ALL
	SELECT DataWarehouseOutriggerId AS MPElementId, DataWarehouseOutriggerName AS MPElementName, 
	N'DataWarehouseOutrigger' AS MPElementType, ManagementPackId FROM [dbo].[DataWarehouseOutrigger]
UNION ALL
	SELECT DimensionId AS MPElementId, DimensionName AS MPElementName, 
	N'Dimension' AS MPElementType, ManagementPackId FROM [dbo].[Dimension]
UNION ALL
	SELECT FactId AS MPElementId, FactName AS MPElementName, 
	N'Fact' AS MPElementType, ManagementPackId FROM [dbo].[Fact]
UNION ALL
	SELECT MeasureId AS MPElementId, MeasureName AS MPElementName, 
	N'Measure' AS MPElementType, ManagementPackId FROM [dbo].[Measure]
UNION ALL
	SELECT WarehouseModuleId AS MPElementId, WarehouseModuleName AS MPElementName, 
	N'WarehouseModule' AS MPElementType, ManagementPackId FROM [dbo].[WarehouseModule]
UNION ALL
	SELECT ResourceId AS MPElementId, ResourceName AS MPElementName, 
	N'Resource' AS MPElementType, ManagementPackId FROM [dbo].[Resource]
UNION ALL
	SELECT CategoryId AS MPElementId, CategoryName AS MPElementName, 
	N'Category' AS MPElementType, ManagementPackId FROM [dbo].[Category]
UNION ALL
	SELECT ComponentTypeId AS MPElementId, ComponentTypeName AS MPElementName, 
	N'ComponentType' AS MPElementType, ManagementPackId FROM [dbo].[ComponentTypes]
UNION ALL
	SELECT ComponentReferenceId AS MPElementId, ComponentReferenceName AS MPElementName, 
	N'ComponentReference' AS MPElementType, ManagementPackId FROM [dbo].[ComponentReferences]
UNION ALL
	SELECT ComponentOverrideId AS MPElementId, ComponentOverrideName AS MPElementName, 
	N'ComponentOverride' AS MPElementType, ManagementPackId FROM [dbo].[ComponentOverrides]
UNION ALL
	SELECT ComponentImplementationId AS MPElementId, ComponentImplementationName AS MPElementName, 
	N'ComponentImplementation' AS MPElementType, ManagementPackId FROM [dbo].[ComponentImplementations]
UNION ALL
	SELECT ComponentBehaviorId AS MPElementId, ComponentBehaviorName AS MPElementName, 
	N'ComponentBehavior' AS MPElementType, ManagementPackId FROM [dbo].[ComponentBehaviors]
UNION ALL
	SELECT BehaviorTypeId AS MPElementId, BehaviorTypeName AS MPElementName, 
	N'BehaviorType' AS MPElementType, ManagementPackId FROM [dbo].[BehaviorTypes]
UNION ALL
	SELECT BehaviorImplementationId AS MPElementId, BehaviorImplementationName AS MPElementName, 
	N'BehaviorImplementation' AS MPElementType, ManagementPackId FROM [dbo].[BehaviorImplementations]
GO
