USE [OperationsManager]
GO
/****** Object:  View [dbo].[TaskModule]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TaskModule] AS
	SELECT ModuleId AS TaskModuleId, ModuleName AS TaskModuleName, ModuleRole AS TaskModuleRole,
		ModuleTypeId, ParentId AS TaskId, TargetTypeId, ModuleConfiguration AS TaskModuleConfiguration,
		ModuleOrder AS TaskModuleOrder 
	FROM [dbo].[Module] M JOIN [dbo].[Task] T ON T.TaskId = M.ParentId
GO
