USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$IIS$2008$WCFServiceApplication]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$IIS$2008$WCFServiceApplication] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[ApplicationVRoot_6BAA7C54_D618_E283_C9A1_F59270F83FC8], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[IISApplicationName_96E029F4_2722_2B10_A18A_3E08467C0C6D], T1.[Name_ABA8A2B4_5F0A_F881_AFDF_7365C38E7D61], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$IIS$2008$WCFServiceApplication] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '4D18FB56-E51B-B985-7A17-0B35178E654D'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
