USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$WcfApplicationPageTransactionRole]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$WcfApplicationPageTransactionRole] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AppFailureAlerts_E8580C9F_53A7_FB46_4221_B86D854B8E2C], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvgRequestTimeMonitorEnabled_91FBBEEB_24F1_63D8_5023_C9A9047B86A9], T1.[AvgRequestTimeMonitorInterval_4F3C422D_EB90_9804_B5A7_EAC4F5F3F606], T1.[AvgRequestTimeMonitorThreshold_B28E9358_78A8_9F3D_CF7B_C8A98149D7D2], T1.[ConnectivityAlerts_0A6B2A72_6977_5577_8145_AD283AE5B3C8], T1.[ExceptionRateMonitorEnabled_20F36EB7_7465_444F_BA09_DDE1E7BFB182], T1.[ExceptionRateMonitorInterval_CD8231FC_A4B8_1214_2824_32F03F9CED7A], T1.[ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PageName_A433A48C_4AC2_99B8_1A03_32B97A5B6F95], T1.[PerformanceAlerts_D111DFA5_7B0F_7EAD_36BB_EAC1D8A18E27], T1.[PerformanceRateMonitorEnabled_FB710B57_5DCD_C59B_B246_983FE81921E9], T1.[PerformanceRateMonitorInterval_92B088DF_EC3C_042D_402E_15A1EC15EF5F], T1.[PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928], T1.[PerformanceThreshold_FBA7846D_1493_7699_109E_39FE18DB9E6E], T1.[SecurityAlerts_9B4F88C1_CB3E_D33D_E06D_6F220D6A1546], T1.[SensitivityThreshold_F5F8851F_DF5F_BD57_59C3_0CDCF20DFDAB], T1.[TransactionName_D55C57A4_E5F7_7F71_492B_4E3752102112], T3.[IISApplicationPath_E69B6341_81B7_0A27_CB13_34A8A7F15BAC] AS [IISApplicationPath_E69B6341_81B7_0A27_CB13_34A8A7F15BAC], T4.[Id_EE996801_C54E_6A13_0F3A_584738E7FB06] AS [Id_EE996801_C54E_6A13_0F3A_584738E7FB06] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$WcfApplicationPageTransactionRole] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '1F7E6264-F881-9F2C-380B-5D799B06DF3C'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$Apm$IIS$2008$WCFWebServiceApplicationComponent] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = '91E97DD2-2A04-4117-26E2-7597FD27E9E9'  AND RT3.TargetEntityId = T2.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$IIS$2008$WCFWebServiceComponent] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT4 ON (RT4.RelationshipTypeId = 'FE3DAFF5-5309-1F77-311E-7841580C99BA'  AND RT4.TargetEntityId = T3.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] T4 ON RT4.SourceEntityId = T4.BaseManagedEntityId
GO
