USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MPRemovalLog]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPRemovalLog](
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[MPName] [nvarchar](256) NOT NULL,
	[MPVersion] [nvarchar](20) NULL,
	[MPKeyToken] [varchar](32) NULL,
	[MPRemovalDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
