USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactRelationshipStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactRelationshipStaging](
	[FactId] [uniqueidentifier] NOT NULL,
	[FactRelationshipId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[IsSourceToTarget] [bit] NOT NULL
) ON [PRIMARY]
GO
