USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CmdbInstanceSubscriptionState]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CmdbInstanceSubscriptionState](
	[RuleId] [uniqueidentifier] NOT NULL,
	[TypeId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NULL,
	[RelatedTypeId] [uniqueidentifier] NULL,
	[State] [bigint] NULL,
	[EventCount] [bigint] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[LastModified] [datetime] NOT NULL,
	[LastNonZeroEventCount] [bigint] NULL,
	[LastNonZeroEventCountLastModified] [datetime] NULL,
	[LastErrorMessage] [nvarchar](max) NULL,
	[LastErrorMessageLastModified] [datetime] NULL,
	[IsPeriodicQueryEvent] [bit] NOT NULL,
 CONSTRAINT [CK_CmdbInstanceSubscriptionState_RuleId_TypeId_RelationshipTypeId_RelatedTypeId_UniqueClustered] UNIQUE CLUSTERED 
(
	[RuleId] ASC,
	[TypeId] ASC,
	[RelationshipTypeId] ASC,
	[RelatedTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CmdbInstanceSubscriptionState] ADD  CONSTRAINT [DF_CmdbSubscriptionState_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[CmdbInstanceSubscriptionState] ADD  DEFAULT ((0)) FOR [IsPeriodicQueryEvent]
GO
ALTER TABLE [dbo].[CmdbInstanceSubscriptionState]  WITH CHECK ADD  CONSTRAINT [FK_CmdbInstanceSubscriptionState_RelationshipTypeId] FOREIGN KEY([RelationshipTypeId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CmdbInstanceSubscriptionState] CHECK CONSTRAINT [FK_CmdbInstanceSubscriptionState_RelationshipTypeId]
GO
ALTER TABLE [dbo].[CmdbInstanceSubscriptionState]  WITH CHECK ADD  CONSTRAINT [FK_CmdbInstanceSubscriptionState_RuleId] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rules] ([RuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CmdbInstanceSubscriptionState] CHECK CONSTRAINT [FK_CmdbInstanceSubscriptionState_RuleId]
GO
ALTER TABLE [dbo].[CmdbInstanceSubscriptionState]  WITH CHECK ADD  CONSTRAINT [FK_CmdbInstanceSubscriptionState_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CmdbInstanceSubscriptionState] CHECK CONSTRAINT [FK_CmdbInstanceSubscriptionState_TypeId]
GO
