USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactRelationship]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactRelationship](
	[FactId] [uniqueidentifier] NOT NULL,
	[FactRelationshipId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[IsSourceToTarget] [bit] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_FactRelationship] PRIMARY KEY CLUSTERED 
(
	[FactRelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactRelationship] ADD  CONSTRAINT [DF_FactRelationship_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[FactRelationship] ADD  CONSTRAINT [DF_FactRelationship_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[FactRelationship]  WITH CHECK ADD  CONSTRAINT [FK_FactRelationship_Fact] FOREIGN KEY([FactId])
REFERENCES [dbo].[Fact] ([FactId])
GO
ALTER TABLE [dbo].[FactRelationship] CHECK CONSTRAINT [FK_FactRelationship_Fact]
GO
ALTER TABLE [dbo].[FactRelationship]  WITH CHECK ADD  CONSTRAINT [FK_FactRelationship_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactRelationship] CHECK CONSTRAINT [FK_FactRelationship_ManagementPack]
GO
