USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitorTypeSchemaReference]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorTypeSchemaReference](
	[MonitorTypeId] [uniqueidentifier] NOT NULL,
	[SchemaTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MonitorTypeSchemaReference] PRIMARY KEY CLUSTERED 
(
	[MonitorTypeId] ASC,
	[SchemaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonitorTypeSchemaReference] ADD  CONSTRAINT [DF_MonitorTypeSchemaReference_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[MonitorTypeSchemaReference] ADD  CONSTRAINT [DF_MonitorTypeSchemaReference_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[MonitorTypeSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_MonitorTypeSchemaReference_MonitorType] FOREIGN KEY([MonitorTypeId])
REFERENCES [dbo].[MonitorType] ([MonitorTypeId])
GO
ALTER TABLE [dbo].[MonitorTypeSchemaReference] CHECK CONSTRAINT [FK_MonitorTypeSchemaReference_MonitorType]
GO
ALTER TABLE [dbo].[MonitorTypeSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_MonitorTypeSchemaReference_SchemaType] FOREIGN KEY([SchemaTypeId])
REFERENCES [dbo].[SchemaType] ([SchemaTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitorTypeSchemaReference] CHECK CONSTRAINT [FK_MonitorTypeSchemaReference_SchemaType]
GO
