USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$NotificationSubscriptionServer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$NotificationSubscriptionServer](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[WebConsoleUrl_CECFB65A_CE53_58D3_71E1_522BEE942100] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$NotificationSubscriptionServer] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
