USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$Port]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$Port](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[PortNumber_465D8CEE_772F_2E64_5A53_850171491673] [nvarchar](38) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$Port] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
