USE [OperationsManager]
GO
/****** Object:  Table [dbo].[StateChangeEvent]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateChangeEvent](
	[StateChangeEventId] [uniqueidentifier] NOT NULL,
	[StateId] [uniqueidentifier] NOT NULL,
	[NewHealthState] [tinyint] NOT NULL,
	[OldHealthState] [tinyint] NOT NULL,
	[Context] [nvarchar](max) NULL,
	[TimeGenerated] [datetime] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
 CONSTRAINT [PK_StateChangeEvent] PRIMARY KEY NONCLUSTERED 
(
	[StateChangeEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[StateChangeEvent]  WITH CHECK ADD  CONSTRAINT [FK_StateChangeEvent_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([StateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StateChangeEvent] CHECK CONSTRAINT [FK_StateChangeEvent_State]
GO
