USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagementPackReferencesStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPackReferencesStaging](
	[ManagementPackIdSource] [uniqueidentifier] NOT NULL,
	[ManagementPackIdReffedBy] [uniqueidentifier] NOT NULL,
	[AliasName] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
