USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Unix$CredentialRef]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Unix$CredentialRef] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[CredentialId_FF749E34_2A6D_3C72_482E_0B10632923BE], T1.[IsSSHKey_C32B53A6_01F4_2B7F_BCAF_201E32BABE8A], T1.[Key_B7FF2CA2_5677_29C6_CA58_571839DC106A], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Type_573675E6_C919_BF8E_52DE_074AE9F09F62] FROM [dbo].[MT_Microsoft$Unix$CredentialRef] T1
GO
