USE [OperationsManager]
GO
/****** Object:  View [dbo].[ManagementPackView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ManagementPackView] AS
    SELECT [ManagementPack].[ManagementPackId] AS Id, 
		   [ManagementPack].[MPVersionDependentId] AS VersionId, 
           [ManagementPack].[MPIsSealed] AS Sealed, 
           [ManagementPack].[MPName] AS Name, 
           [ManagementPack].[MPFriendlyName] AS FriendlyName, 
           [ManagementPack].[MPVersion] AS Version, 
           [ManagementPack].[MPKeyToken] AS KeyToken, 
           [ManagementPack].[MPLastModified] AS LastModified,
           [ManagementPack].[MPCreated] AS TimeCreated,
           [ManagementPack].[ContentReadable],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[ManagementPack] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [ManagementPack].[ManagementPackId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [ManagementPack].[ManagementPackId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
GO
