USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RelationshipTypePropertyStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipTypePropertyStaging](
	[RelationshipPropertyId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[RelationshipPropertyName] [nvarchar](256) NOT NULL,
	[IsCaseSensitive] [bit] NULL,
	[PropertyType] [tinyint] NOT NULL,
	[PropertyLength] [int] NULL,
	[PropertyScale] [tinyint] NULL,
	[ColumnName] [nvarchar](128) NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[Required] [bit] NULL,
	[Optimized] [bit] NULL,
	[MinValue] [int] NULL,
	[MaxValue] [int] NULL,
	[RegEx] [nvarchar](255) NULL,
	[EnumTypeId] [uniqueidentifier] NULL,
	[DefaultValue] [nvarchar](2000) NULL,
 CONSTRAINT [PK_RelationshipTypePropertyStaging] PRIMARY KEY NONCLUSTERED 
(
	[RelationshipPropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipTypePropertyStaging] ADD  CONSTRAINT [DF_RelationshipTypePropertyStaging_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[RelationshipTypePropertyStaging] ADD  CONSTRAINT [DF_RelationshipTypePropertyStaging_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[RelationshipTypePropertyStaging] ADD  CONSTRAINT [DF_RelationshipTypePropertyStaging_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[RelationshipTypePropertyStaging]  WITH CHECK ADD  CONSTRAINT [CK_RelationshipTypePropertyStaging_Namelen] CHECK  ((len([RelationshipPropertyName])>(0)))
GO
ALTER TABLE [dbo].[RelationshipTypePropertyStaging] CHECK CONSTRAINT [CK_RelationshipTypePropertyStaging_Namelen]
GO
ALTER TABLE [dbo].[RelationshipTypePropertyStaging]  WITH CHECK ADD  CONSTRAINT [CK_RelationshipTypePropertyStaging_PropertyScale] CHECK  (([PropertyScale]<=(38)))
GO
ALTER TABLE [dbo].[RelationshipTypePropertyStaging] CHECK CONSTRAINT [CK_RelationshipTypePropertyStaging_PropertyScale]
GO
ALTER TABLE [dbo].[RelationshipTypePropertyStaging]  WITH CHECK ADD  CONSTRAINT [CK_RelationshipTypePropertyStaging_PropertyType] CHECK  (([PropertyType]>=(0) AND [PropertyType]<=(7)))
GO
ALTER TABLE [dbo].[RelationshipTypePropertyStaging] CHECK CONSTRAINT [CK_RelationshipTypePropertyStaging_PropertyType]
GO
