USE [OperationsManager]
GO
/****** Object:  Table [dbo].[LinkedReport]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinkedReport](
	[LinkedReportId] [uniqueidentifier] NOT NULL,
	[LinkedReportName] [nvarchar](256) NOT NULL,
	[BaseReportId] [uniqueidentifier] NOT NULL,
	[Target] [uniqueidentifier] NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Visible] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ParameterBlock] [nvarchar](max) NULL,
	[Parameters] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_LinkedReport] PRIMARY KEY CLUSTERED 
(
	[LinkedReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LinkedReport] ADD  CONSTRAINT [DF_LinkedReport_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[LinkedReport] ADD  CONSTRAINT [DF_LinkedReport_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[LinkedReport]  WITH CHECK ADD  CONSTRAINT [FK_LinkedReport_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LinkedReport] CHECK CONSTRAINT [FK_LinkedReport_ManagementPack]
GO
