USE [OperationsManager]
GO
/****** Object:  Table [dbo].[KnowledgeArticle]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KnowledgeArticle](
	[KnowledgeArticleId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [nvarchar](3) NOT NULL,
	[KnowledgeReferenceId] [uniqueidentifier] NOT NULL,
	[ElementName] [nvarchar](256) NOT NULL,
	[SubElementName] [nvarchar](256) NULL,
	[KnowledgeVisible] [bit] NOT NULL,
	[KnowledgeContent] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[KnowledgeArticle] ADD  DEFAULT (newid()) FOR [KnowledgeArticleId]
GO
ALTER TABLE [dbo].[KnowledgeArticle] ADD  CONSTRAINT [DF_KnowledgeArticle_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[KnowledgeArticle] ADD  CONSTRAINT [DF_KnowledgeArticle_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[KnowledgeArticle]  WITH CHECK ADD  CONSTRAINT [FK_KnowledgeArticle_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KnowledgeArticle] CHECK CONSTRAINT [FK_KnowledgeArticle_ManagementPack]
GO
