USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[PerformanceThreshold_E41A4250_D253_BBC7_97E6_413DA39D1CAC] [int] NULL,
	[CounterInstance_6A9D4609_9BA4_6D0F_46D8_2885F5D0B593] [nvarchar](512) NULL,
	[ControllerName_99D15E1A_1304_CEB1_4383_F6AE960EBD05] [nvarchar](512) NOT NULL,
	[ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34] [float] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[ActionName_B6CD2D5F_093E_A481_3678_6A660C70531D] [nvarchar](512) NOT NULL,
	[ExceptionRateMonitorInterval_46F97524_839B_E6ED_D2E5_ADE2C79AFCA4] [int] NULL,
	[AvgRequestTimeMonitorThreshold_0122E3E9_2DD9_D6C5_4BC0_DBBA9754A812] [int] NULL,
	[TransactionName_B74261D5_A2E0_957B_CE70_07B9D5DF3426] [nvarchar](256) NOT NULL,
	[PerformanceRateMonitorInterval_2DD5A9EF_A323_321A_6EE5_21AFF84A05A7] [int] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[SensitivityThreshold_66E586A5_9DF6_2CA8_A4BA_8C1A9722FF5C] [int] NULL,
	[PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA] [float] NULL,
	[AvgRequestTimeMonitorInterval_2F4143D5_B14D_7EAB_DB19_7DB638EEACC9] [int] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$MvcTransaction] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorThreshold_0122E3E9_2DD9_D6C5_4BC0_DBBA9754A812]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorInterval_2F4143D5_B14D_7EAB_DB19_7DB638EEACC9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34]>=(0) AND [ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorInterval_46F97524_839B_E6ED_D2E5_ADE2C79AFCA4]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction]  WITH CHECK ADD CHECK  (([PerformanceThreshold_E41A4250_D253_BBC7_97E6_413DA39D1CAC]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorInterval_2DD5A9EF_A323_321A_6EE5_21AFF84A05A7]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA]>=(0) AND [PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction]  WITH CHECK ADD CHECK  (([SensitivityThreshold_66E586A5_9DF6_2CA8_A4BA_8C1A9722FF5C]>=(0)))
GO
