USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ImageReferenceStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageReferenceStaging](
	[ImageId] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
