USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ConnectivityAlerts_DA1BB9FD_5B49_FE2E_628F_A2C4DB39A96A] [bit] NULL,
	[PerformanceAlerts_84183480_92AF_AB96_7E2F_3AE9EBCE5380] [bit] NULL,
	[CsmPerformanceAlerts_15143CFC_6B34_B879_F206_25440CA925DC] [bit] NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[ExceptionTrackings_4D080BEB_E87D_575B_194F_27D29F0AB2C8] [nvarchar](max) NULL,
	[SensitivityThreshold_B0999BF3_F61A_C951_210E_A4E593D9EC32] [int] NULL,
	[SamplingRate_B589B086_8D98_B3E2_C54A_75F329858C27] [int] NULL,
	[CsmExceptionAlerts_6E8AEA7E_1A7B_F266_439A_B18A58EEBF64] [bit] NULL,
	[PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0] [float] NULL,
	[EncryptionKey_7C57D688_9219_B415_D63B_D42A625145A9] [nvarchar](max) NULL,
	[MonitoringComputerGroup_07B4FF71_9321_A676_07F6_DA35505AC133] [uniqueidentifier] NULL,
	[CsmMonitoringComputerGroup_1B7A3A94_27B0_4B69_C516_676D4C8C6B23] [uniqueidentifier] NULL,
	[CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F] [float] NULL,
	[CollectAllExceptions_9CECB959_7F3A_ACE8_6DEA_8C0036A888D0] [bit] NULL,
	[DisabledContent_0D85D577_1357_B286_9029_437E11D8131B] [int] NULL,
	[ApplicationName_5FBFF83D_5621_0F8E_648D_A7CEB6E6D441] [nvarchar](256) NULL,
	[SecurityAlerts_A052080E_F1F1_3B3E_BC4D_9F2853912D3B] [bit] NULL,
	[CsmExceptionRateMonitorEnabled_AD9B63CC_249E_92BA_8004_3B56DCC27083] [bit] NULL,
	[AvgRequestTimeMonitorInterval_401853D0_D544_B0FF_9634_4011D1634C8D] [int] NULL,
	[CsmAvgRequestTimeMonitorThreshold_0EC04C86_9FB9_8265_C651_1F9C4C86C550] [int] NULL,
	[AvgRequestTimeMonitorThreshold_BA083ED6_2150_8B4B_AB7A_CFCFE0425B86] [int] NULL,
	[CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3] [float] NULL,
	[CsmAvgRequestTimeMonitorEnabled_B81D3E1E_CE6E_0E29_9A90_586AE396D28F] [bit] NULL,
	[CsmExceptionRateMonitorInterval_DD255B1A_4BE6_C072_5BEA_94F8AE775C7C] [int] NULL,
	[AllSettingsHash_CF637656_6975_63D9_E883_BADBBED6EC20] [nvarchar](256) NULL,
	[Namespaces_66F4C322_1506_21F1_70C8_6D3BF954E449] [nvarchar](max) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[CsmAvgRequestTimeMonitorInterval_D7036CA5_799C_D2C6_9E18_AF91B7E1EDFF] [int] NULL,
	[Id_EE996801_C54E_6A13_0F3A_584738E7FB06] [uniqueidentifier] NOT NULL,
	[ExceptionHandlers_A04B69A5_C6DC_8F38_B319_5AE650A7DEF8] [nvarchar](max) NULL,
	[CsmPerformanceRateMonitorInterval_F20DCC95_5F42_7A7B_60CB_6FB8AE4B0AEC] [int] NULL,
	[ExceptionRateMonitorInterval_CABB6610_AF20_8A53_B862_BF7BBECF6CA9] [int] NULL,
	[AppFailureAlerts_73E894D1_DD0C_6AD0_B086_12BFD46E6629] [bit] NULL,
	[CsmAjaxThreshold_F8702120_642C_2EA0_F71D_CFCBDC22155A] [int] NULL,
	[PerformanceRateMonitorInterval_D25AB398_CFCB_8513_5D08_B3DD472E0DFE] [int] NULL,
	[PerformanceThreshold_53B82EC4_BA10_E613_205A_57900F60FAB9] [int] NULL,
	[ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E] [float] NULL,
	[CsmSensitivityThreshold_C054C736_99E4_044C_A2FA_8C1CCC50BDDF] [int] NULL,
	[StreamFilters_1EB5E118_1CE3_0CFF_5231_5935BD7F6E2B] [nvarchar](max) NULL,
	[Resources_59756146_6D99_0A27_9A05_997AC77738AC] [nvarchar](max) NULL,
	[CsmPerformanceRateMonitorEnabled_0E10C75A_BE6E_9FBB_6758_EA509E48C700] [bit] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[IPHeaders_94C37ECD_4412_7DFB_32EE_1D1EDDDEA8D8] [nvarchar](max) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[PerformanceRateMonitorEnabled_006AC9F4_2C8A_0778_1F57_73B75F8F39F4] [bit] NULL,
	[CsmPageLoadThreshold_22E217D7_E54A_1CE6_D498_FB259174F5A7] [int] NULL,
	[ResponseFilters_A7238D54_CC82_F906_54CF_07DD4364F4B6] [nvarchar](max) NULL,
	[RequestFilters_07E253DB_4202_0FCE_9FFE_E9A89955CCAE] [nvarchar](max) NULL,
	[AvgRequestTimeMonitorEnabled_922322A1_C7A6_78BD_2382_E4837EDDEBB7] [bit] NULL,
	[ExceptionRateMonitorEnabled_BDA4ABB3_E11F_3DC0_CBE0_3951F43D5BA4] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] ADD  DEFAULT ((1)) FOR [ConnectivityAlerts_DA1BB9FD_5B49_FE2E_628F_A2C4DB39A96A]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] ADD  DEFAULT ((1)) FOR [PerformanceAlerts_84183480_92AF_AB96_7E2F_3AE9EBCE5380]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] ADD  DEFAULT ((1)) FOR [CsmPerformanceAlerts_15143CFC_6B34_B879_F206_25440CA925DC]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] ADD  DEFAULT ((1)) FOR [CsmExceptionAlerts_6E8AEA7E_1A7B_F266_439A_B18A58EEBF64]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] ADD  DEFAULT ((0)) FOR [CollectAllExceptions_9CECB959_7F3A_ACE8_6DEA_8C0036A888D0]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] ADD  DEFAULT ((1)) FOR [SecurityAlerts_A052080E_F1F1_3B3E_BC4D_9F2853912D3B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] ADD  DEFAULT ((0)) FOR [AppFailureAlerts_73E894D1_DD0C_6AD0_B086_12BFD46E6629]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorInterval_401853D0_D544_B0FF_9634_4011D1634C8D]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorThreshold_BA083ED6_2150_8B4B_AB7A_CFCFE0425B86]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([CsmAjaxThreshold_F8702120_642C_2EA0_F71D_CFCBDC22155A]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([CsmAvgRequestTimeMonitorThreshold_0EC04C86_9FB9_8265_C651_1F9C4C86C550]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([CsmAvgRequestTimeMonitorInterval_D7036CA5_799C_D2C6_9E18_AF91B7E1EDFF]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3]>=(0) AND [CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([CsmExceptionRateMonitorInterval_DD255B1A_4BE6_C072_5BEA_94F8AE775C7C]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([CsmPageLoadThreshold_22E217D7_E54A_1CE6_D498_FB259174F5A7]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F]>=(0) AND [CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([CsmPerformanceRateMonitorInterval_F20DCC95_5F42_7A7B_60CB_6FB8AE4B0AEC]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([CsmSensitivityThreshold_C054C736_99E4_044C_A2FA_8C1CCC50BDDF]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([DisabledContent_0D85D577_1357_B286_9029_437E11D8131B]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorInterval_CABB6610_AF20_8A53_B862_BF7BBECF6CA9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E]>=(0) AND [ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0]>=(0) AND [PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorInterval_D25AB398_CFCB_8513_5D08_B3DD472E0DFE]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([PerformanceThreshold_53B82EC4_BA10_E613_205A_57900F60FAB9]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([SamplingRate_B589B086_8D98_B3E2_C54A_75F329858C27]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]  WITH CHECK ADD CHECK  (([SensitivityThreshold_B0999BF3_F61A_C951_210E_A4E593D9EC32]>=(0)))
GO
