USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_AzTask]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_AzTask](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectGuid] [uniqueidentifier] NULL,
	[AppID] [int] NULL,
	[ScopeID] [int] NULL,
	[ParentType] [tinyint] NOT NULL,
	[Name] [nvarchar](64) NULL,
	[Description] [nvarchar](1024) NULL,
	[ApplicationData] [ntext] NULL,
	[IsRoleDefinition] [bit] NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
	[ChildUpdateTimeStamp] [binary](8) NULL,
 CONSTRAINT [PK_AzMan_AzTask] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_AzTask]  WITH NOCHECK ADD  CONSTRAINT [FK_AzMan_AzTask_To_App] FOREIGN KEY([AppID])
REFERENCES [dbo].[AzMan_AzApplication] ([ID])
GO
ALTER TABLE [dbo].[AzMan_AzTask] NOCHECK CONSTRAINT [FK_AzMan_AzTask_To_App]
GO
ALTER TABLE [dbo].[AzMan_AzTask]  WITH NOCHECK ADD  CONSTRAINT [FK_AzMan_AzTask_To_Scope] FOREIGN KEY([ScopeID])
REFERENCES [dbo].[AzMan_AzScope] ([ID])
GO
ALTER TABLE [dbo].[AzMan_AzTask] NOCHECK CONSTRAINT [FK_AzMan_AzTask_To_Scope]
GO
ALTER TABLE [dbo].[AzMan_AzTask]  WITH NOCHECK ADD  CONSTRAINT [CK_AzMan_AzTask] CHECK  (((sign(coalesce([AppID],(0)))+sign(coalesce([ScopeID],(0))))=(1)))
GO
ALTER TABLE [dbo].[AzMan_AzTask] CHECK CONSTRAINT [CK_AzMan_AzTask]
GO
