USE [OperationsManager]
GO
/****** Object:  View [dbo].[EventView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[EventView] AS
    SELECT E.[EventId] AS [Id],
            E.[EventOriginalId] AS [OriginalId],
            BME.[BaseManagedEntityId] AS [MonitoringObjectId],
            BME.[BaseManagedTypeId] AS ClassId,
            BME.Name as MonitoringObjectName,
            BME.DisplayName as MonitoringObjectDisplayName,
            BME.Path as MonitoringObjectPath,
            BME.FullName as MonitoringObjectFullName,
            E.[RuleId] AS [RuleId],
            E.[PublisherId],
            E.[PublisherName],
            E.[Number],    
            NM.[MessageStringId] AS [EventNumberStringId],
            E.[Category] AS [CategoryId],
            CAST(NULL AS uniqueidentifier) AS [CategoryStringId],
--            CM.[MessageStringId] AS [CategoryStringId],
            E.[User],
            E.[Channel],
            E.[Level] AS [LevelId],
            CAST(NULL AS uniqueidentifier) AS [LevelStringId],
--            LM.[MessageStringId] AS [LevelStringId],
            E.[LoggingComputer],
            E.[EventData],            
            E.[EventParameters], 
            E.[TimeGenerated],
            E.[TimeAdded]
    FROM dbo.EventAllView AS E WITH (NOLOCK)
    JOIN dbo.BaseManagedEntity AS BME WITH (NOLOCK)
        ON E.BaseManagedEntityInternalId = BME.BaseManagedEntityInternalId
        AND BME.IsDeleted = 0
    LEFT OUTER JOIN dbo.PublisherMessages AS NM WITH (NOLOCK)
        ON E.PublisherId = NM.PublisherId
        AND E.FullNumber = NM.MessageId
        AND NM.MessageType = 1
-- Eliminating these joins, because the runtime & modules don't populate the
-- appropriate columns. For V4 or (R2) these will be populated and then we
-- can un-comment the code below.
--    LEFT OUTER JOIN dbo.PublisherMessages AS CM
--        ON E.PublisherId = CM.PublisherId
--        AND E.Category = CM.MessageId
--        AND CM.MessageType = 2
--    LEFT OUTER JOIN dbo.PublisherMessages AS LM
--        ON E.PublisherId = LM.PublisherId
--        AND E.[Level] = LM.MessageId
--        AND LM.MessageType = 3
GO
