USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MySubscriptions]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MySubscriptions](
	[RuleEntityId] [uniqueidentifier] NOT NULL,
	[UserSID] [varchar](100) NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MySubscriptions] PRIMARY KEY NONCLUSTERED 
(
	[RuleEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MySubscriptions] ADD  CONSTRAINT [DF_MySubscriptions_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[MySubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_MySubscriptions_RuleEntityId] FOREIGN KEY([RuleEntityId])
REFERENCES [dbo].[Rules] ([RuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MySubscriptions] CHECK CONSTRAINT [FK_MySubscriptions_RuleEntityId]
GO
