USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft_SystemCenter_ApplicationMonitoring_360_Template_3TierApplication_Prese_F0EE7C62_8E0F_D2EF_7022_7218A75514D3]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft_SystemCenter_ApplicationMonitoring_360_Template_3TierApplication_Prese_F0EE7C62_8E0F_D2EF_7022_7218A75514D3] AS SELECT R.RelationshipId, BME1.BaseManagedTypeId AS SourceTypeId, 
	BME2.BaseManagedTypeId AS TargetTypeId  FROM dbo.Relationship R  
		JOIN dbo.BaseManagedEntity BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
		JOIN dbo.BaseManagedEntity BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
		WHERE R.IsDeleted = 0 AND R.RelationshipTypeId = 'F5A7C571-45CE-B29A-8973-D42CBAF8FCED'
GO
