USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagementPack]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPack](
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[MPIsSealed] [bit] NOT NULL,
	[MPName] [nvarchar](256) NOT NULL,
	[MPFriendlyName] [nvarchar](256) NOT NULL,
	[MPVersionDependentId] [uniqueidentifier] NOT NULL,
	[MPVersion] [nvarchar](20) NULL,
	[MPKeyToken] [varchar](32) NULL,
	[MPReadOnly] [bit] NOT NULL,
	[MPXMLInvalid] [bit] NOT NULL,
	[MPLastModified] [datetime] NOT NULL,
	[MPCreated] [datetime] NOT NULL,
	[MPXML] [nvarchar](max) NULL,
	[MPSchemaTypes] [nvarchar](max) NULL,
	[MPRunTimeXML] [nvarchar](max) NULL,
	[MPCacheRefreshTimestamp] [datetime] NOT NULL,
	[ContentReadable] [bit] NOT NULL,
 CONSTRAINT [PK_ManagementPack] PRIMARY KEY CLUSTERED 
(
	[ManagementPackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementPack] ADD  DEFAULT (getutcdate()) FOR [MPCacheRefreshTimestamp]
GO
ALTER TABLE [dbo].[ManagementPack] ADD  DEFAULT ((1)) FOR [ContentReadable]
GO
