USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ObjectDeletionStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectDeletionStaging](
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[ObjectType] [nvarchar](100) NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[RecursiveDelete] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ObjectDeletionStaging] ADD  CONSTRAINT [DF_ObjectDeletionStaging_RecursiveDelete]  DEFAULT ((0)) FOR [RecursiveDelete]
GO
