USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$IPv6Network]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$IPv6Network] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_026A7983_1951_571A_FAEF_C722B828C560], T1.[Key_964DA60D_F9AE_32BC_AC16_AA8E0C182B95], T1.[NetworkNumber_D3DCB694_9E36_B696_B8BA_E502F76A653C], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PrefixLength_2F97F2DF_E8A0_83D6_2ED8_4519F8A9648F] FROM [dbo].[MT_System$NetworkManagement$IPv6Network] T1
GO
