USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$AlertNotificationSubscriptionServer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$AlertNotificationSubscriptionServer] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PrincipalName_F70D693A_9DBC_DDB8_2F17_B8ADD037ECEE], COALESCE (T1.[WebConsoleUrl_1E6BED04_32BC_3553_18B1_ADC817C45ACE], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '1D89A274-6389-6F82-75E5-5FD85A35DCF9')) AS [WebConsoleUrl_1E6BED04_32BC_3553_18B1_ADC817C45ACE] FROM [dbo].[MT_Microsoft$SystemCenter$AlertNotificationSubscriptionServer] T1 RIGHT OUTER JOIN dbo.BaseManagedEntity BME ON BME.BaseManagedEntityId = T1.BaseManagedEntityId WHERE BME.IsDeleted = 0 AND BME.BaseManagedTypeId = 'E07E3FAB-53BC-BC14-1634-5A6E949F9230'
GO
