USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagementPackHistory]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPackHistory](
	[ManagementPackHistoryId] [uniqueidentifier] NOT NULL,
	[MPName] [nvarchar](256) NOT NULL,
	[Version] [nvarchar](20) NULL,
	[MPKeyToken] [varchar](32) NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[MPVersionDependentId] [uniqueidentifier] NOT NULL,
	[IsSealed] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[DeploymentStatusId] [int] NULL,
	[DeploymentTime] [datetime] NULL,
	[Username] [nvarchar](256) NULL,
 CONSTRAINT [PK_ManagementPackHistory] PRIMARY KEY CLUSTERED 
(
	[ManagementPackHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementPackHistory] ADD  CONSTRAINT [DF_ManagementPackHistory_ManagementPackHistoryId]  DEFAULT (newid()) FOR [ManagementPackHistoryId]
GO
