USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$WebApplicationSolutions$SingleUrlTest]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$WebApplicationSolutions$SingleUrlTest] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Alerting_4337501D_D1AC_0C3B_2FBE_745B9608D4A9], T1.[AlertingOnTest_9C947C34_2942_22AB_663B_00CCD919F5BE], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[ConsecutiveMatchCount_B64E3209_442C_4811_C4CB_7B9B78D8AA1A], T1.[Context_4A438E0D_41CE_1FDE_0D5B_63E5669F8DC7], T1.[InstanceId_6F1A81E5_0BD5_CE02_4A8F_7FB314F28308], T1.[IntervalInSeconds_3AEED1F5_0059_B82D_D64C_BD18C931C716], T1.[Locations_8828BD35_D33F_1D66_257F_E52488E0EC81], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Parameters_2DF13F52_3A6B_BEE5_6BF2_341337887BC8], T1.[TestConfig_71A56C18_0B6B_5F63_B211_21332369555A] FROM [dbo].[MT_Microsoft$SystemCenter$WebApplicationSolutions$SingleUrlTest] T1
GO
