USE [OperationsManager]
GO
/****** Object:  View [dbo].[DeploySequenceView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[DeploySequenceView] as
select
 a.ManagementPackId
,a.MPName
,MPVersion = a.Version
,a.MPKeyToken
,DeploymentStatus = i.StatusName
,DeploymentStatusId = i.StatusId
,ImportTime = a.TimeAdded
,DeploymentCompleted = c.Execution
from   dbo.ManagementPackHistory a
join (select MAX(TimeAdded) as TimeAdded, ManagementPackId from dbo.ManagementPackHistory group by ManagementPackId) b
  on a.ManagementPackId = b.ManagementPackId and a.TimeAdded = b.TimeAdded
left join dbo.DeploySequence c on a.ManagementPackHistoryId=c.PackTransactionId
left join dbo.DeploySequenceStaging d on a.ManagementPackHistoryId=d.PackTransactionId
left join Infra.ProcessManagementPackHistory e on a.ManagementPackHistoryId=e.ManagementPackHistoryId
left join Infra.Process f on e.ProcessId=f.ProcessId and f.ProcessCategoryId=(select ProcessCategoryId from Infra.ProcessCategory where ProcessCategoryName = N'Deployment')
left join Infra.Batch g on f.ProcessId=g.ProcessId
left join Infra.WorkItem h on g.BatchId=h.BatchId
left join Infra.Status i on i.StatusId=coalesce(d.StatusId, c.StatusId, h.StatusId, 3)
GO
