USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$SoftwareItem]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$SoftwareItem] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[IsVirtualApplication_D5F19CD1_22C4_8A47_593F_ADBD64D8026A], T1.[LocaleID_23C78D0C_A837_AFF0_A421_A88AC5820429], T1.[MajorVersion_F9D67ADE_7F0F_2A04_AA87_BCE911A39413], T1.[MinorVersion_C79C42C0_7BCB_1E2A_0F8B_EF29A152371E], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[ProductCode_44CDDF1A_0A33_9F46_85D1_C9EC740C5E78], T1.[ProductName_A5E0EFD1_6C10_CE40_F94E_092968332D03], T1.[Publisher_CC606490_641D_5F83_AC59_088C7E706264], T1.[VersionString_AF0E8942_772E_7C25_5EFE_B21D6E2E41CE] FROM [dbo].[MT_System$SoftwareItem] T1
GO
