USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts$Agent]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts$Agent](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[AccountLogOnType_FA6BFF79_4B43_D551_40EE_7878B60EE909] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Installed$OMProducts$Agent] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
