USE [OperationsManager]
GO
/****** Object:  Table [dbo].[EnumTypeStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnumTypeStaging](
	[EnumTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[EnumTypeName] [nvarchar](256) NOT NULL,
	[EnumTypeAccessibility] [tinyint] NOT NULL,
	[ParentEnumTypeId] [uniqueidentifier] NULL,
	[Enabled] [bit] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[Ordinal] [float] NULL
) ON [PRIMARY]
GO
