USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$SoftwareUpdate_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$SoftwareUpdate_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ParentVersion_C852C217_2551_634E_6906_C409A16CB344] [nvarchar](256) NULL,
	[Post_ParentVersion_C852C217_2551_634E_6906_C409A16CB344] [nvarchar](256) NULL,
	[Pre_SupportString_DA4C6A60_3E1C_6429_8297_7D29D924E71D] [nvarchar](256) NULL,
	[Post_SupportString_DA4C6A60_3E1C_6429_8297_7D29D924E71D] [nvarchar](256) NULL,
	[Pre_Classification_2D7047D3_DCFD_E8A5_3688_74034880308D] [nvarchar](256) NULL,
	[Post_Classification_2D7047D3_DCFD_E8A5_3688_74034880308D] [nvarchar](256) NULL,
	[Pre_ArticleID_4206EE31_63C7_E760_9076_517309D422A5] [nvarchar](256) NULL,
	[Post_ArticleID_4206EE31_63C7_E760_9076_517309D422A5] [nvarchar](256) NULL,
	[Pre_BulletinID_81E9F65E_A8AD_DECA_A3F8_530B7327CB8E] [nvarchar](256) NULL,
	[Post_BulletinID_81E9F65E_A8AD_DECA_A3F8_530B7327CB8E] [nvarchar](256) NULL,
	[Pre_Parent_52C43962_6D09_829A_FA11_BDFCDF409771] [nvarchar](256) NULL,
	[Post_Parent_52C43962_6D09_829A_FA11_BDFCDF409771] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$SoftwareUpdate_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
