USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RelationshipType]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipType](
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeName] [nvarchar](256) NOT NULL,
	[BaseRelationshipTypeId] [uniqueidentifier] NULL,
	[SourceManagedTypeId] [uniqueidentifier] NOT NULL,
	[TargetManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[IsAbstract] [bit] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[IsSealed] [bit] NOT NULL,
	[IsCycleOk] [bit] NOT NULL,
	[RelationshipTypeTableName] [nvarchar](128) NULL,
	[RelationshipTypeViewName] [nvarchar](128) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[SourceName] [nvarchar](256) NULL,
	[SourceId] [uniqueidentifier] NULL,
	[TargetName] [nvarchar](256) NULL,
	[TargetId] [uniqueidentifier] NULL,
	[SourceMaxCardinality] [int] NULL,
	[TargetMaxCardinality] [int] NULL,
	[SourceMinCardinality] [int] NULL,
	[TargetMinCardinality] [int] NULL,
	[IsMembership] [bit] NOT NULL,
	[IsContainment] [bit] NOT NULL,
	[IsHosting] [bit] NOT NULL,
 CONSTRAINT [PK_RelationshipType] PRIMARY KEY NONCLUSTERED 
(
	[RelationshipTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [RelationshipTypeName_UniqueName] UNIQUE NONCLUSTERED 
(
	[ManagementPackId] ASC,
	[RelationshipTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipType] ADD  CONSTRAINT [DF_RelationshipType_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[RelationshipType] ADD  CONSTRAINT [DF_RelationshipType_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[RelationshipType] ADD  CONSTRAINT [DF_RelationshipType_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[RelationshipType] ADD  CONSTRAINT [DF_RelationshipType_IsMembership]  DEFAULT ((0)) FOR [IsMembership]
GO
ALTER TABLE [dbo].[RelationshipType] ADD  CONSTRAINT [DF_RelationshipType_IsContainment]  DEFAULT ((0)) FOR [IsContainment]
GO
ALTER TABLE [dbo].[RelationshipType] ADD  CONSTRAINT [DF_RelationshipType_IsHosted]  DEFAULT ((0)) FOR [IsHosting]
GO
ALTER TABLE [dbo].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipType_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
GO
ALTER TABLE [dbo].[RelationshipType] CHECK CONSTRAINT [FK_RelationshipType_ManagementPack]
GO
ALTER TABLE [dbo].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipType_RelationshipType] FOREIGN KEY([BaseRelationshipTypeId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeId])
GO
ALTER TABLE [dbo].[RelationshipType] CHECK CONSTRAINT [FK_RelationshipType_RelationshipType]
GO
ALTER TABLE [dbo].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipType_SourceManagedTypeId] FOREIGN KEY([SourceManagedTypeId])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[RelationshipType] CHECK CONSTRAINT [FK_RelationshipType_SourceManagedTypeId]
GO
ALTER TABLE [dbo].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipType_TargetManagedTypeId] FOREIGN KEY([TargetManagedTypeId])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[RelationshipType] CHECK CONSTRAINT [FK_RelationshipType_TargetManagedTypeId]
GO
ALTER TABLE [dbo].[RelationshipType]  WITH CHECK ADD  CONSTRAINT [CK_RelationshipTypeName_Namelen] CHECK  ((len([RelationshipTypeName])>(0)))
GO
ALTER TABLE [dbo].[RelationshipType] CHECK CONSTRAINT [CK_RelationshipTypeName_Namelen]
GO
