USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_Role_SIDMember]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_Role_SIDMember](
	[RoleID] [int] NOT NULL,
	[MemberSID] [varbinary](85) NOT NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
 CONSTRAINT [PK_AzMan_Role_SIDMember] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[MemberSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_AzMan_Role_SIDMember_member] UNIQUE NONCLUSTERED 
(
	[RoleID] ASC,
	[MemberSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_Role_SIDMember]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_Role_SIDMember_AzMan_AzRoleAssignment] FOREIGN KEY([RoleID])
REFERENCES [dbo].[AzMan_AzRoleAssignment] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_Role_SIDMember] CHECK CONSTRAINT [FK_AzMan_Role_SIDMember_AzMan_AzRoleAssignment]
GO
