USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$FileSystem_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$FileSystem_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_Description_0F103B89_9E20_E2F7_2784_9C495C084219] [nvarchar](256) NULL,
	[Post_Description_0F103B89_9E20_E2F7_2784_9C495C084219] [nvarchar](256) NULL,
	[Pre_Key_6D9F01C1_6BCF_2AF1_ACD4_7E9C02972AAE] [nvarchar](256) NULL,
	[Post_Key_6D9F01C1_6BCF_2AF1_ACD4_7E9C02972AAE] [nvarchar](256) NULL,
	[Pre_Root_0EF0B4A0_44A5_891E_7734_C32A2A1583F2] [nvarchar](256) NULL,
	[Post_Root_0EF0B4A0_44A5_891E_7734_C32A2A1583F2] [nvarchar](256) NULL,
	[Pre_FSDescr_D8FCDD66_8D9E_688C_A650_0BDFCED4C574] [nvarchar](256) NULL,
	[Post_FSDescr_D8FCDD66_8D9E_688C_A650_0BDFCED4C574] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Index_8DC5E2C7_A879_D018_8E4F_BF7BD92B6184] [nvarchar](256) NULL,
	[Post_Index_8DC5E2C7_A879_D018_8E4F_BF7BD92B6184] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$FileSystem_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$FileSystem_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$FileSystem_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
