USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Measure]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measure](
	[MeasureId] [uniqueidentifier] NOT NULL,
	[MeasureName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Aggregation] [tinyint] NOT NULL,
	[DataTypeName] [nvarchar](256) NOT NULL,
	[Nullable] [bit] NOT NULL,
	[DataType] [tinyint] NOT NULL,
	[MaxLength] [int] NULL,
	[MinLength] [int] NULL,
	[Scale] [tinyint] NULL,
	[MinValue] [int] NULL,
	[MaxValue] [int] NULL,
	[CaseSensitive] [bit] NULL,
	[DefaultValue] [nvarchar](2000) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Measure] PRIMARY KEY CLUSTERED 
(
	[MeasureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Measure] ADD  CONSTRAINT [DF_Measure_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Measure] ADD  CONSTRAINT [DF_Measure_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Measure]  WITH CHECK ADD  CONSTRAINT [FK_Measure_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Measure] CHECK CONSTRAINT [FK_Measure_ManagementPack]
GO
ALTER TABLE [dbo].[Measure]  WITH CHECK ADD  CONSTRAINT [CK_Measure_DataType] CHECK  (([DataType]>=(0) AND [DataType]<=(6)))
GO
ALTER TABLE [dbo].[Measure] CHECK CONSTRAINT [CK_Measure_DataType]
GO
ALTER TABLE [dbo].[Measure]  WITH CHECK ADD  CONSTRAINT [CK_Measure_Scale] CHECK  (([Scale]<=(38)))
GO
ALTER TABLE [dbo].[Measure] CHECK CONSTRAINT [CK_Measure_Scale]
GO
