USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_Task_To_Operation_Link]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_Task_To_Operation_Link](
	[OperationID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
 CONSTRAINT [PK_AzMan_Task_To_Operation_Link] PRIMARY KEY CLUSTERED 
(
	[OperationID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_Task_To_Operation_Link]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_Task_To_Operation_Link_AzMan_AzOperation] FOREIGN KEY([OperationID])
REFERENCES [dbo].[AzMan_AzOperation] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_Task_To_Operation_Link] CHECK CONSTRAINT [FK_AzMan_Task_To_Operation_Link_AzMan_AzOperation]
GO
ALTER TABLE [dbo].[AzMan_Task_To_Operation_Link]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_Task_To_Operation_Link_AzMan_AzTask] FOREIGN KEY([TaskID])
REFERENCES [dbo].[AzMan_AzTask] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_Task_To_Operation_Link] CHECK CONSTRAINT [FK_AzMan_Task_To_Operation_Link_AzMan_AzTask]
GO
