USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Eulas]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eulas](
	[LicenseType] [nvarchar](20) NOT NULL,
	[Locale] [nvarchar](10) NOT NULL,
	[EULA] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LiceneseTypeLocale] PRIMARY KEY CLUSTERED 
(
	[LicenseType] ASC,
	[Locale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
