USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$ApplicationService]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$ApplicationService] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_E7EA3B1A_AE02_8090_1090_C2F5BE5F6D0E], T1.[Key_6B335AD3_7438_BD35_BC2B_CC792CCE070D], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[ServiceKey_43E7C21C_D873_B827_B190_B919D5B798B9], T2.[AgentAddress_E864D756_DC1B_85BA_0CE8_027EC8C9AD18], T2.[PortNumber_D45FE1A2_B67D_73F6_8BAA_F464449846F1], T2.[SeedName_F5E2B7B2_59A8_8C4E_7D16_7825A7EFAB73], T2.[SNMPVersion_0EC3656C_D389_D7A7_A940_851FBEF15945], T2.[sysContact_29B3B718_5D31_44CF_347D_1CB6F62BFE4E], T2.[sysDescr_A08BC0A9_2B3E_B166_3A9D_476E8E99E184], T2.[sysLocation_AF035B93_7605_EE6E_4152_6E393FE2F3E5], T2.[sysName_13E0462A_3B9C_0E55_7C92_02150DE4FE1F], T2.[sysObjectID_268F5DC5_4CE6_F9AC_19AE_81208E2C4C56], T3.[Index_CDA043DC_BCBD_A179_9D3B_AB51129B9448], T4.[RouterID_BF6BCB26_F09B_EB30_807A_020C8ABA3531], T5.[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] AS [DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] FROM [dbo].[MT_System$NetworkManagement$ApplicationService] T1 LEFT JOIN [dbo].[MT_System$NetworkManagement$SNMPAgent] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$MIB2_Fault_SNMPAgent] T3 ON T1.BaseManagedEntityId = T3.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$VRAgent] T4 ON T1.BaseManagedEntityId = T4.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT5 ON (RT5.RelationshipTypeId = '07C7C868-A59C-763C-3836-AEDDFF46ACBC'  AND RT5.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_System$NetworkManagement$Node] T5 ON RT5.SourceEntityId = T5.BaseManagedEntityId
GO
