USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$NetworkService]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$NetworkService] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvailabilitySchedule_0DB3A9F3_2891_A02B_E37B_9EFDAF3B35E6], T1.[BusinessDetailedDescription_BBB19438_4A6A_24C5_B38C_682B19230A96], T1.[Classification_EE738100_A25A_F850_7195_ADBD21E8D019], T1.[Description_7AF1FD06_ED75_946B_FEC5_6FCA88523E4E], T1.[IsBusinessService_B6DE4F73_1D1D_2097_F7E6_1E1C80AE1492], T1.[Key_E49761C1_3B1B_10EA_4726_B76EE993BA15], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[OwnedByOrganization_489FFC8D_DE2D_3424_EF85_456834AF940E], T1.[Priority_C75CD6B5_508A_DDE6_ECD0_EBC2434F5431], T1.[ServiceDescription_581483BC_0B32_2063_5D51_AD4F6B814175], T1.[ServiceKey_E8A0B8D4_C5ED_CBF1_0490_2C1D008EE60F], T1.[Status_0689C997_03F2_83DE_C0E7_FB8E18574552], T2.[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] AS [DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] FROM [dbo].[MT_System$NetworkManagement$NetworkService] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'C90845AC-8202-471E-8285-64892639EE48'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_System$NetworkManagement$Node] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
