USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactDimensionStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactDimensionStaging](
	[FactId] [uniqueidentifier] NOT NULL,
	[FactDimensionId] [uniqueidentifier] NOT NULL,
	[DimensionId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
