USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FavoriteReport]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteReport](
	[FavoriteReportId] [uniqueidentifier] NOT NULL,
	[FavoriteReportName] [nvarchar](256) NOT NULL,
	[ReportPath] [nvarchar](max) NOT NULL,
	[ReportParameterValues] [xml] NULL,
	[ReportUserId] [nvarchar](200) NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_FavoriteReport] PRIMARY KEY CLUSTERED 
(
	[FavoriteReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[FavoriteReport] ADD  CONSTRAINT [DF_FavoriteReport_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[FavoriteReport] ADD  CONSTRAINT [DF_FavoriteReport_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
