USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Operation]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operation](
	[OperationId] [uniqueidentifier] NOT NULL,
	[OperationName] [nvarchar](255) NOT NULL,
	[OperationNumericId] [int] NOT NULL,
	[ScopeType] [int] NOT NULL,
 CONSTRAINT [PK_Operation] PRIMARY KEY CLUSTERED 
(
	[OperationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Operation_OperationNumericId] UNIQUE NONCLUSTERED 
(
	[OperationNumericId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Operation]  WITH CHECK ADD  CONSTRAINT [CK_ScopeType] CHECK  (([ScopeType]=(1024) OR [ScopeType]=(512) OR [ScopeType]=(256) OR [ScopeType]=(132) OR [ScopeType]=(130) OR [ScopeType]=(128) OR [ScopeType]=(64) OR [ScopeType]=(34) OR [ScopeType]=(32) OR [ScopeType]=(16) OR [ScopeType]=(4) OR [ScopeType]=(2) OR [ScopeType]=(1)))
GO
ALTER TABLE [dbo].[Operation] CHECK CONSTRAINT [CK_ScopeType]
GO
