USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$Blade8264_Fault_Port_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$Blade8264_Fault_Port_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_Blade8264FaultIndex_0C80186A_5939_3604_52F2_1A652AD2D5A2] [nvarchar](256) NULL,
	[Post_Blade8264FaultIndex_0C80186A_5939_3604_52F2_1A652AD2D5A2] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$Blade8264_Fault_Port_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
