USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitoringJobStatus]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitoringJobStatus](
	[JobId] [uniqueidentifier] NOT NULL,
	[DiagnosticId] [uniqueidentifier] NULL,
	[RecoveryId] [uniqueidentifier] NULL,
	[StateChangeEventId] [uniqueidentifier] NOT NULL,
	[SubmittedBy] [nvarchar](256) NULL,
	[Status] [tinyint] NOT NULL,
	[Output] [nvarchar](max) NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[TimeScheduled] [datetime] NULL,
	[TimeStarted] [datetime] NULL,
	[TimeFinished] [datetime] NULL,
	[LastModified] [datetime] NOT NULL,
	[LastModifiedTimestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_MonitoringJobStatus] PRIMARY KEY NONCLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonitoringJobStatus] ADD  CONSTRAINT [DF_MonitoringJobStatus_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[MonitoringJobStatus]  WITH CHECK ADD  CONSTRAINT [FK_MonitoringJobStatus_Diagnostic] FOREIGN KEY([DiagnosticId])
REFERENCES [dbo].[Diagnostic] ([DiagnosticId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitoringJobStatus] CHECK CONSTRAINT [FK_MonitoringJobStatus_Diagnostic]
GO
ALTER TABLE [dbo].[MonitoringJobStatus]  WITH CHECK ADD  CONSTRAINT [FK_MonitoringJobStatus_Recovery] FOREIGN KEY([RecoveryId])
REFERENCES [dbo].[Recovery] ([RecoveryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitoringJobStatus] CHECK CONSTRAINT [FK_MonitoringJobStatus_Recovery]
GO
ALTER TABLE [dbo].[MonitoringJobStatus]  WITH CHECK ADD  CONSTRAINT [FK_MonitoringJobStatus_StateChangeEvent] FOREIGN KEY([StateChangeEventId])
REFERENCES [dbo].[StateChangeEvent] ([StateChangeEventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitoringJobStatus] CHECK CONSTRAINT [FK_MonitoringJobStatus_StateChangeEvent]
GO
ALTER TABLE [dbo].[MonitoringJobStatus]  WITH CHECK ADD  CONSTRAINT [CK_DiagonisticOrRecovery] CHECK  ((([DiagnosticId] IS NULL OR [RecoveryId] IS NULL) AND ([DiagnosticId] IS NOT NULL OR [RecoveryId] IS NOT NULL)))
GO
ALTER TABLE [dbo].[MonitoringJobStatus] CHECK CONSTRAINT [CK_DiagonisticOrRecovery]
GO
