USE [OperationsManager]
GO
/****** Object:  Table [dbo].[EntityChangeLogStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityChangeLogStaging](
	[EntityId] [uniqueidentifier] NULL,
	[EntityTypeId] [uniqueidentifier] NULL,
	[TypedEntityId] [uniqueidentifier] NULL,
	[RelatedEntityId] [uniqueidentifier] NULL,
	[RelationshipId] [uniqueidentifier] NULL,
	[FullName] [nvarchar](max) NULL,
	[Path] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[TopLevelHostEntityId] [uniqueidentifier] NULL,
	[ConcurrencyCheck] [bit] NULL,
	[ConcurrencyTimeStamp] [datetime] NULL,
	[LifetimeRelationshipId] [uniqueidentifier] NULL,
	[LastError] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
