USE [OperationsManager]
GO
/****** Object:  View [dbo].[ManagedEntityAvailabilityView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ManagedEntityAvailabilityView] AS
    SELECT 
        BME.[BaseManagedEntityId],
        [IsAvailable] = CAST( 
                          CASE 
                            WHEN HB_T.IsHeartbeating = 1 THEN HS_A.IsAvailable * ISNULL(TLH_A.IsAvailable, 0) -- account for TLH availability only when type is heartbeating
                            ELSE HS_A.IsAvailable
                          END AS bit),
        [AvailabilityLastModified] =
          CASE
            WHEN HB_T.IsHeartbeating = 1 THEN
              CASE
                WHEN ISNULL(HS_A.LastModified, '19000101') > ISNULL(TLH_A.LastModified, '19000101') THEN HS_A.LastModified
                ELSE TLH_A.LastModified
              END
            ELSE HS_A.LastModified
          END
    FROM dbo.[BaseManagedEntity] BME WITH (NOLOCK)
          JOIN dbo.[BaseManagedEntity] TLH_BME WITH (NOLOCK) ON TLH_BME.[BaseManagedEntityId] = BME.[TopLevelHostEntityId]
          JOIN -- get information on entity availability from health service / pool perspective
            (SELECT 
               BME.[BaseManagedEntityId],
               [IsAvailable] = ISNULL(MAX(CAST(A.[IsAvailable] AS int)), 0),
               [LastModified] = MAX(A.[LastModified])
             FROM dbo.[BaseManagedEntity] BME WITH (NOLOCK)
                    LEFT JOIN dbo.[Relationship] R WITH (NOLOCK) ON BME.[BaseManagedEntityId] = R.[TargetEntityId]
                                                        AND
                                                        (R.[RelationshipTypeId] = dbo.fn_ManagedTypeId_MicrosoftSystemCenterHealthServiceManagesEntity()
			                                                    OR 
                                                        R.[RelationshipTypeId] = dbo.fn_ManagedTypeId_MicrosoftSystemCenterManagementActionPointManagesEntity()
                                                        )
                                                        AND R.[IsDeleted] = 0
                    LEFT JOIN dbo.[Availability] A WITH (NOLOCK) ON A.[BaseManagedEntityId] = R.[SourceEntityId] 
             GROUP BY BME.[BaseManagedEntityId]
            ) AS HS_A ON BME.[TopLevelHostEntityId] = HS_A.[BaseManagedEntityId]
          JOIN -- get information on which types are heartbeating
            (SELECT
               ManagedTypeId = DMT.DerivedTypeId,
               IsHeartbeating = ISNULL(MAX(CAST(MTM.IsHeartbeating AS int)), 0)
             FROM dbo.DerivedManagedTypes DMT WITH (NOLOCK)
                    LEFT JOIN dbo.ManagedTypeMonitoring MTM WITH (NOLOCK) ON (DMT.BaseTypeId = MTM.ManagedTypeId) AND (MTM.IsHeartbeating = 1)
             GROUP BY DMT.DerivedTypeId
            ) AS HB_T ON (TLH_BME.BaseManagedTypeId = HB_T.ManagedTypeId)
          LEFT JOIN -- get information on entity availability from top-level host perspective
            dbo.Availability TLH_A WITH (NOLOCK) ON BME.TopLevelHostEntityId = TLH_A.BaseManagedEntityId
GO
