USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Advisor$Internal$AdvisorConnector]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Advisor$Internal$AdvisorConnector] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AgentID_36C21504_B166_A83B_E598_DEAF64A2FFEA], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PrincipalName_8A0070E6_02BE_5C2B_E979_6877641F8013], T1.[Version_91DCFAA9_CF32_BC62_DD84_EF49163F09B6], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$Advisor$Internal$AdvisorConnector] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'B22D9165-494B-5FA8-57AF-F2C608E103BC'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
