USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DerivedManagedTypes]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DerivedManagedTypes](
	[DerivedManagedTypeClusterKey] [int] IDENTITY(1,1) NOT NULL,
	[BaseTypeId] [uniqueidentifier] NOT NULL,
	[BaseIsAbstract] [bit] NOT NULL,
	[DerivedTypeId] [uniqueidentifier] NOT NULL,
	[DerivedIsAbstract] [bit] NOT NULL,
	[NonAbstractBaseTypeId] [uniqueidentifier] NULL,
	[Level] [int] NOT NULL,
 CONSTRAINT [PK_DerivedManagedTypes] PRIMARY KEY CLUSTERED 
(
	[DerivedManagedTypeClusterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
