USE [OperationsManager]
GO
/****** Object:  View [dbo].[JobLogView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[JobLogView] AS
    SELECT J.[JobId],
           L.JobLogId,
           L.Level,
		   L.Source,
		   L.Message,
		   L.TimeGenerated,
		   L.TimeAdded
    FROM dbo.JobLog L
    JOIN dbo.JobStatus J 
      ON J.JobInternalId = L.JobInternalId 

-- select * from dbo.JobLogView 
GO
