USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$RelayNetworkAdapterGroup]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$RelayNetworkAdapterGroup] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] FROM [dbo].[MT_System$NetworkManagement$RelayNetworkAdapterGroup] T1 RIGHT OUTER JOIN dbo.BaseManagedEntity BME ON BME.BaseManagedEntityId = T1.BaseManagedEntityId WHERE BME.IsDeleted = 0 AND BME.BaseManagedTypeId = '10CF561C-A47C-41DA-10F6-072C2B742DC3'
GO
