USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportId] [uniqueidentifier] NOT NULL,
	[ReportName] [nvarchar](256) NOT NULL,
	[ReportTarget] [uniqueidentifier] NULL,
	[ReportAccessibility] [tinyint] NOT NULL,
	[ReportVisible] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[Definition] [nvarchar](max) NULL,
	[ParameterBlock] [nvarchar](max) NULL,
	[ReportDefinition] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Report]  WITH NOCHECK ADD  CONSTRAINT [FK_Report_ManagedType] FOREIGN KEY([ReportTarget])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ManagedType]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ManagementPack]
GO
