USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$LucentP550_Fault_Port]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$LucentP550_Fault_Port](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[LucentP550FaultIndex_F0C8F712_A9B5_4986_55A6_1A7473FAA06B] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$LucentP550_Fault_Port] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
