USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ResourceAssignmentStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceAssignmentStaging](
	[DeployItemId] [uniqueidentifier] NOT NULL,
	[ResourceId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
