USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ImplicitUserRoleAdministratorState]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImplicitUserRoleAdministratorState](
	[RuleId] [uniqueidentifier] NOT NULL,
	[EntityTransactionLogId] [bigint] NULL,
	[EntityChangeLogId] [bigint] NULL,
	[EventCount] [bigint] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[LastModified] [datetime] NOT NULL,
	[LastNonZeroEventCount] [bigint] NULL,
	[LastNonZeroEventCountLastModified] [datetime] NULL,
	[LastErrorMessage] [nvarchar](max) NULL,
	[LastErrorMessageLastModified] [datetime] NULL,
 CONSTRAINT [CK_ImplicitUserRoleAdministratorState_RuleId_UniqueClustered] UNIQUE CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImplicitUserRoleAdministratorState] ADD  CONSTRAINT [DF_ImplicitUserRoleAdministratorState_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ImplicitUserRoleAdministratorState]  WITH CHECK ADD  CONSTRAINT [FK_ImplicitUserRoleAdministratorState_RuleId] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rules] ([RuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImplicitUserRoleAdministratorState] CHECK CONSTRAINT [FK_ImplicitUserRoleAdministratorState_RuleId]
GO
