USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ReportParameterControlImplementationStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportParameterControlImplementationStaging](
	[ReportParameterControlImplementationId] [uniqueidentifier] NOT NULL,
	[ReportParameterControlId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Platform] [tinyint] NOT NULL,
	[Assembly] [nvarchar](256) NOT NULL,
	[Type] [nvarchar](256) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
