USE [OperationsManager]
GO
/****** Object:  View [dbo].[MPElementView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MPElementView] AS
    SELECT MPElementViewInternal.MPElementId, MPElementViewInternal.MPElementName, MPElementViewInternal.MPElementType, MPElementViewInternal.ManagementPackId 
    FROM [dbo].MPElementViewInternal
    INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = MPElementViewInternal.ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	 
GO
