USE [OperationsManager]
GO
/****** Object:  Table [dbo].[BehaviorImplementations]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BehaviorImplementations](
	[BehaviorImplementationId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[BehaviorImplementationAccessibility] [tinyint] NOT NULL,
	[BehaviorImplementationName] [nvarchar](256) NOT NULL,
	[BehaviorImplementationTypeId] [uniqueidentifier] NOT NULL,
	[BehaviorImplementationPlatform] [int] NOT NULL,
	[BehaviorImplementationXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_BehaviorImplementations] PRIMARY KEY CLUSTERED 
(
	[BehaviorImplementationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BehaviorImplementations] ADD  DEFAULT ((0)) FOR [BehaviorImplementationPlatform]
GO
ALTER TABLE [dbo].[BehaviorImplementations] ADD  CONSTRAINT [DF_BehaviorImplementations_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[BehaviorImplementations] ADD  CONSTRAINT [DF_BehaviorImplementations_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[BehaviorImplementations]  WITH CHECK ADD  CONSTRAINT [FK_BehaviorImplementations_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BehaviorImplementations] CHECK CONSTRAINT [FK_BehaviorImplementations_ManagementPack]
GO
