USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Dimension]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dimension](
	[DimensionId] [uniqueidentifier] NOT NULL,
	[DimensionName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Extends] [uniqueidentifier] NULL,
	[Reconcile] [bit] NULL,
	[HierarchySupport] [tinyint] NOT NULL,
	[InferredDimension] [bit] NOT NULL,
	[TargetId] [uniqueidentifier] NOT NULL,
	[Template] [uniqueidentifier] NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Dimension] PRIMARY KEY CLUSTERED 
(
	[DimensionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dimension] ADD  DEFAULT ((0)) FOR [Reconcile]
GO
ALTER TABLE [dbo].[Dimension] ADD  CONSTRAINT [DF_Dimension_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Dimension] ADD  CONSTRAINT [DF_Dimension_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Dimension]  WITH CHECK ADD  CONSTRAINT [FK_Dimension_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dimension] CHECK CONSTRAINT [FK_Dimension_ManagementPack]
GO
