USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$ManagementGroup]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$ManagementGroup](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[ErrorReportingEnabled_369F9CA0_6046_DAB2_CAA2_E3D3D07BB7F3] [int] NULL,
	[AvailabilitySchedule_0DB3A9F3_2891_A02B_E37B_9EFDAF3B35E6] [nvarchar](256) NULL,
	[OnlineProductKnowledgeUrl_2E977989_CAF2_CCF6_43D0_6C22188EC5F9] [nvarchar](256) NULL,
	[SDKServiceSCP_7344BCA0_DE25_6FB1_6198_C65B1CFFCA37] [nvarchar](256) NULL,
	[SendOperationalDataReports_41CC160D_C6EC_6579_7183_2C6AD4DC9094] [bit] NULL,
	[Id_2B189F92_85D5_9DE6_46D2_82339B06CFB0] [nvarchar](256) NULL,
	[SDKServerName_B7956422_FBF2_C1F4_96BD_41B96151008A] [nvarchar](256) NULL,
	[Priority_C75CD6B5_508A_DDE6_ECD0_EBC2434F5431] [uniqueidentifier] NULL,
	[RootHealthServiceSCP_4CC60658_B643_962C_3DDD_2118F756F41F] [nvarchar](256) NULL,
	[SQLServerName_43FB076F_7970_4C86_6DCA_8BD541F45E3A] [nvarchar](256) NULL,
	[CommunicationPort_2EFD4CF9_4912_0231_817D_F0246DC3DC95] [int] NULL,
	[IsBusinessService_B6DE4F73_1D1D_2097_F7E6_1E1C80AE1492] [bit] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[ErrorReportingQueuingEnabled_B3075860_37A0_3099_2832_4949B1C7FB37] [int] NULL,
	[ServiceDescription_581483BC_0B32_2063_5D51_AD4F6B814175] [nvarchar](256) NULL,
	[Name_4C9109CF_941F_F40F_EF7A_1041F5A09F77] [nvarchar](256) NULL,
	[OwnedByOrganization_489FFC8D_DE2D_3424_EF85_456834AF940E] [nvarchar](256) NULL,
	[CEIPEnabled_BFCBAACE_81D9_A207_A781_7D737AC01FE2] [bit] NULL,
	[BusinessDetailedDescription_BBB19438_4A6A_24C5_B38C_682B19230A96] [nvarchar](256) NULL,
	[OperationalDatabaseName_FD672E61_8C4D_F7D8_E1ED_CD5C12F1602F] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[RunAsAccountRadio_F35F9C90_C86C_90EC_962B_7F9B17181DEE] [bit] NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[TierTimeDifferenceThreshold_973899B7_E9E1_A5C2_CCD0_7D87F3FF8736] [int] NULL,
	[AlertAutoResolvePeriod_B8513A61_92F3_8E6C_E179_AB0FECE2FDF9] [int] NULL,
	[HealthyAlertAutoResolvePeriod_06F88E3F_2E92_FD90_A9F6_8CD18E16219A] [int] NULL,
	[AlertMonitorReset_1272A279_41AE_DF92_651F_120BD3F69685] [bit] NULL,
	[Status_0689C997_03F2_83DE_C0E7_FB8E18574552] [uniqueidentifier] NULL,
	[Classification_EE738100_A25A_F850_7195_ADBD21E8D019] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$ManagementGroup] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ManagementGroup] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
