USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleGTExplicitIndexed]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleGTExplicitIndexed]
WITH SCHEMABINDING
AS
    SELECT URGT.UserRoleId, URGT.ScopeId, URGT.ScopeType, URGT.GroupId, URGT.TypeId
    FROM dbo.UserRoleGroupType URGT
    JOIN dbo.UserRole UR
	    ON URGT.UserRoleId = UR.UserRoleId
    JOIN dbo.[Profile] P
	    ON P.ProfileId = UR.ProfileId	
    WHERE P.IsImplicitProfile = 0
    AND URGT.ScopeType = 2 OR URGT.ScopeType = 8
GO
