USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_WatsonBucket_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_WatsonBucket_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_Parameter9] [nvarchar](256) NULL,
	[Post_Parameter9] [nvarchar](256) NULL,
	[Pre_AppName] [nvarchar](256) NULL,
	[Post_AppName] [nvarchar](256) NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_BucketType] [nvarchar](256) NULL,
	[Post_BucketType] [nvarchar](256) NULL,
	[Pre_Parameter4] [nvarchar](256) NULL,
	[Post_Parameter4] [nvarchar](256) NULL,
	[Pre_CustomMemoryDump] [nvarchar](3) NULL,
	[Post_CustomMemoryDump] [nvarchar](3) NULL,
	[Pre_Parameter5] [nvarchar](256) NULL,
	[Post_Parameter5] [nvarchar](256) NULL,
	[Pre_Parameter11] [nvarchar](256) NULL,
	[Post_Parameter11] [nvarchar](256) NULL,
	[Pre_MSResponseUrl] [nvarchar](256) NULL,
	[Post_MSResponseUrl] [nvarchar](256) NULL,
	[Pre_CustomGetCurrentOfficeDoc] [bit] NULL,
	[Post_CustomGetCurrentOfficeDoc] [bit] NULL,
	[Pre_MSBucketTable] [int] NULL,
	[Post_MSBucketTable] [int] NULL,
	[Pre_MSBucket] [int] NULL,
	[Post_MSBucket] [int] NULL,
	[Pre_Parameter2] [nvarchar](256) NULL,
	[Post_Parameter2] [nvarchar](256) NULL,
	[Pre_MSGetCurrentOfficeDoc] [bit] NULL,
	[Post_MSGetCurrentOfficeDoc] [bit] NULL,
	[Pre_AppVer] [nvarchar](256) NULL,
	[Post_AppVer] [nvarchar](256) NULL,
	[Pre_CustomRegKey] [nvarchar](max) NULL,
	[Post_CustomRegKey] [nvarchar](max) NULL,
	[Pre_Parameter10] [nvarchar](256) NULL,
	[Post_Parameter10] [nvarchar](256) NULL,
	[Pre_MSRegKey] [nvarchar](max) NULL,
	[Post_MSRegKey] [nvarchar](max) NULL,
	[Pre_SelectedCollectionResponseType] [nvarchar](256) NULL,
	[Post_SelectedCollectionResponseType] [nvarchar](256) NULL,
	[Pre_MSWQL] [nvarchar](max) NULL,
	[Post_MSWQL] [nvarchar](max) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_CustomWQL] [nvarchar](max) NULL,
	[Post_CustomWQL] [nvarchar](max) NULL,
	[Pre_CustomGetFile] [nvarchar](max) NULL,
	[Post_CustomGetFile] [nvarchar](max) NULL,
	[Pre_CustomResponseUrl] [nvarchar](256) NULL,
	[Post_CustomResponseUrl] [nvarchar](256) NULL,
	[Pre_MSDisplayType] [nvarchar](256) NULL,
	[Post_MSDisplayType] [nvarchar](256) NULL,
	[Pre_SelectedSolutionResponseType] [nvarchar](256) NULL,
	[Post_SelectedSolutionResponseType] [nvarchar](256) NULL,
	[Pre_Parameter8] [nvarchar](256) NULL,
	[Post_Parameter8] [nvarchar](256) NULL,
	[Pre_MSGetFile] [nvarchar](max) NULL,
	[Post_MSGetFile] [nvarchar](max) NULL,
	[Pre_CustomRegTree] [nvarchar](max) NULL,
	[Post_CustomRegTree] [nvarchar](max) NULL,
	[Pre_CustomGetFileVersion] [nvarchar](max) NULL,
	[Post_CustomGetFileVersion] [nvarchar](max) NULL,
	[Pre_MSMemoryDump] [nvarchar](3) NULL,
	[Post_MSMemoryDump] [nvarchar](3) NULL,
	[Pre_Parameter1] [nvarchar](256) NULL,
	[Post_Parameter1] [nvarchar](256) NULL,
	[Pre_Parameter6] [nvarchar](256) NULL,
	[Post_Parameter6] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_Parameter3] [nvarchar](256) NULL,
	[Post_Parameter3] [nvarchar](256) NULL,
	[Pre_Parameter7] [nvarchar](256) NULL,
	[Post_Parameter7] [nvarchar](256) NULL,
	[Pre_MSGetFileVersion] [nvarchar](max) NULL,
	[Post_MSGetFileVersion] [nvarchar](max) NULL,
	[Pre_MSRegTree] [nvarchar](max) NULL,
	[Post_MSRegTree] [nvarchar](max) NULL,
 CONSTRAINT [PK_MT_WatsonBucket_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_WatsonBucket_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_WatsonBucket_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
