USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$WorkflowFoundation$WorkflowTarget]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$WorkflowFoundation$WorkflowTarget] AS SELECT BaseManagedEntityId, DisplayName AS DisplayName FROM [dbo].[BaseManagedEntity]  WHERE BaseManagedEntityId = '351A1225-D47F-D3A6-152B-5CA5B54232F6'
GO
