USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ReportStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportStaging](
	[ReportId] [uniqueidentifier] NOT NULL,
	[ReportName] [nvarchar](256) NOT NULL,
	[ReportTarget] [uniqueidentifier] NULL,
	[ReportAccessibility] [tinyint] NOT NULL,
	[ReportVisible] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[Definition] [nvarchar](max) NULL,
	[ParameterBlock] [nvarchar](max) NULL,
	[ReportDefinition] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
