USE [OperationsManager]
GO
/****** Object:  View [dbo].[DeployItemView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[DeployItemView] as
select
 DeployItemId = T2.dep.value('.', 'uniqueidentifier')
,a.MPName
,DeploymentStatus = g.StatusName
,DeploymentStatusId = g.StatusId
,EntityName = coalesce(d.DeployItemName, f.DeployItemName)
,ImportTime = a.TimeAdded
,DeploymentCompleted = d.Execution
,TriggeringElement = T.OutputDocument.query('/SelectorOutput/Instance/*')
from dbo.ManagementPackHistory a
join (select MAX(TimeAdded) as TimeAdded, ManagementPackId from dbo.ManagementPackHistory group by ManagementPackId) b
  on a.ManagementPackId = b.ManagementPackId and a.TimeAdded = b.TimeAdded
left join dbo.DeploymentSelectorOutput T on a.ManagementPackHistoryId=T.PackTransactionId
  cross apply OutputDocument.nodes('/SelectorOutput/DeployerId') T2(dep)
left join dbo.DeploySequence c on a.ManagementPackHistoryId=c.PackTransactionId
left join dbo.DeployItem d on c.DeploySequenceId=d.DeploySequenceId and T2.dep.value('.', 'uniqueidentifier')=d.DeployItemId
left join dbo.DeploySequenceStaging e on a.ManagementPackHistoryId=e.PackTransactionId
left join dbo.DeployItemStaging f on e.DeploySequenceId=f.DeploySequenceId and T2.dep.value('.', 'uniqueidentifier')=f.DeployItemId
left join Infra.Status g on g.StatusId=coalesce(f.StatusId, d.StatusId, 3)
GO
