USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$IPNetwork]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$IPNetwork] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_026A7983_1951_571A_FAEF_C722B828C560], T1.[Key_964DA60D_F9AE_32BC_AC16_AA8E0C182B95], T1.[Netmask_9DD3CC1B_551D_CDF8_4997_A086ACC09CEE], T1.[NetworkNumber_9B90ED00_A4FC_1D83_5404_22C28250DD69], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Tag_1B41FEBA_D68B_5164_DEB1_D4FAA62833C3] FROM [dbo].[MT_System$NetworkManagement$IPNetwork] T1
GO
