USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UserRoleTask]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleTask](
	[UserRoleId] [uniqueidentifier] NOT NULL,
	[TaskId] [uniqueidentifier] NULL,
	[IsCredentialTask] [bit] NOT NULL,
	[ScopeId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserRoleTask_ScopeId_TaskId_IsCredentialTask] UNIQUE NONCLUSTERED 
(
	[ScopeId] ASC,
	[TaskId] ASC,
	[IsCredentialTask] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRoleTask] ADD  CONSTRAINT [DB_Task_IsCredentialTask]  DEFAULT ((0)) FOR [IsCredentialTask]
GO
ALTER TABLE [dbo].[UserRoleTask]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTask_ScopeId] FOREIGN KEY([ScopeId])
REFERENCES [dbo].[UserRoleScopeHandle] ([ScopeId])
GO
ALTER TABLE [dbo].[UserRoleTask] CHECK CONSTRAINT [FK_UserRoleTask_ScopeId]
GO
ALTER TABLE [dbo].[UserRoleTask]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTask_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleTask] CHECK CONSTRAINT [FK_UserRoleTask_TaskId]
GO
ALTER TABLE [dbo].[UserRoleTask]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTask_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([UserRoleId])
GO
ALTER TABLE [dbo].[UserRoleTask] CHECK CONSTRAINT [FK_UserRoleTask_UserRoleId]
GO
