USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AutoIncrementAvailableRange]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoIncrementAvailableRange](
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[FirstAvailableValue] [bigint] NOT NULL
) ON [PRIMARY]
GO
