USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeploySequenceStaging]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeploySequenceStaging](
	[DeploySequenceId] [uniqueidentifier] NOT NULL,
	[DeploySequenceName] [nvarchar](128) NOT NULL,
	[PackTransactionId] [uniqueidentifier] NOT NULL,
	[Outcome] [nvarchar](255) NOT NULL,
	[StatusId] [int] NOT NULL,
	[ForDelete] [bit] NOT NULL,
	[Sequence] [xml] NOT NULL,
	[Execution] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
