USE [OperationsManager]
GO
/****** Object:  Table [dbo].[WarehouseModuleStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseModuleStaging](
	[WarehouseModuleId] [uniqueidentifier] NOT NULL,
	[WarehouseModuleName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ETLModuleId] [uniqueidentifier] NOT NULL,
	[WarehouseModuleType] [tinyint] NOT NULL,
	[TargetWarehouseEntity] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL
) ON [PRIMARY]
GO
