USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PendingSdkDataSource]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingSdkDataSource](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectData] [nvarchar](max) NOT NULL,
	[ObjectType] [tinyint] NOT NULL,
	[TimestampAdded] [timestamp] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PendingSdkDataSource] ADD  CONSTRAINT [DF_PendingSdkDataSource_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[PendingSdkDataSource]  WITH CHECK ADD  CONSTRAINT [FK_PendingSdkDataSource_BaseManagedEntityId] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PendingSdkDataSource] CHECK CONSTRAINT [FK_PendingSdkDataSource_BaseManagedEntityId]
GO
