USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$ManagedComputer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$ManagedComputer](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[InstallDirectory_E2B8C073_9B17_6C3F_7B57_D4C10C9CA56D] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$ManagedComputer] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
