USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentBehaviorsStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentBehaviorsStaging](
	[ComponentBehaviorId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentBehaviorAccessibility] [tinyint] NOT NULL,
	[ComponentBehaviorName] [nvarchar](256) NOT NULL,
	[ComponentBehaviorBehaviorTypeId] [uniqueidentifier] NOT NULL,
	[ComponentBehaviorComponentTypeId] [uniqueidentifier] NOT NULL,
	[ComponentBehaviorXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
