USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_PortalLink_6979E0A2_BB24_4FFE_C88C_69FBDDCA9C9C] [nvarchar](256) NULL,
	[Post_PortalLink_6979E0A2_BB24_4FFE_C88C_69FBDDCA9C9C] [nvarchar](256) NULL,
	[Pre_OmsBladeLink_66D20D3C_F33E_C8D6_FFDF_00BEB62B848D] [nvarchar](512) NULL,
	[Post_OmsBladeLink_66D20D3C_F33E_C8D6_FFDF_00BEB62B848D] [nvarchar](512) NULL,
	[Pre_CustomerIdentifier_A2D49551_704B_133C_FC3F_197C3E4758F4] [uniqueidentifier] NULL,
	[Post_CustomerIdentifier_A2D49551_704B_133C_FC3F_197C3E4758F4] [uniqueidentifier] NULL,
	[Pre_ConfigServiceEndpoint_3EEF0E3D_26E9_7EA4_B087_978703FD85D6] [nvarchar](256) NULL,
	[Post_ConfigServiceEndpoint_3EEF0E3D_26E9_7EA4_B087_978703FD85D6] [nvarchar](256) NULL,
	[Pre_GatewayIdentifier_89CB7D62_3C09_B8E4_259D_628E4DBC4157] [uniqueidentifier] NULL,
	[Post_GatewayIdentifier_89CB7D62_3C09_B8E4_259D_628E4DBC4157] [uniqueidentifier] NULL,
	[Pre_WebSiteBaseUrl_32C9E463_2A17_0871_86D6_CBAE173729AB] [nvarchar](256) NULL,
	[Post_WebSiteBaseUrl_32C9E463_2A17_0871_86D6_CBAE173729AB] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_DataCollectorServiceEndpoint_81B24804_75BB_8BB6_2296_4C735444356B] [nvarchar](256) NULL,
	[Post_DataCollectorServiceEndpoint_81B24804_75BB_8BB6_2296_4C735444356B] [nvarchar](256) NULL,
	[Pre_IdentityProviderServiceEndpoint_CF02BFF1_66F7_9AF1_9019_A768A56E2BE4] [nvarchar](256) NULL,
	[Post_IdentityProviderServiceEndpoint_CF02BFF1_66F7_9AF1_9019_A768A56E2BE4] [nvarchar](256) NULL,
	[Pre_DataProviderServiceEndpoint_32961C92_E75F_1B7C_22E0_6650768A96EE] [nvarchar](256) NULL,
	[Post_DataProviderServiceEndpoint_32961C92_E75F_1B7C_22E0_6650768A96EE] [nvarchar](256) NULL,
	[Pre_IdentityServiceEndpoint_58B6EAD2_1192_2605_C65E_053949DFD30E] [nvarchar](256) NULL,
	[Post_IdentityServiceEndpoint_58B6EAD2_1192_2605_C65E_053949DFD30E] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_WebProxyAddress_1756CB83_B3EE_BBFC_4A80_5AA33B2779A5] [nvarchar](256) NULL,
	[Post_WebProxyAddress_1756CB83_B3EE_BBFC_4A80_5AA33B2779A5] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Advisor$Settings_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings_Log] ADD  DEFAULT ('https://service.systemcenteradvisor.com/Config/SettingService.svc') FOR [Pre_ConfigServiceEndpoint_3EEF0E3D_26E9_7EA4_B087_978703FD85D6]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings_Log] ADD  DEFAULT ('https://service.systemcenteradvisor.com/Config/SettingService.svc') FOR [Post_ConfigServiceEndpoint_3EEF0E3D_26E9_7EA4_B087_978703FD85D6]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings_Log] ADD  DEFAULT ('https://management.azure.com/') FOR [Pre_WebSiteBaseUrl_32C9E463_2A17_0871_86D6_CBAE173729AB]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings_Log] ADD  DEFAULT ('https://management.azure.com/') FOR [Post_WebSiteBaseUrl_32C9E463_2A17_0871_86D6_CBAE173729AB]
GO
