USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_LDAPQuery]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_LDAPQuery](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[LdapQuery] [ntext] NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
 CONSTRAINT [PK_AzMan_LDAPQuery] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_LDAPQuery]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_LDAPQuery_AzMan_AzApplicationGroup] FOREIGN KEY([GroupID])
REFERENCES [dbo].[AzMan_AzApplicationGroup] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_LDAPQuery] CHECK CONSTRAINT [FK_AzMan_LDAPQuery_AzMan_AzApplicationGroup]
GO
