USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ExtensionRegistry]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtensionRegistry](
	[Identity] [nvarchar](1024) NOT NULL,
	[Selector] [nvarchar](1024) NOT NULL,
	[Schema] [ntext] NOT NULL,
	[Type] [nvarchar](1024) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
