USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FormStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormStaging](
	[FormId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[FormName] [nvarchar](255) NOT NULL,
	[FormAccessibility] [tinyint] NOT NULL,
	[FormTarget] [uniqueidentifier] NULL,
	[FormConfiguration] [nvarchar](max) NULL,
	[FormAssembly] [uniqueidentifier] NULL,
	[BaseForm] [uniqueidentifier] NULL,
	[FormTypeName] [nvarchar](2000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
