USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PerformanceSource]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceSource](
	[PerformanceSourceId] [uniqueidentifier] NOT NULL,
	[PerformanceSourceInternalId] [int] IDENTITY(1,1) NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[PerformanceCounterId] [uniqueidentifier] NOT NULL,
	[RuleId] [uniqueidentifier] NOT NULL,
	[PerfmonInstanceName] [nvarchar](255) NULL,
	[LastSampledValue] [float] NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_PerformanceSource] PRIMARY KEY CLUSTERED 
(
	[PerformanceSourceInternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerformanceSource] ADD  CONSTRAINT [DF_PerformanceSource_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[PerformanceSource] ADD  CONSTRAINT [DF_PerformanceSource_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[PerformanceSource]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceSource_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerformanceSource] CHECK CONSTRAINT [FK_PerformanceSource_BaseManagedEntity]
GO
ALTER TABLE [dbo].[PerformanceSource]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceSource_PerfCounter] FOREIGN KEY([PerformanceCounterId])
REFERENCES [dbo].[PerformanceCounter] ([PerformanceCounterId])
GO
ALTER TABLE [dbo].[PerformanceSource] CHECK CONSTRAINT [FK_PerformanceSource_PerfCounter]
GO
ALTER TABLE [dbo].[PerformanceSource]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceSource_Rules] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rules] ([RuleId])
GO
ALTER TABLE [dbo].[PerformanceSource] CHECK CONSTRAINT [FK_PerformanceSource_Rules]
GO
