USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ResolutionState]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResolutionState](
	[ResolutionStateId] [uniqueidentifier] NOT NULL,
	[ResolutionState] [tinyint] NOT NULL,
	[ResolutionStateName] [nvarchar](50) NOT NULL,
	[IsPredefined] [bit] NOT NULL,
	[ShortcutKey] [nvarchar](30) NULL,
	[LastModified] [datetime] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[MPResourceElementId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ResolutionState] PRIMARY KEY CLUSTERED 
(
	[ResolutionStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Unique_ResolutionState] UNIQUE NONCLUSTERED 
(
	[ResolutionState] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResolutionState] ADD  CONSTRAINT [DF_ResolutionState_IsPredefined]  DEFAULT ((0)) FOR [IsPredefined]
GO
ALTER TABLE [dbo].[ResolutionState] ADD  CONSTRAINT [DF_ResolutionState_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ResolutionState] ADD  CONSTRAINT [DF_ResolutionState_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
