USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DataWarehouseScriptStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataWarehouseScriptStaging](
	[DataWarehouseScriptId] [uniqueidentifier] NOT NULL,
	[DataWarehouseScriptName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Install] [nvarchar](max) NOT NULL,
	[Uninstall] [nvarchar](max) NOT NULL,
	[Upgrade] [nvarchar](max) NULL,
	[UpgradeUnsupported] [bit] NULL,
	[DataWarehouseDataSetId] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
