USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitorType]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorType](
	[MonitorTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[MNTName] [nvarchar](256) NOT NULL,
	[MNTAccessibility] [tinyint] NOT NULL,
	[MNTConfigurationXSD] [nvarchar](max) NULL,
	[MNTImplementationXML] [nvarchar](max) NULL,
	[MNTRunAs] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MonitorType] PRIMARY KEY CLUSTERED 
(
	[MonitorTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonitorType] ADD  CONSTRAINT [DF_MonitorType_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[MonitorType] ADD  CONSTRAINT [DF_MonitorType_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[MonitorType]  WITH CHECK ADD  CONSTRAINT [FK_MonitorType_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitorType] CHECK CONSTRAINT [FK_MonitorType_ManagementPack]
GO
ALTER TABLE [dbo].[MonitorType]  WITH CHECK ADD  CONSTRAINT [FK_MonitorType_RunAs] FOREIGN KEY([MNTRunAs])
REFERENCES [dbo].[SecureReference] ([SecureReferenceId])
GO
ALTER TABLE [dbo].[MonitorType] CHECK CONSTRAINT [FK_MonitorType_RunAs]
GO
