USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Unix$Computer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Unix$Computer] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AgentVersion_77A23EDE_74F3_6AF6_868B_A3A62C9E8071], T1.[Architecture_8DF7D8FF_DD68_94A1_5D46_FC563CE5514E], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[DNSName_8BFEBBF4_EA01_18BB_05D1_F4F8B0D26056], T1.[HostServerName_7F2BCFF9_F3AC_73BD_D6B5_2A0A9255DB60], T1.[IPAddress_54A13B0F_AF4D_4658_B6F3_B6A416083748], T1.[IsVirtualMachine_413DC8AD_91B3_9E73_E27F_C9CC6A6E64C2], T1.[LogicalProcessors_5F931A7B_B1B0_C670_BC33_4D5B629EA8F7], T1.[NetworkName_0C1E0081_29B4_6B8E_4474_B35A65ED6483], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PhysicalProcessors_2C8997D7_CF22_C510_825D_266793761BB1], T1.[PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58], T1.[SSHPort_322CCA5B_54E4_35F6_67CC_FC7058390611], T1.[TimeZoneOffset_F792D5F3_2F21_4542_2F27_7D6622898864], T1.[VirtualMachineName_ADDAA520_3E4F_6B23_F6E9_B58164675FB5] FROM [dbo].[MT_Microsoft$Unix$Computer] T1
GO
