USE [OperationsManager]
GO
/****** Object:  View [dbo].[ManagedTypeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ManagedTypeView] AS
    SELECT [ManagedType].[ManagedTypeId] AS Id, 
           [ManagedType].[TypeName] AS Name, 
           [ManagedType].[BaseManagedTypeId] AS BaseMonitoringClassId, 
           [ManagedType].[ManagementPackId] AS ManagementPackId, 
           [ManagedType].[IsHosted] AS Hosted,
           [ManagedType].[IsAbstract] AS Abstract,
           [ManagedType].[Accessibility],
           [ManagedType].[IsSingleton] AS Singleton,
           [ManagedType].[IsSealed] AS Sealed,
           [ManagedType].[ManagedTypeTableName], 
           [ManagedType].[ManagedTypeViewName],
           [ManagedType].[ParentFolderId], 
           [ManagedType].[TimeAdded], 
           [ManagedType].[LastModified],
           [ManagedType].[ModifiedBy],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[ManagedType] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [ManagedType].[ManagedTypeId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [ManagedType].[ManagedTypeId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
    INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [ManagedType].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1    
GO
