USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Warehouse$SystemCenterCube]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Warehouse$SystemCenterCube] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Actions_3B2165A9_D213_AF32_CBAC_E330E9D3FCFC], T1.[Comment_3D73C398_DA30_347E_3F59_F034DBBD3CBC], T1.[CustomMDX_FAFE7EA8_FC84_0715_9C83_CC8F97A8B572], T1.[Domain_B4EC57C4_9AB7_1E73_276F_7DD1DED4D018], T1.[ID_17CBD51E_016D_B88E_2807_FBD8D2B8EE65], T1.[Internal_ElementId_538A4619_C36F_1FC3_EF99_91E2C46FBB4B], T1.[Internal_ManagementPackId_632F11E2_C888_9C4B_95F6_DA4D83B09E16], T1.[Internal_ParentId_29D6CD66_B56D_6340_248D_E37311561650], T1.[KPIS_34CF027A_8BA2_6E5E_39CC_9603EBB63545], T1.[ManyToManyRelationships_81C83B1F_730B_C8DD_BD43_6F912D08094E], T1.[MeasureGroups_E2AD797B_BB5C_E26F_9FD4_183209B99829], T1.[Measures_ED7FC137_5AB7_D097_85B7_DC0BA8B3F9DA], T1.[NamedCalculations_399BC995_3DF1_A4BC_52D3_AD2C1E03E8A3], T1.[Path_18EAC831_7885_85A7_A3A0_A2C23B1D1096], T1.[Substitutions_83D73A19_64F6_B8A7_902D_76C95CBE8E73] FROM [dbo].[MT_Microsoft$SystemCenter$Warehouse$SystemCenterCube] T1
GO
