USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$AD$Printer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$AD$Printer](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[PrintColor_53A72929_18CA_49EA_4D3C_3096A8DF0D21] [nvarchar](256) NULL,
	[PrintNetworkAddress_BD7BE840_C4C6_F688_4ADA_95AE7E8AA7FE] [nvarchar](2000) NULL,
	[Url_C0F9D272_0A47_461E_AD13_B95E02517CED] [nvarchar](2000) NULL,
	[ModifyTimeStamp_5DB6AF3D_D6D8_9053_794E_13D5B98BE686] [datetime] NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[UNCName_62343E5A_B82B_487D_6AE6_37F9C355A1E7] [nvarchar](1024) NOT NULL,
	[PrintMemory_FE07C5BA_659E_2B01_D89B_A691B6A7A17E] [nvarchar](256) NULL,
	[WhenChanged_22CADE7F_622A_AB34_D7B1_39A7F05A5180] [datetime] NULL,
	[PrintMACAddress_4FDA9F00_4A2C_2E4A_1563_084E291E5EF4] [nvarchar](2000) NULL,
	[VersionNumber_30B2A018_F3D1_9450_9C1C_62EEDEE82221] [nvarchar](256) NULL,
	[PrintShareName_B2C290D3_4E73_7497_A582_2507B76FB49D] [nvarchar](2000) NULL,
	[IsDeleted_1E09AFA9_591C_287A_904B_9AEDF9A50E63] [bit] NULL,
	[PrintMaxResolutionSupported_E52985F1_7D0D_F703_8F9C_E8299FB64BE3] [int] NULL,
	[PrintCollate_DE368101_1779_3461_6208_68A806BDB8E3] [nvarchar](256) NULL,
	[PrintStaplingSupported_F30B828E_4DEA_85B9_FE04_A15D7C322BB8] [nvarchar](256) NULL,
	[CanonicalName_50B74E14_8C2E_8989_A487_3475408E385D] [nvarchar](256) NULL,
	[AssetNumber_1F54C0D2_FEAE_F99D_3387_94503DACA1E8] [nvarchar](2000) NULL,
	[Fullname_A00A1CF4_E9AA_AA23_22D9_335B7F4330D5] [nvarchar](256) NULL,
	[PrintRateUnit_1B83E0CE_5C85_28B6_1F58_680A82979097] [nvarchar](2000) NULL,
	[PrintNotify_6070B651_B8FB_D399_1EFA_233E8034F2E9] [nvarchar](2000) NULL,
	[PrintMediaReady_8E44D139_05AB_4E1F_4727_3831FEE0B069] [nvarchar](2000) NULL,
	[Description_2F16A0E1_415A_DB2A_C85E_C0BAB6C85BFD] [nvarchar](2000) NULL,
	[ManagedBy_FF353475_8567_AA90_6D2E_80E7E2474901] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[ShortServerName_E6AC4EB6_9225_1559_17C8_73A01641632E] [nvarchar](256) NULL,
	[PortName_21F5E6DA_27C8_1C47_788F_263F792CBB4D] [nvarchar](2000) NULL,
	[WWWHomePage_81548897_7E21_0E66_2A78_F3E9FF0AC45B] [nvarchar](256) NULL,
	[PrintOwner_B455CEF8_4E38_8477_5E04_928BE5EA0C7C] [nvarchar](2000) NULL,
	[Keywords_8AAC7E7F_007F_FFF2_3288_E4A2A7276594] [nvarchar](256) NULL,
	[DriverVersion_7295F127_DC62_09C1_C6EC_A4815F4018FC] [nvarchar](256) NULL,
	[PhysicalLocationObject_7C772D13_2A5D_7067_BBA1_B45AFEFF87E4] [nvarchar](256) NULL,
	[PrintMediaSupported_49DA217E_5C36_E03B_840F_A7D560255FC4] [nvarchar](2000) NULL,
	[PrintBinNames_C4BE635B_BD78_C43D_F50A_388EB326DF19] [nvarchar](2000) NULL,
	[PrintRate_AEFFA20B_D428_EEF8_FC90_832BF8DA3DD4] [int] NULL,
	[DriverName_3DFC087B_EFB0_5E5D_7A16_DF655110914E] [nvarchar](2000) NULL,
	[ServerName_6C4FA196_42DF_A9E5_A04C_9DD2892B252D] [nvarchar](256) NULL,
	[OrganizationalUnit_23A87054_8ACE_50F4_0885_C960F76D9156] [nvarchar](1024) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[DistinguishedName_7719BD73_50A8_1776_FC8D_C6B6611A82C1] [nvarchar](256) NULL,
	[PrintMaxXExtent_21C4E63D_1167_49CA_F233_43B5AFD9987F] [int] NULL,
	[Location_007BF140_0B9A_136D_D33F_42DDE5ABB617] [nvarchar](2000) NULL,
	[PrintDuplexSupported_6DE09FD2_B41F_1CE1_925E_2A2775AC781D] [nvarchar](256) NULL,
	[PrintKeepPrintedJobs_A0A1ACC4_BC21_31A9_2406_B85EBA6CC3C7] [nvarchar](256) NULL,
	[PrintPagesPerMinute_D649CD2A_D470_644D_9ED6_AAFF0D6EB3BC] [int] NULL,
	[PrinterName_22B1A1AB_1B18_2CB9_D146_FCD0A12EC098] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$AD$Printer] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$AD$Printer] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
