USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$UserActionManager]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$UserActionManager](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[ManagementServerName_7C6FA305_39AE_45B3_2337_B0C615ECE039] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[PendingStateType_1E39F981_B50F_EB59_5D0A_0A29AD89F574] [int] NULL,
	[FailureType_4085D965_2C4C_9583_196C_4E680FF8FC9A] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[TargetDeviceNetworkName_B135297C_EC66_7D3F_BBB5_ED361AF782DB] [nvarchar](256) NULL,
	[LastModified_27D2BD94_DFB5_B6CB_FFD9_EE58AFC878C2] [datetime] NULL,
	[TargetDevicePrincipalName_D7D23E5C_2ECA_0615_C3F4_E53D0F9BF86B] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$UserActionManager] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$UserActionManager] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
