USE [OperationsManager]
GO
/****** Object:  View [dbo].[PerformanceCounterSignatureDataView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PerformanceCounterSignatureDataView] AS
    SELECT  [PerformanceSignatureHistoryId],
            [Order],
            [Average],
            [Deviation]
    FROM dbo.[PerformanceSignatureData] WITH (NOLOCK)
GO
