USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$CM$AEM$CrashListener]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$CM$AEM$CrashListener](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[PolicyResponseUrl_BABC2C5E_9EE3_C6CB_F88F_89217B4D3E3D] [nvarchar](256) NULL,
	[ErrorTransmissionFilters_B16EAD22_479A_30F7_18B4_16335A8EC57C] [nvarchar](256) NULL,
	[Enabled_12D34A10_4B8B_2D63_85BD_6BA42C0196F3] [bit] NULL,
	[Port_A6ED844F_6315_9625_2EAA_F482B23BBB69] [int] NULL,
	[OrganizationName_CCE0E379_E6C8_8A5F_347B_60CB50662298] [nvarchar](256) NULL,
	[PublishMSSolutionLinks_A7820C7B_ACC5_CC03_A39F_219D1C6AC5C1] [bit] NULL,
	[DetailedTransmission_BB90465F_ABFE_D1EC_0FFE_0EFF9FA48F0E] [bit] NULL,
	[TransmissionEnabled_8B8D7E95_32EA_4D2D_ACAD_3DB4946E2954] [bit] NULL,
	[PublishMSMemoryDumpRequests_76AC14E1_5351_F3D7_1296_8BC61E7C73F2] [bit] NULL,
	[PublishMSRegistryCollectionRequests_AAD7A383_8D1A_2DA8_E3DC_0B7835629DF5] [bit] NULL,
	[PublishMSSurveyLinks_1AAC1A6A_73B6_A2DA_3128_49FF3908CE45] [bit] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[SharePath_14ABD03E_5B14_FC17_925A_E279FB2AE635] [nvarchar](256) NULL,
	[EnableVistaPostClients_8C70BAF9_C1DC_CC76_6064_5786EDCE83D2] [bit] NULL,
	[PublishMSFileCollectionRequests_02FCEB38_1A95_4EE4_6416_359C99FA00C1] [bit] NULL,
	[MaxNumberCabsToCollect_C0A3B0AD_AA6D_6985_FE9E_D2F29C9361B8] [int] NULL,
	[EnablePreVistaClients_5F657416_B0A6_F357_8DB9_6D605D190474] [bit] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[PublishMSWMIQueryRequests_41F7E25A_733B_5762_350F_61EA0F9982DA] [bit] NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[ExceptionFolders_0753F8F4_1CAC_F54C_B009_5D25974BF6A3] [nvarchar](256) NULL,
	[LocalFileShareAddr_EBF37DDC_51D8_F702_7000_4E0D426F37D5] [nvarchar](256) NULL,
	[UseWindowsAuth_D965C0F3_EACC_03B4_644B_3321CEDA595F] [bit] NULL,
	[Protocol_2D60FF5F_7FC5_0964_BE63_98AD319B8411] [nvarchar](256) NULL,
	[PublishMSDataCollectionRequests_957FECC7_B3B2_6FC6_1D91_AD36118BF629] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$CM$AEM$CrashListener] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$CM$AEM$CrashListener] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
