USE [OperationsManager]
GO
/****** Object:  View [dbo].[DatatypeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DatatypeView] AS
    SELECT [Datatype].[DatatypeId] AS Id, 
           [Datatype].[DatatypeName] AS Name, 
           [Datatype].[ManagementPackId] AS ManagementPackId, 
           [Datatype].[DatatypeAccessibility] AS Accessibility,
           [Datatype].[Implementation] AS ImplementationXml,
           [Datatype].[BaseDatatypeId] AS BaseDataTypeId,
           [Datatype].TimeAdded, 
           [Datatype].LastModified, 
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[Datatype] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [Datatype].[DatatypeId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [Datatype].[DatatypeId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Datatype].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
