USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Warehouse$Dimension$ProcessingInterval]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Warehouse$Dimension$ProcessingInterval] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[IntervalInMinutes_88BCC5B4_4899_A7D9_5BB9_A488A8ABF820] FROM [dbo].[MT_Microsoft$SystemCenter$Warehouse$Dimension$ProcessingInterval] T1 RIGHT OUTER JOIN dbo.BaseManagedEntity BME ON BME.BaseManagedEntityId = T1.BaseManagedEntityId WHERE BME.IsDeleted = 0 AND BME.BaseManagedTypeId = '2DE7A96C-8C80-1182-E66B-4249074E119A'
GO
