USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CategoryStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryStaging](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[CategoryTarget] [uniqueidentifier] NULL,
	[CategoryManagementPackName] [nvarchar](256) NULL,
	[CategoryManagementPackVersion] [nvarchar](256) NULL,
	[CategoryManagementPackPublicKeyToken] [nvarchar](256) NULL,
	[CategoryValue] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
