USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$CM$AEM$SystemBucket]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$CM$AEM$SystemBucket](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[MSResponseUrl_35AB5B1F_C13E_3D65_BF3A_08CFD25CC6EB] [nvarchar](256) NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[HitTime_F0515FB1_116F_73DA_2689_3A6B96D4B8C5] [nvarchar](256) NOT NULL,
	[MSGenericSolutionId_06FC3453_454C_5EE4_FEE7_F99E9262B6B1] [int] NULL,
	[MSSpecificSolution_A0530CE8_CCA9_3D2F_558C_4BE0459B8E5C] [nvarchar](256) NULL,
	[MSSolutionId_97BE7CB1_C3D5_9A50_5FE6_D14EA8FD4880] [int] NULL,
	[CabFileName_0F49EED0_4C10_E783_9501_984915C37256] [nvarchar](256) NOT NULL,
	[MSResponseTypeId_246C271B_3598_0017_3CA8_A337B64030A8] [int] NULL,
	[MachineName_646B3C35_0F69_F4B9_0ED7_34F91F77B1F8] [nvarchar](256) NOT NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[BucketType_95B4B312_C7F9_6A2D_97C0_BA5CB9D385A0] [nvarchar](256) NOT NULL,
	[MSGenericSolution_1E87F53F_534A_CF63_0564_9F6AD17C0208] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[UserName_D2BBAFEC_A957_D13B_2C94_C74026455AE1] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$CM$AEM$SystemBucket] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$CM$AEM$SystemBucket] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
