USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ReportResourceStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportResourceStaging](
	[ReportResourceId] [uniqueidentifier] NOT NULL,
	[ReportResourceName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[ReportResourceData] [varbinary](max) NOT NULL,
	[MIMEType] [nvarchar](256) NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
