USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ResourceStore]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceStore](
	[ResourceStoreId] [uniqueidentifier] NOT NULL,
	[ResourceStoreName] [nvarchar](128) NOT NULL,
	[ResourceStoreType] [nvarchar](128) NOT NULL,
	[ResourceStoreRole] [nvarchar](128) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ResourceStore] PRIMARY KEY CLUSTERED 
(
	[ResourceStoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResourceStore] ADD  CONSTRAINT [DF_ResourceStore_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ResourceStore] ADD  CONSTRAINT [DF_ResourceStore_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
