USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitorOperationalStateStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorOperationalStateStaging](
	[MonitorOperationalStateId] [uniqueidentifier] NOT NULL,
	[MonitorOperationalStateName] [nvarchar](256) NOT NULL,
	[MonitorId] [uniqueidentifier] NOT NULL,
	[MonitorTypeStateId] [uniqueidentifier] NOT NULL,
	[HealthState] [tinyint] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
