USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$Card]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$Card] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Index_485840CC_D677_55E6_07D1_AB57DB973C52], T1.[Key_1741EEDA_6042_9D0E_1EFB_0B582D0C7A78], T1.[Location_950B9F79_0231_94F1_1766_D5F1560EABB6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[RedundantUnitId_A6BB5DE0_E750_B55A_85D5_402C4935532E], T1.[SerialNumber_054F8832_F159_0485_5330_3BD2AC9D6D84], T1.[Tag_E8A9E615_2B67_2870_05F7_0C145655EF06], T1.[Type_EE342F93_0281_0EFE_ABF2_DB4CD1FBFA49], T2.[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] AS [DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] FROM [dbo].[MT_System$NetworkManagement$Card] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '0A900149-2C5C-9D3B-B914-6A7E7E5878BE'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_System$NetworkManagement$Node] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
