USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Discipline]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discipline](
	[DisciplineId] [uniqueidentifier] NOT NULL,
	[DisciplineName] [nvarchar](128) NOT NULL,
	[DisciplineDisplayName] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Discipline] PRIMARY KEY CLUSTERED 
(
	[DisciplineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Discipline] ADD  CONSTRAINT [DF_Discipline_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Discipline] ADD  CONSTRAINT [DF_Discipline_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
