USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$ManagementDataAccessService_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$ManagementDataAccessService_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_ServiceName_7CA37376_3C78_6543_8575_5D8BB29F3880] [nvarchar](256) NULL,
	[Post_ServiceName_7CA37376_3C78_6543_8575_5D8BB29F3880] [nvarchar](256) NULL,
	[Pre_ServiceProcessName_626BBC3A_7B19_B10C_1BA6_0753BDC334C4] [nvarchar](256) NULL,
	[Post_ServiceProcessName_626BBC3A_7B19_B10C_1BA6_0753BDC334C4] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Description_EE27B9EE_18AB_E2E3_D4CA_F0EFA702A463] [nvarchar](1000) NULL,
	[Post_Description_EE27B9EE_18AB_E2E3_D4CA_F0EFA702A463] [nvarchar](1000) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_DisplayName_D445248D_CBE1_9C0D_FA7C_8CBCDD91DB5E] [nvarchar](256) NULL,
	[Post_DisplayName_D445248D_CBE1_9C0D_FA7C_8CBCDD91DB5E] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$ManagementDataAccessService_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ManagementDataAccessService_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ManagementDataAccessService_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
