USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts$OM_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Installed$OMProducts$OM_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_AccountLogOnType_65937B72_69D4_0CE9_F766_C59A812799F3] [nvarchar](256) NULL,
	[Post_AccountLogOnType_65937B72_69D4_0CE9_F766_C59A812799F3] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Installed$OMProducts$OM_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
