USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DataAccessLayerSetting]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataAccessLayerSetting](
	[DataAccessLayerSettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingType] [tinyint] NOT NULL,
	[SettingData] [xml](CONTENT [dbo].[DataAccessLayer]) NOT NULL,
	[LastModified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DataAccessLayerSettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataAccessLayerSetting] ADD  CONSTRAINT [DF_DataAccessLayerSetting_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[DataAccessLayerSetting]  WITH CHECK ADD  CONSTRAINT [CK_DataAccessLayerSetting_SettingType] CHECK  (([SettingType]>=(0) AND [SettingType]<(2)))
GO
ALTER TABLE [dbo].[DataAccessLayerSetting] CHECK CONSTRAINT [CK_DataAccessLayerSetting_SettingType]
GO
