USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Azman_SQLRole]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Azman_SQLRole](
	[uid] [int] NOT NULL,
	[ObjectID] [int] NULL,
	[ObjectType] [tinyint] NULL,
	[SQLRoleName] [nvarchar](64) NOT NULL,
	[RoleType] [tinyint] NULL
) ON [PRIMARY]
GO
