USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleScopeHandleView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleScopeHandleView] AS
    SELECT [UserRoleId],
           [ScopeId],
           [GroupId]
    FROM dbo.UserRoleScopeHandle
GO
