USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RelationshipTypeRemovalLog]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipTypeRemovalLog](
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeName] [nvarchar](256) NOT NULL,
	[BaseRelationshipTypeId] [uniqueidentifier] NULL,
	[RelationshipTypeRemovalDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
