USE [OperationsManager]
GO
/****** Object:  Table [dbo].[KnowledgeArticleStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KnowledgeArticleStaging](
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [nvarchar](3) NOT NULL,
	[KnowledgeReferenceId] [uniqueidentifier] NOT NULL,
	[ElementName] [nvarchar](256) NOT NULL,
	[SubElementName] [nvarchar](256) NULL,
	[KnowledgeVisible] [bit] NOT NULL,
	[KnowledgeContent] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
