USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UserRoleView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleView](
	[UserRoleId] [uniqueidentifier] NOT NULL,
	[ViewId] [uniqueidentifier] NULL,
	[ScopeId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserRoleView_ScopeId_ViewId] UNIQUE NONCLUSTERED 
(
	[ScopeId] ASC,
	[ViewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRoleView]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleView_ScopeId] FOREIGN KEY([ScopeId])
REFERENCES [dbo].[UserRoleScopeHandle] ([ScopeId])
GO
ALTER TABLE [dbo].[UserRoleView] CHECK CONSTRAINT [FK_UserRoleView_ScopeId]
GO
ALTER TABLE [dbo].[UserRoleView]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleView_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([UserRoleId])
GO
ALTER TABLE [dbo].[UserRoleView] CHECK CONSTRAINT [FK_UserRoleView_UserRoleId]
GO
ALTER TABLE [dbo].[UserRoleView]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleView_ViewId] FOREIGN KEY([ViewId])
REFERENCES [dbo].[Views] ([ViewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleView] CHECK CONSTRAINT [FK_UserRoleView_ViewId]
GO
