USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedTypeStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTypeStaging](
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[TypeName] [nvarchar](256) NOT NULL,
	[BaseManagedTypeId] [uniqueidentifier] NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[IsHosted] [bit] NOT NULL,
	[IsAbstract] [bit] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[IsSingleton] [bit] NOT NULL,
	[IsSealed] [bit] NOT NULL,
	[ManagedTypeTableName] [nvarchar](128) NULL,
	[ManagedTypeViewName] [nvarchar](128) NULL,
	[ParentFolderId] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[IsExtensionType] [bit] NULL,
	[SearchableXML] [nvarchar](max) NULL,
	[HostManagedTypeId] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedTypeStaging] ADD  CONSTRAINT [DF_ManagedTypeStaging_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ManagedTypeStaging] ADD  CONSTRAINT [DF_ManagedTypeStaging_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ManagedTypeStaging] ADD  CONSTRAINT [DF_ManagedTypeStaging_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[ManagedTypeStaging]  WITH CHECK ADD  CONSTRAINT [CK_ManagedTypeStaging_Namelen] CHECK  ((len([TypeName])>(0)))
GO
ALTER TABLE [dbo].[ManagedTypeStaging] CHECK CONSTRAINT [CK_ManagedTypeStaging_Namelen]
GO
