USE [OperationsManager]
GO
/****** Object:  View [dbo].[ReportsView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ReportsView] AS
    SELECT [Report].[ReportId] AS Id, 
           [Report].[ManagementPackId] AS ManagementPackId, 
           [Report].[ReportName] AS Name, 
           [Report].[ReportTarget] AS TargetMonitoringClassId, 
           [Report].[ReportAccessibility] AS Accessibility,
           [Report].[ReportVisible] AS Visible,
           [Report].[Definition] AS Definition,
           [Report].[ParameterBlock] AS ParameterBlock,
           [Report].[TimeAdded],
           [Report].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.Report  LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = Report.ReportId AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = Report.ReportId AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Report].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
