USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$KENTROX_AAC2_Fault_Port]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$KENTROX_AAC2_Fault_Port](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[KENTROXFaultIndex_6B22AF57_0D9D_8E86_E76B_EE30A58DC6F5] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$KENTROX_AAC2_Fault_Port] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
