USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DiscoverySource]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoverySource](
	[DiscoverySourceId] [uniqueidentifier] NOT NULL,
	[DiscoverySourceType] [tinyint] NOT NULL,
	[DiscoveryRuleId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[TimeGeneratedOfLastSnapshot] [datetime] NOT NULL,
	[BoundManagedEntityId] [uniqueidentifier] NULL,
	[ConnectorId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_DiscoverySource] PRIMARY KEY CLUSTERED 
(
	[DiscoverySourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoverySource]  WITH CHECK ADD  CONSTRAINT [FK_DiscoverySource_TypedManagedEntity] FOREIGN KEY([BoundManagedEntityId])
REFERENCES [dbo].[TypedManagedEntity] ([TypedManagedEntityId])
GO
ALTER TABLE [dbo].[DiscoverySource] CHECK CONSTRAINT [FK_DiscoverySource_TypedManagedEntity]
GO
ALTER TABLE [dbo].[DiscoverySource]  WITH CHECK ADD  CONSTRAINT [CK_DiscoverySource_DiscoverySourceType] CHECK  (([DiscoverySourceType]>=(0) AND [DiscoverySourceType]<=(4)))
GO
ALTER TABLE [dbo].[DiscoverySource] CHECK CONSTRAINT [CK_DiscoverySource_DiscoverySourceType]
GO
