USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ViewTypeSchemaReferenceStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewTypeSchemaReferenceStaging](
	[ViewTypeId] [uniqueidentifier] NOT NULL,
	[SchemaTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
