USE [OperationsManager]
GO
/****** Object:  View [dbo].[AllOverrideViewLocalized]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[AllOverrideViewLocalized] AS
	 SELECT [AllOverrideView].Id, 
           [AllOverrideView].[Name], 
           [AllOverrideView].CategoryId,
           [AllOverrideView].TargetId,
           [AllOverrideView].ParentType,
           [AllOverrideView].ModuleId,
           [AllOverrideView].ModuleName,
           [AllOverrideView].OverrideableParameterId,
           [AllOverrideView].OverrideableParameterName,
           [AllOverrideView].ContextId,
           [AllOverrideView].ContextObjectId,
           [AllOverrideView].Value,
           [AllOverrideView].Enforced,
           [AllOverrideView].ManagementPackId,
           [AllOverrideView].OverrideType,
           [AllOverrideView].MPIsSealed,
           [AllOverrideView].TimeAdded,
           [AllOverrideView].LastModified,
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[AllOverrideView] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [AllOverrideView].[Id] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [AllOverrideView].[Id] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
GO
