USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedType]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedType](
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[TypeName] [nvarchar](256) NOT NULL,
	[BaseManagedTypeId] [uniqueidentifier] NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[IsHosted] [bit] NOT NULL,
	[IsAbstract] [bit] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[IsSingleton] [bit] NOT NULL,
	[IsSealed] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ManagedTypeTableName] [nvarchar](128) NULL,
	[ManagedTypeViewName] [nvarchar](128) NULL,
	[ParentFolderId] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[PolicyTimestamp] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[IsExtensionType] [bit] NULL,
	[SearchableXML] [nvarchar](max) NULL,
 CONSTRAINT [PK_ManagedType] PRIMARY KEY NONCLUSTERED 
(
	[ManagedTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ManagedType_UniqueName] UNIQUE NONCLUSTERED 
(
	[ManagementPackId] ASC,
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedType] ADD  CONSTRAINT [DF_ManagedType_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ManagedType] ADD  CONSTRAINT [DF_ManagedType_PolicyTimestamp]  DEFAULT (getutcdate()) FOR [PolicyTimestamp]
GO
ALTER TABLE [dbo].[ManagedType] ADD  CONSTRAINT [DF_ManagedType_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ManagedType] ADD  CONSTRAINT [DF_ManagedType_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[ManagedType]  WITH CHECK ADD  CONSTRAINT [FK_ManagedType_ManagedType] FOREIGN KEY([BaseManagedTypeId])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[ManagedType] CHECK CONSTRAINT [FK_ManagedType_ManagedType]
GO
ALTER TABLE [dbo].[ManagedType]  WITH CHECK ADD  CONSTRAINT [FK_ManagedType_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
GO
ALTER TABLE [dbo].[ManagedType] CHECK CONSTRAINT [FK_ManagedType_ManagementPack]
GO
ALTER TABLE [dbo].[ManagedType]  WITH CHECK ADD  CONSTRAINT [CK_ManagedType_Namelen] CHECK  ((len([TypeName])>(0)))
GO
ALTER TABLE [dbo].[ManagedType] CHECK CONSTRAINT [CK_ManagedType_Namelen]
GO
