USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Windows$Server$6$2$DiskPartition]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Windows$Server$6$2$DiskPartition] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[BlockSize_5F2753D3_1BA5_D0A5_0937_B86316F9B28D], T1.[Bootable_64E7330B_3BD4_503C_75D3_87FFAE858FBA], T1.[Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87], T1.[DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4], T1.[DiskIndex_CF1EDAA5_BDBE_6CCE_4274_DC852AAE222E], T1.[Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PrimaryPartition_503C0881_9221_BC4C_26C5_15B94FE8804A], T1.[Size_07E71C78_0D0C_E26E_9931_9E0AFA10F039], T1.[Type_DF3E08FA_33DE_C521_4F94_CEB60130835A], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$Windows$Server$6$2$DiskPartition] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'E4C6F8CE-0763-51C6-6421-C424A93A1EB6'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
