USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$WebApplicationTest$WebTest]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$WebApplicationTest$WebTest](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[IntervalInSeconds_EB64DB72_B1B4_734F_B5F6_02045FE5EDF2] [int] NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[ConsecutiveMatchCount_DF9DD26B_4312_E009_E5A3_D0F7CA8A80C3] [int] NULL,
	[Context_3245402F_4338_AB95_1093_408ED425BFBB] [nvarchar](max) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Location_0FA25EE2_552F_87B7_900A_040141003AEA] [nvarchar](36) NULL,
	[Alerting_DFA40526_FFC3_628A_F72D_E4F41F13988F] [bit] NULL,
	[TestConfig_7989CC38_5EE3_5C9A_42EF_710F26BC47E6] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Parameters_406C7685_E2D2_2A2E_2CF7_84F84C04DA13] [nvarchar](max) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[InstanceId_1C4ECB8E_D4C2_873C_F0E9_513879A13641] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$WebApplicationTest$WebTest] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$WebApplicationTest$WebTest] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
