USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactDimension]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactDimension](
	[FactId] [uniqueidentifier] NOT NULL,
	[FactDimensionId] [uniqueidentifier] NOT NULL,
	[DimensionId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_FactDimension] PRIMARY KEY CLUSTERED 
(
	[FactDimensionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactDimension] ADD  CONSTRAINT [DF_FactDimension_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[FactDimension] ADD  CONSTRAINT [DF_FactDimension_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[FactDimension]  WITH CHECK ADD  CONSTRAINT [FK_FactDimension_Dimension] FOREIGN KEY([DimensionId])
REFERENCES [dbo].[Dimension] ([DimensionId])
GO
ALTER TABLE [dbo].[FactDimension] CHECK CONSTRAINT [FK_FactDimension_Dimension]
GO
ALTER TABLE [dbo].[FactDimension]  WITH CHECK ADD  CONSTRAINT [FK_FactDimension_Fact] FOREIGN KEY([FactId])
REFERENCES [dbo].[Fact] ([FactId])
GO
ALTER TABLE [dbo].[FactDimension] CHECK CONSTRAINT [FK_FactDimension_Fact]
GO
ALTER TABLE [dbo].[FactDimension]  WITH CHECK ADD  CONSTRAINT [FK_FactDimension_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactDimension] CHECK CONSTRAINT [FK_FactDimension_ManagementPack]
GO
