USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Resource]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[ResourceId] [uniqueidentifier] NOT NULL,
	[ResourceName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[ResourceType] [tinyint] NOT NULL,
	[QualifiedName] [nvarchar](2000) NULL,
	[MimeType] [nvarchar](256) NULL,
	[ResourceDependencies] [nvarchar](max) NULL,
	[HasNullStream] [bit] NOT NULL,
	[FileName] [nvarchar](256) NULL,
	[FileCreationDate] [datetime] NULL,
	[FileModifiedDate] [datetime] NULL,
	[ResourceValue] [varbinary](max) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Resource] ADD  CONSTRAINT [DF_Resource_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Resource] ADD  CONSTRAINT [DF_Resource_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [FK_Resource_ManagementPackId] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [FK_Resource_ManagementPackId]
GO
