USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CredentialHealthServiceRemoval]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CredentialHealthServiceRemoval](
	[InternalId] [int] IDENTITY(1,1) NOT NULL,
	[CredentialHealthServiceId] [uniqueidentifier] NOT NULL,
	[SecureStorageElementId] [uniqueidentifier] NOT NULL,
	[HealthServiceId] [uniqueidentifier] NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_CredentialHealthServiceRemoval] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CredentialHealthServiceRemoval] ADD  CONSTRAINT [DF_CredentialHealthServiceRemoval_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
