USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$Environment]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$Environment] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Category_EB2925F6_7D2C_452B_610F_9FCC5A4F1480], T1.[Description_B41C928F_E14B_83D5_3F2C_E693AE032A45], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[Notes_71980D64_C983_7EA4_B3D7_4740CEBB42E2], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Title_7EDD3AD7_9D62_E344_B491_009A7F148B28] FROM [dbo].[MT_System$Environment] T1
GO
