USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$AllManagementServersPool]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$AllManagementServersPool] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_7E313F72_40AA_9270_024A_88281E562876], T1.[IsDynamic_BBAE5CB6_FCE0_8CA7_507C_B698E88F4CB8], T1.[MembershipVersion_55C11DF7_009F_8DA0_E040_AE978788F0A1], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[UseDefaultObserver_4D15741A_DCDD_D148_8571_1CA720ECEF01] FROM [dbo].[MT_Microsoft$SystemCenter$AllManagementServersPool] T1 RIGHT OUTER JOIN dbo.BaseManagedEntity BME ON BME.BaseManagedEntityId = T1.BaseManagedEntityId WHERE BME.IsDeleted = 0 AND BME.BaseManagedTypeId = '4932D8F0-C8E2-2F4B-288E-3ED98A340B9F'
GO
