USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitorTypeState]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorTypeState](
	[MonitorTypeStateId] [uniqueidentifier] NOT NULL,
	[MonitorTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[MNTSName] [nvarchar](256) NOT NULL,
	[MNTSNoDetection] [bit] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MonitorTypeState] PRIMARY KEY CLUSTERED 
(
	[MonitorTypeStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonitorTypeState] ADD  CONSTRAINT [DF_MonitorTypeState_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[MonitorTypeState] ADD  CONSTRAINT [DF_MonitorTypeState_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[MonitorTypeState]  WITH CHECK ADD  CONSTRAINT [FK_MonitorTypeState_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitorTypeState] CHECK CONSTRAINT [FK_MonitorTypeState_ManagementPack]
GO
ALTER TABLE [dbo].[MonitorTypeState]  WITH CHECK ADD  CONSTRAINT [FK_MonitorTypeState_MonitorTypeId] FOREIGN KEY([MonitorTypeId])
REFERENCES [dbo].[MonitorType] ([MonitorTypeId])
GO
ALTER TABLE [dbo].[MonitorTypeState] CHECK CONSTRAINT [FK_MonitorTypeState_MonitorTypeId]
GO
