USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$CM$AEM$CrashListener]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$CM$AEM$CrashListener] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[DetailedTransmission_BB90465F_ABFE_D1EC_0FFE_0EFF9FA48F0E], T1.[Enabled_12D34A10_4B8B_2D63_85BD_6BA42C0196F3], T1.[EnablePreVistaClients_5F657416_B0A6_F357_8DB9_6D605D190474], T1.[EnableVistaPostClients_8C70BAF9_C1DC_CC76_6064_5786EDCE83D2], COALESCE (T1.[ErrorTransmissionFilters_B16EAD22_479A_30F7_18B4_16335A8EC57C], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '646B7454-51AD-5741-99A1-1255A15E80CC')) AS [ErrorTransmissionFilters_B16EAD22_479A_30F7_18B4_16335A8EC57C], COALESCE (T1.[ExceptionFolders_0753F8F4_1CAC_F54C_B009_5D25974BF6A3], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '11E6DD66-D5E4-503D-619F-D25D392D0466')) AS [ExceptionFolders_0753F8F4_1CAC_F54C_B009_5D25974BF6A3], T1.[LocalFileShareAddr_EBF37DDC_51D8_F702_7000_4E0D426F37D5], COALESCE (T1.[MaxNumberCabsToCollect_C0A3B0AD_AA6D_6985_FE9E_D2F29C9361B8], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'C97150E7-3F4D-CFE9-D0A8-B8C9E7A282DB')) AS [MaxNumberCabsToCollect_C0A3B0AD_AA6D_6985_FE9E_D2F29C9361B8], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[OrganizationName_CCE0E379_E6C8_8A5F_347B_60CB50662298], COALESCE (T1.[PolicyResponseUrl_BABC2C5E_9EE3_C6CB_F88F_89217B4D3E3D], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '147C5727-D2BC-DEF3-E6B2-08FB7227381E')) AS [PolicyResponseUrl_BABC2C5E_9EE3_C6CB_F88F_89217B4D3E3D], T1.[Port_A6ED844F_6315_9625_2EAA_F482B23BBB69], T1.[Protocol_2D60FF5F_7FC5_0964_BE63_98AD319B8411], COALESCE (T1.[PublishMSDataCollectionRequests_957FECC7_B3B2_6FC6_1D91_AD36118BF629], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '39707E8D-70EE-0B23-C807-E00133B589D9')) AS [PublishMSDataCollectionRequests_957FECC7_B3B2_6FC6_1D91_AD36118BF629], COALESCE (T1.[PublishMSFileCollectionRequests_02FCEB38_1A95_4EE4_6416_359C99FA00C1], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '6C5C5A33-E922-009C-F96B-B0C068449828')) AS [PublishMSFileCollectionRequests_02FCEB38_1A95_4EE4_6416_359C99FA00C1], COALESCE (T1.[PublishMSMemoryDumpRequests_76AC14E1_5351_F3D7_1296_8BC61E7C73F2], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '7755AEC2-A878-1DA5-0D24-728321FC501C')) AS [PublishMSMemoryDumpRequests_76AC14E1_5351_F3D7_1296_8BC61E7C73F2], COALESCE (T1.[PublishMSRegistryCollectionRequests_AAD7A383_8D1A_2DA8_E3DC_0B7835629DF5], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '39E73766-ED4F-711E-686F-7CCE2A1F8A6C')) AS [PublishMSRegistryCollectionRequests_AAD7A383_8D1A_2DA8_E3DC_0B7835629DF5], COALESCE (T1.[PublishMSSolutionLinks_A7820C7B_ACC5_CC03_A39F_219D1C6AC5C1], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '3FD29122-BAE0-BA76-DE19-6572A57A8BF1')) AS [PublishMSSolutionLinks_A7820C7B_ACC5_CC03_A39F_219D1C6AC5C1], COALESCE (T1.[PublishMSSurveyLinks_1AAC1A6A_73B6_A2DA_3128_49FF3908CE45], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '059E7CF7-02A6-3E15-B14E-7F095A9C1EA6')) AS [PublishMSSurveyLinks_1AAC1A6A_73B6_A2DA_3128_49FF3908CE45], COALESCE (T1.[PublishMSWMIQueryRequests_41F7E25A_733B_5762_350F_61EA0F9982DA], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '0077E652-1328-4C9E-C410-D11D9F99246F')) AS [PublishMSWMIQueryRequests_41F7E25A_733B_5762_350F_61EA0F9982DA], T1.[SharePath_14ABD03E_5B14_FC17_925A_E279FB2AE635], T1.[TransmissionEnabled_8B8D7E95_32EA_4D2D_ACAD_3DB4946E2954], T1.[UseWindowsAuth_D965C0F3_EACC_03B4_644B_3321CEDA595F], T3.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$CM$AEM$CrashListener] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'BA1A571A-33A4-482D-241E-5336A4B7493C'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_HealthService] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = 'B22D9165-494B-5FA8-57AF-F2C608E103BC'  AND RT3.TargetEntityId = T2.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId
GO
