USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UserRoleScopeHandle]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleScopeHandle](
	[UserRoleId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NULL,
	[ScopeId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_UserRoleScopeHandle] PRIMARY KEY CLUSTERED 
(
	[ScopeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRoleScopeHandle]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleScopeHandle_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([UserRoleId])
GO
ALTER TABLE [dbo].[UserRoleScopeHandle] CHECK CONSTRAINT [FK_UserRoleScopeHandle_UserRoleId]
GO
