USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$DuplicateIPv6_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$DuplicateIPv6_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_DuplicatedBySystems_D55BDA86_BE3B_408E_567A_D30A0E33CC32] [nvarchar](256) NULL,
	[Post_DuplicatedBySystems_D55BDA86_BE3B_408E_567A_D30A0E33CC32] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$DuplicateIPv6_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
