USE [OperationsManager]
GO
/****** Object:  View [dbo].[SecureReferenceView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SecureReferenceView] AS
    SELECT [SecureReference].[SecureReferenceId] AS Id, 
           [SecureReference].[SecureReferenceName] AS [Name], 
           [SecureReference].[ManagementPackId],
           [SecureReference].[SecureReferenceAccessibility] AS Accessibility, 
           [SecureReference].[SecureReferenceContext] AS Context, 
           [SecureReference].[TimeAdded],
           [SecureReference].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[SecureReference] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [SecureReference].[SecureReferenceId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [SecureReference].[SecureReferenceId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [SecureReference].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
