USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$HSRPEndpoint]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$HSRPEndpoint] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_6268DD26_79FE_55AC_37C4_747A109FA087], T1.[GroupNumber_77816C9B_7DA1_6AF5_F223_C1D5200CE1C4], T1.[HSRPEndpointKey_A49CD248_0423_A8F4_4169_EB1D93DC2688], T1.[Index_E79191D4_99C4_2EF7_60D1_5FA96BA5CB45], T1.[InterfaceNumber_7C34F938_7620_A260_5CFA_6E2946E5547C], T1.[Key_E5006F89_0A34_4C15_9347_822001C413F3], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Priority_0C0BCFBF_8269_3626_90E9_1591F5467501], T2.[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] AS [DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] FROM [dbo].[MT_System$NetworkManagement$HSRPEndpoint] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '5FBB54FF-9115-D631-B14C-8C80FF656E75'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_System$NetworkManagement$Node] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
