USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Warehouse$Cube$CubeMetadata]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Warehouse$Cube$CubeMetadata] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[CubeSchemaState_B003A732_12E0_8748_9B6D_D80589142C0E], T1.[DateKeyBoundary_E45C669F_3D4B_0162_B55F_3AD7387ED56E], T2.[ID_17CBD51E_016D_B88E_2807_FBD8D2B8EE65] AS [ID_17CBD51E_016D_B88E_2807_FBD8D2B8EE65] FROM [dbo].[MT_Microsoft$SystemCenter$Warehouse$Cube$CubeMetadata] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '7A9CDBEB-7683-C605-DC09-FD01150FEC59'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$Warehouse$SystemCenterCube] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
