USE [OperationsManager]
GO
/****** Object:  View [dbo].[JobStatusView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[JobStatusView] AS
    SELECT 
        J.[JobId] AS Id,
        J.[TaskId],
        J.[BatchId],
        J.[SubmittedBy],
        J.[RunningAs],
        J.[TargetEntityId] AS TargetObjectId,
        T.TargetManagedEntityType AS TargetClassId,
        J.[LocationEntityId] AS LocationId,
        J.Status,
        J.StatusLastModified,
        J.[Output],
        J.[ErrorCode],
        J.[ErrorMessage],
        J.[TimeScheduled],
        J.[TimeStarted],
        J.[TimeFinished],
        J.ProgressValue,
        J.ProgressMessage,
        J.ProgressData,
        J.ProgressLastModified,
        J.[LastModified],
        J.[LastModifiedTimestamp]
FROM dbo.JobStatus J
INNER JOIN dbo.Task T
        ON T.TaskId = J.TaskId
INNER JOIN dbo.ManagementPack MP
        ON MP.ManagementPackId = T.ManagementPackId 
       AND MP.ContentReadable = 1     

-- select * from dbo.JobStatusView
GO
