USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$HSRPGroup_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$HSRPGroup_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_VirtualIP_605B82B4_1019_E539_EBE2_3ACA0E7F9DFB] [nvarchar](256) NULL,
	[Post_VirtualIP_605B82B4_1019_E539_EBE2_3ACA0E7F9DFB] [nvarchar](256) NULL,
	[Pre_GroupNumber_762E1D2C_61D0_624D_60D9_44DF0B221C32] [int] NULL,
	[Post_GroupNumber_762E1D2C_61D0_624D_60D9_44DF0B221C32] [int] NULL,
	[Pre_VirtualMAC_0E94FC63_736C_A00D_1AD6_25896AA3E59F] [nvarchar](256) NULL,
	[Post_VirtualMAC_0E94FC63_736C_A00D_1AD6_25896AA3E59F] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$HSRPGroup_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
