USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$Environment_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$Environment_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_Title_7EDD3AD7_9D62_E344_B491_009A7F148B28] [nvarchar](256) NULL,
	[Post_Title_7EDD3AD7_9D62_E344_B491_009A7F148B28] [nvarchar](256) NULL,
	[Pre_Category_EB2925F6_7D2C_452B_610F_9FCC5A4F1480] [uniqueidentifier] NULL,
	[Post_Category_EB2925F6_7D2C_452B_610F_9FCC5A4F1480] [uniqueidentifier] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Description_B41C928F_E14B_83D5_3F2C_E693AE032A45] [nvarchar](4000) NULL,
	[Post_Description_B41C928F_E14B_83D5_3F2C_E693AE032A45] [nvarchar](4000) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_Notes_71980D64_C983_7EA4_B3D7_4740CEBB42E2] [nvarchar](4000) NULL,
	[Post_Notes_71980D64_C983_7EA4_B3D7_4740CEBB42E2] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_System$Environment_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$Environment_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$Environment_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
