USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$SNMPAgent_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$SNMPAgent_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_sysName_13E0462A_3B9C_0E55_7C92_02150DE4FE1F] [nvarchar](256) NULL,
	[Post_sysName_13E0462A_3B9C_0E55_7C92_02150DE4FE1F] [nvarchar](256) NULL,
	[Pre_sysLocation_AF035B93_7605_EE6E_4152_6E393FE2F3E5] [nvarchar](256) NULL,
	[Post_sysLocation_AF035B93_7605_EE6E_4152_6E393FE2F3E5] [nvarchar](256) NULL,
	[Pre_PortNumber_D45FE1A2_B67D_73F6_8BAA_F464449846F1] [int] NULL,
	[Post_PortNumber_D45FE1A2_B67D_73F6_8BAA_F464449846F1] [int] NULL,
	[Pre_sysObjectID_268F5DC5_4CE6_F9AC_19AE_81208E2C4C56] [nvarchar](256) NULL,
	[Post_sysObjectID_268F5DC5_4CE6_F9AC_19AE_81208E2C4C56] [nvarchar](256) NULL,
	[Pre_AgentAddress_E864D756_DC1B_85BA_0CE8_027EC8C9AD18] [nvarchar](256) NULL,
	[Post_AgentAddress_E864D756_DC1B_85BA_0CE8_027EC8C9AD18] [nvarchar](256) NULL,
	[Pre_SNMPVersion_0EC3656C_D389_D7A7_A940_851FBEF15945] [int] NULL,
	[Post_SNMPVersion_0EC3656C_D389_D7A7_A940_851FBEF15945] [int] NULL,
	[Pre_sysContact_29B3B718_5D31_44CF_347D_1CB6F62BFE4E] [nvarchar](256) NULL,
	[Post_sysContact_29B3B718_5D31_44CF_347D_1CB6F62BFE4E] [nvarchar](256) NULL,
	[Pre_sysDescr_A08BC0A9_2B3E_B166_3A9D_476E8E99E184] [nvarchar](256) NULL,
	[Post_sysDescr_A08BC0A9_2B3E_B166_3A9D_476E8E99E184] [nvarchar](256) NULL,
	[Pre_SeedName_F5E2B7B2_59A8_8C4E_7D16_7825A7EFAB73] [nvarchar](256) NULL,
	[Post_SeedName_F5E2B7B2_59A8_8C4E_7D16_7825A7EFAB73] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$SNMPAgent_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
