USE [OperationsManager]
GO
/****** Object:  Table [dbo].[EntityChangeLog]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityChangeLog](
	[EntityChangeLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[ChangeType] [tinyint] NOT NULL,
	[EntityId] [uniqueidentifier] NOT NULL,
	[EntityTypeId] [uniqueidentifier] NOT NULL,
	[RelatedEntityId] [uniqueidentifier] NULL,
	[EntityTransactionLogId] [bigint] NULL,
	[LastModified] [datetime] NOT NULL,
	[SubscriptionSpecific] [bit] NOT NULL,
	[RelationshipId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EntityChangeLog] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EntityChangeLog] ADD  CONSTRAINT [DF_EntityChangeLog_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[EntityChangeLog] ADD  CONSTRAINT [DF_EntityChangeLog_SubscriptionSpecific]  DEFAULT ((0)) FOR [SubscriptionSpecific]
GO
ALTER TABLE [dbo].[EntityChangeLog]  WITH CHECK ADD  CONSTRAINT [FK_EntityChangeLog_EntityId] FOREIGN KEY([EntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EntityChangeLog] CHECK CONSTRAINT [FK_EntityChangeLog_EntityId]
GO
ALTER TABLE [dbo].[EntityChangeLog]  WITH CHECK ADD  CONSTRAINT [FK_EntityChangeLog_EntityTransactionLogId] FOREIGN KEY([EntityTransactionLogId])
REFERENCES [dbo].[EntityTransactionLog] ([EntityTransactionLogId])
GO
ALTER TABLE [dbo].[EntityChangeLog] CHECK CONSTRAINT [FK_EntityChangeLog_EntityTransactionLogId]
GO
ALTER TABLE [dbo].[EntityChangeLog]  WITH CHECK ADD  CONSTRAINT [FK_EntityChangeLog_RelatedEntityId] FOREIGN KEY([RelatedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
GO
ALTER TABLE [dbo].[EntityChangeLog] CHECK CONSTRAINT [FK_EntityChangeLog_RelatedEntityId]
GO
ALTER TABLE [dbo].[EntityChangeLog]  WITH CHECK ADD  CONSTRAINT [CK_EntityChangeLog_ChangeType] CHECK  (([ChangeType]>=(0) AND [ChangeType]<=(5)))
GO
ALTER TABLE [dbo].[EntityChangeLog] CHECK CONSTRAINT [CK_EntityChangeLog_ChangeType]
GO
