USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FolderItemStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FolderItemStaging](
	[FolderId] [uniqueidentifier] NOT NULL,
	[MPElementId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[FolderItemName] [nvarchar](256) NULL
) ON [PRIMARY]
GO
