USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Server$Computer_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Server$Computer_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_IsVirtualNode_B880813A_A3C6_D422_463E_E5739F81BDCA] [bit] NULL,
	[Post_IsVirtualNode_B880813A_A3C6_D422_463E_E5739F81BDCA] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Server$Computer_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
