USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ServiceLevelObjectiveStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceLevelObjectiveStaging](
	[ServiceLevelObjectiveId] [uniqueidentifier] NOT NULL,
	[ServiceLevelObjectiveName] [nvarchar](256) NOT NULL,
	[ServiceLevelObjectiveType] [tinyint] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ConfigurationGroupId] [uniqueidentifier] NOT NULL,
	[Target] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[ConfigurationXML] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
