USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AgentPendingAction]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentPendingAction](
	[AgentPendingActionId] [uniqueidentifier] NOT NULL,
	[AgentName] [nvarchar](255) NOT NULL,
	[ManagementServerName] [nvarchar](255) NULL,
	[PendingActionType] [int] NOT NULL,
	[PendingActionData] [xml] NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_AgentPendingAction] PRIMARY KEY CLUSTERED 
(
	[AgentPendingActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AgentPendingAction_Unique] UNIQUE NONCLUSTERED 
(
	[AgentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AgentPendingAction] ADD  CONSTRAINT [DF_AgentPendingAction_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[AgentPendingAction]  WITH CHECK ADD  CONSTRAINT [CK_AgentPendingAction_PendingActionType] CHECK  (([PendingActionType]>=(0) AND [PendingActionType]<=(4) OR [PendingActionType]>=0x11 AND [PendingActionType]<=0x13))
GO
ALTER TABLE [dbo].[AgentPendingAction] CHECK CONSTRAINT [CK_AgentPendingAction_PendingActionType]
GO
