USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AllSettingsHash_CF637656_6975_63D9_E883_BADBBED6EC20], T1.[AppFailureAlerts_73E894D1_DD0C_6AD0_B086_12BFD46E6629], T1.[ApplicationName_5FBFF83D_5621_0F8E_648D_A7CEB6E6D441], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvgRequestTimeMonitorEnabled_922322A1_C7A6_78BD_2382_E4837EDDEBB7], T1.[AvgRequestTimeMonitorInterval_401853D0_D544_B0FF_9634_4011D1634C8D], T1.[AvgRequestTimeMonitorThreshold_BA083ED6_2150_8B4B_AB7A_CFCFE0425B86], T1.[CollectAllExceptions_9CECB959_7F3A_ACE8_6DEA_8C0036A888D0], T1.[ConnectivityAlerts_DA1BB9FD_5B49_FE2E_628F_A2C4DB39A96A], T1.[CsmAjaxThreshold_F8702120_642C_2EA0_F71D_CFCBDC22155A], T1.[CsmAvgRequestTimeMonitorEnabled_B81D3E1E_CE6E_0E29_9A90_586AE396D28F], T1.[CsmAvgRequestTimeMonitorInterval_D7036CA5_799C_D2C6_9E18_AF91B7E1EDFF], T1.[CsmAvgRequestTimeMonitorThreshold_0EC04C86_9FB9_8265_C651_1F9C4C86C550], T1.[CsmExceptionAlerts_6E8AEA7E_1A7B_F266_439A_B18A58EEBF64], T1.[CsmExceptionRateMonitorEnabled_AD9B63CC_249E_92BA_8004_3B56DCC27083], T1.[CsmExceptionRateMonitorInterval_DD255B1A_4BE6_C072_5BEA_94F8AE775C7C], T1.[CsmExceptionRateMonitorThreshold_F6679609_A7BA_BE6D_F6C6_4EB804CB37D3], T1.[CsmMonitoringComputerGroup_1B7A3A94_27B0_4B69_C516_676D4C8C6B23], T1.[CsmPageLoadThreshold_22E217D7_E54A_1CE6_D498_FB259174F5A7], T1.[CsmPerformanceAlerts_15143CFC_6B34_B879_F206_25440CA925DC], T1.[CsmPerformanceRateMonitorEnabled_0E10C75A_BE6E_9FBB_6758_EA509E48C700], T1.[CsmPerformanceRateMonitorInterval_F20DCC95_5F42_7A7B_60CB_6FB8AE4B0AEC], T1.[CsmPerformanceRateMonitorThreshold_B6F631C6_A784_7F0F_9874_52B7AE5AC79F], T1.[CsmSensitivityThreshold_C054C736_99E4_044C_A2FA_8C1CCC50BDDF], T1.[DisabledContent_0D85D577_1357_B286_9029_437E11D8131B], T1.[EncryptionKey_7C57D688_9219_B415_D63B_D42A625145A9], T1.[ExceptionHandlers_A04B69A5_C6DC_8F38_B319_5AE650A7DEF8], T1.[ExceptionRateMonitorEnabled_BDA4ABB3_E11F_3DC0_CBE0_3951F43D5BA4], T1.[ExceptionRateMonitorInterval_CABB6610_AF20_8A53_B862_BF7BBECF6CA9], T1.[ExceptionRateMonitorThreshold_390A2177_F2E4_7619_0735_9F921804AA4E], T1.[ExceptionTrackings_4D080BEB_E87D_575B_194F_27D29F0AB2C8], T1.[Id_EE996801_C54E_6A13_0F3A_584738E7FB06], T1.[IPHeaders_94C37ECD_4412_7DFB_32EE_1D1EDDDEA8D8], T1.[MonitoringComputerGroup_07B4FF71_9321_A676_07F6_DA35505AC133], T1.[Namespaces_66F4C322_1506_21F1_70C8_6D3BF954E449], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PerformanceAlerts_84183480_92AF_AB96_7E2F_3AE9EBCE5380], T1.[PerformanceRateMonitorEnabled_006AC9F4_2C8A_0778_1F57_73B75F8F39F4], T1.[PerformanceRateMonitorInterval_D25AB398_CFCB_8513_5D08_B3DD472E0DFE], T1.[PerformanceRateMonitorThreshold_43BFF710_3640_4A55_6D24_C06A537861F0], T1.[PerformanceThreshold_53B82EC4_BA10_E613_205A_57900F60FAB9], T1.[RequestFilters_07E253DB_4202_0FCE_9FFE_E9A89955CCAE], T1.[Resources_59756146_6D99_0A27_9A05_997AC77738AC], T1.[ResponseFilters_A7238D54_CC82_F906_54CF_07DD4364F4B6], T1.[SamplingRate_B589B086_8D98_B3E2_C54A_75F329858C27], T1.[SecurityAlerts_A052080E_F1F1_3B3E_BC4D_9F2853912D3B], T1.[SensitivityThreshold_B0999BF3_F61A_C951_210E_A4E593D9EC32], T1.[StreamFilters_1EB5E118_1CE3_0CFF_5231_5935BD7F6E2B] FROM [dbo].[MT_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] T1
GO
