USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$HealthServiceSecondaryCommunication]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$HealthServiceSecondaryCommunication] AS SELECT R.RelationshipId, BME1.BaseManagedTypeId AS SourceTypeId, 
	BME2.BaseManagedTypeId AS TargetTypeId , T.[CanEstablishConnectionTo_55FCC078_F8C5_B3E6_2A0D_8296E5A2405A], T.[HeartbeatType_20CEFE03_897A_773D_37A4_ED29D781C3B4], T.[MaxBytesPerSecondToSend_C4A8DD09_D600_D29E_5C4B_D62D4D10EFA1], T.[NetworkTimeout_CEEF670F_E305_6E78_0982_7E916F3C3961], T.[OrderOfPreference_57036695_96A4_CD5A_FC64_4628D7040C53] FROM [MT_Microsoft$SystemCenter$HealthServiceSecondaryCommunication] T  RIGHT OUTER JOIN dbo.[Relationship] R ON R.RelationshipId = T.RelationshipId
 		JOIN dbo.BaseManagedEntity BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
		JOIN dbo.BaseManagedEntity BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
		WHERE R.IsDeleted = 0 AND R.RelationshipTypeId = 'CA26F3F0-B8CE-C193-D6DF-632D53DEE714'
GO
