USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ImageEntity]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageEntity](
	[ImageName] [nvarchar](256) NOT NULL,
	[ImageId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Imagedata] [varbinary](max) NULL,
	[ImageAccessibility] [tinyint] NOT NULL,
	[Metadata] [nvarchar](max) NULL,
	[ImageCategory] [nvarchar](100) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ImageEntity] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImageEntity] ADD  CONSTRAINT [DF_ImageEntity_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ImageEntity] ADD  CONSTRAINT [DF_ImageEntity_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ImageEntity]  WITH CHECK ADD  CONSTRAINT [FK_ImageEntity_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImageEntity] CHECK CONSTRAINT [FK_ImageEntity_ManagementPack]
GO
