USE [OperationsManager]
GO
/****** Object:  View [dbo].[StateChangeEventView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[StateChangeEventView] AS
    SELECT SCE.[StateChangeEventId], 
           S.[StateId],
           S.[BaseManagedEntityId], 
           S.[MonitorId],
           SCE.[NewHealthState],
           NOS.[MonitorOperationalStateId] AS [NewOperationalState],
           SCE.[OldHealthState],
           OOS.[MonitorOperationalStateId] AS [OldOperationalState],
           SCE.[Context],
           SCE.[TimeGenerated],
           SCE.[TimeAdded]
    FROM dbo.StateChangeEvent AS SCE WITH (NOLOCK)
    JOIN dbo.State AS S WITH (NOLOCK)
        ON S.StateId = SCE.StateId
    JOIN dbo.BaseManagedEntity AS BME WITH (NOLOCK)
        ON S.BaseManagedEntityId = BME.BaseManagedEntityId
        AND BME.IsDeleted = 0
    -- TODO: Remove LEFT OUTER when MP adds entries into MonitorOperationalState
    LEFT OUTER JOIN dbo.MonitorOperationalState AS NOS
        ON NOS.MonitorId = S.MonitorId
        AND NOS.HealthState = SCE.NewHealthState
    LEFT OUTER JOIN dbo.MonitorOperationalState AS OOS
        ON OOS.MonitorId = S.MonitorId
        AND OOS.HealthState = SCE.OldHealthState
GO
