USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$ServiceDesigner$DatabaseGroupContainsDatabase]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$ServiceDesigner$DatabaseGroupContainsDatabase] AS SELECT R.RelationshipId, BME1.BaseManagedTypeId AS SourceTypeId, 
	BME2.BaseManagedTypeId AS TargetTypeId  FROM dbo.Relationship R  
		JOIN dbo.BaseManagedEntity BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
		JOIN dbo.BaseManagedEntity BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
		WHERE R.IsDeleted = 0 AND R.RelationshipTypeId = '348379D4-F8DC-7EAF-1B29-B305EE4A2E6D'
GO
