USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitorCausalityRule]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorCausalityRule](
	[MonitorCausalityRuleId] [uniqueidentifier] NOT NULL,
	[MonitorCausalityRuleName] [nvarchar](256) NOT NULL,
	[MonitorId] [uniqueidentifier] NOT NULL,
	[MonitorOperationalStateId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[CausalProbability] [int] NOT NULL,
	[CausedBy] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonitorCausalityRule] ADD  CONSTRAINT [DF_MonitorCausalityRule_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[MonitorCausalityRule] ADD  CONSTRAINT [DF_MonitorCausalityRule_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[MonitorCausalityRule]  WITH CHECK ADD  CONSTRAINT [FK_MonitorCausalityRule_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitorCausalityRule] CHECK CONSTRAINT [FK_MonitorCausalityRule_ManagementPack]
GO
ALTER TABLE [dbo].[MonitorCausalityRule]  WITH CHECK ADD  CONSTRAINT [FK_MonitorCausalityRule_Monitor] FOREIGN KEY([MonitorId])
REFERENCES [dbo].[Monitor] ([MonitorId])
GO
ALTER TABLE [dbo].[MonitorCausalityRule] CHECK CONSTRAINT [FK_MonitorCausalityRule_Monitor]
GO
ALTER TABLE [dbo].[MonitorCausalityRule]  WITH CHECK ADD  CONSTRAINT [FK_MonitorCausalityRule_MonitorOperationalState] FOREIGN KEY([MonitorOperationalStateId])
REFERENCES [dbo].[MonitorOperationalState] ([MonitorOperationalStateId])
GO
ALTER TABLE [dbo].[MonitorCausalityRule] CHECK CONSTRAINT [FK_MonitorCausalityRule_MonitorOperationalState]
GO
