USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$HealthServiceWatcher]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$HealthServiceWatcher] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[HealthServiceId_F9E9639F_8EFF_C9F6_76A6_D0978519D188], T1.[HealthServiceName_99D29D74_5B01_D1BC_43D1_E61D6C08E82C], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T2.[WatcherGroupName_3A30272D_FDC1_A417_66EB_2ED9B0442A15] AS [WatcherGroupName_3A30272D_FDC1_A417_66EB_2ED9B0442A15] FROM [dbo].[MT_Microsoft$SystemCenter$HealthServiceWatcher] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'D8CBB29F-5F37-E9CB-9F90-E4A9CD563B3B'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$HealthServiceWatchersGroup] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
