USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AuthorizationStore]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizationStore](
	[Data] [nvarchar](max) NOT NULL,
	[CreationTimeUtc] [bigint] NOT NULL,
	[LastWriteTimeUtc] [bigint] NOT NULL,
	[LastAccessTimeUtc] [bigint] NOT NULL,
	[LastModified] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthorizationStore] ADD  DEFAULT (getutcdate()) FOR [LastModified]
GO
