USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Server$6$2$Processor]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$Processor](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[DataWidth_21878C22_48E2_1407_F5B4_CF68030D1728] [nvarchar](256) NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[PerfmonInstance_D9F24F7F_5F69_3957_C3FA_83E52FA2B9FC] [nvarchar](256) NULL,
	[Speed_63FCC508_C266_B5BD_D85F_B869060D02AC] [nvarchar](256) NULL,
	[PCache_C850609B_66A9_C097_4BD6_50B8868DD766] [nvarchar](256) NULL,
	[Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87] [nvarchar](256) NULL,
	[Type_3DB40B9D_F976_57F6_1151_D29CDDCCF213] [nvarchar](256) NULL,
	[CPUKey_01D7EA09_C2C3_9A37_E4B5_0BD808CC5127] [nvarchar](256) NULL,
	[Version_FFCB5B03_1D64_AEB2_825C_A634720A50E8] [nvarchar](256) NULL,
	[BrandId_4D2D1F0F_6EF5_3F6D_4F6D_147893CBABBF] [nvarchar](256) NULL,
	[Manufacturer_94B9446C_BDCE_D07F_D22A_5635D701A54C] [nvarchar](256) NULL,
	[DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4] [nvarchar](256) NOT NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[MaxClockSpeed_A6D24082_7396_9EEA_B402_42068E3CB443] [nvarchar](256) NULL,
	[Family_F43AEAC5_0D7F_4BD3_18A5_19E8EEF1D751] [nvarchar](256) NULL,
	[Revision_A9A91540_E675_991A_CB6E_98D778D4397D] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[IsMobile_D0B9C870_5A26_6EEA_0164_27DE27D794B9] [bit] NULL,
	[Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2] [nvarchar](256) NULL,
	[IsMulticore_8AB9F307_1D4D_7C05_E698_0C812452AB21] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Server$6$2$Processor] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$Processor] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
