USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Windows$Server$6$2$NetworkAdapter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Windows$Server$6$2$NetworkAdapter] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AdapterType_7312FBB8_E9F0_65F1_4025_7252363B6695], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Bandwidth_14315E08_D951_9B0E_439D_BC243C2EAF5F], T1.[DefaultIPGateway_506607B1_0460_773C_E776_7F236A0BCD5F], T1.[Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87], T1.[DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4], T1.[DHCPEnabled_1820864D_1AC5_424D_19ED_5BEB422E36DA], T1.[DHCPHostname_00194596_D9F4_DD90_F982_7D3F65D82A18], T1.[DHCPServer_66DA53C7_257B_E48C_106A_58790C7649AF], T1.[DNSDomain_ED62BE42_1D7B_1099_E1F6_E302D527DDCF], T1.[Index_723428A1_B291_7AD2_97E3_D7CB47A47CF7], T1.[IPAddress_5535AF5F_A554_DC23_7755_3A1CFA7D4959], T1.[IPEnabled_DDEAB80E_D4B4_2B04_89F5_49874C16DED1], T1.[IPSubnet_32E7BF39_6A49_10CF_7E1C_B888212A73F2], T1.[MACAddress_988754CD_A5FE_257B_8A4A_4867B4600EF5], T1.[Manufacturer_10081248_2313_0ACB_A0C8_8CAEB4C69BFD], T1.[MaxSpeed_C582236F_F803_08D5_48CE_E12B93B5DD66], T1.[Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PerfmonInstance_15CD0D38_0CDE_8F5D_AA77_53F487140907], T1.[ProductName_F48D7E28_AE43_A94C_0763_B6D40B4F93F3], T1.[ServiceName_B814BB7A_2D1A_013A_9075_4F01AE5E048B], T1.[SlotNumber_C62843A7_5842_DE25_1B48_EC48B33059CE], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$Windows$Server$6$2$NetworkAdapter] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'E4C6F8CE-0763-51C6-6421-C424A93A1EB6'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
