USE [OperationsManager]
GO
/****** Object:  View [dbo].[RelationshipTypeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[RelationshipTypeView] AS
    SELECT [RelationshipType].[RelationshipTypeId] AS Id, 
           [RelationshipType].[RelationshipTypeName] AS Name, 
           [RelationshipType].[BaseRelationshipTypeId] AS BaseMonitoringRelationshipClassId, 
           [RelationshipType].[SourceManagedTypeId] AS SourceMonitoringClassId,
           [RelationshipType].[TargetManagedTypeId] AS TargetMonitoringClassId,
           [RelationshipType].[ManagementPackId] AS ManagementPackId, 
           [RelationshipType].[IsAbstract] AS Abstract,
           [RelationshipType].[Accessibility],
           [RelationshipType].[IsSealed] AS Sealed,
           [RelationshipType].[IsCycleOk] AS CycleOk, 
           [RelationshipType].[RelationshipTypeTableName], 
           [RelationshipType].[RelationshipTypeViewName],
           [RelationshipType].[TimeAdded], 
           [RelationshipType].[LastModified],
           [RelationshipType].[ModifiedBy],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description,
           [RelationshipType].[SourceName],
           [RelationshipType].[TargetName],
           [RelationshipType].[SourceMaxCardinality],
           [RelationshipType].[TargetMaxCardinality],
           [RelationshipType].[SourceMinCardinality],
           [RelationshipType].[TargetMinCardinality]
    FROM dbo.[RelationshipType] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [RelationshipType].[RelationshipTypeId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [RelationshipType].[RelationshipTypeId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [RelationshipType].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	 
GO
