USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [uniqueidentifier] NOT NULL,
	[TaskName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TargetManagedEntityType] [uniqueidentifier] NOT NULL,
	[TaskCategory] [nvarchar](100) NOT NULL,
	[TaskAccessibility] [tinyint] NOT NULL,
	[TaskEnabled] [bit] NOT NULL,
	[TimeOut] [int] NOT NULL,
	[RunLocation] [uniqueidentifier] NULL,
	[CanSuspend] [bit] NULL,
	[CanCancel] [bit] NULL,
	[RunAs] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[TaskRemotable] [bit] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_TaskRemotable]  DEFAULT ((1)) FOR [TaskRemotable]
GO
ALTER TABLE [dbo].[Task]  WITH NOCHECK ADD  CONSTRAINT [FK_Task_ManagedType] FOREIGN KEY([TargetManagedEntityType])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_ManagedType]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_ManagementPack]
GO
