USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedTypeMonitoring]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTypeMonitoring](
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[IsUnmonitored] [bit] NOT NULL,
	[IsHeartbeating] [bit] NOT NULL,
	[IsExplicitlyManaged] [bit] NOT NULL,
 CONSTRAINT [PK_ManagedTypeMonitoring] PRIMARY KEY CLUSTERED 
(
	[ManagedTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedTypeMonitoring] ADD  DEFAULT ((0)) FOR [IsUnmonitored]
GO
ALTER TABLE [dbo].[ManagedTypeMonitoring] ADD  DEFAULT ((0)) FOR [IsHeartbeating]
GO
ALTER TABLE [dbo].[ManagedTypeMonitoring] ADD  DEFAULT ((0)) FOR [IsExplicitlyManaged]
GO
