USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$HealthServiceCommunication]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$HealthServiceCommunication](
	[RelationshipId] [uniqueidentifier] NOT NULL,
	[NetworkTimeout_7D5FAE77_30F7_44FD_A459_22254E5F63BB] [int] NULL,
	[HeartbeatType_F5E24ED6_1FC5_1AE8_7961_DC730DFD0945] [int] NULL,
	[OrderOfPreference_C84BEA12_2118_81A7_1E2E_D33C12B1D6D0] [int] NULL,
	[CanEstablishConnectionTo_6FE8F304_CC29_35BF_FD76_419EC157B2E3] [bit] NULL,
	[MaxBytesPerSecondToSend_6CB909E1_CBD6_A318_FC22_20E6D2A90E42] [int] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$HealthServiceCommunication] PRIMARY KEY CLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
