USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentImplementationsStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentImplementationsStaging](
	[ComponentImplementationId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentImplementationAccessibility] [tinyint] NOT NULL,
	[ComponentImplementationName] [nvarchar](256) NOT NULL,
	[ComponentImplementationTypeId] [uniqueidentifier] NOT NULL,
	[ComponentImplementationTarget] [nvarchar](max) NULL,
	[ComponentImplementationPlatform] [int] NOT NULL,
	[ComponentImplementationXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
