USE [OperationsManager]
GO
/****** Object:  View [dbo].[ManagedTypePropertyAndStagingView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ManagedTypePropertyAndStagingView] AS
	SELECT ManagedTypePropertyId, ManagedTypeId, ManagedTypePropertyName, IsPrimaryKey, IsCaseSensitive, PropertyType, PropertyLength,
		PropertyMinLength, PropertyScale, ColumnName, ColumnOrder, Required, IsAutoIncrement, Optimized, MinValue, MaxValue, RegEx, EnumTypeId, DefaultValue
	FROM dbo.[ManagedTypeProperty]
	UNION
	SELECT ManagedTypePropertyId, ManagedTypeId, ManagedTypePropertyName, IsPrimaryKey, IsCaseSensitive, PropertyType, PropertyLength,
		PropertyMinLength, PropertyScale, ColumnName, ColumnOrder, Required, IsAutoIncrement, Optimized, MinValue, MaxValue, RegEx, EnumTypeId, DefaultValue
	FROM dbo.[ManagedTypePropertyStaging]
GO
