USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ConfigurationGroup]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigurationGroup](
	[ConfigurationGroupId] [uniqueidentifier] NOT NULL,
	[ConfigurationGroupName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Target] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Context] [uniqueidentifier] NULL,
	[ContextInstance] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ConfigurationGroup] PRIMARY KEY CLUSTERED 
(
	[ConfigurationGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfigurationGroup] ADD  CONSTRAINT [DF_ConfigurationGroup_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ConfigurationGroup] ADD  CONSTRAINT [DF_ConfigurationGroup_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ConfigurationGroup]  WITH CHECK ADD  CONSTRAINT [FK_ConfigurationGroup_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConfigurationGroup] CHECK CONSTRAINT [FK_ConfigurationGroup_ManagementPack]
GO
