USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UIPageReference]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UIPageReference](
	[UIPageReferenceId] [uniqueidentifier] NOT NULL,
	[UIPageReferenceName] [nvarchar](256) NOT NULL,
	[UIPageSetId] [uniqueidentifier] NOT NULL,
	[UIPageId] [uniqueidentifier] NOT NULL,
	[UIPageOrder] [int] NOT NULL,
	[TitleId] [uniqueidentifier] NULL,
	[TitleName] [nvarchar](256) NULL,
	[SubTitleId] [uniqueidentifier] NULL,
	[SubTitleName] [nvarchar](256) NULL,
	[TabId] [uniqueidentifier] NULL,
	[TabName] [nvarchar](256) NULL,
	[InputParameters] [nvarchar](max) NULL,
	[InputTransform] [nvarchar](max) NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[Usage] [tinyint] NOT NULL,
 CONSTRAINT [PK_UIPageReference] PRIMARY KEY CLUSTERED 
(
	[UIPageReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[UIPageReference] ADD  CONSTRAINT [DF_UIPageReference_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[UIPageReference] ADD  CONSTRAINT [DF_UIPageReference_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[UIPageReference] ADD  CONSTRAINT [DF_Usage]  DEFAULT ((1)) FOR [Usage]
GO
ALTER TABLE [dbo].[UIPageReference]  WITH CHECK ADD  CONSTRAINT [FK_UIPageReference_UIPageSet] FOREIGN KEY([UIPageSetId])
REFERENCES [dbo].[UIPageSet] ([UIPageSetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIPageReference] CHECK CONSTRAINT [FK_UIPageReference_UIPageSet]
GO
