USE [OperationsManager]
GO
/****** Object:  View [dbo].[FoldersView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[FoldersView] AS
    SELECT [Folder].[FolderId] AS Id, 
           [Folder].[ManagementPackId] AS ManagementPackId, 
           [Folder].[FolderName] AS Name, 
           [Folder].[ParentFolderId],
           [Folder].[FolderAccessibility] AS Accessibility,
           [Folder].[TimeAdded],
           [Folder].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[Folder]  LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [Folder].[FolderId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [Folder].[FolderId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Folder].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
	WHERE dbo.[Folder].[IsDeleted] = 0
GO
