USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$UnixProcess]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$UnixProcess] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AlertSeverity_61F22410_589C_5634_78EF_F6389F6AB051], T1.[ArgumentsFilterExpression_1F41F3E9_35BE_2A81_180B_A9BA6D5BD769], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[MaxProcessCount_F66FD5E4_9994_5D03_70EC_1FEC8E6CF714], T1.[MinProcessCount_23798EE2_8EF7_FECB_7F6C_7AE64F618797], T1.[MonitoringTargetId_B692FCD2_ECE6_B422_2988_02A4D037FBC7], T1.[MonitoringTargetName_24968943_7ABD_FD0A_7D3F_A69767698D72], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[ProcessName_3BA74C12_0C0F_658A_406F_3E79F2299700], T2.[PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] AS [PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] FROM [dbo].[MT_Microsoft$SystemCenter$UnixProcess] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '8D7557A7-F9CF-34EC-3EB2-6907E44A99E3'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$Unix$Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
