USE [OperationsManager]
GO
/****** Object:  View [dbo].[SchemaTypeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SchemaTypeView] AS
    SELECT [SchemaType].[SchemaTypeId] AS Id, 
           [SchemaType].[SchemaTypeName] AS [Name], 
           [SchemaType].[ManagementPackId],
           [SchemaType].[SchemaTypeAccessibility] AS Accessibility, 
           [SchemaType].[SchemaTypeXSD] AS [Schema], 
           [SchemaType].[TimeAdded],
           [SchemaType].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[SchemaType] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [SchemaType].[SchemaTypeId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [SchemaType].[SchemaTypeId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [SchemaType].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
