USE [OperationsManager]
GO
/****** Object:  View [dbo].[TaskView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TaskView] AS
    SELECT [Task].[TaskId] AS Id,
           [Task].[TaskName] AS Name, 
           [Task].[ManagementPackId] AS ManagementPackId, 
           [Task].[TargetManagedEntityType] AS TargetMonitoringClassId, 
           [Task].[TaskCategory] AS Category, 
           [Task].[TaskAccessibility] AS Accessibility, 
           [Task].[TaskEnabled] AS Enabled, 
           [Task].[TimeOut] AS Timeout, 
           [Task].[TaskRemotable] AS Remotable,
           [Task].TimeAdded, 
           [Task].LastModified, 
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
	FROM dbo.Task LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = Task.TaskId AND LT1.LTStringType = 1)
    	LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = Task.TaskId AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
    INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Task].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	 
GO
