USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Windows$Server$6$2$LogicalDisk]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Windows$Server$6$2$LogicalDisk] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Compressed_0BB40B55_74B9_3A99_0295_30D005D735C9], T1.[Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87], T1.[DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4], T1.[DriveType_67A23C3E_F435_A1B1_DE3E_D8C412E6D9D5], T1.[FileSystem_0D653B7C_3F9D_0EA1_6FF0_3CEF476DBED5], T1.[Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[QuotasDisabled_005529B1_987F_9A81_87EE_06CBCB6077B3], T1.[Size_F703D24D_CD51_EAFE_9356_70A323192928], T1.[SizeNumeric_749AE6FF_BCF2_0852_7B6D_CE73CA77FD8F], T1.[SupportsDiskQuota_CC10078B_73F2_5F1C_848D_702461A6E043], T1.[SupportsFileBasedCompression_2819BCE8_85FF_1CB0_A633_93B9009ECFA3], T1.[VolumeName_65571163_F69F_CFDB_49A1_2730285FD2A2], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$Windows$Server$6$2$LogicalDisk] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'E4C6F8CE-0763-51C6-6421-C424A93A1EB6'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
