USE [OperationsManager]
GO
/****** Object:  Table [dbo].[SecureReferenceStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecureReferenceStaging](
	[SecureReferenceId] [uniqueidentifier] NOT NULL,
	[SecureReferenceName] [nvarchar](256) NOT NULL,
	[SecureReferenceAccessibility] [tinyint] NOT NULL,
	[SecureReferenceContext] [uniqueidentifier] NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
