USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$VLAN]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$VLAN] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_026A7983_1951_571A_FAEF_C722B828C560], T1.[Key_964DA60D_F9AE_32BC_AC16_AA8E0C182B95], T1.[MembershipCriteria_6A5DC42D_FDAA_B0AB_38D0_4A7D27E53A73], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[VLANKey_30B8D061_67A6_73B7_C093_38D45A574046], T1.[VLANNumber_D9F996B6_1880_6615_63A8_972F45D63A08] FROM [dbo].[MT_System$NetworkManagement$VLAN] T1
GO
