USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DiscoverySourceToTypedManagedEntity]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoverySourceToTypedManagedEntity](
	[DiscoverySourceId] [uniqueidentifier] NOT NULL,
	[TypedManagedEntityId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[TimeGenerated] [datetime] NOT NULL,
 CONSTRAINT [PK_DiscoverySourceToTypedManagedEntity] PRIMARY KEY CLUSTERED 
(
	[DiscoverySourceId] ASC,
	[TypedManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoverySourceToTypedManagedEntity] ADD  CONSTRAINT [DF_DiscoverySourceToTypedManagedEntity_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DiscoverySourceToTypedManagedEntity]  WITH CHECK ADD  CONSTRAINT [FK_DiscoverySourceToTypedManagedEntity_DiscoverySource] FOREIGN KEY([DiscoverySourceId])
REFERENCES [dbo].[DiscoverySource] ([DiscoverySourceId])
GO
ALTER TABLE [dbo].[DiscoverySourceToTypedManagedEntity] CHECK CONSTRAINT [FK_DiscoverySourceToTypedManagedEntity_DiscoverySource]
GO
ALTER TABLE [dbo].[DiscoverySourceToTypedManagedEntity]  WITH CHECK ADD  CONSTRAINT [FK_DiscoverySourceToTypedManagedEntity_TypedManagedEntity] FOREIGN KEY([TypedManagedEntityId])
REFERENCES [dbo].[TypedManagedEntity] ([TypedManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiscoverySourceToTypedManagedEntity] CHECK CONSTRAINT [FK_DiscoverySourceToTypedManagedEntity_TypedManagedEntity]
GO
