USE [OperationsManager]
GO
/****** Object:  View [dbo].[EventAllView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[EventAllView] AS
    SELECT * FROM dbo.Event_00 UNION ALL
    SELECT * FROM dbo.Event_01 UNION ALL
    SELECT * FROM dbo.Event_02 UNION ALL
    SELECT * FROM dbo.Event_03 UNION ALL
    SELECT * FROM dbo.Event_04 UNION ALL
    SELECT * FROM dbo.Event_05 UNION ALL
    SELECT * FROM dbo.Event_06 UNION ALL
    SELECT * FROM dbo.Event_07 UNION ALL
    SELECT * FROM dbo.Event_08 UNION ALL
    SELECT * FROM dbo.Event_09 UNION ALL
    SELECT * FROM dbo.Event_10 UNION ALL
    SELECT * FROM dbo.Event_11 UNION ALL
    SELECT * FROM dbo.Event_12 UNION ALL
    SELECT * FROM dbo.Event_13 UNION ALL
    SELECT * FROM dbo.Event_14 UNION ALL
    SELECT * FROM dbo.Event_15 UNION ALL
    SELECT * FROM dbo.Event_16 UNION ALL
    SELECT * FROM dbo.Event_17 UNION ALL
    SELECT * FROM dbo.Event_18 UNION ALL
    SELECT * FROM dbo.Event_19 UNION ALL
    SELECT * FROM dbo.Event_20 UNION ALL
    SELECT * FROM dbo.Event_21 UNION ALL
    SELECT * FROM dbo.Event_22 UNION ALL
    SELECT * FROM dbo.Event_23 UNION ALL
    SELECT * FROM dbo.Event_24 UNION ALL
    SELECT * FROM dbo.Event_25 UNION ALL
    SELECT * FROM dbo.Event_26 UNION ALL
    SELECT * FROM dbo.Event_27 UNION ALL
    SELECT * FROM dbo.Event_28 UNION ALL
    SELECT * FROM dbo.Event_29 UNION ALL
    SELECT * FROM dbo.Event_30 UNION ALL
    SELECT * FROM dbo.Event_31 UNION ALL
    SELECT * FROM dbo.Event_32 UNION ALL
    SELECT * FROM dbo.Event_33 UNION ALL
    SELECT * FROM dbo.Event_34 UNION ALL
    SELECT * FROM dbo.Event_35 UNION ALL
    SELECT * FROM dbo.Event_36 UNION ALL
    SELECT * FROM dbo.Event_37 UNION ALL
    SELECT * FROM dbo.Event_38 UNION ALL
    SELECT * FROM dbo.Event_39 UNION ALL
    SELECT * FROM dbo.Event_40 UNION ALL
    SELECT * FROM dbo.Event_41 UNION ALL
    SELECT * FROM dbo.Event_42 UNION ALL
    SELECT * FROM dbo.Event_43 UNION ALL
    SELECT * FROM dbo.Event_44 UNION ALL
    SELECT * FROM dbo.Event_45 UNION ALL
    SELECT * FROM dbo.Event_46 UNION ALL
    SELECT * FROM dbo.Event_47 UNION ALL
    SELECT * FROM dbo.Event_48 UNION ALL
    SELECT * FROM dbo.Event_49 UNION ALL
    SELECT * FROM dbo.Event_50 UNION ALL
    SELECT * FROM dbo.Event_51 UNION ALL
    SELECT * FROM dbo.Event_52 UNION ALL
    SELECT * FROM dbo.Event_53 UNION ALL
    SELECT * FROM dbo.Event_54 UNION ALL
    SELECT * FROM dbo.Event_55 UNION ALL
    SELECT * FROM dbo.Event_56 UNION ALL
    SELECT * FROM dbo.Event_57 UNION ALL
    SELECT * FROM dbo.Event_58 UNION ALL
    SELECT * FROM dbo.Event_59 UNION ALL
    SELECT * FROM dbo.Event_60
GO
