USE [OperationsManager]
GO
/****** Object:  Table [dbo].[LocalizedTextStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalizedTextStaging](
	[LTStringId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [nvarchar](3) NOT NULL,
	[LTStringType] [tinyint] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[ElementName] [nvarchar](256) NULL,
	[MPElementId] [uniqueidentifier] NULL,
	[SubElementName] [nvarchar](256) NULL,
	[LTValue] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
