USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Recovery]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recovery](
	[RecoveryId] [uniqueidentifier] NOT NULL,
	[RecoveryName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[RecoveryAccessibility] [tinyint] NOT NULL,
	[RecoveryEnabled] [tinyint] NOT NULL,
	[RecoveryTarget] [uniqueidentifier] NOT NULL,
	[RecoveryMonitor] [uniqueidentifier] NOT NULL,
	[ResetMonitor] [bit] NOT NULL,
	[ExecuteOnState] [tinyint] NULL,
	[ExecuteOnDiagnostic] [uniqueidentifier] NULL,
	[RecoveryRemotable] [bit] NOT NULL,
	[RecoveryCategory] [tinyint] NOT NULL,
	[TimeOut] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Recovery] PRIMARY KEY CLUSTERED 
(
	[RecoveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Recovery] ADD  CONSTRAINT [DF_Recovery_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Recovery] ADD  CONSTRAINT [DF_Recovery_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
