USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PartitionTables]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartitionTables](
	[ObjectId] [tinyint] NOT NULL,
	[PartitionId] [tinyint] NOT NULL,
	[PartitionName] [nvarchar](255) NULL,
	[PartitionStartTime] [datetime] NOT NULL,
	[PartitionEndTime] [datetime] NOT NULL,
	[IsCurrent] [bit] NOT NULL,
 CONSTRAINT [UQ_PartitionTables_ObjectId_PartitionId] UNIQUE NONCLUSTERED 
(
	[ObjectId] ASC,
	[PartitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PartitionTables]  WITH CHECK ADD  CONSTRAINT [FK_PartitionTables_PartitionAndGroomingSettings] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[PartitionAndGroomingSettings] ([ObjectId])
GO
ALTER TABLE [dbo].[PartitionTables] CHECK CONSTRAINT [FK_PartitionTables_PartitionAndGroomingSettings]
GO
