USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PerformanceSignatureData]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceSignatureData](
	[PerformanceSignatureDataId] [bigint] IDENTITY(1,1) NOT NULL,
	[PerformanceSignatureHistoryId] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
	[Average] [float] NULL,
	[Deviation] [float] NULL,
 CONSTRAINT [PK_PerformanceSignatureData_PerformanceSignatureDataId] PRIMARY KEY CLUSTERED 
(
	[PerformanceSignatureDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerformanceSignatureData]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceSignatureData_PerformanceSignatureHistory] FOREIGN KEY([PerformanceSignatureHistoryId])
REFERENCES [dbo].[PerformanceSignatureHistory] ([PerformanceSignatureHistoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerformanceSignatureData] CHECK CONSTRAINT [FK_PerformanceSignatureData_PerformanceSignatureHistory]
GO
