USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DomainTableStatisticsUpdateHistory]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainTableStatisticsUpdateHistory](
	[DomainTableStatisticsUpdateHistoryRowId] [int] IDENTITY(1,1) NOT NULL,
	[DomainTableRowId] [int] NOT NULL,
	[StatisticName] [sysname] NOT NULL,
	[UpdateStartDateTime] [datetime] NOT NULL,
	[UpdateDurationSeconds] [int] NOT NULL,
	[RowsSampledPercentage] [int] NULL,
 CONSTRAINT [PK_DomainTableStatisticsUpdateHistory] PRIMARY KEY CLUSTERED 
(
	[DomainTableStatisticsUpdateHistoryRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DomainTableStatisticsUpdateHistory] ADD  DEFAULT (getutcdate()) FOR [UpdateStartDateTime]
GO
