USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$SoftwareUpdate]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$SoftwareUpdate] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Title_4C3833FA_FE96_5404_D3F6_ADB280587E16], T1.[Vendor_0C8F001C_0598_4286_49CC_B700784897B1], T2.[ArticleID_4206EE31_63C7_E760_9076_517309D422A5], T2.[BulletinID_81E9F65E_A8AD_DECA_A3F8_530B7327CB8E], T2.[Classification_2D7047D3_DCFD_E8A5_3688_74034880308D], T2.[Parent_52C43962_6D09_829A_FA11_BDFCDF409771], T2.[ParentVersion_C852C217_2551_634E_6906_C409A16CB344], T2.[SupportString_DA4C6A60_3E1C_6429_8297_7D29D924E71D] FROM [dbo].[MT_System$SoftwareUpdate] T1 LEFT JOIN [dbo].[MT_Microsoft$Windows$SoftwareUpdate] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId
GO
