USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_AzAuthorizationStore]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_AzAuthorizationStore](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectGuid] [uniqueidentifier] NULL,
	[Description] [nvarchar](1024) NULL,
	[Name] [nvarchar](512) NULL,
	[ApplicationData] [ntext] NULL,
	[DomainTimeout] [int] NULL,
	[ScriptEngineTimeout] [int] NULL,
	[MaxScriptEngines] [int] NULL,
	[TargetMachine] [nvarchar](50) NULL,
	[ApplyStoreSacl] [bit] NULL,
	[GenerateAudits] [bit] NULL,
	[MajorVersion] [int] NULL,
	[MinorVersion] [int] NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
	[ChildUpdateTimeStamp] [binary](8) NULL,
 CONSTRAINT [PK_AzMan_AzAuthorizationStore] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
