USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_MapperType]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_MapperType] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[ApplicationNameParameterNumber], T1.[ApplicationVersionParameterNumber], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[BucketType], T1.[EventType], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] FROM [dbo].[MT_MapperType] T1
GO
