USE [OperationsManager]
GO
/****** Object:  Table [dbo].[TypeProjection]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProjection](
	[TypeProjectionId] [uniqueidentifier] NOT NULL,
	[TypeProjectionName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TypeProjectionSeed] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[ComponentXML] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_TypeProjection] PRIMARY KEY NONCLUSTERED 
(
	[TypeProjectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [TypeProjection_UniqueName] UNIQUE NONCLUSTERED 
(
	[ManagementPackId] ASC,
	[TypeProjectionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypeProjection] ADD  CONSTRAINT [DF_TypeProjection_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[TypeProjection] ADD  CONSTRAINT [DF_TypeProjection_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[TypeProjection] ADD  CONSTRAINT [DF_TypeProjection_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[TypeProjection]  WITH CHECK ADD  CONSTRAINT [FK_TypeProjection_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TypeProjection] CHECK CONSTRAINT [FK_TypeProjection_ManagementPack]
GO
ALTER TABLE [dbo].[TypeProjection]  WITH CHECK ADD  CONSTRAINT [FK_TypeProjection_Seed] FOREIGN KEY([TypeProjectionSeed])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[TypeProjection] CHECK CONSTRAINT [FK_TypeProjection_Seed]
GO
ALTER TABLE [dbo].[TypeProjection]  WITH CHECK ADD  CONSTRAINT [CK_TypeProjection_Namelen] CHECK  ((len([TypeProjectionName])>(0)))
GO
ALTER TABLE [dbo].[TypeProjection] CHECK CONSTRAINT [CK_TypeProjection_Namelen]
GO
