USE [OperationsManager]
GO
/****** Object:  Table [dbo].[WarehouseModulePredecessorStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseModulePredecessorStaging](
	[WarehouseModuleId] [uniqueidentifier] NOT NULL,
	[PredecessorModuleId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
