USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_HealthService]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_HealthService] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[ActionAccountIdentity], T1.[ActiveDirectoryManaged], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AuthenticationName], T1.[CreateListener], COALESCE (T1.[HeartbeatEnabled], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'A70EA599-8675-CA64-D8FA-2B3A6F0B244E')) AS [HeartbeatEnabled], COALESCE (T1.[HeartbeatInterval], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'C0A1371F-8250-5215-F43B-BFD509CB9719')) AS [HeartbeatInterval], T1.[InitiatesConnectionToParent], T1.[InstalledBy], T1.[InstallTime], T1.[IsAgent], T1.[IsGateway], T1.[IsManagementServer], T1.[IsManuallyInstalled], T1.[IsRHS], T1.[MaximumQueueSize], T1.[MaximumSizeOfAllTransferredFiles], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PatchList], COALESCE (T1.[Port], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'C51B7833-DA54-1653-D8FD-1A738EF8DED5')) AS [Port], T1.[Protocol], COALESCE (T1.[ProxyingEnabled], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '2460B133-B9B5-E834-1302-BDEA539B2F71')) AS [ProxyingEnabled], T1.[RequestCompression], T1.[ThirdPartyAuthenticationUri], T1.[Version], COALESCE (T2.[AutoApproveManuallyInstalledAgents_B03603CB_2C6B_C8E1_94AC_7F66AC2FA51A], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '49EDF37D-6DDE-0106-9D7D-BF9D43BF85A9')) AS [AutoApproveManuallyInstalledAgents_B03603CB_2C6B_C8E1_94AC_7F66AC2FA51A], T2.[ManagementServerSCP_390B5291_20BF_76B5_E141_6CC8B55DB776], COALESCE (T2.[NumberOfMissingHeartBeatsToMarkMachineDown_27AD2E30_EFE0_1A73_8C9D_F0A22B073227], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '954EE5F1-2A6E-E2CA-FF3C-28059EFAFF32')) AS [NumberOfMissingHeartBeatsToMarkMachineDown_27AD2E30_EFE0_1A73_8C9D_F0A22B073227], COALESCE (T2.[ProxyAddress_D35118DD_A9B3_87BD_D508_599C6306BA98], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '6FAAEE0B-0050-6C15-4279-C738915A91AD')) AS [ProxyAddress_D35118DD_A9B3_87BD_D508_599C6306BA98], COALESCE (T2.[ProxyPort_28064938_9EA0_AAE7_7E51_AD30385C6306], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '805A8ADF-EB82-55CB-9AFB-051661F94861')) AS [ProxyPort_28064938_9EA0_AAE7_7E51_AD30385C6306], COALESCE (T2.[RejectManuallyInstalledAgents_1BFD9434_C1BE_0F3A_33E7_F3DC3ED306AB], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '3B584CB1-B84F-E3EE-784B-B285D8094527')) AS [RejectManuallyInstalledAgents_1BFD9434_C1BE_0F3A_33E7_F3DC3ED306AB], COALESCE (T2.[UseProxyServer_F8CA99A1_B49B_BA6B_E0E2_7F61D0668D58], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '4D22694E-6DD6-13AC-BB7B-0D0934F949EE')) AS [UseProxyServer_F8CA99A1_B49B_BA6B_E0E2_7F61D0668D58], T3.[WebConsoleUrl_CECFB65A_CE53_58D3_71E1_522BEE942100], T4.[SiteId_04AA9779_125D_CDD9_18C6_FB1CA1E7F1C7], T4.[SiteName_642EB7B2_3CB5_E159_D3E0_559FF93A5AF7], T5.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_HealthService] T1 LEFT JOIN [dbo].[MT_Microsoft$SystemCenter$ManagementServer] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId LEFT JOIN [dbo].[MT_Microsoft$SystemCenter$NotificationSubscriptionServer] T3 ON T1.BaseManagedEntityId = T3.BaseManagedEntityId LEFT JOIN [dbo].[MT_Microsoft$SystemCenter$SiteManagementServer] T4 ON T1.BaseManagedEntityId = T4.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT5 ON (RT5.RelationshipTypeId = 'B22D9165-494B-5FA8-57AF-F2C608E103BC'  AND RT5.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T5 ON RT5.SourceEntityId = T5.BaseManagedEntityId
GO
