USE [OperationsManager]
GO
/****** Object:  Table [dbo].[TypedManagedEntity]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypedManagedEntity](
	[TypedManagedEntityId] [uniqueidentifier] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_TypedManagedEntity] PRIMARY KEY CLUSTERED 
(
	[TypedManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [idx_ManagedEntityManagedTypeId] UNIQUE NONCLUSTERED 
(
	[BaseManagedEntityId] ASC,
	[ManagedTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypedManagedEntity] ADD  CONSTRAINT [DF_TypedManagedEntity_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TypedManagedEntity] ADD  CONSTRAINT [DF_TypedManagedEntity_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[TypedManagedEntity]  WITH CHECK ADD  CONSTRAINT [FK_TypedManagedEntity_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TypedManagedEntity] CHECK CONSTRAINT [FK_TypedManagedEntity_BaseManagedEntity]
GO
