USE [OperationsManager]
GO
/****** Object:  Table [dbo].[LanguagePack]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguagePack](
	[LanguagePackId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [nvarchar](3) NOT NULL,
	[LanguageIsDefault] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_LanguagePack] PRIMARY KEY CLUSTERED 
(
	[LanguagePackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LanguagePack] ADD  CONSTRAINT [DF_LanguagePack_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[LanguagePack] ADD  CONSTRAINT [DF_LanguagePack_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[LanguagePack]  WITH CHECK ADD  CONSTRAINT [FK_LanguagePack_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LanguagePack] CHECK CONSTRAINT [FK_LanguagePack_ManagementPack]
GO
