USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AemCrashCounters]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AemCrashCounters](
	[SourceEntityId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[EntityTypeId] [tinyint] NOT NULL,
	[HitCount] [int] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_AemCrashCounters] PRIMARY KEY NONCLUSTERED 
(
	[SourceEntityId] ASC,
	[TimeAdded] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AemCrashCounters] ADD  CONSTRAINT [DF_AemCrashCounters_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[AemCrashCounters] ADD  CONSTRAINT [DF_AemCrashCounters_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
