USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$FibreChannelMGMT_8888_Fault_Port]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$FibreChannelMGMT_8888_Fault_Port](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[FibreChannelMGMT8888FaultIndex_50C744A1_3EF2_5BBF_0A8C_FBC9FFB0F3A0] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$FibreChannelMGMT_8888_Fault_Port] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
