USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_GroomingConfiguration]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_GroomingConfiguration] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[BatchSize], T1.[Category], T1.[Criteria], T1.[IsInternal], T1.[RetentionPeriodInMinutes], T1.[StoredProcedure], T1.[TargetId] FROM [dbo].[MT_GroomingConfiguration] T1
GO
