USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedTypeOptimizationStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTypeOptimizationStaging](
	[ManagedTypeOptimizationId] [uniqueidentifier] NOT NULL,
	[ManagedTypeOptimizationName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[InternalOrder] [int] NULL,
	[ColumnOrder] [int] NULL
) ON [PRIMARY]
GO
