USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleOperationTypeScopeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleOperationTypeScopeView] AS
    -- The query below extracts the type, property, relationship 
    -- relationship endpoint scope that is assocoated with an operation in
    -- profile.
    SELECT  
           UR.[UserRoleId],
           POIS.[TypeId],
           ISNULL(POIS.[PropertyId], POIS.[RelationshipTypeId]) AS [PropertyId],
           ISNULL(POIS.[RelationshipEndpoint], 2) AS [RelationshipEndpoint],
           O.[ScopeType],
           O.OperationId AS OperationId
    FROM dbo.UserRole AS UR
    INNER JOIN dbo.ProfileOperation AS PO
    ON UR.ProfileId = PO.ProfileId
    INNER JOIN dbo.Operation AS O
    ON PO.OperationId = O.OperationId
    LEFT OUTER JOIN dbo.ProfileOperationImplicitScope AS POIS
    ON PO.ProfileOperationId = POIS.ProfileOperationId                   
    WHERE (O.ScopeType = 2 OR O.ScopeType = 34 OR O.ScopeType = 130 OR O.ScopeType = 132)
GO
