USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Warehouse$Cube$CubeMetadata_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Warehouse$Cube$CubeMetadata_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_DateKeyBoundary_E45C669F_3D4B_0162_B55F_3AD7387ED56E] [int] NULL,
	[Post_DateKeyBoundary_E45C669F_3D4B_0162_B55F_3AD7387ED56E] [int] NULL,
	[Pre_CubeSchemaState_B003A732_12E0_8748_9B6D_D80589142C0E] [uniqueidentifier] NULL,
	[Post_CubeSchemaState_B003A732_12E0_8748_9B6D_D80589142C0E] [uniqueidentifier] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Warehouse$Cube$CubeMetadata_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Warehouse$Cube$CubeMetadata_Log] ADD  DEFAULT ('A318FC5B-46D4-BBFE-1178-E031B1412B31') FOR [Pre_CubeSchemaState_B003A732_12E0_8748_9B6D_D80589142C0E]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Warehouse$Cube$CubeMetadata_Log] ADD  DEFAULT ('A318FC5B-46D4-BBFE-1178-E031B1412B31') FOR [Post_CubeSchemaState_B003A732_12E0_8748_9B6D_D80589142C0E]
GO
