USE [OperationsManager]
GO
/****** Object:  Table [dbo].[State]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [uniqueidentifier] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[MonitorId] [uniqueidentifier] NOT NULL,
	[HealthState] [tinyint] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[LastGreenAlertGenerated] [datetime] NULL,
	[DatabaseTimeModified] [timestamp] NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_State_BaseManagedEntityId_MonitorId] UNIQUE NONCLUSTERED 
(
	[BaseManagedEntityId] ASC,
	[MonitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_BaseManagedEntity]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_Monitor] FOREIGN KEY([MonitorId])
REFERENCES [dbo].[Monitor] ([MonitorId])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_Monitor]
GO
