USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$AD$UserBase]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$AD$UserBase](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[OrganizationalUnit_13D8EA29_A659_92AE_C78F_8047469D8C96] [nvarchar](1024) NULL,
	[ObjectGuid_8F760528_A519_ED48_891C_329F5CE7C62B] [uniqueidentifier] NULL,
	[UPN_7641DFF7_7A20_DC04_FC1C_B6FA8715DA02] [nvarchar](256) NULL,
	[SID_2B788C53_3ACE_8BAE_3AFE_0941D0147BA4] [nvarchar](256) NULL,
	[DistinguishedName_CDBAEFE6_2197_3685_EA23_CAEB31D4DDFC] [nvarchar](256) NULL,
	[FQDN_3F0E386D_5F63_F206_46AB_DA9DBE372942] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$AD$UserBase] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
