USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$Announcement$Config]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$Announcement$Config] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Id_9D066A5D_D673_1B08_704B_56C00B96E6C1], T1.[TitleBar_351CE01D_6D46_1BB9_336C_AEC8C38AC729] FROM [dbo].[MT_System$Announcement$Config] T1
GO
