USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$DeviceHasSoftwareUpdateInstalled]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$DeviceHasSoftwareUpdateInstalled](
	[RelationshipId] [uniqueidentifier] NOT NULL,
	[InstallStatus_B9EF62AC_E4B8_A536_2DAC_12302C2A729D] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MT_System$DeviceHasSoftwareUpdateInstalled] PRIMARY KEY CLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
