USE [OperationsManager]
GO
/****** Object:  Table [dbo].[TemplateSchemaReference]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateSchemaReference](
	[TemplateId] [uniqueidentifier] NOT NULL,
	[SchemaTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_TemplateSchemaReference] PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC,
	[SchemaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TemplateSchemaReference] ADD  CONSTRAINT [DF_TemplateSchemaReference_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[TemplateSchemaReference] ADD  CONSTRAINT [DF_TemplateSchemaReference_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[TemplateSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_TemplateSchemaReference_SchemaType] FOREIGN KEY([SchemaTypeId])
REFERENCES [dbo].[SchemaType] ([SchemaTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateSchemaReference] CHECK CONSTRAINT [FK_TemplateSchemaReference_SchemaType]
GO
ALTER TABLE [dbo].[TemplateSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_TemplateSchemaReference_Template] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[Template] ([TemplateId])
GO
ALTER TABLE [dbo].[TemplateSchemaReference] CHECK CONSTRAINT [FK_TemplateSchemaReference_Template]
GO
