USE [OperationsManager]
GO
/****** Object:  View [dbo].[NonMPDisplayStringView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[NonMPDisplayStringView] AS
	SELECT LT1.LTStringId,
	   LT1.LanguageCode,
	   LT1.LTValue as DisplayName,
	   LT2.LTValue as Description
	FROM LocalizedText LT1
	LEFT OUTER JOIN LocalizedText LT2
	ON LT1.LTStringId = LT2.LTStringId 
		AND LT1.LanguageCode = LT2.LanguageCode 
    WHERE LT1.ManagementPackId IS NULL
		AND LT2.ManagementPackId IS NULL 
		AND LT1.LTStringType = 1 
		AND LT2.LTStringType = 2 	
GO
