USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ObjectTemplateStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectTemplateStaging](
	[ObjectTemplateId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ObjectTemplateName] [nvarchar](256) NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[ObjectTemplateTypeId] [uniqueidentifier] NOT NULL,
	[ObjectTemplateTypeConstraint] [uniqueidentifier] NULL,
	[ObjectTemplateSubelementXML] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
