USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$ManagementServiceRuntimePoolCapabilities]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$ManagementServiceRuntimePoolCapabilities] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[SyntheticTxMaximumIntervalSeconds_7570993D_C5DE_64EE_EA64_C22ABBD6D2EA], T1.[SyntheticTxMinimumIntervalSeconds_4BBD3155_4156_A12C_8EE7_CA7B90F7B049], T2.[Name_761097C7_8EA8_EAD8_5039_C5A81D0A5473] AS [Name_761097C7_8EA8_EAD8_5039_C5A81D0A5473] FROM [dbo].[MT_Microsoft$SystemCenter$ManagementServiceRuntimePoolCapabilities] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'DFC9AE72-4B22-DB72-E23F-7A18BF167CBD'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ManagementServiceRuntimePool] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
