USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UserRoleTemplate]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleTemplate](
	[UserRoleId] [uniqueidentifier] NOT NULL,
	[TemplateId] [uniqueidentifier] NULL,
	[ScopeId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserRoleTemplate_ScopeId_TemplateId] UNIQUE NONCLUSTERED 
(
	[ScopeId] ASC,
	[TemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRoleTemplate]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTemplate_ScopeId] FOREIGN KEY([ScopeId])
REFERENCES [dbo].[UserRoleScopeHandle] ([ScopeId])
GO
ALTER TABLE [dbo].[UserRoleTemplate] CHECK CONSTRAINT [FK_UserRoleTemplate_ScopeId]
GO
ALTER TABLE [dbo].[UserRoleTemplate]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTemplate_TemplateId] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ObjectTemplate] ([ObjectTemplateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleTemplate] CHECK CONSTRAINT [FK_UserRoleTemplate_TemplateId]
GO
ALTER TABLE [dbo].[UserRoleTemplate]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTemplate_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([UserRoleId])
GO
ALTER TABLE [dbo].[UserRoleTemplate] CHECK CONSTRAINT [FK_UserRoleTemplate_UserRoleId]
GO
