USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CredentialManagerSecureStorageRemoval]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CredentialManagerSecureStorageRemoval](
	[SecureStorageElementId] [uniqueidentifier] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_CredentialManagerSecureStorageRemoval] PRIMARY KEY CLUSTERED 
(
	[SecureStorageElementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CredentialManagerSecureStorageRemoval] ADD  CONSTRAINT [DF_CredentialManagerSecureStorageRemoval_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
