USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ViewsStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewsStaging](
	[ViewId] [uniqueidentifier] NOT NULL,
	[ViewTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[ViewName] [nvarchar](256) NOT NULL,
	[ViewEnabled] [bit] NOT NULL,
	[ViewCategory] [nvarchar](100) NOT NULL,
	[ViewAccessibility] [tinyint] NOT NULL,
	[ViewUserId] [nvarchar](200) NULL,
	[TargetManagedTypeId] [uniqueidentifier] NULL,
	[ViewVisible] [bit] NOT NULL,
	[ConfigurationXML] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
 CONSTRAINT [PK_ViewsStaging] PRIMARY KEY CLUSTERED 
(
	[ViewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
