USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DataWarehouseOutriggerStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataWarehouseOutriggerStaging](
	[DataWarehouseOutriggerId] [uniqueidentifier] NOT NULL,
	[DataWarehouseOutriggerName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Template] [uniqueidentifier] NULL,
	[OutriggerInnerXML] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
