USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$OpsMgrDBWatcher]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$OpsMgrDBWatcher] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[DatabaseName_B84DDA8F_2101_C3A5_3A4B_B7B1EA971A72], T1.[DatabaseServerName_E5DE9EBC_618E_044F_39D1_82800206F8AD], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$OpsMgrDBWatcher] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '746CFEA1-FDA4-3196-55B3-9FB0DADE4A66'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
