USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Unix$ComputerNetworkAdapter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Unix$ComputerNetworkAdapter] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[DeviceID_49D62F30_C2B0_CC16_D179_3E002D024B29], T1.[IPAddress_A3CE82EE_1185_B420_356A_009C2316C513], T1.[IPSubnet_A8CAC2E7_70B3_655F_801D_43AA0B7A73B1], T1.[MACAddress_BBDEC53A_409C_7DBF_05E9_8CA3A6CE2986], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T2.[PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] AS [PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] FROM [dbo].[MT_Microsoft$Unix$ComputerNetworkAdapter] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'C37A75B5-EF95-F18C-4BC5-B93F2420D1A2'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$Unix$Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
