USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FavoriteViews]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteViews](
	[UserSid] [varchar](200) NOT NULL,
	[ViewId] [uniqueidentifier] NOT NULL,
	[InstanceId] [uniqueidentifier] NOT NULL,
	[FavoriteViewName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_FavoriteViews] PRIMARY KEY CLUSTERED 
(
	[UserSid] ASC,
	[FavoriteViewName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FavoriteViews]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteViews_ViewId] FOREIGN KEY([ViewId])
REFERENCES [dbo].[Views] ([ViewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteViews] CHECK CONSTRAINT [FK_FavoriteViews_ViewId]
GO
