USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MaintenanceMode]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceMode](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[IsInMaintenanceMode] [bit] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[ScheduledEndTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[ReasonCode] [tinyint] NOT NULL,
	[Comments] [nvarchar](1000) NULL,
	[User] [nvarchar](200) NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ScheduleId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MaintenanceMode] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceMode]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceMode_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceMode] CHECK CONSTRAINT [FK_MaintenanceMode_BaseManagedEntity]
GO
