USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MeasureStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasureStaging](
	[MeasureId] [uniqueidentifier] NOT NULL,
	[MeasureName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Aggregation] [tinyint] NOT NULL,
	[DataTypeName] [nvarchar](256) NOT NULL,
	[Nullable] [bit] NOT NULL,
	[DataType] [tinyint] NOT NULL,
	[MaxLength] [int] NULL,
	[MinLength] [int] NULL,
	[Scale] [tinyint] NULL,
	[MinValue] [int] NULL,
	[MaxValue] [int] NULL,
	[CaseSensitive] [bit] NULL,
	[DefaultValue] [nvarchar](2000) NULL
) ON [PRIMARY]
GO
