USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ImplicitViewForProfile]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImplicitViewForProfile](
	[ProfileId] [uniqueidentifier] NOT NULL,
	[ViewId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ImplicitViewForProfile] UNIQUE NONCLUSTERED 
(
	[ProfileId] ASC,
	[ViewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
