USE [OperationsManager]
GO
/****** Object:  View [dbo].[RuleModule]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[RuleModule] AS
	SELECT ModuleId AS RuleModuleId, ModuleName AS RuleModuleName, ModuleRole AS RuleModuleRole,
		ModuleTypeId, ParentId AS RuleId, TargetTypeId, ModuleConfiguration AS RuleModuleConfiguration,
		ModuleOrder AS RuleModuleOrder 
	FROM [dbo].[Module] M JOIN [dbo].[Rules] R ON R.RuleId = M.ParentId
GO
