USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeployItem]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeployItem](
	[DeployItemId] [uniqueidentifier] NOT NULL,
	[DeployItemName] [nvarchar](128) NOT NULL,
	[DeploySequenceId] [uniqueidentifier] NOT NULL,
	[MPElementId] [uniqueidentifier] NULL,
	[DeployerAssemblyName] [nvarchar](255) NOT NULL,
	[Outcome] [nvarchar](255) NOT NULL,
	[StatusId] [int] NOT NULL,
	[ForDelete] [bit] NOT NULL,
	[Deployer] [varbinary](max) NOT NULL,
	[Entity] [xml] NOT NULL,
	[Execution] [datetime] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DeployItem] PRIMARY KEY CLUSTERED 
(
	[DeployItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeployItem] ADD  CONSTRAINT [DF_DeployItem_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DeployItem] ADD  CONSTRAINT [DF_DeployItem_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[DeployItem]  WITH CHECK ADD  CONSTRAINT [FK_DeployItem_DeploySequence] FOREIGN KEY([DeploySequenceId])
REFERENCES [dbo].[DeploySequence] ([DeploySequenceId])
GO
ALTER TABLE [dbo].[DeployItem] CHECK CONSTRAINT [FK_DeployItem_DeploySequence]
GO
