USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$AllManagementServersPool]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$AllManagementServersPool](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[UseDefaultObserver_4D15741A_DCDD_D148_8571_1CA720ECEF01] [bit] NULL,
	[Description_7E313F72_40AA_9270_024A_88281E562876] [nvarchar](4000) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[MembershipVersion_55C11DF7_009F_8DA0_E040_AE978788F0A1] [int] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[IsDynamic_BBAE5CB6_FCE0_8CA7_507C_B698E88F4CB8] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$AllManagementServersPool] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$AllManagementServersPool] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$AllManagementServersPool] ADD  DEFAULT ((1)) FOR [UseDefaultObserver_4D15741A_DCDD_D148_8571_1CA720ECEF01]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$AllManagementServersPool] ADD  DEFAULT ((0)) FOR [MembershipVersion_55C11DF7_009F_8DA0_E040_AE978788F0A1]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$AllManagementServersPool] ADD  DEFAULT ((1)) FOR [IsDynamic_BBAE5CB6_FCE0_8CA7_507C_B698E88F4CB8]
GO
