USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FolderItem]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FolderItem](
	[FolderId] [uniqueidentifier] NOT NULL,
	[MPElementId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[FolderItemId] [uniqueidentifier] NULL,
	[FolderItemName] [nvarchar](256) NULL,
 CONSTRAINT [PK_FolderItem] PRIMARY KEY CLUSTERED 
(
	[FolderId] ASC,
	[MPElementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FolderItem] ADD  CONSTRAINT [DF_FolderItem_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[FolderItem] ADD  CONSTRAINT [DF_FolderItem_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[FolderItem]  WITH CHECK ADD  CONSTRAINT [FK_FolderItem_Folder] FOREIGN KEY([FolderId])
REFERENCES [dbo].[Folder] ([FolderId])
GO
ALTER TABLE [dbo].[FolderItem] CHECK CONSTRAINT [FK_FolderItem_Folder]
GO
ALTER TABLE [dbo].[FolderItem]  WITH CHECK ADD  CONSTRAINT [FK_FolderItem_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FolderItem] CHECK CONSTRAINT [FK_FolderItem_ManagementPack]
GO
