USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ModuleType]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleType](
	[ModuleTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[MDTName] [nvarchar](256) NOT NULL,
	[MDTOutputDatatypeId] [uniqueidentifier] NULL,
	[MDTAccessibility] [tinyint] NOT NULL,
	[MDTRole] [tinyint] NOT NULL,
	[MDTCanGuaranteeDelivery] [bit] NOT NULL,
	[MDTIncludeSchemaTypes] [bit] NOT NULL,
	[MDTPassThrough] [bit] NOT NULL,
	[MDTStateful] [bit] NOT NULL,
	[MDTTriggerOnly] [bit] NOT NULL,
	[MDTBatching] [bit] NOT NULL,
	[MDTConfigurationXSD] [nvarchar](max) NULL,
	[MDTImplementationXML] [nvarchar](max) NULL,
	[MDTInputTypes] [nvarchar](max) NULL,
	[MDTRunAs] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[Assembly] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ModuleType] PRIMARY KEY CLUSTERED 
(
	[ModuleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ModuleType] ADD  CONSTRAINT [DF_ModuleType_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ModuleType] ADD  CONSTRAINT [DF_ModuleType_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ModuleType]  WITH CHECK ADD  CONSTRAINT [FK_ModuleType_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModuleType] CHECK CONSTRAINT [FK_ModuleType_ManagementPack]
GO
