USE [OperationsManager]
GO
/****** Object:  Table [dbo].[OverrideableParameterStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverrideableParameterStaging](
	[OverrideableParameterId] [uniqueidentifier] NOT NULL,
	[OverrideableParameterName] [nvarchar](256) NOT NULL,
	[ModuleTypeId] [uniqueidentifier] NULL,
	[MonitorTypeId] [uniqueidentifier] NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[Xpath] [nvarchar](max) NULL,
	[OPType] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
