USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DataWarehouseOutrigger]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataWarehouseOutrigger](
	[DataWarehouseOutriggerId] [uniqueidentifier] NOT NULL,
	[DataWarehouseOutriggerName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[OutriggerInnerXML] [nvarchar](max) NULL,
	[Template] [uniqueidentifier] NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DataWarehouseOutrigger] PRIMARY KEY CLUSTERED 
(
	[DataWarehouseOutriggerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataWarehouseOutrigger] ADD  CONSTRAINT [DF_DataWarehouseOutrigger_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DataWarehouseOutrigger] ADD  CONSTRAINT [DF_DataWarehouseOutrigger_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[DataWarehouseOutrigger]  WITH CHECK ADD  CONSTRAINT [FK_DataWarehouseOutrigger_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DataWarehouseOutrigger] CHECK CONSTRAINT [FK_DataWarehouseOutrigger_ManagementPack]
GO
