USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Unix$CredentialRef]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Unix$CredentialRef](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Key_B7FF2CA2_5677_29C6_CA58_571839DC106A] [nvarchar](256) NOT NULL,
	[IsSSHKey_C32B53A6_01F4_2B7F_BCAF_201E32BABE8A] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[CredentialId_FF749E34_2A6D_3C72_482E_0B10632923BE] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Type_573675E6_C919_BF8E_52DE_074AE9F09F62] [nvarchar](256) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_Microsoft$Unix$CredentialRef] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Unix$CredentialRef] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
