USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_BizRule_To_Group]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_BizRule_To_Group](
	[BizRuleID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_AzMan_BizRule_To_Group] PRIMARY KEY CLUSTERED 
(
	[BizRuleID] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_BizRule_To_Group]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_BizRule_To_Group_AzMan_AzApplicationGroup] FOREIGN KEY([GroupID])
REFERENCES [dbo].[AzMan_AzApplicationGroup] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_BizRule_To_Group] CHECK CONSTRAINT [FK_AzMan_BizRule_To_Group_AzMan_AzApplicationGroup]
GO
ALTER TABLE [dbo].[AzMan_BizRule_To_Group]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_BizRule_To_Group_AzManBizrule] FOREIGN KEY([BizRuleID])
REFERENCES [dbo].[AzMan_BizRule] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_BizRule_To_Group] CHECK CONSTRAINT [FK_AzMan_BizRule_To_Group_AzManBizrule]
GO
