USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Computer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Computer] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[ActiveDirectoryObjectSid], T1.[ActiveDirectorySite], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[DNSName], T1.[DomainDnsName], T1.[ForestDnsName], T1.[HostServerName], T1.[IPAddress], T1.[IsVirtualMachine], T1.[LastInventoryDate], T1.[LogicalProcessors], T1.[NetbiosComputerName], T1.[NetbiosDomainName], T1.[NetworkName], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[OffsetInMinuteFromGreenwichTime], T1.[OrganizationalUnit], T1.[PhysicalProcessors], T1.[PrincipalName], T1.[VirtualMachineName], T2.[InstallDirectory_E2B8C073_9B17_6C3F_7B57_D4C10C9CA56D], T3.[IsNanoServer_EAA6321E_F28A_8783_71BF_EB64C54582F8], T4.[IsVirtualNode_B880813A_A3C6_D422_463E_E5739F81BDCA], T5.[EnableNetBIOS_6A92EC29_89D6_4519_1444_A3BC303EFB8C], T5.[GroupName_88434F40_1728_D52D_B5CC_3CDF3776BC3F], T5.[Network_2ED127B6_6D37_1B0D_1BFE_372E8684E73A], T5.[ProxyingEnabled_9C238728_9341_7F77_8AF9_C9218C44069A], T5.[SubnetMask_D9D0A1A5_BCBF_33B5_37CE_A0825F51FF88], T6.[InstallType_3C1BB00E_3184_F081_1E1F_1B41A54D11BB] FROM [dbo].[MT_Computer] T1 LEFT JOIN [dbo].[MT_Microsoft$SystemCenter$ManagedComputer] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId LEFT JOIN [dbo].[MT_Microsoft$SystemCenter$Agent$Nano] T3 ON T1.BaseManagedEntityId = T3.BaseManagedEntityId LEFT JOIN [dbo].[MT_Microsoft$Windows$Server$Computer] T4 ON T1.BaseManagedEntityId = T4.BaseManagedEntityId LEFT JOIN [dbo].[MT_Microsoft$Windows$Cluster$VirtualServer] T5 ON T1.BaseManagedEntityId = T5.BaseManagedEntityId LEFT JOIN [dbo].[MT_Microsoft$Windows$Server$6$2$Computer] T6 ON T1.BaseManagedEntityId = T6.BaseManagedEntityId
GO
