USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Server$6$2$PhysicalDisk_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$PhysicalDisk_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_TotalHeads_5C49C246_172F_B6CC_A00F_4A49390860E5] [nvarchar](256) NULL,
	[Post_TotalHeads_5C49C246_172F_B6CC_A00F_4A49390860E5] [nvarchar](256) NULL,
	[Pre_SCSIPort_D7492C8C_1D7C_A1DF_4DFB_6ADB4599A1C7] [nvarchar](256) NULL,
	[Post_SCSIPort_D7492C8C_1D7C_A1DF_4DFB_6ADB4599A1C7] [nvarchar](256) NULL,
	[Pre_Caption_6DF6B128_B08C_822A_471C_FF8E274B47D3] [nvarchar](256) NULL,
	[Post_Caption_6DF6B128_B08C_822A_471C_FF8E274B47D3] [nvarchar](256) NULL,
	[Pre_TracksPerCylinder_CC39063C_3695_3A42_0558_1F702D4EF4A8] [nvarchar](256) NULL,
	[Post_TracksPerCylinder_CC39063C_3695_3A42_0558_1F702D4EF4A8] [nvarchar](256) NULL,
	[Pre_Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87] [nvarchar](256) NULL,
	[Post_Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87] [nvarchar](256) NULL,
	[Pre_Manufacturer_56FEBAE5_A089_8FA7_F9DB_A3492AB858AA] [nvarchar](256) NULL,
	[Post_Manufacturer_56FEBAE5_A089_8FA7_F9DB_A3492AB858AA] [nvarchar](256) NULL,
	[Pre_Index_E99F6B3C_850C_9255_E940_295FDF62A43D] [nvarchar](256) NULL,
	[Post_Index_E99F6B3C_850C_9255_E940_295FDF62A43D] [nvarchar](256) NULL,
	[Pre_TotalTracks_1A4BF21E_E7A8_909D_2CEB_F94B2ACC8DEB] [nvarchar](256) NULL,
	[Post_TotalTracks_1A4BF21E_E7A8_909D_2CEB_F94B2ACC8DEB] [nvarchar](256) NULL,
	[Pre_PerfmonInstance_0B0BF9C0_74FC_AE50_EDA3_BF0786ABD6B9] [nvarchar](256) NULL,
	[Post_PerfmonInstance_0B0BF9C0_74FC_AE50_EDA3_BF0786ABD6B9] [nvarchar](256) NULL,
	[Pre_TotalCylinders_2A01E3CC_53C1_9295_F974_4320FF088169] [nvarchar](256) NULL,
	[Post_TotalCylinders_2A01E3CC_53C1_9295_F974_4320FF088169] [nvarchar](256) NULL,
	[Pre_DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4] [nvarchar](256) NULL,
	[Post_DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4] [nvarchar](256) NULL,
	[Pre_Size_72B375EF_4CB8_0791_663D_5897DAA1865C] [nvarchar](256) NULL,
	[Post_Size_72B375EF_4CB8_0791_663D_5897DAA1865C] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_TotalSectors_3922DA9F_4E41_E57B_526A_6C5D6316F939] [nvarchar](256) NULL,
	[Post_TotalSectors_3922DA9F_4E41_E57B_526A_6C5D6316F939] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Model_4EB57612_CC60_4F5F_5C71_69D59766564C] [nvarchar](256) NULL,
	[Post_Model_4EB57612_CC60_4F5F_5C71_69D59766564C] [nvarchar](256) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_InterfaceType_41BF6891_93C3_A3E2_40D5_01ABDA14F9A4] [nvarchar](256) NULL,
	[Post_InterfaceType_41BF6891_93C3_A3E2_40D5_01ABDA14F9A4] [nvarchar](256) NULL,
	[Pre_Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2] [nvarchar](256) NULL,
	[Post_Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2] [nvarchar](256) NULL,
	[Pre_MediaType_65B4D410_6173_0B68_B995_67D419E95D10] [nvarchar](256) NULL,
	[Post_MediaType_65B4D410_6173_0B68_B995_67D419E95D10] [nvarchar](256) NULL,
	[Pre_PNPDeviceId_8274DD47_C76B_9378_6C9D_F73F1D09AA3E] [nvarchar](256) NULL,
	[Post_PNPDeviceId_8274DD47_C76B_9378_6C9D_F73F1D09AA3E] [nvarchar](256) NULL,
	[Pre_SCSITargetID_223F06C8_FCA2_404D_930B_714D016F089B] [nvarchar](256) NULL,
	[Post_SCSITargetID_223F06C8_FCA2_404D_930B_714D016F089B] [nvarchar](256) NULL,
	[Pre_SCSIBus_E2682E35_B01C_D9DC_7758_939EBE13F248] [nvarchar](256) NULL,
	[Post_SCSIBus_E2682E35_B01C_D9DC_7758_939EBE13F248] [nvarchar](256) NULL,
	[Pre_SCSILogicalUnit_CB56F1BE_733D_7743_3721_87A88ADA28E5] [nvarchar](256) NULL,
	[Post_SCSILogicalUnit_CB56F1BE_733D_7743_3721_87A88ADA28E5] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Server$6$2$PhysicalDisk_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$PhysicalDisk_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$PhysicalDisk_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
