USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PerformanceSignatureHistory]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceSignatureHistory](
	[PerformanceSignatureHistoryId] [uniqueidentifier] NOT NULL,
	[PerformanceSignatureId] [uniqueidentifier] NOT NULL,
	[BusinessCycleUnit] [nvarchar](255) NOT NULL,
	[BusinessCycleUnitMultiplier] [int] NOT NULL,
	[BusinessCycleStartTime] [datetime] NOT NULL,
	[Sensitivity] [float] NOT NULL,
	[IsFrozen] [bit] NOT NULL,
	[IsReset] [bit] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_PerformanceSignatureHistory] PRIMARY KEY CLUSTERED 
(
	[PerformanceSignatureHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Unique_PerformanceSignatureHistory] UNIQUE NONCLUSTERED 
(
	[PerformanceSignatureId] ASC,
	[BusinessCycleStartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerformanceSignatureHistory]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceSignatureHistory_PerformanceSignature] FOREIGN KEY([PerformanceSignatureId])
REFERENCES [dbo].[PerformanceSignature] ([PerformanceSignatureId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerformanceSignatureHistory] CHECK CONSTRAINT [FK_PerformanceSignatureHistory_PerformanceSignature]
GO
