USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Server$6$2$LogicalDisk_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$LogicalDisk_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_SupportsDiskQuota_CC10078B_73F2_5F1C_848D_702461A6E043] [nvarchar](256) NULL,
	[Post_SupportsDiskQuota_CC10078B_73F2_5F1C_848D_702461A6E043] [nvarchar](256) NULL,
	[Pre_DriveType_67A23C3E_F435_A1B1_DE3E_D8C412E6D9D5] [nvarchar](256) NULL,
	[Post_DriveType_67A23C3E_F435_A1B1_DE3E_D8C412E6D9D5] [nvarchar](256) NULL,
	[Pre_Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87] [nvarchar](256) NULL,
	[Post_Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87] [nvarchar](256) NULL,
	[Pre_FileSystem_0D653B7C_3F9D_0EA1_6FF0_3CEF476DBED5] [nvarchar](256) NULL,
	[Post_FileSystem_0D653B7C_3F9D_0EA1_6FF0_3CEF476DBED5] [nvarchar](256) NULL,
	[Pre_SizeNumeric_749AE6FF_BCF2_0852_7B6D_CE73CA77FD8F] [int] NULL,
	[Post_SizeNumeric_749AE6FF_BCF2_0852_7B6D_CE73CA77FD8F] [int] NULL,
	[Pre_QuotasDisabled_005529B1_987F_9A81_87EE_06CBCB6077B3] [nvarchar](256) NULL,
	[Post_QuotasDisabled_005529B1_987F_9A81_87EE_06CBCB6077B3] [nvarchar](256) NULL,
	[Pre_DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4] [nvarchar](256) NULL,
	[Post_DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_SupportsFileBasedCompression_2819BCE8_85FF_1CB0_A633_93B9009ECFA3] [nvarchar](256) NULL,
	[Post_SupportsFileBasedCompression_2819BCE8_85FF_1CB0_A633_93B9009ECFA3] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2] [nvarchar](256) NULL,
	[Post_Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2] [nvarchar](256) NULL,
	[Pre_Size_F703D24D_CD51_EAFE_9356_70A323192928] [nvarchar](256) NULL,
	[Post_Size_F703D24D_CD51_EAFE_9356_70A323192928] [nvarchar](256) NULL,
	[Pre_VolumeName_65571163_F69F_CFDB_49A1_2730285FD2A2] [nvarchar](256) NULL,
	[Post_VolumeName_65571163_F69F_CFDB_49A1_2730285FD2A2] [nvarchar](256) NULL,
	[Pre_Compressed_0BB40B55_74B9_3A99_0295_30D005D735C9] [nvarchar](256) NULL,
	[Post_Compressed_0BB40B55_74B9_3A99_0295_30D005D735C9] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Server$6$2$LogicalDisk_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$LogicalDisk_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$LogicalDisk_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
