USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UIPageSetStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UIPageSetStaging](
	[UIPageSetId] [uniqueidentifier] NOT NULL,
	[UIPageSetName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[UIPageSetTypeDefinitionId] [uniqueidentifier] NOT NULL,
	[UIPageSetOutputTransform] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
