USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$DeviceHasSoftwareItemInstalled]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$DeviceHasSoftwareItemInstalled] AS SELECT R.RelationshipId, BME1.BaseManagedTypeId AS SourceTypeId, 
	BME2.BaseManagedTypeId AS TargetTypeId , T.[InstalledDate_0D2C1B7B_C79E_B8F0_E13F_071ABE9B9E2A], T.[InstalledPath_597E0E4A_E47C_4D14_5DAA_9828FD2A67FC], T.[SerialNumber_D803257A_E356_3566_A123_B77FA99EFEA9] FROM [MT_System$DeviceHasSoftwareItemInstalled] T  RIGHT OUTER JOIN dbo.[Relationship] R ON R.RelationshipId = T.RelationshipId
 		JOIN dbo.BaseManagedEntity BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
		JOIN dbo.BaseManagedEntity BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
		WHERE R.IsDeleted = 0 AND R.RelationshipTypeId = '224B24A8-83AC-D6E8-9D66-E1D6D4EBEEAB'
GO
