USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Rules]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules](
	[RuleId] [uniqueidentifier] NOT NULL,
	[RuleName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TargetManagedEntityType] [uniqueidentifier] NOT NULL,
	[RuleCategory] [nvarchar](256) NOT NULL,
	[RuleEnabled] [tinyint] NOT NULL,
	[RuleGuaranteedDelivery] [bit] NOT NULL,
	[RulePriority] [tinyint] NOT NULL,
	[RuleRemotable] [bit] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[DiscardLevel] [tinyint] NOT NULL,
 CONSTRAINT [PK_Rule] PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rules] ADD  CONSTRAINT [DF_RuleGuaranteedDelivery]  DEFAULT ((0)) FOR [RuleGuaranteedDelivery]
GO
ALTER TABLE [dbo].[Rules] ADD  CONSTRAINT [DF_RulePriority]  DEFAULT ((1)) FOR [RulePriority]
GO
ALTER TABLE [dbo].[Rules] ADD  CONSTRAINT [DF_RuleRemotable]  DEFAULT ((1)) FOR [RuleRemotable]
GO
ALTER TABLE [dbo].[Rules] ADD  CONSTRAINT [DF_Rule_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Rules] ADD  CONSTRAINT [DF_Rule_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Rules] ADD  CONSTRAINT [DF_RuleDiscardLevel]  DEFAULT ((100)) FOR [DiscardLevel]
GO
ALTER TABLE [dbo].[Rules]  WITH CHECK ADD  CONSTRAINT [FK_Rule_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rules] CHECK CONSTRAINT [FK_Rule_ManagementPack]
GO
