USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PerformanceCounter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceCounter](
	[PerformanceCounterId] [uniqueidentifier] NOT NULL,
	[ObjectName] [nvarchar](225) NOT NULL,
	[CounterName] [nvarchar](225) NOT NULL,
	[ScaleFactor] [float] NOT NULL,
	[ScaleLegend] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_PerformanceCounter] PRIMARY KEY CLUSTERED 
(
	[PerformanceCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerformanceCounter] ADD  CONSTRAINT [DF_PerformanceCounter_ScaleFactor]  DEFAULT ((1)) FOR [ScaleFactor]
GO
ALTER TABLE [dbo].[PerformanceCounter] ADD  CONSTRAINT [DF_PerformanceCounter_ScaleLegend]  DEFAULT ('1') FOR [ScaleLegend]
GO
