USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Windows$Server$6$2$Processor]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Windows$Server$6$2$Processor] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[BrandId_4D2D1F0F_6EF5_3F6D_4F6D_147893CBABBF], T1.[CPUKey_01D7EA09_C2C3_9A37_E4B5_0BD808CC5127], T1.[DataWidth_21878C22_48E2_1407_F5B4_CF68030D1728], T1.[Description_73629F4A_6999_08C0_A5CC_D5A6AC1BFC87], T1.[DeviceID_DF2FF114_783D_E8EC_DC76_0FC98EF70DB4], T1.[Family_F43AEAC5_0D7F_4BD3_18A5_19E8EEF1D751], T1.[IsMobile_D0B9C870_5A26_6EEA_0164_27DE27D794B9], T1.[IsMulticore_8AB9F307_1D4D_7C05_E698_0C812452AB21], T1.[Manufacturer_94B9446C_BDCE_D07F_D22A_5635D701A54C], T1.[MaxClockSpeed_A6D24082_7396_9EEA_B402_42068E3CB443], T1.[Name_4C76A76A_1C63_4F95_77AD_13CCC16904C2], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PCache_C850609B_66A9_C097_4BD6_50B8868DD766], T1.[PerfmonInstance_D9F24F7F_5F69_3957_C3FA_83E52FA2B9FC], T1.[Revision_A9A91540_E675_991A_CB6E_98D778D4397D], T1.[Speed_63FCC508_C266_B5BD_D85F_B869060D02AC], T1.[Type_3DB40B9D_F976_57F6_1151_D29CDDCCF213], T1.[Version_FFCB5B03_1D64_AEB2_825C_A634720A50E8], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$Windows$Server$6$2$Processor] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'E4C6F8CE-0763-51C6-6421-C424A93A1EB6'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
