USE [OperationsManager]
GO
/****** Object:  View [dbo].[DataWarehouseDatasetView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DataWarehouseDatasetView] AS
    SELECT [DataWarehouseDataset].[DataWarehouseDatasetId] AS Id, 
           [DataWarehouseDataset].[ManagementPackId] AS ManagementPackId, 
           [DataWarehouseDataset].[DataWarehouseDatasetName] AS Name, 
           [DataWarehouseDataset].[Accessibility],
           [DataWarehouseDataset].[Configuration],
           [DataWarehouseDataset].[Install],
           [DataWarehouseDataset].[Uninstall],
           [DataWarehouseDataset].[Upgrade],
           [DataWarehouseDataset].[UpgradeUnsupported],
           [DataWarehouseDataset].[TimeAdded],
           [DataWarehouseDataset].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[DataWarehouseDataset] LEFT  JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [DataWarehouseDataset].[DataWarehouseDatasetId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [DataWarehouseDataset].[DataWarehouseDatasetId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [DataWarehouseDataset].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
