USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ResourceStoreAssignment]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceStoreAssignment](
	[DeployItemId] [uniqueidentifier] NOT NULL,
	[ResourceStoreId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResourceStoreAssignment] ADD  CONSTRAINT [DF_ResourceStoreAssignment_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ResourceStoreAssignment] ADD  CONSTRAINT [DF_ResourceStoreAssignment_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ResourceStoreAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ResourceStoreAssignment_DeployItem] FOREIGN KEY([DeployItemId])
REFERENCES [dbo].[DeployItem] ([DeployItemId])
GO
ALTER TABLE [dbo].[ResourceStoreAssignment] CHECK CONSTRAINT [FK_ResourceStoreAssignment_DeployItem]
GO
ALTER TABLE [dbo].[ResourceStoreAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ResourceStoreAssignment_ResourceStore] FOREIGN KEY([ResourceStoreId])
REFERENCES [dbo].[ResourceStore] ([ResourceStoreId])
GO
ALTER TABLE [dbo].[ResourceStoreAssignment] CHECK CONSTRAINT [FK_ResourceStoreAssignment_ResourceStore]
GO
