USE [OperationsManager]
GO
/****** Object:  Table [dbo].[BaseManagedEntity]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseManagedEntity](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[BaseManagedEntityInternalId] [int] IDENTITY(1,1) NOT NULL,
	[BaseManagedTypeId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Path] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[TopLevelHostEntityId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[OverrideTimestamp] [datetime] NOT NULL,
	[TimeAdded] [datetime2](7) NOT NULL,
	[LastModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BaseManagedEntity] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaseManagedEntity] ADD  CONSTRAINT [DF_BaseManagedEntity_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BaseManagedEntity] ADD  CONSTRAINT [DF_BaseManagedEntity_OverrideTimestamp]  DEFAULT (getutcdate()) FOR [OverrideTimestamp]
GO
ALTER TABLE [dbo].[BaseManagedEntity] ADD  CONSTRAINT [DF_BaseManagedEntity_TimeAdded]  DEFAULT (sysutcdatetime()) FOR [TimeAdded]
GO
