USE [OperationsManager]
GO
/****** Object:  Table [dbo].[BehaviorTypes]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BehaviorTypes](
	[BehaviorTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[BehaviorTypeAccessibility] [tinyint] NOT NULL,
	[BehaviorTypeName] [nvarchar](256) NOT NULL,
	[BehaviorTypeBase] [uniqueidentifier] NULL,
	[BehaviorTypeXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_BehaviorTypes] PRIMARY KEY CLUSTERED 
(
	[BehaviorTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BehaviorTypes] ADD  CONSTRAINT [DF_BehaviorTypes_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[BehaviorTypes] ADD  CONSTRAINT [DF_BehaviorTypes_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[BehaviorTypes]  WITH CHECK ADD  CONSTRAINT [FK_BehaviorTypes_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BehaviorTypes] CHECK CONSTRAINT [FK_BehaviorTypes_ManagementPack]
GO
