USE [OperationsManager]
GO
/****** Object:  View [dbo].[ConsoleTaskView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ConsoleTaskView] AS
    SELECT [ConsoleTask].[ConsoleTaskId] AS Id,
           [ConsoleTask].[ConsoleTaskName] AS Name,
		   [ConsoleTask].[ManagementPackId],
		   [ConsoleTask].[ConsoleTaskAccessibility] AS Accessibility,
		   [ConsoleTask].[ConsoleTaskEnabled] AS Enabled,
		   [ConsoleTask].[ConsoleTaskApplication] AS [Application],
		   [ConsoleTask].[ConsoleTaskParameters] AS Parameters,
	       [ConsoleTask].[ConsoleTaskWorkingDirectory] AS WorkingDirectory,
	       [ConsoleTask].[RequireOutput],
	       [ConsoleTask].TimeAdded, 
           [ConsoleTask].LastModified, 
           [ConsoleTask].[TargetId] AS TargetMonitoringClassId,
	       LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
FROM dbo.ConsoleTask LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = ConsoleTask.ConsoleTaskId AND LT1.LTStringType = 1)
    	LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = ConsoleTask.ConsoleTaskId AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [ConsoleTask].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
