USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$AgentVersions]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$AgentVersions] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[CountOfVersion_43057297_014C_6AC3_AB84_4CAB00E99AE8], T1.[CumulativeUpdate_4AD22C44_9721_26BE_F59E_EBDE3B7C54E1], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Version_53F95E9F_BD13_BE07_5CA5_63704956B755] FROM [dbo].[MT_Microsoft$SystemCenter$AgentVersions] T1
GO
