USE [OperationsManager]
GO
/****** Object:  View [dbo].[PerformanceDataInsertView]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PerformanceDataInsertView] AS SELECT * FROM [dbo].[PerformanceData_01]
GO
