USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FavoriteTasks]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteTasks](
	[UserSid] [varchar](200) NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
	[FavoriteTasksName] [nvarchar](256) NOT NULL,
	[RootManagedEntityId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_FavoriteTasks] PRIMARY KEY CLUSTERED 
(
	[UserSid] ASC,
	[FavoriteTasksName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FavoriteTasks]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteTasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteTasks] CHECK CONSTRAINT [FK_FavoriteTasks_TaskId]
GO
