USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$NetworkDiscoveryServer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$NetworkDiscoveryServer](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[NumberOfPendingDiscoveredDevices_63E47DDE_E7B6_93C0_8FEC_BF53F18CB78C] [int] NULL,
	[NumberOfDevicesProcessed_37E93815_81BD_FA39_3B7F_542D1693FE04] [int] NULL,
	[NumberOfTotalDevices_907F4E77_1283_C416_B7C7_4DEF60074EE3] [int] NULL,
	[LastExecutionTime_0B656728_C0D0_2DAB_859A_09E899A35320] [datetime] NULL,
	[ConfigVersion_F08B78F0_F52E_7764_FDB5_4EEA49FE13A5] [int] NULL,
	[NumberOfSuccessfullyDiscoveredDevices_02520595_77D1_9FE1_92CB_EFC4AF552AC3] [int] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[ServerId_D22086E2_FA6C_29AF_CF8C_8598B5EAC3A3] [nvarchar](256) NOT NULL,
	[State_766BF959_986B_1467_2E20_9156965D9EF0] [int] NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$NetworkDiscoveryServer] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
