USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactMeasureStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactMeasureStaging](
	[FactId] [uniqueidentifier] NOT NULL,
	[MeasureId] [uniqueidentifier] NOT NULL,
	[FactMeasureId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
