USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$VLAN_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$VLAN_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_VLANKey_30B8D061_67A6_73B7_C093_38D45A574046] [nvarchar](256) NULL,
	[Post_VLANKey_30B8D061_67A6_73B7_C093_38D45A574046] [nvarchar](256) NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_Key_964DA60D_F9AE_32BC_AC16_AA8E0C182B95] [nvarchar](256) NULL,
	[Post_Key_964DA60D_F9AE_32BC_AC16_AA8E0C182B95] [nvarchar](256) NULL,
	[Pre_MembershipCriteria_6A5DC42D_FDAA_B0AB_38D0_4A7D27E53A73] [nvarchar](256) NULL,
	[Post_MembershipCriteria_6A5DC42D_FDAA_B0AB_38D0_4A7D27E53A73] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Description_026A7983_1951_571A_FAEF_C722B828C560] [nvarchar](256) NULL,
	[Post_Description_026A7983_1951_571A_FAEF_C722B828C560] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_VLANNumber_D9F996B6_1880_6615_63A8_972F45D63A08] [int] NULL,
	[Post_VLANNumber_D9F996B6_1880_6615_63A8_972F45D63A08] [int] NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$VLAN_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$VLAN_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$VLAN_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
