USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeployedResourceStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeployedResourceStaging](
	[ResourceId] [uniqueidentifier] NOT NULL,
	[ResourceName] [nvarchar](128) NOT NULL,
	[PackTransactionId] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](256) NULL,
	[ResourceCategory] [nvarchar](256) NULL,
	[ResourceValue] [varbinary](max) NULL,
	[FileCreationDate] [datetime] NULL,
	[FileModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
