USE [OperationsManager]
GO
/****** Object:  Table [dbo].[WarehouseModule]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseModule](
	[WarehouseModuleId] [uniqueidentifier] NOT NULL,
	[WarehouseModuleName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ETLModuleId] [uniqueidentifier] NOT NULL,
	[WarehouseModuleType] [tinyint] NOT NULL,
	[TargetWarehouseEntity] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_WarehouseModule] PRIMARY KEY CLUSTERED 
(
	[WarehouseModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WarehouseModule] ADD  CONSTRAINT [DF_WarehouseModule_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[WarehouseModule] ADD  CONSTRAINT [DF_WarehouseModule_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[WarehouseModule]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseModule_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseModule] CHECK CONSTRAINT [FK_WarehouseModule_ManagementPack]
GO
