USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleDashboardReferenceView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleDashboardReferenceView] AS
    SELECT [UserRoleId],
           ISNULL([DashboardReferenceId],'3A831DA8-BDD2-45BD-9139-54E4AF531DEE') AS [DashboardReferenceId],
           [ScopeId]
    FROM dbo.UserRoleDashboardReference
GO
