USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Connector_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Connector_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_Outgoing] [bit] NULL,
	[Post_Outgoing] [bit] NULL,
	[Pre_DiscoveryDataIsShared] [bit] NULL,
	[Post_DiscoveryDataIsShared] [bit] NULL,
	[Pre_DiscoveryDataIsManaged] [bit] NULL,
	[Post_DiscoveryDataIsManaged] [bit] NULL,
	[Pre_Description] [nvarchar](256) NULL,
	[Post_Description] [nvarchar](256) NULL,
	[Pre_Name] [nvarchar](256) NULL,
	[Post_Name] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Incoming] [bit] NULL,
	[Post_Incoming] [bit] NULL,
	[Pre_Id] [nvarchar](256) NULL,
	[Post_Id] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Connector_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
