USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedTypeRemovalLog]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTypeRemovalLog](
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagedTypeName] [nvarchar](256) NOT NULL,
	[ManagedTypeRemovalDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
