USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Datatype]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datatype](
	[DatatypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[DatatypeName] [nvarchar](256) NOT NULL,
	[DatatypeAccessibility] [tinyint] NOT NULL,
	[BaseDatatypeId] [uniqueidentifier] NULL,
	[Implementation] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[DescriptionFormatStringId] [uniqueidentifier] NULL,
	[SchemaXsd] [nvarchar](max) NULL,
	[Assembly] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Datatype] PRIMARY KEY CLUSTERED 
(
	[DatatypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Datatype] ADD  CONSTRAINT [DF_Datatype_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Datatype] ADD  CONSTRAINT [DF_Datatype_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Datatype]  WITH CHECK ADD  CONSTRAINT [FK_DescriptionFormatStringIdToStringResourceId_StringResource] FOREIGN KEY([DescriptionFormatStringId])
REFERENCES [dbo].[StringResource] ([StringResourceId])
GO
ALTER TABLE [dbo].[Datatype] CHECK CONSTRAINT [FK_DescriptionFormatStringIdToStringResourceId_StringResource]
GO
