USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeployedResource]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeployedResource](
	[ResourceId] [uniqueidentifier] NOT NULL,
	[ResourceName] [nvarchar](128) NOT NULL,
	[PackTransactionId] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](256) NULL,
	[ResourceCategory] [nvarchar](256) NULL,
	[ResourceValue] [varbinary](max) NULL,
	[FileCreationDate] [datetime] NULL,
	[FileModifiedDate] [datetime] NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DeployedResource] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeployedResource] ADD  CONSTRAINT [DF_DeployedResource_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DeployedResource] ADD  CONSTRAINT [DF_DeployedResource_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
