USE [OperationsManager]
GO
/****** Object:  View [dbo].[CredentialManagerSecureStorageView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CredentialManagerSecureStorageView] AS
    SELECT CredentialManagerSecureStorage.SecureStorageElementId AS Id, 
    CredentialManagerSecureStorage.SecureStorageId,
    CredentialManagerSecureStorage.[Name],
    CredentialManagerSecureStorage.Description,
    CredentialManagerSecureStorage.UserName,
    CredentialManagerSecureStorage.Domain,
    CredentialManagerSecureStorage.Type,
    CredentialManagerSecureStorage.IsSystem,
    CredentialManagerSecureStorage.AssemblyQualifiedName,
    CredentialManagerSecureStorage.ConfigurationXml,
    CredentialManagerSecureStorage.LastModified
    FROM dbo.CredentialManagerSecureStorage
GO
