USE [OperationsManager]
GO
/****** Object:  Table [dbo].[SchemaTypeStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemaTypeStaging](
	[SchemaTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[SchemaTypeName] [nvarchar](256) NOT NULL,
	[SchemaTypeAccessibility] [tinyint] NOT NULL,
	[SchemaTypeXSD] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
