USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$SiteManagementServer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$SiteManagementServer](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[SiteId_04AA9779_125D_CDD9_18C6_FB1CA1E7F1C7] [nvarchar](256) NULL,
	[SiteName_642EB7B2_3CB5_E159_D3E0_559FF93A5AF7] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$SiteManagementServer] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
