USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$Node]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$Node](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[PrimaryOwnerName_DB6C813E_2C3B_6055_4A68_62680D88BC6D] [nvarchar](256) NULL,
	[VirtualCommunitySuffix_8171C5F0_4AF6_9F55_635C_36680516E186] [nvarchar](256) NULL,
	[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] [nvarchar](256) NOT NULL,
	[SNMPVersion_3E123035_1664_20F4_43ED_875F388621BB] [int] NULL,
	[SystemObjectID_DDC9050B_19E4_170A_A3DB_5D985C0AC4E5] [nvarchar](256) NULL,
	[Description_C79E2645_F509_8EEE_210C_CD6108E2364A] [nvarchar](256) NULL,
	[SupportsSNMP_D84DEAD4_3A54_52C6_BE26_B43FC589D0A5] [bit] NULL,
	[Certification_770F2AEC_DBDA_C9CC_E680_0C3EB68BA002] [nvarchar](256) NULL,
	[SNMPAddress_3D25AA04_B3ED_7489_F61C_6A8AD21115FE] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[PrimaryOwnerContact_D3DD3B4C_B1A6_9A2D_8FB7_CD0FEA06FB51] [nvarchar](256) NULL,
	[PortNumber_A11C97FA_8E78_E0B5_E057_548800987800] [int] NULL,
	[Model_4BD92846_5429_2E69_6653_C6A6F7D9D484] [nvarchar](256) NULL,
	[AccessMode_2E4EC094_2362_BBF8_123C_141066AD5A78] [nvarchar](256) NULL,
	[Location_77ACB5E9_165E_2E55_4220_1A8DEE1A305E] [nvarchar](256) NULL,
	[Vendor_16EE4AB2_CBCC_BAD3_B249_A56E6BF207D0] [nvarchar](256) NULL,
	[sysName_EBD2EE76_4A80_E1A2_D2C1_615B586EAD36] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$Node] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$Node] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
