USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ExcludedRelatedEntityChangeLog]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcludedRelatedEntityChangeLog](
	[ExcludedRelatedEntityChangeLogId] [int] IDENTITY(1,1) NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[TargetTypeId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExcludedRelatedEntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
