USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Connector]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Connector] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Description], T1.[DiscoveryDataIsManaged], T1.[DiscoveryDataIsShared], T1.[Id], T1.[Incoming], T1.[Name], T1.[Outgoing] FROM [dbo].[MT_Connector] T1
GO
