USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedTypeSearchProperty]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTypeSearchProperty](
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[FilterName] [nvarchar](256) NULL,
	[TimeAdded] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedTypeSearchProperty] ADD  CONSTRAINT [DF_ManagedTypeSearchProperty_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ManagedTypeSearchProperty]  WITH CHECK ADD  CONSTRAINT [FK_ManagedTypeSearchProperty_ManagementPackId] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManagedTypeSearchProperty] CHECK CONSTRAINT [FK_ManagedTypeSearchProperty_ManagementPackId]
GO
