USE [OperationsManager]
GO
/****** Object:  View [dbo].[ReportResourceView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ReportResourceView] AS
    SELECT [ReportResource].[ReportResourceId] AS Id, 
           [ReportResource].[ManagementPackId] AS ManagementPackId, 
           [ReportResource].[ReportResourceName] AS Name, 
           [ReportResource].[Accessibility],
           [ReportResource].[ReportResourceData] AS ResourceData,
           [ReportResource].[TimeAdded],
           [ReportResource].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[ReportResource] LEFT  JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [ReportResource].[ReportResourceId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [ReportResource].[ReportResourceId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [ReportResource].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
