USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$WebServiceApplicationComponent]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$WebServiceApplicationComponent] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AppFailureAlerts_2BC2E09A_7A96_14D4_D046_E498A02F7474], T1.[ApplicationName_6D56072B_DFE1_44F4_83AA_146329F5A52F], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvgRequestTimeMonitorEnabled_C99A8BD9_7111_36AB_2160_E1788BCC2B68], T1.[AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA], T1.[AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86], T1.[CollectAllExceptions_DF60F3EB_1E50_0878_E8E3_B9D8CCCD14A4], T1.[ConnectivityAlerts_B0EF20EE_EBC5_EAE3_0817_670C2B6B2EB5], T1.[ExceptionHandlers_882C45F8_9417_9EE6_2A4F_2C51958DD9BA], T1.[ExceptionRateMonitorEnabled_7261DA36_3004_68E4_20CA_4EFE375DFF72], T1.[ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9], T1.[ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693], T1.[ExceptionTrackings_1BC403B6_3D26_AE64_8B1E_55265FFAD103], T1.[MonitoringComputerGroup_B969C3F2_B76A_37DC_8387_3F9405A1DDEA], T1.[Namespaces_EC8DEA64_101D_521B_B479_F66EC0C744FC], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PerformanceAlerts_D8C602FA_FFD9_5887_5BF4_9F5B6645CCE5], T1.[PerformanceRateMonitorEnabled_115D3358_7A65_A92B_757F_B6B96B91B9F2], T1.[PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954], T1.[PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972], T1.[PerformanceThreshold_F009C9B2_05F1_9235_26AB_72ACF1E6B26C], T1.[Resources_7A483AAC_5147_93A9_F149_CF2038E71F8F], T1.[SecurityAlerts_2561C4B2_C0D6_FE95_B64E_1D44B2FB9B5B], T1.[SensitivityThreshold_B0CC9E1F_01E5_4018_B12F_FA965376599F], T2.[IISApplicationPath_099A3500_25E8_9594_C0C6_63E9344E81C5] AS [IISApplicationPath_099A3500_25E8_9594_C0C6_63E9344E81C5], T3.[Id_EE996801_C54E_6A13_0F3A_584738E7FB06] AS [Id_EE996801_C54E_6A13_0F3A_584738E7FB06] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$WebServiceApplicationComponent] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'D640501D-EA0A-5567-0A6F-936B2BEF310A'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$WebServiceComponent] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = 'A1F2DFF7-4072-9A85-9CB5-3C8A4F785A1E'  AND RT3.TargetEntityId = T2.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ApplicationMonitoring$Net$ApplicationComponentGroup] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId
GO
