USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AgentPoolLease]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentPoolLease](
	[AgentPoolLeaseRowId] [int] IDENTITY(1,1) NOT NULL,
	[AgentPoolId] [uniqueidentifier] NOT NULL,
	[AgentPoolVersion] [bigint] NOT NULL,
	[ProcessId] [uniqueidentifier] NOT NULL,
	[ProcessVersion] [bigint] NOT NULL,
	[ProcessCounter] [bigint] NOT NULL,
	[LeaseExpirationDateTimeUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_AgentPoolLease] PRIMARY KEY CLUSTERED 
(
	[AgentPoolLeaseRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_AgentPoolLease] UNIQUE NONCLUSTERED 
(
	[AgentPoolId] ASC,
	[AgentPoolVersion] ASC,
	[ProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
