USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ConsoleTaskStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsoleTaskStaging](
	[ConsoleTaskId] [uniqueidentifier] NOT NULL,
	[ConsoleTaskName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TargetId] [uniqueidentifier] NULL,
	[ConsoleTaskAccessibility] [tinyint] NOT NULL,
	[ConsoleTaskEnabled] [bit] NOT NULL,
	[ConsoleTaskApplication] [nvarchar](255) NULL,
	[ConsoleTaskParameters] [nvarchar](max) NULL,
	[ConsoleTaskWorkingDirectory] [nvarchar](max) NULL,
	[RequireOutput] [bit] NOT NULL,
	[Category] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[Assembly] [uniqueidentifier] NULL,
	[Handler] [nvarchar](256) NULL,
	[Criteria] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConsoleTaskStaging] ADD  DEFAULT ((0)) FOR [Category]
GO
