USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$NetworkAdapter]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$NetworkAdapter](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[ConnectionType_11F3E366_768F_B9B2_981B_D76E3134BFF9] [nvarchar](256) NULL,
	[Mode_FF09B78B_0073_E3B1_65F2_9AFB7C4DDB64] [nvarchar](256) NULL,
	[InterfaceAlias_2035543B_5D9B_0F67_CFFB_A88CFA5FECF4] [nvarchar](256) NULL,
	[Key_56E2F5F2_6ADC_E2CB_47A7_6E05FC1E614B] [nvarchar](256) NOT NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[MaxTransferUnit_A9729253_9250_0A7A_2861_108AC35A3466] [int] NULL,
	[MaxSpeed_52CDACE5_DDB8_8E57_9652_EE3D8E7EDDF3] [float] NULL,
	[Index_4BE271B0_C7B6_0F7F_C353_EBF953814EC1] [nvarchar](256) NULL,
	[Type_04643D19_CF43_9BA0_9061_415EEBDDA965] [nvarchar](256) NULL,
	[IsConnector_AA43610E_FBCB_C623_7C0D_DBFD9E958EC0] [bit] NULL,
	[Mib2IfType_21173373_B321_8F94_50AC_0AB67AD5EDBF] [int] NULL,
	[DuplexMode_0620ED44_A0A7_0FB3_9EA1_0CA4541F0633] [nvarchar](256) NULL,
	[DuplexSource_BE3BEF00_E52F_F459_96A6_80E40EAD4AA0] [nvarchar](256) NULL,
	[Description_320F05C1_078A_56E4_E9D4_66B7BE15995B] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[InterfaceNumber_43A7A034_C295_70A1_DDCB_D2804DF4749F] [nvarchar](38) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$NetworkAdapter] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$NetworkAdapter] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
