USE [OperationsManager]
GO
/****** Object:  View [dbo].[LanguagePackView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[LanguagePackView] AS
    SELECT [LanguagePack].[LanguagePackId] AS Id, 
           [LanguagePack].[LanguageCode] AS [Name],
           [LanguagePack].[ManagementPackId] AS ManagementPackId, 
           [LanguagePack].[LanguageIsDefault] AS IsDefault,
           [LanguagePack].[TimeAdded],
           [LanguagePack].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[LanguagePack]  LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [LanguagePack].[LanguagePackId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [LanguagePack].[LanguagePackId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
    INNER JOIN dbo.ManagementPack 
	ON dbo.ManagementPack.ManagementPackId = [LanguagePack].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1
GO
