USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DiscoveryRelationshipStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryRelationshipStaging](
	[DiscoveryRelationshipId] [uniqueidentifier] NOT NULL,
	[DiscoveryId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
