USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactRelationshipDimStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactRelationshipDimStaging](
	[FactId] [uniqueidentifier] NOT NULL,
	[FactName] [nvarchar](256) NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[SourceDimensionId] [uniqueidentifier] NULL,
	[TargetDimensionId] [uniqueidentifier] NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
