USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AlertCustomField]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertCustomField](
	[Ordinal] [tinyint] NOT NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_AlertCustomField] PRIMARY KEY CLUSTERED 
(
	[Ordinal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
