USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RulesStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RulesStaging](
	[RuleId] [uniqueidentifier] NOT NULL,
	[RuleName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[TargetManagedEntityType] [uniqueidentifier] NOT NULL,
	[RuleCategory] [nvarchar](256) NOT NULL,
	[RuleEnabled] [tinyint] NOT NULL,
	[RuleGuaranteedDelivery] [bit] NOT NULL,
	[RulePriority] [tinyint] NULL,
	[RuleRemotable] [bit] NULL,
	[Comment] [nvarchar](255) NULL,
	[DiscardLevel] [tinyint] NOT NULL,
 CONSTRAINT [PK_RuleStaging] PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RulesStaging] ADD  CONSTRAINT [DF_RuleStagingDiscardLevel]  DEFAULT ((100)) FOR [DiscardLevel]
GO
