USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RecoveryStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecoveryStaging](
	[RecoveryId] [uniqueidentifier] NOT NULL,
	[RecoveryName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[RecoveryAccessibility] [tinyint] NOT NULL,
	[RecoveryEnabled] [tinyint] NOT NULL,
	[RecoveryTarget] [uniqueidentifier] NOT NULL,
	[RecoveryMonitor] [uniqueidentifier] NOT NULL,
	[ResetMonitor] [bit] NOT NULL,
	[ExecuteOnState] [tinyint] NULL,
	[ExecuteOnDiagnostic] [uniqueidentifier] NULL,
	[RecoveryRemotable] [bit] NOT NULL,
	[RecoveryCategory] [tinyint] NOT NULL,
	[TimeOut] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
