USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$ExtensionType_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$ExtensionType_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_RootIdentity_BDD07515_42C6_E252_17E3_C11663761707] [nvarchar](max) NULL,
	[Post_RootIdentity_BDD07515_42C6_E252_17E3_C11663761707] [nvarchar](max) NULL,
	[Pre_Identity_AD79A319_7C19_CB42_6E0A_DC39940CCEBE] [nvarchar](max) NULL,
	[Post_Identity_AD79A319_7C19_CB42_6E0A_DC39940CCEBE] [nvarchar](max) NULL,
	[Pre_FieldType_F15E6499_71AE_3D8F_867C_E2E33D7E1DAD] [nvarchar](256) NULL,
	[Post_FieldType_F15E6499_71AE_3D8F_867C_E2E33D7E1DAD] [nvarchar](256) NULL,
	[Pre_FieldName_07CC2A2B_4188_1F9F_9216_0B9228AC467C] [nvarchar](256) NULL,
	[Post_FieldName_07CC2A2B_4188_1F9F_9216_0B9228AC467C] [nvarchar](256) NULL,
	[Pre_BaseIdentity_5B48E94A_0EC0_9F1D_C1B3_35969B27B0E1] [nvarchar](max) NULL,
	[Post_BaseIdentity_5B48E94A_0EC0_9F1D_C1B3_35969B27B0E1] [nvarchar](max) NULL,
	[Pre_Metadata_A6D11B58_5191_E52C_B40A_02F485C368F7] [nvarchar](max) NULL,
	[Post_Metadata_A6D11B58_5191_E52C_B40A_02F485C368F7] [nvarchar](max) NULL,
	[Pre_FieldOrder_9742FD95_5DFF_90A7_CCB3_7D81B4CCB2A1] [int] NULL,
	[Post_FieldOrder_9742FD95_5DFF_90A7_CCB3_7D81B4CCB2A1] [int] NULL,
	[Pre_ParentIdentity_6C550966_1A8A_7A8F_03EE_92DECB5C1DC4] [nvarchar](max) NULL,
	[Post_ParentIdentity_6C550966_1A8A_7A8F_03EE_92DECB5C1DC4] [nvarchar](max) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_System$ExtensionType_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
