USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Fact]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact](
	[FactId] [uniqueidentifier] NOT NULL,
	[FactName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[FactType] [tinyint] NOT NULL,
	[Domain] [uniqueidentifier] NOT NULL,
	[TimeGrain] [tinyint] NOT NULL,
	[SourceType] [uniqueidentifier] NULL,
	[SourceDimension] [uniqueidentifier] NULL,
	[FactInnerXML] [nvarchar](max) NULL,
	[Template] [uniqueidentifier] NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Fact] PRIMARY KEY CLUSTERED 
(
	[FactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact] ADD  CONSTRAINT [DF_Fact_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Fact] ADD  CONSTRAINT [DF_Fact_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Fact]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fact] CHECK CONSTRAINT [FK_Fact_ManagementPack]
GO
