USE [OperationsManager]
GO
/****** Object:  View [dbo].[PerformanceCounterSignatureView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PerformanceCounterSignatureView] AS
    SELECT  PSrc.PerformanceSourceId AS Id,
            PSrc.PerformanceSourceInternalId,
            PSrc.BaseManagedEntityId AS MonitoringObjectId,
            PSrc.RuleId AS RuleId,
            PSrc.PerfmonInstanceName AS InstanceName,
            PC.ObjectName,
            PC.CounterName,
            PSrc.LastSampledValue,
            PC.ScaleFactor,
            PC.ScaleLegend,
            PS.PerformanceSignatureId,
            CASE WHEN PS.PerformanceSignatureId IS NOT NULL THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS [HasSignature],
            PS.LearningRuleId AS LearningRuleId,
            BME.[BaseManagedTypeId] AS ClassId,
            BME.Name as MonitoringObjectName,
            BME.DisplayName as MonitoringObjectDisplayName,
            BME.Path as MonitoringObjectPath,
            BME.FullName as MonitoringObjectFullName,
            PSrc.[LastModified] as PerformanceCounterLastModified,
            PS.[TimeAdded] as PerformanceSignatureTimeAdded
    FROM dbo.PerformanceSource AS PSrc WITH (NOLOCK)
    JOIN dbo.PerformanceCounter AS PC WITH (NOLOCK)
        ON PSrc.PerformanceCounterId = PC.PerformanceCounterId
    JOIN dbo.BaseManagedEntity AS BME WITH (NOLOCK)
        ON BME.BaseManagedEntityId = PSrc.BaseManagedEntityId
        AND BME.IsDeleted = 0   
    LEFT OUTER JOIN dbo.PerformanceSignature PS
        ON PSrc.BaseManagedEntityId = PS.BaseManagedEntityId 
        AND PC.ObjectName = PS.ObjectName
        AND PC.CounterName = PS.CounterName
        AND PSrc.PerfmonInstanceName = PS.InstanceName
GO
