USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentTypesStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentTypesStaging](
	[ComponentTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentTypeAccessibility] [tinyint] NOT NULL,
	[ComponentTypeName] [nvarchar](256) NOT NULL,
	[ComponentTypeBase] [uniqueidentifier] NULL,
	[ComponentTypeTarget] [nvarchar](max) NULL,
	[ComponentTypeLifetime] [nvarchar](256) NULL,
	[ComponentTypeXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
