USE [OperationsManager]
GO
/****** Object:  Table [dbo].[InstanceOverride]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstanceOverride](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[OverrideableParameterId] [uniqueidentifier] NULL,
	[RuleId] [uniqueidentifier] NULL,
	[MonitorId] [uniqueidentifier] NULL,
	[Value] [nvarchar](256) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InstanceOverride]  WITH CHECK ADD  CONSTRAINT [FK_InstanceOverride_BaseManagedEntityId] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstanceOverride] CHECK CONSTRAINT [FK_InstanceOverride_BaseManagedEntityId]
GO
ALTER TABLE [dbo].[InstanceOverride]  WITH CHECK ADD  CONSTRAINT [FK_InstanceOverride_MonitorId] FOREIGN KEY([MonitorId])
REFERENCES [dbo].[Monitor] ([MonitorId])
GO
ALTER TABLE [dbo].[InstanceOverride] CHECK CONSTRAINT [FK_InstanceOverride_MonitorId]
GO
ALTER TABLE [dbo].[InstanceOverride]  WITH CHECK ADD  CONSTRAINT [FK_InstanceOverride_RuleId] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rules] ([RuleId])
GO
ALTER TABLE [dbo].[InstanceOverride] CHECK CONSTRAINT [FK_InstanceOverride_RuleId]
GO
ALTER TABLE [dbo].[InstanceOverride]  WITH CHECK ADD  CONSTRAINT [CK_InstanceOverride] CHECK  (([RuleId] IS NULL AND [MonitorId] IS NOT NULL OR [RuleId] IS NOT NULL AND [MonitorId] IS NULL))
GO
ALTER TABLE [dbo].[InstanceOverride] CHECK CONSTRAINT [CK_InstanceOverride]
GO
