USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleScopeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleScopeView] AS
    -- The query below extracts instance scopes for appropriate operations in 
    -- a profile as follows:
    -- 1. All the instance scoped operations with groups applied from the 
    --    user role scope table (UserRoleGroupType).
    --    O.ScopeType = 2, 34, 130 & URGT.ScopeType = 2
    --    POIS entry taken into account only when there is an entry in URGT 
    --    with URGT.ScopeType = 2. If POIS entry is missing then root
    --    scope will not be assumed. 
    -- TBD Should we apply URGT.ScopeType == 8 to the O.ScopeType == 2 or do
    -- we force users to define operations with O.ScopeType == 8 if they want
    -- to allow users to modify the group, type and property scope at runtime? 
    -- For now we assume the latter. This means that you can have entries in
    -- the POIS table only for O.ScopeType == 2. Others will be ignored.
    SELECT  
           UR.[UserRoleId],
           URGT.[GroupId],
           POIS.[TypeId],
           ISNULL(POIS.[PropertyId], POIS.[RelationshipTypeId]) AS [PropertyId],
           ISNULL(POIS.[RelationshipEndpoint], 2) AS [RelationshipEndpoint],
           O.[ScopeType],
           O.OperationId AS OperationId,
           O.OperationName AS OperationName,
           URSH.ScopeId,
           URGT.[TypeId] AS AllInstancesOfTypeId
    FROM dbo.UserRole AS UR
    INNER JOIN dbo.ProfileOperation AS PO
    ON UR.ProfileId = PO.ProfileId
    INNER JOIN dbo.Operation AS O
    ON PO.OperationId = O.OperationId
    LEFT OUTER JOIN dbo.ProfileOperationImplicitScope AS POIS
    ON PO.ProfileOperationId = POIS.ProfileOperationId
    -- Since the UserRoleGroupType stores scopes for user roles per scope type,
    -- we want to match the operation scope type.
    INNER JOIN dbo.UserRoleScopeHandle AS URSH
    ON  UR.UserRoleId = URSH.UserRoleId    
    INNER JOIN dbo.UserRoleGroupType AS URGT
    ON  URSH.ScopeId = URGT.ScopeId
    WHERE ((O.ScopeType = 2  OR O.ScopeType = 34 OR O.ScopeType = 130)
            AND
            (URGT.ScopeType = 2 OR URGT.ScopeType = 8))
    --UNION
    -- The query below extracts instance scopes for appropriate operations in 
    -- a profile as follows:
    -- 1. All the instance scoped operations with groups+type applied from the 
    --    user role scope table (UserRoleGroupType).
    --    O.ScopeType = 2, 34, 130 & URGT.ScopeType = 8
    --    First, all instances of Group+Type in URGT are computed.
    --    Then POIS entry is applied over it.
    --    Hence this can result in a large list if querying for all accessible
    --    scopes.
    --    Optimize for operations with missing POIS entries, by not expanding
    --    Group+Type in URGT    
    --    Optimize for root group by not joining with recursive membership
    --    If URGT group + type are root, URGT.ScopeType should be 2.
    --    If URGT type is root, URGT.ScopeType should be 2.
    --
    -- For URGT.ScopeType = 8 and no POIS entry.  
--    SELECT  
--           UR.[UserRoleId],
--           URGT.[GroupId],
--           POIS.[TypeId], 
--           URGT.[PropertyId], 
--           ISNULL(URGT.[RelationshipEndpoint], 2) AS [RelationshipEndpoint],
--           O.[ScopeType],
 --          O.OperationId AS OperationId,
--           O.OperationName AS OperationName,
--           URSH.ScopeId,
--           URGT.[TypeId] AS AllInstancesOfTypeId
--    FROM dbo.UserRole AS UR
--    INNER JOIN dbo.ProfileOperation AS PO
--    ON UR.ProfileId = PO.ProfileId
--    INNER JOIN dbo.Operation AS O
--    ON PO.OperationId = O.OperationId
--    LEFT OUTER JOIN dbo.ProfileOperationImplicitScope AS POIS
--    ON PO.ProfileOperationId = POIS.ProfileOperationId
    -- Since the UserRoleGroupType stores scopes for user roles per scope type,
    -- we want to match the operation scope type.
--    INNER JOIN dbo.UserRoleScopeHandle AS URSH
--    ON  UR.UserRoleId = URSH.UserRoleId    
--    INNER JOIN dbo.UserRoleGroupType AS URGT
--    ON  URSH.ScopeId = URGT.ScopeId
---    WHERE ((O.ScopeType = 2 AND URGT.ScopeType = 8)
--           OR(O.ScopeType = 34 AND URGT.ScopeType = 8)
--           OR(O.ScopeType = 130 AND URGT.ScopeType = 8))
    --AND POIS.[TypeId] IS NULL 
    --AND POIS.[PropertyId] IS NULL
    --AND POIS.[RelationshipTypeId] IS NULL
--    UNION             
    -- For URGT.ScopeType = 8 and URGT.GroupId is NULL and POIS entry.      
--    SELECT  
--           UR.[UserRoleId],
--           URGT.[GroupId],
--           POIS.[TypeId],
--           ISNULL(POIS.[PropertyId], POIS.[RelationshipTypeId]) AS [PropertyId],
--           ISNULL(POIS.[RelationshipEndpoint], 2) AS [RelationshipEndpoint],
--           O.[ScopeType],
--           O.OperationId AS OperationId,
--           O.OperationName AS OperationName,
--           URSH.ScopeId,
--           URGT.[TypeId] AS AllInstancesOfType
--    FROM dbo.UserRole AS UR
--    INNER JOIN dbo.ProfileOperation AS PO
--    ON UR.ProfileId = PO.ProfileId
--    INNER JOIN dbo.Operation AS O
--    ON PO.OperationId = O.OperationId
--    INNER JOIN dbo.ProfileOperationImplicitScope AS POIS
--    ON PO.ProfileOperationId = POIS.ProfileOperationId
    -- Since the UserRoleGroupType stores scopes for user roles per scope type,
    -- we want to match the operation scope type.
--    INNER JOIN dbo.UserRoleScopeHandle AS URSH
--    ON  UR.UserRoleId = URSH.UserRoleId    
--    INNER JOIN dbo.UserRoleGroupType AS URGT
--    ON  URSH.ScopeId = URGT.ScopeId
--    WHERE ((O.ScopeType = 2 AND URGT.ScopeType = 8)
--           OR(O.ScopeType = 34 AND URGT.ScopeType = 8)
--           OR(O.ScopeType = 130 AND URGT.ScopeType = 8))
--    AND POIS.[TypeId] IS NOT NULL 
    -- Need not check other PropertyId and RelationshipTypeId of POIS
    -- If TypeId is null, they should also be null
    -- AND URGT.[GroupId] IS NULL
    -- AND URGT.[TypeId] IS NOT NULL
    UNION
    -- The query below extracts type scopes for appropriate operations in 
    -- a profile as follows:
    -- 1. All the type scoped operations with types directly applied from
    --    user role scope table (UserRoleGroupType).
    --    O.ScopeType = 4 & URGT.ScopeType = 4 
    --    POIS entry should be absent.
    -- 2. All the type scoped operations with types applied from the POIS
    --    table.
    --    O.ScopeType = 132
    --    User role scope table (UserRoleGroupType) entry is excluded.
    -- TBD Should we create a new O.ScopeType (<> 4) for type scopes that
    -- should not be modified at runtime i.e. operations that have a POIS
    -- entry.
    SELECT  
           UR.[UserRoleId],
           URGT.[GroupId],
           URGT.[TypeId], 
           ISNULL(URGT.[PropertyId], URGT.[RelationshipTypeId]) AS [PropertyId],
           ISNULL(URGT.[RelationshipEndpoint], 2) AS [RelationshipEndpoint],
           O.[ScopeType],
           O.OperationId AS OperationId,
           O.OperationName AS OperationName,
           URSH.ScopeId,
           NULL AS AllInstancesOfTypeId
    FROM dbo.UserRole AS UR
    INNER JOIN dbo.ProfileOperation AS PO
    ON UR.ProfileId = PO.ProfileId
    INNER JOIN dbo.Operation AS O
    ON PO.OperationId = O.OperationId
    -- Since the UserRoleGroupType stores scopes for user roles per scope type,
    -- we want to match the operation scope type.
    INNER JOIN dbo.UserRoleScopeHandle AS URSH
    ON  UR.UserRoleId = URSH.UserRoleId    
    INNER JOIN dbo.UserRoleGroupType AS URGT
    ON  URSH.ScopeId = URGT.ScopeId
    WHERE ((O.ScopeType = 4 AND URGT.ScopeType = 4))
    UNION
    SELECT  
           UR.[UserRoleId],
           NULL AS [GroupId],
           POIS.[TypeId],
           ISNULL(POIS.[PropertyId], POIS.[RelationshipTypeId]) AS [PropertyId],
           ISNULL(POIS.[RelationshipEndpoint], 2) AS [RelationshipEndpoint],
           O.[ScopeType],
           O.OperationId AS OperationId,
           O.OperationName AS OperationName,
           URSH.ScopeId,
           NULL AS AllInstancesOfTypeId
    FROM dbo.UserRole AS UR
    INNER JOIN dbo.UserRoleScopeHandle AS URSH
    ON  UR.UserRoleId = URSH.UserRoleId
    INNER JOIN dbo.ProfileOperation AS PO
    ON UR.ProfileId = PO.ProfileId
    INNER JOIN dbo.Operation AS O
    ON PO.OperationId = O.OperationId
    LEFT OUTER JOIN dbo.ProfileOperationImplicitScope AS POIS
    ON PO.ProfileOperationId = POIS.ProfileOperationId
    WHERE (O.ScopeType = 132)
GO
