USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$SonusNrsSubIf_Fault_Interface_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$SonusNrsSubIf_Fault_Interface_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_SonusNrsSubIfFaultIndex_30502F20_C753_B56F_C84C_0B6C7DE88C03] [nvarchar](256) NULL,
	[Post_SonusNrsSubIfFaultIndex_30502F20_C753_B56F_C84C_0B6C7DE88C03] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$SonusNrsSubIf_Fault_Interface_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
