USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Connector]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Connector](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Outgoing] [bit] NULL,
	[DiscoveryDataIsShared] [bit] NULL,
	[DiscoveryDataIsManaged] [bit] NULL,
	[Description] [nvarchar](256) NULL,
	[Name] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Incoming] [bit] NULL,
	[Id] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_MT_Connector] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
