USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Event_00]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_00](
	[EventId] [uniqueidentifier] NOT NULL,
	[EventOriginalId] [uniqueidentifier] NOT NULL,
	[BaseManagedEntityInternalId] [int] NOT NULL,
	[RuleId] [uniqueidentifier] NOT NULL,
	[PublisherId] [uniqueidentifier] NOT NULL,
	[PublisherName] [nvarchar](255) NOT NULL,
	[FullNumber] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Category] [int] NULL,
	[User] [nvarchar](255) NOT NULL,
	[Channel] [nvarchar](255) NULL,
	[Level] [int] NULL,
	[LoggingComputer] [nvarchar](400) NOT NULL,
	[EventData] [nvarchar](max) NULL,
	[EventParameters] [nvarchar](max) NULL,
	[TimeGenerated] [datetime] NOT NULL,
	[TimeAdded] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Event_00] ADD  CONSTRAINT [DF_Event_00_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
