USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$SiteContext]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$SiteContext] AS SELECT R.RelationshipId, BME1.BaseManagedTypeId AS SourceTypeId, 
	BME2.BaseManagedTypeId AS TargetTypeId , T.[SiteContextOwnerId_2A841CAE_93E8_4BDD_5491_9E4AAF8B5C9A] FROM [MT_Microsoft$SystemCenter$SiteContext] T  RIGHT OUTER JOIN dbo.[Relationship] R ON R.RelationshipId = T.RelationshipId
 		JOIN dbo.BaseManagedEntity BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
		JOIN dbo.BaseManagedEntity BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
		WHERE R.IsDeleted = 0 AND R.RelationshipTypeId = '60BC576A-EE5F-63AB-645B-8E2E81BF7236'
GO
