USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactStaging](
	[FactId] [uniqueidentifier] NOT NULL,
	[FactName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[FactType] [tinyint] NOT NULL,
	[Domain] [uniqueidentifier] NOT NULL,
	[TimeGrain] [tinyint] NOT NULL,
	[SourceType] [uniqueidentifier] NULL,
	[SourceDimension] [uniqueidentifier] NULL,
	[Template] [uniqueidentifier] NULL,
	[FactInnerXML] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
