USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Connector]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connector](
	[ConnectorId] [uniqueidentifier] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[IsInitialized] [bit] NOT NULL,
	[CurrentBookmark] [datetime] NOT NULL,
	[IsBackwardCompatible] [bit] NOT NULL,
	[LastModified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConnectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Connector] ADD  CONSTRAINT [DF_Connector_IsInitialized]  DEFAULT ((0)) FOR [IsInitialized]
GO
ALTER TABLE [dbo].[Connector] ADD  CONSTRAINT [DF_Connector_CurrentBookmark]  DEFAULT (CONVERT([datetime],(0))) FOR [CurrentBookmark]
GO
ALTER TABLE [dbo].[Connector] ADD  CONSTRAINT [DF_Connector_IsBackwardCompatible]  DEFAULT ((0)) FOR [IsBackwardCompatible]
GO
ALTER TABLE [dbo].[Connector] ADD  CONSTRAINT [DF_Connector_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Connector]  WITH CHECK ADD  CONSTRAINT [FK_Connector_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Connector] CHECK CONSTRAINT [FK_Connector_BaseManagedEntity]
GO
