USE [OperationsManager]
GO
/****** Object:  View [dbo].[RecoveryJobStatusView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[RecoveryJobStatusView] WITH SCHEMABINDING AS
    SELECT MJS.[JobId] AS Id,
           MJS.[RecoveryId] AS RecoveryId,
		   MJS.[StateChangeEventId],
           S.[BaseManagedEntityId]  AS TargetObjectId,
		   MJS.[SubmittedBy],
	       MJS.[Status],
		   MJS.[Output],
		   MJS.[ErrorCode],
		   MJS.[ErrorMessage],
		   MJS.[TimeScheduled],
		   MJS.[TimeStarted],
		   MJS.[TimeFinished],
		   MJS.[LastModified],
		   MJS.[LastModifiedTimestamp]
    FROM dbo.[MonitoringJobStatus] MJS
    JOIN dbo.[StateChangeEvent] SCE
        ON MJS.[StateChangeEventId] = SCE.[StateChangeEventId]
    JOIN dbo.[State] S
        ON SCE.[StateId] = S.[StateId]
    INNER JOIN dbo.Recovery ON dbo.Recovery.[RecoveryId] = MJS.RecoveryId
    INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = Recovery.ManagementPackId AND dbo.ManagementPack.ContentReadable = 1     
    WHERE MJS.[RecoveryId] IS NOT NULL
GO
