USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$WebApplicationTest$WebTest]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$WebApplicationTest$WebTest] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Alerting_DFA40526_FFC3_628A_F72D_E4F41F13988F], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[ConsecutiveMatchCount_DF9DD26B_4312_E009_E5A3_D0F7CA8A80C3], T1.[Context_3245402F_4338_AB95_1093_408ED425BFBB], T1.[InstanceId_1C4ECB8E_D4C2_873C_F0E9_513879A13641], T1.[IntervalInSeconds_EB64DB72_B1B4_734F_B5F6_02045FE5EDF2], T1.[Location_0FA25EE2_552F_87B7_900A_040141003AEA], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Parameters_406C7685_E2D2_2A2E_2CF7_84F84C04DA13], T1.[TestConfig_7989CC38_5EE3_5C9A_42EF_710F26BC47E6] FROM [dbo].[MT_Microsoft$SystemCenter$WebApplicationTest$WebTest] T1
GO
