USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$Node]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$Node] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AccessMode_2E4EC094_2362_BBF8_123C_141066AD5A78], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Certification_770F2AEC_DBDA_C9CC_E680_0C3EB68BA002], T1.[Description_C79E2645_F509_8EEE_210C_CD6108E2364A], T1.[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8], T1.[Location_77ACB5E9_165E_2E55_4220_1A8DEE1A305E], T1.[Model_4BD92846_5429_2E69_6653_C6A6F7D9D484], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PortNumber_A11C97FA_8E78_E0B5_E057_548800987800], T1.[PrimaryOwnerContact_D3DD3B4C_B1A6_9A2D_8FB7_CD0FEA06FB51], T1.[PrimaryOwnerName_DB6C813E_2C3B_6055_4A68_62680D88BC6D], T1.[SNMPAddress_3D25AA04_B3ED_7489_F61C_6A8AD21115FE], T1.[SNMPVersion_3E123035_1664_20F4_43ED_875F388621BB], T1.[SupportsSNMP_D84DEAD4_3A54_52C6_BE26_B43FC589D0A5], T1.[sysName_EBD2EE76_4A80_E1A2_D2C1_615B586EAD36], T1.[SystemObjectID_DDC9050B_19E4_170A_A3DB_5D985C0AC4E5], T1.[Vendor_16EE4AB2_CBCC_BAD3_B249_A56E6BF207D0], T1.[VirtualCommunitySuffix_8171C5F0_4AF6_9F55_635C_36680516E186] FROM [dbo].[MT_System$NetworkManagement$Node] T1
GO
