USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleViewView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleViewView] AS
    SELECT [UserRoleId],
           ISNULL([ViewId],'7AD9D106-9134-4f44-A11F-AA3AE89B7C4C') AS [ViewId],
           [ScopeId]
    FROM dbo.UserRoleView
GO
