USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeployedManifest]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeployedManifest](
	[PackTransactionId] [uniqueidentifier] NOT NULL,
	[PackManifest] [xml] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastNodified] [datetime] NOT NULL,
 CONSTRAINT [PK_DeployedManifest] PRIMARY KEY CLUSTERED 
(
	[PackTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeployedManifest] ADD  CONSTRAINT [DF_DeployedManifest_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DeployedManifest] ADD  CONSTRAINT [DF_DeployedManifest_LastModified]  DEFAULT (getutcdate()) FOR [LastNodified]
GO
