USE [OperationsManager]
GO
/****** Object:  View [dbo].[LinkedReportsView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[LinkedReportsView] AS
    SELECT [LinkedReport].[LinkedReportId] AS Id, 
           [LinkedReport].[ManagementPackId] AS ManagementPackId, 
           [LinkedReport].[LinkedReportName] AS Name, 
           [LinkedReport].[BaseReportId] AS BaseMonitoringReportId, 
           [LinkedReport].[Target] AS TargetMonitoringClassId, 
           [LinkedReport].[Accessibility] AS Accessibility,
           [LinkedReport].[Visible] AS Visible,
           [LinkedReport].[Parameters] AS Parameters,
           [LinkedReport].[ParameterBlock] AS ParameterBlock,
           [LinkedReport].[TimeAdded],
           [LinkedReport].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.LinkedReport  LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = LinkedReport.LinkedReportId AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = LinkedReport.LinkedReportId AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [LinkedReport].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
