USE [OperationsManager]
GO
/****** Object:  View [dbo].[EntityChangeLogView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[EntityChangeLogView]
AS
SELECT
   EntityChangeLogId
  ,ChangeType
 ,EntityId
  ,EntityTypeId
  ,RelatedEntityId
  ,RelationshipId
  ,EntityTransactionLogId
  ,LastModified
FROM dbo.EntityChangeLog
WHERE (ChangeType < 3)
AND (SubscriptionSpecific = 0)
GO
