USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CausalityReferenceRelationStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CausalityReferenceRelationStaging](
	[CausalityReferenceRelationId] [uniqueidentifier] NOT NULL,
	[CausalityRuleId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[RelationshipDirectionIsSourceToTarget] [bit] NOT NULL,
	[Scope] [uniqueidentifier] NULL,
	[Order] [int] NOT NULL
) ON [PRIMARY]
GO
