USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CausalityReferenceRelation]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CausalityReferenceRelation](
	[CausalityReferenceRelationId] [uniqueidentifier] NOT NULL,
	[CausalityRuleId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[RelationshipDirectionIsSourceToTarget] [bit] NOT NULL,
	[Scope] [uniqueidentifier] NULL,
	[Order] [int] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CausalityReferenceRelation] ADD  CONSTRAINT [DF_CausalityReferenceRelation_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[CausalityReferenceRelation] ADD  CONSTRAINT [DF_CausalityReferenceRelation_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[CausalityReferenceRelation]  WITH CHECK ADD  CONSTRAINT [FK_CausalityReferenceRelation_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CausalityReferenceRelation] CHECK CONSTRAINT [FK_CausalityReferenceRelation_ManagementPack]
GO
ALTER TABLE [dbo].[CausalityReferenceRelation]  WITH CHECK ADD  CONSTRAINT [FK_CausalityReferenceRelation_RelationshipType] FOREIGN KEY([RelationshipTypeId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeId])
GO
ALTER TABLE [dbo].[CausalityReferenceRelation] CHECK CONSTRAINT [FK_CausalityReferenceRelation_RelationshipType]
GO
