USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$NetworkAdapter]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$NetworkAdapter] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[ConnectionType_11F3E366_768F_B9B2_981B_D76E3134BFF9], T1.[Description_320F05C1_078A_56E4_E9D4_66B7BE15995B], T1.[DuplexMode_0620ED44_A0A7_0FB3_9EA1_0CA4541F0633], T1.[DuplexSource_BE3BEF00_E52F_F459_96A6_80E40EAD4AA0], T1.[Index_4BE271B0_C7B6_0F7F_C353_EBF953814EC1], T1.[InterfaceAlias_2035543B_5D9B_0F67_CFFB_A88CFA5FECF4], T1.[InterfaceNumber_43A7A034_C295_70A1_DDCB_D2804DF4749F], T1.[IsConnector_AA43610E_FBCB_C623_7C0D_DBFD9E958EC0], T1.[Key_56E2F5F2_6ADC_E2CB_47A7_6E05FC1E614B], T1.[MaxSpeed_52CDACE5_DDB8_8E57_9652_EE3D8E7EDDF3], T1.[MaxTransferUnit_A9729253_9250_0A7A_2861_108AC35A3466], T1.[Mib2IfType_21173373_B321_8F94_50AC_0AB67AD5EDBF], T1.[Mode_FF09B78B_0073_E3B1_65F2_9AFB7C4DDB64], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Type_04643D19_CF43_9BA0_9061_415EEBDDA965], T2.[MIB2CommonFaultIndex_3252C1D3_AAC4_8EAC_58FF_85888A2133AA], T3.[PortNumber_465D8CEE_772F_2E64_5A53_850171491673], T4.[Blade8124FaultIndex_9FE7FAD3_7A89_7D20_4C39_FEC06CAA29E1], T5.[JuniperMPLSFaultIndex_58B8C276_CDA7_B5DF_C690_1335EF198266], T6.[FibreChannelMGMT8888FaultIndex_50C744A1_3EF2_5BBF_0A8C_FBC9FFB0F3A0], T7.[BroadcomFaultIndex_561EEA6B_D82B_26D3_6342_3DA549004B6F], T8.[LucentLannetFaultIndex_36DBAF19_DB91_3D58_120E_6CF5F7B15665], T9.[TopspinInterfaceETHFaultIndex_2979E159_7883_4A88_45B2_592AF4621D83], T10.[CosineVIfFaultIndex_DC345906_D5C2_8217_89D8_9F138B1018F3], T11.[BrocadeFaultIndex_6756A40C_DDA1_5B61_3475_353846A825EE], T12.[CabletronMMACFaultIndex_DBBC467B_3590_10A9_52C7_4827C9E23708], T13.[SynOptics3000FaultIndex_E0C09920_C9A4_86D0_16A1_9E685471495B], T14.[SonusNifFaultIndex_7C7CBAF9_47DC_7DDE_217A_6A9C483DE7BB], T15.[CosineEthSubIfFaultIndex_18A8E1E3_80F6_1171_3AD5_B6DA18A69250], T16.[KENTROXFaultIndex_6B22AF57_0D9D_8E86_E76B_EE30A58DC6F5], T17.[NetScreenNSRPActiveFaultIndex_BD1E5CC8_924B_0A81_C940_0588E6152CA5], T18.[ECINIFaultIndex_9E3D0BA8_DB13_132C_A150_EBA1B94FE196], T19.[SonusNrsSubIfFaultIndex_30502F20_C753_B56F_C84C_0B6C7DE88C03], T20.[CiscoIPSecFaultIndex_592AEDEC_2082_634F_2D67_F600A855E506], T21.[AlcatelTimexFaultIndex_5AD4529A_27FA_16D3_82A9_62E88933DD09], T22.[WellfleetRouterFaultIndex_2BAF41F4_5BC7_9870_7144_CEB7B4411B24], T23.[FDDIFaultIndex_73091869_81EB_CEDC_C58D_52868FA75AF7], T24.[SonusInterfaceDsx3FaultIndex_DB37C9B6_FDDF_45DF_13BB_3390036CCFA7], T25.[TopspinInterfaceIBFaultIndex_AFB3F812_ECAC_E1A5_B40B_71DCC3FCC23E], T26.[SonusInterfaceDsx1FaultIndex_024480F2_D3E7_09AA_FB46_415372D9E196], T27.[ECIDSLFaultIndex_CB7E3B65_5835_40B8_E38D_E8B5C2A5ABE2], T28.[TransmissionDS1FaultIndex_447A6A6A_A0FC_A869_0F10_312BF07892E4], T29.[SynOptics5000TokenRingFaultIndex_BC1527BD_1468_37E0_2661_C31BC5255591], T30.[CiscoGSRFaultIndex_D8994FF7_314F_22FF_0DA3_36603A66AB3A], T31.[LarscomDS1FaultIndex_53802CC4_2461_74EC_474C_B965417D2CD1], T32.[NetScreenTunnelFaultIndex_0AD25EEC_17E1_7EA1_F9B5_062080435ED3], T33.[CiscoSRPFaultIndex_FAECD122_D2FB_3F6D_151A_CAD2CC5679B2], T34.[NetScreenLoopBackFaultIndex_54FBE581_C7E7_ADC7_9A7B_09D670F323CA], T35.[LAPDFaultIndex_D36EE243_0F07_BABC_FFA9_7E242CFE00BF], T36.[CiscoBPXFaultIndex_02167180_623A_98FD_DCBD_40463FB5DFF3], T37.[DLCIMIB2FaultIndex_1B7EBDE7_6CCD_33DA_DAA9_425A2AA693B5], T38.[AIHubFaultIndex_A356990D_7B47_A2F2_11FD_D78EF6D4301B], T39.[NetScreenFaultIndex_6920C35C_A6AC_E189_14B6_0E078ACE50E4], T40.[Blade8264FaultIndex_0C80186A_5939_3604_52F2_1A652AD2D5A2], T41.[AdtranFaultIndex_B79B5938_6B8C_825F_172B_F06C87F49F19], T42.[LAPDL1activeFaultIndex_35FAFCC6_C7FB_691B_B015_ED2020ACD541], T43.[FibreChannelMGMTFaultIndex_8476E762_A790_33F4_F6DE_9189DEF2774E], T44.[TransmissionDS3FaultIndex_77706098_C484_E2AF_0688_71AE8076E52F], T45.[SynOpticsLSFaultIndex_9181D7B5_1E9A_7AC4_6C45_4240CB9A7B3A], T46.[HuaweiMA56XXFaultIndex_B6E80670_C2F5_9EB6_2039_2189CD97C9A9], T47.[SynOptics3000TokenRingFaultIndex_F6F7F4D0_C184_DFD5_8D7E_2FDC96A04B73], T48.[SYMBOLFaultIndex_C37774CA_F8A3_CD41_AA42_5A1DF75E2758], T49.[ForeATMFaultIndex_F49BA76F_8B49_F717_08C7_22A2A4569E42], T50.[LucentP550FaultIndex_F0C8F712_A9B5_4986_55A6_1A7473FAA06B], T51.[SonusNrsMgmtIfFaultIndex_1D2DC37A_F062_593A_EFAD_E2D475F7B0D9], T52.[SynOptics5000FaultIndex_0706E24C_DD4B_9994_0125_8AD94E721F22], T53.[LarscomDS3FaultIndex_1BC3D41E_E00F_2009_7E31_8FF22991D776], T54.[CiscoIKEFaultIndex_F177E1DE_B713_131D_E538_D3B5D7183D6C], T55.[NetScreenNSRPInactiveFaultIndex_267C0E8C_76BA_1FDB_54E4_633720CB12FB], T56.[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] AS [DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] FROM [dbo].[MT_System$NetworkManagement$NetworkAdapter] T1 LEFT JOIN [dbo].[MT_System$NetworkManagement$MIB2Common_Fault_NetworkAdapter] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Port] T3 ON T1.BaseManagedEntityId = T3.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Blade8124_Fault_Port] T4 ON T1.BaseManagedEntityId = T4.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Juniper_MPLS_Fault_Interface] T5 ON T1.BaseManagedEntityId = T5.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$FibreChannelMGMT_8888_Fault_Port] T6 ON T1.BaseManagedEntityId = T6.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Broadcom_Fault_Interface] T7 ON T1.BaseManagedEntityId = T7.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$LucentLannet_Fault_Port] T8 ON T1.BaseManagedEntityId = T8.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$TopspinInterfaceETH_Fault_Interface] T9 ON T1.BaseManagedEntityId = T9.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Cosine_VIf_Fault_Interface] T10 ON T1.BaseManagedEntityId = T10.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Brocade_Fault_Port] T11 ON T1.BaseManagedEntityId = T11.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Cabletron_MMAC_Fault_Port] T12 ON T1.BaseManagedEntityId = T12.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SynOptics3000_Fault_Port] T13 ON T1.BaseManagedEntityId = T13.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SonusNif_Fault_Interface] T14 ON T1.BaseManagedEntityId = T14.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Cosine_EthSubIf_Fault_Interface] T15 ON T1.BaseManagedEntityId = T15.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$KENTROX_AAC2_Fault_Port] T16 ON T1.BaseManagedEntityId = T16.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$NetScreen_NSRP_Active_Fault_Interface] T17 ON T1.BaseManagedEntityId = T17.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$ECI_NI_Fault_Port] T18 ON T1.BaseManagedEntityId = T18.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SonusNrsSubIf_Fault_Interface] T19 ON T1.BaseManagedEntityId = T19.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$CiscoIPSec_Fault_Interface] T20 ON T1.BaseManagedEntityId = T20.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$AlcatelTimex_Fault_Port] T21 ON T1.BaseManagedEntityId = T21.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$WellfleetRouter_Fault_Interface] T22 ON T1.BaseManagedEntityId = T22.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$FDDI_Fault_Interface] T23 ON T1.BaseManagedEntityId = T23.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SonusInterface_Dsx3_Fault_Interface] T24 ON T1.BaseManagedEntityId = T24.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$TopspinInterfaceIB_Fault_Interface] T25 ON T1.BaseManagedEntityId = T25.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SonusInterface_Dsx1_Fault_Interface] T26 ON T1.BaseManagedEntityId = T26.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$ECI_DSL_Fault_Port] T27 ON T1.BaseManagedEntityId = T27.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Transmission_DS1_Fault_Interface] T28 ON T1.BaseManagedEntityId = T28.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SynOptics5000TokenRing_Fault_Port] T29 ON T1.BaseManagedEntityId = T29.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$CiscoGSR_Fault_Interface] T30 ON T1.BaseManagedEntityId = T30.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Larscom_DS1_Fault_Interface] T31 ON T1.BaseManagedEntityId = T31.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$NetScreenTunnel_Fault_Interface] T32 ON T1.BaseManagedEntityId = T32.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$CiscoSRP_Sub_Fault_Interface] T33 ON T1.BaseManagedEntityId = T33.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$NetScreenLoopBack_Fault_Interface] T34 ON T1.BaseManagedEntityId = T34.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$LAPD_Fault_Interface] T35 ON T1.BaseManagedEntityId = T35.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$CiscoBPX_Fault_Port] T36 ON T1.BaseManagedEntityId = T36.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$DLCI_MIB2_Fault_Interface] T37 ON T1.BaseManagedEntityId = T37.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$AIHub_Fault_Port] T38 ON T1.BaseManagedEntityId = T38.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$NetScreen_Fault_Interface] T39 ON T1.BaseManagedEntityId = T39.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Blade8264_Fault_Port] T40 ON T1.BaseManagedEntityId = T40.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Adtran_Fault_Port] T41 ON T1.BaseManagedEntityId = T41.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$LAPD_L1active_Fault_Interface] T42 ON T1.BaseManagedEntityId = T42.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$FibreChannelMGMT_Fault_Port] T43 ON T1.BaseManagedEntityId = T43.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Transmission_DS3_Fault_Interface] T44 ON T1.BaseManagedEntityId = T44.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SynOpticsLS_Fault_Port] T45 ON T1.BaseManagedEntityId = T45.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$HuaweiMA56XX_Fault_Port] T46 ON T1.BaseManagedEntityId = T46.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SynOptics3000TokenRing_Fault_Port] T47 ON T1.BaseManagedEntityId = T47.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SYMBOL_Fault_Interface] T48 ON T1.BaseManagedEntityId = T48.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$ForeATM_Fault_Port] T49 ON T1.BaseManagedEntityId = T49.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$LucentP550_Fault_Port] T50 ON T1.BaseManagedEntityId = T50.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SonusNrsMgmtIf_Fault_Interface] T51 ON T1.BaseManagedEntityId = T51.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$SynOptics5000_Fault_Port] T52 ON T1.BaseManagedEntityId = T52.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$Larscom_DS3_Fault_Interface] T53 ON T1.BaseManagedEntityId = T53.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$CiscoIKE_Fault_Interface] T54 ON T1.BaseManagedEntityId = T54.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$NetScreen_NSRP_Inactive_Fault_Interface] T55 ON T1.BaseManagedEntityId = T55.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT56 ON (RT56.RelationshipTypeId = 'BABD857B-51D8-3543-D176-A9A672F69D7D'  AND RT56.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_System$NetworkManagement$Node] T56 ON RT56.SourceEntityId = T56.BaseManagedEntityId
GO
