USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Selector]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selector](
	[SelectorId] [uniqueidentifier] NOT NULL,
	[SelectorName] [nvarchar](128) NOT NULL,
	[SelectorEntity] [nvarchar](128) NOT NULL,
	[SelectorNamespace] [nvarchar](128) NOT NULL,
	[SelectorPath] [nvarchar](1024) NULL,
	[SelectorClass] [nvarchar](128) NOT NULL,
	[SelectorAssembly] [nvarchar](128) NOT NULL,
	[SelectorTypeEnum] [nvarchar](32) NOT NULL,
	[SelectorCondition] [int] NOT NULL,
	[SelectorPriority] [int] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Selector] PRIMARY KEY CLUSTERED 
(
	[SelectorId] ASC,
	[SelectorCondition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Selector_SelectorEntity_SelectorNamespace] UNIQUE NONCLUSTERED 
(
	[SelectorEntity] ASC,
	[SelectorNamespace] ASC,
	[SelectorCondition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Selector] ADD  CONSTRAINT [DF_Selector_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Selector] ADD  CONSTRAINT [DF_Selector_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
