USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ResourceStoreAssignmentStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceStoreAssignmentStaging](
	[DeployItemId] [uniqueidentifier] NOT NULL,
	[ResourceStoreId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
