USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UIPageSet]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UIPageSet](
	[UIPageSetId] [uniqueidentifier] NOT NULL,
	[UIPageSetName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[UIPageSetTypeDefinitionId] [uniqueidentifier] NOT NULL,
	[UIPageSetOutputTransform] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_UIPageSet] PRIMARY KEY CLUSTERED 
(
	[UIPageSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[UIPageSet] ADD  CONSTRAINT [DF_UIPageSet_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[UIPageSet] ADD  CONSTRAINT [DF_UIPageSet_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[UIPageSet]  WITH CHECK ADD  CONSTRAINT [FK_UIPageSet_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIPageSet] CHECK CONSTRAINT [FK_UIPageSet_ManagementPack]
GO
