USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ImplicitViewTypeForProfile]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImplicitViewTypeForProfile](
	[ProfileId] [uniqueidentifier] NOT NULL,
	[ViewTypeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ImplicitViewTypeForProfile] UNIQUE NONCLUSTERED 
(
	[ProfileId] ASC,
	[ViewTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
