USE [OperationsManager]
GO
/****** Object:  Table [dbo].[WindowsWorkflowTaskJobStatus]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WindowsWorkflowTaskJobStatus](
	[RuleId] [uniqueidentifier] NOT NULL,
	[BatchId] [uniqueidentifier] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NULL,
	[DataItem] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[LastModified] [datetime] NOT NULL,
	[DataItemLastModified] [datetime] NULL,
	[Processed] [bit] NULL,
	[RowId] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[WindowsWorkflowTaskJobStatus] ADD  CONSTRAINT [DF_WindowsWorkflowTaskJobStatus_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[WindowsWorkflowTaskJobStatus]  WITH CHECK ADD  CONSTRAINT [FK_WindowsWorkflowTaskJobStatus_BaseManagedEntityId] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WindowsWorkflowTaskJobStatus] CHECK CONSTRAINT [FK_WindowsWorkflowTaskJobStatus_BaseManagedEntityId]
GO
