USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RelatedEntityChangeLog]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelatedEntityChangeLog](
	[RelatedEntityChangeLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[EntityChangeLogId] [bigint] NULL,
	[EntityId] [uniqueidentifier] NOT NULL,
	[EntityTypeId] [uniqueidentifier] NOT NULL,
	[RelatedEntityId] [uniqueidentifier] NULL,
	[EntityTransactionLogId] [bigint] NULL,
	[LastModified] [datetime] NOT NULL,
	[RECLRowForInstance] [bit] NOT NULL,
	[RECLRowForRelationship] [bit] NOT NULL,
	[RowMovedToECLForInstance] [bit] NOT NULL,
	[RowMovedToECLForRelationship] [bit] NOT NULL,
 CONSTRAINT [PK_RelatedEntityChangeLog] PRIMARY KEY CLUSTERED 
(
	[RelatedEntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelatedEntityChangeLog] ADD  CONSTRAINT [DF_RelatedEntityChangeLog_RECLRowForInstance]  DEFAULT ((0)) FOR [RECLRowForInstance]
GO
ALTER TABLE [dbo].[RelatedEntityChangeLog] ADD  CONSTRAINT [DF_RelatedEntityChangeLog_RECLRowForRelationship]  DEFAULT ((0)) FOR [RECLRowForRelationship]
GO
ALTER TABLE [dbo].[RelatedEntityChangeLog] ADD  CONSTRAINT [DF_RelatedEntityChangeLog_RowMovedToECLForInstance]  DEFAULT ((0)) FOR [RowMovedToECLForInstance]
GO
ALTER TABLE [dbo].[RelatedEntityChangeLog] ADD  CONSTRAINT [DF_RelatedEntityChangeLog_RowMovedToECLForRelationship]  DEFAULT ((0)) FOR [RowMovedToECLForRelationship]
GO
ALTER TABLE [dbo].[RelatedEntityChangeLog]  WITH CHECK ADD  CONSTRAINT [FK_RelatedEntityChangeLog_EntityChangeLogId] FOREIGN KEY([EntityChangeLogId])
REFERENCES [dbo].[EntityChangeLog] ([EntityChangeLogId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelatedEntityChangeLog] CHECK CONSTRAINT [FK_RelatedEntityChangeLog_EntityChangeLogId]
GO
ALTER TABLE [dbo].[RelatedEntityChangeLog]  WITH CHECK ADD  CONSTRAINT [FK_RelatedEntityChangeLog_EntityTransactionLogId] FOREIGN KEY([EntityTransactionLogId])
REFERENCES [dbo].[EntityTransactionLog] ([EntityTransactionLogId])
GO
ALTER TABLE [dbo].[RelatedEntityChangeLog] CHECK CONSTRAINT [FK_RelatedEntityChangeLog_EntityTransactionLogId]
GO
