USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$MonitoredUnixProcess]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$MonitoredUnixProcess] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AlertSeverity_A04878B3_2F71_E47A_6AE5_0877859F2CBA], T1.[ArgumentsFilterExpression_42C47B05_3469_7AF5_F9EE_D37ABA787452], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Instance_CDF9F7C3_4F95_3CA0_1443_B9C3E256BA12], T1.[MaxProcessCount_AAC62B8E_1FF7_CD55_C2DA_13650359382E], T1.[MinProcessCount_44F318F3_05E4_483F_E68F_878F7F499A17], T1.[MonitoringTargetId_33A91BA9_05FF_1AA3_70CD_BCA2AF01857D], T1.[MonitoringTargetName_450E175D_BE4D_DB74_C470_0EBEAF8C2CC7], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[ProcessName_3C99F67D_8603_6C3B_C54F_2C651D8B93B1], T2.[PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] AS [PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] FROM [dbo].[MT_Microsoft$SystemCenter$MonitoredUnixProcess] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '8D7557A7-F9CF-34EC-3EB2-6907E44A99E3'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$Unix$Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
