USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Server$6$2$OperatingSystem_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Server$6$2$OperatingSystem_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_InstallType_EE64CB8B_1914_5627_2380_654E72500527] [nvarchar](256) NULL,
	[Post_InstallType_EE64CB8B_1914_5627_2380_654E72500527] [nvarchar](256) NULL,
	[Pre_PowerPlan_82E33F45_FA95_AE81_9A18_DFEC03F016EE] [nvarchar](256) NULL,
	[Post_PowerPlan_82E33F45_FA95_AE81_9A18_DFEC03F016EE] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Server$6$2$OperatingSystem_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
