USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Relationship]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relationship](
	[RelationshipId] [uniqueidentifier] NOT NULL,
	[SourceEntityId] [uniqueidentifier] NOT NULL,
	[TargetEntityId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Relationship] PRIMARY KEY NONCLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Relationship] ADD  CONSTRAINT [DF_Relationship_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Relationship] ADD  CONSTRAINT [DF_Relationship_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Relationship] ADD  CONSTRAINT [DF_Relationship_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_BaseManagedEntity_Source] FOREIGN KEY([SourceEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Relationship] CHECK CONSTRAINT [FK_Relationship_BaseManagedEntity_Source]
GO
ALTER TABLE [dbo].[Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_BaseManagedEntity_Target] FOREIGN KEY([TargetEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
GO
ALTER TABLE [dbo].[Relationship] CHECK CONSTRAINT [FK_Relationship_BaseManagedEntity_Target]
GO
