USE [OperationsManager]
GO
/****** Object:  View [dbo].[DiscoveryView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DiscoveryView] AS
    SELECT [Discovery].[DiscoveryId] AS Id, 
           [Discovery].[DiscoveryName] AS [Name], 
           [Discovery].[ManagementPackId],
           [Discovery].[DiscoveryAccessibility] AS Accessibility, 
           [Discovery].[DiscoveryEnabled] AS Enabled, 
           [Discovery].[DiscoveryTarget] AS TargetMonitoringClassId, 
           [Discovery].[DiscoveryConfirmDelivery] AS ConfirmDelivery, 
           [Discovery].[DiscoveryRemotable] AS Remotable, 
           [Discovery].[DiscoveryCategory] AS Category,
           [Discovery].[DiscoveryPriority] AS Priority, 
           [Discovery].[TimeAdded],
           [Discovery].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[Discovery] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [Discovery].[DiscoveryId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [Discovery].[DiscoveryId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Discovery].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
