USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$ManagementGroup_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$ManagementGroup_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_ErrorReportingEnabled_369F9CA0_6046_DAB2_CAA2_E3D3D07BB7F3] [int] NULL,
	[Post_ErrorReportingEnabled_369F9CA0_6046_DAB2_CAA2_E3D3D07BB7F3] [int] NULL,
	[Pre_AvailabilitySchedule_0DB3A9F3_2891_A02B_E37B_9EFDAF3B35E6] [nvarchar](256) NULL,
	[Post_AvailabilitySchedule_0DB3A9F3_2891_A02B_E37B_9EFDAF3B35E6] [nvarchar](256) NULL,
	[Pre_OnlineProductKnowledgeUrl_2E977989_CAF2_CCF6_43D0_6C22188EC5F9] [nvarchar](256) NULL,
	[Post_OnlineProductKnowledgeUrl_2E977989_CAF2_CCF6_43D0_6C22188EC5F9] [nvarchar](256) NULL,
	[Pre_SDKServiceSCP_7344BCA0_DE25_6FB1_6198_C65B1CFFCA37] [nvarchar](256) NULL,
	[Post_SDKServiceSCP_7344BCA0_DE25_6FB1_6198_C65B1CFFCA37] [nvarchar](256) NULL,
	[Pre_SendOperationalDataReports_41CC160D_C6EC_6579_7183_2C6AD4DC9094] [bit] NULL,
	[Post_SendOperationalDataReports_41CC160D_C6EC_6579_7183_2C6AD4DC9094] [bit] NULL,
	[Pre_Id_2B189F92_85D5_9DE6_46D2_82339B06CFB0] [nvarchar](256) NULL,
	[Post_Id_2B189F92_85D5_9DE6_46D2_82339B06CFB0] [nvarchar](256) NULL,
	[Pre_SDKServerName_B7956422_FBF2_C1F4_96BD_41B96151008A] [nvarchar](256) NULL,
	[Post_SDKServerName_B7956422_FBF2_C1F4_96BD_41B96151008A] [nvarchar](256) NULL,
	[Pre_Priority_C75CD6B5_508A_DDE6_ECD0_EBC2434F5431] [uniqueidentifier] NULL,
	[Post_Priority_C75CD6B5_508A_DDE6_ECD0_EBC2434F5431] [uniqueidentifier] NULL,
	[Pre_RootHealthServiceSCP_4CC60658_B643_962C_3DDD_2118F756F41F] [nvarchar](256) NULL,
	[Post_RootHealthServiceSCP_4CC60658_B643_962C_3DDD_2118F756F41F] [nvarchar](256) NULL,
	[Pre_SQLServerName_43FB076F_7970_4C86_6DCA_8BD541F45E3A] [nvarchar](256) NULL,
	[Post_SQLServerName_43FB076F_7970_4C86_6DCA_8BD541F45E3A] [nvarchar](256) NULL,
	[Pre_CommunicationPort_2EFD4CF9_4912_0231_817D_F0246DC3DC95] [int] NULL,
	[Post_CommunicationPort_2EFD4CF9_4912_0231_817D_F0246DC3DC95] [int] NULL,
	[Pre_IsBusinessService_B6DE4F73_1D1D_2097_F7E6_1E1C80AE1492] [bit] NULL,
	[Post_IsBusinessService_B6DE4F73_1D1D_2097_F7E6_1E1C80AE1492] [bit] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_ErrorReportingQueuingEnabled_B3075860_37A0_3099_2832_4949B1C7FB37] [int] NULL,
	[Post_ErrorReportingQueuingEnabled_B3075860_37A0_3099_2832_4949B1C7FB37] [int] NULL,
	[Pre_ServiceDescription_581483BC_0B32_2063_5D51_AD4F6B814175] [nvarchar](256) NULL,
	[Post_ServiceDescription_581483BC_0B32_2063_5D51_AD4F6B814175] [nvarchar](256) NULL,
	[Pre_Name_4C9109CF_941F_F40F_EF7A_1041F5A09F77] [nvarchar](256) NULL,
	[Post_Name_4C9109CF_941F_F40F_EF7A_1041F5A09F77] [nvarchar](256) NULL,
	[Pre_OwnedByOrganization_489FFC8D_DE2D_3424_EF85_456834AF940E] [nvarchar](256) NULL,
	[Post_OwnedByOrganization_489FFC8D_DE2D_3424_EF85_456834AF940E] [nvarchar](256) NULL,
	[Pre_CEIPEnabled_BFCBAACE_81D9_A207_A781_7D737AC01FE2] [bit] NULL,
	[Post_CEIPEnabled_BFCBAACE_81D9_A207_A781_7D737AC01FE2] [bit] NULL,
	[Pre_BusinessDetailedDescription_BBB19438_4A6A_24C5_B38C_682B19230A96] [nvarchar](256) NULL,
	[Post_BusinessDetailedDescription_BBB19438_4A6A_24C5_B38C_682B19230A96] [nvarchar](256) NULL,
	[Pre_OperationalDatabaseName_FD672E61_8C4D_F7D8_E1ED_CD5C12F1602F] [nvarchar](256) NULL,
	[Post_OperationalDatabaseName_FD672E61_8C4D_F7D8_E1ED_CD5C12F1602F] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_RunAsAccountRadio_F35F9C90_C86C_90EC_962B_7F9B17181DEE] [bit] NULL,
	[Post_RunAsAccountRadio_F35F9C90_C86C_90EC_962B_7F9B17181DEE] [bit] NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_TierTimeDifferenceThreshold_973899B7_E9E1_A5C2_CCD0_7D87F3FF8736] [int] NULL,
	[Post_TierTimeDifferenceThreshold_973899B7_E9E1_A5C2_CCD0_7D87F3FF8736] [int] NULL,
	[Pre_AlertAutoResolvePeriod_B8513A61_92F3_8E6C_E179_AB0FECE2FDF9] [int] NULL,
	[Post_AlertAutoResolvePeriod_B8513A61_92F3_8E6C_E179_AB0FECE2FDF9] [int] NULL,
	[Pre_HealthyAlertAutoResolvePeriod_06F88E3F_2E92_FD90_A9F6_8CD18E16219A] [int] NULL,
	[Post_HealthyAlertAutoResolvePeriod_06F88E3F_2E92_FD90_A9F6_8CD18E16219A] [int] NULL,
	[Pre_AlertMonitorReset_1272A279_41AE_DF92_651F_120BD3F69685] [bit] NULL,
	[Post_AlertMonitorReset_1272A279_41AE_DF92_651F_120BD3F69685] [bit] NULL,
	[Pre_Status_0689C997_03F2_83DE_C0E7_FB8E18574552] [uniqueidentifier] NULL,
	[Post_Status_0689C997_03F2_83DE_C0E7_FB8E18574552] [uniqueidentifier] NULL,
	[Pre_Classification_EE738100_A25A_F850_7195_ADBD21E8D019] [uniqueidentifier] NULL,
	[Post_Classification_EE738100_A25A_F850_7195_ADBD21E8D019] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$ManagementGroup_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ManagementGroup_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$ManagementGroup_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
