USE [OperationsManager]
GO
/****** Object:  Table [dbo].[TypeProjectionStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProjectionStaging](
	[TypeProjectionId] [uniqueidentifier] NOT NULL,
	[TypeProjectionName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TypeProjectionSeed] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[ComponentXML] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
 CONSTRAINT [PK_TypeProjectionStaging] PRIMARY KEY NONCLUSTERED 
(
	[TypeProjectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypeProjectionStaging]  WITH CHECK ADD  CONSTRAINT [CK_TypeProjectionStaging_Namelen] CHECK  ((len([TypeProjectionName])>(0)))
GO
ALTER TABLE [dbo].[TypeProjectionStaging] CHECK CONSTRAINT [CK_TypeProjectionStaging_Namelen]
GO
