USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_BizRule]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_BizRule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[ParentType] [tinyint] NOT NULL,
	[BizRuleImportedPath] [nvarchar](512) NULL,
	[BizRule] [ntext] NULL,
	[BizRuleLanguage] [nvarchar](64) NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
 CONSTRAINT [PK_AzMan_BizRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
