USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$Announcement$Item_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$Announcement$Item_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ExpirationDate_DDB905FF_A923_F97D_D00B_6430C2CD5E95] [datetime] NULL,
	[Post_ExpirationDate_DDB905FF_A923_F97D_D00B_6430C2CD5E95] [datetime] NULL,
	[Pre_Priority_6986BA50_58CF_ABCA_FB58_8FCAB694E6C9] [uniqueidentifier] NULL,
	[Post_Priority_6986BA50_58CF_ABCA_FB58_8FCAB694E6C9] [uniqueidentifier] NULL,
	[Pre_Body_3D226BC1_0528_14EA_F3FB_3823A132B4F8] [nvarchar](4000) NULL,
	[Post_Body_3D226BC1_0528_14EA_F3FB_3823A132B4F8] [nvarchar](4000) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Title_A24FDDD9_5BC0_B3D0_E014_1F98C0B9143E] [nvarchar](256) NULL,
	[Post_Title_A24FDDD9_5BC0_B3D0_E014_1F98C0B9143E] [nvarchar](256) NULL,
	[Pre_Id_8742B18B_0B63_CB19_6AFE_1EC418D9E27D] [nvarchar](256) NULL,
	[Post_Id_8742B18B_0B63_CB19_6AFE_1EC418D9E27D] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$Announcement$Item_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$Announcement$Item_Log] ADD  DEFAULT ('{0}') FOR [Pre_Id_8742B18B_0B63_CB19_6AFE_1EC418D9E27D]
GO
ALTER TABLE [dbo].[MT_System$Announcement$Item_Log] ADD  DEFAULT ('{0}') FOR [Post_Id_8742B18B_0B63_CB19_6AFE_1EC418D9E27D]
GO
