USE [OperationsManager]
GO
/****** Object:  Table [dbo].[EntityPublicKey]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityPublicKey](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[PublicKey] [varbinary](max) NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [CK_EntityPublicKey] UNIQUE NONCLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EntityPublicKey] ADD  CONSTRAINT [DF_EntityPublicKey_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[EntityPublicKey]  WITH CHECK ADD  CONSTRAINT [FK_EntityPublicKey_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EntityPublicKey] CHECK CONSTRAINT [FK_EntityPublicKey_BaseManagedEntity]
GO
