USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$Cluster$VirtualServer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$Cluster$VirtualServer](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ProxyingEnabled_9C238728_9341_7F77_8AF9_C9218C44069A] [bit] NULL,
	[Network_2ED127B6_6D37_1B0D_1BFE_372E8684E73A] [nvarchar](256) NULL,
	[SubnetMask_D9D0A1A5_BCBF_33B5_37CE_A0825F51FF88] [nvarchar](256) NULL,
	[GroupName_88434F40_1728_D52D_B5CC_3CDF3776BC3F] [nvarchar](256) NULL,
	[EnableNetBIOS_6A92EC29_89D6_4519_1444_A3BC303EFB8C] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$Cluster$VirtualServer] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
