USE [OperationsManager]
GO
/****** Object:  View [dbo].[MonitorView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MonitorView] AS
    SELECT [Monitor].[MonitorId] AS Id,
           [Monitor].[MonitorTypeId] AS MonitorTypeId,
           [Monitor].[ParentMonitorId] AS ParentMonitorId,
           [Monitor].[IsUnitMonitor],
           [Monitor].[IsAggregateMonitor] AS IsInternalRollupMonitor,
           [Monitor].[IsDependencyMonitor] AS IsExternalRollupMonitor,
           [Monitor].[ManagementPackId] AS ManagementPackId, 
           [Monitor].[MonitorName] AS Name, 
           [Monitor].[MonitorAccessibility] AS Accessibility, 
           [Monitor].[TargetManagedEntityType] AS TargetMonitoringClassId, 
           [Monitor].[MonitorEnabled] AS Enabled, 
           [Monitor].[MonitorAlgorithm] AS Algorithm, 
           [Monitor].[AlgorithmParameter] AS AlgorithmParameter,
           [Monitor].[RelationshipTypeId] AS MonitoringRelationshipClassId, 
           [Monitor].[MemberMonitorId], 
           [Monitor].[ConfigurationXML] AS ConfigurationXml, 
           [Monitor].[MonitorCategory] AS Category, 
           [Monitor].[MonitorPriority] AS Priority,
           [Monitor].[MonitorRemotable] AS Remotable,
		   [Monitor].[AlertOnState],
		   [Monitor].[AlertAutoResolve],
		   [Monitor].[AlertPriority],
		   [Monitor].[AlertSeverity],
		   [Monitor].[MemberInMaintenance],
		   [Monitor].[MemberUnavailable],
		   [Monitor].[TimeAdded],
		   [Monitor].[AlertMessage] AS AlertMessage,
		   [Monitor].[AlertParameter1] AS AlertParameter1,		   
		   [Monitor].[AlertParameter2] AS AlertParameter2,		   
		   [Monitor].[AlertParameter3] AS AlertParameter3,		   
		   [Monitor].[AlertParameter4] AS AlertParameter4,		   
		   [Monitor].[AlertParameter5] AS AlertParameter5,		   
		   [Monitor].[AlertParameter6] AS AlertParameter6,		   
		   [Monitor].[AlertParameter7] AS AlertParameter7,		   
		   [Monitor].[AlertParameter8] AS AlertParameter8,		   
		   [Monitor].[AlertParameter9] AS AlertParameter9,		   
		   [Monitor].[AlertParameter10] AS AlertParameter10,		   
		   [Monitor].[LastModified],
		   [Monitor].[RunAs] AS RunAsId,
           [MonitorInner].[MonitorName] AS MemberMonitorName, 
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
FROM dbo.Monitor LEFT OUTER JOIN dbo.Monitor MonitorInner ON Monitor.MemberMonitorId = MonitorInner.MonitorId
	LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = Monitor.MonitorId AND LT1.LTStringType = 1)
    	LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = Monitor.MonitorId AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Monitor].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1    
GO
