USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$SonusInterface_Dsx1_Fault_Interface]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$SonusInterface_Dsx1_Fault_Interface](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[SonusInterfaceDsx1FaultIndex_024480F2_D3E7_09AA_FB46_415372D9E196] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$SonusInterface_Dsx1_Fault_Interface] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
