USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagementPackStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPackStaging](
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[MPIsSealed] [bit] NOT NULL,
	[MPName] [nvarchar](256) NOT NULL,
	[MPFriendlyName] [nvarchar](256) NOT NULL,
	[MPVersionDependentId] [uniqueidentifier] NOT NULL,
	[MPVersion] [nvarchar](20) NULL,
	[MPKeyToken] [varchar](32) NULL,
	[MPReadOnly] [bit] NOT NULL,
	[MPLastModified] [datetime] NOT NULL,
	[MPCreated] [datetime] NOT NULL,
	[MPXML] [nvarchar](max) NULL,
	[MPSchemaTypes] [nvarchar](max) NULL,
	[MPRunTimeXML] [nvarchar](max) NULL,
	[IsSnapshot] [bit] NOT NULL,
	[ContentReadable] [bit] NOT NULL,
	[Username] [nvarchar](256) NULL,
 CONSTRAINT [PK_ManagementPackStaging] PRIMARY KEY CLUSTERED 
(
	[ManagementPackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementPackStaging] ADD  DEFAULT ((0)) FOR [ContentReadable]
GO
