USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[ModuleId] [uniqueidentifier] NOT NULL,
	[ModuleName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ModuleRole] [tinyint] NOT NULL,
	[ModuleTypeId] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NOT NULL,
	[TargetTypeId] [uniqueidentifier] NULL,
	[ModuleConfiguration] [nvarchar](max) NOT NULL,
	[ModuleOrder] [int] NOT NULL,
	[RunAs] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Module] ADD  CONSTRAINT [DF_Module_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Module] ADD  CONSTRAINT [DF_Module_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Module]  WITH NOCHECK ADD  CONSTRAINT [FK_Module_ManagedType] FOREIGN KEY([TargetTypeId])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_ManagedType]
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_ManagementPack]
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_ModuleType] FOREIGN KEY([ModuleTypeId])
REFERENCES [dbo].[ModuleType] ([ModuleTypeId])
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_ModuleType]
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_RunAs] FOREIGN KEY([RunAs])
REFERENCES [dbo].[SecureReference] ([SecureReferenceId])
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_RunAs]
GO
