USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ObjectTemplate]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectTemplate](
	[ObjectTemplateId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ObjectTemplateName] [nvarchar](256) NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[ObjectTemplateTypeId] [uniqueidentifier] NOT NULL,
	[ObjectTemplateTypeConstraint] [uniqueidentifier] NULL,
	[ObjectTemplateSubelementXML] [nvarchar](max) NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ObjectTemplate] PRIMARY KEY CLUSTERED 
(
	[ObjectTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ObjectTemplate] ADD  CONSTRAINT [DF_ObjectTemplate_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ObjectTemplate] ADD  CONSTRAINT [DF_ObjectTemplate_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ObjectTemplate]  WITH CHECK ADD  CONSTRAINT [FK_ObjectTemplate_ManagementPackId] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ObjectTemplate] CHECK CONSTRAINT [FK_ObjectTemplate_ManagementPackId]
GO
