USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972] [float] NULL,
	[Post_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972] [float] NULL,
	[Pre_Resources_7A483AAC_5147_93A9_F149_CF2038E71F8F] [nvarchar](max) NULL,
	[Post_Resources_7A483AAC_5147_93A9_F149_CF2038E71F8F] [nvarchar](max) NULL,
	[Pre_AppFailureAlerts_2BC2E09A_7A96_14D4_D046_E498A02F7474] [bit] NULL,
	[Post_AppFailureAlerts_2BC2E09A_7A96_14D4_D046_E498A02F7474] [bit] NULL,
	[Pre_PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954] [int] NULL,
	[Post_PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954] [int] NULL,
	[Pre_PerformanceRateMonitorEnabled_115D3358_7A65_A92B_757F_B6B96B91B9F2] [bit] NULL,
	[Post_PerformanceRateMonitorEnabled_115D3358_7A65_A92B_757F_B6B96B91B9F2] [bit] NULL,
	[Pre_MonitoringComputerGroup_B969C3F2_B76A_37DC_8387_3F9405A1DDEA] [uniqueidentifier] NULL,
	[Post_MonitoringComputerGroup_B969C3F2_B76A_37DC_8387_3F9405A1DDEA] [uniqueidentifier] NULL,
	[Pre_ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9] [int] NULL,
	[Post_ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9] [int] NULL,
	[Pre_ExceptionTrackings_1BC403B6_3D26_AE64_8B1E_55265FFAD103] [nvarchar](max) NULL,
	[Post_ExceptionTrackings_1BC403B6_3D26_AE64_8B1E_55265FFAD103] [nvarchar](max) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_SensitivityThreshold_B0CC9E1F_01E5_4018_B12F_FA965376599F] [int] NULL,
	[Post_SensitivityThreshold_B0CC9E1F_01E5_4018_B12F_FA965376599F] [int] NULL,
	[Pre_Namespaces_EC8DEA64_101D_521B_B479_F66EC0C744FC] [nvarchar](max) NULL,
	[Post_Namespaces_EC8DEA64_101D_521B_B479_F66EC0C744FC] [nvarchar](max) NULL,
	[Pre_CollectAllExceptions_DF60F3EB_1E50_0878_E8E3_B9D8CCCD14A4] [bit] NULL,
	[Post_CollectAllExceptions_DF60F3EB_1E50_0878_E8E3_B9D8CCCD14A4] [bit] NULL,
	[Pre_AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA] [int] NULL,
	[Post_AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA] [int] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86] [int] NULL,
	[Post_AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86] [int] NULL,
	[Pre_AvgRequestTimeMonitorEnabled_C99A8BD9_7111_36AB_2160_E1788BCC2B68] [bit] NULL,
	[Post_AvgRequestTimeMonitorEnabled_C99A8BD9_7111_36AB_2160_E1788BCC2B68] [bit] NULL,
	[Pre_ApplicationName_6D56072B_DFE1_44F4_83AA_146329F5A52F] [nvarchar](256) NULL,
	[Post_ApplicationName_6D56072B_DFE1_44F4_83AA_146329F5A52F] [nvarchar](256) NULL,
	[Pre_SecurityAlerts_2561C4B2_C0D6_FE95_B64E_1D44B2FB9B5B] [bit] NULL,
	[Post_SecurityAlerts_2561C4B2_C0D6_FE95_B64E_1D44B2FB9B5B] [bit] NULL,
	[Pre_PerformanceThreshold_F009C9B2_05F1_9235_26AB_72ACF1E6B26C] [int] NULL,
	[Post_PerformanceThreshold_F009C9B2_05F1_9235_26AB_72ACF1E6B26C] [int] NULL,
	[Pre_PerformanceAlerts_D8C602FA_FFD9_5887_5BF4_9F5B6645CCE5] [bit] NULL,
	[Post_PerformanceAlerts_D8C602FA_FFD9_5887_5BF4_9F5B6645CCE5] [bit] NULL,
	[Pre_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693] [float] NULL,
	[Post_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693] [float] NULL,
	[Pre_ExceptionHandlers_882C45F8_9417_9EE6_2A4F_2C51958DD9BA] [nvarchar](max) NULL,
	[Post_ExceptionHandlers_882C45F8_9417_9EE6_2A4F_2C51958DD9BA] [nvarchar](max) NULL,
	[Pre_ExceptionRateMonitorEnabled_7261DA36_3004_68E4_20CA_4EFE375DFF72] [bit] NULL,
	[Post_ExceptionRateMonitorEnabled_7261DA36_3004_68E4_20CA_4EFE375DFF72] [bit] NULL,
	[Pre_ConnectivityAlerts_B0EF20EE_EBC5_EAE3_0817_670C2B6B2EB5] [bit] NULL,
	[Post_ConnectivityAlerts_B0EF20EE_EBC5_EAE3_0817_670C2B6B2EB5] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]>=(0) AND [Post_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Post_SensitivityThreshold_B0CC9E1F_01E5_4018_B12F_FA965376599F]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceThreshold_F009C9B2_05F1_9235_26AB_72ACF1E6B26C]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]>=(0) AND [Post_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]>=(0) AND [Pre_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]>=(0) AND [Pre_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceThreshold_F009C9B2_05F1_9235_26AB_72ACF1E6B26C]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceComponent_Log]  WITH CHECK ADD CHECK  (([Pre_SensitivityThreshold_B0CC9E1F_01E5_4018_B12F_FA965376599F]>=(0)))
GO
