USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$ComputerNetworkAdapter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$ComputerNetworkAdapter](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[DHCPEnabled_12C2EB1F_8EF9_CA7D_0D01_6FDEF12F2E1A] [nvarchar](256) NULL,
	[DHCPServer_E7407964_0AA0_4575_2262_48EC4153B0E6] [nvarchar](256) NULL,
	[IPAddress_F0AF5873_82A9_8209_5010_F5EE90CDF9FD] [nvarchar](256) NULL,
	[ServiceName_F6241C3E_96A7_C8E3_6E14_4915550E7014] [nvarchar](256) NULL,
	[MACAddress_BBDEC53A_409C_7DBF_05E9_8CA3A6CE2986] [nvarchar](64) NULL,
	[AdapterType_E398B4F3_BAFE_737C_C6E2_C155D00BB1E2] [nvarchar](256) NULL,
	[DeviceID_B40F93C8_29A5_BD3B_6BF3_849F5F1C7C83] [nvarchar](256) NOT NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[PerfmonInstance_F888AD15_F79E_ED46_9902_EBFC515E0B29] [nvarchar](256) NULL,
	[IPSubnet_F6CC45B3_D93E_CCC9_EED1_2FD31580D330] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Index_D1961C43_B5EA_5771_1487_472E7F3E674B] [nvarchar](256) NULL,
	[Manufacturer_80469B4C_7F1D_77C7_BF62_822E8941A99F] [nvarchar](256) NULL,
	[DNSDomain_D2B3B342_32DE_72F1_3E79_B4F94CF35B62] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$ComputerNetworkAdapter] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Windows$ComputerNetworkAdapter] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
