USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DimensionStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimensionStaging](
	[DimensionId] [uniqueidentifier] NOT NULL,
	[DimensionName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Extends] [uniqueidentifier] NULL,
	[Reconcile] [bit] NULL,
	[HierarchySupport] [tinyint] NOT NULL,
	[InferredDimension] [bit] NOT NULL,
	[TargetId] [uniqueidentifier] NOT NULL,
	[Template] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimensionStaging] ADD  DEFAULT ((0)) FOR [Reconcile]
GO
