USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeploySequence]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeploySequence](
	[DeploySequenceId] [uniqueidentifier] NOT NULL,
	[DeploySequenceName] [nvarchar](128) NOT NULL,
	[PackTransactionId] [uniqueidentifier] NOT NULL,
	[Outcome] [nvarchar](255) NOT NULL,
	[StatusId] [int] NOT NULL,
	[ForDelete] [bit] NOT NULL,
	[Sequence] [xml] NOT NULL,
	[Execution] [datetime] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DeploySequence] PRIMARY KEY CLUSTERED 
(
	[DeploySequenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeploySequence] ADD  CONSTRAINT [DF_DeploySequence_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DeploySequence] ADD  CONSTRAINT [DF_DeploySequence_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
