USE [OperationsManager]
GO
/****** Object:  Table [dbo].[SecureStorageSecureReferenceRemoval]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecureStorageSecureReferenceRemoval](
	[SecureStorageReferenceId] [uniqueidentifier] NOT NULL,
	[SecureStorageElementId] [uniqueidentifier] NULL,
	[SecureReferenceId] [uniqueidentifier] NOT NULL,
	[HealthServiceId] [uniqueidentifier] NULL,
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK_SecureStorageSecureReferenceRemoval] PRIMARY KEY CLUSTERED 
(
	[SecureStorageReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SecureStorageSecureReferenceRemoval] ADD  CONSTRAINT [DF_SecureStorageSecureReferenceRemoval_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
