USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_Role_To_Task_Link]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_Role_To_Task_Link](
	[TaskID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_AzMan_Role_To_Task_Link] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_Role_To_Task_Link]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_Role_To_Task_Link_AzMan_AzRoleAssignment] FOREIGN KEY([RoleID])
REFERENCES [dbo].[AzMan_AzRoleAssignment] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_Role_To_Task_Link] CHECK CONSTRAINT [FK_AzMan_Role_To_Task_Link_AzMan_AzRoleAssignment]
GO
ALTER TABLE [dbo].[AzMan_Role_To_Task_Link]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_Role_To_Task_Link_AzMan_AzTask] FOREIGN KEY([TaskID])
REFERENCES [dbo].[AzMan_AzTask] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_Role_To_Task_Link] CHECK CONSTRAINT [FK_AzMan_Role_To_Task_Link_AzMan_AzTask]
GO
