USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DataWarehouseDatasetSchemaReference]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataWarehouseDatasetSchemaReference](
	[DataWarehouseDatasetId] [uniqueidentifier] NOT NULL,
	[SchemaTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DataWarehouseDatasetSchemaReference] PRIMARY KEY CLUSTERED 
(
	[DataWarehouseDatasetId] ASC,
	[SchemaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataWarehouseDatasetSchemaReference] ADD  CONSTRAINT [DF_DataWarehouseDatasetSchemaReference_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DataWarehouseDatasetSchemaReference] ADD  CONSTRAINT [DF_DataWarehouseDatasetSchemaReference_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[DataWarehouseDatasetSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_DataWarehouseDatasetSchemaReference_DataWarehouseDataset] FOREIGN KEY([DataWarehouseDatasetId])
REFERENCES [dbo].[DataWarehouseDataset] ([DataWarehouseDatasetId])
GO
ALTER TABLE [dbo].[DataWarehouseDatasetSchemaReference] CHECK CONSTRAINT [FK_DataWarehouseDatasetSchemaReference_DataWarehouseDataset]
GO
ALTER TABLE [dbo].[DataWarehouseDatasetSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_DataWarehouseDatasetSchemaReference_SchemaType] FOREIGN KEY([SchemaTypeId])
REFERENCES [dbo].[SchemaType] ([SchemaTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DataWarehouseDatasetSchemaReference] CHECK CONSTRAINT [FK_DataWarehouseDatasetSchemaReference_SchemaType]
GO
