USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitorStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorStaging](
	[MonitorId] [uniqueidentifier] NOT NULL,
	[MonitorTypeId] [uniqueidentifier] NULL,
	[ParentMonitorId] [uniqueidentifier] NULL,
	[IsUnitMonitor] [bit] NOT NULL,
	[IsAggregateMonitor] [bit] NOT NULL,
	[IsDependencyMonitor] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[MonitorName] [nvarchar](256) NOT NULL,
	[MonitorAccessibility] [tinyint] NOT NULL,
	[TargetManagedEntityType] [uniqueidentifier] NOT NULL,
	[MonitorEnabled] [tinyint] NULL,
	[MonitorAlgorithm] [nvarchar](256) NULL,
	[AlgorithmParameter] [nvarchar](255) NULL,
	[RelationshipTypeId] [uniqueidentifier] NULL,
	[MemberMonitorId] [uniqueidentifier] NULL,
	[ConfigurationXML] [nvarchar](max) NULL,
	[MonitorCategory] [nvarchar](256) NULL,
	[MonitorPriority] [tinyint] NULL,
	[MonitorRemotable] [bit] NULL,
	[AlertOnState] [tinyint] NULL,
	[AlertAutoResolve] [bit] NULL,
	[AlertPriority] [tinyint] NULL,
	[AlertSeverity] [tinyint] NULL,
	[RunAs] [uniqueidentifier] NULL,
	[MemberInMaintenance] [tinyint] NULL,
	[MemberUnavailable] [tinyint] NULL,
	[Comment] [nvarchar](255) NULL,
	[AlertMessage] [uniqueidentifier] NULL,
	[AlertParameter1] [nvarchar](255) NULL,
	[AlertParameter2] [nvarchar](255) NULL,
	[AlertParameter3] [nvarchar](255) NULL,
	[AlertParameter4] [nvarchar](255) NULL,
	[AlertParameter5] [nvarchar](255) NULL,
	[AlertParameter6] [nvarchar](255) NULL,
	[AlertParameter7] [nvarchar](255) NULL,
	[AlertParameter8] [nvarchar](255) NULL,
	[AlertParameter9] [nvarchar](255) NULL,
	[AlertParameter10] [nvarchar](255) NULL,
	[ConfirmDelivery] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
