USE [OperationsManager]
GO
/****** Object:  Table [dbo].[RelationshipTypeProperty]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipTypeProperty](
	[RelationshipPropertyId] [uniqueidentifier] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NOT NULL,
	[RelationshipPropertyName] [nvarchar](256) NOT NULL,
	[IsCaseSensitive] [bit] NULL,
	[PropertyType] [tinyint] NOT NULL,
	[PropertyLength] [int] NULL,
	[PropertyScale] [tinyint] NULL,
	[ColumnName] [nvarchar](128) NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[Required] [bit] NULL,
	[Optimized] [bit] NULL,
	[MinValue] [int] NULL,
	[MaxValue] [int] NULL,
	[RegEx] [nvarchar](255) NULL,
	[EnumTypeId] [uniqueidentifier] NULL,
	[DefaultValue] [nvarchar](2000) NULL,
 CONSTRAINT [PK_RelationshipTypeProperty] PRIMARY KEY NONCLUSTERED 
(
	[RelationshipPropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_RelationshipTypeProperty_UniqueName] UNIQUE NONCLUSTERED 
(
	[RelationshipTypeId] ASC,
	[RelationshipPropertyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipTypeProperty] ADD  CONSTRAINT [DF_RelationshipTypeProperty_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[RelationshipTypeProperty] ADD  CONSTRAINT [DF_RelationshipTypeProperty_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[RelationshipTypeProperty] ADD  CONSTRAINT [DF_RelationshipTypeProperty_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[RelationshipTypeProperty]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTypeProperty_RelationshipTypeId] FOREIGN KEY([RelationshipTypeId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeId])
GO
ALTER TABLE [dbo].[RelationshipTypeProperty] CHECK CONSTRAINT [FK_RelationshipTypeProperty_RelationshipTypeId]
GO
ALTER TABLE [dbo].[RelationshipTypeProperty]  WITH CHECK ADD  CONSTRAINT [CK_RelationshipTypeProperty_Namelen] CHECK  ((len([RelationshipPropertyName])>(0)))
GO
ALTER TABLE [dbo].[RelationshipTypeProperty] CHECK CONSTRAINT [CK_RelationshipTypeProperty_Namelen]
GO
ALTER TABLE [dbo].[RelationshipTypeProperty]  WITH CHECK ADD  CONSTRAINT [CK_RelationshipTypeProperty_PropertyScale] CHECK  (([PropertyScale]<=(38)))
GO
ALTER TABLE [dbo].[RelationshipTypeProperty] CHECK CONSTRAINT [CK_RelationshipTypeProperty_PropertyScale]
GO
ALTER TABLE [dbo].[RelationshipTypeProperty]  WITH CHECK ADD  CONSTRAINT [CK_RelationshipTypeProperty_PropertyType] CHECK  (([PropertyType]>=(0) AND [PropertyType]<=(7)))
GO
ALTER TABLE [dbo].[RelationshipTypeProperty] CHECK CONSTRAINT [CK_RelationshipTypeProperty_PropertyType]
GO
