USE [OperationsManager]
GO
/****** Object:  View [dbo].[DiagnosticJobStatusView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DiagnosticJobStatusView] WITH SCHEMABINDING AS
    SELECT MJS.[JobId] AS Id,
           MJS.[DiagnosticId] AS DiagnosticId,
		   MJS.[StateChangeEventId],
           S.[BaseManagedEntityId]  AS TargetObjectId,
		   MJS.[SubmittedBy],
	       MJS.[Status],
		   MJS.[Output],
		   MJS.[ErrorCode],
		   MJS.[ErrorMessage],
		   MJS.[TimeScheduled],
		   MJS.[TimeStarted],
		   MJS.[TimeFinished],
		   MJS.[LastModified],
		   MJS.[LastModifiedTimestamp]
    FROM dbo.[MonitoringJobStatus] MJS
    JOIN dbo.[StateChangeEvent] SCE
        ON MJS.[StateChangeEventId] = SCE.[StateChangeEventId]
    JOIN dbo.[State] S
        ON SCE.[StateId] = S.[StateId]
    INNER JOIN dbo.Diagnostic ON dbo.Diagnostic.DiagnosticId = MJS.DiagnosticId
    INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = Diagnostic.ManagementPackId AND dbo.ManagementPack.ContentReadable = 1     
    WHERE MJS.[DiagnosticId] IS NOT NULL
GO
