USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Unix$HeartbeatProvider]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Unix$HeartbeatProvider] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T2.[PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] AS [PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] FROM [dbo].[MT_Microsoft$Unix$HeartbeatProvider] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '95D60552-78FF-ECC5-DBEC-C777429CAB48'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$Unix$Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
