USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$IPv6]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$IPv6] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Address_F7BF4190_95E0_AB1A_3983_68949A89C486], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_6268DD26_79FE_55AC_37C4_747A109FA087], T1.[Key_E5006F89_0A34_4C15_9347_822001C413F3], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PrefixLength_E5045876_9C6B_FDC1_698B_CC607622AE7B], T2.[Index_504A190E_0617_1277_B1EC_59BBA84E6855], T3.[DuplicatedBySystems_D55BDA86_BE3B_408E_567A_D30A0E33CC32] FROM [dbo].[MT_System$NetworkManagement$IPv6] T1 LEFT JOIN [dbo].[MT_System$NetworkManagement$ICMPv6_IPv6] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId LEFT JOIN [dbo].[MT_System$NetworkManagement$DuplicateIPv6] T3 ON T1.BaseManagedEntityId = T3.BaseManagedEntityId
GO
