USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[PortalLink_6979E0A2_BB24_4FFE_C88C_69FBDDCA9C9C] [nvarchar](256) NULL,
	[OmsBladeLink_66D20D3C_F33E_C8D6_FFDF_00BEB62B848D] [nvarchar](512) NULL,
	[CustomerIdentifier_A2D49551_704B_133C_FC3F_197C3E4758F4] [uniqueidentifier] NULL,
	[ConfigServiceEndpoint_3EEF0E3D_26E9_7EA4_B087_978703FD85D6] [nvarchar](256) NULL,
	[GatewayIdentifier_89CB7D62_3C09_B8E4_259D_628E4DBC4157] [uniqueidentifier] NULL,
	[WebSiteBaseUrl_32C9E463_2A17_0871_86D6_CBAE173729AB] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[DataCollectorServiceEndpoint_81B24804_75BB_8BB6_2296_4C735444356B] [nvarchar](256) NULL,
	[IdentityProviderServiceEndpoint_CF02BFF1_66F7_9AF1_9019_A768A56E2BE4] [nvarchar](256) NULL,
	[DataProviderServiceEndpoint_32961C92_E75F_1B7C_22E0_6650768A96EE] [nvarchar](256) NULL,
	[IdentityServiceEndpoint_58B6EAD2_1192_2605_C65E_053949DFD30E] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[WebProxyAddress_1756CB83_B3EE_BBFC_4A80_5AA33B2779A5] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Advisor$Settings] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings] ADD  DEFAULT ('https://service.systemcenteradvisor.com/Config/SettingService.svc') FOR [ConfigServiceEndpoint_3EEF0E3D_26E9_7EA4_B087_978703FD85D6]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Advisor$Settings] ADD  DEFAULT ('https://management.azure.com/') FOR [WebSiteBaseUrl_32C9E463_2A17_0871_86D6_CBAE173729AB]
GO
