USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DiagnosticStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosticStaging](
	[DiagnosticId] [uniqueidentifier] NOT NULL,
	[DiagnosticName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[DiagnosticAccessibility] [tinyint] NOT NULL,
	[DiagnosticEnabled] [tinyint] NOT NULL,
	[DiagnosticTarget] [uniqueidentifier] NOT NULL,
	[DiagnosticMonitor] [uniqueidentifier] NOT NULL,
	[ExecuteOnState] [tinyint] NULL,
	[DiagnosticRemotable] [bit] NOT NULL,
	[DiagnosticCategory] [tinyint] NOT NULL,
	[TimeOut] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
