USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$AgentManager]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$AgentManager](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[TaskStartTime_CBE9B0DE_79B7_9BA8_1BB8_06DB26A45705] [datetime] NULL,
	[TaskEndTime_F2DD5853_7606_2348_9487_02C2F0AD658C] [datetime] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$AgentManager] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
