USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Windows$SoftwareUpdate]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Windows$SoftwareUpdate](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ParentVersion_C852C217_2551_634E_6906_C409A16CB344] [nvarchar](256) NULL,
	[SupportString_DA4C6A60_3E1C_6429_8297_7D29D924E71D] [nvarchar](256) NULL,
	[Classification_2D7047D3_DCFD_E8A5_3688_74034880308D] [nvarchar](256) NULL,
	[ArticleID_4206EE31_63C7_E760_9076_517309D422A5] [nvarchar](256) NULL,
	[BulletinID_81E9F65E_A8AD_DECA_A3F8_530B7327CB8E] [nvarchar](256) NULL,
	[Parent_52C43962_6D09_829A_FA11_BDFCDF409771] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$Windows$SoftwareUpdate] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
