USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeployedReferences]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeployedReferences](
	[PackTransactionId] [uniqueidentifier] NOT NULL,
	[ManagementPackIdSource] [uniqueidentifier] NOT NULL,
	[ManagementPackIdReffedBy] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastNodified] [datetime] NOT NULL,
 CONSTRAINT [PK_DeployedReferences] PRIMARY KEY CLUSTERED 
(
	[PackTransactionId] ASC,
	[ManagementPackIdSource] ASC,
	[ManagementPackIdReffedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeployedReferences] ADD  CONSTRAINT [DF_DeployedReferences_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DeployedReferences] ADD  CONSTRAINT [DF_DeployedReferences_LastModified]  DEFAULT (getutcdate()) FOR [LastNodified]
GO
ALTER TABLE [dbo].[DeployedReferences]  WITH CHECK ADD  CONSTRAINT [FK_DeployedReferences_DeployedManifest] FOREIGN KEY([PackTransactionId])
REFERENCES [dbo].[DeployedManifest] ([PackTransactionId])
GO
ALTER TABLE [dbo].[DeployedReferences] CHECK CONSTRAINT [FK_DeployedReferences_DeployedManifest]
GO
