USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CategoryOverrideStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryOverrideStaging](
	[CategoryOverrideId] [uniqueidentifier] NOT NULL,
	[OverrideName] [nvarchar](256) NOT NULL,
	[CategoryId] [tinyint] NOT NULL,
	[TypeContext] [uniqueidentifier] NOT NULL,
	[InstanceContext] [uniqueidentifier] NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Enforced] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
