USE [OperationsManager]
GO
/****** Object:  Table [dbo].[TemplateStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateStaging](
	[TemplateId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TemplateName] [nvarchar](256) NOT NULL,
	[TemplateConfiguration] [nvarchar](max) NULL,
	[TemplateReferences] [nvarchar](max) NOT NULL,
	[TemplateImplementation] [nvarchar](max) NULL,
	[Purpose] [nvarchar](256) NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
