USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ExceptionHandlers_BA16712A_9998_D0EE_FE55_7A4C140A624C] [nvarchar](max) NULL,
	[Post_ExceptionHandlers_BA16712A_9998_D0EE_FE55_7A4C140A624C] [nvarchar](max) NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9] [int] NULL,
	[Post_AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9] [int] NULL,
	[Pre_ApplicationGroupName_68912EB1_0C6A_DAD8_852D_9754E313CE2C] [nvarchar](256) NULL,
	[Post_ApplicationGroupName_68912EB1_0C6A_DAD8_852D_9754E313CE2C] [nvarchar](256) NULL,
	[Pre_ServiceProcessName_A5CFAEDC_D632_C0D7_6E7A_A1ECE3C56F1E] [nvarchar](max) NULL,
	[Post_ServiceProcessName_A5CFAEDC_D632_C0D7_6E7A_A1ECE3C56F1E] [nvarchar](max) NULL,
	[Pre_CounterInstance_F93DE775_953F_648C_8951_7F53AE7C142C] [nvarchar](512) NULL,
	[Post_CounterInstance_F93DE775_953F_648C_8951_7F53AE7C142C] [nvarchar](512) NULL,
	[Pre_SensitivityThreshold_83C92DE1_164B_7742_87BA_3336CB57937A] [int] NULL,
	[Post_SensitivityThreshold_83C92DE1_164B_7742_87BA_3336CB57937A] [int] NULL,
	[Pre_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA] [float] NULL,
	[Post_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA] [float] NULL,
	[Pre_Namespaces_E9A0F111_6B14_F2DC_960B_9B6B4E41F6C9] [nvarchar](max) NULL,
	[Post_Namespaces_E9A0F111_6B14_F2DC_960B_9B6B4E41F6C9] [nvarchar](max) NULL,
	[Pre_ServiceName_E6BAAB57_63CA_BE03_E3F7_9D0BDF9F4A28] [nvarchar](256) NULL,
	[Post_ServiceName_E6BAAB57_63CA_BE03_E3F7_9D0BDF9F4A28] [nvarchar](256) NULL,
	[Pre_ExceptionTrackings_663D255A_C475_DFFE_4E71_BC277BC1376B] [nvarchar](max) NULL,
	[Post_ExceptionTrackings_663D255A_C475_DFFE_4E71_BC277BC1376B] [nvarchar](max) NULL,
	[Pre_CollectAllExceptions_FE55A398_A9E2_016B_43AB_85944B669495] [bit] NULL,
	[Post_CollectAllExceptions_FE55A398_A9E2_016B_43AB_85944B669495] [bit] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA] [float] NULL,
	[Post_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA] [float] NULL,
	[Pre_ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A] [nvarchar](256) NULL,
	[Post_ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A] [nvarchar](256) NULL,
	[Pre_Resources_3B100249_8EEC_E452_DCC9_17624314954F] [nvarchar](max) NULL,
	[Post_Resources_3B100249_8EEC_E452_DCC9_17624314954F] [nvarchar](max) NULL,
	[Pre_PerformanceThreshold_A150A06F_3A68_25EB_E133_9ADE70F2F6AD] [int] NULL,
	[Post_PerformanceThreshold_A150A06F_3A68_25EB_E133_9ADE70F2F6AD] [int] NULL,
	[Pre_ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947] [int] NULL,
	[Post_ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947] [int] NULL,
	[Pre_ApplicationName_CDEF0338_455F_866E_5B27_AAB852C1215F] [nvarchar](256) NULL,
	[Post_ApplicationName_CDEF0338_455F_866E_5B27_AAB852C1215F] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2] [int] NULL,
	[Post_PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2] [int] NULL,
	[Pre_AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5] [int] NULL,
	[Post_AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5] [int] NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Post_SensitivityThreshold_83C92DE1_164B_7742_87BA_3336CB57937A]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]>=(0) AND [Post_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]>=(0) AND [Post_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceThreshold_A150A06F_3A68_25EB_E133_9ADE70F2F6AD]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]>=(0) AND [Pre_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]>=(0) AND [Pre_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceThreshold_A150A06F_3A68_25EB_E133_9ADE70F2F6AD]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance_Log]  WITH CHECK ADD CHECK  (([Pre_SensitivityThreshold_83C92DE1_164B_7742_87BA_3336CB57937A]>=(0)))
GO
