USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_AzRoleAssignment]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_AzRoleAssignment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AppID] [int] NULL,
	[ScopeID] [int] NULL,
	[ParentType] [tinyint] NOT NULL,
	[Name] [nvarchar](64) NULL,
	[Description] [nvarchar](1024) NULL,
	[ApplicationData] [ntext] NULL,
	[ObjectGuid] [uniqueidentifier] NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
	[ChildUpdateTimeStamp] [binary](8) NULL,
 CONSTRAINT [PK_AzMan_AzRoleAssignment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_AzRoleAssignment]  WITH NOCHECK ADD  CONSTRAINT [FK_AzMan_Role_To_App] FOREIGN KEY([AppID])
REFERENCES [dbo].[AzMan_AzApplication] ([ID])
GO
ALTER TABLE [dbo].[AzMan_AzRoleAssignment] NOCHECK CONSTRAINT [FK_AzMan_Role_To_App]
GO
ALTER TABLE [dbo].[AzMan_AzRoleAssignment]  WITH NOCHECK ADD  CONSTRAINT [FK_AzMan_Role_To_Scope] FOREIGN KEY([ScopeID])
REFERENCES [dbo].[AzMan_AzScope] ([ID])
GO
ALTER TABLE [dbo].[AzMan_AzRoleAssignment] NOCHECK CONSTRAINT [FK_AzMan_Role_To_Scope]
GO
ALTER TABLE [dbo].[AzMan_AzRoleAssignment]  WITH NOCHECK ADD  CONSTRAINT [CK_AzMan_AzRoleAssignment] CHECK  (((sign(coalesce([AppID],(0)))+sign(coalesce([ScopeID],(0))))=(1)))
GO
ALTER TABLE [dbo].[AzMan_AzRoleAssignment] CHECK CONSTRAINT [CK_AzMan_AzRoleAssignment]
GO
