USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$Build]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$Build] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Category_631EE31C_C4C4_5C0E_457F_38A7B8A7B602], T1.[Description_B488292E_46E0_8B80_9882_81716E18947D], T1.[Instructions_7906E0D3_0C1A_D992_BC69_B1143F3ACBDA], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[Notes_DDB45A4A_11FE_4AFE_DCDE_4AA57DD51568], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Repository_50C49D32_ED99_D8F0_5464_70C88F6D73EE], T1.[SourcePath_552FE408_1D0A_891B_9888_D30DC34477DE], T1.[Title_D87D7B1D_BD2F_8DAD_D137_49DDBC0896D1], T1.[Version_C296318E_4033_1552_B35C_7EB566351411] FROM [dbo].[MT_System$Build] T1
GO
