USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$NetworkDiscoveryServer]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$NetworkDiscoveryServer] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[ConfigVersion_F08B78F0_F52E_7764_FDB5_4EEA49FE13A5], T1.[LastExecutionTime_0B656728_C0D0_2DAB_859A_09E899A35320], T1.[NumberOfDevicesProcessed_37E93815_81BD_FA39_3B7F_542D1693FE04], T1.[NumberOfPendingDiscoveredDevices_63E47DDE_E7B6_93C0_8FEC_BF53F18CB78C], T1.[NumberOfSuccessfullyDiscoveredDevices_02520595_77D1_9FE1_92CB_EFC4AF552AC3], T1.[NumberOfTotalDevices_907F4E77_1283_C416_B7C7_4DEF60074EE3], T1.[ServerId_D22086E2_FA6C_29AF_CF8C_8598B5EAC3A3], T1.[State_766BF959_986B_1467_2E20_9156965D9EF0] FROM [dbo].[MT_System$NetworkManagement$NetworkDiscoveryServer] T1
GO
