USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MachineKey]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineKey](
	[InternalId] [int] IDENTITY(1,1) NOT NULL,
	[ServerName] [varchar](500) NOT NULL,
	[PublicKey] [varbinary](max) NOT NULL,
	[MasterKey] [varbinary](max) NOT NULL,
	[MasterIV] [varbinary](max) NOT NULL,
	[ActiveInd] [bit] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MachineKey] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_MachineKey] UNIQUE NONCLUSTERED 
(
	[ServerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MachineKey] ADD  DEFAULT ((1)) FOR [ActiveInd]
GO
ALTER TABLE [dbo].[MachineKey] ADD  CONSTRAINT [DF_MachineKey_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
