USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9] [int] NULL,
	[Post_AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9] [int] NULL,
	[Pre_ApplicationGroupName_68912EB1_0C6A_DAD8_852D_9754E313CE2C] [nvarchar](256) NULL,
	[Post_ApplicationGroupName_68912EB1_0C6A_DAD8_852D_9754E313CE2C] [nvarchar](256) NULL,
	[Pre_ExceptionAlerts_FB1A01CA_6AEC_C93C_6DC4_4BE24AA2D01B] [bit] NULL,
	[Post_ExceptionAlerts_FB1A01CA_6AEC_C93C_6DC4_4BE24AA2D01B] [bit] NULL,
	[Pre_SensitivityThreshold_1AA7344D_A619_6BA5_C14E_592090AF1A31] [int] NULL,
	[Post_SensitivityThreshold_1AA7344D_A619_6BA5_C14E_592090AF1A31] [int] NULL,
	[Pre_ResponseFilters_0E41A2A3_9627_2EF8_EC66_B2AED463BEE9] [nvarchar](max) NULL,
	[Post_ResponseFilters_0E41A2A3_9627_2EF8_EC66_B2AED463BEE9] [nvarchar](max) NULL,
	[Pre_CounterInstance_E44F2093_F5A6_E776_513E_7121022DFCFD] [nvarchar](512) NULL,
	[Post_CounterInstance_E44F2093_F5A6_E776_513E_7121022DFCFD] [nvarchar](512) NULL,
	[Pre_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA] [float] NULL,
	[Post_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA] [float] NULL,
	[Pre_RequestFilters_DF9AEDA6_F0B3_575A_8491_65944CD73E8B] [nvarchar](max) NULL,
	[Post_RequestFilters_DF9AEDA6_F0B3_575A_8491_65944CD73E8B] [nvarchar](max) NULL,
	[Pre_AjaxThreshold_93F26715_F711_AF0C_8C31_CE6B5538ABCD] [int] NULL,
	[Post_AjaxThreshold_93F26715_F711_AF0C_8C31_CE6B5538ABCD] [int] NULL,
	[Pre_DisabledContent_627E9F37_BB0E_FB27_6711_74A265F9266B] [int] NULL,
	[Post_DisabledContent_627E9F37_BB0E_FB27_6711_74A265F9266B] [int] NULL,
	[Pre_PerformanceAlerts_15A1A50B_7E3D_2FD8_7654_17CBB73C9659] [bit] NULL,
	[Post_PerformanceAlerts_15A1A50B_7E3D_2FD8_7654_17CBB73C9659] [bit] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_IISApplicationPath_733223B8_D8C1_E9B1_9BBC_3DCAF7166CEF] [nvarchar](512) NULL,
	[Post_IISApplicationPath_733223B8_D8C1_E9B1_9BBC_3DCAF7166CEF] [nvarchar](512) NULL,
	[Pre_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA] [float] NULL,
	[Post_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA] [float] NULL,
	[Pre_ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A] [nvarchar](256) NULL,
	[Post_ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A] [nvarchar](256) NULL,
	[Pre_PageLoadThreshold_2BEFCAA3_CE9C_5249_0E7C_08A8257FD51A] [int] NULL,
	[Post_PageLoadThreshold_2BEFCAA3_CE9C_5249_0E7C_08A8257FD51A] [int] NULL,
	[Pre_ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947] [int] NULL,
	[Post_ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947] [int] NULL,
	[Pre_SamplingRate_A9AE5036_210D_18E9_CE46_35409A86A1B7] [int] NULL,
	[Post_SamplingRate_A9AE5036_210D_18E9_CE46_35409A86A1B7] [int] NULL,
	[Pre_ApplicationName_CDEF0338_455F_866E_5B27_AAB852C1215F] [nvarchar](256) NULL,
	[Post_ApplicationName_CDEF0338_455F_866E_5B27_AAB852C1215F] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2] [int] NULL,
	[Post_PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2] [int] NULL,
	[Pre_IPHeaders_4F0D91CD_A3C6_AD34_F46E_8937F70F4DC1] [nvarchar](max) NULL,
	[Post_IPHeaders_4F0D91CD_A3C6_AD34_F46E_8937F70F4DC1] [nvarchar](max) NULL,
	[Pre_EncryptionKey_77988267_C2BF_750A_7BF4_2CBEC50344BA] [nvarchar](max) NULL,
	[Post_EncryptionKey_77988267_C2BF_750A_7BF4_2CBEC50344BA] [nvarchar](max) NULL,
	[Pre_AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5] [int] NULL,
	[Post_AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5] [int] NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_StreamFilters_89C46EFA_7B08_0509_FCAC_3F5470301813] [nvarchar](max) NULL,
	[Post_StreamFilters_89C46EFA_7B08_0509_FCAC_3F5470301813] [nvarchar](max) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log] ADD  DEFAULT ((1)) FOR [Pre_ExceptionAlerts_FB1A01CA_6AEC_C93C_6DC4_4BE24AA2D01B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log] ADD  DEFAULT ((1)) FOR [Post_ExceptionAlerts_FB1A01CA_6AEC_C93C_6DC4_4BE24AA2D01B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log] ADD  DEFAULT ((1)) FOR [Pre_PerformanceAlerts_15A1A50B_7E3D_2FD8_7654_17CBB73C9659]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log] ADD  DEFAULT ((1)) FOR [Post_PerformanceAlerts_15A1A50B_7E3D_2FD8_7654_17CBB73C9659]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_SensitivityThreshold_1AA7344D_A619_6BA5_C14E_592090AF1A31]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]>=(0) AND [Post_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_AjaxThreshold_93F26715_F711_AF0C_8C31_CE6B5538ABCD]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_DisabledContent_627E9F37_BB0E_FB27_6711_74A265F9266B]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]>=(0) AND [Post_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_PageLoadThreshold_2BEFCAA3_CE9C_5249_0E7C_08A8257FD51A]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_SamplingRate_A9AE5036_210D_18E9_CE46_35409A86A1B7]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_AjaxThreshold_93F26715_F711_AF0C_8C31_CE6B5538ABCD]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_DisabledContent_627E9F37_BB0E_FB27_6711_74A265F9266B]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]>=(0) AND [Pre_ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]>=(0) AND [Pre_PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_PageLoadThreshold_2BEFCAA3_CE9C_5249_0E7C_08A8257FD51A]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_SensitivityThreshold_1AA7344D_A619_6BA5_C14E_592090AF1A31]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance_Log]  WITH CHECK ADD CHECK  (([Pre_SamplingRate_A9AE5036_210D_18E9_CE46_35409A86A1B7]>=(0)))
GO
