USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972] [float] NULL,
	[Post_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972] [float] NULL,
	[Pre_IPHeaders_D7CB13D4_999C_21AE_9250_4A92844F2D73] [nvarchar](max) NULL,
	[Post_IPHeaders_D7CB13D4_999C_21AE_9250_4A92844F2D73] [nvarchar](max) NULL,
	[Pre_PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954] [int] NULL,
	[Post_PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954] [int] NULL,
	[Pre_StreamFilters_72DB18D0_5751_AF79_1BD0_A62965C4FC29] [nvarchar](max) NULL,
	[Post_StreamFilters_72DB18D0_5751_AF79_1BD0_A62965C4FC29] [nvarchar](max) NULL,
	[Pre_PerformanceRateMonitorEnabled_115D3358_7A65_A92B_757F_B6B96B91B9F2] [bit] NULL,
	[Post_PerformanceRateMonitorEnabled_115D3358_7A65_A92B_757F_B6B96B91B9F2] [bit] NULL,
	[Pre_MonitoringComputerGroup_B969C3F2_B76A_37DC_8387_3F9405A1DDEA] [uniqueidentifier] NULL,
	[Post_MonitoringComputerGroup_B969C3F2_B76A_37DC_8387_3F9405A1DDEA] [uniqueidentifier] NULL,
	[Pre_ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9] [int] NULL,
	[Post_ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9] [int] NULL,
	[Pre_SamplingRate_C291595C_6A59_7EE4_9A08_DD95423FBC06] [int] NULL,
	[Post_SamplingRate_C291595C_6A59_7EE4_9A08_DD95423FBC06] [int] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_RequestFilters_9A1AE943_2761_7A0D_8490_7C21061F8CCC] [nvarchar](max) NULL,
	[Post_RequestFilters_9A1AE943_2761_7A0D_8490_7C21061F8CCC] [nvarchar](max) NULL,
	[Pre_SensitivityThreshold_E59C8BBE_6B3D_4B30_1D1E_A639838C09FD] [int] NULL,
	[Post_SensitivityThreshold_E59C8BBE_6B3D_4B30_1D1E_A639838C09FD] [int] NULL,
	[Pre_AjaxThreshold_8B6FB64E_E955_B6AB_2F1A_41E86E3FF448] [int] NULL,
	[Post_AjaxThreshold_8B6FB64E_E955_B6AB_2F1A_41E86E3FF448] [int] NULL,
	[Pre_PageLoadThreshold_6027A5D2_E036_50A1_9823_C577D0491BEB] [int] NULL,
	[Post_PageLoadThreshold_6027A5D2_E036_50A1_9823_C577D0491BEB] [int] NULL,
	[Pre_AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA] [int] NULL,
	[Post_AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA] [int] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86] [int] NULL,
	[Post_AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86] [int] NULL,
	[Pre_ExceptionAlerts_698BA713_5CDD_2F59_7024_6A9668F88CC1] [bit] NULL,
	[Post_ExceptionAlerts_698BA713_5CDD_2F59_7024_6A9668F88CC1] [bit] NULL,
	[Pre_PerformanceAlerts_878B16DA_3589_3D08_97F7_57C72AF87289] [bit] NULL,
	[Post_PerformanceAlerts_878B16DA_3589_3D08_97F7_57C72AF87289] [bit] NULL,
	[Pre_AvgRequestTimeMonitorEnabled_C99A8BD9_7111_36AB_2160_E1788BCC2B68] [bit] NULL,
	[Post_AvgRequestTimeMonitorEnabled_C99A8BD9_7111_36AB_2160_E1788BCC2B68] [bit] NULL,
	[Pre_ApplicationName_6D56072B_DFE1_44F4_83AA_146329F5A52F] [nvarchar](256) NULL,
	[Post_ApplicationName_6D56072B_DFE1_44F4_83AA_146329F5A52F] [nvarchar](256) NULL,
	[Pre_ResponseFilters_BA8C1861_53B9_9F1D_B40E_9954BADEA34C] [nvarchar](max) NULL,
	[Post_ResponseFilters_BA8C1861_53B9_9F1D_B40E_9954BADEA34C] [nvarchar](max) NULL,
	[Pre_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693] [float] NULL,
	[Post_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693] [float] NULL,
	[Pre_DisabledContent_2BB11370_F1F5_9745_DA77_AD75BE479C95] [int] NULL,
	[Post_DisabledContent_2BB11370_F1F5_9745_DA77_AD75BE479C95] [int] NULL,
	[Pre_ExceptionRateMonitorEnabled_7261DA36_3004_68E4_20CA_4EFE375DFF72] [bit] NULL,
	[Post_ExceptionRateMonitorEnabled_7261DA36_3004_68E4_20CA_4EFE375DFF72] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_SamplingRate_C291595C_6A59_7EE4_9A08_DD95423FBC06]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_SensitivityThreshold_E59C8BBE_6B3D_4B30_1D1E_A639838C09FD]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_AjaxThreshold_8B6FB64E_E955_B6AB_2F1A_41E86E3FF448]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_PageLoadThreshold_6027A5D2_E036_50A1_9823_C577D0491BEB]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]>=(0) AND [Post_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_DisabledContent_2BB11370_F1F5_9745_DA77_AD75BE479C95]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]>=(0) AND [Post_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Post_ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_AjaxThreshold_8B6FB64E_E955_B6AB_2F1A_41E86E3FF448]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorInterval_3D4F3F99_B488_DCD2_91C2_B3EB741D97DA]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_AvgRequestTimeMonitorThreshold_B489D9D1_D3A0_E35A_4B6A_1ADFC6499F86]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_DisabledContent_2BB11370_F1F5_9745_DA77_AD75BE479C95]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]>=(0) AND [Pre_ExceptionRateMonitorThreshold_780A42E7_87BC_9B00_88A5_9FB4B1857693]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_ExceptionRateMonitorInterval_767F6674_D46D_A888_A97F_493A55B1FFB9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_PageLoadThreshold_6027A5D2_E036_50A1_9823_C577D0491BEB]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]>=(0) AND [Pre_PerformanceRateMonitorThreshold_42A63080_CD1C_390B_83E0_2FE4D5B56972]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_PerformanceRateMonitorInterval_B23EB017_216A_B9D6_596E_AFD5B0B54954]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_SensitivityThreshold_E59C8BBE_6B3D_4B30_1D1E_A639838C09FD]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationComponent_Log]  WITH CHECK ADD CHECK  (([Pre_SamplingRate_C291595C_6A59_7EE4_9A08_DD95423FBC06]>=(0)))
GO
