USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleTemplateView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleTemplateView] AS
    SELECT [UserRoleId],
           ISNULL([TemplateId],'7C964664-316A-4189-ABD6-E3B3F92B852E') AS [TemplateId],
           [ScopeId]
    FROM dbo.UserRoleTemplate
GO
