USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$SoftwareItem]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$SoftwareItem](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ProductName_A5E0EFD1_6C10_CE40_F94E_092968332D03] [nvarchar](256) NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[MinorVersion_C79C42C0_7BCB_1E2A_0F8B_EF29A152371E] [nvarchar](256) NULL,
	[VersionString_AF0E8942_772E_7C25_5EFE_B21D6E2E41CE] [nvarchar](256) NOT NULL,
	[MajorVersion_F9D67ADE_7F0F_2A04_AA87_BCE911A39413] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[LocaleID_23C78D0C_A837_AFF0_A421_A88AC5820429] [int] NOT NULL,
	[IsVirtualApplication_D5F19CD1_22C4_8A47_593F_ADBD64D8026A] [bit] NOT NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Publisher_CC606490_641D_5F83_AC59_088C7E706264] [nvarchar](256) NOT NULL,
	[ProductCode_44CDDF1A_0A33_9F46_85D1_C9EC740C5E78] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$SoftwareItem] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$SoftwareItem] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
