USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$PendingNetworkDevice]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$PendingNetworkDevice](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Status_E22DB410_02C9_9D50_86D3_FE6B9293BB83] [nvarchar](256) NULL,
	[SystemName_0E1990B8_3654_4671_CE81_B1FC4646EE75] [nvarchar](256) NOT NULL,
	[Reason_C16B8560_1296_B7CF_9A6E_F25F85C214B9] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$PendingNetworkDevice] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
