USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleImplicitIndexedView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleImplicitIndexedView]
WITH SCHEMABINDING
AS
	SELECT URUA.[UserRoleId], 
	       URUA.[UserId], 
	       URUA.[ScopeId], 
	       URGT.[GroupId], 
	       URGT.[TypeId], 
	       URGT.[ScopeType]
	FROM dbo.UserRoleUserAssignment AS URUA
	INNER JOIN dbo.UserRoleGroupType AS URGT
	ON URUA.ScopeId = URGT.ScopeId
GO
