USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$ManagementServicePoolWatcher]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$ManagementServicePoolWatcher] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PoolId_06551828_2670_3D36_7EC8_0935627A61C3], T1.[PoolName_C28279EB_22FD_E8C1_6B71_23866725665D] FROM [dbo].[MT_Microsoft$SystemCenter$ManagementServicePoolWatcher] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '6733ABE3-2AD0-C18D-CC03-6ED5253ED2C8'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$ManagementServicePoolWatchersGroup] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
