USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$SubscriptionWorkflowTarget]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$SubscriptionWorkflowTarget] AS SELECT BaseManagedEntityId, DisplayName AS DisplayName FROM [dbo].[BaseManagedEntity]  WHERE BaseManagedEntityId = 'A2A24426-1C31-3A8F-EA39-D316A83C8EF9'
GO
