USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MigrationElements]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigrationElements](
	[OldElementId] [uniqueidentifier] NOT NULL,
	[OldElementName] [nvarchar](256) NOT NULL,
	[ElementType] [nvarchar](512) NOT NULL,
	[NewElementId] [uniqueidentifier] NOT NULL,
	[NewElementName] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
