USE [OperationsManager]
GO
/****** Object:  Table [dbo].[__MOMManagementGroupInfo__]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MOMManagementGroupInfo__](
	[ManagementGroupName] [nvarchar](256) NOT NULL,
	[ManagementGroupId] [uniqueidentifier] NOT NULL,
	[DBVersion] [nvarchar](256) NOT NULL,
	[MOMAdminGroup] [nvarchar](256) NOT NULL,
	[EnableErrorReports] [int] NOT NULL,
	[QueueErrorReports] [int] NOT NULL,
	[SecureCookie] [varbinary](8000) NOT NULL,
	[LanguageCode] [nvarchar](3) NOT NULL
) ON [PRIMARY]
GO
