USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DiscoveryClassPropertyStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryClassPropertyStaging](
	[DiscoveryClassId] [uniqueidentifier] NOT NULL,
	[DiscoveryId] [uniqueidentifier] NOT NULL,
	[DiscoveryPropertyOrder] [int] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[InternalOrder] [int] NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
