USE [OperationsManager]
GO
/****** Object:  Table [dbo].[EntityTransactionLog]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityTransactionLog](
	[EntityTransactionLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[DiscoverySourceId] [uniqueidentifier] NULL,
	[ContextGenerated] [nvarchar](255) NULL,
	[LastModified] [datetime] NOT NULL,
	[IsCommitted] [bit] NULL,
	[TimeAdded] [datetime] NOT NULL,
 CONSTRAINT [PK_EntityTransactionLog] PRIMARY KEY CLUSTERED 
(
	[EntityTransactionLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EntityTransactionLog] ADD  CONSTRAINT [DF_EntityTransactionLog_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
