USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$GeoLocation]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$GeoLocation] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Id_4FC9C771_4A44_3B75_909A_E0AC502CC2FE], T1.[Latitude_D86A5093_7028_7C84_7DB7_79A0C5F2CB87], T1.[Longitude_66A0755C_8AA3_C5E9_E85E_7794D32FC074], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] FROM [dbo].[MT_System$GeoLocation] T1
GO
