USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$MonitoredUnixProcess_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$MonitoredUnixProcess_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_MinProcessCount_44F318F3_05E4_483F_E68F_878F7F499A17] [int] NULL,
	[Post_MinProcessCount_44F318F3_05E4_483F_E68F_878F7F499A17] [int] NULL,
	[Pre_Instance_CDF9F7C3_4F95_3CA0_1443_B9C3E256BA12] [nvarchar](256) NULL,
	[Post_Instance_CDF9F7C3_4F95_3CA0_1443_B9C3E256BA12] [nvarchar](256) NULL,
	[Pre_ProcessName_3C99F67D_8603_6C3B_C54F_2C651D8B93B1] [nvarchar](256) NULL,
	[Post_ProcessName_3C99F67D_8603_6C3B_C54F_2C651D8B93B1] [nvarchar](256) NULL,
	[Pre_AlertSeverity_A04878B3_2F71_E47A_6AE5_0877859F2CBA] [nvarchar](256) NULL,
	[Post_AlertSeverity_A04878B3_2F71_E47A_6AE5_0877859F2CBA] [nvarchar](256) NULL,
	[Pre_ArgumentsFilterExpression_42C47B05_3469_7AF5_F9EE_D37ABA787452] [nvarchar](256) NULL,
	[Post_ArgumentsFilterExpression_42C47B05_3469_7AF5_F9EE_D37ABA787452] [nvarchar](256) NULL,
	[Pre_MonitoringTargetName_450E175D_BE4D_DB74_C470_0EBEAF8C2CC7] [nvarchar](256) NULL,
	[Post_MonitoringTargetName_450E175D_BE4D_DB74_C470_0EBEAF8C2CC7] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_MonitoringTargetId_33A91BA9_05FF_1AA3_70CD_BCA2AF01857D] [nvarchar](256) NULL,
	[Post_MonitoringTargetId_33A91BA9_05FF_1AA3_70CD_BCA2AF01857D] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_MaxProcessCount_AAC62B8E_1FF7_CD55_C2DA_13650359382E] [int] NULL,
	[Post_MaxProcessCount_AAC62B8E_1FF7_CD55_C2DA_13650359382E] [int] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$MonitoredUnixProcess_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$MonitoredUnixProcess_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$MonitoredUnixProcess_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
