USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$ManagementGroup]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$ManagementGroup] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, COALESCE (T1.[AlertAutoResolvePeriod_B8513A61_92F3_8E6C_E179_AB0FECE2FDF9], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '6A98A953-74EA-7182-A386-E2EF4F9E7CE1')) AS [AlertAutoResolvePeriod_B8513A61_92F3_8E6C_E179_AB0FECE2FDF9], COALESCE (T1.[AlertMonitorReset_1272A279_41AE_DF92_651F_120BD3F69685], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '3784F25E-3EB2-3DA4-52C3-ED4873888724')) AS [AlertMonitorReset_1272A279_41AE_DF92_651F_120BD3F69685], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvailabilitySchedule_0DB3A9F3_2891_A02B_E37B_9EFDAF3B35E6], T1.[BusinessDetailedDescription_BBB19438_4A6A_24C5_B38C_682B19230A96], COALESCE (T1.[CEIPEnabled_BFCBAACE_81D9_A207_A781_7D737AC01FE2], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'B7222AE9-3490-015A-DB7E-AEBB490ACA03')) AS [CEIPEnabled_BFCBAACE_81D9_A207_A781_7D737AC01FE2], T1.[Classification_EE738100_A25A_F850_7195_ADBD21E8D019], T1.[CommunicationPort_2EFD4CF9_4912_0231_817D_F0246DC3DC95], COALESCE (T1.[ErrorReportingEnabled_369F9CA0_6046_DAB2_CAA2_E3D3D07BB7F3], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'D5243A87-9016-38EC-02D7-1A39A3F792EB')) AS [ErrorReportingEnabled_369F9CA0_6046_DAB2_CAA2_E3D3D07BB7F3], COALESCE (T1.[ErrorReportingQueuingEnabled_B3075860_37A0_3099_2832_4949B1C7FB37], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '4BE130E0-6273-97C9-43BD-87E75EDED95C')) AS [ErrorReportingQueuingEnabled_B3075860_37A0_3099_2832_4949B1C7FB37], COALESCE (T1.[HealthyAlertAutoResolvePeriod_06F88E3F_2E92_FD90_A9F6_8CD18E16219A], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '28581F22-E563-8222-ED64-E3B9309C833B')) AS [HealthyAlertAutoResolvePeriod_06F88E3F_2E92_FD90_A9F6_8CD18E16219A], T1.[Id_2B189F92_85D5_9DE6_46D2_82339B06CFB0], T1.[IsBusinessService_B6DE4F73_1D1D_2097_F7E6_1E1C80AE1492], T1.[Name_4C9109CF_941F_F40F_EF7A_1041F5A09F77], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], COALESCE (T1.[OnlineProductKnowledgeUrl_2E977989_CAF2_CCF6_43D0_6C22188EC5F9], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'C7D5CA84-ABE2-F8B3-D6CB-29AC7C3111FC')) AS [OnlineProductKnowledgeUrl_2E977989_CAF2_CCF6_43D0_6C22188EC5F9], T1.[OperationalDatabaseName_FD672E61_8C4D_F7D8_E1ED_CD5C12F1602F], T1.[OwnedByOrganization_489FFC8D_DE2D_3424_EF85_456834AF940E], T1.[Priority_C75CD6B5_508A_DDE6_ECD0_EBC2434F5431], T1.[RootHealthServiceSCP_4CC60658_B643_962C_3DDD_2118F756F41F], COALESCE (T1.[RunAsAccountRadio_F35F9C90_C86C_90EC_962B_7F9B17181DEE], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '777199C2-7C91-6C6E-7F51-D19E6E479614')) AS [RunAsAccountRadio_F35F9C90_C86C_90EC_962B_7F9B17181DEE], T1.[SDKServerName_B7956422_FBF2_C1F4_96BD_41B96151008A], T1.[SDKServiceSCP_7344BCA0_DE25_6FB1_6198_C65B1CFFCA37], COALESCE (T1.[SendOperationalDataReports_41CC160D_C6EC_6579_7183_2C6AD4DC9094], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'A3FCB97D-3E4A-752A-3112-43F2EAF5C2A1')) AS [SendOperationalDataReports_41CC160D_C6EC_6579_7183_2C6AD4DC9094], T1.[ServiceDescription_581483BC_0B32_2063_5D51_AD4F6B814175], T1.[SQLServerName_43FB076F_7970_4C86_6DCA_8BD541F45E3A], T1.[Status_0689C997_03F2_83DE_C0E7_FB8E18574552], COALESCE (T1.[TierTimeDifferenceThreshold_973899B7_E9E1_A5C2_CCD0_7D87F3FF8736], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = '23674D44-17DD-48BF-B137-DD00F76EF3D7')) AS [TierTimeDifferenceThreshold_973899B7_E9E1_A5C2_CCD0_7D87F3FF8736] FROM [dbo].[MT_Microsoft$SystemCenter$ManagementGroup] T1 RIGHT OUTER JOIN dbo.BaseManagedEntity BME ON BME.BaseManagedEntityId = T1.BaseManagedEntityId WHERE BME.IsDeleted = 0 AND BME.BaseManagedTypeId = '6B1D1BE8-EBB4-B425-08DC-2385C5930B04'
GO
