USE [OperationsManager]
GO
/****** Object:  View [dbo].[DiagnosticView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DiagnosticView] AS
    SELECT [Diagnostic].[DiagnosticId] AS Id, 
           [Diagnostic].[DiagnosticName] AS [Name], 
           [Diagnostic].[ManagementPackId],
           [Diagnostic].[DiagnosticAccessibility] AS Accessibility, 
           [Diagnostic].[DiagnosticEnabled] AS Enabled, 
           [Diagnostic].[DiagnosticTarget] AS TargetMonitoringClassId, 
           [Diagnostic].[DiagnosticMonitor] AS MonitorId, 
           [Diagnostic].[ExecuteOnState],
           [Diagnostic].[DiagnosticRemotable] AS Remotable, 
           [Diagnostic].[DiagnosticCategory] AS Category,
           [Diagnostic].[TimeOut] AS Timeout, 
           [Diagnostic].[TimeAdded],
           [Diagnostic].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[Diagnostic] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [Diagnostic].[DiagnosticId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [Diagnostic].[DiagnosticId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Diagnostic].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
