USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ScheduleEntity]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleEntity](
	[ScheduleId] [uniqueidentifier] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ScheduleEntity_Composite] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC,
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleEntity]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleEntity_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleEntity] CHECK CONSTRAINT [FK_ScheduleEntity_BaseManagedEntity]
GO
ALTER TABLE [dbo].[ScheduleEntity]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleEntity_MaintenanceModeSchedule] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[MaintenanceModeSchedule] ([ScheduleId])
GO
ALTER TABLE [dbo].[ScheduleEntity] CHECK CONSTRAINT [FK_ScheduleEntity_MaintenanceModeSchedule]
GO
