USE [OperationsManager]
GO
/****** Object:  View [dbo].[MaintenanceModeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MaintenanceModeView] AS
    SELECT [BaseManagedEntityId], 
           [IsInMaintenanceMode],
           [StartTime], 
           [ScheduledEndTime],
           [EndTime], 
           [ReasonCode],
           [Comments], 
	       [User], 
           [LastModified] 
    FROM dbo.MaintenanceMode
GO
