USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PublisherMessages]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublisherMessages](
	[PublisherId] [uniqueidentifier] NOT NULL,
	[MessageId] [int] NOT NULL,
	[MessageType] [tinyint] NOT NULL,
	[MessageStringId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PublisherMessages] PRIMARY KEY CLUSTERED 
(
	[PublisherId] ASC,
	[MessageId] ASC,
	[MessageType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PublisherMessages]  WITH CHECK ADD  CONSTRAINT [CK_PublisherMessages_MessageType] CHECK  (([MessageType]>(0) AND [MessageType]<(4)))
GO
ALTER TABLE [dbo].[PublisherMessages] CHECK CONSTRAINT [CK_PublisherMessages_MessageType]
GO
