USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[ProfileId] [uniqueidentifier] NOT NULL,
	[ProfileName] [nvarchar](255) NOT NULL,
	[HasSingleUserRole] [bit] NOT NULL,
	[IsImplicitProfile] [bit] NOT NULL,
	[RelationshipTypeId] [uniqueidentifier] NULL,
	[IsImplicitEndPointSource] [bit] NULL,
	[ProfileScopes] [varbinary](100) NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Profile] ADD  CONSTRAINT [DF_Profile_HasSingleUserRole]  DEFAULT ((0)) FOR [HasSingleUserRole]
GO
ALTER TABLE [dbo].[Profile] ADD  CONSTRAINT [DF_Profile_IsImplicitProfile]  DEFAULT ((0)) FOR [IsImplicitProfile]
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_RelationshipTypeId] FOREIGN KEY([RelationshipTypeId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_RelationshipTypeId]
GO
