USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ReportParameterControlStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportParameterControlStaging](
	[ReportParameterControlId] [uniqueidentifier] NOT NULL,
	[ReportParameterControlName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ReportParameterControlAccessibility] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
