USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentReferences]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentReferences](
	[ComponentReferenceId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentReferenceAccessibility] [tinyint] NOT NULL,
	[ComponentReferenceName] [nvarchar](256) NOT NULL,
	[ComponentReferenceTypeId] [uniqueidentifier] NOT NULL,
	[ComponentReferenceParent] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ComponentReferences] PRIMARY KEY CLUSTERED 
(
	[ComponentReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComponentReferences] ADD  CONSTRAINT [DF_ComponentReferences_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ComponentReferences] ADD  CONSTRAINT [DF_ComponentReferences_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ComponentReferences]  WITH CHECK ADD  CONSTRAINT [FK_ComponentReferences_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComponentReferences] CHECK CONSTRAINT [FK_ComponentReferences_ManagementPack]
GO
