USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MaintenanceModeHistory]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceModeHistory](
	[MaintenanceModeHistoryId] [uniqueidentifier] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[ScheduledEndTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[ReasonCode] [tinyint] NOT NULL,
	[Comments] [nvarchar](1000) NULL,
	[User] [nvarchar](200) NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ScheduleId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MaintenanceModeHistoryId] PRIMARY KEY CLUSTERED 
(
	[MaintenanceModeHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BaseManagedEntityId] UNIQUE NONCLUSTERED 
(
	[BaseManagedEntityId] ASC,
	[StartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceModeHistory] ADD  CONSTRAINT [DF_MaintenanceModeHistoryId]  DEFAULT (newid()) FOR [MaintenanceModeHistoryId]
GO
ALTER TABLE [dbo].[MaintenanceModeHistory]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceModeHistory_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceModeHistory] CHECK CONSTRAINT [FK_MaintenanceModeHistory_BaseManagedEntity]
GO
