USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DeploymentSelectorOutput]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeploymentSelectorOutput](
	[DeploymentSelectorOutputId] [int] IDENTITY(1,1) NOT NULL,
	[OutputDocument] [xml] NOT NULL,
	[PackTransactionId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DeploymentSelectorOutput] PRIMARY KEY CLUSTERED 
(
	[DeploymentSelectorOutputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeploymentSelectorOutput] ADD  CONSTRAINT [DF_DeploymentSelectorOutput_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DeploymentSelectorOutput] ADD  CONSTRAINT [DF_DeploymentSelectorOutput_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
