USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$NetworkDevice_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$NetworkDevice_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_SystemLocation_D8B615DC_D28B_8C8C_E07D_193E17E9F915] [nvarchar](256) NULL,
	[Post_SystemLocation_D8B615DC_D28B_8C8C_E07D_193E17E9F915] [nvarchar](256) NULL,
	[Pre_Version_52526B66_E90C_9D7A_CA19_546155316FFE] [nvarchar](256) NULL,
	[Post_Version_52526B66_E90C_9D7A_CA19_546155316FFE] [nvarchar](256) NULL,
	[Pre_SystemContact_376E002A_D4C4_DB5E_5C5C_A6BCC35E8679] [nvarchar](256) NULL,
	[Post_SystemContact_376E002A_D4C4_DB5E_5C5C_A6BCC35E8679] [nvarchar](256) NULL,
	[Pre_SystemOID_420E84DF_C1D2_459E_E21B_8642EE550F30] [nvarchar](256) NULL,
	[Post_SystemOID_420E84DF_C1D2_459E_E21B_8642EE550F30] [nvarchar](256) NULL,
	[Pre_IPAddress_90FC0471_EFF4_5488_6759_333DC02EA562] [nvarchar](256) NULL,
	[Post_IPAddress_90FC0471_EFF4_5488_6759_333DC02EA562] [nvarchar](256) NULL,
	[Pre_SystemDescription_2319B39F_0E57_00FF_DDF6_1B941576EEEE] [nvarchar](256) NULL,
	[Post_SystemDescription_2319B39F_0E57_00FF_DDF6_1B941576EEEE] [nvarchar](256) NULL,
	[Pre_Name_605BC9B8_B2F2_1B02_F1E2_44B4FCA7E4A7] [nvarchar](256) NULL,
	[Post_Name_605BC9B8_B2F2_1B02_F1E2_44B4FCA7E4A7] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_CommunityString_9F1F52FF_FAEE_CC65_7C77_C6FD90B58366] [nvarchar](256) NULL,
	[Post_CommunityString_9F1F52FF_FAEE_CC65_7C77_C6FD90B58366] [nvarchar](256) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$NetworkDevice_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NetworkDevice_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$NetworkDevice_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
