USE [OperationsManager]
GO
/****** Object:  Table [dbo].[InternalJobHistory]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternalJobHistory](
	[InternalJobHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[TimeStarted] [datetime] NOT NULL,
	[TimeFinished] [datetime] NULL,
	[StatusCode] [tinyint] NOT NULL,
	[Command] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[InternalJobHistory] ADD  CONSTRAINT [DF_InternalJobHistory_TimeStarted]  DEFAULT (getutcdate()) FOR [TimeStarted]
GO
ALTER TABLE [dbo].[InternalJobHistory] ADD  CONSTRAINT [DF_InternalJobHistory_StatusCode]  DEFAULT ((0)) FOR [StatusCode]
GO
