USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$Disk]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$Disk] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Access_31032687_5CBB_89F1_D3AC_0D1767E46091], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Capacity_DD8034BA_3B2A_A818_2043_B03C02EEF6E0], T1.[Description_A782C9D3_F809_2DED_760B_B56A46256F09], T1.[Index_020C23A0_E195_EB5D_81C6_396E8B7B98F7], T1.[Key_78DD6973_976C_6E0B_CDCF_1CF9DA6A3AD1], T1.[Media_A205CA77_222E_79EF_191D_51C739C07686], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Removable_0731E8B3_48CE_03EF_1940_53446320532E], T2.[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] AS [DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] FROM [dbo].[MT_System$NetworkManagement$Disk] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'A682E988-1E25-1E18-C980-1692BF2E2A04'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_System$NetworkManagement$Node] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
