USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$SynOptics3000_Fault_Port]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$SynOptics3000_Fault_Port](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[SynOptics3000FaultIndex_E0C09920_C9A4_86D0_16A1_9E685471495B] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$SynOptics3000_Fault_Port] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
