USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ReportDependencyStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDependencyStaging](
	[ReportElementId] [uniqueidentifier] NOT NULL,
	[ReferencedElementId] [uniqueidentifier] NOT NULL,
	[ReferencedElementType] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ReferenceDomain] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
