USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_GroomingConfiguration_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_GroomingConfiguration_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_RetentionPeriodInMinutes] [int] NULL,
	[Post_RetentionPeriodInMinutes] [int] NULL,
	[Pre_StoredProcedure] [nvarchar](256) NULL,
	[Post_StoredProcedure] [nvarchar](256) NULL,
	[Pre_Criteria] [nvarchar](max) NULL,
	[Post_Criteria] [nvarchar](max) NULL,
	[Pre_IsInternal] [bit] NULL,
	[Post_IsInternal] [bit] NULL,
	[Pre_TargetId] [uniqueidentifier] NULL,
	[Post_TargetId] [uniqueidentifier] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_BatchSize] [int] NULL,
	[Post_BatchSize] [int] NULL,
	[Pre_Category] [uniqueidentifier] NULL,
	[Post_Category] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MT_GroomingConfiguration_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
