USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ProfileOperationImplicitScope]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileOperationImplicitScope](
	[ProfileOperationId] [uniqueidentifier] NOT NULL,
	[TypeId] [uniqueidentifier] NULL,
	[PropertyId] [uniqueidentifier] NULL,
	[RelationshipTypeId] [uniqueidentifier] NULL,
	[RelationshipEndpoint] [tinyint] NULL,
	[IsCustomized] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProfileOperationImplicitScope] ADD  CONSTRAINT [DF_ProfileOperationImplicitScope_IsCustomized]  DEFAULT (NULL) FOR [IsCustomized]
GO
ALTER TABLE [dbo].[ProfileOperationImplicitScope]  WITH NOCHECK ADD  CONSTRAINT [FK_ProfileOperationImplicitScope_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[ManagedTypeProperty] ([ManagedTypePropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileOperationImplicitScope] CHECK CONSTRAINT [FK_ProfileOperationImplicitScope_PropertyId]
GO
ALTER TABLE [dbo].[ProfileOperationImplicitScope]  WITH NOCHECK ADD  CONSTRAINT [FK_ProfileOperationImplicitScope_RelationshipTypeId] FOREIGN KEY([RelationshipTypeId])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileOperationImplicitScope] CHECK CONSTRAINT [FK_ProfileOperationImplicitScope_RelationshipTypeId]
GO
ALTER TABLE [dbo].[ProfileOperationImplicitScope]  WITH NOCHECK ADD  CONSTRAINT [FK_ProfileOperationImplicitScope_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileOperationImplicitScope] CHECK CONSTRAINT [FK_ProfileOperationImplicitScope_TypeId]
GO
ALTER TABLE [dbo].[ProfileOperationImplicitScope]  WITH CHECK ADD  CONSTRAINT [CK_ProfileOperationImplicitScopeRelationshipEndpoint] CHECK  (([RelationshipEndpoint]=(8) OR [RelationshipEndpoint]=(4) OR [RelationshipEndpoint]=(2)))
GO
ALTER TABLE [dbo].[ProfileOperationImplicitScope] CHECK CONSTRAINT [CK_ProfileOperationImplicitScopeRelationshipEndpoint]
GO
