USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$NetworkAdapterLayeredOverNetworkAdapter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$NetworkAdapterLayeredOverNetworkAdapter] AS SELECT R.RelationshipId, BME1.BaseManagedTypeId AS SourceTypeId, 
	BME2.BaseManagedTypeId AS TargetTypeId  FROM dbo.Relationship R  
		JOIN dbo.BaseManagedEntity BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
		JOIN dbo.BaseManagedEntity BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
		WHERE R.IsDeleted = 0 AND R.RelationshipTypeId = 'D9D7BA6F-CB0B-5869-ABB6-2FDF747A97A4'
GO
