USE [OperationsManager]
GO
/****** Object:  View [dbo].[RelationshipView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[RelationshipView] AS
	SELECT  R.RelationshipId,
		R.SourceEntityId,
		R.TargetEntityId,
		R.RelationshipTypeId,
		R.IsDeleted,
		R.TimeAdded,
		R.LastModified,
		BME1.BaseManagedTypeId AS SourceTypeId,
		BME2.BaseManagedTypeId AS TargetTypeId
	   FROM [dbo].[Relationship] R
	   JOIN [dbo].[BaseManagedEntity] BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
	   JOIN [dbo].[BaseManagedEntity] BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
GO
