USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_AzScope]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_AzScope](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AppID] [int] NOT NULL,
	[Name] [ntext] NULL,
	[NameLen] [int] NOT NULL,
	[NameHash] [binary](32) NULL,
	[Description] [nvarchar](1024) NULL,
	[ApplicationData] [ntext] NULL,
	[ObjectGuid] [uniqueidentifier] NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
	[ChildUpdateTimeStamp] [binary](8) NULL,
	[HasSpecificUsers] [bit] NULL,
 CONSTRAINT [PK_AzMan_AzScope] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_AzScope]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_AzScope_AzMan_AzApplication] FOREIGN KEY([AppID])
REFERENCES [dbo].[AzMan_AzApplication] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_AzScope] CHECK CONSTRAINT [FK_AzMan_AzScope_AzMan_AzApplication]
GO
