USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AvailabilityHistory]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailabilityHistory](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[TimeStarted] [datetime] NOT NULL,
	[TimeFinished] [datetime] NULL,
	[ReasonCode] [tinyint] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_AvailabilityHistory] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC,
	[TimeStarted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AvailabilityHistory] ADD  CONSTRAINT [DF_AvailabilityHistory_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[AvailabilityHistory]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityHistory_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AvailabilityHistory] CHECK CONSTRAINT [FK_AvailabilityHistory_BaseManagedEntity]
GO
