USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$VRAgent_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$VRAgent_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_RouterID_BF6BCB26_F09B_EB30_807A_020C8ABA3531] [nvarchar](256) NULL,
	[Post_RouterID_BF6BCB26_F09B_EB30_807A_020C8ABA3531] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$VRAgent_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
