USE [OperationsManager]
GO
/****** Object:  View [dbo].[PerformanceCounterView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PerformanceCounterView] AS
    SELECT PS.PerformanceSourceId AS [Id],
            PS.PerformanceSourceInternalId,
            PS.BaseManagedEntityId AS ManagedEntityId,
            PS.RuleId,
            PS.PerfmonInstanceName AS InstanceName,
            PC.ObjectName,
            PC.CounterName,
            PS.LastSampledValue,
            PC.ScaleFactor,
            PC.ScaleLegend,
            PS.LastModified           
    FROM dbo.PerformanceSource AS PS WITH (NOLOCK)
    JOIN dbo.PerformanceCounter AS PC WITH (NOLOCK)
        ON PS.PerformanceCounterId = PC.PerformanceCounterId
    JOIN dbo.BaseManagedEntity AS BME WITH (NOLOCK)
        ON PS.BaseManagedEntityId = BME.BaseManagedEntityId
        AND BME.IsDeleted = 0
GO
