USE [OperationsManager]
GO
/****** Object:  View [dbo].[AlertView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[AlertView] AS
    SELECT A.[AlertId] AS Id, 
           A.[AlertName] AS [Name],
           A.[AlertDescription] AS Description,
           A.[BaseManagedEntityId] AS MonitoringObjectId, 
           BME.[BaseManagedTypeId] AS MonitoringClassId,
           BME.[DisplayName] AS MonitoringObjectDisplayName,
           BME.Name as MonitoringObjectName,
           BME.Path as MonitoringObjectPath,
           BME.FullName as MonitoringObjectFullName,
           A.[IsMonitorAlert],
           A.[ProblemId],     
           A.[RuleId] AS MonitoringRuleId,           
           A.[ResolutionState],           
           A.[Priority],
           A.[Severity],
           A.[Category],           
           A.[Owner],           
           A.[ResolvedBy],
           A.[TimeRaised],
           A.[TimeAdded],
           A.[LastModified],
           A.[LastModifiedBy],         
           A.[TimeResolved],         
           A.[TimeResolutionStateLastModified],
           A.[CustomField1],
           A.[CustomField2],
           A.[CustomField3],
           A.[CustomField4],
           A.[CustomField5],
           A.[CustomField6],
           A.[CustomField7],
           A.[CustomField8],
           A.[CustomField9],
           A.[CustomField10],
           A.[TicketId],
           A.[Context],
           A.[ConnectorId],
           A.[LastModifiedByNonConnector],
		   A.[HiddenState],
           (CASE WHEN MM.[IsInMaintenanceMode] IS NULL THEN cast(0 as bit)
                ELSE MM.[IsInMaintenanceMode]
           END) AS [MonitoringObjectInMaintenanceMode],
           (CASE WHEN MM.[LastModified] IS NULL THEN cast(0 as datetime)
                ELSE MM.[LastModified]
           END) AS [MaintenanceModeLastModified],
           S.[HealthState] AS MonitoringObjectHealthState,
           (CASE WHEN S.[LastModified] IS NULL THEN cast(0 as datetime)
                ELSE S.[LastModified]
           END) AS [StateLastModified],
           CASE WHEN A.ConnectorId IS NULL THEN 0
                WHEN (A.LastModifiedByNonConnector > C.CurrentBookmark) THEN 1
                ELSE 2
           END AS ConnectorStatus,
           BME.TopLevelHostEntityId,
           A.[RepeatCount],
           A.[AlertStringId],
           LT1.[LTValue] AS AlertStringName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS AlertStringDescription,
           A.[AlertParams],
           A.[SiteName],
           A.[TfsWorkItemId],
           A.[TfsWorkItemOwner]
    FROM dbo.Alert AS A    
    JOIN dbo.BaseManagedEntity AS BME WITH (NOLOCK)
        ON BME.BaseManagedEntityId = A.BaseManagedEntityId
        AND BME.IsDeleted = 0   
    JOIN dbo.StateView AS S
        ON S.BaseManagedEntityId= A.BaseManagedEntityId
        AND S.ParentMonitorId IS NULL        
    LEFT OUTER JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = A.[AlertStringId] AND LT1.LTStringType = 1)
    LEFT OUTER JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = A.[AlertStringId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
    LEFT OUTER JOIN dbo.MaintenanceMode AS MM
        ON A.BaseManagedEntityId = MM.BaseManagedEntityId
    LEFT OUTER JOIN dbo.Connector AS C
        ON A.ConnectorId = C.ConnectorId
GO
