USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$Node_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$Node_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_PrimaryOwnerName_DB6C813E_2C3B_6055_4A68_62680D88BC6D] [nvarchar](256) NULL,
	[Post_PrimaryOwnerName_DB6C813E_2C3B_6055_4A68_62680D88BC6D] [nvarchar](256) NULL,
	[Pre_VirtualCommunitySuffix_8171C5F0_4AF6_9F55_635C_36680516E186] [nvarchar](256) NULL,
	[Post_VirtualCommunitySuffix_8171C5F0_4AF6_9F55_635C_36680516E186] [nvarchar](256) NULL,
	[Pre_DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] [nvarchar](256) NULL,
	[Post_DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] [nvarchar](256) NULL,
	[Pre_SNMPVersion_3E123035_1664_20F4_43ED_875F388621BB] [int] NULL,
	[Post_SNMPVersion_3E123035_1664_20F4_43ED_875F388621BB] [int] NULL,
	[Pre_SystemObjectID_DDC9050B_19E4_170A_A3DB_5D985C0AC4E5] [nvarchar](256) NULL,
	[Post_SystemObjectID_DDC9050B_19E4_170A_A3DB_5D985C0AC4E5] [nvarchar](256) NULL,
	[Pre_Description_C79E2645_F509_8EEE_210C_CD6108E2364A] [nvarchar](256) NULL,
	[Post_Description_C79E2645_F509_8EEE_210C_CD6108E2364A] [nvarchar](256) NULL,
	[Pre_SupportsSNMP_D84DEAD4_3A54_52C6_BE26_B43FC589D0A5] [bit] NULL,
	[Post_SupportsSNMP_D84DEAD4_3A54_52C6_BE26_B43FC589D0A5] [bit] NULL,
	[Pre_Certification_770F2AEC_DBDA_C9CC_E680_0C3EB68BA002] [nvarchar](256) NULL,
	[Post_Certification_770F2AEC_DBDA_C9CC_E680_0C3EB68BA002] [nvarchar](256) NULL,
	[Pre_SNMPAddress_3D25AA04_B3ED_7489_F61C_6A8AD21115FE] [nvarchar](256) NULL,
	[Post_SNMPAddress_3D25AA04_B3ED_7489_F61C_6A8AD21115FE] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_PrimaryOwnerContact_D3DD3B4C_B1A6_9A2D_8FB7_CD0FEA06FB51] [nvarchar](256) NULL,
	[Post_PrimaryOwnerContact_D3DD3B4C_B1A6_9A2D_8FB7_CD0FEA06FB51] [nvarchar](256) NULL,
	[Pre_PortNumber_A11C97FA_8E78_E0B5_E057_548800987800] [int] NULL,
	[Post_PortNumber_A11C97FA_8E78_E0B5_E057_548800987800] [int] NULL,
	[Pre_Model_4BD92846_5429_2E69_6653_C6A6F7D9D484] [nvarchar](256) NULL,
	[Post_Model_4BD92846_5429_2E69_6653_C6A6F7D9D484] [nvarchar](256) NULL,
	[Pre_AccessMode_2E4EC094_2362_BBF8_123C_141066AD5A78] [nvarchar](256) NULL,
	[Post_AccessMode_2E4EC094_2362_BBF8_123C_141066AD5A78] [nvarchar](256) NULL,
	[Pre_Location_77ACB5E9_165E_2E55_4220_1A8DEE1A305E] [nvarchar](256) NULL,
	[Post_Location_77ACB5E9_165E_2E55_4220_1A8DEE1A305E] [nvarchar](256) NULL,
	[Pre_Vendor_16EE4AB2_CBCC_BAD3_B249_A56E6BF207D0] [nvarchar](256) NULL,
	[Post_Vendor_16EE4AB2_CBCC_BAD3_B249_A56E6BF207D0] [nvarchar](256) NULL,
	[Pre_sysName_EBD2EE76_4A80_E1A2_D2C1_615B586EAD36] [nvarchar](256) NULL,
	[Post_sysName_EBD2EE76_4A80_E1A2_D2C1_615B586EAD36] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$Node_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$Node_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$Node_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
