USE [OperationsManager]
GO
/****** Object:  Table [dbo].[GlobalSettings]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalSettings](
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[SettingValue] [nvarchar](max) NULL,
	[LastModified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagedTypePropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[GlobalSettings] ADD  CONSTRAINT [DF_GlobalSettings_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
