USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9] [int] NULL,
	[ApplicationGroupName_68912EB1_0C6A_DAD8_852D_9754E313CE2C] [nvarchar](256) NULL,
	[ExceptionAlerts_FB1A01CA_6AEC_C93C_6DC4_4BE24AA2D01B] [bit] NULL,
	[SensitivityThreshold_1AA7344D_A619_6BA5_C14E_592090AF1A31] [int] NULL,
	[ResponseFilters_0E41A2A3_9627_2EF8_EC66_B2AED463BEE9] [nvarchar](max) NULL,
	[CounterInstance_E44F2093_F5A6_E776_513E_7121022DFCFD] [nvarchar](512) NULL,
	[PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA] [float] NULL,
	[RequestFilters_DF9AEDA6_F0B3_575A_8491_65944CD73E8B] [nvarchar](max) NULL,
	[AjaxThreshold_93F26715_F711_AF0C_8C31_CE6B5538ABCD] [int] NULL,
	[DisabledContent_627E9F37_BB0E_FB27_6711_74A265F9266B] [int] NULL,
	[PerformanceAlerts_15A1A50B_7E3D_2FD8_7654_17CBB73C9659] [bit] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[IISApplicationPath_733223B8_D8C1_E9B1_9BBC_3DCAF7166CEF] [nvarchar](512) NOT NULL,
	[ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA] [float] NULL,
	[ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A] [nvarchar](256) NOT NULL,
	[PageLoadThreshold_2BEFCAA3_CE9C_5249_0E7C_08A8257FD51A] [int] NULL,
	[ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947] [int] NULL,
	[SamplingRate_A9AE5036_210D_18E9_CE46_35409A86A1B7] [int] NULL,
	[ApplicationName_CDEF0338_455F_866E_5B27_AAB852C1215F] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2] [int] NULL,
	[IPHeaders_4F0D91CD_A3C6_AD34_F46E_8937F70F4DC1] [nvarchar](max) NULL,
	[EncryptionKey_77988267_C2BF_750A_7BF4_2CBEC50344BA] [nvarchar](max) NULL,
	[AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5] [int] NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[StreamFilters_89C46EFA_7B08_0509_FCAC_3F5470301813] [nvarchar](max) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance] ADD  DEFAULT ((1)) FOR [ExceptionAlerts_FB1A01CA_6AEC_C93C_6DC4_4BE24AA2D01B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance] ADD  DEFAULT ((1)) FOR [PerformanceAlerts_15A1A50B_7E3D_2FD8_7654_17CBB73C9659]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([AjaxThreshold_93F26715_F711_AF0C_8C31_CE6B5538ABCD]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([DisabledContent_627E9F37_BB0E_FB27_6711_74A265F9266B]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]>=(0) AND [ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([PageLoadThreshold_2BEFCAA3_CE9C_5249_0E7C_08A8257FD51A]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]>=(0) AND [PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([SamplingRate_A9AE5036_210D_18E9_CE46_35409A86A1B7]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebApplicationInstance]  WITH CHECK ADD CHECK  (([SensitivityThreshold_1AA7344D_A619_6BA5_C14E_592090AF1A31]>=(0)))
GO
