USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$FileSystem]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$FileSystem] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_0F103B89_9E20_E2F7_2784_9C495C084219], T1.[FSDescr_D8FCDD66_8D9E_688C_A650_0BDFCED4C574], T1.[Index_8DC5E2C7_A879_D018_8E4F_BF7BD92B6184], T1.[Key_6D9F01C1_6BCF_2AF1_ACD4_7E9C02972AAE], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Root_0EF0B4A0_44A5_891E_7734_C32A2A1583F2], T2.[DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] AS [DeviceKey_D4E7B84A_973C_DBF0_F22B_3D2000512EF8] FROM [dbo].[MT_System$NetworkManagement$FileSystem] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '3B761B96-644F-2741-3A63-91BC14B7C916'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_System$NetworkManagement$Node] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
