USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$Cosine_EthSubIf_Fault_Interface_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$Cosine_EthSubIf_Fault_Interface_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_CosineEthSubIfFaultIndex_18A8E1E3_80F6_1171_3AD5_B6DA18A69250] [nvarchar](256) NULL,
	[Post_CosineEthSubIfFaultIndex_18A8E1E3_80F6_1171_3AD5_B6DA18A69250] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$Cosine_EthSubIf_Fault_Interface_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
