USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DataWarehouseScript]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataWarehouseScript](
	[DataWarehouseScriptId] [uniqueidentifier] NOT NULL,
	[DataWarehouseScriptName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Install] [nvarchar](max) NOT NULL,
	[Uninstall] [nvarchar](max) NOT NULL,
	[Upgrade] [nvarchar](max) NULL,
	[UpgradeUnsupported] [bit] NULL,
	[DataWarehouseDataSetId] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DataWarehouseScript] PRIMARY KEY CLUSTERED 
(
	[DataWarehouseScriptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataWarehouseScript] ADD  CONSTRAINT [DF_DataWarehouseScript_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DataWarehouseScript] ADD  CONSTRAINT [DF_DataWarehouseScript_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[DataWarehouseScript]  WITH CHECK ADD  CONSTRAINT [FK_DataWarehouseScript_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DataWarehouseScript] CHECK CONSTRAINT [FK_DataWarehouseScript_ManagementPack]
GO
