USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentReferencesStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentReferencesStaging](
	[ComponentReferenceId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentReferenceAccessibility] [tinyint] NOT NULL,
	[ComponentReferenceName] [nvarchar](256) NOT NULL,
	[ComponentReferenceTypeId] [uniqueidentifier] NOT NULL,
	[ComponentReferenceParent] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
