USE [OperationsManager]
GO
/****** Object:  View [dbo].[JobConfigurationView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[JobConfigurationView] AS
    SELECT
          JOB.JobId as Id
        , JOB.BatchId
        , JC.InputConfiguration
        , JC.TaskTimeoutTicks
        , JC.TaskTracingFlag
        , JC.CanCancel
        , JC.CanSuspend
        , BME.DisplayName AS TargetDisplayName
        , T.TaskName
    FROM dbo.JobConfiguration JC 
    INNER JOIN dbo.JobStatus JOB
        ON JOB.JobInternalId = JC.JobInternalId
    INNER JOIN dbo.BaseManagedEntity BME
        ON BME.BaseManagedEntityId = JOB.TargetEntityId
    INNER JOIN dbo.Task T
        ON T.TaskId = JOB.TaskId

/*
SELECT TOP 100 * FROM JobConfigurationView
*/
GO
