USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CredentialHealthService]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CredentialHealthService](
	[InternalId] [int] IDENTITY(1,1) NOT NULL,
	[CredentialHealthServiceId] [uniqueidentifier] NOT NULL,
	[SecureStorageElementId] [uniqueidentifier] NOT NULL,
	[HealthServiceId] [uniqueidentifier] NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_CredentialHealthService] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_CredentialHealthServiceId_Unique] UNIQUE NONCLUSTERED 
(
	[CredentialHealthServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_SecureStorageElementId_CredentialHealthService_Unique] UNIQUE NONCLUSTERED 
(
	[SecureStorageElementId] ASC,
	[HealthServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CredentialHealthService] ADD  DEFAULT (newid()) FOR [CredentialHealthServiceId]
GO
ALTER TABLE [dbo].[CredentialHealthService] ADD  CONSTRAINT [DF_CredentialHealthService_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[CredentialHealthService]  WITH CHECK ADD  CONSTRAINT [FK_CredentialHealthService_BaseManagedEntity] FOREIGN KEY([HealthServiceId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CredentialHealthService] CHECK CONSTRAINT [FK_CredentialHealthService_BaseManagedEntity]
GO
ALTER TABLE [dbo].[CredentialHealthService]  WITH CHECK ADD  CONSTRAINT [FK_CredentialHealthService_CredentialManagerSecureStorage] FOREIGN KEY([SecureStorageElementId])
REFERENCES [dbo].[CredentialManagerSecureStorage] ([SecureStorageElementId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CredentialHealthService] CHECK CONSTRAINT [FK_CredentialHealthService_CredentialManagerSecureStorage]
GO
