USE [OperationsManager]
GO
/****** Object:  View [dbo].[UIPageSetView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UIPageSetView] AS
    SELECT [UIPageSet].[UIPageSetId] AS Id, 
           [UIPageSet].[UIPageSetName] AS [Name], 
           [UIPageSet].[ManagementPackId],
           [UIPageSet].[UIPageSetTypeDefinitionId] AS TypeDefinitionId, 
           [UIPageSet].[UIPageSetOutputTransform] AS OutputTransform, 
           [UIPageSet].[TimeAdded],
           [UIPageSet].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[UIPageSet] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [UIPageSet].[UIPageSetId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [UIPageSet].[UIPageSetId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [UIPageSet].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
