USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MaintenanceModeStatus]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceModeStatus](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ScheduleId] [uniqueidentifier] NULL,
	[IsInMaintenanceMode] [bit] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[ScheduledEndTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[LastModified] [datetime] NOT NULL,
	[ReasonCode] [tinyint] NOT NULL,
	[Comments] [nvarchar](1000) NULL,
	[User] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceModeStatus]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceModeStatus_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceModeStatus] CHECK CONSTRAINT [FK_MaintenanceModeStatus_BaseManagedEntity]
GO
