USE [OperationsManager]
GO
/****** Object:  View [dbo].[ResolutionStateView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Ensuring VIEW is in correct format, no permissions are affected by this change
CREATE VIEW [dbo].[ResolutionStateView] AS
    SELECT  [ResolutionStateId],
            [ResolutionState],
            [ResolutionStateName],
            [IsPredefined],
            [ShortcutKey],
            [MPResourceElementId]
    FROM dbo.[ResolutionState];
GO
