USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$NTServiceInstance]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$NTServiceInstance] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A], T1.[ApplicationGroupName_68912EB1_0C6A_DAD8_852D_9754E313CE2C], T1.[ApplicationName_CDEF0338_455F_866E_5B27_AAB852C1215F], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvgRequestTimeMonitorInterval_6BA69166_4B08_6A8B_7687_654501026AA9], T1.[AvgRequestTimeMonitorThreshold_92C627E4_DC5E_650C_6234_467AA0BE2CE5], T1.[CollectAllExceptions_FE55A398_A9E2_016B_43AB_85944B669495], T1.[CounterInstance_F93DE775_953F_648C_8951_7F53AE7C142C], T1.[ExceptionHandlers_BA16712A_9998_D0EE_FE55_7A4C140A624C], T1.[ExceptionRateMonitorInterval_7549E7B5_686E_3855_46EF_9307F513E947], T1.[ExceptionRateMonitorThreshold_233822F4_A33A_302E_D424_F5AD97A2E8FA], T1.[ExceptionTrackings_663D255A_C475_DFFE_4E71_BC277BC1376B], T1.[Namespaces_E9A0F111_6B14_F2DC_960B_9B6B4E41F6C9], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PerformanceRateMonitorInterval_AA780732_E791_4880_7031_70BEAF0F64F2], T1.[PerformanceRateMonitorThreshold_445E98E0_3CDB_5C87_69D5_2B32B71498DA], T1.[PerformanceThreshold_A150A06F_3A68_25EB_E133_9ADE70F2F6AD], T1.[Resources_3B100249_8EEC_E452_DCC9_17624314954F], T1.[SensitivityThreshold_83C92DE1_164B_7742_87BA_3336CB57937A], T1.[ServiceName_E6BAAB57_63CA_BE03_E3F7_9D0BDF9F4A28], T1.[ServiceProcessName_A5CFAEDC_D632_C0D7_6E7A_A1ECE3C56F1E], T3.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$NTServiceInstance] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'B8EA7930-A793-9B1C-42F7-9746217E409C'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$Apm$ApmAgent] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = '2CA215D3-B164-5281-EF7F-C824BD1EF1F8'  AND RT3.TargetEntityId = T2.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId
GO
