USE [OperationsManager]
GO
/****** Object:  Table [dbo].[LinkedReportStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinkedReportStaging](
	[LinkedReportId] [uniqueidentifier] NOT NULL,
	[LinkedReportName] [nvarchar](256) NOT NULL,
	[BaseReportId] [uniqueidentifier] NOT NULL,
	[Target] [uniqueidentifier] NULL,
	[Accessibility] [tinyint] NOT NULL,
	[Visible] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ParameterBlock] [nvarchar](max) NULL,
	[Parameters] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
