USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitorTypeStateStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorTypeStateStaging](
	[MonitorTypeStateId] [uniqueidentifier] NOT NULL,
	[MonitorTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[MNTSName] [nvarchar](256) NOT NULL,
	[MNTSNoDetection] [bit] NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
