USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$UserActionManager]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$UserActionManager] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[FailureType_4085D965_2C4C_9583_196C_4E680FF8FC9A], T1.[LastModified_27D2BD94_DFB5_B6CB_FFD9_EE58AFC878C2], T1.[ManagementServerName_7C6FA305_39AE_45B3_2337_B0C615ECE039], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PendingStateType_1E39F981_B50F_EB59_5D0A_0A29AD89F574], T1.[TargetDeviceNetworkName_B135297C_EC66_7D3F_BBB5_ED361AF782DB], T1.[TargetDevicePrincipalName_D7D23E5C_2ECA_0615_C3F4_E53D0F9BF86B], T2.[TaskEndTime_F2DD5853_7606_2348_9487_02C2F0AD658C], T2.[TaskStartTime_CBE9B0DE_79B7_9BA8_1BB8_06DB26A45705], T4.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$UserActionManager] T1 LEFT JOIN [dbo].[MT_Microsoft$SystemCenter$AgentManager] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = '47AEFB79-03C8-E48A-5608-E27A2E3E2BA0'  AND RT3.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_HealthService] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT4 ON (RT4.RelationshipTypeId = 'B22D9165-494B-5FA8-57AF-F2C608E103BC'  AND RT4.TargetEntityId = T3.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T4 ON RT4.SourceEntityId = T4.BaseManagedEntityId
GO
