USE [OperationsManager]
GO
/****** Object:  View [dbo].[DisplayStringView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DisplayStringView] AS
	SELECT LT1.LTStringId,
	   LT1.LanguageCode,
	   LT1.LTValue as DisplayName,
	   LT2.LTValue as Description,
	   LT1.ElementName,
	   LT1.SubElementName,
	   LT1.MPElementId,
	   LT1.TimeAdded,
	   LT1.LastModified,
	   ManagementPack.ManagementPackId,       
	   ManagementPack.ContentReadable
	FROM LocalizedText LT1
	LEFT OUTER JOIN LocalizedText LT2
	ON LT1.LTStringId = LT2.LTStringId 
		AND LT1.LanguageCode = LT2.LanguageCode 
		AND LT1.ManagementPackId IS NOT NULL
		AND LT2.ManagementPackId IS NOT NULL 
		AND LT1.LTStringType = 1 
		AND LT2.LTStringType = 2 
	INNER JOIN dbo.ManagementPack 
	ON dbo.ManagementPack.ManagementPackId = LT1.ManagementPackId
	WHERE LT1.LTStringType = 1 AND LT1.ManagementPackId IS NOT NULL
GO
