USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Alert]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alert](
	[AlertId] [uniqueidentifier] NOT NULL,
	[AlertName] [nvarchar](255) NOT NULL,
	[AlertDescription] [nvarchar](2000) NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ProblemId] [uniqueidentifier] NOT NULL,
	[IsMonitorAlert] [bit] NOT NULL,
	[RuleId] [uniqueidentifier] NOT NULL,
	[ResolutionState] [tinyint] NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[Severity] [tinyint] NOT NULL,
	[Category] [nvarchar](256) NOT NULL,
	[Owner] [nvarchar](255) NULL,
	[ResolvedBy] [nvarchar](255) NULL,
	[TimeRaised] [datetime] NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[LastModifiedBy] [nvarchar](255) NULL,
	[LastModifiedExceptRepeatCount] [datetime] NOT NULL,
	[TimeResolved] [datetime] NULL,
	[TimeResolutionStateLastModified] [datetime] NOT NULL,
	[TimeResolutionStateLastModifiedInDB] [datetime] NOT NULL,
	[CustomField1] [nvarchar](255) NULL,
	[CustomField2] [nvarchar](255) NULL,
	[CustomField3] [nvarchar](255) NULL,
	[CustomField4] [nvarchar](255) NULL,
	[CustomField5] [nvarchar](255) NULL,
	[CustomField6] [nvarchar](255) NULL,
	[CustomField7] [nvarchar](255) NULL,
	[CustomField8] [nvarchar](255) NULL,
	[CustomField9] [nvarchar](255) NULL,
	[CustomField10] [nvarchar](255) NULL,
	[TicketId] [nvarchar](150) NULL,
	[Context] [nvarchar](max) NULL,
	[RepeatCount] [int] NOT NULL,
	[AlertStringId] [uniqueidentifier] NULL,
	[AlertParams] [nvarchar](max) NULL,
	[SiteName] [nvarchar](255) NULL,
	[ConnectorId] [uniqueidentifier] NULL,
	[LastModifiedByNonConnector] [datetime] NOT NULL,
	[HiddenState] [tinyint] NOT NULL,
	[TfsWorkItemId] [nvarchar](150) NULL,
	[TfsWorkItemOwner] [nvarchar](255) NULL,
 CONSTRAINT [PK_Alert] PRIMARY KEY NONCLUSTERED 
(
	[AlertId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alert] ADD  CONSTRAINT [DF_Alert_LastModifiedExceptRepeatCount]  DEFAULT (getutcdate()) FOR [LastModifiedExceptRepeatCount]
GO
ALTER TABLE [dbo].[Alert] ADD  CONSTRAINT [DF_Alert_TimeResolutionStateLastModifiedInDB]  DEFAULT (getutcdate()) FOR [TimeResolutionStateLastModifiedInDB]
GO
ALTER TABLE [dbo].[Alert] ADD  CONSTRAINT [DF_Alert_RepeatCount]  DEFAULT ((0)) FOR [RepeatCount]
GO
ALTER TABLE [dbo].[Alert] ADD  CONSTRAINT [DF_Alert_HiddenState]  DEFAULT ((0)) FOR [HiddenState]
GO
ALTER TABLE [dbo].[Alert]  WITH CHECK ADD  CONSTRAINT [FK_Alert_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alert] CHECK CONSTRAINT [FK_Alert_BaseManagedEntity]
GO
ALTER TABLE [dbo].[Alert]  WITH CHECK ADD  CONSTRAINT [FK_Alert_ConnectorId] FOREIGN KEY([ConnectorId])
REFERENCES [dbo].[Connector] ([ConnectorId])
GO
ALTER TABLE [dbo].[Alert] CHECK CONSTRAINT [FK_Alert_ConnectorId]
GO
