USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UserRoleConsoleTask]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleConsoleTask](
	[UserRoleId] [uniqueidentifier] NOT NULL,
	[ConsoleTaskId] [uniqueidentifier] NULL,
	[ScopeId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserRoleConsoleTask_ScopeId_ConsoleTaskId] UNIQUE NONCLUSTERED 
(
	[ScopeId] ASC,
	[ConsoleTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRoleConsoleTask]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleConsoleTask_ConsoleTaskId] FOREIGN KEY([ConsoleTaskId])
REFERENCES [dbo].[ConsoleTask] ([ConsoleTaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleConsoleTask] CHECK CONSTRAINT [FK_UserRoleConsoleTask_ConsoleTaskId]
GO
ALTER TABLE [dbo].[UserRoleConsoleTask]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleConsoleTask_ScopeId] FOREIGN KEY([ScopeId])
REFERENCES [dbo].[UserRoleScopeHandle] ([ScopeId])
GO
ALTER TABLE [dbo].[UserRoleConsoleTask] CHECK CONSTRAINT [FK_UserRoleConsoleTask_ScopeId]
GO
ALTER TABLE [dbo].[UserRoleConsoleTask]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleConsoleTask_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([UserRoleId])
GO
ALTER TABLE [dbo].[UserRoleConsoleTask] CHECK CONSTRAINT [FK_UserRoleConsoleTask_UserRoleId]
GO
