USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UIPageStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UIPageStaging](
	[UIPageId] [uniqueidentifier] NOT NULL,
	[UIPageName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[UIPageAccessibility] [tinyint] NOT NULL,
	[UIPageAssembly] [uniqueidentifier] NULL,
	[UIPageType] [nvarchar](256) NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
