USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MonitoringOverride]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitoringOverride](
	[MonitoringOverrideId] [uniqueidentifier] NOT NULL,
	[OverrideName] [nvarchar](256) NOT NULL,
	[TypeContext] [uniqueidentifier] NOT NULL,
	[InstanceContext] [uniqueidentifier] NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Enforced] [bit] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MonitoringOverride] PRIMARY KEY CLUSTERED 
(
	[MonitoringOverrideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonitoringOverride] ADD  CONSTRAINT [DF_MonitoringOverride_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[MonitoringOverride] ADD  CONSTRAINT [DF_MonitoringOverride_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[MonitoringOverride]  WITH CHECK ADD  CONSTRAINT [FK_MonitoringOverride_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonitoringOverride] CHECK CONSTRAINT [FK_MonitoringOverride_ManagementPack]
GO
