USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$Domain$User]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$Domain$User](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Initials_5777D276_95A6_4949_1775_A2D548D9B474] [nvarchar](256) NULL,
	[Domain_E36D56F2_AD60_E76E_CD5D_9F7AB51AD395] [nvarchar](256) NOT NULL,
	[State_07DB7E81_22E2_F883_E029_CBEF1B921EA6] [nvarchar](256) NULL,
	[Department_312201FE_C1B3_E95A_01DF_E132E9BD3EC9] [nvarchar](256) NULL,
	[Country_CE01FBF1_27FB_DD1E_7EE4_7E9EE3F635C8] [nvarchar](256) NULL,
	[Zip_659D90A7_FAB7_6AF4_1B08_1D78B2A32598] [nvarchar](256) NULL,
	[BusinessPhone2_0612ADE9_6913_10D9_4B12_82B2110BCBFB] [nvarchar](256) NULL,
	[LastName_651E2AAF_6AA9_9423_9D90_4F150DB24C0D] [nvarchar](256) NULL,
	[Pager_E79D9580_9319_B275_9825_FD202D9C38E3] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[BusinessPhone_DF56B912_F9E0_3565_4228_086CEABE35C2] [nvarchar](256) NULL,
	[Company_8CD345AC_E9BC_E5FE_88BA_D281FC29637D] [nvarchar](256) NULL,
	[Fax_60125C1D_A052_B038_3428_880837885320] [nvarchar](256) NULL,
	[Office_E56FF064_8BE8_C0DF_B41D_BB567F74AD7F] [nvarchar](256) NULL,
	[UserName_6AF77E23_669B_123F_B392_323C17097BBD] [nvarchar](256) NOT NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Title_9FC4484D_A0D6_886A_9FB4_5C29E0172EC9] [nvarchar](256) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Mobile_3A783612_39EC_94B5_E71D_2D4C71B3C883] [nvarchar](256) NULL,
	[HomePhone_FDDA48C4_C220_725E_3F2E_32658EFD53E9] [nvarchar](256) NULL,
	[StreetAddress_C1935911_F3AB_8FF6_3DF5_76D73894C682] [nvarchar](1024) NULL,
	[HomePhone2_F9BE9B12_1F88_D35A_2AC6_A6B1049FB80A] [nvarchar](256) NULL,
	[City_363F9AB4_DE91_69F0_854F_5F577324A353] [nvarchar](256) NULL,
	[FirstName_4424C8D5_9E30_E87D_9124_1816663FAFFC] [nvarchar](256) NULL,
	[EmployeeId_0743124F_168A_95A0_1F99_7B26AF587F50] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$Domain$User] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$Domain$User] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
