USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UIDatatypeTransform]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UIDatatypeTransform](
	[UIDatatypeTransformID] [int] IDENTITY(1,1) NOT NULL,
	[DatatypeID] [uniqueidentifier] NOT NULL,
	[LanguageCode] [nvarchar](3) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[Transform] [nvarchar](max) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_UIDatatypeTransform] PRIMARY KEY CLUSTERED 
(
	[UIDatatypeTransformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[UIDatatypeTransform] ADD  CONSTRAINT [DF_UIDatatypeTransform_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[UIDatatypeTransform] ADD  CONSTRAINT [DF_UIDatatypeTransform_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
