USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UserRoleUserAssignment]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleUserAssignment](
	[UserRoleId] [uniqueidentifier] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ScopeId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserRoleUserAssignment_ScopeId_UserId] UNIQUE NONCLUSTERED 
(
	[ScopeId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRoleUserAssignment]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleUserAssignment_ScopeId] FOREIGN KEY([ScopeId])
REFERENCES [dbo].[UserRoleScopeHandle] ([ScopeId])
GO
ALTER TABLE [dbo].[UserRoleUserAssignment] CHECK CONSTRAINT [FK_UserRoleUserAssignment_ScopeId]
GO
ALTER TABLE [dbo].[UserRoleUserAssignment]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleUserAssignment_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserRoleUser] ([UserId])
GO
ALTER TABLE [dbo].[UserRoleUserAssignment] CHECK CONSTRAINT [FK_UserRoleUserAssignment_UserId]
GO
ALTER TABLE [dbo].[UserRoleUserAssignment]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleUserAssignment_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([UserRoleId])
GO
ALTER TABLE [dbo].[UserRoleUserAssignment] CHECK CONSTRAINT [FK_UserRoleUserAssignment_UserRoleId]
GO
