USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$CM$AEM$SystemBucket]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$CM$AEM$SystemBucket] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[BucketType_95B4B312_C7F9_6A2D_97C0_BA5CB9D385A0], T1.[CabFileName_0F49EED0_4C10_E783_9501_984915C37256], T1.[HitTime_F0515FB1_116F_73DA_2689_3A6B96D4B8C5], T1.[MachineName_646B3C35_0F69_F4B9_0ED7_34F91F77B1F8], T1.[MSGenericSolution_1E87F53F_534A_CF63_0564_9F6AD17C0208], T1.[MSGenericSolutionId_06FC3453_454C_5EE4_FEE7_F99E9262B6B1], T1.[MSResponseTypeId_246C271B_3598_0017_3CA8_A337B64030A8], T1.[MSResponseUrl_35AB5B1F_C13E_3D65_BF3A_08CFD25CC6EB], T1.[MSSolutionId_97BE7CB1_C3D5_9A50_5FE6_D14EA8FD4880], T1.[MSSpecificSolution_A0530CE8_CCA9_3D2F_558C_4BE0459B8E5C], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[UserName_D2BBAFEC_A957_D13B_2C94_C74026455AE1] FROM [dbo].[MT_Microsoft$SystemCenter$CM$AEM$SystemBucket] T1
GO
