USE [OperationsManager]
GO
/****** Object:  View [dbo].[UIPageView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UIPageView] AS
    SELECT [UIPage].[UIPageId] AS Id, 
           [UIPage].[UIPageName] AS [Name], 
           [UIPage].[ManagementPackId],
           [UIPage].[UIPageAccessibility] AS Accessibility, 
           [UIPage].[UIPageAssembly] AS Assembly, 
           [UIPage].[UIPageType] AS Type,
           [UIPage].[TimeAdded],
           [UIPage].[LastModified],
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[UIPage] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [UIPage].[UIPageId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [UIPage].[UIPageId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [UIPage].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
