USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Warehouse$CubeExtension]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Warehouse$CubeExtension] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Actions_3F201C40_4F3F_E496_669E_81C8B7526F54], T1.[Comment_3D73C398_DA30_347E_3F59_F034DBBD3CBC], T1.[CustomMDX_056B2332_BB9A_DCEC_401F_B25A16485C60], T1.[Domain_B4EC57C4_9AB7_1E73_276F_7DD1DED4D018], T1.[ID_17CBD51E_016D_B88E_2807_FBD8D2B8EE65], T1.[Internal_ElementId_538A4619_C36F_1FC3_EF99_91E2C46FBB4B], T1.[Internal_ManagementPackId_632F11E2_C888_9C4B_95F6_DA4D83B09E16], T1.[Internal_ParentId_29D6CD66_B56D_6340_248D_E37311561650], T1.[KPIS_CA0C20B6_38DD_D4B8_6C09_D7BBD5BCCBB6], T1.[ManyToManyRelationships_0710EE73_4CC1_640F_68DA_BAD919EC51BD], T1.[Measures_1E453976_C4A3_3D6D_EE39_682940526AD2], T1.[NamedCalculations_1BD44213_FAED_E754_454F_689979A301CE], T1.[Path_18EAC831_7885_85A7_A3A0_A2C23B1D1096], T1.[Target_C3276AFE_0945_515A_2BDF_CA0C224BA32E] FROM [dbo].[MT_Microsoft$SystemCenter$Warehouse$CubeExtension] T1
GO
