USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_AzApplicationGroup]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_AzApplicationGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectGuid] [uniqueidentifier] NULL,
	[StoreID] [int] NULL,
	[AppID] [int] NULL,
	[ScopeID] [int] NULL,
	[ParentType] [tinyint] NOT NULL,
	[Name] [nvarchar](64) NULL,
	[Description] [nvarchar](1024) NULL,
	[ApplicationData] [ntext] NULL,
	[GroupType] [tinyint] NULL,
	[LdapQueryID] [int] NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
	[ChildUpdateTimeStamp] [binary](8) NULL,
 CONSTRAINT [PK_AzMan_AzApplicationGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_AzApplicationGroup]  WITH NOCHECK ADD  CONSTRAINT [FK_AzMan_AzAppGroup_AzMan_AzApplication] FOREIGN KEY([AppID])
REFERENCES [dbo].[AzMan_AzApplication] ([ID])
GO
ALTER TABLE [dbo].[AzMan_AzApplicationGroup] NOCHECK CONSTRAINT [FK_AzMan_AzAppGroup_AzMan_AzApplication]
GO
ALTER TABLE [dbo].[AzMan_AzApplicationGroup]  WITH NOCHECK ADD  CONSTRAINT [FK_AzMan_AzAppGroup_AzMan_AzAuthorizationStore] FOREIGN KEY([StoreID])
REFERENCES [dbo].[AzMan_AzAuthorizationStore] ([ID])
GO
ALTER TABLE [dbo].[AzMan_AzApplicationGroup] NOCHECK CONSTRAINT [FK_AzMan_AzAppGroup_AzMan_AzAuthorizationStore]
GO
ALTER TABLE [dbo].[AzMan_AzApplicationGroup]  WITH NOCHECK ADD  CONSTRAINT [FK_AzMan_AzAppGroup_AzMan_AzScope] FOREIGN KEY([ScopeID])
REFERENCES [dbo].[AzMan_AzScope] ([ID])
GO
ALTER TABLE [dbo].[AzMan_AzApplicationGroup] NOCHECK CONSTRAINT [FK_AzMan_AzAppGroup_AzMan_AzScope]
GO
ALTER TABLE [dbo].[AzMan_AzApplicationGroup]  WITH NOCHECK ADD  CONSTRAINT [CK_AzMan_AzApplicationGroup] CHECK  ((((sign(coalesce([StoreID],(0)))+sign(coalesce([AppID],(0))))+sign(coalesce([ScopeID],(0))))=(1)))
GO
ALTER TABLE [dbo].[AzMan_AzApplicationGroup] CHECK CONSTRAINT [CK_AzMan_AzApplicationGroup]
GO
