USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ViewSetting]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewSetting](
	[ViewId] [uniqueidentifier] NOT NULL,
	[Setting] [nvarchar](max) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ViewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ViewSetting] ADD  CONSTRAINT [DF_ViewSetting_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ViewSetting] ADD  CONSTRAINT [DF_ViewSetting_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ViewSetting]  WITH CHECK ADD  CONSTRAINT [FK_ViewSetting_Views] FOREIGN KEY([ViewId])
REFERENCES [dbo].[Views] ([ViewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ViewSetting] CHECK CONSTRAINT [FK_ViewSetting_Views]
GO
