USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$LucentLannet_Fault_Port]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$LucentLannet_Fault_Port](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[LucentLannetFaultIndex_36DBAF19_DB91_3D58_120E_6CF5F7B15665] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$LucentLannet_Fault_Port] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
