USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ResourceStaging]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceStaging](
	[ResourceId] [uniqueidentifier] NOT NULL,
	[ResourceName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Accessibility] [tinyint] NOT NULL,
	[ResourceType] [tinyint] NOT NULL,
	[QualifiedName] [nvarchar](2000) NULL,
	[MimeType] [nvarchar](256) NULL,
	[ResourceDependencies] [nvarchar](max) NULL,
	[HasNullStream] [bit] NOT NULL,
	[FileName] [nvarchar](256) NULL,
	[FileCreationDate] [datetime] NULL,
	[FileModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
