USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$Announcement$Item]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$Announcement$Item] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[Body_3D226BC1_0528_14EA_F3FB_3823A132B4F8], T1.[ExpirationDate_DDB905FF_A923_F97D_D00B_6430C2CD5E95], T1.[Id_8742B18B_0B63_CB19_6AFE_1EC418D9E27D], T1.[Priority_6986BA50_58CF_ABCA_FB58_8FCAB694E6C9], T1.[Title_A24FDDD9_5BC0_B3D0_E014_1F98C0B9143E] FROM [dbo].[MT_System$Announcement$Item] T1
GO
