USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$DeviceHasSoftwareItemInstalled]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$DeviceHasSoftwareItemInstalled](
	[RelationshipId] [uniqueidentifier] NOT NULL,
	[SerialNumber_D803257A_E356_3566_A123_B77FA99EFEA9] [nvarchar](256) NULL,
	[InstalledPath_597E0E4A_E47C_4D14_5DAA_9828FD2A67FC] [nvarchar](256) NULL,
	[InstalledDate_0D2C1B7B_C79E_B8F0_E13F_071ABE9B9E2A] [datetime] NULL,
 CONSTRAINT [PK_MT_System$DeviceHasSoftwareItemInstalled] PRIMARY KEY CLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
