USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$ApmAgent]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$ApmAgent](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[PerformanceThreshold_FE0AD259_F3C3_6E3E_9C9B_58711ADAA50A] [int] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[SensitivityThreshold_252C8CA2_DD72_1E40_EB2D_525933BD63EB] [int] NULL,
	[EnableDisableEventThrottling_91390CBD_CDD3_3085_3215_99ADBCC5B2BE] [bit] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[EnableAllCriticalExceptions_08BBE584_0296_A9ED_CE3C_9050EF7D91FE] [bit] NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[EnableMonitoringAllWebApplications_DA393112_A84E_D44D_E246_AA7D3B74BEA2] [bit] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$ApmAgent] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$ApmAgent] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
