USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UserRoleGroupType]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleGroupType](
	[UserRoleId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NULL,
	[TypeId] [uniqueidentifier] NULL,
	[PropertyId] [uniqueidentifier] NULL,
	[RelationshipTypeId] [uniqueidentifier] NULL,
	[RelationshipEndpoint] [tinyint] NULL,
	[ScopeType] [int] NOT NULL,
	[ScopeId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserRoleGroupType_ScopeId_ScopeType_GroupId_TypeId] UNIQUE NONCLUSTERED 
(
	[ScopeId] ASC,
	[ScopeType] ASC,
	[GroupId] ASC,
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRoleGroupType]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleGroupType_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleGroupType] CHECK CONSTRAINT [FK_UserRoleGroupType_GroupId]
GO
ALTER TABLE [dbo].[UserRoleGroupType]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleGroupType_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[ManagedTypeProperty] ([ManagedTypePropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleGroupType] CHECK CONSTRAINT [FK_UserRoleGroupType_PropertyId]
GO
ALTER TABLE [dbo].[UserRoleGroupType]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleGroupType_ScopeId] FOREIGN KEY([ScopeId])
REFERENCES [dbo].[UserRoleScopeHandle] ([ScopeId])
GO
ALTER TABLE [dbo].[UserRoleGroupType] CHECK CONSTRAINT [FK_UserRoleGroupType_ScopeId]
GO
ALTER TABLE [dbo].[UserRoleGroupType]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleGroupType_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleGroupType] CHECK CONSTRAINT [FK_UserRoleGroupType_TypeId]
GO
ALTER TABLE [dbo].[UserRoleGroupType]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleGroupType_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([UserRoleId])
GO
ALTER TABLE [dbo].[UserRoleGroupType] CHECK CONSTRAINT [FK_UserRoleGroupType_UserRoleId]
GO
ALTER TABLE [dbo].[UserRoleGroupType]  WITH CHECK ADD  CONSTRAINT [CK_GroupTypeRelationshipEndpoint] CHECK  (([RelationshipEndpoint]=(8) OR [RelationshipEndpoint]=(4) OR [RelationshipEndpoint]=(2)))
GO
ALTER TABLE [dbo].[UserRoleGroupType] CHECK CONSTRAINT [CK_GroupTypeRelationshipEndpoint]
GO
ALTER TABLE [dbo].[UserRoleGroupType]  WITH CHECK ADD  CONSTRAINT [CK_GroupTypeScopeType] CHECK  (([ScopeType]=(8) OR [ScopeType]=(4) OR [ScopeType]=(2)))
GO
ALTER TABLE [dbo].[UserRoleGroupType] CHECK CONSTRAINT [CK_GroupTypeScopeType]
GO
