USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_WatsonBucket]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_WatsonBucket] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AppName], T1.[AppVer], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[BucketType], T1.[CustomGetCurrentOfficeDoc], T1.[CustomGetFile], T1.[CustomGetFileVersion], T1.[CustomMemoryDump], T1.[CustomRegKey], T1.[CustomRegTree], T1.[CustomResponseUrl], T1.[CustomWQL], T1.[MSBucket], T1.[MSBucketTable], T1.[MSDisplayType], T1.[MSGetCurrentOfficeDoc], T1.[MSGetFile], T1.[MSGetFileVersion], T1.[MSMemoryDump], T1.[MSRegKey], T1.[MSRegTree], T1.[MSResponseUrl], T1.[MSWQL], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Parameter1], T1.[Parameter10], T1.[Parameter11], T1.[Parameter2], T1.[Parameter3], T1.[Parameter4], T1.[Parameter5], T1.[Parameter6], T1.[Parameter7], T1.[Parameter8], T1.[Parameter9], T1.[SelectedCollectionResponseType], T1.[SelectedSolutionResponseType], T2.[ApplicationVersion] AS [ApplicationVersion], T2.[ApplicationName] AS [ApplicationName] FROM [dbo].[MT_WatsonBucket] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '3F98345D-0D05-200C-77BF-367C65032533'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Application] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
