USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MaintenanceModeSchedulesMigrationLogs]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceModeSchedulesMigrationLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoggingDateTime] [datetime] NULL,
	[SQLProcName] [nvarchar](500) NULL,
	[MessageType] [nvarchar](50) NULL,
	[Message] [nvarchar](3000) NULL
) ON [PRIMARY]
GO
