USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$Disk]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$Disk](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Capacity_DD8034BA_3B2A_A818_2043_B03C02EEF6E0] [int] NULL,
	[Access_31032687_5CBB_89F1_D3AC_0D1767E46091] [nvarchar](256) NULL,
	[Removable_0731E8B3_48CE_03EF_1940_53446320532E] [bit] NULL,
	[Media_A205CA77_222E_79EF_191D_51C739C07686] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Index_020C23A0_E195_EB5D_81C6_396E8B7B98F7] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Description_A782C9D3_F809_2DED_760B_B56A46256F09] [nvarchar](256) NULL,
	[Key_78DD6973_976C_6E0B_CDCF_1CF9DA6A3AD1] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$Disk] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$Disk] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
