USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Cause]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cause](
	[CauseId] [uniqueidentifier] NOT NULL,
	[CauseName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TargetManagedEntityType] [uniqueidentifier] NOT NULL,
	[CauseAccessibility] [tinyint] NOT NULL,
	[CauseActionable] [bit] NOT NULL,
	[CauseAprioriProbability] [int] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cause] ADD  CONSTRAINT [DF_Cause_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Cause] ADD  CONSTRAINT [DF_Cause_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Cause]  WITH CHECK ADD  CONSTRAINT [FK_Cause_ManagedType] FOREIGN KEY([TargetManagedEntityType])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[Cause] CHECK CONSTRAINT [FK_Cause_ManagedType]
GO
ALTER TABLE [dbo].[Cause]  WITH CHECK ADD  CONSTRAINT [FK_Cause_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cause] CHECK CONSTRAINT [FK_Cause_ManagementPack]
GO
