USE [OperationsManager]
GO
/****** Object:  Table [dbo].[Discovery]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discovery](
	[DiscoveryId] [uniqueidentifier] NOT NULL,
	[DiscoveryName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[DiscoveryAccessibility] [tinyint] NOT NULL,
	[DiscoveryEnabled] [tinyint] NOT NULL,
	[DiscoveryTarget] [uniqueidentifier] NOT NULL,
	[DiscoveryConfirmDelivery] [bit] NOT NULL,
	[DiscoveryRemotable] [bit] NOT NULL,
	[DiscoveryCategory] [tinyint] NOT NULL,
	[DiscoveryPriority] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Discovery] PRIMARY KEY CLUSTERED 
(
	[DiscoveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Discovery] ADD  CONSTRAINT [DF_Discovery_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Discovery] ADD  CONSTRAINT [DF_Discovery_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
