USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Unix$ComputerNetworkAdapter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Unix$ComputerNetworkAdapter](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[MACAddress_BBDEC53A_409C_7DBF_05E9_8CA3A6CE2986] [nvarchar](64) NULL,
	[IPSubnet_A8CAC2E7_70B3_655F_801D_43AA0B7A73B1] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[IPAddress_A3CE82EE_1185_B420_356A_009C2316C513] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[DeviceID_49D62F30_C2B0_CC16_D179_3E002D024B29] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_MT_Microsoft$Unix$ComputerNetworkAdapter] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Unix$ComputerNetworkAdapter] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
