USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$Domain$User]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$Domain$User] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[BusinessPhone_DF56B912_F9E0_3565_4228_086CEABE35C2], T1.[BusinessPhone2_0612ADE9_6913_10D9_4B12_82B2110BCBFB], T1.[City_363F9AB4_DE91_69F0_854F_5F577324A353], T1.[Company_8CD345AC_E9BC_E5FE_88BA_D281FC29637D], T1.[Country_CE01FBF1_27FB_DD1E_7EE4_7E9EE3F635C8], T1.[Department_312201FE_C1B3_E95A_01DF_E132E9BD3EC9], T1.[Domain_E36D56F2_AD60_E76E_CD5D_9F7AB51AD395], T1.[EmployeeId_0743124F_168A_95A0_1F99_7B26AF587F50], T1.[Fax_60125C1D_A052_B038_3428_880837885320], T1.[FirstName_4424C8D5_9E30_E87D_9124_1816663FAFFC], T1.[HomePhone_FDDA48C4_C220_725E_3F2E_32658EFD53E9], T1.[HomePhone2_F9BE9B12_1F88_D35A_2AC6_A6B1049FB80A], T1.[Initials_5777D276_95A6_4949_1775_A2D548D9B474], T1.[LastName_651E2AAF_6AA9_9423_9D90_4F150DB24C0D], T1.[Mobile_3A783612_39EC_94B5_E71D_2D4C71B3C883], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[Office_E56FF064_8BE8_C0DF_B41D_BB567F74AD7F], T1.[Pager_E79D9580_9319_B275_9825_FD202D9C38E3], T1.[State_07DB7E81_22E2_F883_E029_CBEF1B921EA6], T1.[StreetAddress_C1935911_F3AB_8FF6_3DF5_76D73894C682], T1.[Title_9FC4484D_A0D6_886A_9FB4_5C29E0172EC9], T1.[UserName_6AF77E23_669B_123F_B392_323C17097BBD], T1.[Zip_659D90A7_FAB7_6AF4_1B08_1D78B2A32598], T2.[DistinguishedName_CDBAEFE6_2197_3685_EA23_CAEB31D4DDFC], T2.[FQDN_3F0E386D_5F63_F206_46AB_DA9DBE372942], T2.[ObjectGuid_8F760528_A519_ED48_891C_329F5CE7C62B], T2.[OrganizationalUnit_13D8EA29_A659_92AE_C78F_8047469D8C96], T2.[SID_2B788C53_3ACE_8BAE_3AFE_0941D0147BA4], T2.[UPN_7641DFF7_7A20_DC04_FC1C_B6FA8715DA02] FROM [dbo].[MT_System$Domain$User] T1 LEFT JOIN [dbo].[MT_Microsoft$AD$UserBase] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId
GO
