USE [OperationsManager]
GO
/****** Object:  View [dbo].[TemplateView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TemplateView] AS
    SELECT [Template].[TemplateId] AS Id, 
           [Template].[ManagementPackId] AS ManagementPackId, 
           [Template].[TemplateName] AS [Name], 
           [Template].[TemplateConfiguration] AS ConfigurationXsd,
           [Template].[TemplateReferences] AS ReferencesXml,
           [Template].[TemplateImplementation] AS ImplementationXml,
           [Template].TimeAdded,
           [Template].LastModified,
		   CAST((CASE WHEN EXISTS (select UIPageSetId from UIPageSet where UIPageSetTypeDefinitionId = dbo.[Template].[TemplateId]) THEN 1 ELSE 0 END) AS bit) AS HasMonitoringPageSet,
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[Template]  LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [Template].[TemplateId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [Template].[TemplateId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
    INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [Template].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1
GO
