USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$DeviceHasSoftwareUpdateInstalled]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$DeviceHasSoftwareUpdateInstalled] AS SELECT R.RelationshipId, BME1.BaseManagedTypeId AS SourceTypeId, 
	BME2.BaseManagedTypeId AS TargetTypeId , T.[InstallStatus_B9EF62AC_E4B8_A536_2DAC_12302C2A729D] FROM [MT_System$DeviceHasSoftwareUpdateInstalled] T  RIGHT OUTER JOIN dbo.[Relationship] R ON R.RelationshipId = T.RelationshipId
 		JOIN dbo.BaseManagedEntity BME1 ON BME1.BaseManagedEntityId = R.SourceEntityId
		JOIN dbo.BaseManagedEntity BME2 ON BME2.BaseManagedEntityId = R.TargetEntityId
		WHERE R.IsDeleted = 0 AND R.RelationshipTypeId = '37BEEA15-DD27-658F-A1C0-E6A5DE2CC27A'
GO
