USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MaintenanceModeSchedule]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceModeSchedule](
	[ScheduleId] [uniqueidentifier] NOT NULL,
	[ScheduleName] [nvarchar](500) NOT NULL,
	[Recursive] [bit] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[IsRecurrence] [bit] NOT NULL,
	[IsEndTimeSpecified] [bit] NOT NULL,
	[Duration] [int] NOT NULL,
	[ScheduledEndTime] [datetime] NULL,
	[ActiveStartDate] [date] NULL,
	[ReasonCode] [tinyint] NOT NULL,
	[Comments] [nvarchar](1000) NULL,
	[User] [nvarchar](256) NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[NextRunTIme] [datetime] NULL,
	[LastRunTIme] [datetime] NULL,
	[ActiveStartTime] [datetime] NULL,
	[ActiveEndDate] [datetime] NULL,
	[Freq_type] [int] NULL,
	[Freq_interval] [int] NULL,
	[Freq_subday_type] [int] NULL,
	[Freq_subday_interval] [int] NULL,
	[Freq_relative_interval] [int] NULL,
	[Freq_recurrence_factor] [int] NULL,
 CONSTRAINT [PK_MaintenanceModeScheduleId] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceModeSchedule] ADD  DEFAULT (newsequentialid()) FOR [ScheduleId]
GO
