USE [OperationsManager]
GO
/****** Object:  Table [dbo].[BehaviorTypesStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BehaviorTypesStaging](
	[BehaviorTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[BehaviorTypeAccessibility] [tinyint] NOT NULL,
	[BehaviorTypeName] [nvarchar](256) NOT NULL,
	[BehaviorTypeBase] [uniqueidentifier] NULL,
	[BehaviorTypeXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
