USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$UnixProcess]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$UnixProcess](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[MonitoringTargetName_24968943_7ABD_FD0A_7D3F_A69767698D72] [nvarchar](256) NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[AlertSeverity_61F22410_589C_5634_78EF_F6389F6AB051] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[MinProcessCount_23798EE2_8EF7_FECB_7F6C_7AE64F618797] [int] NULL,
	[ArgumentsFilterExpression_1F41F3E9_35BE_2A81_180B_A9BA6D5BD769] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[ProcessName_3BA74C12_0C0F_658A_406F_3E79F2299700] [nvarchar](256) NOT NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[MonitoringTargetId_B692FCD2_ECE6_B422_2988_02A4D037FBC7] [nvarchar](256) NULL,
	[MaxProcessCount_F66FD5E4_9994_5D03_70EC_1FEC8E6CF714] [int] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$UnixProcess] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$UnixProcess] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
