USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$DataWarehouse]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$DataWarehouse](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[MainDatabaseServerName_2C77AA48_DB0A_5D69_F8FF_20E48F3AED0F] [nvarchar](255) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[ReportRootFolderName_935E6ACF_5C4F_D326_1742_EC0B385A7995] [nvarchar](255) NULL,
	[MyReportsFolderName_97B0106C_C810_25F3_A4F2_DD6C67CB443D] [nvarchar](255) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[MainDatabaseName_F46548FC_0DFA_877A_A52C_BB8731EBD70D] [nvarchar](255) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[ReportingServerUrl_0A962976_6409_BB6D_3276_E84BD95B0BAC] [nvarchar](255) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$DataWarehouse] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$DataWarehouse] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
