USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DatatypeStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatatypeStaging](
	[DatatypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[DatatypeName] [nvarchar](256) NOT NULL,
	[DatatypeAccessibility] [tinyint] NOT NULL,
	[BaseDatatypeId] [uniqueidentifier] NULL,
	[Comment] [nvarchar](255) NULL,
	[Implementation] [nvarchar](max) NULL,
	[Assembly] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
