USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$Apm$MvcTransaction]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$Apm$MvcTransaction] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[ActionName_B6CD2D5F_093E_A481_3678_6A660C70531D], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[AvgRequestTimeMonitorInterval_2F4143D5_B14D_7EAB_DB19_7DB638EEACC9], T1.[AvgRequestTimeMonitorThreshold_0122E3E9_2DD9_D6C5_4BC0_DBBA9754A812], T1.[ControllerName_99D15E1A_1304_CEB1_4383_F6AE960EBD05], T1.[CounterInstance_6A9D4609_9BA4_6D0F_46D8_2885F5D0B593], T1.[ExceptionRateMonitorInterval_46F97524_839B_E6ED_D2E5_ADE2C79AFCA4], T1.[ExceptionRateMonitorThreshold_1D4B8E57_8A72_16F9_556E_A660F2C84F34], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PerformanceRateMonitorInterval_2DD5A9EF_A323_321A_6EE5_21AFF84A05A7], T1.[PerformanceRateMonitorThreshold_DB84278C_8F53_AB31_10EC_514F4D8968CA], T1.[PerformanceThreshold_E41A4250_D253_BBC7_97E6_413DA39D1CAC], T1.[SensitivityThreshold_66E586A5_9DF6_2CA8_A4BA_8C1A9722FF5C], T1.[TransactionName_B74261D5_A2E0_957B_CE70_07B9D5DF3426], T2.[ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A] AS [ApplicationGroupId_29621CC9_FCF3_D08D_90C8_4998D7A49E2A], T2.[IISApplicationPath_406741AA_EFCC_C486_FE49_7382722F85A9] AS [IISApplicationPath_406741AA_EFCC_C486_FE49_7382722F85A9], T4.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$Apm$MvcTransaction] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '16EF53BB-A2FC-5E75-3DE1-41CF2E86B73A'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$Apm$WebApplicationInstance] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT3 ON (RT3.RelationshipTypeId = 'B8EA7930-A793-9B1C-42F7-9746217E409C'  AND RT3.TargetEntityId = T2.BaseManagedEntityId) LEFT JOIN [MTV_Microsoft$SystemCenter$Apm$ApmAgent] T3 ON RT3.SourceEntityId = T3.BaseManagedEntityId  LEFT JOIN [dbo].[Relationship] RT4 ON (RT4.RelationshipTypeId = '2CA215D3-B164-5281-EF7F-C824BD1EF1F8'  AND RT4.TargetEntityId = T3.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T4 ON RT4.SourceEntityId = T4.BaseManagedEntityId
GO
