USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentImplementations]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentImplementations](
	[ComponentImplementationId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentImplementationAccessibility] [tinyint] NOT NULL,
	[ComponentImplementationName] [nvarchar](256) NOT NULL,
	[ComponentImplementationTypeId] [uniqueidentifier] NOT NULL,
	[ComponentImplementationTarget] [nvarchar](max) NULL,
	[ComponentImplementationPlatform] [int] NOT NULL,
	[ComponentImplementationXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ComponentImplementations] PRIMARY KEY CLUSTERED 
(
	[ComponentImplementationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComponentImplementations] ADD  DEFAULT ((0)) FOR [ComponentImplementationPlatform]
GO
ALTER TABLE [dbo].[ComponentImplementations] ADD  CONSTRAINT [DF_ComponentImplementations_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ComponentImplementations] ADD  CONSTRAINT [DF_ComponentImplementations_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ComponentImplementations]  WITH CHECK ADD  CONSTRAINT [FK_ComponentImplementations_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComponentImplementations] CHECK CONSTRAINT [FK_ComponentImplementations_ManagementPack]
GO
