USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ReportParameterControl]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportParameterControl](
	[ReportParameterControlId] [uniqueidentifier] NOT NULL,
	[ReportParameterControlName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ReportParameterControlAccessibility] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ReportParameterControl] PRIMARY KEY CLUSTERED 
(
	[ReportParameterControlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportParameterControl] ADD  CONSTRAINT [DF_ReportParameter_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ReportParameterControl] ADD  CONSTRAINT [DF_ReportParameter_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ReportParameterControl]  WITH CHECK ADD  CONSTRAINT [FK_ReportParameterControl_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportParameterControl] CHECK CONSTRAINT [FK_ReportParameterControl_ManagementPack]
GO
