USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AlertSubscriptionState]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertSubscriptionState](
	[RuleId] [uniqueidentifier] NOT NULL,
	[TargetBaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[State] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Rule_TargetBaseManagedEntity] PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC,
	[TargetBaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertSubscriptionState] ADD  CONSTRAINT [DF_AlertSubscriptionState_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[AlertSubscriptionState]  WITH CHECK ADD  CONSTRAINT [FK_AlertSubscriptionState_RuleId] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rules] ([RuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlertSubscriptionState] CHECK CONSTRAINT [FK_AlertSubscriptionState_RuleId]
GO
ALTER TABLE [dbo].[AlertSubscriptionState]  WITH CHECK ADD  CONSTRAINT [FK_AlertSubscriptionState_TargetBaseManagedEntityId] FOREIGN KEY([TargetBaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlertSubscriptionState] CHECK CONSTRAINT [FK_AlertSubscriptionState_TargetBaseManagedEntityId]
GO
