USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$ManagementDataAccessServiceGroup]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$ManagementDataAccessServiceGroup] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], COALESCE (T1.[SdkDataTimestamp_C603A745_CCAD_1A38_C687_4E72D499DF82], (SELECT [SettingValue] FROM dbo.[GlobalSettings] WHERE [ManagedTypePropertyId] = 'D9DDA16A-1E71-C720-3DBA-C9AD8933F92B')) AS [SdkDataTimestamp_C603A745_CCAD_1A38_C687_4E72D499DF82] FROM [dbo].[MT_Microsoft$SystemCenter$ManagementDataAccessServiceGroup] T1 RIGHT OUTER JOIN dbo.BaseManagedEntity BME ON BME.BaseManagedEntityId = T1.BaseManagedEntityId WHERE BME.IsDeleted = 0 AND BME.BaseManagedTypeId = '5089FE1D-CE58-85D3-E5E0-7A5991EE05AD'
GO
