USE [OperationsManager]
GO
/****** Object:  Table [dbo].[PerformanceSignature]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceSignature](
	[PerformanceSignatureId] [uniqueidentifier] NOT NULL,
	[ObjectName] [nvarchar](255) NOT NULL,
	[CounterName] [nvarchar](255) NOT NULL,
	[InstanceName] [nvarchar](255) NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[LearningRuleId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
 CONSTRAINT [PK_PerformanceSignature] PRIMARY KEY CLUSTERED 
(
	[PerformanceSignatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerformanceSignature] ADD  CONSTRAINT [DF_PerformanceSignature_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[PerformanceSignature]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceSignature_BaseManagedEntity] FOREIGN KEY([BaseManagedEntityId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerformanceSignature] CHECK CONSTRAINT [FK_PerformanceSignature_BaseManagedEntity]
GO
ALTER TABLE [dbo].[PerformanceSignature]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceSignature_Rules] FOREIGN KEY([LearningRuleId])
REFERENCES [dbo].[Rules] ([RuleId])
GO
ALTER TABLE [dbo].[PerformanceSignature] CHECK CONSTRAINT [FK_PerformanceSignature_Rules]
GO
