USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$SystemCenter$ManagementConfigurationService]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$SystemCenter$ManagementConfigurationService] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_EE27B9EE_18AB_E2E3_D4CA_F0EFA702A463], T1.[DisplayName_D445248D_CBE1_9C0D_FA7C_8CBCDD91DB5E], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[ServiceName_7CA37376_3C78_6543_8575_5D8BB29F3880], T1.[ServiceProcessName_626BBC3A_7B19_B10C_1BA6_0753BDC334C4], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$SystemCenter$ManagementConfigurationService] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = 'B22D9165-494B-5FA8-57AF-F2C608E103BC'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
