USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[ExceptionAlerts_2A884427_54BC_6688_4527_29CD8F4EE23D] [bit] NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[AvgRequestTimeMonitorEnabled_91FBBEEB_24F1_63D8_5023_C9A9047B86A9] [bit] NULL,
	[PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928] [float] NULL,
	[PerformanceAlerts_8A09C2A4_A24F_696F_8814_CD7271EA36AB] [bit] NULL,
	[SensitivityThreshold_1EC4CF49_EFF7_AEA9_8616_65F5EFB6CB4E] [int] NULL,
	[TransactionName_D55C57A4_E5F7_7F71_492B_4E3752102112] [nvarchar](256) NOT NULL,
	[PerformanceRateMonitorInterval_92B088DF_EC3C_042D_402E_15A1EC15EF5F] [int] NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[ExceptionRateMonitorInterval_CD8231FC_A4B8_1214_2824_32F03F9CED7A] [int] NULL,
	[PageLoadThreshold_3891F7D1_92C0_87C4_947F_F2390310195C] [int] NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[ExceptionRateMonitorEnabled_20F36EB7_7465_444F_BA09_DDE1E7BFB182] [bit] NULL,
	[AvgRequestTimeMonitorInterval_4F3C422D_EB90_9804_B5A7_EAC4F5F3F606] [int] NULL,
	[ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1] [float] NULL,
	[PageName_EFA0DA87_407D_A2F8_1B2E_E79931C5C533] [nvarchar](512) NOT NULL,
	[PerformanceRateMonitorEnabled_FB710B57_5DCD_C59B_B246_983FE81921E9] [bit] NULL,
	[AvgRequestTimeMonitorThreshold_B28E9358_78A8_9F3D_CF7B_C8A98149D7D2] [int] NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorInterval_4F3C422D_EB90_9804_B5A7_EAC4F5F3F606]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]  WITH CHECK ADD CHECK  (([AvgRequestTimeMonitorThreshold_B28E9358_78A8_9F3D_CF7B_C8A98149D7D2]>=(1)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorInterval_CD8231FC_A4B8_1214_2824_32F03F9CED7A]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]  WITH CHECK ADD CHECK  (([ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1]>=(0) AND [ExceptionRateMonitorThreshold_0A685C28_8406_64EE_ACCD_9556DCF510E1]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]  WITH CHECK ADD CHECK  (([PageLoadThreshold_3891F7D1_92C0_87C4_947F_F2390310195C]>=(0)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928]>=(0) AND [PerformanceRateMonitorThreshold_10283AD4_809C_3B66_8659_8B79816E9928]<=(100)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]  WITH CHECK ADD CHECK  (([PerformanceRateMonitorInterval_92B088DF_EC3C_042D_402E_15A1EC15EF5F]>=(30)))
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Apm$CsmWebPageTransactionRole]  WITH CHECK ADD CHECK  (([SensitivityThreshold_1EC4CF49_EFF7_AEA9_8616_65F5EFB6CB4E]>=(0)))
GO
