USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MigrationManagementPacks]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigrationManagementPacks](
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ManagementPackMigrate] [tinyint] NOT NULL,
	[ManagementPackXml] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
