USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Installed$Database_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Installed$Database_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ProductDisplayName_C49DA63D_43EB_9C55_4EB5_EAA599CE2421] [nvarchar](256) NULL,
	[Post_ProductDisplayName_C49DA63D_43EB_9C55_4EB5_EAA599CE2421] [nvarchar](256) NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_Version_EA2D7AC6_309F_E0DB_85A8_5AB95B072C41] [nvarchar](256) NULL,
	[Post_Version_EA2D7AC6_309F_E0DB_85A8_5AB95B072C41] [nvarchar](256) NULL,
	[Pre_DatabaseName_903CBA20_8ED0_46E7_9FC8_7E0478378FB9] [nvarchar](256) NULL,
	[Post_DatabaseName_903CBA20_8ED0_46E7_9FC8_7E0478378FB9] [nvarchar](256) NULL,
	[Pre_ComputerName_87BEB26F_C002_9A05_63DB_9B2DCBBEE16B] [nvarchar](256) NULL,
	[Post_ComputerName_87BEB26F_C002_9A05_63DB_9B2DCBBEE16B] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_InstanceName_9E2B36B4_1499_E5A4_1646_B7321B58FEB7] [nvarchar](256) NULL,
	[Post_InstanceName_9E2B36B4_1499_E5A4_1646_B7321B58FEB7] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Installed$Database_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Installed$Database_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Installed$Database_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
