USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ResourceAssignment]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceAssignment](
	[DeployItemId] [uniqueidentifier] NOT NULL,
	[ResourceId] [uniqueidentifier] NOT NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResourceAssignment] ADD  CONSTRAINT [DF_ResourceAssignment_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ResourceAssignment] ADD  CONSTRAINT [DF_ResourceAssignment_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ResourceAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ResourceAssignment_DeployedResource] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[DeployedResource] ([ResourceId])
GO
ALTER TABLE [dbo].[ResourceAssignment] CHECK CONSTRAINT [FK_ResourceAssignment_DeployedResource]
GO
ALTER TABLE [dbo].[ResourceAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ResourceAssignment_DeployItem] FOREIGN KEY([DeployItemId])
REFERENCES [dbo].[DeployItem] ([DeployItemId])
GO
ALTER TABLE [dbo].[ResourceAssignment] CHECK CONSTRAINT [FK_ResourceAssignment_DeployItem]
GO
