USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentBehaviors]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentBehaviors](
	[ComponentBehaviorId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentBehaviorAccessibility] [tinyint] NOT NULL,
	[ComponentBehaviorName] [nvarchar](256) NOT NULL,
	[ComponentBehaviorBehaviorTypeId] [uniqueidentifier] NOT NULL,
	[ComponentBehaviorComponentTypeId] [uniqueidentifier] NOT NULL,
	[ComponentBehaviorXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ComponentBehaviors] PRIMARY KEY CLUSTERED 
(
	[ComponentBehaviorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComponentBehaviors] ADD  CONSTRAINT [DF_ComponentBehaviors_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ComponentBehaviors] ADD  CONSTRAINT [DF_ComponentBehaviors_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ComponentBehaviors]  WITH CHECK ADD  CONSTRAINT [FK_ComponentBehaviors_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComponentBehaviors] CHECK CONSTRAINT [FK_ComponentBehaviors_ManagementPack]
GO
