USE [OperationsManager]
GO
/****** Object:  Table [dbo].[WarehouseEntityWatermarkDependency]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseEntityWatermarkDependency](
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[WarehouseEntityId] [uniqueidentifier] NOT NULL,
	[DependencyId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
