USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UserSettingsStore]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettingsStore](
	[UserSettingStoreId] [uniqueidentifier] NOT NULL,
	[SID] [nvarchar](256) NOT NULL,
	[UserSettingStoreTypeId] [uniqueidentifier] NOT NULL,
	[Content] [varbinary](max) NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[LastAccess] [datetime] NOT NULL,
 CONSTRAINT [PK_UserSettingStore] PRIMARY KEY CLUSTERED 
(
	[UserSettingStoreId] ASC,
	[SID] ASC,
	[UserSettingStoreTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
