USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$IPNetwork_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$IPNetwork_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_Key_964DA60D_F9AE_32BC_AC16_AA8E0C182B95] [nvarchar](256) NULL,
	[Post_Key_964DA60D_F9AE_32BC_AC16_AA8E0C182B95] [nvarchar](256) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Description_026A7983_1951_571A_FAEF_C722B828C560] [nvarchar](256) NULL,
	[Post_Description_026A7983_1951_571A_FAEF_C722B828C560] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_NetworkNumber_9B90ED00_A4FC_1D83_5404_22C28250DD69] [nvarchar](256) NULL,
	[Post_NetworkNumber_9B90ED00_A4FC_1D83_5404_22C28250DD69] [nvarchar](256) NULL,
	[Pre_Netmask_9DD3CC1B_551D_CDF8_4997_A086ACC09CEE] [nvarchar](256) NULL,
	[Post_Netmask_9DD3CC1B_551D_CDF8_4997_A086ACC09CEE] [nvarchar](256) NULL,
	[Pre_Tag_1B41FEBA_D68B_5164_DEB1_D4FAA62833C3] [nvarchar](256) NULL,
	[Post_Tag_1B41FEBA_D68B_5164_DEB1_D4FAA62833C3] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$IPNetwork_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$IPNetwork_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$IPNetwork_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
