USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleGroupTypeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleGroupTypeView] AS
    SELECT DISTINCT
           [UserRoleId],
           ISNULL([GroupId],'24CAF83A-40FD-439C-BC69-ADE9693D4C29') AS [GroupId],
           ISNULL([TypeId], dbo.fn_ManagedTypeId_SystemEntity()) AS [TypeId],
           ISNULL([PropertyId], 'EA8A7E52-721D-4082-A49E-C20C34B5C0CA') AS [PropertyId],
           ISNULL([RelationshipEndpoint], 2) AS [RelationshipEndpoint],
           [ScopeType],
           [ScopeId]
    FROM dbo.UserRoleGroupType
    WHERE ScopeType <> 8 
    OR (ScopeType = 8 AND GroupId IS NOT NULL)
    UNION
    SELECT DISTINCT
           [UserRoleId],
           ISNULL([TypeId], dbo.fn_ManagedTypeId_SystemEntity()) AS [GroupId],
           dbo.fn_ManagedTypeId_SystemEntity() AS [TypeId],
           ISNULL([PropertyId], 'EA8A7E52-721D-4082-A49E-C20C34B5C0CA') AS [PropertyId],
           ISNULL([RelationshipEndpoint], 2) AS [RelationshipEndpoint],
           2 AS [ScopeType],
           [ScopeId]
    FROM dbo.UserRoleGroupType
    WHERE ScopeType = 8 AND GroupId IS NULL
GO
