USE [OperationsManager]
GO
/****** Object:  View [dbo].[MonitorTypeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MonitorTypeView] AS
    SELECT [MonitorType].[MonitorTypeId] AS Id, 
           [MonitorType].[MNTName] AS Name, 
           [MonitorType].[ManagementPackId] AS ManagementPackId, 
           [MonitorType].[MNTAccessibility] AS Accessibility,
           [MonitorType].[MNTImplementationXML] AS ImplementationXml,
           [MonitorType].[MNTConfigurationXSD] AS ConfigurationXsd,
           [MonitorType].[MNTRunAs] AS RunAsId,
           [MonitorType].TimeAdded, 
           [MonitorType].LastModified, 
           CAST((CASE WHEN EXISTS (select UIPageSetId from UIPageSet where UIPageSetTypeDefinitionId = dbo.[MonitorType].[MonitorTypeId]) THEN 1 ELSE 0 END) AS bit) AS HasMonitoringPageSet,
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[MonitorType] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [MonitorType].[MonitorTypeId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [MonitorType].[MonitorTypeId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [MonitorType].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1        	     	 
GO
