USE [OperationsManager]
GO
/****** Object:  Table [dbo].[SecureReference]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecureReference](
	[SecureReferenceId] [uniqueidentifier] NOT NULL,
	[SecureReferenceName] [nvarchar](256) NOT NULL,
	[SecureReferenceAccessibility] [tinyint] NOT NULL,
	[SecureReferenceContext] [uniqueidentifier] NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_SecureReference] PRIMARY KEY CLUSTERED 
(
	[SecureReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SecureReference] ADD  CONSTRAINT [DF_SecureReference_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[SecureReference] ADD  CONSTRAINT [DF_SecureReference_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[SecureReference]  WITH CHECK ADD  CONSTRAINT [FK_SecureReference_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecureReference] CHECK CONSTRAINT [FK_SecureReference_ManagementPack]
GO
