USE [OperationsManager]
GO
/****** Object:  Table [dbo].[TypeCacheTimestamps]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeCacheTimestamps](
	[CacheTypeName] [nvarchar](255) NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY]
GO
