USE [OperationsManager]
GO
/****** Object:  View [dbo].[KnowledgeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[KnowledgeView] AS
    SELECT [KnowledgeArticle].[KnowledgeArticleId] AS Id, 
           [KnowledgeArticle].[LanguageCode],
           [KnowledgeArticle].[ManagementPackId], 
           [KnowledgeArticle].[KnowledgeReferenceId], 
           [KnowledgeArticle].[ElementName],
           [KnowledgeArticle].[SubElementName],
           [KnowledgeArticle].[KnowledgeVisible] AS Visible,
           [KnowledgeArticle].[KnowledgeContent] AS Content,
           [KnowledgeArticle].[TimeAdded],
           [KnowledgeArticle].[LastModified],
           [LanguagePack].[LanguagePackId]
    FROM dbo.[KnowledgeArticle] 
    JOIN dbo.[LanguagePack] ON LanguagePack.ManagementPackId = KnowledgeArticle.ManagementPackId AND LanguagePack.LanguageCode = KnowledgeArticle.LanguageCode
    INNER JOIN dbo.ManagementPack 
	ON dbo.ManagementPack.ManagementPackId = [KnowledgeArticle].ManagementPackId AND dbo.ManagementPack.ContentReadable = 1
GO
