USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$Unix$Computer_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$Unix$Computer_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_NetworkName_0C1E0081_29B4_6B8E_4474_B35A65ED6483] [nvarchar](256) NULL,
	[Post_NetworkName_0C1E0081_29B4_6B8E_4474_B35A65ED6483] [nvarchar](256) NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_PhysicalProcessors_2C8997D7_CF22_C510_825D_266793761BB1] [int] NULL,
	[Post_PhysicalProcessors_2C8997D7_CF22_C510_825D_266793761BB1] [int] NULL,
	[Pre_Architecture_8DF7D8FF_DD68_94A1_5D46_FC563CE5514E] [nvarchar](256) NULL,
	[Post_Architecture_8DF7D8FF_DD68_94A1_5D46_FC563CE5514E] [nvarchar](256) NULL,
	[Pre_TimeZoneOffset_F792D5F3_2F21_4542_2F27_7D6622898864] [nvarchar](256) NULL,
	[Post_TimeZoneOffset_F792D5F3_2F21_4542_2F27_7D6622898864] [nvarchar](256) NULL,
	[Pre_IPAddress_54A13B0F_AF4D_4658_B6F3_B6A416083748] [nvarchar](256) NULL,
	[Post_IPAddress_54A13B0F_AF4D_4658_B6F3_B6A416083748] [nvarchar](256) NULL,
	[Pre_LogicalProcessors_5F931A7B_B1B0_C670_BC33_4D5B629EA8F7] [int] NULL,
	[Post_LogicalProcessors_5F931A7B_B1B0_C670_BC33_4D5B629EA8F7] [int] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_AgentVersion_77A23EDE_74F3_6AF6_868B_A3A62C9E8071] [nvarchar](256) NULL,
	[Post_AgentVersion_77A23EDE_74F3_6AF6_868B_A3A62C9E8071] [nvarchar](256) NULL,
	[Pre_HostServerName_7F2BCFF9_F3AC_73BD_D6B5_2A0A9255DB60] [nvarchar](256) NULL,
	[Post_HostServerName_7F2BCFF9_F3AC_73BD_D6B5_2A0A9255DB60] [nvarchar](256) NULL,
	[Pre_DNSName_8BFEBBF4_EA01_18BB_05D1_F4F8B0D26056] [nvarchar](256) NULL,
	[Post_DNSName_8BFEBBF4_EA01_18BB_05D1_F4F8B0D26056] [nvarchar](256) NULL,
	[Pre_VirtualMachineName_ADDAA520_3E4F_6B23_F6E9_B58164675FB5] [nvarchar](256) NULL,
	[Post_VirtualMachineName_ADDAA520_3E4F_6B23_F6E9_B58164675FB5] [nvarchar](256) NULL,
	[Pre_IsVirtualMachine_413DC8AD_91B3_9E73_E27F_C9CC6A6E64C2] [nvarchar](256) NULL,
	[Post_IsVirtualMachine_413DC8AD_91B3_9E73_E27F_C9CC6A6E64C2] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_SSHPort_322CCA5B_54E4_35F6_67CC_FC7058390611] [nvarchar](256) NULL,
	[Post_SSHPort_322CCA5B_54E4_35F6_67CC_FC7058390611] [nvarchar](256) NULL,
	[Pre_PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] [nvarchar](256) NULL,
	[Post_PrincipalName_9B69B803_AA0A_3726_252F_5CA384AA5F58] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_Microsoft$Unix$Computer_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$Unix$Computer_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$Unix$Computer_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
