USE [OperationsManager]
GO
/****** Object:  View [dbo].[ModuleTypeView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ModuleTypeView] AS
    SELECT [ModuleType].[ModuleTypeId] AS Id, 
           [ModuleType].[MDTName] AS Name, 
           [ModuleType].[ManagementPackId] AS ManagementPackId, 
           [ModuleType].[MDTAccessibility] AS Accessibility,
           [ModuleType].[MDTOutputDatatypeId] AS OutputMonitoringDataTypeId, 
           [ModuleType].[MDTRole] AS Role,
           [ModuleType].[MDTCanGuaranteeDelivery] AS CanGuaranteeDelivery, 
           [ModuleType].[MDTIncludeSchemaTypes] AS IncludeSchemaTypes,
           [ModuleType].[MDTPassThrough] AS IsPassThrough,
           [ModuleType].[MDTStateful] AS IsStateful,
           [ModuleType].[MDTTriggerOnly] AS IsTriggerOnly,
           [ModuleType].[MDTBatching] AS Batching,
           [ModuleType].[MDTImplementationXML] AS ImplementationXml,
           [ModuleType].[MDTConfigurationXSD] AS ConfigurationXsd,
           [ModuleType].[MDTInputTypes] AS InputMonitoringDataTypes,
           [ModuleType].[MDTRunAs] AS RunAsId,
           CAST((CASE WHEN EXISTS (select UIPageSetId from UIPageSet where UIPageSetTypeDefinitionId = dbo.[ModuleType].[ModuleTypeId]) THEN 1 ELSE 0 END) AS bit) AS HasMonitoringPageSet,
           [ModuleType].TimeAdded,
           [ModuleType].LastModified,
           [ManagementPack].ContentReadable,
           LT1.[LTValue] AS DisplayName,
           LT1.[LanguageCode] AS LanguageCode,
           LT2.[LTValue] AS Description
    FROM dbo.[ModuleType] LEFT JOIN dbo.LocalizedText LT1 ON (LT1.LTStringId = [ModuleType].[ModuleTypeId] AND LT1.LTStringType = 1)
    	 LEFT JOIN dbo.LocalizedText LT2 ON (LT2.LTStringId = [ModuleType].[ModuleTypeId] AND LT2.LanguageCode = LT1.LanguageCode AND LT2.LTStringType = 2)
	INNER JOIN dbo.ManagementPack 
		ON dbo.ManagementPack.ManagementPackId = [ModuleType].ManagementPackId
GO
