USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ComponentOverrides]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentOverrides](
	[ComponentOverrideId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ComponentOverrideName] [nvarchar](256) NOT NULL,
	[ComponentOverrideTypeId] [uniqueidentifier] NOT NULL,
	[ComponentOverrideContext] [nvarchar](max) NULL,
	[ComponentOverrideXml] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ComponentOverrides] PRIMARY KEY CLUSTERED 
(
	[ComponentOverrideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComponentOverrides] ADD  CONSTRAINT [DF_ComponentOverrides_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ComponentOverrides] ADD  CONSTRAINT [DF_ComponentOverrides_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ComponentOverrides]  WITH CHECK ADD  CONSTRAINT [FK_ComponentOverrides_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComponentOverrides] CHECK CONSTRAINT [FK_ComponentOverrides_ManagementPack]
GO
