USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FactDegenerateDimension]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactDegenerateDimension](
	[FactId] [uniqueidentifier] NOT NULL,
	[FactDegenerateDimensionId] [uniqueidentifier] NOT NULL,
	[FactDegenerateDimensionName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[IsCaseSensitive] [bit] NULL,
	[Nullable] [bit] NULL,
	[DataType] [tinyint] NOT NULL,
	[MaxLength] [int] NULL,
	[MinLength] [int] NULL,
	[Scale] [tinyint] NULL,
	[MinValue] [int] NULL,
	[MaxValue] [int] NULL,
	[DefaultValue] [nvarchar](2000) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_FactDegenerateDimension] PRIMARY KEY CLUSTERED 
(
	[FactDegenerateDimensionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactDegenerateDimension] ADD  CONSTRAINT [DF_FactDegenerateDimension_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[FactDegenerateDimension] ADD  CONSTRAINT [DF_FactDegenerateDimension_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[FactDegenerateDimension]  WITH CHECK ADD  CONSTRAINT [FK_FactDegenerateDimension_Fact] FOREIGN KEY([FactId])
REFERENCES [dbo].[Fact] ([FactId])
GO
ALTER TABLE [dbo].[FactDegenerateDimension] CHECK CONSTRAINT [FK_FactDegenerateDimension_Fact]
GO
ALTER TABLE [dbo].[FactDegenerateDimension]  WITH CHECK ADD  CONSTRAINT [FK_FactDegenerateDimension_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactDegenerateDimension] CHECK CONSTRAINT [FK_FactDegenerateDimension_ManagementPack]
GO
ALTER TABLE [dbo].[FactDegenerateDimension]  WITH CHECK ADD  CONSTRAINT [CK_FactDegenerateDimension_DataType] CHECK  (([DataType]>=(0) AND [DataType]<=(6)))
GO
ALTER TABLE [dbo].[FactDegenerateDimension] CHECK CONSTRAINT [CK_FactDegenerateDimension_DataType]
GO
ALTER TABLE [dbo].[FactDegenerateDimension]  WITH CHECK ADD  CONSTRAINT [CK_FactDegenerateDimension_Scale] CHECK  (([Scale]<=(38)))
GO
ALTER TABLE [dbo].[FactDegenerateDimension] CHECK CONSTRAINT [CK_FactDegenerateDimension_Scale]
GO
