USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$Cosine_VIf_Fault_Interface_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$Cosine_VIf_Fault_Interface_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_CosineVIfFaultIndex_DC345906_D5C2_8217_89D8_9F138B1018F3] [nvarchar](256) NULL,
	[Post_CosineVIfFaultIndex_DC345906_D5C2_8217_89D8_9F138B1018F3] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$Cosine_VIf_Fault_Interface_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
