USE [OperationsManager]
GO
/****** Object:  Table [dbo].[UIPage]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UIPage](
	[UIPageId] [uniqueidentifier] NOT NULL,
	[UIPageName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[UIPageAccessibility] [tinyint] NOT NULL,
	[UIPageAssembly] [uniqueidentifier] NULL,
	[UIPageType] [nvarchar](256) NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_UIPage] PRIMARY KEY CLUSTERED 
(
	[UIPageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UIPage] ADD  CONSTRAINT [DF_UIPage_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[UIPage] ADD  CONSTRAINT [DF_UIPage_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[UIPage]  WITH CHECK ADD  CONSTRAINT [FK_UIPage_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UIPage] CHECK CONSTRAINT [FK_UIPage_ManagementPack]
GO
