USE [OperationsManager]
GO
/****** Object:  Table [dbo].[OverrideableParameter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverrideableParameter](
	[OverrideableParameterId] [uniqueidentifier] NOT NULL,
	[OverrideableParameterName] [nvarchar](256) NOT NULL,
	[ModuleTypeId] [uniqueidentifier] NULL,
	[MonitorTypeId] [uniqueidentifier] NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[Xpath] [nvarchar](max) NULL,
	[OPType] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_OverrideableParameter] PRIMARY KEY CLUSTERED 
(
	[OverrideableParameterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OverrideableParameter] ADD  CONSTRAINT [DF_OverrideableParameter_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[OverrideableParameter] ADD  CONSTRAINT [DF_OverrideableParameter_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[OverrideableParameter]  WITH CHECK ADD  CONSTRAINT [FK_OverrideableParameter_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OverrideableParameter] CHECK CONSTRAINT [FK_OverrideableParameter_ManagementPack]
GO
ALTER TABLE [dbo].[OverrideableParameter]  WITH CHECK ADD  CONSTRAINT [FK_OverrideableParameter_ModuleType] FOREIGN KEY([ModuleTypeId])
REFERENCES [dbo].[ModuleType] ([ModuleTypeId])
GO
ALTER TABLE [dbo].[OverrideableParameter] CHECK CONSTRAINT [FK_OverrideableParameter_ModuleType]
GO
ALTER TABLE [dbo].[OverrideableParameter]  WITH CHECK ADD  CONSTRAINT [FK_OverrideableParameter_MonitorType] FOREIGN KEY([MonitorTypeId])
REFERENCES [dbo].[MonitorType] ([MonitorTypeId])
GO
ALTER TABLE [dbo].[OverrideableParameter] CHECK CONSTRAINT [FK_OverrideableParameter_MonitorType]
GO
ALTER TABLE [dbo].[OverrideableParameter]  WITH CHECK ADD  CONSTRAINT [CK_OverrideableParameter] CHECK  (([MonitorTypeId] IS NULL AND [ModuleTypeId] IS NOT NULL OR [MonitorTypeId] IS NOT NULL AND [ModuleTypeId] IS NULL OR [MonitorTypeId] IS NULL AND [ModuleTypeId] IS NULL AND [ManagementPackId] IS NULL))
GO
ALTER TABLE [dbo].[OverrideableParameter] CHECK CONSTRAINT [CK_OverrideableParameter]
GO
