USE [OperationsManager]
GO
/****** Object:  Table [dbo].[CauseStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauseStaging](
	[CauseId] [uniqueidentifier] NOT NULL,
	[CauseName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TargetManagedEntityType] [uniqueidentifier] NOT NULL,
	[CauseAccessibility] [tinyint] NOT NULL,
	[CauseActionable] [bit] NOT NULL,
	[CauseAprioriProbability] [int] NOT NULL
) ON [PRIMARY]
GO
