USE [OperationsManager]
GO
/****** Object:  View [dbo].[InstanceOverrideView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[InstanceOverrideView] AS
    SELECT IO.[BaseManagedEntityId] AS MonitoringObjectId,
           IO.[OverrideableParameterId] AS OverrideDefinitionId,
		   IO.[RuleId] AS MonitoringRuleId,
		   IO.[MonitorId],
		   dbo.fn_GetTypeForMonitorOrRule(RuleId, MonitorId) AS TypeId,
		   IO.[Value]
FROM [dbo].[InstanceOverride] IO
	JOIN [dbo].[BaseManagedEntity] BME ON BME.BaseManagedEntityId = IO.BaseManagedEntityId
	WHERE BME.IsDeleted = 0
GO
