USE [OperationsManager]
GO
/****** Object:  View [dbo].[AllOverrideView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[AllOverrideView] AS  
SELECT ModuleOverrideId AS Id, OverrideName AS [Name], NULL AS CategoryId, MO.ParentId AS TargetId, MO.ParentType, MO.ModuleId, MOD.ModuleName as ModuleName,
		MO.OverrideableParameterId AS OverrideableParameterId, OP.OverrideableParameterName AS OverrideableParameterName, TypeContext AS ContextId, InstanceContext AS ContextObjectId, Value,
		Enforced, MO.ManagementPackId AS ManagementPackId, 
		(CASE WHEN OP.ManagementPackId IS NULL THEN MO.ParentType + N'Property' ELSE MO.ParentType + N'Configuration' END) AS OverrideType,  MP.MPIsSealed, MO.TimeAdded, MO.LastModified
		FROM [dbo].[ModuleOverride] MO 
		JOIN [dbo].[OverrideableParameter] OP ON OP.OverrideableParameterId = MO.OverrideableParameterId
		LEFT JOIN [dbo].[Module] MOD ON MO.ModuleId = MOD.ModuleId
		JOIN [dbo].[ManagementPack] MP ON MO.ManagementPackId = MP.ManagementPackId AND MP.ContentReadable = 1
		LEFT JOIN [dbo].[BaseManagedEntity] BME ON BME.BaseManagedEntityId = InstanceContext
		WHERE InstanceContext IS NULL OR BME.IsDeleted = 0
UNION ALL
	SELECT CategoryOverrideId AS Id, OverrideName AS [Name], CAST(CategoryId AS int), NULL AS TargetId, NULL AS ParentType, NULL AS ModuleId, NULL as ModuleName,
		NULL AS OverrideableParameterId, NULL AS OverrideableParameterName, TypeContext AS ContextId, InstanceContext AS ContextObjectId, Value,
		Enforced, CO.ManagementPackId, N'CategoryOverride' AS OverrideType,  MP.MPIsSealed, CO.TimeAdded, CO.LastModified
		FROM [dbo].[CategoryOverride] CO
		JOIN [dbo].[ManagementPack] MP ON CO.ManagementPackId = MP.ManagementPackId AND MP.ContentReadable = 1
		LEFT JOIN [dbo].[BaseManagedEntity] BME ON BME.BaseManagedEntityId = InstanceContext
		WHERE InstanceContext IS NULL OR BME.IsDeleted = 0
UNION ALL
	SELECT MonitorOverrideId AS Id, OverrideName AS [Name], NULL AS CategoryId, MonitorId AS TargetId, N'Monitor' AS ParentType, NULL AS ModuleId, NULL as ModuleName,
		MO.OverrideableParameterId AS OverrideableParameterId, OP.OverrideableParameterName AS OverrideableParameterName, TypeContext AS ContextId, InstanceContext AS ContextObjectId, Value,
		Enforced, MO.ManagementPackId AS ManagementPackId,
		(CASE WHEN OP.ManagementPackId IS NULL THEN N'MonitorProperty' ELSE N'MonitorConfiguration' END) AS OverrideType,  MP.MPIsSealed,  MO.TimeAdded, MO.LastModified
		FROM [dbo].[MonitorOverride] MO JOIN [dbo].[OverrideableParameter] OP ON OP.OverrideableParameterId = MO.OverrideableParameterId
		JOIN [dbo].[ManagementPack] MP ON MO.ManagementPackId = MP.ManagementPackId AND MP.ContentReadable = 1
		LEFT JOIN [dbo].[BaseManagedEntity] BME ON BME.BaseManagedEntityId = InstanceContext
		WHERE InstanceContext IS NULL OR BME.IsDeleted = 0
UNION ALL
	SELECT SecureReferenceOverrideId AS Id, OverrideName AS [Name], NULL AS CategoryId, SecureReferenceId AS TargetId, N'SecureReference' AS ParentType, NULL AS ModuleId, NULL as ModuleName,
		NULL AS OverrideableParameterId, 'SecureReferenceId' AS OverrideableParameterName, TypeContext AS ContextId, InstanceContext AS ContextObjectId, Value,
		Enforced, SRO.ManagementPackId AS ManagementPackId,
		N'SecureReference' AS OverrideType,  MP.MPIsSealed,  SRO.TimeAdded, SRO.LastModified
		FROM [dbo].[SecureReferenceOverride] SRO 
		JOIN [dbo].[ManagementPack] MP ON SRO.ManagementPackId = MP.ManagementPackId AND MP.ContentReadable = 1
		LEFT JOIN [dbo].[BaseManagedEntity] BME ON BME.BaseManagedEntityId = InstanceContext
		WHERE InstanceContext IS NULL OR BME.IsDeleted = 0
GO
