USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_Microsoft$Windows$ComputerNetworkAdapter]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_Microsoft$Windows$ComputerNetworkAdapter] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AdapterType_E398B4F3_BAFE_737C_C6E2_C155D00BB1E2], T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[DeviceID_B40F93C8_29A5_BD3B_6BF3_849F5F1C7C83], T1.[DHCPEnabled_12C2EB1F_8EF9_CA7D_0D01_6FDEF12F2E1A], T1.[DHCPServer_E7407964_0AA0_4575_2262_48EC4153B0E6], T1.[DNSDomain_D2B3B342_32DE_72F1_3E79_B4F94CF35B62], T1.[Index_D1961C43_B5EA_5771_1487_472E7F3E674B], T1.[IPAddress_F0AF5873_82A9_8209_5010_F5EE90CDF9FD], T1.[IPSubnet_F6CC45B3_D93E_CCC9_EED1_2FD31580D330], T1.[MACAddress_BBDEC53A_409C_7DBF_05E9_8CA3A6CE2986], T1.[Manufacturer_80469B4C_7F1D_77C7_BF62_822E8941A99F], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T1.[PerfmonInstance_F888AD15_F79E_ED46_9902_EBFC515E0B29], T1.[ServiceName_F6241C3E_96A7_C8E3_6E14_4915550E7014], T2.[PrincipalName] AS [PrincipalName] FROM [dbo].[MT_Microsoft$Windows$ComputerNetworkAdapter] T1  LEFT JOIN [dbo].[Relationship] RT2 ON (RT2.RelationshipTypeId = '79FC1961-0162-46EE-D4C4-E575A9E933D1'  AND RT2.TargetEntityId = T1.BaseManagedEntityId) LEFT JOIN [MTV_Computer] T2 ON RT2.SourceEntityId = T2.BaseManagedEntityId
GO
