USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$SynOptics3000TokenRing_Fault_Port_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$SynOptics3000TokenRing_Fault_Port_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_SynOptics3000TokenRingFaultIndex_F6F7F4D0_C184_DFD5_8D7E_2FDC96A04B73] [nvarchar](256) NULL,
	[Post_SynOptics3000TokenRingFaultIndex_F6F7F4D0_C184_DFD5_8D7E_2FDC96A04B73] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$SynOptics3000TokenRing_Fault_Port_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
