USE [OperationsManager]
GO
/****** Object:  Table [dbo].[FavoriteConsoleTasks]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteConsoleTasks](
	[UserSid] [varchar](200) NOT NULL,
	[ConsoleTaskId] [uniqueidentifier] NOT NULL,
	[FavoriteConsoleTasksName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_FavoriteConsoleTasks] PRIMARY KEY CLUSTERED 
(
	[UserSid] ASC,
	[FavoriteConsoleTasksName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FavoriteConsoleTasks]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteConsoleTasks_ConsoleTaskId] FOREIGN KEY([ConsoleTaskId])
REFERENCES [dbo].[ConsoleTask] ([ConsoleTaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteConsoleTasks] CHECK CONSTRAINT [FK_FavoriteConsoleTasks_ConsoleTaskId]
GO
