USE [OperationsManager]
GO
/****** Object:  Table [dbo].[AzMan_Group_AppMember]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzMan_Group_AppMember](
	[GroupID] [int] NOT NULL,
	[ChildID] [int] NOT NULL,
	[Member] [bit] NOT NULL,
	[RowUpdateTimeStamp] [timestamp] NULL,
 CONSTRAINT [PK_AzMan_Group_AppMember] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[ChildID] ASC,
	[Member] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_AzMan_Group_AppMember_member] UNIQUE NONCLUSTERED 
(
	[GroupID] ASC,
	[ChildID] ASC,
	[Member] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AzMan_Group_AppMember]  WITH CHECK ADD  CONSTRAINT [FK_AzMan_Group_AppMember_AzMan_AzApplicationGroup] FOREIGN KEY([GroupID])
REFERENCES [dbo].[AzMan_AzApplicationGroup] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AzMan_Group_AppMember] CHECK CONSTRAINT [FK_AzMan_Group_AppMember_AzMan_AzApplicationGroup]
GO
