USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$DLCI_MIB2_Fault_Interface]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$DLCI_MIB2_Fault_Interface](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[DLCIMIB2FaultIndex_1B7EBDE7_6CCD_33DA_DAA9_425A2AA693B5] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$DLCI_MIB2_Fault_Interface] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
