USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleTaskView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleTaskView] AS
    SELECT [UserRoleId],
           (CASE WHEN TaskId IS NULL AND IsCredentialTask = 0 THEN '1F2B89B6-404D-4b3e-A130-8D037B27EA56'
                 WHEN TaskId IS NULL AND IsCredentialTask = 1 THEN '547FE70A-177D-440B-AB37-013651CEC865' 
                 ELSE TaskId
            END) AS [TaskId],
           [IsCredentialTask],
           [ScopeId]
    FROM dbo.UserRoleTask
GO
