USE [OperationsManager]
GO
/****** Object:  Table [dbo].[BlobStorage]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlobStorage](
	[BlobId] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](256) NULL,
	[ManagedTypeId] [uniqueidentifier] NULL,
	[Value] [varbinary](max) NULL,
 CONSTRAINT [PK_BlobStorage] PRIMARY KEY CLUSTERED 
(
	[BlobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
