USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$Announcement$Config_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$Announcement$Config_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_TitleBar_351CE01D_6D46_1BB9_336C_AEC8C38AC729] [nvarchar](256) NULL,
	[Post_TitleBar_351CE01D_6D46_1BB9_336C_AEC8C38AC729] [nvarchar](256) NULL,
	[Pre_Id_9D066A5D_D673_1B08_704B_56C00B96E6C1] [nvarchar](256) NULL,
	[Post_Id_9D066A5D_D673_1B08_704B_56C00B96E6C1] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_System$Announcement$Config_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
