USE [OperationsManager]
GO
/****** Object:  View [dbo].[EnterpriseManagementObjectView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[EnterpriseManagementObjectView] AS
    SELECT 
        B.[BaseManagedEntityId] AS [Id],
        B.[FullName],
        B.[Name],
        B.[Path],
        B.[DisplayName],
        B.[LastModified], 
        T.[TypedManagedEntityId], 
        T.[ManagedTypeId] AS [MonitoringClassId],
        B.[BaseManagedEntityId],
        B.[TimeAdded],
        B.[LastModifiedBy]        
    FROM dbo.[BaseManagedEntity] B WITH(NOLOCK)
    JOIN dbo.[TypedManagedEntity] T WITH(NOLOCK)
        ON B.[BaseManagedEntityId] = T.[BaseManagedEntityId]
    WHERE B.[IsDeleted] = 0 AND T.[IsDeleted] = 0
GO
