USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ConsoleTask]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsoleTask](
	[ConsoleTaskId] [uniqueidentifier] NOT NULL,
	[ConsoleTaskName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[TargetId] [uniqueidentifier] NULL,
	[ConsoleTaskAccessibility] [tinyint] NOT NULL,
	[ConsoleTaskEnabled] [bit] NOT NULL,
	[ConsoleTaskApplication] [nvarchar](255) NULL,
	[ConsoleTaskParameters] [nvarchar](max) NULL,
	[ConsoleTaskWorkingDirectory] [nvarchar](max) NULL,
	[RequireOutput] [bit] NOT NULL,
	[Category] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[Assembly] [uniqueidentifier] NULL,
	[Handler] [nvarchar](256) NULL,
	[Criteria] [nvarchar](max) NULL,
 CONSTRAINT [PK_ConsoleTask] PRIMARY KEY CLUSTERED 
(
	[ConsoleTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConsoleTask] ADD  DEFAULT ((0)) FOR [Category]
GO
ALTER TABLE [dbo].[ConsoleTask] ADD  CONSTRAINT [DF_ConsoleTask_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ConsoleTask] ADD  CONSTRAINT [DF_ConsoleTask_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ConsoleTask]  WITH CHECK ADD  CONSTRAINT [FK_ConsoleTask_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsoleTask] CHECK CONSTRAINT [FK_ConsoleTask_ManagementPack]
GO
