USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$Warehouse$Dimension$ProcessingInterval_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$Warehouse$Dimension$ProcessingInterval_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_IntervalInMinutes_88BCC5B4_4899_A7D9_5BB9_A488A8ABF820] [int] NULL,
	[Post_IntervalInMinutes_88BCC5B4_4899_A7D9_5BB9_A488A8ABF820] [int] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$Warehouse$Dimension$ProcessingInterval_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Warehouse$Dimension$ProcessingInterval_Log] ADD  DEFAULT ((60)) FOR [Pre_IntervalInMinutes_88BCC5B4_4899_A7D9_5BB9_A488A8ABF820]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$Warehouse$Dimension$ProcessingInterval_Log] ADD  DEFAULT ((60)) FOR [Post_IntervalInMinutes_88BCC5B4_4899_A7D9_5BB9_A488A8ABF820]
GO
