USE [OperationsManager]
GO
/****** Object:  Table [dbo].[SavedSearch]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedSearch](
	[UserSid] [varchar](200) NOT NULL,
	[SavedSearchId] [uniqueidentifier] NOT NULL,
	[ViewTypeId] [uniqueidentifier] NOT NULL,
	[SavedSearchName] [nvarchar](256) NOT NULL,
	[TargetManagedTypeId] [uniqueidentifier] NULL,
	[InstanceId] [uniqueidentifier] NULL,
	[Description] [nvarchar](4000) NULL,
	[ConfigurationXML] [nvarchar](max) NULL,
 CONSTRAINT [PK_SavedSearch] PRIMARY KEY CLUSTERED 
(
	[SavedSearchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SavedSearch]  WITH CHECK ADD  CONSTRAINT [FK_SavedSearch_ViewTypeId] FOREIGN KEY([ViewTypeId])
REFERENCES [dbo].[ViewType] ([ViewTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavedSearch] CHECK CONSTRAINT [FK_SavedSearch_ViewTypeId]
GO
