USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$WebApplicationSolutions$SingleUrlTest_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$WebApplicationSolutions$SingleUrlTest_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_AlertingOnTest_9C947C34_2942_22AB_663B_00CCD919F5BE] [bit] NULL,
	[Post_AlertingOnTest_9C947C34_2942_22AB_663B_00CCD919F5BE] [bit] NULL,
	[Pre_TestConfig_71A56C18_0B6B_5F63_B211_21332369555A] [nvarchar](max) NULL,
	[Post_TestConfig_71A56C18_0B6B_5F63_B211_21332369555A] [nvarchar](max) NULL,
	[Pre_Context_4A438E0D_41CE_1FDE_0D5B_63E5669F8DC7] [nvarchar](max) NULL,
	[Post_Context_4A438E0D_41CE_1FDE_0D5B_63E5669F8DC7] [nvarchar](max) NULL,
	[Pre_InstanceId_6F1A81E5_0BD5_CE02_4A8F_7FB314F28308] [nvarchar](36) NULL,
	[Post_InstanceId_6F1A81E5_0BD5_CE02_4A8F_7FB314F28308] [nvarchar](36) NULL,
	[Pre_IntervalInSeconds_3AEED1F5_0059_B82D_D64C_BD18C931C716] [int] NULL,
	[Post_IntervalInSeconds_3AEED1F5_0059_B82D_D64C_BD18C931C716] [int] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_Locations_8828BD35_D33F_1D66_257F_E52488E0EC81] [nvarchar](max) NULL,
	[Post_Locations_8828BD35_D33F_1D66_257F_E52488E0EC81] [nvarchar](max) NULL,
	[Pre_Parameters_2DF13F52_3A6B_BEE5_6BF2_341337887BC8] [nvarchar](max) NULL,
	[Post_Parameters_2DF13F52_3A6B_BEE5_6BF2_341337887BC8] [nvarchar](max) NULL,
	[Pre_Alerting_4337501D_D1AC_0C3B_2FBE_745B9608D4A9] [bit] NULL,
	[Post_Alerting_4337501D_D1AC_0C3B_2FBE_745B9608D4A9] [bit] NULL,
	[Pre_ConsecutiveMatchCount_B64E3209_442C_4811_C4CB_7B9B78D8AA1A] [int] NULL,
	[Post_ConsecutiveMatchCount_B64E3209_442C_4811_C4CB_7B9B78D8AA1A] [int] NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$WebApplicationSolutions$SingleUrlTest_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$WebApplicationSolutions$SingleUrlTest_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$WebApplicationSolutions$SingleUrlTest_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
