USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedTypeProperty]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTypeProperty](
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagedTypePropertyName] [nvarchar](256) NOT NULL,
	[IsPrimaryKey] [bit] NOT NULL,
	[IsCaseSensitive] [bit] NULL,
	[PropertyType] [tinyint] NOT NULL,
	[PropertyLength] [int] NULL,
	[PropertyMinLength] [int] NULL,
	[PropertyScale] [tinyint] NULL,
	[ColumnName] [nvarchar](128) NULL,
	[ColumnOrder] [int] NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[Required] [bit] NULL,
	[IsAutoIncrement] [bit] NULL,
	[Optimized] [bit] NULL,
	[MinValue] [int] NULL,
	[MaxValue] [int] NULL,
	[RegEx] [nvarchar](255) NULL,
	[EnumTypeId] [uniqueidentifier] NULL,
	[DefaultValue] [nvarchar](2000) NULL,
 CONSTRAINT [PK_ManagedTypeProperty] PRIMARY KEY NONCLUSTERED 
(
	[ManagedTypePropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ManagedTypeProperty_UniqueName] UNIQUE NONCLUSTERED 
(
	[ManagedTypeId] ASC,
	[ManagedTypePropertyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedTypeProperty] ADD  CONSTRAINT [DF_ManagedTypeProperty_IsPrimaryKey]  DEFAULT ((0)) FOR [IsPrimaryKey]
GO
ALTER TABLE [dbo].[ManagedTypeProperty] ADD  CONSTRAINT [DF_ManagedTypeProperty_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ManagedTypeProperty] ADD  CONSTRAINT [DF_ManagedTypeProperty_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ManagedTypeProperty] ADD  CONSTRAINT [DF_ManagedTypeProperty_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[ManagedTypeProperty] ADD  CONSTRAINT [DF_ManagedTypeProperty_IsRequired]  DEFAULT ((0)) FOR [Required]
GO
ALTER TABLE [dbo].[ManagedTypeProperty] ADD  CONSTRAINT [DF_ManagedTypeProperty_IsAutoIncrement]  DEFAULT ((0)) FOR [IsAutoIncrement]
GO
ALTER TABLE [dbo].[ManagedTypeProperty]  WITH CHECK ADD  CONSTRAINT [FK_ManagedTypeProperty_ManagedType] FOREIGN KEY([ManagedTypeId])
REFERENCES [dbo].[ManagedType] ([ManagedTypeId])
GO
ALTER TABLE [dbo].[ManagedTypeProperty] CHECK CONSTRAINT [FK_ManagedTypeProperty_ManagedType]
GO
ALTER TABLE [dbo].[ManagedTypeProperty]  WITH CHECK ADD  CONSTRAINT [CK_ManagedTypeProperty_Namelen] CHECK  ((len([ManagedTypePropertyName])>(0)))
GO
ALTER TABLE [dbo].[ManagedTypeProperty] CHECK CONSTRAINT [CK_ManagedTypeProperty_Namelen]
GO
ALTER TABLE [dbo].[ManagedTypeProperty]  WITH CHECK ADD  CONSTRAINT [CK_ManagedTypeProperty_PropertyScale] CHECK  (([PropertyScale]<=(38)))
GO
ALTER TABLE [dbo].[ManagedTypeProperty] CHECK CONSTRAINT [CK_ManagedTypeProperty_PropertyScale]
GO
ALTER TABLE [dbo].[ManagedTypeProperty]  WITH CHECK ADD  CONSTRAINT [CK_ManagedTypeProperty_PropertyType] CHECK  (([PropertyType]>=(0) AND [PropertyType]<=(10)))
GO
ALTER TABLE [dbo].[ManagedTypeProperty] CHECK CONSTRAINT [CK_ManagedTypeProperty_PropertyType]
GO
