USE [OperationsManager]
GO
/****** Object:  View [dbo].[UserRoleGTImplicitIndexed]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserRoleGTImplicitIndexed]
WITH SCHEMABINDING
AS
    SELECT URGT.UserRoleId, URU.UserSid, URGT.ScopeId, URGT.GroupId, URGT.TypeId, URGT.ScopeType
    FROM dbo.UserRoleGroupType URGT
    JOIN dbo.UserRoleUserAssignment URUA
	    ON URGT.ScopeId = URUA.ScopeId
    JOIN dbo.UserRoleUser URU
	    ON URU.UserId = URUA.UserId
    WHERE URGT.ScopeType = 2 OR URGT.ScopeType = 8
GO
