USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Microsoft$SystemCenter$DataWarehouse_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Microsoft$SystemCenter$DataWarehouse_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_MainDatabaseServerName_2C77AA48_DB0A_5D69_F8FF_20E48F3AED0F] [nvarchar](255) NULL,
	[Post_MainDatabaseServerName_2C77AA48_DB0A_5D69_F8FF_20E48F3AED0F] [nvarchar](255) NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_ReportRootFolderName_935E6ACF_5C4F_D326_1742_EC0B385A7995] [nvarchar](255) NULL,
	[Post_ReportRootFolderName_935E6ACF_5C4F_D326_1742_EC0B385A7995] [nvarchar](255) NULL,
	[Pre_MyReportsFolderName_97B0106C_C810_25F3_A4F2_DD6C67CB443D] [nvarchar](255) NULL,
	[Post_MyReportsFolderName_97B0106C_C810_25F3_A4F2_DD6C67CB443D] [nvarchar](255) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_MainDatabaseName_F46548FC_0DFA_877A_A52C_BB8731EBD70D] [nvarchar](255) NULL,
	[Post_MainDatabaseName_F46548FC_0DFA_877A_A52C_BB8731EBD70D] [nvarchar](255) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_ReportingServerUrl_0A962976_6409_BB6D_3276_E84BD95B0BAC] [nvarchar](255) NULL,
	[Post_ReportingServerUrl_0A962976_6409_BB6D_3276_E84BD95B0BAC] [nvarchar](255) NULL,
 CONSTRAINT [PK_MT_Microsoft$SystemCenter$DataWarehouse_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$DataWarehouse_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Microsoft$SystemCenter$DataWarehouse_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
