USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ModuleTypeSchemaReference]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleTypeSchemaReference](
	[ModuleTypeId] [uniqueidentifier] NOT NULL,
	[SchemaTypeId] [uniqueidentifier] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_ModuleTypeSchemaReference] PRIMARY KEY CLUSTERED 
(
	[ModuleTypeId] ASC,
	[SchemaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ModuleTypeSchemaReference] ADD  CONSTRAINT [DF_ModuleTypeSchemaReference_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ModuleTypeSchemaReference] ADD  CONSTRAINT [DF_ModuleTypeSchemaReference_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[ModuleTypeSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_ModuleTypeSchemaReference_ModuleType] FOREIGN KEY([ModuleTypeId])
REFERENCES [dbo].[ModuleType] ([ModuleTypeId])
GO
ALTER TABLE [dbo].[ModuleTypeSchemaReference] CHECK CONSTRAINT [FK_ModuleTypeSchemaReference_ModuleType]
GO
ALTER TABLE [dbo].[ModuleTypeSchemaReference]  WITH CHECK ADD  CONSTRAINT [FK_ModuleTypeSchemaReference_SchemaType] FOREIGN KEY([SchemaTypeId])
REFERENCES [dbo].[SchemaType] ([SchemaTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModuleTypeSchemaReference] CHECK CONSTRAINT [FK_ModuleTypeSchemaReference_SchemaType]
GO
