USE [OperationsManager]
GO
/****** Object:  View [dbo].[PerformanceCounterSignatureHistoryView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PerformanceCounterSignatureHistoryView] AS
    SELECT  
        PSH.[PerformanceSignatureHistoryId],
        PSH.[PerformanceSignatureId],
        PSH.[BusinessCycleUnit],
        PSH.[BusinessCycleUnitMultiplier],
        PSH.[BusinessCycleStartTime],
        PSH.[Sensitivity],
        PSH.[IsFrozen],
        PSH.[IsReset]
    FROM dbo.[PerformanceSignatureHistory] PSH WITH (NOLOCK)
GO
