USE [OperationsManager]
GO
/****** Object:  Table [dbo].[DiscoveryClassProperty]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryClassProperty](
	[DiscoveryClassPropertyId] [bigint] IDENTITY(1,1) NOT NULL,
	[DiscoveryClassId] [uniqueidentifier] NOT NULL,
	[DiscoveryId] [uniqueidentifier] NOT NULL,
	[DiscoveryPropertyOrder] [int] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_DiscoveryClassProperty] PRIMARY KEY CLUSTERED 
(
	[DiscoveryClassPropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveryClassProperty] ADD  CONSTRAINT [DF_DiscoveryClassProperty_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[DiscoveryClassProperty] ADD  CONSTRAINT [DF_DiscoveryClassProperty_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
