USE [OperationsManager]
GO
/****** Object:  Table [dbo].[LocalizedText]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalizedText](
	[LTStringId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [nvarchar](3) NOT NULL,
	[LTStringType] [tinyint] NOT NULL,
	[ManagementPackId] [uniqueidentifier] NULL,
	[ElementName] [nvarchar](256) NULL,
	[MPElementId] [uniqueidentifier] NULL,
	[SubElementName] [nvarchar](256) NULL,
	[LTValue] [nvarchar](max) NULL,
	[TimeAdded] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[DisplayStringId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LocalizedText] PRIMARY KEY CLUSTERED 
(
	[LTStringId] ASC,
	[LTStringType] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocalizedText] ADD  CONSTRAINT [DF_LocalizedText_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[LocalizedText] ADD  CONSTRAINT [DF_LocalizedText_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[LocalizedText]  WITH CHECK ADD  CONSTRAINT [FK_LocalizedText_ManagementPack] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocalizedText] CHECK CONSTRAINT [FK_LocalizedText_ManagementPack]
GO
