USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_Computer_Log]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_Computer_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Pre_OrganizationalUnit] [nvarchar](256) NULL,
	[Post_OrganizationalUnit] [nvarchar](256) NULL,
	[Pre_ActiveDirectoryObjectSid] [nvarchar](256) NULL,
	[Post_ActiveDirectoryObjectSid] [nvarchar](256) NULL,
	[Pre_PhysicalProcessors] [int] NULL,
	[Post_PhysicalProcessors] [int] NULL,
	[Pre_NetworkName] [nvarchar](256) NULL,
	[Post_NetworkName] [nvarchar](256) NULL,
	[Pre_IPAddress] [nvarchar](256) NULL,
	[Post_IPAddress] [nvarchar](256) NULL,
	[Pre_ForestDnsName] [nvarchar](256) NULL,
	[Post_ForestDnsName] [nvarchar](256) NULL,
	[Pre_NetbiosComputerName] [nvarchar](256) NULL,
	[Post_NetbiosComputerName] [nvarchar](256) NULL,
	[Pre_VirtualMachineName] [nvarchar](256) NULL,
	[Post_VirtualMachineName] [nvarchar](256) NULL,
	[Pre_LastInventoryDate] [datetime] NULL,
	[Post_LastInventoryDate] [datetime] NULL,
	[Pre_HostServerName] [nvarchar](256) NULL,
	[Post_HostServerName] [nvarchar](256) NULL,
	[Pre_IsVirtualMachine] [bit] NULL,
	[Post_IsVirtualMachine] [bit] NULL,
	[Pre_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Post_AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Pre_NetbiosDomainName] [nvarchar](256) NULL,
	[Post_NetbiosDomainName] [nvarchar](256) NULL,
	[Pre_LogicalProcessors] [int] NULL,
	[Post_LogicalProcessors] [int] NULL,
	[Pre_DNSName] [nvarchar](256) NULL,
	[Post_DNSName] [nvarchar](256) NULL,
	[Pre_DisplayName] [nvarchar](4000) NULL,
	[Post_DisplayName] [nvarchar](4000) NULL,
	[Pre_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Post_Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Pre_DomainDnsName] [nvarchar](256) NULL,
	[Post_DomainDnsName] [nvarchar](256) NULL,
	[Pre_ActiveDirectorySite] [nvarchar](256) NULL,
	[Post_ActiveDirectorySite] [nvarchar](256) NULL,
	[Pre_PrincipalName] [nvarchar](256) NULL,
	[Post_PrincipalName] [nvarchar](256) NULL,
	[Pre_OffsetInMinuteFromGreenwichTime] [int] NULL,
	[Post_OffsetInMinuteFromGreenwichTime] [int] NULL,
 CONSTRAINT [PK_MT_Computer_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_Computer_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Pre_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
ALTER TABLE [dbo].[MT_Computer_Log] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [Post_ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
