USE [OperationsManager]
GO
/****** Object:  Table [dbo].[TypedManagedEntityInsert]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypedManagedEntityInsert](
	[TypedManagedEntityId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypedManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
