USE [OperationsManager]
GO
/****** Object:  View [dbo].[PerformanceDataAllView]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PerformanceDataAllView] AS
    SELECT * FROM dbo.PerformanceData_00 UNION ALL
    SELECT * FROM dbo.PerformanceData_01 UNION ALL
    SELECT * FROM dbo.PerformanceData_02 UNION ALL
    SELECT * FROM dbo.PerformanceData_03 UNION ALL
    SELECT * FROM dbo.PerformanceData_04 UNION ALL
    SELECT * FROM dbo.PerformanceData_05 UNION ALL
    SELECT * FROM dbo.PerformanceData_06 UNION ALL
    SELECT * FROM dbo.PerformanceData_07 UNION ALL
    SELECT * FROM dbo.PerformanceData_08 UNION ALL
    SELECT * FROM dbo.PerformanceData_09 UNION ALL
    SELECT * FROM dbo.PerformanceData_10 UNION ALL
    SELECT * FROM dbo.PerformanceData_11 UNION ALL
    SELECT * FROM dbo.PerformanceData_12 UNION ALL
    SELECT * FROM dbo.PerformanceData_13 UNION ALL
    SELECT * FROM dbo.PerformanceData_14 UNION ALL
    SELECT * FROM dbo.PerformanceData_15 UNION ALL
    SELECT * FROM dbo.PerformanceData_16 UNION ALL
    SELECT * FROM dbo.PerformanceData_17 UNION ALL
    SELECT * FROM dbo.PerformanceData_18 UNION ALL
    SELECT * FROM dbo.PerformanceData_19 UNION ALL
    SELECT * FROM dbo.PerformanceData_20 UNION ALL
    SELECT * FROM dbo.PerformanceData_21 UNION ALL
    SELECT * FROM dbo.PerformanceData_22 UNION ALL
    SELECT * FROM dbo.PerformanceData_23 UNION ALL
    SELECT * FROM dbo.PerformanceData_24 UNION ALL
    SELECT * FROM dbo.PerformanceData_25 UNION ALL
    SELECT * FROM dbo.PerformanceData_26 UNION ALL
    SELECT * FROM dbo.PerformanceData_27 UNION ALL
    SELECT * FROM dbo.PerformanceData_28 UNION ALL
    SELECT * FROM dbo.PerformanceData_29 UNION ALL
    SELECT * FROM dbo.PerformanceData_30 UNION ALL
    SELECT * FROM dbo.PerformanceData_31 UNION ALL
    SELECT * FROM dbo.PerformanceData_32 UNION ALL
    SELECT * FROM dbo.PerformanceData_33 UNION ALL
    SELECT * FROM dbo.PerformanceData_34 UNION ALL
    SELECT * FROM dbo.PerformanceData_35 UNION ALL
    SELECT * FROM dbo.PerformanceData_36 UNION ALL
    SELECT * FROM dbo.PerformanceData_37 UNION ALL
    SELECT * FROM dbo.PerformanceData_38 UNION ALL
    SELECT * FROM dbo.PerformanceData_39 UNION ALL
    SELECT * FROM dbo.PerformanceData_40 UNION ALL
    SELECT * FROM dbo.PerformanceData_41 UNION ALL
    SELECT * FROM dbo.PerformanceData_42 UNION ALL
    SELECT * FROM dbo.PerformanceData_43 UNION ALL
    SELECT * FROM dbo.PerformanceData_44 UNION ALL
    SELECT * FROM dbo.PerformanceData_45 UNION ALL
    SELECT * FROM dbo.PerformanceData_46 UNION ALL
    SELECT * FROM dbo.PerformanceData_47 UNION ALL
    SELECT * FROM dbo.PerformanceData_48 UNION ALL
    SELECT * FROM dbo.PerformanceData_49 UNION ALL
    SELECT * FROM dbo.PerformanceData_50 UNION ALL
    SELECT * FROM dbo.PerformanceData_51 UNION ALL
    SELECT * FROM dbo.PerformanceData_52 UNION ALL
    SELECT * FROM dbo.PerformanceData_53 UNION ALL
    SELECT * FROM dbo.PerformanceData_54 UNION ALL
    SELECT * FROM dbo.PerformanceData_55 UNION ALL
    SELECT * FROM dbo.PerformanceData_56 UNION ALL
    SELECT * FROM dbo.PerformanceData_57 UNION ALL
    SELECT * FROM dbo.PerformanceData_58 UNION ALL
    SELECT * FROM dbo.PerformanceData_59 UNION ALL
    SELECT * FROM dbo.PerformanceData_60
GO
