USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$ICMP_IP_Log]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$ICMP_IP_Log](
	[EntityChangeLogId] [bigint] NOT NULL,
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Pre_Index_A971B837_9C31_C8B6_ECEB_4E292B207AD8] [nvarchar](256) NULL,
	[Post_Index_A971B837_9C31_C8B6_ECEB_4E292B207AD8] [nvarchar](256) NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$ICMP_IP_Log] PRIMARY KEY CLUSTERED 
(
	[EntityChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
