USE [OperationsManager]
GO
/****** Object:  View [dbo].[StateView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[StateView] AS
    SELECT DISTINCT S.[StateId], 
           TME.[BaseManagedEntityId], 
           M.[MonitorId],      
           M.[MonitorName],
           OS.[MonitorOperationalStateId] AS [OperationalState],
           OS.[MonitorOperationalStateName] AS [OperationalStateName],
           S.[HealthState],
           S.[LastModified],
           M.[ParentMonitorId],
           M.[IsDependencyMonitor],
           M.[RelationshipTypeId],
           M.[MemberMonitorId],
           M.[TargetManagedEntityType]
    FROM Monitor as M
    JOIN  dbo.fn_AllDerivedManagedTypes() AS DT
        ON M.TargetManagedEntityType = DT.ManagedTypeId
    JOIN dbo.TypedManagedEntity as TME WITH (NOLOCK)
        ON TME.ManagedTypeId = DT.DerivedManagedTypeId
        AND TME.IsDeleted = 0
    LEFT OUTER JOIN dbo.State AS S WITH (NOLOCK)
        ON TME.BaseManagedEntityId = S.BaseManagedEntityId
        AND M.MonitorId = S.MonitorId
    -- TODO: Remove LEFT OUTER when MP adds entries into MonitorOperationalState
    LEFT OUTER JOIN dbo.MonitorOperationalState AS OS
        ON OS.MonitorId = M.MonitorId
        AND OS.HealthState = S.HealthState
GO
