USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ModuleStaging]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleStaging](
	[ModuleId] [uniqueidentifier] NOT NULL,
	[ModuleName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ModuleRole] [tinyint] NOT NULL,
	[ModuleTypeId] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NOT NULL,
	[TargetTypeId] [uniqueidentifier] NULL,
	[ModuleConfiguration] [nvarchar](max) NOT NULL,
	[ModuleOrder] [int] NOT NULL,
	[RunAs] [uniqueidentifier] NULL,
	[InternalOrder] [int] NULL,
	[Comment] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
