USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagedTypeOptimization]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedTypeOptimization](
	[ManagedTypeOptimizationId] [uniqueidentifier] NOT NULL,
	[ManagedTypeOptimizationName] [nvarchar](256) NOT NULL,
	[ManagementPackId] [uniqueidentifier] NOT NULL,
	[ManagedTypeId] [uniqueidentifier] NOT NULL,
	[ManagedTypePropertyId] [uniqueidentifier] NOT NULL,
	[ColumnOrder] [int] NULL,
	[TimeAdded] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedTypeOptimization] ADD  CONSTRAINT [DF_ManagedTypeOptimization_TimeAdded]  DEFAULT (getutcdate()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[ManagedTypeOptimization]  WITH CHECK ADD  CONSTRAINT [FK_ManagedTypeOptimization_ManagementPackId] FOREIGN KEY([ManagementPackId])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManagedTypeOptimization] CHECK CONSTRAINT [FK_ManagedTypeOptimization_ManagementPackId]
GO
