USE [OperationsManager]
GO
/****** Object:  Table [dbo].[ManagementPackReferences]    Script Date: 8/21/2026 9:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPackReferences](
	[ManagementPackIdSource] [uniqueidentifier] NOT NULL,
	[ManagementPackIdReffedBy] [uniqueidentifier] NOT NULL,
	[AliasName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_ManagementPackReferences] PRIMARY KEY CLUSTERED 
(
	[ManagementPackIdSource] ASC,
	[ManagementPackIdReffedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementPackReferences]  WITH CHECK ADD  CONSTRAINT [FK_ManagementPackReferences_ManagementPackIdReffedBy] FOREIGN KEY([ManagementPackIdReffedBy])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManagementPackReferences] CHECK CONSTRAINT [FK_ManagementPackReferences_ManagementPackIdReffedBy]
GO
ALTER TABLE [dbo].[ManagementPackReferences]  WITH CHECK ADD  CONSTRAINT [FK_ManagementPackReferences_ManagementPackIdSource] FOREIGN KEY([ManagementPackIdSource])
REFERENCES [dbo].[ManagementPack] ([ManagementPackId])
GO
ALTER TABLE [dbo].[ManagementPackReferences] CHECK CONSTRAINT [FK_ManagementPackReferences_ManagementPackIdSource]
GO
