USE [OperationsManager]
GO
/****** Object:  View [dbo].[MTV_System$NetworkManagement$RedundancyGroup]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTV_System$NetworkManagement$RedundancyGroup] AS SELECT T1.BaseManagedEntityId, T1.DisplayName AS DisplayName, T1.[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6], T1.[Description_2A4D97B9_31AD_14EA_53F8_736A61D55336], T1.[Key_71705487_8B39_282F_A381_4CA8FFBF5695], T1.[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984], T1.[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B], T2.[GroupNumber_762E1D2C_61D0_624D_60D9_44DF0B221C32], T2.[VirtualIP_605B82B4_1019_E539_EBE2_3ACA0E7F9DFB], T2.[VirtualMAC_0E94FC63_736C_A00D_1AD6_25896AA3E59F] FROM [dbo].[MT_System$NetworkManagement$RedundancyGroup] T1 LEFT JOIN [dbo].[MT_System$NetworkManagement$HSRPGroup] T2 ON T1.BaseManagedEntityId = T2.BaseManagedEntityId
GO
