USE [OperationsManager]
GO
/****** Object:  Table [dbo].[MT_System$NetworkManagement$Rack]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_System$NetworkManagement$Rack](
	[BaseManagedEntityId] [uniqueidentifier] NOT NULL,
	[Type_EE342F93_0281_0EFE_ABF2_DB4CD1FBFA49] [nvarchar](256) NULL,
	[ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B] [uniqueidentifier] NULL,
	[Tag_E8A9E615_2B67_2870_05F7_0C145655EF06] [nvarchar](256) NULL,
	[SerialNumber_054F8832_F159_0485_5330_3BD2AC9D6D84] [nvarchar](256) NULL,
	[AssetStatus_B6E7674B_684A_040D_30B8_D1B42CCB3BC6] [uniqueidentifier] NULL,
	[Index_485840CC_D677_55E6_07D1_AB57DB973C52] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](4000) NULL,
	[Location_950B9F79_0231_94F1_1766_D5F1560EABB6] [nvarchar](256) NULL,
	[Notes_5CFC0E2A_AB82_5830_D4BB_0596CBED1984] [nvarchar](4000) NULL,
	[Key_1741EEDA_6042_9D0E_1EFB_0B582D0C7A78] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_MT_System$NetworkManagement$Rack] PRIMARY KEY CLUSTERED 
(
	[BaseManagedEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_System$NetworkManagement$Rack] ADD  DEFAULT ('ACDCEDB7-100C-8C91-D664-4629A218BD94') FOR [ObjectStatus_4AE3E5FE_BC03_1336_0A45_80BF58DEE57B]
GO
