USE [OperationsManager]
GO
/****** Object:  Table [dbo].[SecureStorageSecureReference]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecureStorageSecureReference](
	[SecureStorageReferenceId] [uniqueidentifier] NOT NULL,
	[SecureStorageElementId] [uniqueidentifier] NOT NULL,
	[SecureReferenceId] [uniqueidentifier] NOT NULL,
	[HealthServiceId] [uniqueidentifier] NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_SecureStorageSecureReference] PRIMARY KEY CLUSTERED 
(
	[SecureStorageReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_SecureStorageSecureReference_HealthServiceIdSecureReferenceId] UNIQUE NONCLUSTERED 
(
	[HealthServiceId] ASC,
	[SecureReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SecureStorageSecureReference] ADD  CONSTRAINT [DF_SecureStorageSecureReference_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[SecureStorageSecureReference]  WITH CHECK ADD  CONSTRAINT [FK_SecureStorageSecureReference_BaseManagedEntity] FOREIGN KEY([HealthServiceId])
REFERENCES [dbo].[BaseManagedEntity] ([BaseManagedEntityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecureStorageSecureReference] CHECK CONSTRAINT [FK_SecureStorageSecureReference_BaseManagedEntity]
GO
ALTER TABLE [dbo].[SecureStorageSecureReference]  WITH CHECK ADD  CONSTRAINT [FK_SecureStorageSecureReference_SecureReference] FOREIGN KEY([SecureReferenceId])
REFERENCES [dbo].[SecureReference] ([SecureReferenceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecureStorageSecureReference] CHECK CONSTRAINT [FK_SecureStorageSecureReference_SecureReference]
GO
ALTER TABLE [dbo].[SecureStorageSecureReference]  WITH CHECK ADD  CONSTRAINT [FK_SecureStorageSecureReference_SecureStorageElementId] FOREIGN KEY([SecureStorageElementId])
REFERENCES [dbo].[CredentialManagerSecureStorage] ([SecureStorageElementId])
GO
ALTER TABLE [dbo].[SecureStorageSecureReference] CHECK CONSTRAINT [FK_SecureStorageSecureReference_SecureStorageElementId]
GO
