USE [OperationsManager]
GO
/****** Object:  View [Infra].[BatchView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [Infra].[BatchView] as
	Select * from Infra.Batch
	Union
	Select * from Infra.BatchHistory
GO
