USE [OperationsManager]
GO
/****** Object:  Table [Infra].[ProcessHistory]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[ProcessHistory](
	[ProcessId] [int] NOT NULL,
	[ProcessName] [nvarchar](256) NULL,
	[ProcessCategoryId] [int] NOT NULL,
	[RuleId] [nvarchar](256) NULL,
	[ProcessDescription] [nvarchar](1024) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsRecurring] [bit] NOT NULL,
	[ReassignAfter] [int] NULL,
	[ParentProcessId] [int] NULL,
	[WorkflowRuleId] [nvarchar](256) NULL,
	[IsEnabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Infra].[ProcessHistory] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [Infra].[ProcessHistory] ADD  DEFAULT ((0)) FOR [IsRecurring]
GO
ALTER TABLE [Infra].[ProcessHistory] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
