USE [OperationsManager]
GO
/****** Object:  Table [Infra].[WorkItemDAG]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[WorkItemDAG](
	[BatchId] [int] NOT NULL,
	[WorkItemId] [bigint] NOT NULL,
	[ParentWorkItemId] [bigint] NOT NULL,
 CONSTRAINT [PK_WorkItemDAG] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC,
	[WorkItemId] ASC,
	[ParentWorkItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
