USE [OperationsManager]
GO
/****** Object:  Table [Infra].[WorkItemHistory]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[WorkItemHistory](
	[WorkItemId] [bigint] NOT NULL,
	[ProcessModuleId] [int] NULL,
	[BatchId] [int] NULL,
	[StatusId] [int] NULL,
	[RetryCount] [int] NULL,
	[ErrorCount] [int] NULL,
	[ErrorSummary] [xml] NULL,
	[InsertTime] [datetime] NOT NULL,
	[TakenTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[NotToBePickedBefore] [datetime] NULL,
	[CustomInfo] [xml] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Infra].[WorkItemHistory] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [Infra].[WorkItemHistory] ADD  DEFAULT ((0)) FOR [ErrorCount]
GO
ALTER TABLE [Infra].[WorkItemHistory] ADD  DEFAULT (getutcdate()) FOR [InsertTime]
GO
ALTER TABLE [Infra].[WorkItemHistory]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Infra].[Status] ([StatusId])
GO
