USE [OperationsManager]
GO
/****** Object:  Table [Infra].[ModuleType]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[ModuleType](
	[ModuleTypeId] [int] NOT NULL,
	[ModuleTypeName] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](512) NOT NULL,
 CONSTRAINT [PK_ModuleType] PRIMARY KEY CLUSTERED 
(
	[ModuleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ModuleType] UNIQUE NONCLUSTERED 
(
	[ModuleTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
