USE [OperationsManager]
GO
/****** Object:  Table [Infra].[ModuleTriggerConditionHistory]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[ModuleTriggerConditionHistory](
	[ModuleTriggerConditionId] [int] NOT NULL,
	[ProcessModuleId] [int] NOT NULL,
	[DependentProcessModuleId] [int] NULL,
	[StatusId] [int] NOT NULL,
	[InsertTime] [smalldatetime] NOT NULL,
	[DeletedBatchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleTriggerConditionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Infra].[ModuleTriggerConditionHistory] ADD  DEFAULT (getutcdate()) FOR [InsertTime]
GO
