USE [OperationsManager]
GO
/****** Object:  Table [Infra].[Process]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[Process](
	[ProcessId] [int] IDENTITY(1,1) NOT NULL,
	[ProcessName] [nvarchar](256) NOT NULL,
	[ProcessCategoryId] [int] NOT NULL,
	[RuleId] [nvarchar](256) NULL,
	[ProcessDescription] [nvarchar](1024) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsRecurring] [bit] NOT NULL,
	[ReassignAfter] [int] NULL,
	[ParentProcessId] [int] NULL,
	[WorkflowRuleId] [nvarchar](256) NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_Process] PRIMARY KEY CLUSTERED 
(
	[ProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Process] UNIQUE NONCLUSTERED 
(
	[ProcessName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Infra].[Process] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [Infra].[Process] ADD  DEFAULT ((0)) FOR [IsRecurring]
GO
ALTER TABLE [Infra].[Process] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [Infra].[Process]  WITH CHECK ADD FOREIGN KEY([ParentProcessId])
REFERENCES [Infra].[Process] ([ProcessId])
GO
ALTER TABLE [Infra].[Process]  WITH CHECK ADD FOREIGN KEY([ProcessCategoryId])
REFERENCES [Infra].[ProcessCategory] ([ProcessCategoryId])
GO
