USE [OperationsManager]
GO
/****** Object:  Table [Infra].[WorkItem]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[WorkItem](
	[WorkItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProcessModuleId] [int] NOT NULL,
	[BatchId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[RetryCount] [int] NOT NULL,
	[ErrorCount] [int] NOT NULL,
	[ErrorSummary] [xml] NULL,
	[InsertTime] [datetime] NOT NULL,
	[TakenTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[NotToBePickedBefore] [datetime] NULL,
	[CustomInfo] [xml] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_WorkItem] UNIQUE NONCLUSTERED 
(
	[ProcessModuleId] ASC,
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Infra].[WorkItem] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [Infra].[WorkItem] ADD  DEFAULT ((0)) FOR [ErrorCount]
GO
ALTER TABLE [Infra].[WorkItem] ADD  DEFAULT (getutcdate()) FOR [InsertTime]
GO
ALTER TABLE [Infra].[WorkItem]  WITH CHECK ADD FOREIGN KEY([BatchId])
REFERENCES [Infra].[Batch] ([BatchId])
GO
ALTER TABLE [Infra].[WorkItem]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Infra].[Status] ([StatusId])
GO
