USE [OperationsManager]
GO
/****** Object:  Table [Infra].[ProcessCategory]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[ProcessCategory](
	[ProcessCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[ProcessCategoryName] [nvarchar](256) NULL,
	[ProcessCategoryDescription] [nvarchar](2048) NULL,
	[GlobalMaximumThreads] [smallint] NOT NULL,
	[PerServerMaximumThreads] [smallint] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsSystemCategory] [bit] NOT NULL,
 CONSTRAINT [PK_ProcessCategory] PRIMARY KEY CLUSTERED 
(
	[ProcessCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ProcessCategory] UNIQUE NONCLUSTERED 
(
	[ProcessCategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Infra].[ProcessCategory] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [Infra].[ProcessCategory] ADD  DEFAULT ((0)) FOR [IsSystemCategory]
GO
