USE [OperationsManager]
GO
/****** Object:  Table [Infra].[Batch]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[Batch](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[ProcessId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[BatchCreatedTime] [datetime] NOT NULL,
	[BatchStartTime] [datetime] NULL,
	[BatchEndTime] [datetime] NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Batch] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Infra].[Batch] ADD  DEFAULT (getutcdate()) FOR [BatchCreatedTime]
GO
ALTER TABLE [Infra].[Batch] ADD  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [Infra].[Batch]  WITH CHECK ADD FOREIGN KEY([ProcessId])
REFERENCES [Infra].[Process] ([ProcessId])
GO
ALTER TABLE [Infra].[Batch]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [Infra].[Status] ([StatusId])
GO
