USE [OperationsManager]
GO
/****** Object:  Table [Infra].[ProcessModuleHistory]    Script Date: 8/21/2026 9:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[ProcessModuleHistory](
	[ProcessModuleId] [int] NOT NULL,
	[VertexName] [nvarchar](256) NOT NULL,
	[ProcessId] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
	[ModuleLevel] [smallint] NULL,
	[ModuleConfig] [xml] NULL,
	[CustomInfo] [nvarchar](256) NULL,
	[InsertTime] [smalldatetime] NOT NULL,
	[DeletedBatchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcessModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Infra].[ProcessModuleHistory] ADD  DEFAULT (getutcdate()) FOR [InsertTime]
GO
