USE [OperationsManager]
GO
/****** Object:  Table [Infra].[ProcessManagementPackHistory]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Infra].[ProcessManagementPackHistory](
	[ProcessManagementPackHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[ProcessId] [int] NOT NULL,
	[ManagementPackHistoryId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcessManagementPackHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
