USE [OperationsManager]
GO
/****** Object:  View [Infra].[WorkItemView]    Script Date: 8/21/2026 9:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [Infra].[WorkItemView] as
	Select * from Infra.WorkItem
	Union all
	Select * from Infra.WorkItemHistory
GO
